<template>
    <div class="form-wrap form-wrap--resume-builder p-0">
        <form action="#" method="post" ref="add_skill_form" @submit.prevent="submit">
            <input type="hidden" name="skill_id" id="skill_id" ref="skill_id"  value="">
            <input type="hidden" name="searched_query" id="searched_query" ref="searched_query"  value="">
            <div class="input-wrap" :class="{'form-group--error':$v.skillsSearch.$error}">
                <vue-tags-input class="form-control p-0 h-auto" v-model="skillsSearch" name="skillsSearch" :tags="tags" :autocomplete-items="autocompleteItems"
                                :add-only-from-autocomplete="true" @tags-changed="update" :placeholder="placeholderText"/>

                <!--<vue-bootstrap-typeahead :data="skillsList" v-model="skillsSearch" name="skillsSearch"-->
                <!--:serializer="s => s.name" placeholder="Enter skills" @hit="selectedSkill = $event"  ref="typeahead">-->
                <!---->
                <!--</vue-bootstrap-typeahead>-->

            </div>
            <div class="input-wrap text-right mb-0">
                <button type="submit" class="btn btn-primary" @click.prevent="submit">
                    <span v-bind="{isLoading, skill_loading}" v-if="isLoading == true" class="spinner-border spinner-border--md spinner-border--in-button"></span> Save</button>
            </div>
        </form>
        <notifications group="foo" position="bottom right" />
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';
    import VueTagsInput from '@johmun/vue-tags-input';
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../../config/config';
    import alertService from '../../utils/alertService';
    import _ from 'lodash';
    import {
        required,
        minLength,
    } from "vuelidate/lib/validators";
    export default {
        name: 'AddSkills',
        components: {ButtonSpinner, VueBootstrapTypeahead,VueTagsInput
        },
        data() {
            return {
                skill_id:'',
                query: '',
                tags: [],
                tag: '',
                autocompleteItems: [],
                isLoading: false,
                submitted: false,
                skill_loading:"",
                skillsList: [],
                skillsSearch: '',
                selectedSkill: null,
            };
        },
        validations: {
            skillsSearch: {
                required,
            },
        },
        mounted() {
            // this.$refs.typeahead.inputValue = '';
        },
        methods: {

            async getSkills(query) {
                const res = await fetch(config.apiURL+'getSkills/'+query)
                const suggestions = await res.json();
                this.skillsList = suggestions;
                this.$refs["searched_query"].value = query;
                if(this.selectedSkill){
                    this.$refs["skill_id"].value = this.selectedSkill.id;
                }
            },
            update(newTags) {
                this.autocompleteItems = [];
                this.tags = [];
                newTags.forEach((item,index)=>{
                    this.tags.push({"text":item.text,"id":item.id,"tiClasses":[ "no-number", "ti-invalid" ]});
                });
            },
            initItems() {
                if (this.skillsSearch.length < 2) return;
                const url = config.apiURL+'getSkills/'+this.skillsSearch;

                clearTimeout(this.debounce);
                this.debounce = setTimeout(() => {
                    axios.get(url).then(response => {
                        this.autocompleteItems = response.data.map(a => {
                            return { text: a.name,id:a.id };
                        });
                    }).catch(() => console.warn('Oh. Something went wrong'));
                }, 600);
            },
            submit() {
                this.isLoading = true;
                this.$v.$touch();
                this.errors = [];
                // do your submit logic here
                this.submitStatus = "PENDING";
                let form = this.$refs["add_skill_form"];
                let formData = new FormData(form);
                let tagsList = [];
                const result = this.tags.map((item) => {
                    tagsList.push(item.id);
                });
                formData.append('tags',tagsList);

                this.$store.dispatch("setSkills", formData )
                    .then(data => {
                        this.isLoading = false;
                        alertService.Success('Success', 'Skill added.');
                        this.$bvModal.hide('add-skill-modal');
                    })
                    .catch(err => {
                        this.isLoading = false;
                        this.error = err.response.data.error;
                        alertService.Error('Error', this.error);
                        let errors = err.response.data.errors;
                        if (errors && errors.length > 0) {
                            for (const [key, value] of Object.entries(errors)) {
                                value.forEach((text,index)=>{
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        title: key,
                                        text: text
                                    });
                                })
                            }
                        }
                    });
                setTimeout(() => {
                    this.submitStatus = "OK";
                }, 500);
            },
        },
        watch: {
            'skillsSearch': 'initItems',
            // skillsSearch: _.debounce(function(addr) { this.getSkills(addr);}, 500)
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','skills']),
            placeholderText: () =>  '',
        },
    }
</script>
