<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <b-modal
    id="edit-job-modal"
    hide-footer
    size="xl"
    centered
    title-class="text-blue"
    title-tag="h3"
    title="Edit Description"
    body-class="flex-fill h-100 p-0"
  >
    <div class="has-scroll p-15 h-100 aligned-labels">
      <!--:title="'Edit '+ job_title+''"-->
      <!--{{jobDetails}}-->

      <!--{{$v}}-->
      <form
        action="#"
        method="post"
        ref="edit_job_form"
        @submit.prevent="submit"
      >
        <div class="row position-relative">
          <div class="col-auto flex-fill job-title-wrapper">
            <div
              class="input-wrap form-group input-pr-0"
              :class="{ 'form-group--error': $v.jobTitleSearch.$error }"
            >
              <label
                for="job_title"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Job Title</label
              >
              <input
                type="hidden"
                name="job_title_id"
                ref="job_title_id"
                :value="job_title_id"
              />
              <vue-bootstrap-typeahead
                :data="titleList"
                id="job_title"
                name="job_title"
                v-model="jobTitleSearch"
                :serializer="(s) => s.name"
                placeholder="Enter Job Title"
                @hit="selectJob"
                ref="jobTitle"
              >
                <template slot="suggestion" slot-scope="{ data, htmlText }">
                  <span v-html="htmlText"></span
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                    data.job_index > 0 ? `(${data.job_index})` : ""
                  }}
                </template>
              </vue-bootstrap-typeahead>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              @keydown.enter.prevent=""
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.category.$error }"
            >
              <label
                for="category"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Category</label
              >
              <input
                type="hidden"
                name="job_category_id"
                ref="job_category_id"
                v-model.trim="$v.category.$model.id"
                value=""
              />
              <v-select
                class="actions-aligned"
                name="category"
                id="category"
                ref="category"
                label="name"
                :options="categoriesList"
                v-model.trim="$v.category.$model"
                @blur="setCategory($event.target.value)"
                placeholder="Select Category"
              >
              </v-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              @keydown.enter.prevent=""
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.department.$error }"
            >
              <label
                for="department"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Department</label
              >
              <input
                type="hidden"
                name="department_id"
                ref="department_id"
                v-model.trim="$v.department.$model.id"
                value=""
              />
              <v-select
                class="actions-aligned"
                name="department"
                id="department"
                label="name"
                :options="departmentList"
                v-model.trim="$v.department.$model"
                @blur="setDepartment($event.target.value)"
                placeholder="Select Department"
              >
              </v-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              @keydown.enter.prevent=""
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.qualification.$error }"
            >
              <label
                for="qualification"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Qualification</label
              >
              <input
                type="hidden"
                name="qualification_id"
                ref="qualification_id"
                v-model.trim="$v.qualification.$model.id"
                value=""
              />
              <v-select
                class="actions-aligned"
                name="qualification"
                id="qualification"
                ref="qualification"
                label="name"
                :options="qualificationList"
                v-model.trim="$v.qualification.$model"
                @blur="setQualification($event.target.value)"
                placeholder="Select Qualification"
              >
              </v-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              @keydown.enter.prevent=""
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.experience_level.$error }"
            >
              <label
                for="experience_level"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Experience Level</label
              >
              <input
                type="hidden"
                name="job_experience_id"
                ref="job_experience_id"
                v-model.trim="$v.experience_level.$model.id"
                value=""
              />
              <v-select
                class="actions-aligned"
                name="experience_level"
                id="experience_level"
                ref="experience_level"
                label="name"
                :options="experienceList"
                v-model.trim="$v.experience_level.$model"
                @blur="setExperienceLevel($event.target.value)"
                placeholder="Select Experience Level"
              >
              </v-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              @keydown.enter.prevent=""
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.job_type.$error }"
            >
              <label
                for="job_type"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Job Type</label
              >
              <input
                type="hidden"
                name="job_type_id"
                ref="job_type_id"
                v-model.trim="$v.job_type.$model.id"
                value=""
              />
              <v-select
                class="actions-aligned"
                name="job_type"
                id="job_type"
                ref="job_type"
                label="name"
                :options="jobTypeList"
                v-model.trim="$v.job_type.$model"
                @blur="setJobType($event.target.value)"
                placeholder="Select Job Type"
              >
              </v-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div
              @keydown.enter.prevent=""
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.country.$error }"
            >
              <label
                for="country"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Location</label
              >
              <input
                type="hidden"
                id="country_id"
                name="country_id"
                ref="country_id"
                v-model.trim="$v.country.$model.id"
                value=""
              />
              <v-select
                class="actions-aligned"
                name="country"
                id="country"
                label="name"
                :options="countries"
                v-model.trim="$v.country.$model"
                @input="getStates($v.country.$model.id)"
                @blur="setCountry($event.target.value)"
                placeholder="Select Country"
              >
              </v-select>
            </div>
          </div>
          <div class="col-md-4">
            <div
              @keydown.enter.prevent=""
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.state.$error }"
            >
              <label
                for="state"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >State</label
              >
              <input
                type="hidden"
                name="state_id"
                ref="state_id"
                v-model.trim="$v.state.$model.id"
                value=""
              />
              <v-select
                class="actions-aligned"
                name="state"
                id="state"
                label="name"
                :options="states"
                v-model.trim="$v.state.$model"
                @input="getCities($v.state.$model.id)"
                @blur="setState($event.target.value)"
                placeholder="Select State"
              >
              </v-select>
            </div>
          </div>
          <div class="col-md-4">
            <div @keydown.enter.prevent="" class="input-wrap form-group">
              <label
                for="city"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >City</label
              >
              <input
                type="hidden"
                name="city_id"
                ref="city_id"
                v-model="city.id"
                value=""
              />
              <v-select
                class="actions-aligned"
                name="city"
                id="city"
                label="name"
                :options="cities"
                v-model.trim="city"
                placeholder="Select City"
              >
              </v-select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="input-wrap">
              <label
                for="job_salary_type_id"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Salary</label
              >
              <div class="row">
                <div class="col-md-4">
                  <div @keydown.enter.prevent="" class="input-wrap form-group">
                    <v-select
                      class="actions-aligned"
                      name="job_salary_type_id"
                      id="job_salary_type_id"
                      label="name"
                      :options="salaryTypes"
                      v-model="job_salary_type_id"
                      :reduce="(salaryType) => salaryType.id"
                      placeholder="Select Salary Type"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div
                    @keydown.enter.prevent=""
                    class="input-wrap form-group"
                    :class="{
                      'form-group--error': $v.job_salary_term_id.$error,
                    }"
                  >
                    <v-select
                      class="actions-aligned"
                      name="job_salary_term_id"
                      id="salary_terms"
                      label="name"
                      :options="salaryTerms"
                      v-model.trim="$v.job_salary_term_id.$model"
                      :reduce="(salaryTerm) => salaryTerm.id"
                      placeholder="Select Salary Term"
                    />
                  </div>
                </div>
                <div class="col-6 col-md-2" v-if="!isDisabled">
                  <div class="input-wrap form-group">
                    <input
                      @keydown.enter.prevent=""
                      type="text"
                      @keyup="Comma($event.target.value, 1)"
                      v-model="min_salary"
                      id="min_salary"
                      name="min_salary"
                      placeholder="From"
                    />
                    <!--<money id="newJobSalaryRange" v-model="min_salary" name="min_salary" v-bind="money" placeholder="From" >
                                    </money>-->
                  </div>
                </div>
                <div class="col-6 col-md-2" v-if="!isDisabled">
                  <div class="input-wrap form-group">
                    <input
                      @keydown.enter.prevent=""
                      type="text"
                      @keyup="Comma($event.target.value, 2)"
                      v-model="max_salary"
                      id="max_salary"
                      name="max_salary"
                      placeholder="To"
                    />
                    <!--<money v-model="max_salary" name="max_salary" v-bind="money" placeholder="To"></money>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-wrap form-group">
              <label
                for="newJobSkills"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Skills</label
              >
              <input
                type="hidden"
                name="skillsList"
                ref="skillsList"
                v-model="skillsList"
                value=""
              />
              <vue-tags-input
                class="form-control h-auto pl-0"
                id="newJobSkills"
                v-model="tag"
                :tags="tags"
                :autocomplete-items="autocompleteItems"
                :add-only-from-autocomplete="true"
                @tags-changed="update"
              />
            </div>

            <ul class="ti-tags mt-n2 mb-3">
              <li
                class="ti-tag"
                v-if="addedSkills.length > 0"
                v-for="(skillItem, index) in addedSkills"
                :ref="'skill_list_' + skillItem.id"
              >
                {{ skillItem.skill.name }}
                <span
                  @click="removeSkill(skillItem.id)"
                  style="cursor: pointer"
                  class="ti-actions"
                  ><i class="ti-icon-close"></i
                ></span>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="input-wrap form-group">
              <label
                for="description"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Job Description</label
              >
              <div class="editor tiptap-textarea" id="description">
                <editor-menu-bar
                  :editor="description"
                  v-slot="{ commands, isActive }"
                >
                  <div class="menubar" tabindex="-1">
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bold() }"
                      @click="commands.bold"
                      title="Bold"
                    >
                      <div class="icon">
                        <icon name="bold" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.italic() }"
                      @click="commands.italic"
                      title="Italic"
                    >
                      <div class="icon">
                        <icon name="italic" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.underline() }"
                      @click="commands.underline"
                      title="Underline"
                    >
                      <div class="icon">
                        <icon name="underline" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bullet_list() }"
                      @click="commands.bullet_list"
                      title="Bullet List"
                    >
                      <div class="icon">
                        <icon name="ul" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.ordered_list() }"
                      @click="commands.ordered_list"
                      title="Ordered List"
                    >
                      <div class="icon">
                        <icon name="ol" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      @click="commands.undo"
                      title="Undo"
                    >
                      <div class="icon">
                        <icon name="undo" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      @click="commands.redo"
                      title="Redo"
                    >
                      <div class="icon">
                        <icon name="redo" class="icon__svg"></icon>
                      </div>
                    </button>
                  </div>
                </editor-menu-bar>
                <editor-content class="editor__content" :editor="description" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-wrap form-group">
              <label
                for="responsibilities"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Responsibilities</label
              >
              <div class="editor tiptap-textarea" id="responsibilities">
                <editor-menu-bar
                  :editor="responsibilities"
                  v-slot="{ commands, isActive }"
                >
                  <div class="menubar" tabindex="-1">
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bold() }"
                      @click="commands.bold"
                      title="Bold"
                    >
                      <div class="icon">
                        <icon name="bold" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.italic() }"
                      @click="commands.italic"
                      title="Italic"
                    >
                      <div class="icon">
                        <icon name="italic" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.underline() }"
                      @click="commands.underline"
                      title="Underline"
                    >
                      <div class="icon">
                        <icon name="underline" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bullet_list() }"
                      @click="commands.bullet_list"
                      title="Bullet List"
                    >
                      <div class="icon">
                        <icon name="ul" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.ordered_list() }"
                      @click="commands.ordered_list"
                      title="Ordered List"
                    >
                      <div class="icon">
                        <icon name="ol" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      @click="commands.undo"
                      title="Undo"
                    >
                      <div class="icon">
                        <icon name="undo" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      @click="commands.redo"
                      title="Redo"
                    >
                      <div class="icon">
                        <icon name="redo" class="icon__svg"></icon>
                      </div>
                    </button>
                  </div>
                </editor-menu-bar>
                <editor-content
                  class="editor__content"
                  :editor="responsibilities"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-wrap form-group">
              <label
                for="required_skills"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Required Skills and Experience</label
              >
              <div class="editor tiptap-textarea" id="required_skills">
                <editor-menu-bar
                  :editor="required_skills"
                  v-slot="{ commands, isActive }"
                >
                  <div class="menubar" tabindex="-1">
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bold() }"
                      @click="commands.bold"
                      title="Bold"
                    >
                      <div class="icon">
                        <icon name="bold" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.italic() }"
                      @click="commands.italic"
                      title="Italic"
                    >
                      <div class="icon">
                        <icon name="italic" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.underline() }"
                      @click="commands.underline"
                      title="Underline"
                    >
                      <div class="icon">
                        <icon name="underline" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bullet_list() }"
                      @click="commands.bullet_list"
                      title="Bullet List"
                    >
                      <div class="icon">
                        <icon name="ul" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.ordered_list() }"
                      @click="commands.ordered_list"
                      title="Ordered List"
                    >
                      <div class="icon">
                        <icon name="ol" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      @click="commands.undo"
                      title="Undo"
                    >
                      <div class="icon">
                        <icon name="undo" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      @click="commands.redo"
                      title="Redo"
                    >
                      <div class="icon">
                        <icon name="redo" class="icon__svg"></icon>
                      </div>
                    </button>
                  </div>
                </editor-menu-bar>
                <editor-content
                  class="editor__content"
                  :editor="required_skills"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-wrap form-group">
              <label
                for="rewards"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Rewards & Benefits</label
              >
              <div class="row" id="rewards">
                <!--Current Reward: {{currentRewards}}-->
                <!--Job Rewards: {{jobRewards}}-->

                <div class="col-md-4 col-6" v-for="(item, index) in jobRewards">
                  <div class="custom-control custom-checkbox">
                    <input
                      v-if="currentRewards.includes(item.id) == true"
                      @click="uncheck(item.id)"
                      type="checkbox"
                      checked
                      class="custom-control-input"
                      name="rewards[]"
                      :id="'reward_' + index"
                      v-bind:value="item.id"
                      v-model="currentRewards"
                    />

                    <input
                      v-else
                      type="checkbox"
                      class="custom-control-input"
                      name="rewards[]"
                      :id="'reward_' + index"
                      v-bind:value="item.id"
                      v-model="currentRewards"
                    />
                    <label
                      class="custom-control-label"
                      :for="'reward_' + index"
                    >
                      {{ item.name }}</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="declaration mt-4">
              <h3>Declaration and Acknowledgement</h3>
              <ul class="list-default my-3">
                <li>
                  <p>
                    I hereby declare that there is a genuine requirement for
                    this job in my organization.
                  </p>
                </li>
                <li>
                  <p>
                    I am the authorized person to advertise jobs on behalf of my
                    organization.
                  </p>
                </li>
                <li>
                  <p>
                    The above job doesn't contain gender, age, ethnic, religion
                    or any other discriminatory text, unless the employer can
                    prove that a genuine occupational requirement (GOR) or, in
                    the case of gender or race, genuine occupational
                    qualification (GOQ) exists.
                  </p>
                </li>
                <li>
                  <p>
                    The resumes collected in response to this ad will be used
                    for the hiring process of this job only and not for any
                    other purpose; violation of this term may lead to legal
                    action.
                  </p>
                </li>
              </ul>
              <p>
                I understand that if I violate any of the above terms, my job(s)
                could be removed and my account closed permanently.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-wrap form-group modal-footer mb-0 pr-0 pb-0">
              <button
                type="submit"
                class="btn btn-primary"
                @click.prevent="submit"
              >
                <span
                  v-bind="{ isLoading, job_loading_status }"
                  v-if="isLoading == true"
                  class="spinner-border spinner-border--md spinner-border--in-button"
                ></span>
                Save & Close
              </button>

              <b-button variant="danger min-w-125" @click="cancel()"
                >Cancel</b-button
              >
            </div>
          </div>
        </div>
      </form>
      <!--<notifications group="foo" position="bottom right" />-->
    </div>
  </b-modal>
</template>
<script>
import vSelect from "vue-select";
import ButtonSpinner from "vue-button-spinner";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
import VueTagsInput from "@johmun/vue-tags-input";
import { Money } from "v-money";
import config from "../../config/config";
import _ from "lodash";
import { Editor, EditorContent, EditorMenuBar } from "tiptap";
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
  Placeholder,
} from "tiptap-extensions";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs,
} from "vuelidate/lib/validators";
export default {
  name: "EditJob",
  components: {
    "v-select": vSelect,
    buttonspinner: ButtonSpinner,
    VueBootstrapTypeahead,
    VueTagsInput,
    Money,
    Editor,
    EditorContent,
    EditorMenuBar,
  },
  props: {
    parentNode: {
      type: Number,
    },
    bus: {
      type: Object,
    },
  },
  mounted() {
    this.bus.$on("editJobDetail", this.editJobDetail);
    // typeahead
  },
  data() {
    return {
      firstTime: true,
      errors: [],
      jobDetails: [],
      categoriesList: [],
      departmentList: [],
      qualificationList: [],
      experienceList: [],
      jobTypeList: [],
      supervisorList: [],
      countries: [],
      states: [],
      cities: [],
      jobRewards: [],
      salaryTypes: [],
      salaryTerms: [],
      rewards: [],
      currentRewards: [],
      rewardIdList: [],
      titleList: [],
      jobTitleSearch: "",
      selectedJob: null,
      validationErrors: "",
      job_title_id: "",
      job_title: "",
      job_category_id: "",
      category: "",
      department_id: "",
      department: "",
      qualification_id: "",
      qualification: "",
      job_experience_id: "",
      experience_level: "",
      job_type_id: "",
      job_type: "",
      country_id: "",
      country: "",
      state_id: "",
      state: "",
      city_id: "",
      city: "",
      supervisor_id: "",
      supervisor: "",
      min_salary: "",
      max_salary: "",
      skillsList: [],
      addedSkills: [],
      money: {
        decimal: ",",
        //thousands: '.',
        //prefix: 'R$ ',
        // suffix: ' #',
        precision: 2,
        masked: false,
      },
      job_salary_type_id: "",
      job_salary_term_id: "Annually",
      descriptionHtml: null,
      responsibilitiesHtml: null,
      requireSkillHtml: null,
      successmsg: "",
      isLoading: false,
      job_loading_status: "",
      submitted: false,
      tag: "",
      tags: [],
      autocompleteItems: [],
      debounce: null,
      isDisabled: "",
      isChecked: true,
      jobId: null,
      description: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History(),
          new Placeholder({
            emptyEditorClass: "is-editor-empty",
            emptyNodeClass: "is-empty",
            emptyNodeText: "",
            showOnlyWhenEditable: true,
            showOnlyCurrent: true,
          }),
        ],
        onUpdate: ({ getJSON, getHTML }) => {
          this.descriptionHtml = getHTML();
        },
      }),
      responsibilities: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History(),
          new Placeholder({
            emptyEditorClass: "is-editor-empty",
            emptyNodeClass: "is-empty",
            emptyNodeText: "",
            showOnlyWhenEditable: true,
            showOnlyCurrent: true,
          }),
        ],
        onUpdate: ({ getJSON, getHTML }) => {
          this.responsibilitiesHtml = getHTML();
        },
      }),
      required_skills: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History(),
          new Placeholder({
            emptyEditorClass: "is-editor-empty",
            emptyNodeClass: "is-empty",
            emptyNodeText: "",
            showOnlyWhenEditable: true,
            showOnlyCurrent: true,
          }),
        ],
        onUpdate: ({ getJSON, getHTML }) => {
          this.requireSkillHtml = getHTML();
        },
      }),
    };
  },
  validations: {
    jobTitleSearch: {
      required,
    },
    category: {
      required,
    },
    department: {
      required,
    },
    qualification: {
      required,
    },
    experience_level: {
      required,
    },
    job_type: {
      required,
    },
    country: {
      required,
    },
    state: {
      required,
    },

    job_salary_term_id: {
      required,
    },
  },
  updated() {
    let ref = this.$refs.jobTitle;
    if (ref && ref.inputValue === "" && this.firstTime) {
      ref.inputValue = this.job_title;
      this.firstTime = false;
    }
    this.job_salary_type_id == 1
      ? (this.isDisabled = false)
      : (this.isDisabled = true);
  },
  methods: {
    uncheck(id) {
      this.currentRewards.splice(this.currentRewards.indexOf(id), 1);
    },
    selectJob(data) {
      this.jobTitleSearch = data.name;
      this.$v.jobTitleSearch.$touch();
      this.$refs["job_title_id"].value = data.id;
      this.job_title_id = data.id;
      this.selectedJob = data;
    },
    async editJobDetail(data) {
      //initialize basic values
      await this.getCategories();
      await this.getDepartments();
      await this.getQualification();
      await this.getExperienceLevel();
      await this.getJobType();
      await this.getRewards();
      await this.getSalaryType();
      await this.getSalaryTerm();
      await this.getCountries();

      // pre-load job details
      this.firstTime = true;
      this.jobDetails = data;
      this.jobId = data.id;
      this.job_title_id = data.job_title_id;
      this.job_title = data.title.name;
      this.jobTitleSearch = data.title.name;
      this.selectedJob = data.title;
      this.job_category_id = data.job_category_id;
      this.category = data.category;
      this.department_id = data.department_id;
      this.department = data.department;
      this.qualification_id = data.qualification_id;
      this.qualification = data.qualification;
      this.job_experience_id = data.job_experience_id;
      this.experience_level = data.experience;
      this.job_type_id = data.job_type_id;
      this.job_type = data.job_type;
      this.country_id = data.country_id;
      this.country = data.country;
      this.state_id = data.state_id;
      this.state = data.state;
      this.city_id = data.city_id;
      this.city = data.city;
      this.min_salary = data.min_salary ? data.min_salary : 0;
      this.max_salary = data.max_salary ? data.max_salary : 0;
      this.job_salary_type_id = data.job_salary_type_id;
      this.job_salary_term_id = data.job_salary_term_id;
      data.min_salary != null
        ? (this.isDisabled = false)
        : (this.isDisabled = true);
      this.descriptionHtml = data.description;
      this.responsibilitiesHtml = data.responsibilities;
      this.requireSkillHtml = data.required_skills;
      this.addedSkills = data.skills;
      await this.setEditorContent();
      this.currentRewards.length = 0;
      await data.rewards.map((a) => {
        this.currentRewards.push(a.reward_id);
      });
      // data.skills.skill.map(s => {
      //     this.addedSkills.push(s.id,s.name);
      //     this.addedSkills.push();
      // });
      this.$bvModal.show("edit-job-modal");
    },
    setEditorContent() {
      // you can pass a json document
      this.description.setContent(this.descriptionHtml, true);
      this.responsibilities.setContent(this.responsibilitiesHtml, true);
      this.required_skills.setContent(this.requireSkillHtml, true);
      // HTML string is also supported
      // this.editor.setContent('<p>This is some inserted text. 👋</p>')
      // this.editor.focus()
    },
    checkSalaryType(value) {
      value.toLowerCase() == "range"
        ? (this.isDisabled = true)
        : (this.isDisabled = false);
    },
    setJobTitle(value) {
      console.log("value", value);
      this.job_title = value;
      this.$v.job_title.$touch();
      if (this.$v.job_title.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter job title",
        });
      }
    },
    setCategory(value) {
      this.category = value;
      this.$v.category.$touch();
      if (this.$v.category.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select category",
        });
      }
    },
    setDepartment(value) {
      this.department = value;
      this.$v.department.$touch();
      if (this.$v.department.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select department",
        });
      }
    },
    setQualification(value) {
      this.qualification = value;
      this.$v.qualification.$touch();
      if (this.$v.qualification.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select qualification",
        });
      }
    },
    setExperienceLevel(value) {
      this.experience_level = value;
      this.$v.experience_level.$touch();
      if (this.$v.experience_level.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select experience level",
        });
      }
    },
    setJobType(value) {
      this.job_type = value;
      this.$v.job_type.$touch();
      if (this.$v.job_type.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select job type",
        });
      }
    },
    setCountry(value) {
      this.country = value;
      this.$v.country.$touch();
      if (this.$v.country.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select country",
        });
      }
    },
    setState(value) {
      this.state = value;
      this.$v.state.$touch();
      if (this.$v.state.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select state ",
        });
      }
    },
    setCity(value) {
      this.city = value;
      this.$v.city.$touch();
      if (this.$v.city.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select city",
        });
      }
    },
    setSupervisor(value) {
      this.qualification = value;
      this.$v.qualification.$touch();
      if (this.$v.qualification.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select qualification",
        });
      }
    },
    formatNumber(n) {
      // format number 1000000 to 1,234,567
      return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    Comma(input, field) {
      //function to add commas to textboxes
      // appends $ to value, validates decimal side
      // and puts cursor back in right position.
      // get input value
      let input_val = input;

      // don't validate empty input
      if (input_val === "") {
        return;
      }

      // original length
      let original_len = input_val.length;

      // initial caret position
      let caret_pos = input_val;

      // check for decimal
      if (input_val.indexOf(".") >= 0) {
        // get position of first decimal
        // this prevents multiple decimals from
        // being entered
        let decimal_pos = input_val.indexOf(".");

        // split number by decimal point
        let left_side = input_val.substring(0, decimal_pos);
        let right_side = input_val.substring(decimal_pos);

        // add commas to left side of number
        left_side = this.formatNumber(left_side);

        // validate right side
        right_side = this.formatNumber(right_side);

        // On blur make sure 2 numbers after decimal
        if (blur === "blur") {
          right_side += "00";
        }

        // Limit decimal to only 2 digits
        right_side = right_side.substring(0, 2);

        // join number by .
        input_val = left_side + "." + right_side;
      } else {
        // no decimal entered
        // add commas to number
        // remove all non-digits
        input_val = this.formatNumber(input_val);
        //input_val = "$" + input_val;

        // final formatting
        if (blur === "blur") {
          input_val += ".00";
        }
      }

      // send updated string to input
      if (field == 1) {
        this.min_salary = input_val;
      }
      if (field == 2) {
        this.max_salary = input_val;
      }
      // put caret back in the right position
      let updated_len = input_val.length;
      caret_pos = updated_len - original_len + caret_pos;
      // input[0].setSelectionRange(caret_pos, caret_pos);
    },
    submit() {
      this.isLoading = true;
      this.errors = [];
      this.$v.$touch();
      //this.onClick();
      if (this.$v.$invalid) {
        this.isLoading = false;
        this.$notify({
          group: "foo",
          type: "error",
          text: "Fill required form fields",
        });
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        let form = this.$refs["edit_job_form"];
        let formData = new FormData(form);
        formData.append("id", this.jobId);
        formData.append("job_salary_type_id", this.job_salary_type_id);
        formData.append(
          "job_salary_term_id",
          isNaN(this.job_salary_term_id) ? 1 : this.job_salary_term_id
        );
        formData.append("description", this.descriptionHtml);
        formData.append("responsibilities", this.responsibilitiesHtml);
        formData.append("required_skills", this.requireSkillHtml);
        formData.append("job_id", this.jobId);
        axios({
          url: config.apiURL + "updateJob",
          data: formData,
          method: "POST",
        })
          .then((resp) => {
            console.log("edited");
            this.$bvModal.hide("edit-job-modal");
            this.$parent.updateNode(resp.data);
            this.isLoading = false;
            this.$notify({
              group: "foo",
              type: "success",
              // title: key,
              text: "Job description updated.",
            });
          })
          .catch((err) => {
            console.log("ADADd");
            this.isLoading = false;
            this.error = err.response.data.error;
            let errors = err.response.data.errors;
            for (const [key, value] of Object.entries(errors)) {
              value.forEach((text, index) => {
                this.$notify({
                  group: "foo",
                  type: "error",
                  //title: key,
                  text: text,
                });
              });
            }
          });
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },

    //**************** Select Api List *****************//
    getCategories: async function () {
      axios.get("/api/getJobCategory/").then(
        function (response) {
          this.categoriesList = response.data;
        }.bind(this)
      );
    },
    getDepartments: async function () {
      axios.get("/api/getJobDepartment/").then(
        function (response) {
          this.departmentList = response.data;
        }.bind(this)
      );
    },
    getQualification: async function () {
      axios.get("/api/getQualificationList/").then(
        function (response) {
          this.qualificationList = response.data;
        }.bind(this)
      );
    },
    getExperienceLevel: async function () {
      axios.get("/api/getJobExperience/").then(
        function (response) {
          this.experienceList = response.data;
        }.bind(this)
      );
    },
    getJobType: async function () {
      axios.get("/api/getJobTypes/").then(
        function (response) {
          this.jobTypeList = response.data;
        }.bind(this)
      );
    },
    getCountries: async function () {
      axios.get("/api/getCountryList/").then(
        function (response) {
          this.countries = response.data;
        }.bind(this)
      );
    },
    getStates: async function (country) {
      this.$refs["country_id"].value = country;
      axios.get("/api/getStateList/" + country).then(
        function (response) {
          this.states = response.data;
        }.bind(this)
      );
    },
    getCities: async function (stateid) {
      this.$refs["state_id"].value = stateid;
      axios.get("/api/getCityList/" + stateid).then(
        function (response) {
          this.cities = response.data;
        }.bind(this)
      );
    },
    getRewards: async function () {
      axios.get("/api/getRewards").then(
        function (response) {
          this.jobRewards = response.data;
        }.bind(this)
      );
    },
    getSalaryType: async function () {
      axios.get("/api/getJobSalaryType").then(
        function (response) {
          this.salaryTypes = response.data;
          response.data.map((a) => {
            let value = a.name;
            if (value.toLowerCase() == "range") {
              this.isChecked = "checked";
            } else {
              this.isChecked = "";
            }
            // value.toLowerCase() == "Range" ? this.isChecked = true : this.isChecked = false ;
          });
        }.bind(this)
      );
    },
    getSalaryTerm: async function () {
      axios.get("/api/getJobSalaryTerms").then(
        function (response) {
          this.salaryTerms = response.data;
        }.bind(this)
      );
    },
    getJobTitle(query) {
      axios({
        url: config.apiURL + "getJobCompanyTitle/" + query,
        method: "GET",
      })
        .then((resp) => {
          console.log(resp.data);
          let data = resp.data;
          const suggestions = data;
          this.titleList = suggestions;
          // if(this.selectedJob){
          //     this.$refs["job_title_id"].value = this.selectedJob.id;
          // }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    initItems() {
      if (this.tag.length < 2) return;
      const url = "/api/getSkills/" + this.tag;
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        axios
          .get(url)
          .then((response) => {
            this.autocompleteItems = response.data.map((a) => {
              return { text: a.name, id: a.id };
            });
          })
          .catch(() => console.warn("Oh. Something went wrong"));
      }, 600);
    },
    update(newTags) {
      this.autocompleteItems = [];
      this.skillsList = [];
      newTags.forEach((item, index) => {
        this.skillsList.push(item.id);
      });
      //this.tags = newTags;
    },
    removeSkill(jobSkillid) {
      axios
        .get(config.apiURL + "removeJobSkill/" + jobSkillid, {})
        .then((response) => {
          $(this.$refs["skill_list_" + jobSkillid]).hide();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    cancel() {
      this.$bvModal.hide("edit-job-modal");
    },
    addNewJobTitle() {
      if (this.$refs.newJobTitle.value) {
        let formData = new FormData();
        formData.append("title", this.$refs.newJobTitle.value);
        axios({
          url: config.apiURL + "addJobTitle",
          data: formData,
          method: "POST",
        })
          .then((resp) => {
            let data = resp.data;
            console.log(data);
            this.$refs.jobTitle.inputValue = data.name;
            this.$refs["job_title_id"].value = data.id;
            this.job_title_id = data.id;
            this.jobTitleSearch = data.name;
            this.$v.jobTitleSearch.$touch();
            this.$bvModal.hide("add-new-job-title-modal");
            this.$notify({
              group: "foo",
              type: "success",
              // title: key,
              text: "New job title added.",
            });
          })
          .catch((err) => {
            this.$notify({
              group: "foo",
              type: "error",
              title: "New Job Title",
              text: "There was some issue with creating new job title",
            });
          });
      }
    },
  },
  watch: {
    tag: "initItems",
    jobTitleSearch: _.debounce(function (addr) {
      this.getJobTitle(addr);
    }, 500),
  },
  created: function () {
    // this.getCategories();
    // this.getDepartments();
    // this.getQualification();
    // this.getExperienceLevel();
    // this.getJobType();
    // this.getRewards();
    // this.getSalaryType();
    // this.getCountries();
  },
  computed: {},
  beforeDestroy() {
    this.description.destroy();
    this.responsibilities.destroy();
    this.required_skills.destroy();
  },
  //directives: {money: Money}
};
</script>
