<template>
    <b-modal id="edit-achievement-modal" hide-footer size="xl" centered title-class="text-blue" title-tag="h3" title="Edit Achievement"
             body-class="has-scroll flex-fill h-100">
        <div class="form-wrap form-wrap--resume-builder p-0">
            <!--{{$v}}-->
            <form action="#" method="post" ref="edit_achievements_form" @submit.prevent="submit">
                <div class="input-wrap" :class="{'form-group--error':$v.title.$error}">
                    <label for="achievements_title" class="form-control-label form-control-label--blue form-control-label--secondary">Achievement Title</label>
                    <input type="text" id="achievements_title" name="title" class="form-control pl-0" v-model.trim="$v.title.$model"
                           @blur="setDegreeTitle($event.target.value)" placeholder="Enter Achievement">
                </div>
                <div class="input-wrap" :class="{'form-group--error':$v.institution.$error}">
                    <label for="achievements_institution" class="form-control-label form-control-label--blue form-control-label--secondary">Institution</label>
                    <input type="text" id="achievements_institution" name="institution" class="form-control pl-0" v-model.trim="$v.institution.$model"
                           @blur="setInstitution($event.target.value)" placeholder="Institution">
                </div>
                <div class="input-wrap" :class="{'form-group--error':$v.completion_year.$error}">
                    <label for="completion_year" class="form-control-label form-control-label--blue form-control-label--secondary">Completion Year</label>
                    <input type="hidden" name="achievements_completion_year_value" id="achievements_completion_year_value" ref="achievements_completion_year_value" v-model.trim="$v.completion_year.$model" value="">
                    <v-select  name="completion_year" id="completion_year" class="" label="name" :options="completion_years" v-model.trim="$v.completion_year.$model"
                               @blur="setCompletionYear($event.target.value)" @input="getCompletionYear($v.completion_year.$model)" placeholder="Select Completion Year"></v-select>

                </div>
                <div class="input-wrap" :class="{'form-group--error':$v.completion_month.$error}">
                    <label for="completion_month" class="form-control-label form-control-label--blue form-control-label--secondary">Completion Month</label>
                    <input type="hidden" name="achievements_completion_month_value" ref="achievements_completion_month_value"  v-model.trim="$v.completion_month.$model" value="">
                    <v-select  name="completion_month" id="completion_month" class="" label="name" :options="completion_months" v-model.trim="$v.completion_month.$model"
                               @blur="setCompletionMonth($event.target.value)" @input="getCompletionMonth($v.completion_month.$model)" placeholder="Select Completion Month"></v-select>

                </div>
                <div class="input-wrap" :class="{'form-group--error':$v.country.$error}">
                    <label for="country" class="form-control-label form-control-label--blue form-control-label--secondary">Country</label>
                    <input type="hidden" id="achievements_country_id_value" name="achievements_country_id_value" ref="achievements_country_id_value" v-model.trim="$v.country.$model.id" value="">
                    <v-select name="country" id="country" class="" label="name" :options="countries"
                              v-model.trim="$v.country.$model" @input="getStates($v.country.$model.id)"
                              @blur="setCountry($event.target.value)" placeholder="Select Country">
                    </v-select>
                </div>
                <div class="input-wrap" :class="{'form-group--error':$v.state.$error}">
                    <label for="state" class="form-control-label form-control-label--blue form-control-label--secondary">State</label>
                    <input type="hidden" name="achievements_state_id" id="achievements_state_id" ref="achievements_state_id" v-model.trim="$v.state.$model.id" value="">
                    <v-select name="state" id="state" class="" label="name" :options="states"
                              v-model.trim="$v.state.$model" @input="getCities($v.state.$model.id)"
                              @blur="setState($event.target.value)" placeholder="Select State">
                    </v-select>
                </div>
                <div class="input-wrap" :class="{'form-group--error':$v.city.$error}">
                    <label for="city" class="form-control-label form-control-label--blue form-control-label--secondary">City</label>
                    <input type="hidden" name="achievements_city_id" id="achievements_city_id" ref="achievements_city_id" v-model.trim="$v.city.$model.id" value="">
                    <v-select  name="city" id="city" class="" label="name" :options="cities"
                               v-model.trim="$v.city.$model" @blur="setCity($event.target.value)" v-on:input="setCityId($v.city.$model.id)" placeholder="Select City">
                    </v-select>
                </div>
                <div class="input-wrap">
                    <label for="city" class="form-control-label form-control-label--blue form-control-label--secondary">Summary</label>
                    <div class="editor tiptap-textarea">
                        <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
                            <div class="menubar">
                                <button type="button" class="menubar__button" :class="{ 'is-active': isActive.bold() }" @click="commands.bold" title="Bold"><div class="icon"><icon name="bold" class="icon__svg"></icon></div></button>
                                <button type="button" class="menubar__button" :class="{ 'is-active': isActive.italic() }" @click="commands.italic" title="Italic"><div class="icon"><icon name="italic" class="icon__svg"></icon></div></button>
                                <button type="button" class="menubar__button" :class="{ 'is-active': isActive.underline() }" @click="commands.underline" title="Underline"><div class="icon"> <icon name="underline" class="icon__svg"></icon></div></button>
                                <button type="button" class="menubar__button" :class="{ 'is-active': isActive.bullet_list() }" @click="commands.bullet_list" title="Bullet List"><div class="icon"><icon name="ul" class="icon__svg"></icon></div></button>
                                <button type="button" class="menubar__button" :class="{ 'is-active': isActive.ordered_list() }" @click="commands.ordered_list" title="Ordered List"> <div class="icon"><icon name="ol" class="icon__svg"></icon></div></button>
                                <button type="button" class="menubar__button" @click="commands.undo" title="Undo"><div class="icon"><icon name="undo" class="icon__svg"></icon></div></button>
                                <button type="button" class="menubar__button" @click="commands.redo" title="Redo"><div class="icon"><icon name="redo" class="icon__svg"></icon></div></button>
                            </div>
                        </editor-menu-bar>
                        <editor-content class="editor__content" :editor="editor"/>
                    </div>
                </div>
                <div class="input-wrap text-right mb-0">
                    <button type="submit" class="btn btn-primary" @click.prevent="submit">
                        <span v-bind="{isLoading,achievement_loading_status}" v-if="isLoading == true" class="spinner-border spinner-border--md spinner-border--in-button"></span> Save</button>
                </div>
            </form>
            <notifications group="foo" position="bottom right" />
        </div>
    </b-modal>
</template>
<script>
    import { mapGetters } from 'vuex'
    import vSelect from "vue-select";
    import ButtonSpinner from "vue-button-spinner";
    import '../../../../assets/tiptap-icons';

    import config from '../../../config/config';
    import alertService from '../../utils/alertService';
    import _ from 'lodash';
    import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
    import {
        Blockquote,
        CodeBlock,
        HardBreak,
        Heading,
        HorizontalRule,
        OrderedList,
        BulletList,
        ListItem,
        TodoItem,
        TodoList,
        Bold,
        Code,
        Italic,
        Link,
        Strike,
        Underline,
        History,
        Placeholder
    } from 'tiptap-extensions';
    import {
        required,
        minLength,
        between,
        email,
        maxLength,
        alpha,
        alphaNum,
        numeric,
        integer,
        sameAs,
    } from "vuelidate/lib/validators";
    export default {
        name:'EditAchievements',
        components: {
            "v-select": vSelect,
            buttonspinner: ButtonSpinner,
            Editor,
            EditorContent,
            EditorMenuBar,
        },
        data() {
            return {
                errors: [],
                title: "",
                institution: "",
                validationErrors: "",
                degreelist:[],
                degree_level: "",
                degree_levelid: "",
                completion_years:[],
                completion_year:"",
                achievements_completion_year_value:"",
                completion_months:[],
                achievements_completion_month_value:"",
                completion_month:"",
                country: "",
                countries: [],
                achievements_country_id_value:"",
                state:"",
                achievements_state_id:"",
                states:[],
                city:"",
                achievements_city_id:"",
                cities:[],
                editorHtml:null,
                successmsg: "",
                isLoading: false,
                achievement_loading_status: "",
                submitted: false,
                achievementId:null,
                editor: new Editor({
                    extensions: [
                        new Blockquote(),
                        new BulletList(),
                        new CodeBlock(),
                        new HardBreak(),
                        new Heading({ levels: [1, 2, 3] }),
                        new HorizontalRule(),
                        new ListItem(),
                        new OrderedList(),
                        new TodoItem(),
                        new TodoList(),
                        new Link(),
                        new Bold(),
                        new Code(),
                        new Italic(),
                        new Strike(),
                        new Underline(),
                        new History(),
                        new Placeholder({
                            emptyEditorClass: 'is-editor-empty',
                            emptyNodeClass: 'is-empty',
                            emptyNodeText: '',
                            showOnlyWhenEditable: true,
                            showOnlyCurrent: true,
                        }),
                    ],
                    onUpdate: ({ getJSON, getHTML }) => {
                        this.editorHtml = getHTML();
                    },
                }),
            };
        },
        props: ['bus'],
        validations: {
            title: {
                required,
            },
            institution: {
                required,
            },
            completion_year: {
                required,
            },
            completion_month : {
                required
            },
            country: {
                required,
            },
            state:{
                required,
            },
            city:{
                required
            },
        },
        mounted() {
            this.bus.$on('editAchievement', this.editAchievement)
        },
        methods: {
            editAchievement(id){
                let data = this.$store.getters.achievements[id];
                this.title = data.title;
                this.institution = data.institution;
                this.completion_year =data.completion_year;
                this.completion_month = data.completion_month;
                this.country = data.country;
                this.state = data.state;
                this.achievements_state_id = data.state;
                this.city = data.city;
                this.achievements_city_id = data.city;
                this.achievementId = data.id;
                this.editorHtml = data.description;
                this.setEditorContent();
                this.$bvModal.show('edit-achievement-modal');
            },
            setEditorContent() {
                // you can pass a json document
                this.editor.setContent(this.editorHtml, true)
                // HTML string is also supported
                // this.editor.setContent('<p>This is some inserted text. 👋</p>')
                // this.editor.focus()
            },
            setDegreeTitle(value) {
                this.title = value;
                this.$v.title.$touch();
                if (this.$v.title.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter degree title",
                    });
                }
            },
            setInstitution(value) {
                this.institution = value;
                this.$v.institution.$touch();
                if (this.$v.institution.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter institution name",
                    });
                }
            },
            setCompletionYear(value) {
                this.completion_year = value;
                this.$v.completion_year.$touch();
                if (this.$v.completion_year.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select completion year",
                    });
                }
            },
            setCompletionMonth(value) {
                this.completion_month = value;
                this.$v.completion_month.$touch();
                if (this.$v.completion_month.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select completion month",
                    });
                }
            },
            setCountry(value) {
                this.country = value;
                this.$v.country.$touch();
                if (this.$v.country.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select country name",
                    });
                }
            },
            setState(value) {
                this.state = value;
                this.$v.state.$touch();
                if (this.$v.state.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select state name",
                    });
                }
            },
            setCity(value) {
                this.city = value;
                this.$v.city.$touch();
                if (this.$v.city.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select city name",
                    });
                }
            },
            getCountries: function() {
                axios.get(config.apiURL+"getCountryList/").then(
                    function(response) {
                        this.countries = response.data;
                    }.bind(this)
                );
            },
            getQualifications: function() {
                axios.get(config.apiURL+"getQualificationList/").then(
                    function(response) {
                        this.degreelist = response.data;
                    }.bind(this)
                );
            },
            getStates: function(country) {
                this.state = '';
                this.city = '';
                this.cities = [];
                this.$refs["achievements_country_id_value"].value = country;
                axios.get(config.apiURL+"getStateList/"+country)
                    .then(
                        function(response) {
                            this.states = response.data;
                        }.bind(this)
                    );
            },
            getCities: function(stateid) {
                this.city = '';
                this.$refs["achievements_state_id"].value = stateid;
                axios.get(config.apiURL+"getCityList/"+stateid)
                    .then(
                        function(response) {
                            this.cities = response.data;
                        }.bind(this)
                    );
            },
            setCityId(cityid) {
                this.$refs["achievements_city_id"].value = cityid;
            },
            getMonth : function() {
                this.completion_months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
            },
            getYears: function() {
                let yearslist = [];
                let d = new Date();
                let n = d.getFullYear();
                let a = 1;
                for(let i= n; i > 1950; i--) {
                    yearslist[a] = i;
                    a++;
                }
                this.completion_years =yearslist;

            },
            getCompletionYear(year){
                this.$refs["achievements_completion_year_value"].value = year;
            },
            getCompletionMonth(month){
                this.$refs["achievements_completion_month_value"].value = month;
            },
            submit() {
                this.isLoading = true;
                this.errors = [];
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.isLoading = false;
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Fill required form fields",
                    });
                } else {
                    // do your submit logic here
                    this.submitStatus = "PENDING";

                    let form = this.$refs["edit_achievements_form"];
                    let formData = new FormData(form);
                    formData.append('id', this.achievementId);
                    formData.append('description', this.editorHtml);
                    axios({url: config.apiURL + 'updateAchievement', data: formData, method: 'POST' })
                        .then(resp => {
                            this.$store.commit('set_achievements', resp.data);
                            this.$bvModal.hide('edit-achievement-modal');
                            this.isLoading = false;
                            alertService.Success('Success', 'Achievements updated.');
                        })
                        .catch(err => {
                            this.isLoading = false;
                            this.error = err.response.data.error;
                            alertService.Error('Error', this.error);
                            let errors = err.response.data.errors;
                            if (errors && errors.length > 0) {
                                for (const [key, value] of Object.entries(errors)) {
                                    value.forEach((text,index)=>{
                                        this.$notify({
                                            group: "foo",
                                            type: "error",
                                            title: key,
                                            text: text
                                        });
                                    })
                                }
                            }
                        });
                    setTimeout(() => {
                        this.submitStatus = "OK";
                    }, 500);
                }
            },
        },
        created: function() {
            this.getCountries();
            this.getQualifications();
            this.getMonth();
            this.getYears();
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','achievements']),
        },
        beforeDestroy() {
            this.editor.destroy()
        },
    }
</script>
