<template>
    <b-modal id="blog-post-modal" hide-footer centered modal-class="blog-modal-dialog-outer" dialog-class="blog-modal-dialog" footer-class="justify-content-center">
        <div class="blog-wrapper-outer h-100 w-100">
            <div class="blog-wrapper">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog-main-thumbnail">
                            <img v-if="article.images" :src="article.images[0].path" alt="Main Image" />
                        </div>
                        <div class="blog-nav-wrap" v-if="$mq != 'mobile'">
                            <div class="row row-gutter-7">
                                <div v-if="article" class="col-md-4" v-for="(item,index) in article.similarArticles">
                                    <div class="blog-main-thumbnail">
                                        <a @click="showArticle(item.id)">
                                            <img v-if="item.images" :src="item.images[0].path" alt="Article Image"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 blog-meta-data">
                        <div class="h-100 has-scroll blog-wrapper__content">
                            <div class="sidebar__title text-left">
                                <h3>{{article.title}}</h3>
                            </div>
                            <div class="" v-html="article.description">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 mt-3" v-if="$mq === 'mobile'">
                        <div class="blog-nav-wrap">
                            <div class="row row-gutter-7">
                                <div v-if="article" class="col-md-4 nav-block col-4" v-for="(item,index) in article.similarArticles">
                                    <div class="blog-main-thumbnail">
                                        <a @click="showArticle(item.id)">>
                                            <img v-if="item.images" :src="item.images[0].path" alt="Article Image"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </b-modal>
</template>

<script>
    export default {
        name: "ArticleDetailsModal",
        props: {
            article: {
                type: Object
            }
        },
        methods:{
            showArticle(articleId){
                this.$parent.showArticle(articleId);
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>

</style>