<template>
  <footer class="app-footer">
    <chat-popup
      v-for="(popup, index) in popups"
      :key="index"
      :index="index"
      :popupData="popup"
      :removePopup="removePopup"
      :calculatePopups="calculatePopups"
      @chatInitiate="startChate"
    ></chat-popup>
    <!-- <chat-popup
      v-if="openNewChatBox"
      :popupData="popup"
      :removePopup="removePopup"
      :calculatePopups="calculatePopups"
    ></chat-popup> -->
  </footer>
</template>
<script>
import chatPopup from "./chatPopup.vue";
import config from "../../config/config";

export default {
  sockets: {
    connect: function () {
      this.$socket.client.emit("user_connected", this.userInfo.id);
    },
    "private-channel:App\\Events\\PrivateMessageEvent": function (message) {
      if(message.created_at && message.created_at != ""){
        let date = message.created_at.split(" ");
        if(date.length > 1){
            message.created_at = date[0]+"T"+date[1]+"+00:00";
        }
      }
      this.handleNewMessage(message);
    },
    updateUserStatus: function (data) {},
  },
  props: ["message"],
  components: { chatPopup },
  name: "ChatFooter",
  data() {
    return {
      popups: [],
      connected: false,
      totalPopups: 0,
      openNewChatBox: false,
      userInfo: localStorage.getItem("userInfo")
        ? JSON.parse(localStorage.getItem("userInfo"))
        : "",
    };
  },
  methods: {
    removePopup(index) {
      this.popups.splice(index, 1);
    },

    calculatePopups(senderId) {
      let width = window.innerWidth;
      if (width < 540) {
        this.totalPopups = 0;
      } else {
        width = width - 200;
        // 320 is width of a single popup box
        this.totalPopups = parseInt(width / 320);
      }
      this.displayPopups(senderId);
    },

    displayPopups(senderId) {
      let right = 220;
      let i = 0;
      for (i; i < this.totalPopups; i++) {
        if (this.popups[i] != undefined) {
          const id = `popup-${senderId}`;
          let element = document.getElementById(id);
          element.style.right = right + "px";
          right = right + 320;
          element.style.display = "block";
        }
      }
      for (let j = i; j < this.popups.length; j++) {
        const id = `popup-${senderId}`;
        let element = document.getElementById(id);
        element.style.display = "none";
      }
    },

    async handleNewMessage(message) {
      if (message.receiver_id == this.userInfo.id) {
        let key = "popup-" + message.sender_id;
        let check = 0;
        let data = message.sender;
        console.log("message recieved in footer =>", this.popups);
        if (this.popups.length > 0) {
          this.popups.map((item, key) => {
            if (item.sender_id == message.sender_id) {
              check = 1;
              item = message;
            }
            return item;
          });
          if (!check) {
            this.popups.push(message);
            if (this.popups.length > 3) {
              this.popups.splice(0, 1);
            }
          }
        } else {
          this.popups.push(message);
        }
      } else {
        if (message.sender_id == this.userInfo.id) {
          const { receiver_id } = message;
          const newMessage = await this.getUserData(receiver_id);
          console.log("newMessage =>", newMessage);
          if (newMessage.success == true) {
            this.popups.push(newMessage.result);
          }
        }
        if (message.sender !== undefined) {
          this.popups.push(message);
        }
      }
    },

    async getUserData(receiverId) {
      try {
        let newMessage = {};
        const userUrl = `${config.apiURL}getUserData/${receiverId}`;
        const getUserData = await axios.get(userUrl);
        const receiverUser = getUserData.data.user;
        let sender = {};
        if (receiverUser.first_name === null) {
          sender = {
            email: receiverUser.email,
            first_name: receiverUser.first_name,
            last_name: receiverUser.last_name,
            id: receiverUser.id,
            image: receiverUser.image,
            company: receiverUser.company,
          };
        } else {
          sender = {
            email: receiverUser.email,
            first_name: receiverUser.first_name,
            last_name: receiverUser.last_name,
            id: receiverUser.id,
            image: receiverUser.image,
          };
        }
        newMessage.sender = sender;
        return { success: true, result: newMessage };
      } catch (err) {
        return { success: false, result: err };
      }
    },

    sayHello: (user) => {
        console.log(user, "hmmm", this.popups);
    },
    startChate: (user) => {
        console.log(user, "user")
    }
  },
  created() {
    console.log("footer created....");
  },
  mounted() {},
  watch: {
    message(newMessage, oldMessage) {
      console.log("chat footer newMessage =>", newMessage);
      this.handleNewMessage(newMessage);
    },
  },
};
</script>
