<template>
  <div class="popup-box chat-popup" :id="'popup-' + popupData.sender.id">
    <div class="popup-head">
      <div class="popup-head-left" v-if="popupData.sender.company == null">
        {{ popupData.sender.first_name }} {{ popupData.sender.last_name }}
      </div>
      <div class="popup-head-left" v-else>
        {{ popupData.sender.company.name }}
      </div>
      <div class="popup-head-right">
        <a href="#" v-on:click="removePopup(index)">✕</a>
      </div>
      <div style="clear: both"></div>
    </div>
    <div class="popup-messages">
      <div class="tab-content__inner">
        <div class="d-flex flex-column h-100 chat-wrapper">
          <div class="chatbox"></div>
          <div
            :id="'chatInner-' + popupData.sender.id"
            :data-chat="chats.length"
            v-on:scroll.passive="handleScroll"
            class="chatInner flex-fill p-3 chat-body has-scroll"
          >
            <div v-if="chats.length > 0">
              <div
                v-for="item in chats"
                :key="item.id"
                class="id-{item.id} message-text-wrapper"
              >
                <div v-if="item.get_body.type == 1" class="d-flex">
                  <div
                    v-if="item.sender_id == userInfo.id"
                    v-bind:class="classObject(index)"
                    class="chatMessage message-text sender"
                  >
                    {{ item.get_body.message }}
                    <div class="message-text__meta">
                      <div class="chatSeen">
                        <img
                          class="tickImg"
                          v-if="
                            item.deliver_status == 1 && item.seen_status == 0
                          "
                          :src="iconsBaseUrl + 'icon-single-tick.svg'"
                        />
                        <img
                          class="tickImg"
                          v-if="item.seen_status == 1"
                          :src="iconsBaseUrl + 'icon-double-tick.svg'"
                        />
                      </div>
                      <div class="chatDate">
                        {{ formateDate(item.created_at) }}
                      </div>
                    </div>
                  </div>
                  <div
                    v-else
                    v-bind:class="classObject(index)"
                    class="chatMessage message-text recieve"
                  >
                    {{ item.get_body.message }}
                    <div class="message-text__meta">
                      <div class="chatDate">
                        {{ formateDate(item.created_at) }}
                      </div>
                    </div>
                  </div>
                </div>
                <div v-if="item.get_body.type == 2" class="d-flex">
                  <div
                    v-if="item.sender_id == userInfo.id"
                    v-bind:class="classObject(index)"
                    class="chatImagesOuter message-text sender"
                  >
                    <div>
                      <a
                        :href="imgBaseUrl + item.get_body.message"
                        target="_blank"
                      >
                        <img
                          class="chatImg"
                          :src="imgBaseUrl + item.get_body.message"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="message-text__meta">
                      <div class="chatSeen">
                        <img
                          class="tickImg"
                          v-if="
                            item.deliver_status == 1 && item.seen_status == 0
                          "
                          :src="iconsBaseUrl + 'icon-single-tick.svg'"
                        />
                        <img
                          class="tickImg"
                          v-if="item.seen_status == 1"
                          :src="iconsBaseUrl + 'icon-double-tick.svg'"
                        />
                      </div>
                      <div class="chatDateImg">
                        {{ formateDate(item.created_at) }}
                      </div>
                    </div>
                  </div>
                  <div v-else class="chatImagesOuter message-text recieve">
                    <div>
                      <a
                        :href="imgBaseUrl + item.get_body.message"
                        target="_blank"
                      >
                        <img
                          class="chatImg"
                          v-bind:class="classObject(index)"
                          :src="imgBaseUrl + item.get_body.message"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="message-text__meta">
                      <div class="chatDateImg">
                        {{ formateDate(item.created_at) }}
                      </div>
                    </div>
                  </div>
                </div>
                <div v-if="item.get_body.type == 3" class="d-flex">
                  <div
                    v-if="item.sender_id == userInfo.id"
                    class="chatImagesOuter message-text sender"
                    v-bind:class="classObject(index)"
                  >
                    <div>
                      <a
                        :href="imgBaseUrl + item.get_body.message"
                        target="_blank"
                      >
                        <img
                          class="chatImg"
                          v-bind:class="classObject(index)"
                          src="/assets/images/attached-file.svg"
                          alt=""
                        />
                        <span style="color: #fff">
                          {{ item.get_body.message }}
                        </span>
                      </a>
                    </div>
                    <div class="message-text__meta">
                      <div class="chatSeen">
                        <img
                          class="tickImg"
                          v-if="
                            item.deliver_status == 1 && item.seen_status == 0
                          "
                          :src="iconsBaseUrl + 'icon-single-tick.svg'"
                        />
                        <img
                          class="tickImg"
                          v-if="item.seen_status == 1"
                          :src="iconsBaseUrl + 'icon-double-tick.svg'"
                        />
                      </div>
                      <div class="chatDateImg">
                        {{ formateDate(item.created_at) }}
                      </div>
                    </div>
                  </div>
                  <div v-else class="chatImagesOuter message-text recieve">
                    <div>
                      <a
                        :href="imgBaseUrl + item.get_body.message"
                        target="_blank"
                      >
                        <img
                          get_body
                          v-bind:class="classObject(index)"
                          src="/assets/images/attached-file.svg"
                          alt=""
                        />
                        <span style="color: #fff">
                          {{ item.get_body.message }}
                        </span>
                      </a>
                    </div>
                    <div class="message-text__meta">
                      <div class="chatDateImg">
                        {{ formateDate(item.created_at) }}
                      </div>
                    </div>
                  </div>
                </div>
                <div v-if="item.get_body.type == 4" class="d-flex">
                  <div
                    v-if="item.sender_id == userInfo.id"
                    class="chatImagesOuter message-text sender"
                    v-bind:class="classObject(index)"
                  >
                    <div>
                      <a
                        :href="imgBaseUrl + item.get_body.message"
                        target="_blank"
                      >
                        <img
                          class="chatImg"
                          v-bind:class="classObject(index)"
                          src="/assets/images/video-icon.svg"
                          alt=""
                        />
                        <span style="color: #fff">
                          {{ item.get_body.message }}
                        </span>
                      </a>
                    </div>
                    <div class="message-text__meta">
                      <div class="chatSeen">
                        <img
                          class="tickImg"
                          v-if="
                            item.deliver_status == 1 && item.seen_status == 0
                          "
                          :src="iconsBaseUrl + 'icon-single-tick.svg'"
                        />
                        <img
                          class="tickImg"
                          v-if="item.seen_status == 1"
                          :src="iconsBaseUrl + 'icon-double-tick.svg'"
                        />
                      </div>
                      <div class="chatDateImg">
                        {{ formateDate(item.created_at) }}
                      </div>
                    </div>
                  </div>
                  <div v-else class="chatImagesOuter message-text recieve">
                    <div>
                      <a
                        :href="imgBaseUrl + item.get_body.message"
                        target="_blank"
                      >
                        <img
                          class="chatImg"
                          v-bind:class="classObject(index)"
                          src="/assets/images/video-icon.svg"
                          alt=""
                        />
                        <span style="color: #fff">
                          {{ item.get_body.message }}
                        </span>
                      </a>
                    </div>
                    <div class="message-text__meta">
                      <div class="chatDateImg">
                        {{ formateDate(item.created_at) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="refClass"></div> -->
            <!--  <br /> -->
          </div>
          <div class="chatInput chat-footer">
            <form
              class="form-inline px-3 py-1"
              v-on:submit.prevent="sendMessage"
            >
              <div class="messageArea form-group p-1 flex-fill pr-3">
                <label for="staticEmail2" class="sr-only">Email</label>
                <input
                  type="file"
                  class="fileUpload"
                  :id="'fileUpload-' + popupData.sender.id"
                  @change="onFileSelect($event)"
                />
                <textarea
                  :id="'staticEmail2-' + popupData.sender.id"
                  name="chatArea"
                  v-model="newMessage"
                  placeholder="Type a message"
                  class="form-control-plaintext textChat"
                  cols="30"
                  rows="2"
                  v-on:keyup.ctrl.enter.exact="addLineBreak"
                  v-on:keyup.enter.exact="sendMessage"
                ></textarea>
              </div>
              <div class="side-emoji p-1">
                <a
                  :id="'attachmentBtn-' + popupData.sender.id"
                  class="btn btn--round btn--round--blue btn--round--sm attachmentBtn mr-2"
                  @click="triggerEvent()"
                >
                  <i class="fa fa-paperclip" aria-hidden="true"></i>
                </a>
                <span class="emoji-part">
                  <a
                    :id="'sendBtn-' + popupData.sender.id"
                    class="btn btn--round btn--round--blue attachmentBtn emoji-cta mr-0"
                    @click="toogleDialogEmoji"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 27 27"
                    >
                      <circle cx="13.5" cy="13.5" r="13.5" fill="#ffd93b" />
                      <path
                        d="M80.591,67.169A13.423,13.423,0,0,1,56.72,75.6,13.424,13.424,0,0,0,75.6,56.72,13.408,13.408,0,0,1,80.591,67.169Z"
                        transform="translate(-53.746 -53.746)"
                        fill="#f4c534"
                      />
                      <circle
                        cx="2.107"
                        cy="2.107"
                        r="2.107"
                        transform="translate(16.254 9.722)"
                        fill="#3e4347"
                      />
                      <ellipse
                        cx="0.638"
                        cy="0.413"
                        rx="0.638"
                        ry="0.413"
                        transform="matrix(-0.914, -0.405, 0.405, -0.914, 19.374, 11.531)"
                        fill="#5a5f63"
                      />
                      <circle
                        cx="2.107"
                        cy="2.107"
                        r="2.107"
                        transform="translate(6.378 9.722)"
                        fill="#3e4347"
                      />
                      <ellipse
                        cx="0.638"
                        cy="0.413"
                        rx="0.638"
                        ry="0.413"
                        transform="matrix(-0.914, -0.405, 0.405, -0.914, 9.497, 11.531)"
                        fill="#5a5f63"
                      />
                      <path
                        d="M147.557,337.411a.629.629,0,0,1,.862-.916,6.772,6.772,0,0,0,9.272,0,.629.629,0,0,1,.862.916A8.032,8.032,0,0,1,147.557,337.411Z"
                        transform="translate(-139.632 -318.69)"
                        fill="#3e4347"
                      />
                    </svg>
                  </a>
                  <VEmojiPicker
                    :key="popupData.sender.id"
                    v-show="showDialog"
                    labelSearch="Search"
                    @select="onSelectEmoji"
                  />
                </span>
                <a
                  :id="'sendBtn-' + popupData.sender.id"
                  class="btn btn--round btn--round--blue send-message-cta ml-2"
                  @click="sendMessage()"
                >
                  <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </a>
              </div>
            </form>
          </div>
        </div>
        {{ /* Mobile Device */ }}
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import VEmojiPicker from "v-emoji-picker";
import config from "../../config/config";
import moment from "moment";

export default {
  name: "ChatPopup",
  props: [
    "id",
    "title",
    "popupData",
    "removePopup",
    "calculatePopups",
    "index",
  ],
  sockets: {
    connect: function () {
      //   console.log("user connect");
      this.$socket.client.emit("user_connected", this.userData.id);
    },
    "private-channel:App\\Events\\PrivateMessageEvent": function (message) {
      if (
        this.userData.id == message.receiver_id &&
        this.popupData.sender.id == message.sender_id
      ) {
        // console.log(message, "push");
        this.chats.push(message);
        this.updateSeenStatus(message.conversation_id);
        // console.log(this.chats, "push");
      }
      this.scrollToBottom("#chatInner-" + this.popupData.sender.id);
    },
    "message-seen-channel": function (message) {
      //   console.log("message seen event =>", message);
      for (const it of message) {
        // console.log("message seen =>", it);
        const { id } = this.popupData.sender;
        // console.log(it.receiver_id, this.userData.id, it.sender_id, id);
        if (it.receiver_id === this.userData.id && it.sender_id === id) {
          this.handleSeenMessage(it);
        } else if (it.receiver_id === id && it.sender_id === this.userData.id) {
          this.handleSeenMessage(it);
        }
      }
    },
  },
  data() {
    return {
      showDialog: false,
      chats: [],
      newMessage: "",
      imgBaseUrl: config.imagesURL + "uploads/",
      iconsBaseUrl: config.imagesURL + "icons/",
      currentPage: 1,
      hasEntered: false,
      messageWithLineBreak: "",
      userInfo: localStorage.getItem("userInfo")
        ? JSON.parse(localStorage.getItem("userInfo"))
        : "",
    };
  },
  methods: {
    handleSeenMessage(message) {
      let seenMessage = this.chats.filter(
        (el) => el.message_id === message.message_id
      );
      //   console.log("seenMessage =>", seenMessage);
      seenMessage[0].seen_status = 1;
      this.chats = this.chats.filter(
        (el) => el.message_id !== seenMessage[0].message_id
      );
      this.chats.push(seenMessage[0]);
    },

    classObject(index) {
      const width = window.innerWidth;
      if (width <= 768) {
        if (index == this.chats.length - 1) {
          return {
            "mb-60": true,
          };
        }
      }
    },

    triggerEvent() {
      $("#fileUpload-" + this.popupData.sender.id).click();
    },

    formateDate(date) {
      date = new Date(date);
      //   console.log(date);
      if (moment().isSame(date, "day")) {
        return moment(date).format("hh:mm A");
      } else {
        // return moment(date).format("MMM Do YYYY hh:mm A");
        return moment(date).format("MMM Do YYYY");
      }
    },

    toogleDialogEmoji() {
      this.showDialog = !this.showDialog;
      //   console.log(this.popupData);
    },

    scrollToBottom(id) {
      const scrollHeight = $(id)[0].scrollHeight * 100;
      $(id).stop().animate({ scrollTop: scrollHeight }, 1000);
    },

    handleScroll(e) {
      // console.log(e.target.scrollTop, this.currentPage, this.lastPage)
      if (e.target.scrollTop === 0) {
        if (this.currentPage != this.lastPage) {
          e.target.scrollTop = 50;
          this.currentPage += 1;
          this.showChats();
        }
      }
    },

    showChats(isNew = false) {
      const senderId = this.popupData.sender.id;
      const recieverId = this.userData.id;
      if (isNew) {
        this.currentPage = 1;
      }
      const currentPage = this.currentPage;
      const url = `${config.apiURL}getAllChats/${senderId}/${recieverId}?page=${currentPage}`;
      axios
        .get(url)
        .then((res) => {
          const { data, current_page, total, last_page } = res.data.chat;
          if (data.length > 0) {
            const conversationId = data[0].conversation_id;
            this.updateSeenStatus(conversationId);
            for (const it of data) {
              if (it.seen_status === 0) {
                it.seen_status = 1;
              }
            }
            this.currentPage = current_page;
            this.totalChats = total;
            this.lastPage = last_page;
            if (current_page === 1) {
              this.chats = data.reverse();
              this.scrollToBottom("#chatInner-" + this.popupData.sender.id);
            } else {
              const oldChats = data;
              for (const it of oldChats) {
                this.chats.unshift(it);
              }
            }
            console.log("chat => ", this.chats);
          }
        })
        .catch((err) => {
          console.log("chat err => ", err);
        });
    },

    async updateSeenStatus(conversationId, isTabOpen = false) {
      const chatter = this.popupData.sender;
      const url = `${config.apiURL}updateSeenStatus/${conversationId}`;
      try {
        const res = await axios.get(url);
        for (const it of this.chats) {
          if (it.seen_status === 0) {
            it.seen_status = 1;
          }
        }
      } catch (err) {
        console.log("seen status error =>", err);
      }
    },

    async onFileSelect($event) {
      const file = $event.target.files[0];
      const fileTypeArr = file.type.split("/");
      const [fileType] = fileTypeArr;
      let formData = new FormData();
      formData.append("sender_id", this.userInfo.id);
      formData.append("receiver_id", this.popupData.sender.id);
      switch (fileType) {
        case "video":
          formData.append("type", 4);
          break;
        case "application":
          formData.append("type", 3);
          break;
        case "image":
          formData.append("type", 2);
          break;
        default:
          formData.append("type", 1);
          break;
      }
      formData.append("file", file);
      try {
        const opt = { headers: { Accept: "application/json" } };
        const url = `${config.apiURL}saveMessageWithFile`;
        const res = await axios.post(url, formData, opt);
        // console.log("image response =>", res);
        this.chats.push(res.data.newMessage);
        this.newMessage = "";
        this.showDialog = false;
        this.scrollToBottom("#chatInner-" + this.popupData.sender.id);
      } catch (err) {
        console.log("Error => ", err);
      }
    },

    onSelectEmoji(dataEmoji) {
      //   console.log(dataEmoji.data);
      this.newMessage += dataEmoji.data;
    },

    addLineBreak() {
      this.hasEntered = true;
      let message = this.newMessage;
      this.messageWithLineBreak = this.messageWithLineBreak + message + "\n";
      // console.log("new message", this.messageWithLineBreak);
    },

    async sendMessage() {
      if (this.hasEntered === true) {
        this.newMessage = this.messageWithLineBreak;
      }
      const messageObj = {
        message: this.newMessage,
        sender_id: this.userData.id,
        receiver_id: this.popupData.sender.id,
      };
      if (messageObj.message != "") {
        try {
          const opt = {
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
          };
          const url = `${config.apiURL}saveMessage`;
          const res = await axios.post(url, messageObj, opt);
          this.chats.push(res.data.newMessage);
          this.newMessage = "";
          this.showDialog = false;
          this.scrollToBottom("#chatInner-" + this.popupData.sender.id);
          console.log("new message =>", res.data.newMessage);
        } catch (err) {
          console.log(err);
        }
      } else {
        console.log("message body is empty !", this.newMessage);
      }
    },

    showPopup() {
      alert("show popup");
    },
  },
  created() {
    console.log("created popup =>", this.popupData);
  },
  mounted() {
    if (this.popupData.get_body !== undefined) {
      this.chats.push(this.popupData);
    }
    this.showChats(true);
    this.calculatePopups(this.popupData.sender.id);
    this.scrollToBottom("#chatInner-" + this.popupData.sender.id);
  },
  computed: {
    ...mapGetters(["isLoggedIn", "userData"]),
  },
};
</script>
<style scoped>
.popup-box {
  position: fixed;
  bottom: 0px;
  right: 220px;
  height: 285px;
  background-color: rgb(237, 239, 244);
  width: 300px;
  border: 1px solid rgba(29, 49, 91, 0.3);
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.popup-box .popup-head {
  background-color: #4ac4f3;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  clear: both;
}

.popup-box .popup-head .popup-head-left {
  float: left;
}

.popup-box .popup-head .popup-head-right {
  float: right;
  opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a {
  text-decoration: none;
  color: inherit;
}

.chatImagesOuter {
  width: 30%;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
}

.chatImg {
  text-align: center;
}

.fileUpload {
  display: none;
}

.sender {
  margin-left: auto;
  color: #fff;
}

.recieve {
  background: #4488d5;
  margin-right: auto;
  color: #fff;
}

.chatInput {
  /* position: relative !important; */
  border-top: solid 1px #ddd;
}

.side-emoji {
  position: relative;
}

.chatInput div#EmojiPicker {
  position: absolute;
  bottom: 80px;
  display: block;
  width: 450px;
  right: 0px;
  height: 300px;
}

@media only screen and (max-width: 540px) {
  .chat-popup {
    display: none !important;
  }
}

.popup-box.chat-popup .popup-messages {
  overflow: hidden;
}

.popup-box.chat-popup .popup-messages .chatInner {
  max-height: inherit;
  height: 180px;
  overflow-x: auto;
}

.popup-box.chat-popup
  .popup-messages
  .chatInput
  .form-inline
  .side-emoji
  .emoji-picker {
  width: 300px !important;
}

.popup-box.chat-popup
  .popup-messages
  .chatInput
  .form-inline
  .side-emoji
  .emoji-picker
  .grid-emojis {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

.popup-box.chat-popup
  .popup-messages
  .chatInput
  .form-inline
  .side-emoji
  .emoji-picker
  .container-emoji {
  height: 220px;
}

/* .chatDate {
  font-size: 8px;
  float: right;
  color: white;
  position: absolute;
  right: 10px;
  bottom: 3px;
} */

/* .popup-box.chat-popup .chatDateImg {
  position: absolute;
  right: 8px;
  color: white;
  bottom: 5px;
  font-size: 8px;
  font-weight: bold;
  right: 35px;
} */

/* .popup-box.chat-popup .chatImagesOuter {
  position: relative;
} */

/* .chatImagesOuter span {
  display: block;
  font-size: 10px;
  line-height: normal;
  white-space: nowrap;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
} */
</style>


