<template>
  <header class="app-header">
    <div class="app-header__container">
      <div class="app-header-inner row align-items-center">
        <div
          class="app-header__logo col-xl-3 col-auto py-lg-2"
          v-if="!isLoggedIn"
        >
          <routerLink to="/" class="app-logo">
            <!-- <span
              v-if="newMessageNotification()"
              class="badge badge--up badge-primary ml-1 messageCount"
            >
              {{ newMessages }}
            </span> -->
            <img
              :src="`${publicPath}assets/images/candidate-logo-dark.svg`"
              alt=""
              v-if="$mq != 'mobile'"
            />
            <img
              :src="`${publicPath}assets/images/candidate-logo-mini.svg`"
              class="app-logo__sm"
              alt=""
              v-if="$mq === 'mobile'"
            />
          </routerLink>
        </div>
        <div class="app-header__logo col-xl-3 col-auto" v-if="isLoggedIn">
          <routerLink to="/" class="app-logo">
            <span
              class="badge badge--up badge-primary ml-1 messageCount"
              v-if="newMessageNotification()"
              >{{ newMessages }}
            </span>
            <img
              :src="`${publicPath}assets/images/candidate-logo-dark.svg`"
              alt=""
              v-if="$mq != 'mobile'"
            />
            <img
              :src="`${publicPath}assets/images/candidate-logo-mini.svg`"
              class="app-logo__sm"
              alt=""
              v-if="$mq === 'mobile'"
            />
          </routerLink>
        </div>
        <div
          class="col-auto d-block d-lg-none"
          v-if="!isLoggedIn && $route.name != 'login'"
        >
          <routerLink to="/login" class="btn btn-primary">Log In</routerLink>
        </div>
        <div class="col-auto" v-if="$route.name === 'login'">
          <routerLink to="/home" class="btn btn-primary">Home</routerLink>
        </div>
        <div
          class="col-xl-9 col-lg-auto d-flex justify-content-end flex-fill"
          v-if="$route.name != 'login'"
        >
          <b-navbar toggleable="lg" type="" class="p-0">
            <b-navbar-toggle
              target="nav-collapse"
              id="navbar-collapse"
              v-if="isLoggedIn"
            >
              <svg viewBox="0 0 800 600">
                <path
                  d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                  id="top"
                ></path>
                <path d="M300,320 L540,320" id="middle"></path>
                <path
                  d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                  id="bottom"
                  transform="translate(480, 320) scale(1, -1) translate(-480, -318) "
                ></path>
              </svg>
            </b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
              <div class="nav-wrapper w-100">
                <login-header v-if="!isLoggedIn"></login-header>

                <company-header v-else-if="isCompany"></company-header>

                <candidate-header v-else-if="isCandidate"></candidate-header>
              </div>
            </b-collapse>
          </b-navbar>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import LoginHeader from "../../layouts/headers/LoginHeader";
import CompanyHeader from "../../layouts/headers/CompanyHeader";
import CandidateHeader from "../../layouts/headers/CandidateHeader";
import { mapGetters } from "vuex";
import axios from "axios";
import config from "../../config/config";
export default {
  name: "Header",
  sockets: {
    connect: function () {
      this.$socket.client.emit("user_connected");
    },
    "private-channel:App\\Events\\PrivateMessageEvent": function (message) {
      console.log("message recieved in header =>", message);
      if (message.receiver_id == this.userInfo.id) {
        this.newMessages += 1;
      }
    },
    updateUserStatus: function (data) {},
  },
  data() {
    return {
      publicPath: config.imagesURL,
      userInfo: localStorage.getItem("userInfo")
        ? JSON.parse(localStorage.getItem("userInfo"))
        : "",
      newMessages: 0,
    };
  },
  methods: {
    newMessageNotification() {
      if (window.innerWidth <= 767 && this.newMessages > 0) {
        return true;
      } else {
        return false;
      }
    },
  },
  components: {
    LoginHeader,
    CompanyHeader,
    CandidateHeader,
  },
  watch: {
    $route() {
      const element = document.querySelector("#nav-collapse");
      let isShown = element.classList.contains("show");
      if (isShown) {
        this.$root.$emit("bv::toggle::collapse", "nav-collapse");
      }
    },
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCandidate", "isCompany"]),
  },
  mounted() {},
};
</script>

<style scoped>
.messageCount {
  position: absolute;
  left: 50px;
  top: 6px;
}
</style>

