<template>
  <div
    class="loading-bar d-flex justify-content-center h-100 align-items-center"
  >
    <bounce-loader
      :loading="loading"
      :color="color"
      :size="size"
    ></bounce-loader>
  </div>
</template>
<script>
import BounceLoader from "vue-spinner/src/BounceLoader.vue";
export default {
  name: "LoadingBarComponent",
  components: {
    BounceLoader: BounceLoader,
  },
  props: {
    loading: Boolean,
  },
  data() {
    return {
      color: "#00acee",
      size: "40px",
    };
  },
  methods: {},
  created() {},
  mounted() {},
};
</script>
