<template>
  <footer class="app-footer">
    <div class="app-footer__top py-5">
      <div class="container px-3">
        <div class="row">
          <div class="col-md-6">
            <div class="app-footer__main">
              <div class="logo-wrap">
                <routerLink to="/" title="Home">
                  <img
                    class="img-fluid"
                    :src="'../assets/images/candidate-logo-dark.svg'"
                    alt="OneCrate Logo"
                  />
                </routerLink>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="app-footer__navigation">
              <h3 class="mb-3">Important Links</h3>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <router-link to="/" tag="li"
                      ><a href="">Home</a></router-link
                    >
                    <router-link to="/landing-candidate" tag="li"
                      ><a href="">Candidate</a></router-link
                    >
                    <router-link to="/landing-company" tag="li"
                      ><a href="">Company</a>
                    </router-link>
                    <router-link to="/landing-candidate-isop" tag="li"
                      ><a href="">Candidate ISOP</a>
                    </router-link>
                    <router-link to="/landing-company-isop" tag="li"
                      ><a href="">Company ISOP</a></router-link
                    >
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <router-link to="/aboutus" tag="li"
                      ><a href="">About</a></router-link
                    >
                    <router-link to="/terms" tag="li"
                      ><a href="">Terms</a></router-link
                    >
                    <router-link to="/privacyPolicy" tag="li"
                      ><a href="">Privacy Policy</a>
                    </router-link>
                    <router-link to="/cookiePolicy" tag="li"
                      ><a href="">Cookie Policy</a>
                    </router-link>
                    <router-link to="/contactus" tag="li"
                      ><a href="">Contact Us</a></router-link
                    >
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="app-footer__bottom p-3 text-center">
      <p>&copy; 2020 OneCrate</p>
    </div>
    <div class="container"></div>
    <!-- <div class="ftr-inner">
            <div class="ftr-logo">
                <routerLink to="/">
                    <img class="img-fluid" :src="'../assets/images/candidate-logo-dark.svg'" alt="Logo">
                </routerLink>
                <span>&copy; {{ new Date().getFullYear() }}</span>
            </div>
            <ul>
                <router-link to="/aboutus" tag="li"><a href="">About</a></router-link>
                <router-link to="/terms" tag="li"><a href="">Terms</a></router-link>
                <router-link to="/privacyPolicy" tag="li"><a href="">Privacy Policy</a></router-link>
                <router-link to="/cookiePolicy" tag="li"><a href="">Cookie Policy</a></router-link>
                <router-link to="/contactus" tag="li"><a href="">Contact Us</a></router-link>
            </ul>
        </div> -->
  </footer>
</template>
<script>
export default {
  name: "LoginFooter",
};
</script>
