<template>
  <LoadingBar v-if="loading" :loading="loading"></LoadingBar>
  <div v-else>
    <div class="h-100">
      <div class="home-tab p-15">
        <div class="blogs-wrapper">
          <div class="row px-2 mb-n2">
            <div
              class="col-lg-4 col-md-6 py-2 px-2"
              v-for="(item,index) in articlesArr"
              v-if="item.images[0]"
            >
              <div class="blog-block h-100">
                <a class="h-100" @click="showArticle(item.id)">
                  <span>
                    <img class="img-fluid" :src="item.images[0].path" alt="Article Image" />
                  </span>
                  <div class="block-content">
                    <h5 class="text-medium">{{item.title}}</h5>
                  </div>
                </a>
              </div>
            </div>

          </div>
          <div class="mt-3 d-flex justify-content-center">
            <b-button v-if="expandTitle" variant="primary" @click="expandArticles()">
              {{expandTitle}}
            </b-button>
          </div>
        </div>
      </div>
    </div>
    <article-details-modal :article="article" />
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import ArticleDetailsModal from "../article/ArticleDetailsModal";
import LoadingBar from "../common/LoadingBar";
export default {
  name: "ArticlesComponent",
  components: {
    ArticleDetailsModal,
    LoadingBar
  },
  data() {
    return {
      article: {},
      articlesArr: [],
      loading: false,
      expandTitle: 'Load More',
      itemNumber: 6,
      step: 6
    };
  },
  computed: {
    ...mapGetters(["articles"])
  },
  methods: {
    ...mapActions(["getArticles", "getArticle"]),
    showArticle(articleId) {
      this.getArticle(articleId).then(article => {
        this.article = article;
        this.$bvModal.show("blog-post-modal");
      });
    },
    expandArticles() {
      if (this.expandTitle == 'Load More') {
        this.itemNumber = this.itemNumber + this.step;
        this.articlesArr = this.articles.slice(0, this.itemNumber);
        if (this.itemNumber === this.articles.length) this.expandTitle = '';
      }
    },
  },
  created() {
    this.loading = true;
    this.getArticles().then((res) => {
      this.articlesArr = this.articles.slice(0, this.itemNumber);
      this.loading = false;
    });
  },
  mounted() {}
};
</script>
