<template>
  <div>
    <div class="tab-content__inner">
      <div class="home-tab p-15 candidate-dash-tab">
        <div class="row">
          <div class="col-xl-7 col-lg-12">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="mb-3">Personalization Accuracy</h3>

                <b-progress :value="skillBasedValue"></b-progress>
                <h5 class="text-right mt-2 mb-4">
                  Skill Based {{ skillBasedValue }}%
                </h5>
                <b-progress :value="intrestBasedValue"></b-progress>
                <h5 class="text-right mt-2">
                  Interest Based {{ intrestBasedValue }}%
                </h5>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-12">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="mb-3">Resume Value Estimate</h3>
                <h2 class="mb-3 h1 has-money-amount">
                  <!-- <sup>$</sup><span class="ammount-text">{{ resumeValue | currency("$", 0, { decimalSeparator: "," }) }}</span> -->
                  <sup class="mr-n2">$</sup>
                  <ICountUp
                    :delay="2000"
                    :startVal="0"
                    :endVal="this.resumeValue"
                    :decimals="decimals"
                    :duration="5000"
                    :options="countUpOptions"
                  />
                  <span class="text-sm h2">Annual</span>
                </h2>
                <h2 class="h1 has-money-amount">
                  <sup class="mr-n2">$</sup>
                  <ICountUp
                    :delay="2000"
                    :startVal="0"
                    :endVal="this.resumeValue * 30"
                    :decimals="decimals"
                    :duration="5000"
                    :options="countUpOptions"
                  />
                  <span class="text-sm h2">30 Year</span>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h3>Checklist</h3>
              <h3>{{ checkListPercent }}% Complete</h3>
            </div>
            <b-list-group>
              <b-list-group-item class="d-flex align-items-center mb-2">
                <b-icon
                  class="mr-2"
                  :icon="`${userInfoStatus ? 'check2-circle' : 'x-circle'}`"
                  font-scale="1.5"
                  :variant="`${userInfoStatus ? 'primary' : 'danger'}`"
                ></b-icon>
                Welcome
              </b-list-group-item>
              <b-list-group-item
                class="d-flex align-items-center mb-2"
                @click="viewCandidateTutorial()"
              >
                <b-icon
                  class="mr-2"
                  :icon="`${userInfoStatus ? 'check2-circle' : 'x-circle'}`"
                  font-scale="1.5"
                  :variant="`${userInfoStatus ? 'primary' : 'danger'}`"
                ></b-icon>
                <p>
                  Complete tutorial (<span @click="viewCandidateTutorial()"
                    >click here to view it again </span
                  >)
                </p>
              </b-list-group-item>
              <b-list-group-item class="d-flex align-items-center mb-2">
                <b-icon
                  class="mr-2"
                  icon="check2-circle"
                  font-scale="1.5"
                  variant="primary"
                ></b-icon>
                Update your info tab.
              </b-list-group-item>
              <b-list-group-item class="d-flex align-items-center mb-2">
                <b-icon
                  class="mr-2"
                  :icon="`${skills.length > 3 ? 'check2-circle' : 'x-circle'}`"
                  font-scale="1.5"
                  :variant="`${skills.length > 3 ? 'primary' : 'danger'}`"
                ></b-icon>
                Add atleast 4 skills in your digital resume
                <span class="icon-wrap ml-2">
                  <SkillsIcon></SkillsIcon>
                </span>
              </b-list-group-item>
              <b-list-group-item class="d-flex align-items-center mb-2">
                <b-icon
                  class="mr-2"
                  :icon="`${
                    interests.length > 9 ? 'check2-circle' : 'x-circle'
                  }`"
                  font-scale="1.5"
                  :variant="`${interests.length > 9 ? 'primary' : 'danger'}`"
                ></b-icon>
                Add atleast 10 interest in your digital resume
                <span class="icon-wrap ml-2">
                  <InterestsIcon></InterestsIcon>
                </span>
              </b-list-group-item>
            </b-list-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import config from "../../config/config";
import SkillsIcon from "../resumeBuilder/icons/SkillsIcon";
import InterestsIcon from "..//resumeBuilder/icons/InterestsIcon";
import ICountUp from "vue-countup-v2";
export default {
  name: "CandidateHomeComponent",
  components: {
    SkillsIcon,
    InterestsIcon,
    ICountUp,
  },
  data() {
    return {
      skills: [],
      interests: [],
      userData: this.$store.getters.userData,
      decimals: 0,
      duration: 2.5,
      countUpOptions: {
        useEasing: true,
        useGrouping: true,
        separator: ",",
        decimal: ".",
        prefix: "",
        suffix: "",
      },
    };
  },
  props: {},
  computed: {
    ...mapGetters(["userData", "onLineJobsList"]),

    skillBasedValue() {
      const resValue =
        (this.skills.length / 4) * 100 > 100
          ? 100
          : (this.skills.length / 4) * 100;
      return resValue;
    },
    intrestBasedValue() {
      const resValue =
        (this.interests.length / 10) * 100 > 100
          ? 100
          : (this.interests.length / 10) * 100;
      return resValue;
    },
    resumeValue() {
      let iNum = 0;
      let sumSalaryRate = 0;
      this.onLineJobsList.forEach((item) => {
        if (item["max_salary"]) {
          const salary_type = item.salary_type["name"];
          const salary_term = item.salary_term["name"];

          let jobSalaryRate = 0;
          if (salary_type == "Range") {
            const maxValue = parseInt(item.max_salary.replace(/\,/g, ""), 10);
            const minValue = parseInt(item.min_salary.replace(/\,/g, ""), 10);
            if (salary_term == "Annually") {
              jobSalaryRate = ((maxValue + minValue) / 2) * 1;
            } else if (salary_term == "Monthly") {
              jobSalaryRate = ((maxValue + minValue) / 2) * 12;
            } else if (salary_term == "Hourly") {
              jobSalaryRate = ((maxValue + minValue) / 2) * 1920;
            } else if (salary_term == "Bi-Weekly") {
              jobSalaryRate = ((maxValue + minValue) / 2) * 24;
            }
          }

          iNum++;
          sumSalaryRate += jobSalaryRate;
        }
      });
      return parseInt(sumSalaryRate / iNum);
    },
    userInfoStatus() {
      const compareArr = [
        "firstName",
        "lastName",
        "email",
        "phone_number",
        "country_id",
        "city_id",
        "state_id",
        // 'candidate.qualification',
        // 'candidate.field_of_study_id',
        "gender",
        "date_of_birth",
      ];

      let infoFlag = false;
      compareArr.forEach((item) => {
        if (this.userData[item]) {
          infoFlag = true;
        } else {
          infoFlag = false;
        }
      });

      if (
        this.userData.candidate.qualification &&
        this.userData.candidate.field_of_study_id
      ) {
        infoFlag = true;
      } else {
        infoFlag = false;
      }

      return infoFlag;
    },
    checkListPercent() {
      let vol = 1;
      if (this.userInfoStatus) vol++;
      if (this.skills.length > 3) vol++;
      if (this.interests.length > 9) vol++;

      return (vol / 4) * 100;
    },
  },
  mounted() {
    this.getResumeSkills();
    this.getResumeInterest();
  },
  methods: {
    viewCandidateTutorial() {
      if (this.$mq != "mobile") {
        this.$tours["oneCrate_CandidateTour"].start();
      } else {
        this.$tours["oneCrate_CandidateTourMobile"].start();
      }
    },
    getResumeSkills() {
      axios
        .get(config.apiURL + "getResumeSkill", {})
        .then((response) => {
          this.skills = response.data;
          this.$store.commit("set_skills", response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getResumeInterest() {
      axios
        .get(config.apiURL + "getResumeInterest", {})
        .then((response) => {
          this.interests = response.data;
          this.$store.commit("set_interests", response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
