<template>
  <div class="h-100">
    <div class="content-right has-box-shadow h-100">
      <!-- Nav tabs -->
      <div class="tabs-wrapper h-100" data-v-step="6">
        <b-tabs
          content-class="flex-fill"
          fill
          nav-class="on-active-white tabs-small has-2-tabs"
        >
          <b-tab active>
            <template v-slot:title>
              <span class="h3 m-0 text-strong">Available</span>
            </template>
            <div v-if="!isLoading" class="tab-content__inner">
              <ul
                class="candidate-jobs-listing p-2"
                v-if="onlineJobs && onlineJobs.length > 0"
              >
                <li v-for="(joblist, index) in onlineJobs">
                  <div class="profile-card has-hover-effect">
                    <div class="glassy-hover-effect"></div>
                    <div class="profile-card__meta border-0">
                      <div
                        class="profile-card__meta__data profile-card__meta__data--sm d-flex align-items-center"
                      >
                        <b-button
                          @click="viewJob(joblist.id)"
                          variant="-reset"
                          class="text-left text-overflow w-100 p-0 mr-3 d-flex align-items-center"
                          v-tooltip.top="'Job Details'"
                        >
                          <div class="thumbnail">
                            <img
                              v-if="joblist.company.user.image"
                              class="img-fluid"
                              :src="joblist.company.user.image"
                              @error="imageUrlAlt"
                            />
                            <img
                              v-else
                              :size="60"
                              class="img-fluid"
                              src="/assets/images/company-placeholder.png"
                            />
                          </div>
                          <div
                            class="inner-content d-flex flex-column align-items-start"
                          >
                            <h5>{{ joblist.title && joblist.title.name }}</h5>
                            <p
                              class="text-overflow mw-100 text-blue"
                              v-if="joblist.company"
                            >
                              {{ joblist.company && joblist.company.name }}
                            </p>
                          </div>
                        </b-button>
                        <b-dropdown
                          dropleft
                          no-caret
                          toggle-class="btn btn--reset p-0 mr-n2"
                          variant="default"
                        >
                          <template v-slot:button-content>
                            <i
                              class="fa fa-ellipsis-v px-2"
                              aria-hidden="true"
                              v-tooltip.left="'Actions'"
                            ></i>
                          </template>
                          <b-dropdown-item
                            @click="viewCompanyInfo(joblist.company.user_id)"
                            ><span class="icon-wrap"
                              ><img
                                src="assets/images/company_profile.svg"
                                alt="" /></span
                            >Company Profile</b-dropdown-item
                          >
                          <b-dropdown-item @click="addToFavourites(joblist.id)"
                            ><span class="icon-wrap"
                              ><i class="far fa-heart text-danger"></i></span
                            >Add To Favourites</b-dropdown-item
                          >
                        </b-dropdown>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </b-tab>
          <b-tab>
            <template v-slot:title>
              <span class="h3 m-0 text-strong">Sent</span>
            </template>
            <div v-if="!isLoading" class="tab-content__inner">
              <ul
                class="candidate-jobs-listing p-2"
                v-if="appliedJobsList && appliedJobsList.length > 0"
              >
                <li
                  v-for="(joblist, index) in appliedJobsList"
                  v-if="joblist.job"
                >
                  <div class="profile-card has-hover-effect">
                    <div class="glassy-hover-effect"></div>
                    <div class="profile-card__meta border-0">
                      <div
                        class="profile-card__meta__data profile-card__meta__data--sm d-flex align-items-center"
                      >
                        <b-button
                          @click="viewAppliedJob(joblist.job.id)"
                          variant="-reset"
                          class="text-left text-overflow w-100 p-0 mr-3 d-flex align-items-center"
                          v-tooltip.top="'Job Details'"
                        >
                          <div class="thumbnail">
                            <img
                              v-if="
                                joblist.job && joblist.job.company.user.image
                              "
                              class="img-fluid"
                              :src="joblist.job.company.user.image"
                              @error="imageUrlAlt"
                            />
                            <img
                              v-else
                              :size="60"
                              class="img-fluid"
                              src="/assets/images/company-placeholder.png"
                            />
                          </div>
                          <div
                            class="inner-content d-flex flex-column align-items-start"
                          >
                            <h5>
                              {{ joblist.job.title && joblist.job.title.name }}
                            </h5>
                            <p
                              class="text-overflow mw-100 text-blue"
                              v-if="joblist.job.company"
                            >
                              {{
                                joblist.job.company && joblist.job.company.name
                              }}
                            </p>
                          </div>
                        </b-button>
                        <b-dropdown
                          dropleft
                          no-caret
                          toggle-class="btn btn--reset p-0 mr-n2"
                          variant="default"
                        >
                          <template v-slot:button-content>
                            <i
                              class="fa fa-ellipsis-v px-2"
                              aria-hidden="true"
                              v-tooltip.left="'Actions'"
                            ></i>
                          </template>
                          <b-dropdown-item
                            @click="
                              viewCompanyInfo(joblist.job.company.user_id)
                            "
                            ><span class="icon-wrap"
                              ><img
                                src="assets/images/company_profile.svg"
                                alt="" /></span
                            >Company Profile</b-dropdown-item
                          >
                          <b-dropdown-item
                            @click="addToFavourites(joblist.job.id)"
                            ><span class="icon-wrap"
                              ><i class="far fa-heart text-danger"></i></span
                            >Add To Favourites</b-dropdown-item
                          >
                          <b-dropdown-item @click="removeCandidate(joblist.id)"
                            ><span class="icon-wrap"
                              ><i class="fas fa-trash text-danger"></i></span
                            >Remove</b-dropdown-item
                          >
                        </b-dropdown>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </b-tab>
        </b-tabs>

        <!--<map-location-modal :bus="bus" />-->
      </div>
    </div>
  </div>
</template>
<script>
import ViewJobModal from "../job/ViewJobModal";
import { mapGetters } from "vuex";
import config from "../../config/config";
import { Avatar } from "vue-avatar";
import _ from "lodash";
import ViewCompanyModal from "../job/ViewCompanyModal";
// import MapLocationModal from "../job/MapLocationModal";
import ApplyJobModal from "../job/ApplyJobModal";
import LoadingBar from "../common/LoadingBar";
export default {
  name: "CandidateSidebarComponent",
  components: {
    ViewCompanyModal,
    ViewJobModal,
    ApplyJobModal,
    Avatar,
    LoadingBar,
  },
  data() {
    return {
      onlineJobs: [],
      appliedJobs: [],
      jobDetails: null,
      companyDetails: null,
      companyMap: null,
      bus: new Vue(),
      isLoading: false,
    };
  },
  props: {
    appliedJobList: {
      type: Array,
    },
  },
  computed: {
    ...mapGetters(["appliedJobsList"]),
  },
  methods: {
    imageUrlAlt(event) {
      event.target.src = "assets/images/company-placeholder.png";
    },
    addToFavourites(id) {
      let formData = new FormData();
      formData.append("job_id", id);
      this.$store.dispatch("setFavorites", formData);
    },
    viewJob(jobId) {
      this.isLoading = true;
      //var nodeData = this.chart.get(jobId);
      axios({ url: config.apiURL + "showJobDetails/" + jobId, method: "GET" })
        .then((resp) => {
          this.isLoading = false;
          // console.warn("Job Detail: "+JSON.stringify(resp.data));
          this.jobDetails = resp.data;
          this.$parent.bus.$emit("applyJobDetails", resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    viewAppliedJob(jobId) {
      //var nodeData = this.chart.get(jobId);
      axios({ url: config.apiURL + "showJobDetails/" + jobId, method: "GET" })
        .then((resp) => {
          // console.warn("Job Detail: "+JSON.stringify(resp.data));
          this.jobDetails = resp.data;
          this.$parent.bus.$emit("viewJobDetails", resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    viewCompanyInfo(userId) {
      axios({ url: config.apiURL + "showCompanyInfo/" + userId, method: "GET" })
        .then((resp) => {
          this.companyDetails = resp.data;
          this.$parent.bus.$emit("viewCompanyDetails", resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    removeCandidate(id) {
      let formData = new FormData();
      formData.append("id", id);

      axios({
        url: config.apiURL + "removeCandidateSidebarJob",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          this.$store.dispatch("update_appliedJobs", resp.data);
          //this.$parent.bus.$emit('applyJobDetails',resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    viewCompanyMap(companyId) {
      axios({
        url: config.apiURL + "showCompanyMap/" + companyId,
        method: "GET",
      })
        .then((resp) => {
          this.companyMap = resp.data;
          this.bus.$emit("loadCompanyMap", resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getOnlineJobs: function () {
      this.isLoading = true;
      axios.get(config.apiURL + "getOnlineJobs/").then(
        function (response) {
          this.isLoading = false;
          this.onlineJobs = response.data;
          this.$store.dispatch("update_onLineJobs", response.data);
        }.bind(this)
      );
    },
    getAppliedJobs: function () {
      this.isLoading = true;
      axios.get(config.apiURL + "getAppliedJobs/").then(
        function (response) {
          this.isLoading = false;
          this.$store.dispatch("update_appliedJobs", response.data);
        }.bind(this)
      );
    },
  },
  created: function () {
    this.getOnlineJobs();
    this.getAppliedJobs();
  },
};
</script>
