<template>
  <div class="h-100" sticky-container>
    <div id="search-bar" class="search-bar p-15">
      <div class="d-flex">
        <div class="row row-gutter-7 flex-fill">
          <div class="col-xl-3 col-md-6 mb-2 mb-xl-0">
            <div class="input-wrapper input-wrapper--has-search">
              <vue-bootstrap-typeahead
                :data="jobTitleList"
                v-model="jobTitleSearch"
                :serializer="(s) => s.name"
                placeholder="Enter Job Title"
                @hit="selectedJobTitle"
                ref="typeaheadJobTitle"
              />
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-2 mb-xl-0" v-if="$mq != 'mobile'">
            <div class="input-wrapper input-wrapper--has-search">
              <vue-bootstrap-typeahead
                :data="jobCategoryList"
                v-model="jobCategorySearch"
                :serializer="(s) => s.name"
                placeholder="Enter Job Category"
                @hit="selectedJobCategory"
                ref="typeaheadJobCategory"
              />
            </div>
          </div>
          <div class="col-xl-3 col-md-6" v-if="$mq != 'mobile'">
            <div class="input-wrapper input-wrapper--has-search">
              <vue-bootstrap-typeahead
                :data="stateslist"
                v-model="states_search"
                :serializer="(s) => s.name"
                placeholder="Select State"
                @hit="selectedState"
                ref="typeaheadState"
              />
            </div>
          </div>
          <div class="col-xl-3 col-md-6" v-if="$mq != 'mobile'">
            <div class="input-wrapper input-wrapper--has-search">
              <vue-bootstrap-typeahead
                :data="citieslist"
                v-model="city_search"
                :serializer="(s) => s.name"
                placeholder="Select City"
                @hit="selectedCity"
                ref="typeaheadCity"
              />
            </div>
          </div>
          <!-- <div class="col-xl-4 col-md-6">
                        <div class="input-wrapper">
                            <input type="hidden" name="searchcategory" id="searchcategory" v-model="searchcategory">
                            <v-select  name="category_search" id="category_search" class="form-control px-0" label="name" :options="categorieslist"
                                    v-model.trim="category_search" placeholder="Select Category"></v-select>
                        </div>
                    </div> -->
        </div>
        <div class="col-auto pr-0">
          <div class="">
            <b-button
              v-b-modal.candidate-search-filters-modal
              class="btn btn--round btn--round--blue text-reset"
              v-tooltip.top="'Filters'"
            >
              <i class="fas fa-sliders-h"></i>
            </b-button>
            <b-modal
              id="candidate-search-filters-modal"
              centered
              title="Filters"
              footer-class="justify-content-end pt-0"
            >
              <div class="input-wrapper input-wrapper--has-search form-group">
                <vue-bootstrap-typeahead
                  :data="skillsList"
                  v-model="skillsSearch"
                  :serializer="(s) => s.name"
                  placeholder="Enter skills"
                  @hit="selectedSkill"
                  ref="typeaheadSkill"
                />
              </div>
              <div class="input-wrapper form-group">
                <v-select
                  name="qualification"
                  id="qualification"
                  ref="qualification"
                  label="name"
                  placeholder="Select Qualification"
                  v-model="qualification"
                  :options="qualificationList"
                  @input="selectedQualification"
                >
                </v-select>
              </div>
              <div class="input-wrapper form-group">
                <v-select
                  name="experience_level"
                  id="experience_level"
                  ref="experience_level"
                  label="name"
                  placeholder="Select Experience Level"
                  v-model="experience"
                  :options="experienceList"
                  @input="selectedExperience"
                >
                </v-select>
              </div>
              <div class="input-wrapper form-group">
                <v-select
                  name="job_type"
                  id="job_type"
                  ref="job_type"
                  label="name"
                  placeholder="Select Job Type"
                  v-model="jobType"
                  :options="jobTypeList"
                  @input="selectedJobType"
                >
                </v-select>
              </div>
              <div class="input-wrapper">
                <v-select
                  name="department"
                  id="department"
                  label="name"
                  placeholder="Select Department"
                  v-model="department"
                  :options="departmentList"
                  @input="selectedDepartment"
                >
                </v-select>
              </div>
              <template v-slot:modal-footer="{ ok, cancel }">
                <p
                  class="cursor-pointer text-decoration-underline"
                  @click="clearSearch()"
                >
                  Clear Search
                </p>
                <b-button variant="primary" @click="searchJobs()"
                  >Search</b-button
                >
              </template>
            </b-modal>
          </div>
        </div>
        <div class="col-auto">
          <button
            v-if="isOnline"
            @click="getOfflineJobs(false)"
            class="btn btn-primary"
          >
            View Offline Jobs
          </button>
          <button v-else @click="getOnlineJobs()" class="btn btn-primary">
            View Online Jobs
          </button>
        </div>
      </div>
    </div>
    <div class="search-tab candidate-search-tab">
      <div class="search-tab-content p-15 pt-0">
        <div
          v-if="isLoading"
          id="loading"
          class="loading-static active"
          style="background: none; position: absolute"
        >
          <div id="loading-inner">
            <div class="loading-logo-icon"></div>
            <div class="loading-circle" id="loading-circle-1"></div>
            <div class="loading-circle" id="loading-circle-2"></div>
            <div class="loading-circle" id="loading-circle-3"></div>
            <div class="loading-circle" id="loading-circle-4"></div>
          </div>
        </div>
        <ul class="candidates-list my-neg-10" v-if="!isLoading">
          <li v-for="(joblist, index) in onlineJobs">
            <div class="profile-card has-hover-effect">
              <div class="glassy-hover-effect"></div>
              <div
                class="profile-card__meta d-flex space-between align-items-center"
                v-if="$mq != 'mobile'"
              >
                <div class="profile-card__meta__data d-flex align-items-center">
                  <div class="thumbnail">
                    <img
                      v-if="joblist.company.user && joblist.company.user.image"
                      class="img-fluid"
                      :src="joblist.company.user.image || defaultUserImage"
                      @error="imageUrlAlt"
                    />
                    <img
                      v-else
                      :size="60"
                      class="img-fluid"
                      src="/assets/images/company-placeholder.png"
                    />
                  </div>
                  <div
                    class="inner-content d-flex flex-column align-items-start"
                  >
                    <h5
                      class="cursor-pointer mw-100"
                      v-tooltip.top="'Job Details'"
                      @click="viewJob(joblist.id)"
                    >
                      {{ joblist.title && joblist.title.name }}
                    </h5>
                    <p
                      class="cursor-pointer text-blue mw-100"
                      v-tooltip.top="'Company Profile'"
                      @click="viewCompanyInfo(joblist.company.user_id)"
                    >
                      {{ isOnline ? (joblist.company && joblist.company.name) : '--' }}
                    </p>
                  </div>
                </div>
                <div class="profile-card__cta">
                  <button
                    @click="addToFavourites(joblist.id)"
                    v-if="joblist.favourites == null"
                    class="btn btn--round btn--round--heart mr-2"
                  >
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </button>
                  <button
                    v-else
                    @click="removeFavourites(joblist.id, joblist.job_id)"
                    class="btn btn--round btn--round--heart btn--round--favorite mr-2"
                  >
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </button>
                  <button @click="viewJob(joblist.id)" class="btn btn-primary">
                    View
                  </button>
                </div>
              </div>

              <!-- ================================= Mobile Devices ====================================== -->
              <b-button
                v-if="$mq === 'mobile'"
                @click="viewJob(joblist.id)"
                variant="-reset"
                title="View resume"
                class="text-left text-overflow w-100 p-0"
              >
                <div
                  class="profile-card__meta d-flex space-between flex-row align-items-center"
                >
                  <div
                    class="profile-card__meta__data d-flex align-items-center mb-0"
                  >
                    <div class="thumbnail">
                      <img
                        v-if="joblist.company.user.image"
                        class="img-fluid"
                        :src="joblist.company.user.image"
                        @error="imageUrlAlt"
                      />
                      <img
                        v-else
                        class="img-fluid"
                        src="/assets/images/company-placeholder.png"
                      />
                    </div>
                    <div
                      class="inner-content d-flex flex-column align-items-start"
                    >
                      <h5
                        class="cursor-pointer mw-100"
                        @click="viewJob(joblist.id)"
                      >
                        {{ joblist.title && joblist.title.name }}
                      </h5>
                      <p class="cursor-pointer text-blue mw-100">
                        {{ joblist.company && joblist.company.name }}
                      </p>
                    </div>
                  </div>
                </div>
              </b-button>
              <div
                class="profile-card__cta profile-card__cta--mobile p-2"
                v-if="$mq === 'mobile'"
              >
                <b-dropdown
                  dropleft
                  no-caret
                  toggle-class="btn btn--reset p-0"
                  variant="default"
                >
                  <template v-slot:button-content>
                    <i
                      class="fa fa-ellipsis-v px-2"
                      aria-hidden="true"
                      v-tooltip.left="'Actions'"
                    ></i>
                  </template>
                  <b-dropdown-item
                    @click="viewCompanyInfo(joblist.company.user_id)"
                    ><span class="icon-wrap"
                      ><img
                        src="assets/images/company_profile.svg"
                        alt="" /></span
                    >Company Profile</b-dropdown-item
                  >
                </b-dropdown>
              </div>
              <div
                class="profile-card__footer d-flex align-items-center"
                v-if="$mq != 'mobile'"
              >
                <div class="w-50 pr-7">
                  <p>
                    <span class="text-blue">Location</span>
                    {{ isOnline ? (joblist.state && joblist.state.name) : '--' }}, {{ isOnline ? (joblist.country && joblist.country.name) : '--' }}
                  </p>
                </div>
                <div class="w-50">
                  <p>
                    <span class="text-blue">Qualification</span>
                    {{ isOnline ? (joblist.qualification && joblist.qualification.name) : '--' }}
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <div class="mt-3 d-flex justify-content-center">
          <b-button v-if="expandTitle" variant="primary" @click="expandFunc()">
            {{expandTitle}}
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import vSelect from "vue-select";
import ButtonSpinner from "vue-button-spinner";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
import ViewCompanyModal from "../job/ViewCompanyModal";
import ApplyJobModal from "../job/ApplyJobModal";
import config from "../../config/config";
import { Avatar } from "vue-avatar";
import _ from "lodash";
export default {
  name: "CandidateSearchComponent",
  components: {
    vSelect,
    ButtonSpinner,
    VueBootstrapTypeahead,
    ViewCompanyModal,
    ApplyJobModal,
    Avatar,
  },
  data() {
    return {
      isLoading: false,
      states_search: "",
      stateslist: [],
      citieslist: [],
      city_search: "",
      categorieslist: [],
      jobsList: [],
      onlineJobs: [],
      onlineJobsList: [],
      offlineJobsList: [],
      isOnline: true,
      category_search: "",
      searchcategory: "",
      jobTitle: "",
      jobSkills: "",
      itemsApi: [],
      item: "",
      items: [],
      skillsList: [],
      jobcity: "",
      jobstate: "",
      jobskills: "",
      jobexpertise: "",
      skill_loading: "",
      searchSkill: null,
      skillsSearch: "",
      searchState: null,
      searchCity: null,
      skill_id: "",
      query: "",
      jobDetails: null,
      companyDetails: null,
      searchstate: "",
      expertisevalue: "",
      bookmarks: null,
      jobTitleList: [],
      jobTitleSearch: "",
      searchJobTitle: null,
      jobCategoryList: [],
      jobCategorySearch: "",
      searchJobCategory: null,
      qualificationList: [],
      searchQualification: null,
      experienceList: [],
      searchExperience: null,
      jobTypeList: [],
      searchJobType: null,
      departmentList: [],
      searchDepartment: null,
      department: null,
      jobType: null,
      experience: null,
      qualification: null,
      pageNumber: 0,
      totalPage: 0,
      defaultCompanyImage: config.imagesURL + "assets/images/company-placeholder.png",
      defaultUserImage: config.imagesURL + "assets/images/user-placeholder.png",
      loading: false,
      expandTitle: 'Load More',
      itemNumber: 6,
      step: 6,
    };
  },
  props: ["bus"],
  mounted() {
    this.bus.$on("searchRefactor", this.searchRefactor);
  },
  methods: {
    imageUrlAlt(event) {
      event.target.src = "assets/images/company-placeholder.png";
    },
    removeFavourites(id, job_id) {
      let formData = new FormData();
      formData.append("byJob", 1);
      formData.append("id", id);
      axios({
        url: config.apiURL + "removeFavourites",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          this.searchRefactor(id);
          this.$store.dispatch("updateFavorite", resp.data);
        })
        .catch((err) => {
          this.isLoading = false;
          this.error = err.response.data.error;
          let errors = err.response.data.errors;
          for (const [key, value] of Object.entries(errors)) {
            value.forEach((text, index) => {
              this.$notify({
                group: "foo",
                type: "error",
                title: key,
                text: text,
              });
            });
          }
        });
    },
    selectedJobTitle(data) {
      this.searchJobTitle = data.id;
      this.searchJobs();
    },
    selectedJobCategory(data) {
      this.searchJobCategory = data.id;
      this.searchJobs();
    },
    selectedState(data) {
      this.searchState = data.id;
      this.getCities(data.id);
      this.searchJobs();
    },
    selectedCity(data) {
      this.searchCity = data.id;
      this.searchJobs();
    },
    selectedSkill(data) {
      this.searchSkill = data.id;
    },
    selectedQualification(value) {
      this.searchQualification = value.id;
    },
    selectedExperience(value) {
      this.searchExperience = value.id;
    },
    selectedJobType(value) {
      this.searchJobType = value.id;
    },
    selectedDepartment(value) {
      this.searchDepartment = value.id;
    },
    getSkills(query) {
      axios({ url: config.apiURL + "getSkills/" + query, method: "GET" })
        .then((resp) => {
          this.skillsList = resp.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getJobTitle(query) {
      axios({ url: config.apiURL + "getJobTitle/" + query, method: "GET" })
        .then((resp) => {
          this.jobTitleList = resp.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getJobCategory(query) {
      axios({ url: config.apiURL + "getJobCategory/" + query, method: "GET" })
        .then((resp) => {
          this.jobCategoryList = resp.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getQualification: function () {
      axios.get("/api/getQualificationList/").then(
        function (response) {
          this.qualificationList = response.data;
        }.bind(this)
      );
    },
    getJobType: function () {
      axios.get("/api/getJobTypes/").then(
        function (response) {
          this.jobTypeList = response.data;
        }.bind(this)
      );
    },
    getDepartments: function () {
      axios.get("/api/getJobDepartment/").then(
        function (response) {
          this.departmentList = response.data;
        }.bind(this)
      );
    },
    addToFavourites(id) {
      console.log("fav", id);
      let formData = new FormData();
      formData.append("job_id", id);
      let temp = this.onlineJobs.findIndex((x) => x.id === id);
      if (temp != -1) {
        this.onlineJobs[temp].favourites = true;
      }
      this.$store.dispatch("setFavorites", formData);
    },
    getExperienceLevel: function () {
      axios.get("/api/getJobExperience/").then(
        function (response) {
          this.experienceList = response.data;
        }.bind(this)
      );
    },
    searchRefactor(id) {
      let temp = this.onlineJobs.findIndex((x) => x.id === id);
      if (temp != -1) {
        this.onlineJobs[temp].favourites = null;
      }
    },
    viewJob(jobId) {
      axios({ url: config.apiURL + "showJobDetails/" + jobId, method: "GET" })
        .then((resp) => {
          this.jobDetails = resp.data;
          this.$parent.$parent.$parent.bus.$emit("applyJobDetails", resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    viewCompanyInfo(userId) {
      axios({ url: config.apiURL + "showCompanyInfo/" + userId, method: "GET" })
        .then((resp) => {
          this.companyDetails = resp.data;
          this.$parent.$parent.$parent.bus.$emit(
            "viewCompanyDetails",
            resp.data
          );
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getStates: function (query) {
      axios.get(config.apiURL + "getStates/" + query).then(
        function (response) {
          this.stateslist = response.data;
        }.bind(this)
      );
    },
    getCities: function (query) {
      axios.get(config.apiURL + "getCities/" + query).then(
        function (response) {
          this.citieslist = response.data;
        }.bind(this)
      );
    },
    getCategory: function () {
      axios.get(config.apiURL + "getAllBlogCategory/").then(
        function (response) {
          // console.log("Response Data: "+response.data);
          this.categorieslist = response.data;
        }.bind(this)
      );
    },
    getJobsList: function () {
      axios.get(config.apiURL + "getJobsList/").then(
        function (response) {
          this.jobsList = response.data;
        }.bind(this)
      );
    },
    getOnlineJobs: function () {
      if (this.pageNumber === this.totalPage) {
        this.expandTitle = '';
      }
      axios.get(config.apiURL + "getOnlineJobs").then(
        function (response) {
          this.onlineJobsList = response.data;
          this.onlineJobs = response.data;
          this.isOnline = true;
        }.bind(this)
      );
    },
    expandFunc: function () {
      if (this.expandTitle == 'Load More') {
        this.pageNumber = this.pageNumber + 1;
        this.getOfflineJobs(true);
      }
    },
    getOfflineJobs: function (flag) {
      let lastPage = 0;
      if (!flag) {
        this.pageNumber = 0;
        axios.get(config.apiURL + `getOfflineJobsTotal/${this.pageNumber}`).then(
          function (response) {
            this.onlineJobsList = response.data;

            this.onlineJobs = response.data.data;
            lastPage = response.data.last_page;
            this.totalPage = response.data.last_page;
            this.isOnline = false;
          }.bind(this)
        );
      } else {
        axios.get(config.apiURL + `getOfflineJobsTotal/${this.pageNumber}`).then(
          function (response) {
            this.onlineJobsList = response.data;

            const temp = [
              ...this.onlineJobs,
              ...response.data.data,
            ]
            this.onlineJobs = temp;
            lastPage = response.data.last_page;
            this.totalPage = response.data.last_page;
            this.isOnline = false;
          }.bind(this)
        );
      }

      if (this.pageNumber === (lastPage - 1)) {
        this.expandTitle = '';
      } else {
        this.expandTitle = 'Load More';
      }

      // this.offlineJobsList = this.jobsList.filter(
      //   (item) => !this.onlineJobs.some((job) => job.id === item.id)
      // );
      // this.onlineJobs = this.offlineJobsList;
      // this.isOnline = false;
    },
    searchJobs(clearModal = 0) {
      this.isLoading = true;
      let formData = new FormData();
      if (!this.jobTitleSearch) {
        this.searchJobTitle = null;
      }
      if (!this.jobCategorySearch) {
        this.searchJobCategory = null;
      }
      if (!this.states_search) {
        this.searchState = null;
      }
      if (!this.city_search) {
        this.searchCity = null;
      }

      formData.append("isOnlineValue", this.isOnline ? 1 : 0);
      if (this.searchJobTitle) formData.append("jobTitle", this.searchJobTitle);

      if (this.searchJobCategory)
        formData.append("jobCategory", this.searchJobCategory);

      if (this.searchState) formData.append("state", this.searchState);

      if (this.searchCity) formData.append("city", this.searchCity);

      if (this.searchSkill) formData.append("skill", this.searchSkill);

      if (this.searchQualification)
        formData.append("qualification", this.searchQualification);

      if (this.searchExperience)
        formData.append("experience", this.searchExperience);

      if (this.searchJobType) formData.append("jobType", this.searchJobType);

      if (this.searchDepartment)
        formData.append("department", this.searchDepartment);

      axios({
        url: config.apiURL + "searchJobs",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          this.onlineJobs = resp.data;
          this.isLoading = false;
          if (!clearModal) this.$bvModal.hide("candidate-search-filters-modal");
        })
        .catch((err) => {
          console.log(err);
        });
    },
    clearSearch() {
      this.searchSkill = null;
      this.searchQualification = null;
      this.searchExperience = null;
      this.searchJobType = null;
      this.searchDepartment = null;

      this.$refs.typeaheadSkill.inputValue = "";
      this.skillsList = [];
      this.skillsSearch = null;
      this.department = null;
      this.jobType = null;
      this.experience = null;
      this.qualification = null;
      this.searchJobs(1);
    },
  },
  watch: {
    jobTitleSearch: _.debounce(function (item) {
      this.getJobTitle(item);
      if (!item) this.searchJobs();
    }, 500),
    jobCategorySearch: _.debounce(function (item) {
      this.getJobCategory(item);
      if (!item) this.searchJobs();
    }, 500),
    states_search: _.debounce(function (item) {
      this.getStates(item);
      if (!item) this.searchJobs();
    }, 500),
    city_search: _.debounce(function (item) {
      this.getCities(item);
      if (!item) this.searchJobs();
    }, 500),
    skillsSearch: _.debounce(function (item) {
      this.getSkills(item);
    }, 500),
  },
  created: function () {
    this.getStates();
    this.getCategory();
    this.getJobsList();
    this.getOnlineJobs();
    this.getQualification();
    this.getExperienceLevel();
    this.getJobType();
    this.getDepartments();
  },
};
</script>
