<template>
  <div>
    <div class="favourite-tab p-15 pt-4">
      <ul class="candidates-list my-neg-10">
        <li
          v-for="(joblist, index) in favorites"
          :ref="'bookmark_' + joblist.id"
        >
          <div class="profile-card has-hover-effect">
            <div class="glassy-hover-effect"></div>
            <div
              class="profile-card__meta d-flex space-between align-items-center"
              v-if="$mq != 'mobile'"
            >
              <div class="profile-card__meta__data d-flex align-items-center">
                <div class="thumbnail">
                  <img
                    class="img-fluid"
                    :src="joblist.job.company.user.image || defaultCompanyImage"
                    @error="imageUrlAlt"
                  />
                </div>
                <div class="inner-content d-flex flex-column align-items-start">
                  <h5
                    class="cursor-pointer mw-100"
                    v-tooltip.top="'Job Details'"
                    @click="viewJob(joblist.job.id)"
                  >
                    {{ joblist.job.title.name }}
                  </h5>
                  <p
                    class="cursor-pointer text-blue mw-100"
                    v-tooltip.top="'Company Profile'"
                    @click="viewCompanyInfo(joblist.job.company.user_id)"
                  >
                    {{ joblist.job.company.name }}
                  </p>
                </div>
                <div class="align-self-center" v-if="$mq === 'mobile'">
                  <b-dropdown
                    dropleft
                    no-caret
                    toggle-class="btn btn--reset p-0"
                    variant="default"
                  >
                    <template v-slot:button-content>
                      <i
                        class="fa fa-ellipsis-v px-2"
                        aria-hidden="true"
                        v-tooltip.left="'Actions'"
                      ></i>
                    </template>
                    <b-dropdown-item
                      @click="viewCompanyInfo(joblist.job.company.user_id)"
                    >
                      <span class="icon-wrap">
                        <img
                          src="assets/images/company_profile.svg"
                          alt
                        /> </span
                      >Company Profile
                    </b-dropdown-item>
                    <b-dropdown-item
                      @click="removeFavourites(joblist.id, joblist.job_id)"
                    >
                      <span class="icon-wrap">
                        <i class="fas fa-trash text-danger"></i> </span
                      >Remove from favorites
                    </b-dropdown-item>
                  </b-dropdown>
                </div>
              </div>
              <div class="profile-card__cta" v-if="$mq != 'mobile'">
                <button
                  @click="removeFavourites(joblist.id, joblist.job_id)"
                  class="btn btn--round btn--round--heart btn--round--favorite mr-2"
                >
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </button>
                <button
                  @click="viewJob(joblist.job.id)"
                  class="btn btn-primary"
                >
                  View
                </button>
              </div>
            </div>
            <div
              class="profile-card__footer d-flex align-items-center"
              v-if="$mq != 'mobile'"
            >
              <div class="w-50 pr-7">
                <p>
                  <span class="text-blue">Location</span>
                  {{ joblist.job.state.name }}, {{ joblist.job.country.name }}
                </p>
              </div>
              <div class="w-50">
                <p>
                  <span class="text-blue">Qualification</span>
                  {{ joblist.job.qualification.name }}
                </p>
              </div>
            </div>

            <!-- Mobile Devices -->
            <b-button
              v-if="$mq === 'mobile'"
              @click="viewJob(joblist.job.id)"
              variant="-reset"
              title="View resume"
              class="text-left text-overflow w-100 p-0"
            >
              <div
                class="profile-card__meta d-flex space-between flex-row align-items-center"
              >
                <div
                  class="profile-card__meta__data d-flex align-items-center mb-0"
                >
                  <div class="thumbnail">
                    <img
                      class="img-fluid"
                      :src="
                        joblist.job.company.user.image || defaultCompanyImage
                      "
                      @error="imageUrlAlt"
                    />
                  </div>
                  <div
                    class="inner-content d-flex flex-column align-items-start"
                  >
                    <h5 class="cursor-pointer mw-100">
                      {{ joblist.job.title.name }}
                    </h5>
                    <p class="cursor-pointer text-blue mw-100">
                      {{ joblist.job.company.name }}
                    </p>
                  </div>
                </div>
              </div>
            </b-button>
            <div
              class="profile-card__cta profile-card__cta--mobile p-2"
              v-if="$mq === 'mobile'"
            >
              <b-dropdown
                dropleft
                no-caret
                toggle-class="btn btn--reset p-0"
                variant="default"
              >
                <template v-slot:button-content>
                  <i
                    class="fa fa-ellipsis-v px-2"
                    aria-hidden="true"
                    v-tooltip.left="'Actions'"
                  ></i>
                </template>
                <b-dropdown-item
                  @click="viewCompanyInfo(joblist.job.company.user_id)"
                >
                  <span class="icon-wrap">
                    <img src="assets/images/company_profile.svg" alt /> </span
                  >Company Profile
                </b-dropdown-item>
                <b-dropdown-item
                  @click="removeFavourites(joblist.id, joblist.job_id)"
                >
                  <span class="icon-wrap">
                    <i class="fas fa-trash text-danger"></i> </span
                  >Remove from favorites
                </b-dropdown-item>
              </b-dropdown>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import config from "../../config/config";
import { Avatar } from "vue-avatar";
import _ from "lodash";
export default {
  name: "CandidateFavouritesComponent",
  components: { Avatar },
  data() {
    return {
      jobDetails: null,
      companyDetails: null,
      defaultCompanyImage:
        config.imagesURL + "assets/images/company-placeholder.png",
    };
  },
  props: {
    favourite: {
      type: Array,
    },
    bus: {},
  },
  computed: {
    ...mapGetters(["favorites"]),
  },
  mounted() {
    //this.bus.$on('bookMarkedJobs', this.bookMarkedJobs);
    //console.log("Parent: "+JSON.stringify(this));
  },
  methods: {
    ...mapActions(["showFavourites", "onRemoveFavourites", "onViewJob"]),
    imageUrlAlt(event) {
      event.target.src = "assets/images/company-placeholder.png";
    },
    bookMarkedJobs(data) {
      if (data !== null) {
        console.log(" Book Mark Jobs: " + JSON.stringify(data));
      }
    },
    removeFavourites(id, job_id) {
      let formData = new FormData();
      formData.append("id", id);

      this.onRemoveFavourites({
        url: "removeFavourites",
        data: formData,
      })
        .then((resp) => {
          this.bus.$emit("searchRefactor", job_id);
        })
        .catch((err) => {
          this.isLoading = false;
          this.error = err.response.data.error;
          let errors = err.response.data.errors;
          for (const [key, value] of Object.entries(errors)) {
            value.forEach((text, index) => {
              this.$notify({
                group: "foo",
                type: "error",
                title: key,
                text: text,
              });
            });
          }
        });
    },
    viewJob(jobId) {
      //var nodeData = this.chart.get(jobId);
      axios({ url: config.apiURL + "showJobDetails/" + jobId, method: "GET" })
        .then((resp) => {
          //console.warn("Job Detail: "+JSON.stringify(resp.data));
          this.jobDetails = resp.data;
          this.$parent.$parent.$parent.bus.$emit("applyJobDetails", resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    viewCompanyInfo(userId) {
      axios({ url: config.apiURL + "showCompanyInfo/" + userId, method: "GET" })
        .then((resp) => {
          this.companyDetails = resp.data;
          this.$parent.$parent.$parent.bus.$emit(
            "viewCompanyDetails",
            resp.data
          );
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  created: function () {
    this.showFavourites();
  },
};
</script>
