<template>
  <div>
    <!--{{userData}}-->
    <!--{{candidateData}}-->
    <!--{{$v}}-->
    <form action="#" method="post" ref="testing_form" @submit.prevent="submit">
      <div class="p-15 pt-4">
        <div class="row mb-xl-4">
          <div class="col-12 col-xl-6 mb-xl-0 mb-3">
            <h3 class="title-has-border mb-4">Contact Information</h3>

            <div
              class="row form-group no-gutters cols-padding-0"
              :class="{ 'form-group--error': $v.first_name.$error }"
            >
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="first_name" class="form-control-label"
                  >First Name*</label
                >
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7">
                <input
                  type="text"
                  name="first_name"
                  id="first_name"
                  class="form-control"
                  v-model.trim="$v.first_name.$model"
                  @blur="setFirstName($event.target.value)"
                  placeholder="First Name"
                />
              </div>
            </div>
            <div
              class="row form-group no-gutters cols-padding-0"
              :class="{ 'form-group--error': $v.last_name.$error }"
            >
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="last_name" class="form-control-label"
                  >Last Name*</label
                >
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7">
                <input
                  type="text"
                  name="last_name"
                  id="last_name"
                  class="form-control"
                  v-model.trim="$v.last_name.$model"
                  @blur="setLastName($event.target.value)"
                  placeholder="Last Name"
                />
              </div>
            </div>
            <div
              class="row form-group no-gutters cols-padding-0"
              :class="{ 'form-group--error': $v.email.$error }"
            >
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="email" class="form-control-label"
                  >Personal Email*</label
                >
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7">
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control"
                  v-model.trim="$v.email.$model"
                  @blur="setPersonalEmail($event.target.value)"
                  placeholder="Personal Email"
                  disabled
                />
              </div>
            </div>
            <div class="row form-group no-gutters cols-padding-0">
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="personal_email" class="form-control-label"
                  >Work Email</label
                >
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7">
                <input
                  type="email"
                  name="personal_email"
                  id="personal_email"
                  class="form-control"
                  v-model.trim="personal_email"
                  placeholder="Work Email"
                />
              </div>
            </div>
            <div class="row form-group no-gutters cols-padding-0">
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="mobile_number" class="form-control-label"
                  >Personal # *</label
                >
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7">
                <VuePhoneNumberInput
                  class="form-phone-number mt-2 higher-z"
                  name="mobile_number"
                  id="mobile_number"
                  clearable
                  show-code-on-list
                  placeholder="Mobile Number"
                  v-model.trim="mobile_number"
                />
                <!--<input type="text" name="mobile_number" id="mobile_number" class="form-control"-->
                <!--v-model.trim="$v.mobile_number.$model" @blur="setMobileNumber($event.target.value)"-->
                <!--placeholder="Mobile Number">-->
              </div>
            </div>
            <div class="row form-group no-gutters cols-padding-0">
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="phone_number" class="form-control-label"
                  >Work #</label
                >
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7">
                <VuePhoneNumberInput
                  class="form-phone-number mt-2"
                  name="phone_number"
                  id="phone_number"
                  v-model.trim="phone_number"
                  clearable
                  show-code-on-list
                  @blur="setPhoneNumber($event.target.value)"
                  placeholder="Phone Number"
                />
                <!--<input type="text" name="phone_number" id="phone_number" class="form-control"-->
                <!--v-model.trim="$v.phone_number.$model" @blur="setPhoneNumber($event.target.value)" -->
                <!--placeholder="Phone Number">-->
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6 mb-xl-0 mb-3">
            <h3 class="title-has-border mb-4">Location</h3>

            <div
              class="row form-group no-gutters cols-padding-0"
              :class="{ 'form-group--error': $v.country.$error }"
            >
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="country" class="form-control-label">Country*</label>
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                <input
                  type="hidden"
                  name="country_id"
                  id="country_id"
                  ref="country_id"
                  v-model.trim="$v.country.$model.id"
                  value=""
                />
                <v-select
                  name="country"
                  id="country"
                  class=""
                  label="name"
                  :options="countries"
                  v-model.trim="$v.country.$model"
                  @input="getStates($v.country.$model.id)"
                  @blur="setCountry($event.target.value)"
                  placeholder="Select Country"
                ></v-select>
              </div>
            </div>
            <div
              class="row form-group no-gutters cols-padding-0"
              :class="{ 'form-group--error': $v.state.$error }"
            >
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="state" class="form-control-label">State*</label>
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                <input
                  type="hidden"
                  name="state_id"
                  id="state_id"
                  ref="state_id"
                  v-model.trim="$v.state.$model.id"
                  value=""
                />
                <v-select
                  name="state"
                  id="state"
                  class=""
                  label="name"
                  :options="states"
                  v-model.trim="$v.state.$model"
                  @input="getCities($v.state.$model.id)"
                  @blur="setState($event.target.value)"
                  placeholder="Select State"
                >
                </v-select>
              </div>
            </div>
            <div
              class="row form-group no-gutters cols-padding-0"
              :class="{ 'form-group--error': $v.city.$error }"
            >
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="city" class="form-control-label">City*</label>
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                <input
                  type="hidden"
                  name="city_id"
                  id="city_id"
                  ref="city_id"
                  v-model.trim="$v.city.$model.id"
                  value=""
                />
                <v-select
                  name="city"
                  id="city"
                  class=""
                  label="name"
                  :options="cities"
                  v-model.trim="$v.city.$model"
                  @blur="setCity($event.target.value)"
                  placeholder="Select City"
                >
                </v-select>
              </div>
            </div>
            <div class="row form-group no-gutters cols-padding-0">
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="address" class="form-control-label">Address</label>
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                <vue-google-autocomplete
                  ref="address"
                  id="addr"
                  name="address"
                  class="form-control"
                  :value="address"
                  placeholder="Please type your address"
                  v-on:placechanged="getAddressData"
                >
                </vue-google-autocomplete>
              </div>
            </div>

            <div class="row form-group no-gutters cols-padding-0">
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="zip_code" class="form-control-label"
                  >Post Code / Zip</label
                >
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                <vue-google-autocomplete
                  ref="zip"
                  id="zip"
                  name="zip_code"
                  class="form-control"
                  :value="zip_code"
                  placeholder="Please type your zip code"
                  v-on:placechanged="getZipData"
                  types="postal_code"
                >
                </vue-google-autocomplete>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-xl-6 mb-xl-0 mb-3">
            <h3 class="title-has-border mb-4">Qualification & Expertise</h3>

            <div
              class="row form-group no-gutters cols-padding-0"
              :class="{ 'form-group--error': $v.qualification_id.$error }"
            >
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="qualification" class="form-control-label"
                  >Qualification*</label
                >
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                <input
                  type="hidden"
                  name="qualification"
                  id="qualification"
                  ref="qualification"
                  v-model.trim="$v.qualification_id.$model.name"
                  value=""
                />
                <v-select
                  name="qualification_id"
                  id="qualification_id"
                  label="name"
                  :options="qualifications"
                  v-model.trim="$v.qualification_id.$model"
                  @blur="setQualification($event.target.value)"
                  placeholder="Select Qualification"
                >
                </v-select>
              </div>
            </div>
            <div
              class="row form-group no-gutters cols-padding-0"
              :class="{ 'form-group--error': $v.field_of_study.$error }"
            >
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="field_of_study" class="form-control-label"
                  >Expertise*</label
                >
              </div>
              <div
                class="col-xl-7 col-lg-12 col-md-7 input-wrapper input-wrapper--has-search"
              >
                <input
                  type="hidden"
                  name="field_of_study_id"
                  id="field_of_study_id"
                  ref="field_of_study_id"
                  value=""
                />
                <vue-bootstrap-typeahead
                  :data="skillsList"
                  v-model="field_of_study"
                  id="field_of_study"
                  ref="field_of_study"
                  :serializer="(s) => s.name"
                  placeholder="Expertise"
                  @hit="selectedSkill = $event"
                ></vue-bootstrap-typeahead>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-6">
            <h3 class="title-has-border mb-4">Personal</h3>
            <div
              class="row form-group no-gutters cols-padding-0"
              :class="{ 'form-group--error': $v.gender.$error }"
            >
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="genderInput" class="form-control-label"
                  >Gender*</label
                >
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7">
                <input
                  type="hidden"
                  name="gender"
                  id="gender"
                  ref="gender"
                  v-model.trim="$v.gender.$model"
                  value=""
                />
                <v-select
                  name="gender"
                  id="gender"
                  label="name"
                  :options="genders"
                  v-model.trim="$v.gender.$model"
                  @blur="setGender($event.target.value)"
                  placeholder="Select Gender"
                >
                </v-select>
              </div>
            </div>
            <div
              class="row form-group no-gutters cols-padding-0"
              :class="{ 'form-group--error': $v.dob.$error }"
            >
              <div class="col-xl-5 col-lg-12 col-md-5">
                <label for="date" class="form-control-label"
                  >Date of Birth*</label
                >
              </div>
              <div class="col-xl-7 col-lg-12 col-md-7">
                <date-picker
                  class="placeholder-black"
                  type="date"
                  :format="format.token"
                  name="dob"
                  v-model.trim="$v.dob.$model"
                  @blur="setDOB($event.target.value)"
                  :value="$v.dob.$model"
                  :placeholder="$v.dob.$model"
                ></date-picker>

                <!--<input type="date" name="date_of_birth" id="date_of_birth" class="form-control" v-model.trim="$v.date_of_birth.$model"-->
                <!--@blur="setDOB($event.target.value)" placeholder="Date of Birth">-->
              </div>
            </div>
            <div class="row form-group no-gutters cols-padding-0">
              <div class="col-12">
                <button
                  class="btn btn-primary btn-md float-right"
                  @click.prevent="submit"
                >
                  <span
                    v-bind="{ isLoading, cloadingstatus }"
                    v-if="isLoading == true"
                    class="spinner-border spinner-border--md spinner-border--in-button"
                  ></span>
                  Update
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <notifications group="foo" position="bottom right" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import vSelect from "vue-select";
import ButtonSpinner from "vue-button-spinner";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
import config from "../../config/config";
import _ from "lodash";
import VuePhoneNumberInput from "vue-phone-number-input";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import VueGoogleAutocomplete from "vue-google-autocomplete";

import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs,
} from "vuelidate/lib/validators";
export default {
  name: "UpdateCandidateProfileComponent",
  components: {
    vSelect,
    ButtonSpinner,
    VueBootstrapTypeahead,
    VuePhoneNumberInput,
    DatePicker,
    VueGoogleAutocomplete,
  },
  data() {
    return {
      format: {
        token: "MM/DD/YYYY",
      },
      selected: 3,
      errors: [],
      countries: [],
      states: [],
      cities: [],
      qualifications: [],
      countryvalue: "",
      options: [],
      validationErrors: "",
      industries: [],
      field_of_study_id: "",
      expertise: "",
      expertiselist: [],
      successmsg: "",
      isLoading: false,
      cloadingstatus: "",
      submitted: false,
      country: this.$store.getters.userData.country || "",
      first_name: this.$store.getters.userData.first_name || "",
      last_name: this.$store.getters.userData.last_name || "",
      email: this.$store.getters.userData.email || "",
      personal_email: this.$store.getters.userData.personal_email || "",
      mobile_number: this.$store.getters.userData.mobile_number || "",
      qualification_id: this.$store.getters.candidateData.qualification || "",
      field_of_study: "",
      gender: this.$store.getters.userData.gender || "",
      state: this.$store.getters.userData.state || "",
      city: this.$store.getters.userData.city || "",
      address: this.$store.getters.userData.address || "",
      zip_code: this.$store.getters.userData.zip_code || "",
      phone_number: this.$store.getters.userData.phone_number || "",
      dob: this.$store.getters.userData.date_of_birth || "Date of birth",
      skillsList: [],
      genders: ["Male", "Female", "Non-Binary"],
    };
  },
  validations: {
    first_name: {
      required,
    },
    last_name: {
      required,
    },
    email: {
      required,
      email,
    },

    country: {
      required,
    },

    qualification_id: {
      required,
    },
    field_of_study: {
      required,
    },
    gender: {
      required,
    },
    state: {
      required,
    },
    city: {
      required,
    },

    dob: {
      required,
    },
  },
  methods: {
    getAddressData: function (addressData, placeResultData, id) {
      this.address = addressData;
    },
    getZipData: function (postalCodeData, placeResultData, id) {
      this.zip_code = postalCodeData;
    },
    setFirstName(value) {
      this.first_name = value;
      this.$v.first_name.$touch();
      if (this.$v.first_name.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Enter first  name",
        });
      }
      if (this.$v.first_name.alpha == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "First name will be character",
        });
      }
    },
    setLastName(value) {
      this.last_name = value;
      this.$v.last_name.$touch();
      if (this.$v.last_name.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Enter last name",
        });
      }
      if (this.$v.last_name.alpha == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Last name will be character",
        });
      }
    },

    setPersonalEmail(value) {
      this.email = value;
      this.$v.email.$touch();
      if (this.$v.email.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Enter email address",
        });
      }
      if (this.$v.email.email == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter valid email address",
        });
      }
      //this.checkEmail(value);
    },

    setQualification(value) {
      this.qualification_id = value;
      this.$v.qualification_id.$touch();
      if (this.$v.qualification_id.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select qualification",
        });
      }
    },
    setGender(value) {
      this.gender = value;
      this.$v.gender.$touch();
      if (this.$v.gender.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select Gender",
        });
      }
    },
    setFieldOfStudy(value) {
      this.field_of_study = value;
      this.$v.field_of_study.$touch();
      if (this.$v.field_of_study.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter establish date",
        });
      }
    },
    setDOB(value) {
      this.dob = value;
      this.$v.dob.$touch();
      if (this.$v.dob.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter date of birth",
        });
      }
    },

    setCountry(value) {
      this.country = value;
      this.$v.country.$touch();
      if (this.$v.country.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select country name",
        });
      }
    },
    setState(value) {
      this.state = value;
      this.$v.state.$touch();
      if (this.$v.state.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select state name",
        });
      }
    },
    setCity(value) {
      this.city = value;
      this.$v.city.$touch();
      if (this.$v.city.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select city name",
        });
      }
    },

    async getExpertise(query) {
      const res = await fetch("/api/getFieldOfStudy/" + query);
      const suggestions = await res.json();
      this.skillsList = suggestions;
      if (this.selectedSkill) {
        this.$refs["field_of_study_id"].value = this.selectedSkill.id;
      }
    },

    onClick() {
      this.isLoading = true;
      this.statusMessage = "Sending request to get a random response...";
      setTimeout(() => {
        this.isLoading = false;
        this.loadingstatus = Math.random() >= 0.5;
        this.statusMessage = this.status
          ? "Request successful!"
          : "Request failed";
        this.clear();
      }, 2000);
    },
    clear() {
      setTimeout(() => {
        this.statusMessage = "Try again :)";
        this.loadingstatus = "";
      }, 1600);
    },
    submit() {
      this.isLoading = true;
      this.errors = [];
      this.$v.$touch();
      //this.onClick();
      if (this.$v.$invalid) {
        this.isLoading = false;
        this.$notify({
          group: "foo",
          type: "error",
          text: "Fill required form fields",
        });
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        let form = this.$refs["testing_form"];
        let formdata = new FormData(form);
        axios({
          url: config.apiURL + "updateCandidateInfo",
          data: formdata,
          method: "POST",
        })
          .then((response) => {
            this.isLoading = false;
            if (response.status == 200) {
              this.$store.dispatch("updateUser", response.data);
              // .then(data => {
              //     this.$router.push({name: "home"});
              // })
              // .catch(err => {
              //     this.loading = false;
              //     this.error = err.response.data.error;
              // });
              this.$notify({
                group: "foo",
                type: "success",
                text: "Profile updated.",
              });
            }
            this.successmsg = "Candidate Information Updated";
          })
          .catch((err) => {
            this.isLoading = false;
            this.error = err.response.data.error;
            let errors = err.response.data.errors;
            for (const [key, value] of Object.entries(errors)) {
              value.forEach((text, index) => {
                this.$notify({
                  group: "foo",
                  type: "error",
                  title: key,
                  text: text,
                });
              });
            }
            if (err.response.status === 422) {
              this.validationErrors = err.response.data.errors || {};
              this.errors = err.response.data.errors || {};
            }
          });
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    getCountries: function () {
      axios.get(config.apiURL + "getCountryList/").then(
        function (response) {
          this.countries = response.data;
        }.bind(this)
      );
    },
    getQualifications: function () {
      axios.get(config.apiURL + "getQualificationList/").then(
        function (response) {
          this.qualifications = response.data;
        }.bind(this)
      );
    },
    getStates: function (country) {
      this.state = "";
      this.city = "";
      this.cities = [];
      axios.get(config.apiURL + "getStateList/" + country).then(
        function (response) {
          this.states = response.data;
        }.bind(this)
      );
    },
    getCities: function (state_id) {
      axios.get(config.apiURL + "getCityList/" + state_id).then(
        function (response) {
          this.cities = response.data;
        }.bind(this)
      );
    },
    expertiseIdValue() {
      this.$refs[
        "field_of_study_id"
      ].value = this.$store.getters.candidateData.field_of_study_id;
    },
    qualificationIdValue() {
      this.$refs[
        "qualification"
      ].value = this.$store.getters.candidateData.qualification;
    },
    onSearch(search, loading) {
      axios.get(config.apiURL + "getIndustry/" + escape(search)).then(
        function (response) {
          this.industries = response.data;
        }.bind(this)
      );
      loading(true);
      // this.search(loading, search, this);
    },
    search: _.debounce((loading, search, vm) => {
      const responseindustry = fetch(
        config.apiURL + "getIndustry/" + escape(search)
      );
      fetch(config.apiURL + "getIndustry/" + escape(search)).then((res) => {
        // res.json().then(json => (vm.industries = json.name));
        loading(false);
      });
    }, 350),
  },
  watch: {
    field_of_study: _.debounce(function (addr) {
      this.getExpertise(addr);
    }, 500),
  },
  created: function () {
    this.getCountries();
    this.getQualifications();
    let countryId = this.$store.getters.userData.country.id;
    if (
      this.$store.getters.userData.country !== null &&
      this.$store.getters.userData.state == null
    ) {
      //console.log("Call data if state empty");
      this.getStates(countryId);
    } else {
      this.getStates(countryId);
      this.state = this.$store.getters.userData.state;
      this.getCities(this.state.id);
      this.city = this.$store.getters.userData.city;
      //console.log("State name: "+JSON.stringify(this.state));
    }
  },
  mounted() {
    this.expertiseIdValue();
    this.qualificationIdValue();
    if (this.$store.getters.candidateData.field_of_study != null) {
      //console.log("Call field of study in muted!");
      this.$refs.field_of_study.inputValue = this.$store.getters.candidateData.field_of_study.name;
      this.field_of_study = this.$store.getters.candidateData.field_of_study.name;
    }
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCandidate", "candidateData", "userData"]),
  },
};
</script>
