<template>
    <div class="form-wrap form-wrap--resume-builder p-0">
        <form action="#" method="post" ref="add_strength_form" @submit.prevent="submit" enctype="multipart/form-data">
            <div class="input-wrap">

                <vue-tags-input v-model="tag" :tags="tags" class="form-control p-0 h-auto" :validation="validation"
                                @tags-changed="update" :placeholder="placeholderText"/>
            </div>

            <div class="input-wrap text-right mb-0">
                <button type="submit" class="btn btn-primary" @click.prevent="submit">
                    <span v-bind="{isLoading, strength_loading}" v-if="isLoading == true"
                          class="spinner-border spinner-border--md spinner-border--in-button"></span> Save</button>
            </div>
        </form>
        <notifications group="foo" position="bottom right" />
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import VueTagsInput from '@johmun/vue-tags-input';
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../../config/config';
    import alertService from '../../utils/alertService';
    import _ from 'lodash';
    export default {
        name:'AddStrength',
        components: {
            VueTagsInput,ButtonSpinner
        },
        data() {
            return {
                tag: '',
                strength_loading:"",
                isLoading: false,
                submitted: false,
                tags: [],
                validation: [{
                    // no-number is added as css-class to a tag, if the tag has no numbers in the text
                    classes: 'no-number',
                    rule: /[0-9]/
                }]
            };
        },
        methods: {
            checkTag(obj) {
                // if (obj.tag.text.includes('e')) alert('Letter "e" is forbidden');
                // else obj.addTag();
            },
            update(newTags) {
                this.tags = [];
                newTags.forEach((item,index)=>{
                    this.tags.push({"text":item.text,"tiClasses":[ "no-number", "ti-invalid" ]});
                });
            },
            submit() {
                this.isLoading = true;
                this.errors = [];
                // do your submit logic here
                this.submitStatus = "PENDING";
                let form = this.$refs["add_strength_form"];
                let formData = new FormData(form);
                let tagsList = [];
                const result = this.tags.map((item) => {
                    tagsList.push(item.text);
                });
                formData.append('tags',tagsList);
                this.$store.dispatch("setStrengths", formData )
                    .then(data => {
                        this.isLoading = false;
                        alertService.Success('Success', 'Strength added.');
                        this.$bvModal.hide('add-strength-modal');
                    })
                    .catch(err => {
                        this.isLoading = false;
                        this.error = err.response.data.error;
                        alertService.Error('Error', this.error);
                        let errors = err.response.data.errors;
                        if (errors && errors.length > 0) {
                            for (const [key, value] of Object.entries(errors)) {
                                value.forEach((text,index)=>{
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        title: key,
                                        text: text
                                    });
                                })
                            }
                        }
                    });
                setTimeout(() => {
                    this.submitStatus = "OK";
                }, 500);
            },
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','strengths']),
            placeholderText: () =>  '',
            filteredItems() {
                return this.autocompleteItems.filter(i => {
                    return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
                });
            },
        },
    }
</script>
