<template>
    <div class="form-wrap form-wrap--resume-builder p-0">
        <form action="#" method="post" ref="add_language_form" @submit.prevent="submit">
            <div class="input-wrap" :class="{'form-group--error':$v.language_id.$error}">
                <label for="language_id" class="form-control-label form-control-label--blue form-control-label--secondary">Language</label>
                <input type="hidden" name="language_id_value" id="language_id_value" ref="language_id_value" value="">
                <v-select  name="language_id" id="language_id" class="" label="name" :options="languagesList" v-model.trim="$v.language_id.$model"
                           @blur="setLanguage($event.target.value)" @input="getLanguageId($v.language_id.$model.id)" placeholder="Select Language"></v-select>

            </div>
            <div class="input-wrap" :class="{'form-group--error':$v.proficiency_id.$error}">
                <label for="proficiency_id" class="form-control-label form-control-label--blue form-control-label--secondary"> Proficiency Level</label>
                <input type="hidden" name="proficiency_id_value" id="proficiency_id_value" ref="proficiency_id_value" value="">
                <v-select  name="proficiency_id" id="proficiency_id" class="" label="name" :options="proficiencyList" v-model.trim="$v.proficiency_id.$model"
                           @blur="setProficiency($event.target.value)" @input="getProficiencyLevel($v.proficiency_id.$model.id)"
                           placeholder="Select Proficiency Level"></v-select>

            </div>

            <div class="input-wrap text-right mb-0">
                <button type="submit" class="btn btn-primary" @click.prevent="submit">
                    <span v-bind="{isLoading,language_loading_status}" v-if="isLoading == true" class="spinner-border spinner-border--md spinner-border--in-button"></span> Save</button>
            </div>
        </form>
        <notifications group="foo" position="bottom right" />
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import vSelect from "vue-select";
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../../config/config';
    import alertService from '../../utils/alertService';
    import _ from 'lodash';
    import {
        required,
        minLength,
        between,
        email,
        maxLength,
        alpha,
        alphaNum,
        numeric,
        integer,
        sameAs,
    } from "vuelidate/lib/validators";
    export default {
        name:'AddLanguage',
        components: {
            "v-select": vSelect,
            buttonspinner: ButtonSpinner,
        },
        data() {
            return {
                errors: [],
                language_id: "",
                language_id_value: "",
                validationErrors: "",
                languagesList:[],
                proficiency_id: "",
                proficiency_id_value: "",
                proficiencyList:[],
                success_msg: "",
                isLoading: false,
                language_loading_status: "",
                submitted: false,
            };
        },
        validations: {
            language_id: {
                required,
            },
            proficiency_id: {
                required,
            },
        },
        methods: {
            setLanguage(value) {
                this.language_id = value;
                this.$v.language_id.$touch();
                if (this.$v.language_id.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select language",
                    });
                }
            },

            setProficiency(value) {
                this.proficiency_id = value;
                this.$v.proficiency_id.$touch();
                if (this.$v.proficiency_id.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select proficiency level",
                    });
                }
            },
            getLanguageId(languageid) {
                this.$refs["language_id_value"].value = languageid;
            },
            getProficiencyLevel(proficiency_id) {
                this.$refs["proficiency_id_value"].value = proficiency_id;
            },
            getLanguages: function() {
                axios.get(config.apiURL+"getLanguesList/").then(
                    function(response) {
                        this.languagesList = response.data;
                    }.bind(this)
                );
            },
            getProficiencyList: function() {
                axios.get(config.apiURL+"getProfieinecies/").then(
                    function(response) {
                        this.proficiencyList = response.data;
                    }.bind(this)
                );
            },
            submit() {
                this.isLoading = true;
                this.errors = [];
                this.$v.$touch();
                //this.onClick();
                if (this.$v.$invalid) {
                    this.isLoading = false;
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Fill required form fields",
                    });
                } else {
                    // do your submit logic here
                    this.submitStatus = "PENDING";
                    let form = this.$refs["add_language_form"];
                    let formData = new FormData(form);
                    this.$store.dispatch("setLanguages", formData)
                        .then(data => {
                            this.isLoading = false;
                            alertService.Success('Success', 'Language added.');
                            this.$bvModal.hide('add-language-modal');
                        })
                        .catch(err => {
                            this.isLoading = false;
                            this.error = err.response.data.error;
                            alertService.Error('Error', this.error);
                            let errors = err.response.data.errors;
                            if (errors && errors.length > 0) {
                                for (const [key, value] of Object.entries(errors)) {
                                    value.forEach((text,index)=>{
                                        this.$notify({
                                            group: "foo",
                                            type: "error",
                                            title: key,
                                            text: text
                                        });
                                    })
                                }
                            }
                        });

                    setTimeout(() => {
                        this.submitStatus = "OK";
                    }, 500);
                }
            },
        },
        created: function() {
            this.getLanguages();
            this.getProficiencyList();
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','languages']),
        },
    }
</script>