<template>
    <svg id="Achievements" xmlns="http://www.w3.org/2000/svg" width="19.596" height="19.596" viewBox="0 0 19.596 19.596">
        <path id="Path_1464" data-name="Path 1464" d="M366.765,452.383a.383.383,0,1,1-.383-.383A.383.383,0,0,1,366.765,452.383Zm0,0" transform="translate(-351.992 -434.7)" fill="#00acee"/>
        <path id="Path_1465" data-name="Path 1465" d="M40.765,452.383a.383.383,0,1,1-.383-.383A.383.383,0,0,1,40.765,452.383Zm0,0" transform="translate(-38.469 -434.7)" fill="#00acee"/>
        <path id="Path_1466" data-name="Path 1466" d="M166,123.445v.765a.383.383,0,0,0,.383.383h6.124a.383.383,0,0,0,.383-.383v-.765a3.445,3.445,0,1,0-6.889,0Zm3.445-2.679a2.678,2.678,0,0,1,2.679,2.679v.383h-5.358v-.383A2.682,2.682,0,0,1,169.445,120.765Zm0,0" transform="translate(-159.647 -115.407)" fill="#00acee"/>
        <path id="Path_1467" data-name="Path 1467" d="M200.593,2.3a2.3,2.3,0,1,0-2.3,2.3A2.3,2.3,0,0,0,200.593,2.3Zm-2.3,1.531A1.531,1.531,0,1,1,199.827,2.3,1.533,1.533,0,0,1,198.3,3.827Zm0,0" transform="translate(-188.498)" fill="#00acee"/>
        <path id="Path_1468" data-name="Path 1468" d="M227.914,355.062h-.383v-2.679a.383.383,0,0,0-.383-.383h-.765a.383.383,0,1,0,0,.765h.383v2.3h-.383a.383.383,0,1,0,0,.765h1.531a.383.383,0,1,0,0-.765Zm0,0" transform="translate(-217.35 -338.528)" fill="#00acee"/>
        <path id="Path_1469" data-name="Path 1469" d="M19.213,282.756H13.243v-2.373A.383.383,0,0,0,12.86,280H6.736a.383.383,0,0,0-.383.383v2.373H.383a.383.383,0,0,0-.383.383V288.5a.383.383,0,0,0,.383.383H19.213a.383.383,0,0,0,.383-.383v-5.358A.383.383,0,0,0,19.213,282.756Zm-18.448.766H6.353v4.593H.765Zm6.353-2.756h5.358v7.349H7.119Zm11.712,7.349H13.243v-4.593h5.588Zm0,0" transform="translate(0 -269.283)" fill="#00acee"/>
        <path id="Path_1470" data-name="Path 1470" d="M406.383,452.765h1.761a.383.383,0,0,0,0-.765h-1.761a.383.383,0,1,0,0,.765Zm0,0" transform="translate(-390.461 -434.7)" fill="#00acee"/>
        <path id="Path_1471" data-name="Path 1471" d="M82.143,452H80.383a.383.383,0,1,0,0,.765h1.761a.383.383,0,1,0,0-.765Zm0,0" transform="translate(-76.938 -434.7)" fill="#00acee"/>
    </svg>

</template>



<script>
    export default {
        name: 'AchievementsIcon',
    }

</script>
