<template>
 <svg xmlns="http://www.w3.org/2000/svg" width="21.871" height="21.9" viewBox="0 0 21.871 21.9">
  <g id="phone" transform="translate(-0.344 2)">
    <g id="Group_320" data-name="Group 320" transform="translate(0.344 -2)">
      <path id="Path_1452" data-name="Path 1452" d="M15.9,38.469a1.937,1.937,0,0,0-1.405-.644,2,2,0,0,0-1.422.64l-1.314,1.31c-.108-.058-.216-.112-.32-.166-.15-.075-.291-.146-.412-.22A14.279,14.279,0,0,1,7.6,36.27,8.424,8.424,0,0,1,6.481,34.5c.341-.312.657-.636.965-.948.116-.116.233-.237.349-.353a1.907,1.907,0,0,0,0-2.877L6.66,29.185c-.129-.129-.262-.262-.387-.395-.249-.258-.511-.524-.782-.773A1.968,1.968,0,0,0,4.1,27.406a2.036,2.036,0,0,0-1.414.611l-.008.008L1.264,29.451a3.042,3.042,0,0,0-.9,1.933A7.288,7.288,0,0,0,.894,34.47a17.9,17.9,0,0,0,3.18,5.3,19.565,19.565,0,0,0,6.515,5.1,10.15,10.15,0,0,0,3.659,1.081c.087,0,.179.008.262.008a3.133,3.133,0,0,0,2.4-1.031c0-.008.012-.012.017-.021a9.451,9.451,0,0,1,.728-.753c.179-.17.362-.349.54-.536a2.074,2.074,0,0,0,.628-1.438,2,2,0,0,0-.64-1.426Zm1.488,4.378s0,0,0,0c-.162.175-.328.333-.507.507a10.932,10.932,0,0,0-.8.831,2,2,0,0,1-1.563.661c-.062,0-.129,0-.191,0a9.017,9.017,0,0,1-3.243-.973,18.468,18.468,0,0,1-6.136-4.806A16.878,16.878,0,0,1,1.95,34.079a5.936,5.936,0,0,1-.466-2.6,1.908,1.908,0,0,1,.574-1.235l1.418-1.418a.945.945,0,0,1,.632-.3.889.889,0,0,1,.607.291l.012.012c.254.237.495.482.748.744.129.133.262.266.395.4l1.135,1.135a.793.793,0,0,1,0,1.289c-.121.121-.237.241-.358.358-.349.358-.682.69-1.044,1.014-.008.008-.017.012-.021.021a.848.848,0,0,0-.216.944l.012.037a9.112,9.112,0,0,0,1.343,2.191l0,0a15.26,15.26,0,0,0,3.692,3.359,5.677,5.677,0,0,0,.511.279c.15.075.291.146.412.22.017.008.033.021.05.029a.9.9,0,0,0,.412.1.889.889,0,0,0,.632-.287l1.422-1.422a.941.941,0,0,1,.628-.312.847.847,0,0,1,.6.3l.008.008,2.291,2.291A.822.822,0,0,1,17.386,42.847Z" transform="translate(-0.344 -24.065)" fill="#00acee"/>
      <path id="Path_1453" data-name="Path 1453" d="M245.406,87.039a5.351,5.351,0,0,1,4.357,4.357.558.558,0,0,0,.553.466.744.744,0,0,0,.1-.008.562.562,0,0,0,.461-.649,6.47,6.47,0,0,0-5.272-5.272.564.564,0,0,0-.649.457A.555.555,0,0,0,245.406,87.039Z" transform="translate(-232.573 -82.353)" fill="#00acee"/>
      <path id="Path_1454" data-name="Path 1454" d="M258.108,8.69A10.653,10.653,0,0,0,249.427.009a.56.56,0,1,0-.183,1.106A9.516,9.516,0,0,1,257,8.872a.558.558,0,0,0,.553.466.743.743,0,0,0,.1-.008A.551.551,0,0,0,258.108,8.69Z" transform="translate(-236.246 0)" fill="#00acee"/>
    </g>
  </g>
</svg>
</template>

<script>
    export default {
        name: 'ContactInfoIcon',
    }

</script>
