<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="19.15" height="21.789" viewBox="0 0 19.15 21.789">
        <g id="_1175966" data-name="1175966" transform="translate(-31.04)">
            <path id="Path_100" data-name="Path 100" d="M33.521,0H47.7a2.563,2.563,0,0,1,2.484,2.6q0,8.491,0,16.983a1.158,1.158,0,0,1-.094.625.652.652,0,0,1-.585.309c-.838,0-1.675,0-2.513,0a7.059,7.059,0,0,1-.017.765.648.648,0,0,1-.595.512H46.3a.936.936,0,0,1-.354-.144c-.5-.333-1-.671-1.507-1l-1.51,1.006a.861.861,0,0,1-.376.142H42.5a.652.652,0,0,1-.583-.456,4.4,4.4,0,0,1-.03-.821q-3.81,0-7.619,0a.651.651,0,0,1-.68-.682q0-7.361,0-14.722A2.588,2.588,0,0,1,31.81,4.38,2.555,2.555,0,0,1,33.521,0M32.506,1.889a1.273,1.273,0,0,0,.867,1.918,3.85,3.85,0,0,0,.6.023H45.425a2.576,2.576,0,0,1,0-2.553H33.633a1.293,1.293,0,0,0-1.127.612m13.9.33a1.277,1.277,0,0,0,.705,1.5,2.009,2.009,0,0,0,.783.124.638.638,0,0,1,.546.718.647.647,0,0,1-.679.55q-6.447,0-12.894,0,0,7.064,0,14.128H41.89c0-.88,0-1.76-.005-2.639A5.01,5.01,0,0,1,41.548,16a3.152,3.152,0,0,1-.054-2.534,3.213,3.213,0,0,1,1.628-1.689,3.185,3.185,0,0,1,4.088,4.48c-.079.152-.238.28-.215.467,0,.837,0,1.673,0,2.51.638-.005,1.277,0,1.915,0q0-8.257,0-16.514a1.51,1.51,0,0,0-.143-.749,1.272,1.272,0,0,0-2.36.246M44.359,12.775a1.916,1.916,0,0,0-1.8,1.611,1.906,1.906,0,1,0,1.8-1.611m-1.192,4.832q0,1.175,0,2.35c.3-.2.608-.411.917-.609a.65.65,0,0,1,.717,0c.308.2.61.405.915.607q.005-1.175,0-2.35A3.219,3.219,0,0,1,43.167,17.607Z" transform="translate(0)" fill="#00acee"/>
            <path id="Path_101" data-name="Path 101" d="M151.516,149.985a4.906,4.906,0,0,1,.548-.015q4.873,0,9.746,0a.647.647,0,0,1,.641.429.638.638,0,0,1-.269.752,1.039,1.039,0,0,1-.587.1q-4.958,0-9.916,0a.638.638,0,0,1-.163-1.262Z" transform="translate(-114.854 -143.588)" fill="#00acee"/>
            <path id="Path_102" data-name="Path 102" d="M151.539,209.955a2.968,2.968,0,0,1,.417-.013q4.914,0,9.829,0a.672.672,0,0,1,.629.309.639.639,0,0,1-.187.856.918.918,0,0,1-.573.112q-4.978,0-9.956,0a.646.646,0,0,1-.671-.546A.639.639,0,0,1,151.539,209.955Z" transform="translate(-114.873 -201.005)" fill="#00acee"/>
            <path id="Path_103" data-name="Path 103" d="M151.488,270.011a1.18,1.18,0,0,1,.242-.021c.808,0,1.616,0,2.424,0a.655.655,0,0,1,.532.23.639.639,0,0,1,0,.81.656.656,0,0,1-.532.235c-.838,0-1.677,0-2.515,0a.637.637,0,0,1-.155-1.254Z" transform="translate(-114.86 -258.5)" fill="#00acee"/>
            <path id="Path_104" data-name="Path 104" d="M151.561,329.932c.762-.035,1.526,0,2.289-.014a1.482,1.482,0,0,1,.689.08.636.636,0,0,1-.3,1.195q-1.278,0-2.556,0a.636.636,0,0,1-.117-1.261Z" transform="translate(-114.897 -315.874)" fill="#00acee"/>
        </g>
    </svg>
</template>
<script>
    export default {
        name: 'CurrentExpertiseIcon',
    }

</script>
