<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="20.485" height="14.697" viewBox="0 0 20.485 14.697">
        <g id="education" transform="translate(0 -58.303)">
            <g id="Group_331" data-name="Group 331" transform="translate(0 58.303)">
            <path id="Path_1485" data-name="Path 1485" d="M20.088,59.526h-1.35v-.461a.4.4,0,0,0-.286-.4,11.185,11.185,0,0,0-2.863-.365,7.384,7.384,0,0,0-5.352,1.985A7.306,7.306,0,0,0,4.884,58.3a11.185,11.185,0,0,0-2.863.365.4.4,0,0,0-.286.4v.457H.4a.4.4,0,0,0-.4.4V72.6a.4.4,0,0,0,.592.345,14,14,0,0,1,9.553-.794h.1a.4.4,0,0,0,.1,0,13.762,13.762,0,0,1,9.553.794.4.4,0,0,0,.6-.341V59.923A.4.4,0,0,0,20.088,59.526ZM.794,71.97V60.32h.949v9.958a.4.4,0,0,0,.457.4,17.375,17.375,0,0,1,2.482-.2,10.3,10.3,0,0,1,3.391.512A14.6,14.6,0,0,0,.794,71.97Zm3.887-2.283a17.473,17.473,0,0,0-2.16.139V59.379a10.951,10.951,0,0,1,2.355-.262,6.483,6.483,0,0,1,4.955,1.946l.012,9.891A9.281,9.281,0,0,0,4.681,69.687Zm5.956-8.624a6.542,6.542,0,0,1,4.955-1.946,11,11,0,0,1,2.355.262V69.826a17.465,17.465,0,0,0-2.148-.143,9.359,9.359,0,0,0-5.162,1.267ZM19.687,71.97a14.6,14.6,0,0,0-7.294-.981,10.324,10.324,0,0,1,3.407-.512,17.37,17.37,0,0,1,2.5.195.4.4,0,0,0,.457-.4V60.32H19.7Z" transform="translate(0 -58.303)" fill="#00acee"/>
            </g>
        </g>
    </svg>

</template>
<script>
    export default {
        name: 'EducationIcon',
    }

</script>
