<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="19.386" height="17.127" viewBox="0 0 19.386 17.127">
        <g id="interests" transform="translate(0 -29.836)">
            <g id="Group_332" data-name="Group 332" transform="translate(0 29.836)">
            <path id="Path_1499" data-name="Path 1499" d="M17.972,31.518a4.883,4.883,0,0,0-7.8.561,7.432,7.432,0,0,0-.483.782,7.426,7.426,0,0,0-.483-.782,4.883,4.883,0,0,0-7.8-.561A5.876,5.876,0,0,0,0,35.421a7.2,7.2,0,0,0,1.982,4.722,44.123,44.123,0,0,0,4.96,4.634c.75.639,1.526,1.3,2.352,2.023l.025.022a.568.568,0,0,0,.748,0l.025-.022c.826-.723,1.6-1.384,2.352-2.023a44.118,44.118,0,0,0,4.96-4.634,7.2,7.2,0,0,0,1.982-4.722A5.876,5.876,0,0,0,17.972,31.518ZM11.707,43.913c-.647.551-1.312,1.118-2.014,1.728-.7-.61-1.367-1.177-2.014-1.728-3.94-3.357-6.543-5.576-6.543-8.491a4.742,4.742,0,0,1,1.131-3.152,3.791,3.791,0,0,1,2.883-1.3,3.829,3.829,0,0,1,3.134,1.764,6.734,6.734,0,0,1,.869,1.729.568.568,0,0,0,1.08,0,6.734,6.734,0,0,1,.869-1.729,3.749,3.749,0,0,1,6.017-.467,4.742,4.742,0,0,1,1.131,3.152C18.25,38.337,15.647,40.555,11.707,43.913Z" transform="translate(0 -29.836)" fill="#00acee"/>
            </g>
        </g>
    </svg>
</template>
<script>
    export default {
        name: 'InterestsIcon',
    }

</script>
