<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="18.077" height="18.077" viewBox="0 0 18.077 18.077">
        <g id="language" transform="translate(0 0)">
            <path id="Path_1495" data-name="Path 1495" d="M16.594,6.355H11.628c.016-.174.024-.351.024-.529A5.828,5.828,0,0,0,2.915.778a.353.353,0,1,0,.353.611,5.121,5.121,0,1,1,2.558,9.557A5.063,5.063,0,0,1,2.615,9.814a.353.353,0,0,0-.325-.062L1.353,10,1.72,9.19a.353.353,0,0,0-.036-.354,5.123,5.123,0,0,1-.291-5.574.353.353,0,1,0-.611-.354A5.83,5.83,0,0,0,.994,9.081L.4,10.38a.353.353,0,0,0,.411.488l1.5-.393A5.825,5.825,0,0,0,6.638,11.6v3.092A1.485,1.485,0,0,0,8.12,16.17h4.994L15.347,18a.353.353,0,0,0,.577-.273V16.17h.671a1.485,1.485,0,0,0,1.483-1.483V7.838a1.485,1.485,0,0,0-1.483-1.483Zm.777,8.332a.778.778,0,0,1-.777.777H15.57a.353.353,0,0,0-.353.353v1.161l-1.744-1.427c-.1-.088-.18-.088-.369-.088H8.12a.778.778,0,0,1-.777-.777V11.451a5.846,5.846,0,0,0,4.177-4.39h5.074a.778.778,0,0,1,.777.777Zm0,0" fill="#00acee"/>
            <path id="Path_1496" data-name="Path 1496" d="M291.353,253.56a.353.353,0,0,0-.15-.672h-.145l-1.139-2.6a.353.353,0,0,0-.647,0l-1.139,2.6h-.145a.353.353,0,0,0-.15.672l-.424.967a.353.353,0,1,0,.647.284l.534-1.216h2l.534,1.216a.353.353,0,1,0,.647-.284Zm-2.448-.672.691-1.574.691,1.574Zm0,0" transform="translate(-277.239 -241.252)" fill="#00acee"/>
            <path id="Path_1497" data-name="Path 1497" d="M45.755,46.1a.353.353,0,1,0-.25-.1A.356.356,0,0,0,45.755,46.1Zm0,0" transform="translate(-43.799 -43.796)" fill="#00acee"/>
            <path id="Path_1498" data-name="Path 1498" d="M100.316,90.355a.353.353,0,1,0,.34.619,4.043,4.043,0,0,0,1.747-1.9,4.044,4.044,0,0,0,1.747,1.9.353.353,0,1,0,.34-.619,3.339,3.339,0,0,1-1.7-2.43h1.568a.353.353,0,0,0,0-.706h-1.605V85.748a.353.353,0,0,0-.706,0v1.471h-1.275a.353.353,0,1,0,0,.706h1.238a3.339,3.339,0,0,1-1.7,2.43Zm0,0" transform="translate(-96.598 -82.38)" fill="#00acee"/>
        </g>
    </svg>
</template>
<script>
    export default {
        name: 'LanguagesIcon',
    }

</script>
