<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="22.405" height="21.341" viewBox="0 0 22.405 21.341">
        <g id="objective_summary" transform="translate(-110 -193.201)">
            <path id="Path_1474" data-name="Path 1474" d="M61.5,286.749a.749.749,0,1,1-.749-.749A.749.749,0,0,1,61.5,286.749Zm0,0" transform="translate(50 -85.845)" fill="#00acee"/>
            <path id="Path_1475" data-name="Path 1475" d="M61.5,346.749a.749.749,0,1,1-.749-.749A.749.749,0,0,1,61.5,346.749Zm0,0" transform="translate(50 -141.349)" fill="#00acee"/>
            <path id="Path_1476" data-name="Path 1476" d="M61.5,406.749a.749.749,0,1,1-.749-.749A.749.749,0,0,1,61.5,406.749Zm0,0" transform="translate(50 -196.853)" fill="#00acee"/>
            <path id="Path_1479" data-name="Path 1479" d="M100,286.749a.682.682,0,0,0,.581.749h12.325a.774.774,0,0,0,0-1.5H100.581A.682.682,0,0,0,100,286.749Zm0,0" transform="translate(12.997 -85.845)" fill="#00acee"/>
            <path id="Path_1480" data-name="Path 1480" d="M112.906,346H100.581a.774.774,0,0,0,0,1.5h12.325a.774.774,0,0,0,0-1.5Zm0,0" transform="translate(12.997 -141.349)" fill="#00acee"/>
            <path id="Path_1481" data-name="Path 1481" d="M112.906,406H100.581a.774.774,0,0,0,0,1.5h12.325a.774.774,0,0,0,0-1.5Zm0,0" transform="translate(12.997 -196.853)" fill="#00acee"/>
            <path id="Path_1482" data-name="Path 1482" d="M434.136,80A2.138,2.138,0,0,0,432,82.136v14.4a.571.571,0,0,0,.034.187l1.6,4.271a.534.534,0,0,0,1,0l1.6-4.271a.569.569,0,0,0,.034-.187v-14.4A2.135,2.135,0,0,0,434.136,80Zm-1.068,4.271H435.2v1.068h-2.136Zm0,2.136H435.2V96h-2.136Zm1.068-5.339a1.068,1.068,0,0,1,1.068,1.068V83.2h-2.136V82.136A1.069,1.069,0,0,1,434.136,81.068Zm0,18.219L433.3,97.07h1.663Zm0,0" transform="translate(-303.866 113.201)" fill="#00acee"/>
        </g>
    </svg>
</template>
<script>
    export default {
        name: 'ObjectiveSummaryIcon',
    }

</script>
