<template>
<svg xmlns="http://www.w3.org/2000/svg" width="20.155" height="20.145" viewBox="0 0 20.155 20.145">
  <path id="reference" d="M15.895,5.823a5.823,5.823,0,1,0-9.118,4.8A10.088,10.088,0,0,0,0,20.144H1.573a8.508,8.508,0,0,1,8.5-8.5,5.83,5.83,0,0,0,5.823-5.823Zm-5.823,4.249a4.249,4.249,0,1,1,4.249-4.249A4.254,4.254,0,0,1,10.072,10.072Zm10.083,4.407-3.7,3.7L15.338,17.07l1.844-1.844H15.817a3.427,3.427,0,0,0-3.423,3.42v1.5H10.819v-1.5a5,5,0,0,1,5-4.992H17.1l-1.765-1.765,1.113-1.113Zm0,0" transform="translate(0)" fill="#00acee"/>
</svg>

</template>
<script>
    export default {
        name: 'ReferencesIcon',
    }

</script>
