<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" viewBox="10 10 108 108" version="1.1">
        <g>
            <path fill="#00acee" opacity="1.00"
                  d=" M 16.31 4.25 C 17.73 3.50 19.42 3.77 20.97 3.66 C 45.63 3.72 70.30 3.68 94.97 3.69 C 98.35 3.31 100.27 6.50 102.49 8.45 C 106.05 12.24 110.31 15.43 113.41 19.62 C 113.99 22.37 113.68 25.20 113.73 27.98 C 113.70 58.35 113.73 88.71 113.72 119.08 C 113.89 121.11 113.05 123.46 110.89 124.06 C 108.61 124.44 106.29 124.29 104.00 124.31 C 75.65 124.26 47.30 124.33 18.95 124.27 C 16.50 124.58 14.14 122.56 14.31 120.05 C 14.18 83.36 14.33 46.67 14.24 9.98 C 14.22 7.93 14.18 5.34 16.31 4.25 M 22.59 12.01 C 22.60 46.64 22.60 81.27 22.59 115.91 C 50.19 116.01 77.78 116.00 105.38 115.91 C 105.41 85.72 105.36 55.54 105.40 25.35 C 101.43 25.00 97.02 26.28 93.35 24.49 C 90.34 21.19 92.28 16.08 91.77 12.02 C 68.71 12.01 45.65 12.04 22.59 12.01 Z">
            </path>
            <path fill="#00acee" opacity="1.00"
                  d=" M 37.10 76.06 C 38.68 75.48 40.40 75.63 42.05 75.57 C 57.69 75.74 73.34 75.48 88.98 75.69 C 91.86 75.55 93.46 79.46 91.51 81.48 C 90.45 82.83 88.60 82.64 87.08 82.72 C 71.03 82.66 54.97 82.77 38.92 82.66 C 35.30 83.14 33.90 77.57 37.10 76.06 Z">
            </path>
            <path fill="#00acee" opacity="1.00"
                  d=" M 37.38 89.41 C 39.16 88.82 41.09 89.07 42.94 89.00 C 58.60 89.20 74.28 88.73 89.92 89.20 C 93.80 89.78 93.04 96.34 89.08 96.04 C 72.36 96.17 55.61 96.16 38.89 96.05 C 35.32 96.26 34.13 90.79 37.38 89.41 Z">
            </path>
            <path fill="#00acee" opacity="1.00"
                  d=" M 38.40 102.55 C 54.58 102.27 70.80 102.53 86.99 102.41 C 88.71 102.50 90.90 102.20 92.01 103.86 C 93.06 105.15 92.40 106.88 92.41 108.37 C 91.00 108.91 89.59 109.63 88.03 109.54 C 71.73 109.44 55.42 109.63 39.12 109.45 C 35.03 109.77 34.28 103.00 38.40 102.55 Z">
            </path>
        </g>
        <g>
            <path fill="#00acee" opacity="1.00"
                  d=" M 53.41 18.49 C 58.13 15.77 64.74 18.10 66.69 23.18 C 68.90 28.07 66.04 34.40 60.88 35.90 C 55.76 37.74 49.61 34.23 48.61 28.89 C 47.68 24.85 49.74 20.40 53.41 18.49 Z">
            </path>
            <path fill="#00acee" opacity="1.00"
                  d=" M 44.23 41.26 C 46.63 40.40 49.21 40.40 51.71 40.13 C 53.14 43.54 54.54 46.96 55.95 50.38 C 56.17 48.39 56.38 46.39 56.54 44.40 C 56.14 43.09 54.20 41.75 55.19 40.33 C 56.95 39.95 59.62 39.26 60.79 41.06 C 60.23 42.21 59.62 43.34 58.96 44.44 C 59.14 46.41 59.35 48.38 59.58 50.35 C 61.04 46.88 62.47 43.40 63.89 39.92 C 67.55 40.42 73.36 40.13 74.12 44.92 C 74.38 51.29 74.23 57.69 74.19 64.06 C 74.28 66.23 72.13 67.81 70.08 67.60 C 61.77 67.62 53.46 67.70 45.15 67.58 C 43.16 67.69 41.27 66.02 41.35 63.99 C 41.20 58.30 41.32 52.60 41.30 46.90 C 41.16 44.68 42.04 42.17 44.23 41.26 Z">
            </path>
        </g>
    </svg>
</template>

<script>
    export default {
        name: 'ResumeIcon',
    }

</script>
