<template>
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.255" viewBox="0 0 18 18.255">
    <g id="Layer_2" data-name="Layer 2" transform="translate(-0.002)">
        <g id="Layer_1" data-name="Layer 1" transform="translate(0.002)">
            <path id="Path_1" data-name="Path 1"
                d="M79.135,0a3.678,3.678,0,0,1,2.349.7c.183.139.4.235.57.388a2.488,2.488,0,0,1,.73,1.479c.079.45.115.907.166,1.362a.706.706,0,0,0,.123.348,1.054,1.054,0,0,1,.16.5,2.4,2.4,0,0,1-.287,1.391,2.137,2.137,0,0,1-.279.314.526.526,0,0,0-.088.141,6.084,6.084,0,0,1-1.463,2.237,2.977,2.977,0,0,1-1.453.8,2.365,2.365,0,0,1-1.846-.42,5.229,5.229,0,0,1-1.7-2.07c-.06-.119-.113-.242-.165-.364-.065-.151-.1-.318-.283-.394a.364.364,0,0,1-.139-.157,2.413,2.413,0,0,1-.3-1.731.519.519,0,0,1,.211-.344c.04-.029.049-.116.054-.178.022-.307.022-.619.059-.928a3.379,3.379,0,0,1,.621-1.775A1.4,1.4,0,0,1,76.5.97,11.967,11.967,0,0,1,77.626.31,3.407,3.407,0,0,1,79.135,0Z"
                transform="translate(-71.479)" fill="#00acee"></path>
            <path id="Path_4" data-name="Path 4" d="M3.055,0A3.055,3.055,0,1,1,0,3.055,3.055,3.055,0,0,1,3.055,0Z"
                transform="translate(11.89 12.144)" fill="#00acee"></path>
            <path id="Path_2" data-name="Path 2"
                d="M288.672,278.785a.637.637,0,0,0-.056-.134.438.438,0,0,0-.093-.111,1.09,1.09,0,0,0-.109-.088,1.066,1.066,0,0,0-.132-.075,1.277,1.277,0,0,0-.133-.061c-.035-.012-.08-.032-.142-.056s-.1-.037-.123-.049-.062-.027-.106-.049a.606.606,0,0,1-.1-.054.791.791,0,0,1-.069-.058.194.194,0,0,1-.052-.072.236.236,0,0,1-.015-.084.231.231,0,0,1,.105-.2.456.456,0,0,1,.272-.075.591.591,0,0,1,.15.02.752.752,0,0,1,.13.046.854.854,0,0,1,.1.056c.032.02.055.036.068.046l.026.021a.056.056,0,0,0,.049.012.049.049,0,0,0,.04-.028l.142-.256a.049.049,0,0,0-.009-.067l-.027-.025a.739.739,0,0,0-.068-.049.839.839,0,0,0-.112-.065,1.074,1.074,0,0,0-.153-.059,1.006,1.006,0,0,0-.193-.04v-.309a.055.055,0,0,0-.056-.056h-.239a.057.057,0,0,0-.056.056v.316a.8.8,0,0,0-.447.235.6.6,0,0,0-.172.424.614.614,0,0,0,.015.137.685.685,0,0,0,.037.116.438.438,0,0,0,.062.1c.027.033.053.062.076.086a.622.622,0,0,0,.094.074q.058.038.1.062c.028.016.064.034.11.055s.081.036.108.046l.108.044c.063.025.11.044.14.057s.069.032.116.056a.493.493,0,0,1,.1.065.348.348,0,0,1,.059.074.18.18,0,0,1,.026.093.246.246,0,0,1-.108.214.425.425,0,0,1-.25.076.613.613,0,0,1-.129-.014.918.918,0,0,1-.426-.219l0,0a.043.043,0,0,0-.042-.016.054.054,0,0,0-.04.021l-.181.237a.053.053,0,0,0,0,.072.4.4,0,0,0,.031.031.985.985,0,0,0,.082.066,1.13,1.13,0,0,0,.13.084,1.236,1.236,0,0,0,.178.078,1.105,1.105,0,0,0,.223.054v.307a.054.054,0,0,0,.017.039.053.053,0,0,0,.039.017h.237a.053.053,0,0,0,.04-.016.053.053,0,0,0,.016-.04v-.3a.753.753,0,0,0,.453-.239.669.669,0,0,0,.174-.462A.578.578,0,0,0,288.672,278.785Z"
                transform="translate(-272.933 -263.244)" fill="#fff"></path>
            <path id="Path_3" data-name="Path 3"
                d="M11.5,204.213a3.334,3.334,0,0,0,.718,2.071H.063c-.053-.128-.072-2.827-.056-2.989a10.055,10.055,0,0,1,.24-1.62,1.848,1.848,0,0,1,1.511-1.437c.513-.105,1.026-.213,1.532-.344a5.339,5.339,0,0,0,1.85-.92c.031-.023.063-.044.1-.073l1.624,3.479c.14-.426.268-.818.394-1.21a.118.118,0,0,0,0-.075c-.139-.324-.284-.647-.42-.972a.307.307,0,0,1,.241-.4,10.618,10.618,0,0,1,1.288,0,.33.33,0,0,1,.226.478c-.117.233-.193.486-.287.73a.084.084,0,0,1-.017.036c-.159.135-.074.285-.026.432.1.32.211.64.326.987l1.624-3.477c.06.042.112.079.164.117a6.087,6.087,0,0,0,2.533,1.062q.452.086.9.189a1.752,1.752,0,0,1,1,.595A3.353,3.353,0,0,0,11.5,204.213Z"
                transform="translate(-0.002 -189.112)" fill="#00acee"></path>
        </g>
    </g>
</svg>
</template>
<script>
    export default {
        name: 'ResumeProIcon',
    }

</script>
