<template>
<svg xmlns="http://www.w3.org/2000/svg" width="17.748" height="19.754" viewBox="0 0 17.748 19.754">
  <g id="skills" transform="translate(-0.5 -0.001)">
    <path id="Path_1486" data-name="Path 1486" d="M131.221,140.39a.386.386,0,1,1-.386-.386A.386.386,0,0,1,131.221,140.39Zm0,0" transform="translate(-124.935 -134.602)" fill="#00acee"/>
    <path id="Path_1487" data-name="Path 1487" d="M139.141,40.776a.386.386,0,1,0,0-.772,3.864,3.864,0,0,0-3.642,2.585.386.386,0,1,0,.728.255A3.092,3.092,0,0,1,139.141,40.776Zm0,0" transform="translate(-129.77 -38.46)" fill="#00acee"/>
    <path id="Path_1488" data-name="Path 1488" d="M.5,120.38a.386.386,0,0,0,.386.386H2.429a.386.386,0,0,0,.386-.386A.378.378,0,0,0,2.429,120H.886A.378.378,0,0,0,.5,120.38Zm0,0" transform="translate(0 -115.373)" fill="#00acee"/>
    <path id="Path_1489" data-name="Path 1489" d="M402.811,120.38a.378.378,0,0,0-.386-.377h-1.543a.378.378,0,0,0-.386.377.386.386,0,0,0,.386.386h1.543A.386.386,0,0,0,402.811,120.38Zm0,0" transform="translate(-384.563 -115.373)" fill="#00acee"/>
    <path id="Path_1490" data-name="Path 1490" d="M30.557,211.262l1.336-.772a.386.386,0,0,0-.386-.668l-1.336.772a.386.386,0,0,0,.386.668Zm0,0" transform="translate(-28.341 -201.676)" fill="#00acee"/>
    <path id="Path_1491" data-name="Path 1491" d="M377.914,9.824l-1.337.772a.386.386,0,0,0,.386.668l1.336-.772a.386.386,0,0,0-.386-.668Zm0,0" transform="translate(-361.383 -9.395)" fill="#00acee"/>
    <path id="Path_1492" data-name="Path 1492" d="M30.03,9.967a.386.386,0,0,0,.141.527l1.336.772a.386.386,0,1,0,.386-.668l-1.336-.772A.386.386,0,0,0,30.03,9.967Zm0,0" transform="translate(-28.341 -9.396)" fill="#00acee"/>
    <path id="Path_1493" data-name="Path 1493" d="M377.914,211.263a.386.386,0,0,0,.386-.668l-1.336-.772a.386.386,0,0,0-.386.668Zm0,0" transform="translate(-361.383 -201.678)" fill="#00acee"/>
    <path id="Path_1494" data-name="Path 1494" d="M20.527,19.6a.385.385,0,0,0,.307.153H36.267a.386.386,0,0,0,.372-.489l-.9-3.242A1.935,1.935,0,0,0,34.33,14.7l-4.4-1.034a2.307,2.307,0,0,0,.934-1.858,2.887,2.887,0,0,1,.979-2.123A5.393,5.393,0,0,0,33.951,5.3,5.464,5.464,0,0,0,28.631,0a5.4,5.4,0,0,0-3.34,9.708,2.812,2.812,0,0,1,.946,2.1,2.313,2.313,0,0,0,.935,1.858l-4.4,1.035a1.935,1.935,0,0,0-1.406,1.324l-.9,3.242a.385.385,0,0,0,.065.337Zm8.024-4.137-.967-1.105.967-.228.967.228Zm-1.817-.905,1.237,1.414-1.559,1.039-.9-2.165Zm3.635,0,1.224.288-.9,2.165-1.559-1.039Zm-.279-2.637a1.543,1.543,0,0,1-3.077,0ZM25.757,9.094A4.63,4.63,0,0,1,28.619.773,4.724,4.724,0,0,1,33.18,5.31a4.594,4.594,0,0,1-1.806,3.762,3.543,3.543,0,0,0-1.212,2.079H28.937V7.814l.793-.765a.386.386,0,0,0-.536-.555l-.644.621-.643-.621a.386.386,0,1,0-.536.555l.793.765v3.337H26.943a3.45,3.45,0,0,0-1.186-2.057Zm-3.65,7.147a1.161,1.161,0,0,1,.842-.791l1.8-.423,1.132,2.716a.386.386,0,0,0,.57.173l2.1-1.4,2.1,1.4a.386.386,0,0,0,.57-.173l1.132-2.716,1.8.423a1.161,1.161,0,0,1,.842.791l.764,2.742H21.343Zm0,0" transform="translate(-19.179 0)" fill="#00acee"/>
  </g>
</svg>

</template>
<script>
    export default {
        name: 'SkillsIcon',
    }

</script>
