<template>
<svg xmlns="http://www.w3.org/2000/svg" width="13.712" height="19.196" viewBox="0 0 13.712 19.196">
  <g id="fist" transform="translate(0 -5.972)">
    <path id="Path_1462" data-name="Path 1462" d="M120.979,346.49a.49.49,0,1,1-.49-.49A.49.49,0,0,1,120.979,346.49Zm0,0" transform="translate(-114.124 -328.961)" fill="#00acee"/>
    <path id="Path_1463" data-name="Path 1463" d="M11.753,120.979a1.947,1.947,0,0,0-1.089.332,1.958,1.958,0,0,0-3.318-.646,1.956,1.956,0,0,0-2.939,0,1.958,1.958,0,0,0-3.428,1.294V124.7A2.458,2.458,0,0,0,0,126.66a8.333,8.333,0,0,0,3.33,6.66,1.469,1.469,0,0,1,.588,1.175v4.211a.49.49,0,0,0,.49.49h7.835a.49.49,0,0,0,.49-.49v-4.133a19.667,19.667,0,0,0,.727-2.979,19.644,19.644,0,0,0,.253-3.135v-5.521a1.958,1.958,0,0,0-1.959-1.959Zm0,.979a.979.979,0,0,1,.979.979v3.232a.979.979,0,1,1-1.959,0v-3.232A.981.981,0,0,1,11.753,121.959Zm-2.938-.979a.979.979,0,0,1,.979.979v3.232a.979.979,0,1,1-1.959,0v-3.232A.981.981,0,0,1,8.815,120.979Zm-2.938,0a.979.979,0,0,1,.979.979v2.253H4.9v-2.253A.981.981,0,0,1,5.876,120.979Zm-2.938,0a.981.981,0,0,1,.979.979v2.253H2.449a2.454,2.454,0,0,0-.49.05v-2.3A.981.981,0,0,1,2.938,120.979ZM4.9,138.217v-2.253h6.856v2.253Zm7.6-6.779a28.973,28.973,0,0,1-.74,3.057v.49H4.9v-.49a2.449,2.449,0,0,0-.979-1.959A7.352,7.352,0,0,1,.979,126.66a1.471,1.471,0,0,1,1.469-1.47H6.807a2.453,2.453,0,0,1-2.4,1.959H3.428a.49.49,0,1,0,0,.979h.49A1.962,1.962,0,0,1,5.839,129.7a.49.49,0,0,0,.961-.191,2.926,2.926,0,0,0-1-1.679,3.45,3.45,0,0,0,1.54-1.356,1.955,1.955,0,0,0,2.566.341,1.956,1.956,0,0,0,2.828,1.048v.594a18.686,18.686,0,0,1-.24,2.979Zm0,0" transform="translate(0 -114.028)" fill="#00acee"/>
  </g>
</svg>

</template>
<script>
    export default {
        name: 'StrengthsIcon',
    }

</script>
