<template>
<svg xmlns="http://www.w3.org/2000/svg" width="20.59" height="13.119" viewBox="0 0 20.59 13.119">
  <g id="video" transform="translate(-630.45 -451.62)">
    <path id="Path_1500" data-name="Path 1500" d="M650.73,452.781l-.049-.025h-.008a.623.623,0,0,0-.564.016l-4.332,2.362v-1.169a2.35,2.35,0,0,0-2.338-2.346H632.8a2.357,2.357,0,0,0-2.346,2.346V462.4a2.35,2.35,0,0,0,2.346,2.338h10.643a2.343,2.343,0,0,0,2.338-2.338v-1.144l4.332,2.362a.6.6,0,0,0,.474.049.609.609,0,0,0,.376-.3.561.561,0,0,0,.082-.3v-9.735A.634.634,0,0,0,650.73,452.781Zm-6.22,9.621a1.076,1.076,0,0,1-1.071,1.079H632.8a1.078,1.078,0,0,1-1.079-1.079v-8.436a1.078,1.078,0,0,1,1.079-1.079h10.643a1.076,1.076,0,0,1,1.071,1.079Zm5.264-.4-4-2.182v-3.245l4-2.182Z" fill="#00acee"/>
  </g>
</svg>

</template>
<script>
    export default {
        name: 'UploadVideoIcon',
    }

</script>
