<template>
<svg xmlns="http://www.w3.org/2000/svg" width="20.533" height="16.73" viewBox="0 0 20.533 16.73">
  <g id="work_experience" transform="translate(-654.029 -390.29)">
    <path id="Path_1483" data-name="Path 1483" d="M673.02,392.987H668.1v-.811a1.821,1.821,0,0,0-1.75-1.886h-4.11a1.821,1.821,0,0,0-1.75,1.886v.811H655.57a1.617,1.617,0,0,0-1.54,1.658v10.707a1.609,1.609,0,0,0,1.549,1.668H673.02a1.6,1.6,0,0,0,1.54-1.658V394.655A1.62,1.62,0,0,0,673.02,392.987Zm-11.454-.82a.711.711,0,0,1,.674-.738h4.1a.727.727,0,0,1,.683.747v.811h-5.458Zm11.919,13.195a.5.5,0,0,1-.474.51H655.579a.5.5,0,0,1-.474-.51v-8.183l5.941,3.107a1.777,1.777,0,0,0,1.713,1.5h3.071a1.784,1.784,0,0,0,1.713-1.5l3.818-2a.593.593,0,0,0,.246-.747.51.51,0,0,0-.292-.292.488.488,0,0,0-.392,0l-3.526,1.832a1.78,1.78,0,0,0-1.567-1.048h-3.071a1.777,1.777,0,0,0-1.576,1.048l-6.078-3.18v-1.258a.5.5,0,0,1,.474-.51L673,394.126a.512.512,0,0,1,.483.519Zm-11.39-5.413v-.036a.69.69,0,0,1,.665-.729h3.062a.736.736,0,0,1,.009,1.467h-3.062A.7.7,0,0,1,662.094,399.949Z" transform="translate(0 0)" fill="#00acee"/>
    <path id="Path_1484" data-name="Path 1484" d="M674.67,398.04l-.246.118a.549.549,0,0,1-.41.027.5.5,0,0,1-.31-.282.535.535,0,0,1,.246-.72l.246-.118a.547.547,0,0,1,.72.237l.018.046A.536.536,0,0,1,674.67,398.04Z" transform="translate(-1.741 -0.597)" fill="#00acee"/>
  </g>
</svg>

</template>
<script>
    export default {
        name: 'WorkIcon',
    }

</script>
