<template>
  <div>
    <app-header></app-header>
    <div class="app-viewbox">
      <router-view></router-view>
      <v-tour
        v-if="$mq != 'mobile'"
        name="oneCrate_CompanyTour"
        :steps="oneCrate_CompanyTourSteps"
        :options="oneCrateTourOptions"
        :callbacks="oneCrate_CompanyTourCallbacks"
      ></v-tour>
      <v-tour
        v-if="$mq != 'mobile'"
        name="oneCrate_CandidateTour"
        :steps="oneCrate_CandidateTourSteps"
        :options="oneCrateTourOptions"
        :callbacks="oneCrate_CandidateTourCallbacks"
      ></v-tour>
    </div>
    <chat-footer
      v-if="isLoggedIn && urlPath != '/offers' && urlPath != '/message'"
    ></chat-footer>
    <!--
        :steps="oneCrate_CompanyTourMobileSteps"
        :callbacks="oneCrate_CompanyTourMobileCallbacks"
    -->
    <v-tour
      class="v-tour--mobile"
      name="oneCrate_CompanyTourMobile"
      :options="oneCrateTourOptions"
    ></v-tour>
    <!--
        :steps="oneCrate_CandidateTourMobileSteps"
        :callbacks="oneCrate_CandidateTourMobileCallbacks"
     -->
    <v-tour
      class="v-tour--mobile"
      name="oneCrate_CandidateTourMobile"
      :options="oneCrateTourOptions"
    ></v-tour>
    <!-- </div> -->
    <app-footer v-if="!isLoggedIn"></app-footer>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";
import { debuglog } from "util";
import AppHeader from "../components/common/Header";
import AppFooter from "../components/common/LoginFooter";
import config from "../config/config";
import ChatFooter from "../components/common/ChatFooter";

export default {
  components: {
    AppHeader,
    AppFooter,
    ChatFooter,
  },
  data() {
    return {
      urlPath: "",
      drawer: true,
      tabIndex: 0,
      oneCrateTourOptions: {
        useKeyboardNavigation: true,
        highlight: true,
        startTimeout: 100,
        labels: {
          buttonSkip: "Skip tour",
          buttonPrevious: "Previous",
          buttonNext: "Next",
          buttonStop: "Finish",
        },
      },
      oneCrate_CompanyTourCallbacks: {
        onStart: this.routeToHome,
        onSkip: this.cleanUp,
        onFinish: this.cleanUp,
        onNextStep: this.nextStep,
        onPreviousStep: this.previousStep,
      },
      oneCrate_CandidateTourCallbacks: {
        onStart: this.routeToHome,
        onSkip: this.cleanUp,
        onFinish: this.cleanUp,
        onNextStep: this.nextStep,
        onPreviousStep: this.previousStep,
      },
      oneCrate_CompanyTourSteps: [
        {
          target: '[data-v-step="1"]',
          content:
            "Here’s a quick tutorial to begin.<br>You’re on the home page.<strong>1 / 10</strong>",
          params: {
            placement: "bottom",
          },
        },
        {
          target: '[data-v-step="2"]',
          content:
            "View stats related to the company profile on the Dash tab.<strong>2 / 10</strong>",
          params: {
            placement: "top",
          },
        },
        {
          target: '[data-v-step="3"]',
          content:
            "Use the Search tab to explore potential candidates on OneCrate.<strong>3 / 10</strong>",
          params: {
            placement: "top",
          },
        },
        {
          target: '[data-v-step="4"]',
          content:
            "The company profile will be seen publicly. Upload some pictures and attract more candidates!<strong>4 / 10</strong>",
          params: {
            placement: "top",
          },
        },
        {
          target: '[data-v-step="5"]',
          content:
            "Update the company account information here.<strong>5 / 10</strong>",
          params: {
            placement: "top",
          },
        },
        {
          target: '[data-v-step="6"]',
          content: "View interested candidates here.<strong>6 / 10</strong>",
          params: {
            placement: "left",
          },
        },
        {
          target: '[data-v-step="7"]',
          content:
            "ISOP (Interactive Social Org Platform) is where you can interactively view members and access job posting options. Build your ISOP to start posting jobs.<strong>7 / 10</strong>",
          params: {
            placement: "bottom",
          },
        },
        {
          target: '[data-v-step="8"]',
          content:
            "Access our database of thousands of job examples here and build your company job portfolio. When creating a job, just type the name of the job you are looking for and see the entry fields autofill. Your jobs are used to build your ISOP.<strong>8 / 10</strong>",
          params: {
            placement: "bottom",
          },
        },
        {
          target: '[data-v-step="9"]',
          content:
            "Candidate applications to posted jobs can be viewed and responded to here, a simple and easy to use ATS.<strong>9 / 10</strong>",
          params: {
            placement: "bottom",
          },
        },
        {
          target: '[data-v-step="10"]',
          content:
            "All members of your company can be viewed and removed here. Removed candidates will no longer have access to your ISOP.<strong>10 / 10</strong>",
          params: {
            placement: "bottom",
          },
        },
      ],
      oneCrate_CandidateTourSteps: [
        {
          target: '[data-v-step="1"]',
          content:
            "Here’s a quick tutorial to begin.<br>You’re on the home page.<strong>1 / 10</strong>",
          params: {
            placement: "bottom",
          },
        },
        {
          target: '[data-v-step="2"]',
          content:
            "View stats related to your profile on the Dash tab.<strong>2 / 10</strong>",
          params: {
            placement: "top",
          },
        },
        {
          target: '[data-v-step="3"]',
          content:
            "Use the Search tab to explore any job posting on OneCrate.<strong>3 / 10</strong>",
          params: {
            placement: "top",
          },
        },
        {
          target: '[data-v-step="4"]',
          content:
            "Find jobs you add to favorites here.<strong>4 / 10</strong>",
          params: {
            placement: "top",
          },
        },
        {
          target: '[data-v-step="5"]',
          content:
            "Update your account information here.<strong>5 / 10</strong>",
          params: {
            placement: "top",
          },
        },
        {
          target: '[data-v-step="6"]',
          content:
            "View recommended jobs and sent applications here. The recommendations are best with a well filled out digital resume.<strong>6 / 10</strong>",
          params: {
            placement: "left",
          },
        },
        {
          target: '[data-v-step="7"]',
          content:
            "ISOP (Interactive Social Org Platform) is where you can interactively view the members and jobs of the company you are a part of.<strong>7 / 10</strong>",
          params: {
            placement: "bottom",
          },
        },
        {
          target: '[data-v-step="8"]',
          content:
            "View your job offers and messages here.<strong>8 / 10</strong>",
          params: {
            placement: "bottom",
          },
        },
        {
          target: '[data-v-step="9"]',
          content:
            "Your digital resume is used to improve the quality of your job recommendations. It can also be seen by companies using OneCrate.<strong>9 / 10</strong>",
          params: {
            placement: "bottom",
          },
        },
        {
          target: '[data-v-step="10"]',
          content:
            "You’re done! Remember OneCrate works best for you with a filled out digital resume. Start here to increase the accuracy of your recommendations.<strong>10 / 10</strong>",
          params: {
            placement: "left",
          },
        },
      ],
    };
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCompany", "isCandidate", "userData"]),
  },
  methods: {
    myCustomonFinish(currentStep) {
      this.$router.push({ name: "isop" });
    },
    nextStep(currentStep) {
      if (currentStep === 0) {
        document
          .getElementsByClassName("has-tour")[0]
          .classList.add("v-tour__target--highlighted");
      }
      if (currentStep === 1 || currentStep === 2 || currentStep === 3) {
        this.showTab();
      }
      if (currentStep === 4) {
        document
          .getElementsByClassName("has-tour")[0]
          .classList.remove("v-tour__target--highlighted");
      }
      if (currentStep === 5) {
        if (this.isCompany) {
          this.$router.push({ name: "isop" });
        }
        if (this.isCandidate) {
          this.candidateIsopRoute();
        }
      }
      if (currentStep === 6) {
        if (this.isCompany) {
          this.$router.push({ name: "jobs" });
        }
        if (this.isCandidate) {
          this.$router.push({ name: "offers" });
        }
      }
      if (currentStep === 7) {
        if (this.isCompany) {
          this.$router.push({ name: "candidates" });
        }
        if (this.isCandidate) {
          this.$router.push({ name: "resume" });
        }
      }
      if (currentStep === 8) {
        if (this.isCompany) {
          this.$router.push({ name: "members" });
        }
        // if(this.isCandidate){ this.$router.push({ name: "resume" });}
      }
    },
    previousStep(currentStep) {
      if (currentStep === 9) {
        if (this.isCompany) {
          this.$router.push({ name: "candidates" });
        }
        if (this.isCandidate) {
          this.$router.push({ name: "resume" });
        }
      }
      if (currentStep === 8) {
        if (this.isCompany) {
          this.$router.push({ name: "jobs" });
        }
        if (this.isCandidate) {
          this.$router.push({ name: "offers" });
        }
      }
      if (currentStep === 7) {
        if (this.isCompany) {
          this.$router.push({ name: "isop" });
        }
        if (this.isCandidate) {
          this.candidateIsopRoute();
        }
      }
      if (currentStep === 6) {
        if (this.isCompany) {
          this.$router.push({ name: "home" });
        }
        if (this.isCandidate) {
          this.$router.push({ name: "home" });
        }
      }
      if (currentStep === 5) {
        document
          .getElementsByClassName("has-tour")[0]
          .classList.add("v-tour__target--highlighted");
      }
      if (currentStep === 2 || currentStep === 3 || currentStep === 4) {
        this.showTab();
      }
      if (currentStep === 1) {
        document
          .getElementsByClassName("has-tour")[0]
          .classList.remove("v-tour__target--highlighted");
      }
    },
    showTab: function () {
      setTimeout(() => {
        document
          .querySelectorAll("span.v-tour__target--highlighted")[0]
          .click();
        document
          .getElementsByClassName("has-tour")[0]
          .classList.add("v-tour__target--highlighted");
      }, 10);
    },
    cleanUp: function () {
      var hasTourDOMelement = document.querySelectorAll(".has-tour")[0];
      if (hasTourDOMelement) {
        document
          .querySelectorAll(".has-tour")[0]
          .classList.remove("v-tour__target--highlighted");
      }
      axios({ url: config.apiURL + "updateTourStatus", method: "POST" })
        .then((response) => {
          this.isLoading = false;
          if (response.status == 200) {
            this.$store.dispatch("updateUser", response.data);
          }
        })
        .catch((err) => {});
    },
    mobileNextStep(currentStep) {
      //   console.log(currentStep);
      if (currentStep === 0 || currentStep === 1) {
        this.showTab();
      }
      if (currentStep === 2) {
        document
          .getElementsByClassName("has-tour")[0]
          .classList.remove("v-tour__target--highlighted");
        this.$router.push({ name: "isop" });
      }
      if (currentStep === 3) {
        this.$router.push({ name: "jobs" });
      }
      if (currentStep === 4) {
        this.$router.push({ name: "candidates" });
      }
      if (currentStep === 5) {
        this.$router.push({ name: "members" });
      }
    },
    mobilePrevStep(currentStep) {
      console.log(currentStep);
      if (currentStep === 6) {
        this.$router.push({ name: "candidates" });
      }
      if (currentStep === 5) {
        this.$router.push({ name: "jobs" });
      }
      if (currentStep === 4) {
        document;
        this.$router.push({ name: "isop" });
      }
      if (currentStep === 3) {
        this.$router.push({ name: "home" });

        setTimeout(() => {
          document.querySelectorAll(".v-step")[0].classList.add("back-home");

          document
            .querySelectorAll(".v-step")[0]
            .setAttribute("x-placement", "top");

          document.querySelectorAll('[mobile-tour-step="3"]')[0].click();

          document
            .querySelectorAll('[mobile-tour-step="3"]')[0]
            .classList.add("v-tour__target--highlighted");

          document
            .getElementsByClassName("has-tour")[0]
            .classList.add("v-tour__target--highlighted");
        }, 10);
      }
      if (currentStep === 1 || currentStep === 2) {
        this.showTab();

        document.querySelectorAll(".v-step")[0].classList.remove("back-home");

        document
          .querySelectorAll('[mobile-tour-step="3"]')[0]
          .classList.remove("v-tour__target--highlighted");
      }
    },
    candidateMobileNextStep(currentStep) {
      //   console.log(currentStep);
      if (currentStep === 0 || currentStep === 1 || currentStep === 2) {
        this.showTab();
      }
      if (currentStep === 3) {
        document
          .getElementsByClassName("has-tour")[0]
          .classList.remove("v-tour__target--highlighted");
        if (this.isCandidate) {
          this.candidateIsopRoute();
        }
      }
      if (currentStep === 4) {
        this.$router.push({ name: "offers" });
      }
      if (currentStep === 5) {
        this.$router.push({ name: "resume" });
      }
    },
    candidateMobilePrevStep(currentStep) {
      console.log(currentStep);
      if (currentStep === 6) {
        this.$router.push({ name: "offers" });
      }
      if (currentStep === 5) {
        document;
        if (this.isCandidate) {
          this.candidateIsopRoute();
        }
      }
      if (currentStep === 4) {
        this.$router.push({ name: "home" });

        setTimeout(() => {
          document.querySelectorAll(".v-step")[0].classList.add("back-home");

          document
            .querySelectorAll(".v-step")[0]
            .setAttribute("x-placement", "top");

          document.querySelectorAll('[mobile-tour-step="4"]')[0].click();

          document
            .querySelectorAll('[mobile-tour-step="4"]')[0]
            .classList.add("v-tour__target--highlighted");

          document
            .getElementsByClassName("has-tour")[0]
            .classList.add("v-tour__target--highlighted");
        }, 10);
      }
      if (currentStep === 1 || currentStep === 2 || currentStep === 3) {
        this.showTab();
        document.querySelectorAll(".v-step")[0].classList.remove("back-home");
        document
          .querySelectorAll('[mobile-tour-step="4"]')[0]
          .classList.remove("v-tour__target--highlighted");
      }
    },
  },
  created: function () {
    // this.$store.dispatch("fetchCurrentUser");
    axios.interceptors.response.use(undefined, (err) => {
      return new Promise((resolve, reject) => {
        if (
          err.response.status === 401 &&
          err.config &&
          !err.config.__isRetryRequest
        ) {
          // if you ever get an unauthorized, logout the user
          this.$socket.client.emit("user_disconnect");
          console.log("disconnect");
          this.$store.dispatch("logout");
          this.$router.push("/");
          reject(err);
          // you can also redirect to /login if needed !
        }
        reject(err);
      });
    });
  },
  updated() {
    if (this.urlPath == this.$route.path) {
      if (this.isLoggedIn) {
        this.$socket.client.emit("user_connected", this.userData.id);
        console.log("connect");
      }
    }
    this.urlPath = this.$route.path;
    console.log(this.$route.path, "this.$route update");
  },
  mounted: function () {
    //console.log("User data: "+JSON.stringify(this.userData.tour_status));

    if (this.$mq != "mobile") {
      if (this.userData.tour_status == 0) {
        if (this.isLoggedIn && this.isCompany)
          this.$tours["oneCrate_CompanyTour"].start();
        if (this.isLoggedIn && this.isCandidate)
          this.$tours["oneCrate_CandidateTour"].start();
      }
    } else {
      if (this.userData.tour_status == 0) {
        if (this.isLoggedIn && this.isCompany)
          this.$tours["oneCrate_CompanyTourMobile"].start();
        if (this.isLoggedIn && this.isCandidate)
          this.$tours["oneCrate_CandidateTourMobile"].start();
      }
    }
  },
};
// First we get the viewport height and we multiple it by 1% to get a value for a vh unit
let vh = window.innerHeight * 0.01;
// Then we set the value in the --vh custom property to the root of the document
document.documentElement.style.setProperty("--vh", `${vh}px`);

// We listen to the resize event
window.addEventListener("resize", () => {
  // We execute the same script as before
  let vh = window.innerHeight * 0.01;
  document.documentElement.style.setProperty("--vh", `${vh}px`);
});
</script>

