<template>
    <div class="h-100">
        <div class="tab-content__inner__header">
            <h3>Achievements</h3>
            <div class="tab-content__inner__header__cta ml-auto">
                <b-button v-b-modal.add-achievement-modal
                          class="btn btn--round btn--round--blue" v-tooltip.left="'Add'">
                    <i class="fa fa-plus" aria-hidden="true"></i></b-button>
                <b-modal id="add-achievement-modal" hide-footer size="xl" centered title-class="text-blue"
                         title-tag="h3" title="Add Achievement" body-class="has-scroll flex-fill h-100">
                    <add-achievements></add-achievements>
                </b-modal>
            </div>
        </div>
        <div class="tab-content__inner__content p-15">
            <div class="d-flex align-items-center table-header">
                <div class="w-27 pl-2">
                    <span>Title</span>
                </div>
                <div class="w-73 d-flex align-items-md-center">
                    <div class="w-40">
                        <span>Institution</span>
                    </div>
                    <div class="w-40">
                        <span>Completion Date</span>
                    </div>
                    <div class="w-20 text-right">
                        <span>Actions</span>
                    </div>
                </div>
            </div>
            <div class="position-relative pt-3 mt-n3 pb-3">
                <ul class="as-table ui-sortable">
                    <sortable v-for="(list, index) in achievements" v-model="dragData" :key="list.id" :index="index"
                              drag-direction="vertical" replace-direction="vertical" @sortend="sortend($event, achievements)"
                              @sort="sort" @real-click="click">
                        <li class="as-table__row profile-card">
                            <div class="glassy-hover-effect"></div>
                            <div class="d-flex align-items-center as-table__row__data">
                                <div class="w-27 pl-2">
                                    <h5 class="text-blue">{{list.title}}</h5>
                                </div>
                                <div class="w-73 d-flex align-items-md-center">
                                    <div class="w-40 pr-2">
                                        <span>{{list.institution}}</span>
                                    </div>
                                    <div class="w-40 pr-2">
                                        <span>{{list.completion_month}}, {{list.completion_year}}</span>
                                    </div>
                                    <div class="w-20 text-right d-flex  justify-content-center justify-content-md-end">
                                        <b-button @click="editAchievement(index)"
                                                  class="btn btn--round mr-2" v-tooltip.top="'Edit'">
                                            <i class="fa fa-pen" aria-hidden="true"></i></b-button>

                                        <b-button v-on:click="deleteAchievement(list.id)"
                                                  class="btn btn--round btn--round--danger" v-tooltip.top="'Delete'">
                                            <i class="fa fa-trash" aria-hidden="true"></i></b-button>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </sortable>
                </ul>
            </div>
            <edit-achievements :bus="bus" />
            <b-modal id="delete-achievement-modal" centered title="Remove Achievement"
                     footer-class="justify-content-center">
                <p class="text-center mt-4">Are you sure you want to delete this?
                </p>
                <template v-slot:modal-footer="{ ok, cancel}">
                    <b-button variant="primary" @click="confirmDeleteAchievement()">
                        Yes
                    </b-button>
                    <b-button variant="danger" @click="cancelDeleteAchievement()">
                        No
                    </b-button>
                </template>
            </b-modal>
        </div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import AddAchievements from './achievements/AddAchievements'
    import EditAchievements from './achievements/EditAchievements'
    import Sortable from 'vue-drag-sortable'
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../config/config';
    import alertService from '../utils/alertService';
    import _ from 'lodash';
    export default {
        name: 'achievements',
        components: {
            buttonspinner: ButtonSpinner,
            'add-achievements':AddAchievements,
            'edit-achievements':EditAchievements,
            'sortable':Sortable,
        },
        data(){
            return {
                modalShown: false,
                achievementId : null,
                dragData: {},
                bus: new Vue(),
            }
        },
        created: function() {
            this.setAchievements();
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','achievements']),
        },
        methods:{
            // Sortable data code
            click (e) {
                // Todo
            },
            sort (e) {
                const { oldIndex, newIndex } = e
            },
            sortend (e, list) {
                const { oldIndex, newIndex } = e
                this.rearrange(list, oldIndex, newIndex)
            },
            rearrange (array, oldIndex, newIndex) {
                if (oldIndex > newIndex) {
                    array.splice(newIndex, 0, array[oldIndex]);
                    array.splice(oldIndex + 1, 1);
                    let arraycount = array.length;
                    let sortedarray = [];
                    for(let i = 0; i< arraycount; i++) {
                        sortedarray[i] = {id:array[i].id,sort_order:i};
                    }
                    // console.log("New sorted array data: "+JSON.stringify(sortedarray));
                    axios.post(config.apiURL+"sortAchievement", {
                        sortedarray:sortedarray,
                    })
                        .then(resp => {
                            const responseData = resp.data;
                            commit('set_achievements', responseData);
                        })
                        .catch(error => {
                            console.log(error);
                        })
                }
                else {
                    array.splice(newIndex + 1, 0, array[oldIndex])
                    array.splice(oldIndex, 1);
                }
            },
            // End code
            setAchievements(){
                axios.get(config.apiURL + 'getResumeAchievements', {})
                    .then((response) => {
                        this.$store.commit('set_achievements', response.data);
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
            },
            editAchievement(id){
                this.bus.$emit('editAchievement',id);
            },
            deleteAchievement(id){
                this.educationId = id;
                alertService.Confirm(
                    'Remove Achievement',
                    'Are you sure you want to delete this?',
                    () => this.confirmDeleteAchievement(),
                    () => this.cancelDeleteAchievement()
                );
            },
            confirmDeleteAchievement(){
                axios.get(config.apiURL+'deleteAchievement/'+this.educationId, {})
                    .then((response) => {
                        this.$store.commit('set_achievements', response.data);
                        this.$bvModal.hide('delete-achievement-modal');
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
            },
            cancelDeleteAchievement(){
                this.educationId = null;
                this.$bvModal.hide('delete-achievement-modal');
            }
        }
    }
</script>
