<template>
  <b-tab>
    <template v-slot:title>
      <span class="icon-wrap">
        <contact-info-icon></contact-info-icon>
      </span>
      Contact Info
    </template>
    <div class="tab-content__inner">
      <div class="tab-content__inner__header">
        <h3>Contact Information</h3>
      </div>
      <div class="tab-content__inner__content p-15">
        <form action="#" ref="contact_info_form" @submit.prevent="submit">
          <div class="row mb-4">
            <div class="col-12 col-xl-6">
              <div
                class="row form-group no-gutters cols-padding-0"
                :class="{ 'form-group--error': $v.email.$error }"
              >
                <div class="col-md-5 pt-3">
                  <label
                    for="email"
                    class="form-control-label form-control-label--blue text-medium border-transparent"
                  >
                    Primary Email*</label
                  >
                </div>
                <div class="col-md-7">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    v-model.trim="$v.email.$model"
                    @blur="setPrimaryEmail($event.target.value)"
                    placeholder="Primary Email"
                    disabled
                  />
                </div>
              </div>
              <div class="row form-group no-gutters cols-padding-0">
                <div class="col-md-5 pt-3">
                  <label
                    for="personal_email"
                    class="form-control-label form-control-label--blue text-medium border-transparent"
                    >Work Email*</label
                  >
                </div>
                <div class="col-md-7">
                  <input
                    type="email"
                    name="personal_email"
                    id="personal_email"
                    class="form-control"
                    v-model.trim="personal_email"
                    placeholder="Work Email"
                  />
                </div>
              </div>
              <div class="row form-group no-gutters">
                <div class="col-md-5">
                  <label
                    for="mobile_number"
                    class="form-control-label form-control-label--blue text-medium border-transparent pt-3"
                    >Personal #</label
                  >
                </div>
                <div class="col-md-7">
                  <VuePhoneNumberInput
                    class="form-phone-number mt-2 higher-z"
                    name="mobile_number"
                    id="mobile_number"
                    clearable
                    show-code-on-list
                    placeholder="Mobile Number"
                    v-model.trim="mobile_number"
                  />
                </div>
              </div>
              <div class="row form-group no-gutters">
                <div class="col-md-5">
                  <label
                    for="phone_number"
                    class="form-control-label form-control-label--blue text-medium border-transparent pt-3"
                  >
                    Work #</label
                  >
                </div>
                <div class="col-md-7">
                  <VuePhoneNumberInput
                    class="form-phone-number mt-2"
                    name="phone_number"
                    id="phone_number"
                    v-model.trim="phone_number"
                    clearable
                    show-code-on-list
                    placeholder="Phone Number"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-6">
              <div
                class="row form-group no-gutters cols-padding-0"
                :class="{ 'form-group--error': $v.country.$error }"
              >
                <div class="col-md-5 pt-3">
                  <label
                    for="country_id"
                    class="form-control-label form-control-label--blue text-medium border-transparent"
                    >Country*</label
                  >
                </div>
                <div class="col-md-7 input-wrapper">
                  <input
                    type="hidden"
                    name="country_id"
                    id="country_id"
                    ref="country_id"
                    v-model.trim="$v.country.$model.id"
                    value=""
                  />
                  <v-select
                    name="country"
                    id="country"
                    class=""
                    label="name"
                    :options="countries"
                    v-model.trim="$v.country.$model"
                    @input="getStates($v.country.$model.id)"
                    @blur="setCountry($event.target.value)"
                    placeholder="Select Country"
                  ></v-select>
                </div>
              </div>
              <div
                class="row form-group no-gutters cols-padding-0"
                :class="{ 'form-group--error': $v.state.$error }"
              >
                <div class="col-md-5 pt-3">
                  <label
                    for="state_id"
                    class="form-control-label form-control-label--blue text-medium border-transparent"
                    >State*</label
                  >
                </div>
                <div class="col-md-7 input-wrapper">
                  <input
                    type="hidden"
                    name="state_id"
                    id="state_id"
                    ref=""
                    v-model.trim="$v.state.$model.id"
                    value=""
                  />
                  <v-select
                    name="state"
                    id="state"
                    class=""
                    label="name"
                    :options="states"
                    v-model.trim="$v.state.$model"
                    @input="getCities($v.state.$model.id)"
                    @blur="setState($event.target.value)"
                    placeholder="Select State"
                  >
                  </v-select>
                </div>
              </div>
              <div class="row form-group no-gutters">
                <div class="col-md-5 pt-3">
                  <label
                    for="city_id"
                    class="form-control-label form-control-label--blue text-medium border-transparent"
                    >City*</label
                  >
                </div>
                <div class="col-md-7 input-wrapper pt-1">
                  <input
                    type="hidden"
                    name="city_id"
                    id="city_id"
                    ref="city_id"
                    v-if="city"
                    v-model.trim="city.id"
                    value=""
                  />
                  <v-select
                    name="city"
                    id="city"
                    class=""
                    label="name"
                    :options="cities"
                    v-model.trim="city"
                    placeholder="Select City"
                  >
                  </v-select>
                </div>
              </div>
              <div class="row form-group no-gutters">
                <div class="col-md-5 pt-3">
                  <label
                    for="address"
                    class="form-control-label form-control-label--blue text-medium border-transparent"
                    >Address</label
                  >
                </div>
                <div class="col-md-7 pt-1">
                  <vue-google-autocomplete
                    ref="address"
                    id="addr"
                    name="address"
                    class="form-control"
                    :value="address"
                    v-on:placechanged="getAddressData"
                  >
                  </vue-google-autocomplete>
                </div>
              </div>
              <div class="row form-group no-gutters">
                <div class="col-md-5 pt-3">
                  <label
                    for="zip_code"
                    class="form-control-label form-control-label--blue text-medium border-transparent"
                  >
                    Post Code / Zip</label
                  >
                </div>
                <div class="col-md-7">
                  <input
                    type="text"
                    name="zip_code"
                    id="zip_code"
                    class="form-control"
                    v-model.trim="zip_code"
                    @blur="setZipCode($event.target.value)"
                    placeholder="Post Code / Zip"
                  />
                </div>
              </div>
              <div class="row form-group no-gutters">
                <div class="col-12">
                  <button
                    class="btn btn-primary btn-md float-right"
                    @click.prevent="submit"
                  >
                    <span
                      v-bind="{ isLoading }"
                      v-if="isLoading == true"
                      class="spinner-border spinner-border--md spinner-border--in-button"
                    ></span>
                    Update
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <notifications group="foo" position="bottom right" />
      </div>
    </div>
  </b-tab>
</template>

<script>
import { mapGetters } from "vuex";
import ContactInfoIcon from "./icons/ContactInfoIcon";
import vSelect from "vue-select";
import ButtonSpinner from "vue-button-spinner";
import config from "../../config/config";
import _ from "lodash";
import VuePhoneNumberInput from "vue-phone-number-input";
import VueGoogleAutocomplete from "vue-google-autocomplete";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs,
} from "vuelidate/lib/validators";
export default {
  name: "ContactInformation",
  components: {
    ContactInfoIcon,
    VuePhoneNumberInput,
    "v-select": vSelect,
    buttonspinner: ButtonSpinner,
    VueGoogleAutocomplete,
  },
  data() {
    return {
      errors: [],
      countries: [],
      states: [],
      cities: [],
      personal_email: "",
      validationErrors: "",
      email: this.$store.getters.userData.email || "",
      personal_email: this.$store.getters.userData.personal_email || "",
      mobile_number: this.$store.getters.userData.mobile_number || "",
      phone_number: this.$store.getters.userData.phone_number || "",
      country: this.$store.getters.userData.country || "",
      state: this.$store.getters.userData.state || "",
      city: this.$store.getters.userData.city || "",
      address: this.$store.getters.userData.address || "",
      zip_code: this.$store.getters.userData.zip_code || "",
      successMsg: "",
      isLoading: false,
      submitted: false,
    };
  },
  created: function () {
    this.getCountries();
    let countryId = this.$store.getters.userData.country.id;
    if (
      this.$store.getters.userData.country !== null &&
      this.$store.getters.userData.state == null
    ) {
      this.getStates(countryId);
    } else {
      this.getStates(countryId);
      this.state = this.$store.getters.userData.state;
      // console.log("State "+JSON.stringify(this.state));
      this.getCities(this.state.id);
      this.city = this.$store.getters.userData.city;
    }
  },
  validations: {
    email: {
      required,
      email,
    },

    state: {
      required,
    },

    country: {
      required,
    },
  },
  methods: {
    getAddressData: function (addressData, placeResultData, id) {
      this.address = addressData;
    },
    getZipData: function (postalCodeData, placeResultData, id) {
      this.zip_code = postalCodeData;
    },
    getCountries: function () {
      axios.get(config.apiURL + "getCountryList/").then(
        function (response) {
          this.countries = response.data;
        }.bind(this)
      );
    },
    getStates: function (country) {
      this.state = "";
      this.city = "";
      this.cities = [];
      axios.get(config.apiURL + "getStateList/" + country).then(
        function (response) {
          this.states = response.data;
        }.bind(this)
      );
    },
    getCities: function (state_id) {
      this.city = "";
      axios.get(config.apiURL + "getCityList/" + state_id).then(
        function (response) {
          this.cities = response.data;
        }.bind(this)
      );
    },
    setPrimaryEmail(value) {
      this.email = value;
      this.$v.email.$touch();
      if (this.$v.email.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Enter email address",
        });
      }
      if (this.$v.email.email == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter valid email address",
        });
      }
      //this.checkEmail(value);
    },

    setPhoneNumber(value) {
      this.phone_number = value;
      this.$v.phone_number.$touch();
      if (this.$v.phone_number.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter phone number",
        });
      }
    },
    setCountry(value) {
      this.country = value;
      this.$v.country.$touch();
      if (this.$v.country.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select country name",
        });
      }
    },
    setState(value) {
      this.state = value;
      this.$v.state.$touch();
      if (this.$v.state.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select state name",
        });
      }
    },
    setCity(value) {
      this.city = value;
      this.$v.city.$touch();
      if (this.$v.city.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select city name",
        });
      }
    },
    setAddress(value) {
      this.address = value;
      this.$v.address.$touch();
      if (this.$v.address.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter address",
        });
      }
    },
    setZipCode(value) {
      this.zip_code = value;
      this.$v.zip_code.$touch();
      if (this.$v.zip_code.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter zip code",
        });
      }
    },
    submit() {
      this.isLoading = true;
      this.errors = [];
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.isLoading = false;
        this.$notify({
          group: "foo",
          type: "error",
          text: "Fill required form fields",
        });
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        let form = this.$refs["contact_info_form"];
        let formData = new FormData(form);
        this.$store
          .dispatch("setContactInfo", formData)
          .then((data) => {
            this.isLoading = false;
            this.$notify({
              group: "foo",
              type: "success",
              // title: key,
              text: "Contact information updated.",
            });
          })
          .catch((err) => {
            this.isLoading = false;
            this.error = err.response.data.error;
            let errors = err.response.data.errors;
            for (const [key, value] of Object.entries(errors)) {
              value.forEach((text, index) => {
                this.$notify({
                  group: "foo",
                  type: "error",
                  title: key,
                  text: text,
                });
              });
            }
          });

        // axios({url: config.apiURL + 'updateCandidateInfo',data: formdata,method: 'POST' }).then(response => {
        //     this.isLoading = false;
        //     if(response.status == 200) {
        //         this.$store
        //             .dispatch("updateUser", response.data )
        //         .then(data => {
        //             this.$notify({
        //                 group: "foo",
        //                 type: "success",
        //                 text: "Contact information successfully",
        //             });
        //             this.successmsg ='Contact Information Updated';
        //         })
        //         .catch(err => {
        //             this.loading = false;
        //             this.error = err.response.data.error;
        //         });
        //     }
        // })
        //     .catch(error => {
        //         this.isLoading = false;
        //         if (error.response.status === 422) {
        //             this.validationErrors = error.response.data.errors || {};
        //             this.errors = error.response.data.errors || {};
        //         }
        //     });
      }
    },
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCandidate", "candidateData", "userData"]),
  },
};
</script>
