<template>
    <div class="tab-content__inner__content p-15">
        <!--{{candidateData}}-->
        <!--{{$v}}-->
        <form action="#" method="post" ref="currentexpetise_form" @submit.prevent="submit">
        <div class="row mb-4">
            <div class="col-12 col-xl-6" :class="{'form-group--error':$v.current_qualification_id.$error}">
                <div class="row form-group no-gutters cols-padding-0">
                    <div class="col-md-5">
                        <label for="current_qualification_id" class="form-control-label form-control-label--blue text-medium border-transparent">Qualification</label>
                    </div>
                    <div class="col-md-7 input-wrapper">
                        <input type="hidden" name="current_qualification" id="current_qualification" ref="current_qualification" v-model.trim="$v.current_qualification_id.$model.id" value="">
                        <v-select type="text" name="current_qualification_id" id="current_qualification_id"  label="name" :options="qualificationlist"
                                  v-model.trim="$v.current_qualification_id.$model" @blur="setQualification($event.target.value)" @input="getQualificationId($v.current_qualification_id.$model)" placeholder="Select Qualification">
                        </v-select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-6" :class="{'form-group--error':$v.expertise.$error}">
                <div class="row form-group no-gutters cols-padding-0">
                    <div class="col-md-5">
                        <label for="field_of_study_id" class="form-control-label form-control-label--blue text-medium border-transparent">Expertise</label>
                    </div>
                    <div class="col-md-7 input-wrapper">
                        <input type="hidden" name="field_of_study_id" id="field_of_study_id" ref="field_of_study_id" value="">
                        <vue-bootstrap-typeahead :data="skillsList" v-model="expertise" ref="expertise"
                                                 :serializer="s => s.name" placeholder="Expertise" @hit="selectedSkill =$event"></vue-bootstrap-typeahead>
                    </div>

                </div>
            </div>
            <div class="col-12 d-flex justify-content-end align-items-center ">
                <div class="row form-group no-gutters cols-padding-0">
                    <div class="input-wrap text-right mb-0">
                        <button type="submit" class="btn btn-primary" @click.prevent="submit">
                            <span v-bind="{isLoading, current_loadingstatus}" v-if="isLoading == true" class="spinner-border spinner-border--md spinner-border--in-button"></span> Save</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
        <notifications group="foo" position="bottom right" />
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import vSelect from "vue-select";
    import ButtonSpinner from "vue-button-spinner";
    import VueBootstrapTypeahead from 'vue-bootstrap-typeahead'
    import config from '../../config/config';
    import _ from 'lodash';
    import {
        required,
        minLength,
        between,
        email,
        maxLength,
        alpha,
        alphaNum,
        numeric,
        integer,
        sameAs,
    } from "vuelidate/lib/validators";
    export default {
        name:'CurrentExpertise',
        components: {
            "v-select": vSelect,
            buttonspinner: ButtonSpinner,
            'vue-bootstrap-typeahead':VueBootstrapTypeahead
        },
        data() {
            return {
                errors: [],
                validationErrors: "",
                qualificationlist:[],
                current_qualification: "",
                current_qualification_id: this.$store.getters.candidateData.qualification || "",
                expertiselist:[],
                current_field_of_study_id:"",
                field_of_study_id:this.$store.getters.candidateData.field_of_study_id || "",
                expertise:"",
                skillsList: [],
                successmsg: "",
                isLoading: false,
                current_loadingstatus: "",
                submitted: false,
            };
        },
        validations: {
            current_qualification_id: {
                required,
            },
            expertise: {
                required,
            },
        },

        methods: {
            setQualification(value) {
                this.current_qualification_id = value;
                this.$v.current_qualification_id.$touch();
                if (this.$v.current_qualification_id.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select qualification",
                    });
                }
            },
            setExpertise(value) {
                this.field_of_study_id = value;
                this.$v.field_of_study_id.$touch();
                if (this.$v.field_of_study_id.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select expertise",
                    });
                }
            },
            getQualifications: function() {
                axios.get(config.apiURL+"getQualificationList/").then(
                    function(response) {
                        this.qualificationlist = response.data;
                    }.bind(this)
                );
            },
            getQualificationId(qualification) {
                this.$refs["current_qualification"].value = qualification.id;
            },
            expertiseIdValue() {
                this.$refs["field_of_study_id"].value = this.$store.getters.candidateData.field_of_study_id;
            },
            qualificationIdValue() {
                this.$refs["current_qualification"].value = this.$store.getters.candidateData.qualification;
            },
            async getExpertise(query) {
                const res = await fetch(config.apiURL+'getFieldOfStudy/'+query)
                const suggestions = await res.json();
                this.skillsList = suggestions;
                if(this.selectedSkill){
                    this.$refs["field_of_study_id"].value = this.selectedSkill.id;
                }
            },

            submit() {
                this.isLoading = true;
                this.errors = [];
                this.$v.$touch();
                //this.onClick();
                if (this.$v.$invalid) {
                    this.isLoading = false;
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Fill required form fields",
                    });
                } else {
                    // do your submit logic here
                    this.submitStatus = "PENDING";
                    let form = this.$refs["currentexpetise_form"];
                    let formdata = new FormData(form);
                    axios({url: config.apiURL + 'updateCandidateInfo',data: formdata,method: 'POST' }).then(response => {
                        this.isLoading = false;
                        if(response.status == 200) {
                            this.$store
                                .dispatch("updateUser", response.data );
                            this.$notify({
                                group: "foo",
                                type: "success",
                                text: "Current expertise updated.",
                            });
                        }
                    })
                        .catch(error => {
                            this.isLoading = false;
                            if (error.response.status === 422) {
                                this.validationErrors = error.response.data.errors || {};
                                this.errors = error.response.data.errors || {};
                            }
                        });
                    setTimeout(() => {
                        this.submitStatus = "OK";
                    }, 500);
                }
            },
        },
        watch: {
            expertise: _.debounce(function(addr) { this.getExpertise(addr) }, 500)
        },
        created: function() {
            this.getQualifications();

        },
        mounted() {
            this.expertiseIdValue();
            this.qualificationIdValue();
            if(this.$store.getters.candidateData.field_of_study != null) {
                //console.log("Call field of study in muted!");
                this.$refs.expertise.inputValue = this.$store.getters.candidateData.field_of_study.name;
                this.current_field_of_study_id = this.$store.getters.candidateData.field_of_study.name;
                this.expertise= this.$store.getters.candidateData.field_of_study.name || "";
            }
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','candidateData','userData']),

        },
    }
</script>