<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="h-100">
        <div class="tab-content__inner__header">
            <h3>Education</h3>
            <div class="tab-content__inner__header__cta ml-auto">
                <b-button v-b-modal.add-education-modal
                          class="btn btn--round btn--round--blue" v-tooltip.left="'Add'">
                    <i class="fa fa-plus" aria-hidden="true"></i></b-button>
                <b-modal id="add-education-modal" hide-footer size="xl" centered title-class="text-blue"
                         title-tag="h3" title="Add Qualification" body-class="has-scroll flex-fill h-100">
                    <add-education></add-education>
                </b-modal>
            </div>
        </div>
        <div class="tab-content__inner__content p-15">
            <div class="d-flex align-items-center table-header">
                <div class="w-27 pl-2">
                    <span>Title</span>
                </div>
                <div class="w-73 d-flex align-items-md-center">
                    <div class="w-40">
                        <span>Institution</span>
                    </div>
                    <div class="w-40">
                        <span>Completion Date</span>
                    </div>
                    <div class="w-20 text-right">
                        <span>Actions</span>
                    </div>
                </div>
            </div>
            <div class="position-relative pt-3 mt-n3 pb-3">
                <ul class="as-table ui-sortable" >
                    <sortable v-for="(list, index) in education" v-model="dragData" :key="list.id" :index="index"
                              drag-direction="vertical" replace-direction="vertical" @sortend="sortend($event, education)"
                              @sort="sort" @real-click="click">
                        <li class="as-table__row profile-card">
                            <!--{{list}}-->
                            <div class="glassy-hover-effect"></div>
                            <div class="d-flex align-items-center as-table__row__data">
                                <div class="w-27 pl-2">
                                    <h5 class="text-blue">{{list.title}}</h5>
                                </div>
                                <div class="w-73 d-flex align-items-md-center">
                                    <div class="w-40 pr-2">
                                        <span>{{list.institution}}</span>
                                    </div>
                                    <div class="w-40 pr-2">
                                        <span>{{list.completion_month}}, {{list.completion_year}}</span>
                                    </div>
                                    <div class="w-20 text-right d-flex  justify-content-center justify-content-md-end">
                                        <b-button @click="editEducation(index)"
                                                  class="btn btn--round mr-2" v-tooltip.top="'Edit'">
                                            <i class="fa fa-pen" aria-hidden="true"></i>
                                        </b-button>
                                        <b-button v-on:click="deleteEducation(list.id)"
                                                  class="btn btn--round btn--round--danger" v-tooltip.top="'Delete'">
                                            <i class="fa fa-trash" aria-hidden="true"></i></b-button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </sortable>
                </ul>
            </div>

            <edit-education :bus="bus" />
            <b-modal id="delete-education-modal" centered title="Remove Education"
                     footer-class="justify-content-center">
                <p class="text-center mt-4">Are you sure you want to delete this?</p>
                <template v-slot:modal-footer="{ ok, cancel}">
                    <b-button variant="primary" @click="confirmDeleteEducation()">
                        Yes
                    </b-button>
                    <b-button variant="danger" @click="cancelDeleteEducation()">
                        No
                    </b-button>
                </template>
            </b-modal>
        </div>

    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import AddEducation from './education/AddEducation'
    import EditEducation from './education/EditEducation'
    import ButtonSpinner from "vue-button-spinner";
    import Sortable from 'vue-drag-sortable'
    import config from '../../config/config';
    import alertService from '../utils/alertService';
    import _ from 'lodash';

    export default {
        name:'education',
        components: {
            buttonspinner: ButtonSpinner,
            'add-education':AddEducation,
            'edit-education':EditEducation,
            'sortable':Sortable,
        },
        data() {
            return {
                modalShown: false,
                educationId: null,
                dragData: {},
                // listData: [1,2,3,4,5,6,7,8,9,10],
                bus: new Vue(),

            };
        },
        created: function() {
            this.setEducation();
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','education']),

        },
        methods: {
            // Sortable data code
            click (e) {
                // Todo
            },
            sort (e) {
                // console.warn("Sort function called and drag data: "+JSON.stringify(e));
                const { oldIndex, newIndex } = e
            },
            sortend (e, list) {
                const { oldIndex, newIndex } = e
                this.rearrange(list, oldIndex, newIndex)
            },
            rearrange (array, oldIndex, newIndex) {
                if (oldIndex > newIndex) {
                    array.splice(newIndex, 0, array[oldIndex]);
                    array.splice(oldIndex + 1, 1);
                    let arraycount = array.length;
                    let sortedarray = [];
                    for(let i = 0; i< arraycount; i++) {
                        sortedarray[i] = {id:array[i].id,sort_order:i};
                    }
                    // console.log("New sorted array data: "+JSON.stringify(sortedarray));
                    axios.post(config.apiURL+"sortEducation", {
                        sortedarray:sortedarray,
                    })
                        .then(resp => {
                            const responseData = resp.data;
                            commit('set_education', responseData);
                        })
                        .catch(error => {
                            console.log(error);
                        })
                }
                else {
                    array.splice(newIndex + 1, 0, array[oldIndex])
                    array.splice(oldIndex, 1);
                }
            },
            // End code
            editEducation(id){
                this.bus.$emit('updateEducation',id);
            },
            setEducation(){
                axios.get(config.apiURL + 'getResumeEducation', {})
                    .then((response) => {
                        this.$store.commit('set_education', response.data);
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
            },
            deleteEducation(id){
                this.educationId = id;
                alertService.Confirm(
                    'Remove Education',
                    'Are you sure you want to delete this?',
                    () => this.confirmDeleteEducation(),
                    () => this.cancelDeleteEducation()
                );
            },
            confirmDeleteEducation(){
                axios.get(config.apiURL+'deleteEducation/'+this.educationId, {})
                    .then((response) => {
                        this.$store.commit('set_education', response.data);
                        this.$bvModal.hide('delete-education-modal');
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
            },
            cancelDeleteEducation(){
                this.educationId = null;
                this.$bvModal.hide('delete-education-modal');
            }
        }
    }
</script>
