<template>
  <div class="tab-content__inner">
    <div class="tab-content__inner__header">
      <h3>Interests</h3>
    </div>
    <div class="tab-content__inner__content p-15">
      <form
        action="#"
        method="post"
        ref="add_interest_form"
        @submit.prevent="submit"
        enctype="multipart/form-data"
      >
        <div class="input-wrap mb-4">
          <vue-tags-input
            v-model="tag"
            :tags="tags"
            :autocomplete-items="autocompleteItems"
            class="form-control h-auto pl-0"
            :add-only-from-autocomplete="true"
            @tags-changed="update"
            :placeholder="placeholderText"
          />
        </div>
      </form>
      <div class="position-relative pt-3 mt-n3 pb-3">
        <ul class="as-table ui-sortable">
          <sortable
            v-for="(list, index) in interests"
            v-model="dragData"
            :key="list.id"
            :index="index"
            drag-direction="vertical"
            replace-direction="vertical"
            @sortend="sortend($event, interests)"
            @sort="sort"
            @real-click="click"
          >
            <li class="as-table__row profile-card">
              <div class="glassy-hover-effect"></div>
              <div class="d-flex align-items-center as-table__row__data">
                <div class="w-60 pl-2">
                  <h5 class="text-blue">{{ list.name }}</h5>
                </div>
                <div
                  class="w-40 text-right d-flex justify-content-center justify-content-md-end"
                >
                  <b-button
                    v-on:click="deleteInterest(list.id)"
                    class="btn btn--round btn--round--danger"
                    v-tooltip.top="'Delete'"
                  >
                    <i class="fa fa-trash" aria-hidden="true"></i
                  ></b-button>
                </div>
              </div>
            </li>
          </sortable>
        </ul>
      </div>

      <b-modal
        id="delete-interest-modal"
        centered
        title="Remove Interest"
        footer-class="justify-content-center"
      >
        <p class="text-center mt-4">Are you sure you want to delete this?</p>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button variant="primary" @click="confirmDeleteInterest()">
            Yes
          </b-button>
          <b-button variant="danger" @click="cancelDeleteInterest()">
            No
          </b-button>
        </template>
      </b-modal>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { VueTagsInput, createTags } from "@johmun/vue-tags-input";
import axios from "axios";
import Sortable from "vue-drag-sortable";
import config from "../../config/config";
import alertService from "../utils/alertService";
import _ from "lodash";
export default {
  name: "Interests",
  components: {
    VueTagsInput,
    Sortable,
  },
  data() {
    return {
      tag: "",
      tags: [],
      autocompleteItems: [],
      debounce: null,
      dragData: {},
      validation: [
        {
          classes: "no-braces",
          rule: ({ text }) =>
            text.indexOf("{") !== -1 || text.indexOf("}") !== -1,
        },
      ],
    };
  },
  watch: {
    tag: "initItems",
  },
  created: function () {
    this.getInterest();
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCandidate", "interests"]),
    placeholderText: () => "Add interest",
  },
  methods: {
    // Sortable data code
    click(e) {
      // Todo
    },
    sort(e) {
      // console.warn("Sort function called and drag data: "+JSON.stringify(e));
      const { oldIndex, newIndex } = e;
    },
    sortend(e, list) {
      const { oldIndex, newIndex } = e;
      this.rearrange(list, oldIndex, newIndex);
    },
    rearrange(array, oldIndex, newIndex) {
      if (oldIndex > newIndex) {
        array.splice(newIndex, 0, array[oldIndex]);
        array.splice(oldIndex + 1, 1);
        let arraycount = array.length;
        let sortedarray = [];
        for (let i = 0; i < arraycount; i++) {
          sortedarray[i] = { id: array[i].id, sort_order: i };
        }
        // console.log("New sorted array data: "+JSON.stringify(sortedarray));
        axios
          .post(config.apiURL + "sortInterest", {
            sortedarray: sortedarray,
          })
          .then((resp) => {
            const responseData = resp.data;
            commit("set_interests", responseData);
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        array.splice(newIndex + 1, 0, array[oldIndex]);
        array.splice(oldIndex, 1);
      }
    },
    // End code
    getInterest() {
      axios
        .get(config.apiURL + "getResumeInterest", {})
        .then((response) => {
          this.$store.commit("set_interests", response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    update(newTags) {
      this.autocompleteItems = [];
      newTags.forEach((item, index) => {
        //this.tags.push(item.text);
        let form = this.$refs["add_interest_form"];
        let formData = new FormData(form);
        formData.append("tags", item.text);
        this.$store
          .dispatch("setInterests", formData)
          .then((data) => {
            this.isLoading = false;
            this.tag = "";
            this.tags = [];
          })
          .catch((err) => {
            this.isLoading = false;
            this.error = err.response.data.error;
            let errors = err.response.data.errors;
            for (const [key, value] of Object.entries(errors)) {
              value.forEach((text, index) => {
                this.$notify({
                  group: "foo",
                  type: "error",
                  // title: key,
                  text: text,
                });
              });
            }
          });
      });
    },
    deleteInterest(id) {
      this.interestId = id;
      alertService.Confirm(
        "Remove Interest",
        "Are you sure you want to delete this?",
        () => this.confirmDeleteInterest(),
        () => this.cancelDeleteInterest()
      );
    },
    confirmDeleteInterest() {
      axios
        .get(config.apiURL + "deleteInterest/" + this.interestId, {})
        .then((response) => {
          this.$store.commit("set_interests", response.data);
          this.$bvModal.hide("delete-interest-modal");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    cancelDeleteInterest() {
      this.interestId = null;
      this.$bvModal.hide("delete-interest-modal");
    },
    initItems() {
      if (this.tag.length < 2) return;
      const url = config.apiURL + "getSkills/" + this.tag;

      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        axios
          .get(url)
          .then((response) => {
            this.autocompleteItems = response.data.map((a) => {
              return { text: a.name, id: a.id };
            });
          })
          .catch(() => console.warn("Oh. Something went wrong"));
      }, 600);
    },
  },
};
</script>
