<template>
    <div class="h-100">
        <div class="tab-content__inner__header">
            <h3>Languages</h3>
            <div class="tab-content__inner__header__cta ml-auto">
                <b-button v-b-modal.add-language-modal
                          class="btn btn--round btn--round--blue" v-tooltip.left="'Add'">
                    <i class="fa fa-plus" aria-hidden="true"></i></b-button>
                <b-modal id="add-language-modal" hide-footer centered title="Add Language">
                    <add-language></add-language>
                </b-modal>
            </div>
        </div>
        <div class="tab-content__inner__content p-15">
            <div class="d-flex align-items-center table-header">
                <div class="w-27 pl-2">
                    <span>Title</span>
                </div>
                <div class="w-73 d-flex align-items-md-center">
                    <div class="w-40">
                        <span>Skills</span>
                    </div>
                    <div class="ml-auto">
                        <span>Actions</span>
                    </div>
                </div>
            </div>
            <!--{{languages}}-->
            <div class="position-relative pt-3 mt-n3 pb-3">
                <ul class="as-table ui-sortable">
                    <sortable v-for="(list, index) in languages" v-model="dragData" :key="list.id" :index="index"
                              drag-direction="vertical" replace-direction="vertical" @sortend="sortend($event, languages)"
                              @sort="sort" @real-click="click">
                        <li class="as-table__row profile-card">
                            <div class="glassy-hover-effect"></div>
                            <div class="d-flex align-items-center as-table__row__data">
                                <div class="w-27 pl-2">
                                    <h5 class="text-blue">{{list.language.name}}
                                    </h5>
                                </div>
                                <div class="w-73 d-flex align-items-md-center">
                                    <div class="w-60 pr-2">
                                        <span>{{list.proficiency.name}}</span>
                                    </div>
                                    <div class="w-20 ml-auto text-right d-flex justify-content-center justify-content-md-end">
                                        <b-button v-b-modal.edit-language-modal @click="editLanguage(index)"
                                                  class="btn btn--round mr-2" v-tooltip.top="'Edit'">
                                            <i class="fa fa-pen" aria-hidden="true"></i></b-button>
                                        <b-button v-on:click="deleteLanguage(list.id)"
                                                  class="btn btn--round btn--round--danger" v-tooltip.top="'Delete'">
                                            <i class="fa fa-trash" aria-hidden="true"></i></b-button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </sortable>
                </ul>
            </div>
            <edit-language :bus="bus" />

            <b-modal id="delete-language-modal" centered title="Remove Language"
                     footer-class="justify-content-center">
                <p class="text-center mt-4">Are you sure you want to delete this?</p>
                <template v-slot:modal-footer="{ ok, cancel}">
                    <b-button variant="primary" @click="confirmDeleteLanguage()">
                        Yes
                    </b-button>
                    <b-button variant="danger" @click="cancelDeleteLanguage()">
                        No
                    </b-button>
                </template>
            </b-modal>
        </div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import AddLanguage from './languages/AddLanguage'
    import EditLanguage from './languages/EditLanguage'
    import Sortable from 'vue-drag-sortable'
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../config/config';
    import alertService from '../utils/alertService';
    import _ from 'lodash';
    export default {
        name:'Languages',
        components: {
            buttonspinner: ButtonSpinner,
            'add-language':AddLanguage,
            'edit-language':EditLanguage,
            'sortable':Sortable,
        },
        data() {
            return {
                modalShown: false,
                languageId: null,
                dragData: {},
                bus: new Vue(),

            };
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','languages']),
        },
        created: function() {
            this.getLanguages();
        },
        methods: {
            // Sortable data code
            click (e) {
                // Todo
            },
            sort (e) {
                //console.warn("Sort function called and drag data: ");
                const { oldIndex, newIndex } = e
            },
            sortend (e, list) {
                const { oldIndex, newIndex } = e
                this.rearrange(list, oldIndex, newIndex)
            },
            rearrange (array, oldIndex, newIndex) {
                if (oldIndex > newIndex) {
                    array.splice(newIndex, 0, array[oldIndex]);
                    array.splice(oldIndex + 1, 1);
                    let arraycount = array.length;
                    let sortedarray = [];
                    for(let i = 0; i< arraycount; i++) {
                        sortedarray[i] = {id:array[i].id,sort_order:i};
                    }
                    // console.log("New sorted array data: "+JSON.stringify(sortedarray));
                    axios.post(config.apiURL+"sortResumeLanguage", {
                        sortedarray:sortedarray,
                    })
                        .then(resp => {
                            const responseData = resp.data;
                            commit('set_languages', responseData);
                        })
                        .catch(error => {
                            console.log(error);
                        })
                }
                else {
                    array.splice(newIndex + 1, 0, array[oldIndex])
                    array.splice(oldIndex, 1);
                }
            },
            // End code
            editLanguage(id){
                this.bus.$emit('editLanguages',id);
            },
            getLanguages(){
                axios.get(config.apiURL + 'getResumeLanguage', {})
                    .then((response) => {
                        this.$store.commit('set_languages', response.data);
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
            },

            deleteLanguage(id){
                this.languageId = id;
                alertService.Confirm(
                    'Remove Language',
                    'Are you sure you want to delete this?',
                    () => this.confirmDeleteLanguage(),
                    () => this.cancelDeleteLanguage()
                );
            },
            confirmDeleteLanguage(){
                axios.get(config.apiURL+'deleteLanguage/'+this.languageId, {})
                    .then((response) => {
                        this.$store.commit('set_languages', response.data);
                        this.$bvModal.hide('delete-language-modal');
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
            },
            cancelDeleteLanguage(){
                this.languageId = null;
                this.$bvModal.hide('delete-language-modal');
            }
        },
    }
</script>
