<template>
  <div class="tab-content__inner">
    <div class="tab-content__inner__header">
      <h3>Objective Summary</h3>
    </div>
    <div class="tab-content__inner__content p-15">
      <form
        action="#"
        method="post"
        ref="objective_summary_form"
        @submit.prevent="submit"
      >
        <div class="input-wrap contains-word-count">
          <textarea
            name="objective_summary"
            ref="objective_summary"
            v-model.trim="objective_summary"
            @paste="onPaste"
            :maxlength="max"
            class="form-control form-control--round bg-white"
            rows="4"
          ></textarea>
          <div
            class="input-group-addon"
            v-if="objective_summary"
            v-text="max - objective_summary.length"
          ></div>
        </div>
        <div class="btn-wrap text-right mt-4">
          <button type="submit" class="btn btn-primary" @click.prevent="submit">
            <span
              v-bind="{ isLoading, summary_loading }"
              v-if="isLoading == true"
              class="spinner-border spinner-border--md spinner-border--in-button"
            ></span>
            Save
          </button>
        </div>
      </form>
      <notifications group="foo" position="bottom right" />
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import ButtonSpinner from "vue-button-spinner";
import config from "../../config/config";
import _ from "lodash";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs,
} from "vuelidate/lib/validators";
export default {
  name: "ObjectiveSummary",
  components: {
    components: {
      buttonspinner: ButtonSpinner,
    },
  },
  data() {
    return {
      objective_summary:
        this.$store.getters.objectiveSummary.objective_summary || "",
      isLoading: false,
      submitted: false,
      summary_loading: "",
      max: 250,
    };
  },

  created: function () {
    this.getObjectiveSummary();
    console.log("objective_summary =>", this.objective_summary);
  },
  methods: {
    onPaste(evt) {
      console.log("on paste", evt);
      return true;
    },
    getObjectiveSummary() {
      axios
        .get(config.apiURL + "getObjectiveSummary", {})
        .then((response) => {
          this.$store.commit("set_objective_summary", response.data);
          this.objective_summary = response.data.objective_summary;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    submit() {
      this.isLoading = true;
      this.errors = [];

      // do your submit logic here
      this.submitStatus = "PENDING";
      let form = this.$refs["objective_summary_form"];
      let formData = new FormData(form);
      this.$store
        .dispatch("setObjectiveSummary", formData)
        .then((data) => {
          this.isLoading = false;
          this.$notify({
            group: "foo",
            type: "success",
            // title: key,
            text: "Objective Summary updated.",
          });
        })
        .catch((err) => {
          this.isLoading = false;
          this.error = err.response.data.error;
          let errors = err.response.data.errors;
          for (const [key, value] of Object.entries(errors)) {
            value.forEach((text, index) => {
              this.$notify({
                group: "foo",
                type: "error",
                //title: key,
                text: text,
              });
            });
          }
        });
      setTimeout(() => {
        this.submitStatus = "OK";
      }, 500);
    },
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCandidate", "objectiveSummary"]),
  },
};
</script>
