<template>
    <div class="h-100">
        <div class="tab-content__inner__header">
            <h3>Resume Builder Pro</h3>
            <div class="tab-content__inner__header__cta ml-auto">
                <b-button v-b-modal.pro-resume class="btn btn--round btn--round--blue" v-tooltip.left="'Add'">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </b-button>
                <b-modal id="pro-resume" hide-footer>
                    <template #modal-title> Resume Builder Pro </template>
                    <div class="d-block text-center">
                        <h3>Resume builder Pro will provide you some awesome extra features
                        to build and validate your resume in 20$ only ! </h3>
                    </div>
                    <br/>
                     <p v-if="proResumeList.active"><b>Note:- </b>You Have already active one resume. Please complete it tyhen you will able to pay for another one.</p>
                    <b-button
                    v-else
                    variant="success"
                    class="mt-3"
                    block
                    v-on:click="buySubscription"
                    >
                    Pay for Resume Builder Pro
                    </b-button>
                </b-modal>
            </div>
        </div>
        <div class="tab-content__inner__content p-15" v-if="proResumeList && proResumeList.data">
            <div class="position-relative pt-3 mt-n3 pb-3">
                <ul class="company-candidates-list">
                    <li v-for="(list,index) in proResumeList.data" :key="index">
                        <div class="profile-card has-hover-effect">
                            <div class="glassy-hover-effect glassy-hover-effect--lg"></div>
                            <div class="profile-card__meta d-flex space-between align-items-center">
                                <div class="profile-card__meta__data member-bio-block d-flex align-items-center w-33">
                                    <div class="thumbnail">
                                        <span class="icon-wrap">
                                            <resume-icon></resume-icon>
                                        </span>
                                    </div>
                                    <div class="inner-content">
                                        <h5
                                        class="text-blue cursor-pointer"
                                        >
                                        Pro Resume {{ index+1 }}
                                        </h5>
                                        <p>3 Changes Remain</p>
                                    </div>
                                    <b-dropdown
                                        right
                                        text="Right align"
                                        variant="-reset"
                                        class="ml-2"
                                        v-if="$mq === 'mobile'"
                                    >
                                        <template v-slot:button-content>
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </template>
                                        <b-dropdown-item href="#" disabled
                                        ><i class="fas fa-check mr-2"></i
                                        >Accept</b-dropdown-item
                                        >
                                        <b-dropdown-item
                                        href="#"
                                        ><i class="fas fa-times mr-2"></i
                                        >Reject</b-dropdown-item
                                        >
                                        <b-dropdown-item
                                        href="#"
                                        ><i class="fas fa-envelope mr-2"></i
                                        >Message</b-dropdown-item
                                        >
                                        <b-dropdown-item
                                        href="#"
                                        ><i class="fas fa-download mr-2"></i
                                        >Download</b-dropdown-item
                                        >
                                    </b-dropdown>
                                </div>
                                <div
                                class="w-60 company-candidates-block"
                                v-if="$mq != 'mobile'"
                                >
                                    <div class="company-candidates-block__email pl-15">
                                        <span class="d-block text-medium">Status</span>
                                        <span class="d-block text-overflow">
                                       {{  (list.active) ? `Active` : `Complete` }}
                                        </span>
                                    </div>
                                    <div class="pl-15 company-candidates-block__cta">
                                        <button
                                        class="btn mx-1 btn--round"
                                        v-tooltip.top="'Accept'"
                                        >
                                        <i class="fas fa-check"></i>
                                        </button>
                                        <button
                                        class="btn mx-1 btn--round"
                                        v-tooltip.top="'Reject'"
                                        >
                                        <i class="fas fa-times"></i>
                                        </button>
                                        <button
                                        class="btn mx-1 btn--round"
                                        v-tooltip.top="'Message'"
                                        >
                                        <i class="fas fa-envelope"></i>
                                        </button>
                                        <button
                                        class="btn mx-1 btn--round"
                                        v-tooltip.top="'Download'"
                                        >
                                        <i class="fas fa-download"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center admin-pagination" v-if="proResumeList.total > 20">
            <ul id="admin_pagination" class="v-pagination v-pagination--circle">
                <li v-if="proResumeList.current_page > 1">
                <button
                    type="button"
                    class="v-pagination__item"
                    v-on:click.prevent="changePage(proResumeList.current_page - 1)"
                ><i class="fas fa-chevron-left"></i>
                </button>
                </li>
                <li v-for="(page, index) in pagesNumber" v-if="page == proResumeList.current_page" :key="index">
                <button
                    type="button"
                    class="v-pagination__item v-pagination__item--active primary"
                    v-on:click.prevent="changePage(page)"
                >{{ page }}</button>
                </li>
                <li v-else>
                <button
                    type="button"
                    class="v-pagination__item"
                    v-on:click.prevent="changePage(page)"
                >{{ page }}</button>
                </li>
                <li v-if="proResumeList.current_page < proResumeList.last_page">
                <button
                    type="button"
                    class="v-pagination__item"
                    v-on:click.prevent="changePage(proResumeList.current_page + 1)"
                ><i class="fas fa-chevron-right"></i>
                </button>
                </li>
            </ul>
            </div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex';
    import config from '../../config/config';
    import ResumeIcon from "./icons/ResumeIcon";
    import _ from 'lodash';
    export default {
        name: 'ProResume',
        components: {
            ResumeIcon
        },
        data() {
            return {
                proResumeList: { total: 0, per_page: 50, from: 1, to: 0, current_page: 1, data: [] },
                paginationDetail: [],
                active: 0,
                current: 1,
                total: 0
            };
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','skills']),

        },
        created: function() {
            this.getProResumeList();
        },
        methods: {
            changePage(page) {
                //console.log("Page Number: "+page);
                this.proResumeList.current_page = page;
            },
            pagesNumber() {
                if (!this.proResumeList.to) {
                    return [];
                }
                let from = this.proResumeList.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                let to = from + this.offset * 2;
                if (to >= this.proResumeList.last_page) {
                    to = this.proResumeList.last_page;
                }
                let pagesArray = [];
                for (let page = from; page <= to; page++) {
                    pagesArray.push(page);
                }
                return pagesArray;
            },
            getProResumeList: async function() {
                let page = this.proResumeList.current_page;
                await axios
                .get(`${config.apiURL}getProResumeList/?page=${page}`)
                .then((resp) => {
                    this.proResumeList = resp.data;
                })
                .catch((err) => {
                    console.log("getProResumeList => ", err);
                });
            },
            buySubscription() {
                console.log(this.proResumeList);
                this.$router.push({
                    name: "pay-resume-builder",
                    params: { id: 1},
                });
            },
        },
    }
</script>
<style scoped>
.thumbnail span.icon-wrap {
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #ffff;
    border: solid 1px #ddd;
    border-radius: 50%;
}
</style>
