<template>
    <div class="h-100">
        <div class="tab-content__inner__header">
            <h3>References</h3>
            <div class="tab-content__inner__header__cta ml-auto">
                <b-button v-b-modal.add-reference-modal
                          class="btn btn--round btn--round--blue" v-tooltip.left="'Add'">
                    <i class="fa fa-plus" aria-hidden="true"></i></b-button>
                <b-modal id="add-reference-modal" hide-footer size="xl" centered title-class="text-blue"
                         title-tag="h3" title="Add Reference" body-class="has-scroll flex-fill h-100">
                    <add-reference></add-reference>
                </b-modal>
            </div>
        </div>
        <div class="tab-content__inner__content p-15">
            <div class="d-flex align-items-center table-header">
                <div class="w-27 pl-2">
                    <span>Name</span>
                </div>
                <div class="w-73 d-flex align-items-md-center">
                    <div class="w-40">
                        <span>Organization</span>
                    </div>
                    <div class="w-40">
                        <span>Type</span>
                    </div>
                    <div class="w-20 text-right">
                        <span>Actions</span>
                    </div>
                </div>
            </div>
            <!--{{references}}-->
            <div class="position-relative pt-3 mt-n3 pb-3">
                <ul class="as-table ui-sortable">
                    <sortable  v-for="(list, index) in references" v-model="dragData" :key="list.id" :index="index"
                               drag-direction="vertical" replace-direction="vertical" @sortend="sortend($event, references)"
                               @sort="sort" @real-click="click">
                        <li class="as-table__row profile-card">
                            <div class="glassy-hover-effect"></div>
                            <div class="d-flex align-items-center as-table__row__data">
                                <div class="w-27 pl-2">
                                    <h5 class="text-blue">{{list.name}}
                                    </h5>
                                </div>
                                <div class="w-73 d-flex align-items-md-center">
                                    <div class="w-40 pr-2">
                                        <span>{{list.organization}}</span>
                                    </div>
                                    <div class="w-40 pr-2">
                                        <span>{{list.type.name}}</span>
                                    </div>
                                    <div class="w-20 text-right d-flex  justify-content-center justify-content-md-end">

                                        <b-button @click="editReference(index)"
                                                  class="btn btn--round mr-2" v-tooltip.top="'Edit'">
                                            <i class="fa fa-pen" aria-hidden="true"></i>
                                        </b-button>
                                        <b-button v-on:click="deleteReference(list.id)"
                                                  class="btn btn--round btn--round--danger" v-tooltip.top="'Delete'">
                                            <i class="fa fa-trash" aria-hidden="true"></i></b-button>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </sortable>
                </ul>
            </div>
            <edit-reference :bus="bus" />

            <b-modal id="delete-reference-modal" centered title="Remove Reference"
                     footer-class="justify-content-center">
                <p class="text-center mt-4">Are you sure you want to delete this?</p>
                <template v-slot:modal-footer="{ ok, cancel}">
                    <b-button variant="primary" @click="confirmDeleteReference()">
                        Yes
                    </b-button>
                    <b-button variant="danger" @click="cancelDeleteReference()">
                        No
                    </b-button>
                </template>
            </b-modal>

        </div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import AddReference from './references/AddReference'
    import EditReference from './references/EditReference'
    import Sortable from 'vue-drag-sortable'
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../config/config';
    import alertService from '../utils/alertService';
    import _ from 'lodash';
    export default {
        name:'References',
        components: {
            buttonspinner: ButtonSpinner,
            'add-reference':AddReference,
            'edit-reference':EditReference,
            'sortable':Sortable,
        },
        data() {
            return {
                modalShown: false,
                referenceId: null,
                dragData: {},
                bus: new Vue(),

            };
        },
        created: function() {
            // this.getCountries();
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','references']),
        },
        created: function() {
            this.setReference();
        },
        methods: {
            // Sortable data code
            click (e) {
                // Todo
            },
            sort (e) {
                console.warn("Sort function called and drag data: ");
                const { oldIndex, newIndex } = e
            },
            sortend (e, list) {
                const { oldIndex, newIndex } = e
                this.rearrange(list, oldIndex, newIndex)
            },
            rearrange (array, oldIndex, newIndex) {
                if (oldIndex > newIndex) {
                    array.splice(newIndex, 0, array[oldIndex]);
                    array.splice(oldIndex + 1, 1);
                    let arraycount = array.length;
                    let sortedarray = [];
                    for(let i = 0; i< arraycount; i++) {
                        sortedarray[i] = {id:array[i].id,sort_order:i};
                    }
                    // console.log("New sorted array data: "+JSON.stringify(sortedarray));
                    axios.post(config.apiURL+"sortResumeReference", {
                        sortedarray:sortedarray,
                    })
                        .then(resp => {
                            const responseData = resp.data;
                            commit('set_references', responseData);
                        })
                        .catch(error => {
                            console.log(error);
                        })
                }
                else {
                    array.splice(newIndex + 1, 0, array[oldIndex])
                    array.splice(oldIndex, 1);
                }
            },
            // End code
            setReference(){
                axios.get(config.apiURL + 'getResumeReference', {})
                    .then((response) => {
                        this.$store.commit('set_references', response.data);
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
            },
            editReference(id){
                this.bus.$emit('updateReference',id);
            },
            deleteReference(id){
                this.referenceId = id;
                alertService.Confirm(
                    'Remove Reference',
                    'Are you sure you want to delete this?',
                    () => this.confirmDeleteReference(),
                    () => this.cancelDeleteReference()
                );

            },
            confirmDeleteReference(){
                axios.get(config.apiURL+'deleteReference/'+this.referenceId, {})
                    .then((response) => {
                        this.$store.commit('set_references', response.data);
                        this.$bvModal.hide('delete-reference-modal');
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
            },
            cancelDeleteReference(){
                this.referenceId = null;
                this.$bvModal.hide('delete-reference-modal');
            }
        },
    }
</script>
