<template>
  <div>
    <div class="candidate-resume__content">
      <div class="row" v-if="$mq != 'mobile'">
        <div class="col-6">
          <div class="candidate-resume__content__block" v-if="workExperience.length >0">
            <h3 class="block-title">Work Experience</h3>
            <div class="block-content" v-for="(list,index) in workExperience" :key="index">
              <h4>{{list.title}}</h4>
              <h5 class="has-content-date">
                <span class="company__name">{{list.organization}}</span>
                <span class="experience-duration" v-if="list.currently_working === 0">
                  {{list.start_month}} {{list.start_year}} - {{list.end_month}} {{list.end_year}}</span>
                <span class="experience-duration" v-else>
                  {{list.start_month}} {{list.start_year}} - Present</span>
              </h5>
              <span v-if="list.description" v-html="list.description"></span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="candidate-resume__content__block" v-if="education.length >0">
            <h3 class="block-title">Education</h3>
            <div class="block-content" v-for="(list, index) in education" :key="index">
              <h4>{{list.title}}</h4>
              <h5 class="has-content-date">
                <span class="company__name">{{list.institution}}</span>
                <span class="experience-duration">{{list.completion_month}} {{list.completion_year}}</span>
              </h5>
            </div>
          </div>
          <div class="candidate-resume__content__block" v-if="skills.length >0">
            <h3 class="block-title">Skills</h3>
            <div class="block-content">
              <ul class="list-reset row-of-two">
                <li v-for="(list,index) in skills" :key="index">{{list.skill.name}}</li>
              </ul>
            </div>
          </div>
          <div class="candidate-resume__content__block" v-if="strengths.length >0">
            <h3 class="block-title">Strengths</h3>
            <div class="block-content">
              <ul class="list-reset row-of-two">
                <li v-for="(list,index) in strengths" :key="index">{{list.name}}</li>
              </ul>
            </div>
          </div>
          <div class="candidate-resume__content__block" v-if="languages.length >0">
            <h3 class="block-title">Languages</h3>
            <div class="block-content--languages" v-for="(list,index) in languages" :key="index">
              <span class="language-row">
                <span class="language-name">{{list.language.name}}</span>
                <span class="language-proficiency">{{list.proficiency.name}}</span>
              </span>
            </div>
          </div>
          <div class="candidate-resume__content__block" v-if="achievements.length >0">
            <h3 class="block-title">Achievements</h3>
            <div class="block-content" v-for="(list, index) in achievements" :key="index">
              <h5 class="has-content-date">
                <span class="company__name">{{list.title}}</span>
                <span class="experience-duration">{{list.completion_month}} {{list.completion_year}}</span>
              </h5>
            </div>
          </div>
          <div class="candidate-resume__content__block" v-if="interests.length > 0">
            <h3 class="block-title">Interests</h3>
            <div class="block-content">
              <ul class="list-reset row-of-two">
                <li v-for="(list,index) in interests" :key="index"><span v-text="list.name"></span></li>
              </ul>
            </div>
          </div>
          <div class="candidate-resume__content__block" v-if="references.length >0">
            <h3 class="block-title">References</h3>
            <div class="block-content block-content--references">
              <div class="w-50 pr-2" v-for="(list, index) in references" :key="index">
                <p>{{list.name}}</p>
                <p>{{list.organization}}</p>
                <p>{{list.phone}}</p>
                <p>{{list | getReferenceLocation}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row" v-if="$mq != 'mobile' && video.length >0">
        <div class="col-6" v-for="(vlist,index) in video" :key="index">
        <video width="380" controls>
            <source :src="vlist.path" type="video/mp4">
        </video>
        </div>
      </div>
      <div class="tabs-wrapper tabs-wrapper--tabs-top-sm h-100 mw-100"  v-if="$mq === 'mobile'">
        <b-tabs content-class="flex-fill" fill nav-class="on-active-white tabs-small has-3-tabs mx-n3">
          <b-tab title="Summary" active>
            <div class="tab-content__inner pt-3 px-1">
              <div class="candidate-resume__content__block" v-if="objectiveSummary.objective_summary != null">
                <h3 class="block-title">Objective Summary</h3>
                <p>{{objectiveSummary.objective_summary}}</p>
              </div>
              <div class="candidate-resume__content__block" v-if="education.length >0">
                <h3 class="block-title">Education</h3>
                <div class="block-content" v-for="(list, index) in education" :key="index">
                  <h5 class="has-content-date">
                    <span class="company__name">{{list.title}}</span>
                  </h5>
                  <h5 class="has-content-date">
                    <span class="company__name">{{list.institution}}</span>
                    <span
                            class="experience-duration"
                    >{{list.completion_month}} {{list.completion_year}}</span>
                  </h5>
                </div>
              </div>
              <div class="candidate-resume__content__block" v-if="skills.length >0">
                <h3 class="block-title">Skills</h3>
                <div class="block-content">
                  <ul class="list-reset row-of-two">
                    <li v-for="(list,index) in skills" :key="index">{{list.skill.name}}</li>
                  </ul>
                </div>
              </div>
              <div class="candidate-resume__content__block" v-if="strengths.length >0">
                <h3 class="block-title">Strengths</h3>
                <div class="block-content">
                  <ul class="list-reset row-of-two">
                    <li v-for="(list,index) in strengths" :key="index">{{list.name}}</li>
                  </ul>
                </div>
              </div>
              <div class="candidate-resume__content__block" v-if="languages.length >0">
                <h3 class="block-title">Languages</h3>
                <div class="block-content--languages" v-for="(list,index) in languages" :key="index">
                  <span class="language-row">
                    <span class="language-name">{{list.language.name}}</span>
                    <span class="language-proficiency">{{list.proficiency.name}}</span>
                  </span>
                </div>
              </div>
              <div class="candidate-resume__content__block" v-if="achievements.length >0">
                <h3 class="block-title">Achievements</h3>
                <div class="block-content" v-for="(list, index) in achievements" :key="index">
                  <h5 class="has-content-date">
                    <span class="company__name">{{list.title}}</span>
                    <span
                            class="experience-duration"
                    >{{list.completion_month}} {{list.completion_year}}</span>
                  </h5>
                </div>
              </div>
              <div class="candidate-resume__content__block" v-if="interests.length > 0">
                <h3 class="block-title">Interests</h3>
                <div class="block-content">
                  <ul class="list-inline">
                    <li v-for="(list,index) in interests" :key="index">{{list.name}} </li>
                  </ul>
                </div>
              </div>
              <div class="candidate-resume__content__block" v-if="references.length >0">
                <h3 class="block-title">References</h3>
                <div class="block-content block-content--references">
                  <div class="w-50 pr-2" v-for="(list, index) in references" :key="index">
                    <p>{{list.name}}</p>
                    <p>{{list.organization}}</p>
                    <p>{{list.phone}}</p>
                    <p>{{list | getReferenceLocation}}</p>
                    <!--<p>{{list.city.name}}, {{list.state.name}}, {{list.country.name}}</p>-->
                  </div>
                </div>
              </div>
            </div>

          </b-tab>
          <b-tab title="Experience">
            <div class="tab-content__inner pt-3 px-1">
              <div class="candidate-resume__content__block" v-if="workExperience.length >0">
                <h3 class="block-title">Work Experience</h3>
                <div class="block-content" v-for="(list,index) in workExperience" :key="index">
                  <h4>{{list.title}}</h4>
                  <h5 class="has-content-date">
                    <span class="company__name">{{list.organization}}</span>
                    <span class="experience-duration" v-if="list.currently_working === 1">
                      {{list.start_month}} {{list.start_year}} - Present</span>
                    <!--<span class="experience-duration" v-else>-->
                    <span class="experience-duration" v-else>
                        {{list.start_month}} {{list.start_year}} - {{list.end_month}} {{list.end_year}}</span>
                  </h5>
                  <span v-if="list.description" v-html="list.description"></span>
                </div>
              </div>
            </div>
          </b-tab>
          <b-tab title="Contact">
            <div class="tab-content__inner pt-3 px-1">
              <div class="contact-tab-sm">
                <ul>
                  <li v-if="userData.email">
                    <h4>Email Address</h4>

                    <p>{{userData.email}}</p>
                  </li>
                  <li v-if="userData.phone_number">
                    <h4>Contact Number</h4>

                    <p>{{userData.phone_number}}</p>
                  </li>
                  <li v-if="candidateData.field_of_study">
                    <h4>Experties</h4>
                    <p>{{candidateData.field_of_study.name}}</p>
                  </li>
                  <li v-if="userData.city">
                    <h4>Location</h4>

                    <p>{{userData.city.name+', '+userData.state.name}}</p>

                  </li>
                </ul>
              </div>
              <div class="contact-tab-sm mt-3" v-if="video.length >0">
                <div class="col-12" v-for="(vlist,index) in video" :key="index">
                  <video width="300" controls>
                    <source :src="vlist.path" type="video/mp4">
                  </video>
                </div>

              </div>
              <div class="btn-wrap mt-4">
                <a href="#" class="btn btn-primary w-100">Download Resume</a>
              </div>
            </div>
          </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "ResumeContent",
  computed: {
    ...mapGetters([
      "isLoggedIn",
      "isCandidate",
      "userData",
      "education",
      "objectiveSummary",
      "contactInfo",
      "currentExpertise",
      "achievements",
      "workExperience",
      "video",
      "skills",
      "strengths",
      "languages",
      "interests",
      "references",
      "isResumePro",
      "candidateData"
    ])
  }
};

// <div class="map-area mt-3">
//   <img
//     class="w-100"
//     src="https://via.placeholder.com/400x400.png?text=Map+Here"
//     alt
//   />
// </div>

</script>
