<template>
    <div>
        <div class="candidate-resume__name" v-if="$mq != 'mobile'">
            <h3 v-if="userData.full_name">{{userData.full_name}}</h3>
        </div>
        <div class="candidate-resume__header">
            <div class="row">
                <div class="col-5" v-if="$mq != 'mobile'">
                    <p>{{objectiveSummary.objective_summary}}</p>
                </div>
                <div class="col-md-2 d-md-flex">
                    <div class="candidate-resume__header__thumbnail">
                        <div class="image-ratio-square image-round">
                            <img :src="userdp" @error="imageUrlAlt" class="img-fluid rounded-circle aos-init aos-animate">
                        </div>
                    </div>
                    <div class="candidate-resume__header__user-meta text-center mt-3" v-if="$mq === 'mobile'" >
                        <h3 class="text-blue mb-2" v-if="userData.full_name">{{userData.full_name}}</h3>
                    </div>
                </div>
                <div class="col-5" v-if="$mq != 'mobile'">
                    <ul>
                        <li v-if="userData.email">
                            <p >{{userData.email}}</p>
                            <span><img src="assets/images/email-resume.svg" alt="Email"></span>
                        </li>
                        <li v-if="userData.mobile_number">
                            <p >{{userData.mobile_number}}</p>
                            <span><img src="assets/images/phone-resume.svg" alt="Phone number"></span>
                        </li>
                        <li v-if="candidateData.field_of_study">
                            <p>{{candidateData.field_of_study.name}} </p>
                            <span><img src="assets/images/expertise-resume.svg" alt="expertise"></span>
                        </li>
                        <li>
                            <p>{{userData | getLocation}}</p>
                            <span><img src="assets/images/location-resume.svg" alt="location"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import {Avatar} from "vue-avatar";

    export default {
        name: "ResumeHeader",
        components: {
            Avatar
        },
        data : () => ({
            // candidateData : {},
            // isCandidate : false,
            currentRoute: "",
            userdp: 'assets/images/user-placeholder.png',
        }),
        methods : {
            imageUrlAlt(event) {
                event.target.src = "assets/images/user-placeholder.png"
            },
        },
        computed: {
            ...mapGetters(['isLoggedIn', 'isCandidate', 'candidateData', 'userData','objectiveSummary']),
        },
        mounted() {
            // console.log("Load mounted ", this.$store.getters.userData);
            // console.log(this.$router.currentRoute.name);
            this.currentRoute = this.$router.currentRoute.name;
            this.userdp = this.$store.getters.userData.image ? this.$store.getters.userData.image : 'assets/images/user-placeholder.png';
            // this.submit();
        },
    }
</script>

<style scoped>

</style>
