<template>
    <div class="h-100">
        <div class="tab-content__inner__header">
            <h3>Skills</h3>
            <div class="tab-content__inner__header__cta ml-auto">
                <b-button v-b-modal.add-skill-modal
                    class="btn btn--round btn--round--blue" v-tooltip.left="'Add'">
                    <i class="fa fa-plus" aria-hidden="true"></i></b-button>
                <b-modal id="add-skill-modal" hide-footer centered title="Add a Skill">
                    <add-skill></add-skill>
                </b-modal>
            </div>
        </div>
        <div class="tab-content__inner__content p-15">
            <div class="d-flex align-items-center table-header">
                <div class="w-27 pl-2">
                    <span>Title</span>
                </div>
                <div class="w-73 d-flex align-items-md-center">
                    <div class="ml-auto">
                        <span>Actions</span>
                    </div>
                </div>
            </div>
            <!--{{skills}}-->
            <div class="position-relative pt-3 mt-n3 pb-3">
                <ul class="as-table ui-sortable">
                    <sortable v-for="(list, index) in skills" v-model="dragData" :key="list.id" :index="index"
                            drag-direction="vertical" replace-direction="vertical" @sortend="sortend($event, skills)"
                            @sort="sort" @real-click="click">
                    <li class="as-table__row profile-card">
                        <div class="glassy-hover-effect"></div>
                        <div class="d-flex align-items-center as-table__row__data">
                            <div class="w-73 pl-2">
                                <h5 class="text-blue">{{list.skill.name}}
                                </h5>
                            </div>
                            <div class="ml-auto">
                                <b-button v-b-modal.delete-skill-modal @click="deleteSkill(list.id)"
                                        class="btn btn--round btn--round--danger mx-auto" v-tooltip.top="'Delete'">
                                    <i class="fa fa-trash" aria-hidden="true"></i></b-button>

                            </div>
                        </div>
                    </li>
                    </sortable>
                </ul>
            </div>
            <b-modal id="delete-skill-modal" centered title="Remove Skill"
                     footer-class="justify-content-center">
                <p class="text-center mt-4">Are you sure you want to delete this?</p>
                <template v-slot:modal-footer="{ ok, cancel}">
                    <b-button variant="primary" @click="confirmDeleteSkill()">
                        Yes
                    </b-button>
                    <b-button variant="danger" @click="cancelDeleteSkill()">
                        No
                    </b-button>
                </template>
            </b-modal>
        </div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import AddSkill from './skills/AddSkills'
    import Sortable from 'vue-drag-sortable'
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../config/config';
    import _ from 'lodash';
    export default {
        name: 'skills',
        components: {
            buttonspinner: ButtonSpinner,
            'add-skill':AddSkill,
            'sortable':Sortable,
        },
        data() {
            return {
                skillId: null,
                dragData: {},
                bus: new Vue(),

            };
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','skills']),

        },
        created: function() {
            this.setSkills();
        },
        methods: {
            // Sortable data code
            click (e) {
                // Todo
            },
            sort (e) {
                console.warn("Sort function called and drag data: ");
                const { oldIndex, newIndex } = e
                //console.log(oldIndex, newIndex,e)
            },
            sortend (e, list) {
                // console.warn("Call Sort End function called!"+ JSON.stringify(list));
                const { oldIndex, newIndex } = e
                this.rearrange(list, oldIndex, newIndex)
            },
            rearrange (array, oldIndex, newIndex) {
                if (oldIndex > newIndex) {
                    //console.log("Call Re-arrange function" +JSON.stringify(array));
                    array.splice(newIndex, 0, array[oldIndex]);
                    array.splice(oldIndex + 1, 1);
                    let arraycount = array.length;
                    let sortedarray = [];
                    for(let i = 0; i< arraycount; i++) {
                        sortedarray[i] = {id:array[i].id,sort_order:i};
                    }
                    // console.log("New sorted array data: "+JSON.stringify(sortedarray));
                    axios.post(config.apiURL+"sortSkills", {
                        sortedarray:sortedarray,
                    })
                        .then(resp => {
                            const responseData = resp.data;
                            commit('set_skills', responseData);
                        })
                        .catch(error => {
                            console.log(error);
                        })
                }
                else {
                    array.splice(newIndex + 1, 0, array[oldIndex])
                    array.splice(oldIndex, 1);
                }
            },
            // End code
            setSkills(){
                axios.get(config.apiURL + 'getResumeSkill', {})
                    .then((response) => {
                        this.$store.commit('set_skills', response.data);
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
            },
            deleteSkill(id){
                this.skillId = id;
            },
            confirmDeleteSkill(){
                axios.get(config.apiURL+'deleteSkill/'+this.skillId, {})
                    .then((response) => {
                        this.$store.commit('set_skills', response.data);
                        this.$bvModal.hide('delete-skill-modal');
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
            },
            cancelDeleteSkill(){
                this.skillId = null;
                this.$bvModal.hide('delete-skill-modal');
            }
        },

    }
</script>