<template>
    <div class="h-100">
        <div class="tab-content__inner__header">
            <h3>Strengths</h3>
            <div class="tab-content__inner__header__cta ml-auto">
                <b-button v-b-modal.add-strength-modal
                          class="btn btn--round btn--round--blue" v-tooltip.left="'Add'">
                    <i class="fa fa-plus" aria-hidden="true"></i></b-button>
                <b-modal id="add-strength-modal" hide-footer centered title="Add a Strength">
                    <add-strength></add-strength>
                </b-modal>
            </div>
        </div>
        <div class="tab-content__inner__content p-15">
            <div class="d-flex align-items-center table-header">
                <div class="w-27 pl-2">
                    <span>Title</span>
                </div>
                <div class="w-73 d-flex align-items-md-center">
                    <div class="ml-auto">
                        <span>Actions</span>
                    </div>
                </div>
            </div>
            <!--{{strengths}}-->
            <div class="position-relative pt-3 mt-n3 pb-3">
                <ul class="as-table ui-sortable">
                    <sortable v-for="(list, index) in strengths" v-model="dragData" :key="list.id" :index="index"
                              drag-direction="vertical" replace-direction="vertical" @sortend="sortend($event, strengths)"
                              @sort="sort" @real-click="click">
                        <li class="as-table__row profile-card">
                            <div class="glassy-hover-effect"></div>
                            <div class="d-flex align-items-center as-table__row__data">
                                <div class="w-73 pl-2">
                                    <h5 class="text-blue">{{list.name}}
                                    </h5>
                                </div>
                                <div class="ml-auto">
                                    <b-button v-on:click="deleteStrength(list.id)"
                                              class="btn btn--round btn--round--danger mx-auto" v-tooltip.top="'Delete'">
                                        <i class="fa fa-trash" aria-hidden="true"></i></b-button>

                                </div>
                            </div>
                        </li>
                    </sortable>
                </ul>
            </div>
            <b-modal id="delete-strength-modal" centered title="Remove Strength"
                     footer-class="justify-content-center">
                <p class="text-center mt-4">Are you sure you want to delete this?</p>
                <template v-slot:modal-footer="{ ok, cancel}">
                    <b-button variant="primary" @click="confirmDeleteStrength()">
                        Yes
                    </b-button>
                    <b-button variant="danger" @click="cancelDeleteStrength()">
                        No
                    </b-button>
                </template>
            </b-modal>
        </div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import AddStrength from "./strengths/AddStrength";
    import Sortable from 'vue-drag-sortable';
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../config/config';
    import alertService from '../utils/alertService';
    import _ from 'lodash';
    export default {
        name: 'Strengths',
        components: {AddStrength,ButtonSpinner,Sortable},
        data() {
            return {
                dragData: {},
            };
        },
        created: function() {
            // this.getCountries();
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','strengths']),

        },
        created: function() {
            this.setStrength();
        },
        methods: {
            // Sortable data code
            click (e) {
                // Todo
            },
            sort (e) {
                console.warn("Sort function called and drag data: ");
                const { oldIndex, newIndex } = e
            },
            sortend (e, list) {
                const { oldIndex, newIndex } = e
                this.rearrange(list, oldIndex, newIndex)
            },
            rearrange (array, oldIndex, newIndex) {
                if (oldIndex > newIndex) {
                    array.splice(newIndex, 0, array[oldIndex]);
                    array.splice(oldIndex + 1, 1);
                    let arraycount = array.length;
                    let sortedarray = [];
                    for(let i = 0; i< arraycount; i++) {
                        sortedarray[i] = {id:array[i].id,sort_order:i};
                    }
                    // console.log("New sorted array data: "+JSON.stringify(sortedarray));
                    axios.post(config.apiURL+"sortStrength", {
                        sortedarray:sortedarray,
                    })
                        .then(resp => {
                            const responseData = resp.data;
                            commit('set_strengths', responseData);
                        })
                        .catch(error => {
                            console.log(error);
                        })
                }
                else {
                    array.splice(newIndex + 1, 0, array[oldIndex])
                    array.splice(oldIndex, 1);
                }
            },
            // End code
            setStrength(){
                axios.get(config.apiURL + 'getResumeStrength', {})
                    .then((response) => {
                        this.$store.commit('set_strengths', response.data);
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
            },
            deleteStrength(id){
                this.strengthId = id;
                alertService.Confirm(
                    'Remove Strength',
                    'Are you sure you want to delete this?',
                    () => this.confirmDeleteStrength(),
                    () => this.cancelDeleteStrength()
                );
            },
            confirmDeleteStrength(){
                axios.get(config.apiURL+'deleteStrength/'+this.strengthId, {})
                    .then((response) => {
                        this.$store.commit('set_strengths', response.data);
                        this.$bvModal.hide('delete-strength-modal');
                    })
                    .catch( (error) => {
                        console.log(error);
                    })
            },
            cancelDeleteStrength(){
                this.strengthId = null;
                this.$bvModal.hide('delete-strength-modal');
            }
        },
    }
</script>
