<script>
    import vSelect from "vue-select";
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../config/config';
    import _ from 'lodash';
    import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
    import {
        Blockquote,
        CodeBlock,
        HardBreak,
        Heading,
        HorizontalRule,
        OrderedList,
        BulletList,
        ListItem,
        TodoItem,
        TodoList,
        Bold,
        Code,
        Italic,
        Link,
        Strike,
        Underline,
        History,
    } from 'tiptap-extensions'
    import {
        required,
        minLength,
        between,
        email,
        maxLength,
        alpha,
        alphaNum,
        numeric,
        integer,
        sameAs,
    } from "vuelidate/lib/validators";
    export  default {
        name:'CreateJob',
        components: {
            "v-select": vSelect,
            buttonspinner: ButtonSpinner,
            Editor,
            EditorContent,
            EditorMenuBar,
        },
        data() {
            return {
                errors: [],
                categoriesList:[],
                departmentList:[],
                qualificationList:[],
                experienceList:[],
                jobTypeList:[],
                supervisorList:[],
                countries: [],
                states:[],
                cities:[],
                jobRewards:[],
                salaryTypes:[],
                validationErrors: "",
                job_title_id:"",
                job_title:"",
                job_category_id:"",
                category:"",
                department_id:"",
                department:"",
                qualification_id:"",
                qualification:"",
                job_experience_id:"",
                experience_level:"",
                job_type_id:"",
                job_type:"",
                country_id:"",
                country: "",
                state_id:"",
                state:"",
                city_id:"",
                city:"",
                supervisor_id:"",
                supervisor:"",
                min_salary:"",
                max_salary:"",
                job_salary_type_id:"",
                description:"",
                responsibilities:"",
                required_skills:"",
                editorHtml:null,
                successmsg: "",
                isLoading: false,
                job_loading_status: "",
                submitted: false,
                editor: new Editor({
                    extensions: [
                        new Blockquote(),
                        new BulletList(),
                        new CodeBlock(),
                        new HardBreak(),
                        new Heading({ levels: [1, 2, 3] }),
                        new HorizontalRule(),
                        new ListItem(),
                        new OrderedList(),
                        new TodoItem(),
                        new TodoList(),
                        new Link(),
                        new Bold(),
                        new Code(),
                        new Italic(),
                        new Strike(),
                        new Underline(),
                        new History(),
                    ],
                    content:"<h2> Hi there,</h2>",
                    onUpdate: ({ getJSON, getHTML }) => {
                        this.editorHtml = getHTML();
                    },

                }),
            };
        },
        validations: {
            job_title: {
                required,
            },
            category: {
                required,
            },
            department: {
                required,
            },
            qualification : {
                required
            },
            experience_level: {
                required,
            },
            job_type:{
                required,
            },
            country:{
                required
            },
            state:{
                required
            },
            city:{
                required
            },
        },
        methods: {
            setCategory(value) {
                this.category = value;
                this.$v.category.$touch();
                if (this.$v.category.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select category",
                    });
                }
            },
            setDepartment(value) {
                this.department = value;
                this.$v.department.$touch();
                if (this.$v.department.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select department",
                    });
                }
            },
            setQualification(value) {
                this.qualification = value;
                this.$v.qualification.$touch();
                if (this.$v.qualification.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select qualification",
                    });
                }
            },
            setExperienceLevel(value) {
                this.experience_level = value;
                this.$v.experience_level.$touch();
                if (this.$v.experience_level.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select experience level",
                    });
                }
            },
            setJobType(value) {
                this.job_type = value;
                this.$v.job_type.$touch();
                if (this.$v.job_type.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select job type",
                    });
                }
            },
            setCountry(value) {
                this.country = value;
                this.$v.country.$touch();
                if (this.$v.country.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select country",
                    });
                }
            },
            setState(value) {
                this.state = value;
                this.$v.state.$touch();
                if (this.$v.state.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select state ",
                    });
                }
            },
            setCity(value) {
                this.city = value;
                this.$v.city.$touch();
                if (this.$v.city.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select city",
                    });
                }
            },
            setSupervisor(value) {
                this.qualification = value;
                this.$v.qualification.$touch();
                if (this.$v.qualification.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select qualification",
                    });
                }
            },
            //**************** Select Api List *****************//
            getCategories: function() {
                axios.get("/api/getJobCategory/").then(
                    function(response) {
                        this.categoriesList = response.data;
                    }.bind(this)
                );
            },
            getDepartments: function() {
                axios.get("/api/getJobDepartment/").then(
                    function(response) {
                        this.departmentList = response.data;
                    }.bind(this)
                );
            },
            getQualification: function() {
                axios.get("/api/getQualificationList/").then(
                    function(response) {
                        this.qualificationList = response.data;
                    }.bind(this)
                );
            },
            getExperienceLevel: function() {
                axios.get("/api/getJobExperience/").then(
                    function(response) {
                        this.experienceList = response.data;
                    }.bind(this)
                );
            },
            getJobType: function() {
                axios.get("/api/getJobTypes/").then(
                    function(response) {
                        this.jobTypeList = response.data;
                    }.bind(this)
                );
            },
            getCountries: function() {
                axios.get("/api/getCountryList/").then(
                    function(response) {
                        this.countries = response.data;
                    }.bind(this)
                );
            },
            getStates: function(country) {
                this.$refs["country_id"].value = country;
                axios.get("/api/getStateList/"+country)
                    .then(
                        function(response) {
                            this.states = response.data;
                        }.bind(this)
                    );
            },
            getCities: function(stateid) {
                this.$refs["state_id"].value = stateid;
                axios.get("/api/getCityList/"+stateid)
                    .then(
                        function(response) {
                            this.cities = response.data;
                        }.bind(this)
                    );
            },
            getRewards: function() {
                axios.get("/api/getRewards")
                    .then(
                        function(response) {
                            this.jobRewards = response.data;
                        }.bind(this)
                    );
            },
            getSalaryType: function() {
                axios.get("/api/getJobSalaryType")
                    .then(
                        function(response) {
                            this.salaryTypes = response.data;
                        }.bind(this)
                    );
            },

        },
        created: function() {
            this.getCategories();
            this.getDepartments();
            this.getQualification();
            this.getExperienceLevel();
            this.getJobType();
            this.getRewards();
            this.getSalaryType();
            this.getCountries();
        },
        beforeDestroy() {
            this.editor.destroy()
        },
    }
</script>