<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="tab-content__inner">
    <div class="tab-content__inner__header">
      <h3>Upload Video</h3>
    </div>
    <div class="tab-content__inner__content p-15">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="drop-zone flex-column p-5" v-if="!primaryVideoUploaded">
            <p class="mb-4">
              <i class="fa fa-cloud-upload-alt fa-2x" aria-hidden="true"></i>
              Upload image from your computer
            </p>
            <form
              method="post"
              enctype="multipart/form-data"
              ref="candidatePrimaryVideoForm"
            >
              <input
                type="file"
                name="candidateVideo"
                id="candidatePrimaryVideo"
                class="uploadcomgallery"
                accept="video/mp4"
                @change="uploadVideo('primary')"
              />
              <label
                for="candidatePrimaryVideo"
                id="candidatePrimaryVideoDropZone"
                class="btn btn-primary ml-0"
                >Choose File</label
              >
            </form>
          </div>
          <div v-if="primaryVideoUploaded">
            <video width="400" controls>
              <source :src="primaryVideoSource" type="video/mp4" />
              Your browser does not support HTML5 video.
            </video>
            <button class="btn btn-danger ml-0" @click="deleteVideo('primary')">
              Delete Video
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="drop-zone flex-column p-5" v-if="!secondaryVideoUploaded">
            <p class="mb-4">
              <i class="fa fa-cloud-upload-alt fa-2x" aria-hidden="true"></i>
              Upload image from your computer
            </p>
            <form
              method="post"
              enctype="multipart/form-data"
              ref="candidateSecondaryVideoForm"
            >
              <input
                type="file"
                name="candidateVideo"
                id="candidateSecondaryVideo"
                class="uploadcomgallery"
                accept="video/mp4"
                @change="uploadVideo('secondary')"
              />
              <label
                for="candidateSecondaryVideo"
                id="candidateSecondaryVideoDropZone"
                class="btn btn-primary ml-0"
                >Choose File</label
              >
            </form>
          </div>
          <div v-if="secondaryVideoUploaded">
            <video width="400" controls>
              <source :src="secondaryVideoSource" type="video/mp4" />
              Your browser does not support HTML5 video.
            </video>
            <button
              class="btn btn-danger ml-0"
              @click="deleteVideo('secondary')"
            >
              Delete Video
            </button>
          </div>
        </div>
        <notifications group="foo" position="bottom right" />
      </div>
    </div>
    <b-modal
      id="delete-video-modal"
      centered
      title="Remove Video"
      footer-class="justify-content-center"
    >
      <p class="text-center mt-4">Are you sure you want to delete this?</p>
      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button variant="primary" @click="confirmDeleteVideo()">
          Yes
        </b-button>
        <b-button variant="danger" @click="cancelDeleteVideo()"> No </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import config from "../../config/config";
export default {
  name: "UploadVideo",
  data() {
    return {
      primaryVideoUploaded: null,
      primaryVideoSource: null,
      secondaryVideoUploaded: null,
      secondaryVideoSource: null,
      videoType: null,
    };
  },
  created: function () {
    this.getVideos();
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCandidate", "video"]),
  },
  methods: {
    getVideos() {
      axios
        .get(config.apiURL + "getResumeVideo", {})
        .then((response) => {
          this.$store.commit("set_video", response.data);
          this.setVideos();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    setVideos() {
      this.$store.getters.video.forEach((item, index) => {
        console.log(item, index);
        if (item.title == "primary") {
          this.primaryVideoSource = item.path;
          this.primaryVideoUploaded = true;
        } else if (item.title == "secondary") {
          this.secondaryVideoSource = item.path;
          this.secondaryVideoUploaded = true;
        }
      });
    },
    uploadVideo(type) {
      this.$notify({
        group: "foo",
        type: "warning",
        duration: -1,
        text: "Uploading Video ...",
      });
      let form = null;
      if (type == "primary") {
        form = this.$refs["candidatePrimaryVideoForm"];
      } else if (type == "secondary") {
        form = this.$refs["candidateSecondaryVideoForm"];
      }
      let formData = new FormData(form);
      formData.append("type", type);
      axios
        .post(config.apiURL + "setResumeVideo", formData)
        .then((response) => {
          this.$store.commit("set_video", response.data);
          this.setVideos();
          this.$notify({
            group: "foo",
            clean: true,
          });
          this.$notify({
            group: "foo",
            type: "success",
            // title: "Important message",
            text: "Video uploaded.",
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    deleteVideo(type) {
      this.videoType = type;
      this.$bvModal.show("delete-video-modal");
    },
    confirmDeleteVideo() {
      axios
        .get(config.apiURL + "deleteResumeVideo/" + this.videoType, {})
        .then((response) => {
          this.$store.commit("set_video", response.data);
          if (this.videoType == "primary") {
            this.primaryVideoSource = null;
            this.primaryVideoUploaded = null;
          } else if (this.videoType == "secondary") {
            this.secondaryVideoSource = null;
            this.secondaryVideoUploaded = null;
          }
          this.setVideos();
          this.$bvModal.hide("delete-video-modal");
          this.$notify({
            group: "foo",
            type: "warning",
            // title: "Important message",
            text: "Video deleted.",
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    cancelDeleteVideo() {
      this.videoType = null;
      this.$bvModal.hide("delete-video-modal");
    },
  },
};
</script>
