<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="h-100">
    <div class="tab-content__inner__header">
      <h3>Work Experiences</h3>
      <div class="tab-content__inner__header__cta ml-auto">
        <b-button
          v-b-modal.add-work-experiences-modal
          class="btn btn--round btn--round--blue"
          v-tooltip.left="'Add'"
        >
          <i class="fa fa-plus" aria-hidden="true"></i
        ></b-button>
        <b-modal
          id="add-work-experiences-modal"
          hide-footer
          size="xl"
          centered
          title-class="text-blue"
          title-tag="h3"
          title="Add Work Experience"
          body-class="has-scroll flex-fill h-100"
        >
          <add-work-experience></add-work-experience>
        </b-modal>
      </div>
    </div>
    <div class="tab-content__inner__content p-15">
      <div class="responsive-tablet">
        <div class="d-flex align-items-center table-header">
          <div class="w-27 px-2">
            <span>Title</span>
          </div>
          <div class="w-73 d-flex align-items-md-center">
            <div class="w-40">
              <span>Institution</span>
            </div>
            <div class="w-20">
              <span>Start Date</span>
            </div>
            <div class="">
              <span>Completion Date</span>
            </div>
            <div class="ml-auto">
              <span>Actions</span>
            </div>
          </div>
        </div>
        <div class="position-relative pt-3 mt-n3 pb-3">
          <ul class="as-table ui-sortable">
            <sortable
              v-for="(list, index) in workExperience"
              v-model="dragData"
              :key="list.id"
              :index="index"
              drag-direction="vertical"
              replace-direction="vertical"
              @sortend="sortend($event, workExperience)"
              @sort="sort"
              @real-click="click"
            >
              <li class="as-table__row profile-card">
                <div class="glassy-hover-effect"></div>
                <div class="d-flex align-items-center as-table__row__data">
                  <div class="w-27 px-2">
                    <h5 class="text-blue">{{ list.title }}</h5>
                  </div>
                  <div class="w-73 d-flex align-items-md-center">
                    <div class="w-40 pr-2">
                      <span>{{ list.organization }}</span>
                    </div>
                    <div class="w-20 pr-2">
                      <span>{{ list.start_month }} {{ list.start_year }}</span>
                    </div>
                    <div class="w-20 pr-2">
                      <span>{{ list.end_month }} {{ list.end_year }}</span>
                    </div>
                    <div
                      class="w-20 text-right d-flex justify-content-center justify-content-md-end"
                    >
                      <b-button
                        @click="editWorkExperience(index)"
                        class="btn btn--round mr-2"
                        v-tooltip.top="'Edit'"
                      >
                        <i class="fa fa-pen" aria-hidden="true"></i>
                      </b-button>

                      <b-button
                        v-on:click="deleteWorkExperience(list.id)"
                        class="btn btn--round btn--round--danger"
                        v-tooltip.top="'Delete'"
                      >
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </b-button>
                    </div>
                  </div>
                </div>
              </li>
            </sortable>
          </ul>
        </div>
        <edit-work-experience :bus="bus" />
        <b-modal
          id="delete-work-experience-modal"
          centered
          title="Remove Work Experience"
          footer-class="justify-content-center"
        >
          <p class="text-center mt-4">Are you sure you want to delete this?</p>
          <template v-slot:modal-footer="{ ok, cancel }">
            <b-button variant="primary" @click="confirmDeleteWorkExperience()">
              Yes
            </b-button>
            <b-button variant="danger" @click="cancelDeleteWorkExperience()">
              No
            </b-button>
          </template>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import AddWorkExperience from "./workexperience/AddWorkExperience";
import EditWorkExperience from "./workexperience/EditWorkExperience";
import Sortable from "vue-drag-sortable";
import ButtonSpinner from "vue-button-spinner";
import config from "../../config/config";
import alertService from "../utils/alertService";
import _ from "lodash";
export default {
  name: "WorkExperience",
  components: {
    buttonspinner: ButtonSpinner,
    "add-work-experience": AddWorkExperience,
    "edit-work-experience": EditWorkExperience,
    sortable: Sortable,
  },
  data() {
    return {
      modalShown: false,
      workExperienceId: null,
      dragData: {},
      bus: new Vue(),
    };
  },
  created: function () {
    this.setWorkExperience();
  },
  computed: {
    ...mapGetters(["workExperience"]),
  },
  methods: {
    // Sortable data code
    click(e) {
      // Todo
    },
    sort(e) {
      console.warn("Sort function called and drag data: ");
      const { oldIndex, newIndex } = e;
    },
    sortend(e, list) {
      const { oldIndex, newIndex } = e;
      this.rearrange(list, oldIndex, newIndex);
    },
    rearrange(array, oldIndex, newIndex) {
      if (oldIndex > newIndex) {
        array.splice(newIndex, 0, array[oldIndex]);
        array.splice(oldIndex + 1, 1);
        let arraycount = array.length;
        let sortedarray = [];
        for (let i = 0; i < arraycount; i++) {
          sortedarray[i] = { id: array[i].id, sort_order: i };
        }
        // console.log("New sorted array data: "+JSON.stringify(sortedarray));
        axios
          .post(config.apiURL + "sortWorkExperience", {
            sortedarray: sortedarray,
          })
          .then((resp) => {
            const responseData = resp.data;
            commit("set_workExperience", responseData);
          })
          .catch((error) => {
            console.log(error);
          });
      } else {
        array.splice(newIndex + 1, 0, array[oldIndex]);
        array.splice(oldIndex, 1);
      }
    },
    // End code
    setWorkExperience() {
      axios
        .get(config.apiURL + "getResumeWorkExperience", {})
        .then((response) => {
          this.$store.commit("set_workExperience", response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    editWorkExperience(id) {
      this.bus.$emit("editWorkExperience", id);
    },

    deleteWorkExperience(id) {
      this.workExperienceId = id;
      alertService.Confirm(
        "Remove WorkExperience",
        "Are you sure you want to delete this?",
        () => this.confirmDeleteWorkExperience(),
        () => this.cancelDeleteWorkExperience()
      );
    },
    confirmDeleteWorkExperience() {
      axios
        .get(
          config.apiURL + "deleteWorkExperience/" + this.workExperienceId,
          {}
        )
        .then((response) => {
          this.$store.commit("set_workExperience", response.data);
          this.$bvModal.hide("delete-work-experience-modal");
        })
        .catch((error) => {
          console.log(error);
        });
    },
    cancelDeleteWorkExperience() {
      this.workExperienceId = null;
      this.$bvModal.hide("delete-work-experience-modal");
    },
  },
};
</script>
