<template>
    <b-modal id="location-view-modal" hide-footer size="xl" centered
             title-class="text-blue" title-tag="h3" title="Location"
             body-class="flex-fill h-100 p-0">
        <div class="company-info-wrapper">
            <div class="company-info-content has-scroll">

            <gmap-map
                    :center="center"
                    :zoom="12"
                    style="width:100%;  height: 400px;">
                <gmap-marker
                        :key="index"
                        v-for="(m, index) in markers"
                        :position="m.position"
                        @click="center=m.position"></gmap-marker>
            </gmap-map>
                <!--{{companyMap}}-->

            </div>
        </div>
    </b-modal>
</template>
<script>
    export default {
        name:'MapLocationModal',
        //components:[gmapApi],
        props: ['bus'],
        data(){
            return{
                companyMap:[],
                // default to Montreal to keep it simple
                // change this to whatever makes sense
                center: { lat: 45.508, lng: -73.587 },
                markers: [],
                places: [],
                currentPlace: null,
                geocoder:'',

            }
        },
        mounted() {
            this.bus.$on('loadCompanyMap', this.loadCompanyMap);
            this.geolocate();
            geocoder = new google.maps.Geocoder();

        },

        methods: {
            loadCompanyMap(data) {
                this.companyMap = {
                    //name:data.company.name,
                    country: data.country,
                    state: data.state,
                    city: data.city,
                };
                this.$bvModal.show('location-view-modal');
            },
            // receives a place object via the autocomplete component
            setPlace(place) {
                this.currentPlace = place;
            },
            addMarker() {
                if (this.currentPlace) {
                    const marker = {
                        lat: this.currentPlace.geometry.location.lat(),
                        lng: this.currentPlace.geometry.location.lng()
                    };
                    this.markers.push({ position: marker });
                    this.places.push(this.currentPlace);
                    this.center = marker;
                    this.currentPlace = null;
                }
            },
            geolocate: function() {
                navigator.geolocation.getCurrentPosition(position => {
                    this.center = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                });
            },
             codeAddress() {
        let address = 'Sydney, NSW';
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                let marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    },

        },
        created:function() {
            //this.showMap();
        }
    }
</script>
