<template>
    <b-modal id="job-view-modal" hide-footer size="xl" centered
             title-class="text-blue" title-tag="h3" title="Job Description"
             body-class="flex-fill h-100 p-0">
        <div class="job-info-wrapper">
            <div class="job-info-header">
                <header class="user-meta">
                    <div class="d-flex align-items-center">
                        <div class="user-meta__thumbnail">
                            <img class="img-fluid rounded-circle" :src="companyLogo" @error="imageUrlAlt">
                        </div>
                        <div class="user-meta__content apply-job__content d-flex align-items-center flex-fill">
                            <div class="flex-fill">
                                <h4 class="text-overflow">{{jobDetails.title}}</h4>
                                <p class="mt-1 text-overflow">{{companyDetails.name}}</p>
                                <p class="text-overflow">{{jobDetails | getLocation}}
                                </p>
                            </div>
                            <div v-if="$mq != 'mobile'">

                                <div  class="profile-card__cta ml-3 mt-0">
                                    <button v-if="jobDetails.status == 0" class="btn btn-primary">Offline</button>
                                    <button @click="downloadJob(jobDetails.jobId)"
                                            class="btn btn--round  btn--round--has-tooltip btn--round--has-tooltip--download mr-2">
                                        <i class="fa fa-download" aria-hidden="true"></i></button>
                                </div>

                            </div>
                        </div>

                    </div>
                </header>
            </div>
            <div class="job-info-content has-scroll">
                <div class="row" v-if="$mq != 'mobile'">
                    <div class="col-8">
                        <div class="job-info-block" v-if="jobDetails.description">
                            <h4 class="mb-2">Job Description</h4>
                            <span v-html="jobDetails.description"></span>
                        </div>
                        <div class="job-info-block" v-if="jobDetails.responsibilities">
                            <h4 class="mb-2">Responsibilities</h4>
                            <span v-html="jobDetails.responsibilities"></span>
                        </div>
                        <div class="job-info-block" v-if="jobDetails.required_skills">
                            <h4 class="mb-2">Skill & Experience Details
                            </h4>
                            <span v-html="jobDetails.required_skills"></span>
                        </div>
                        <!--{{rewardList}}-->
                        <div class="job-info-block" v-if="rewardList.length > 0">
                            <h4 class="mb-2">Benefits</h4>
                            <ul class="list-of-3 tick-styled">
                                <li v-for="rewards in rewardList">{{rewards.reward.name}}</li>
                            </ul>
                        </div>
                        <div class="job-info-block">
                            <form action=""
                                  class="d-flex space-between">
                                <div class="pos-rel w-100">
                                    <input type="text" :readonly="true" name="jobUrl" v-model="jobUrl" id="jobUrl"
                                           value="" class="form-control form-control--round" placeholder="job-url">
                                </div>
                                <button type="button" class="btn btn--round btn--round--blue ml-3" @click="copyText()"
                                        v-tooltip.top="'Copy URL'"><i class="fa fa-clone"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-4 b-left--solid">
                        <div class="pop-job-detail">
                            <div class="job-info-block job-info-block--secondary mb-2">
                                <h4 class="mb-2">Job Details</h4>
                                <ul>
                                    <li>
                                        <img src="/assets/images/money.png" alt="Money.png">
                                        <p>
                                            <span v-if="salary_term" class="d-inline text-body">{{salary_term.name | salaryTerm}} </span>Salary
                                            <span v-if="jobDetails.max_salary"> ${{jobDetails.min_salary}} - ${{jobDetails.max_salary}}</span>
                                            <span v-else-if="jobDetails.salary_type"> {{jobDetails.salary_type}}</span>
                                        </p>
                                    </li>
                                    <li v-if="jobDetails.job_type">
                                        <img src="/assets/images/timing.png" alt="Timing">
                                        <p>Job Type<span>{{jobDetails.job_type}}</span>
                                        </p>
                                    </li>
                                    <li v-if="jobDetails.qualification">
                                        <img src="/assets/images/qualification.png" alt="Qualification">
                                        <p>Qualification <span>{{jobDetails.qualification}}</span></p>
                                    </li>
                                    <li v-if="jobDetails.experience">
                                        <img src="/assets/images/star.png" alt="Star">
                                        <p>Experience<span>{{jobDetails.experience}}</span>
                                        </p>
                                    </li>
                                    <li v-if="jobDetails.category">
                                        <img src="/assets/images/category.png" alt="Category">
                                        <p>Category<span>{{jobDetails.category}}</span></p>
                                    </li>
                                    <li v-if="jobDetails.department">
                                        <img src="/assets/images/department.png" alt="Department">
                                        <p>Department<span>{{jobDetails.department}}</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="job-info-block job-info-block--secondary skill mb-2" v-if="skillList.length > 0">
                                <h4 class="mb-2">Skills</h4>
                                <ul class="list-badge">
                                    <li v-for="skill in jobDetails.skills">{{skill.skill.name}}</li>
                                </ul>
                            </div>
                            <div class="job-info-block job-info-block--secondary location-detail ">
                                <ul>
                                    <li>
                                        <img src="/assets/images/marker.png" alt="Map">
                                        <p>HQ Location<span>{{jobDetails | getLocation}}</span>
                                        </p>
                                    </li>
                                </ul>
                                <div class="map-wrapper">
                                    <gmap-map :center="center" :zoom="12"
                                              style="width:100%;  height: 200px;">
                                        <gmap-marker :key="index" v-for="(m, index) in markers"
                                                     :position="m.position" @click="center=m.position"></gmap-marker>
                                    </gmap-map>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="isCandidate">
                        <notifications group="foo" position="bottom right" /> </div>
                </div>

                <div class="tabs-wrapper tabs-wrapper--tabs-top-sm h-100" v-if="$mq === 'mobile'">
                    <b-tabs content-class="flex-fill" fill nav-class="on-active-white tabs-small has-2-tabs">
                        <b-tab title="Description" active>
                            <div class="tab-content__inner pt-3">
                                <div class="job-info-block" v-if="jobDetails.description">
                                    <h4 class="mb-2">Job Description</h4>
                                    <span v-html="jobDetails.description"></span>
                                </div>
                                <div class="job-info-block" v-if="jobDetails.responsibilities">
                                    <h4 class="mb-2">Responsibilities</h4>
                                    <span v-html="jobDetails.responsibilities"></span>
                                </div>
                                <div class="job-info-block" v-if="jobDetails.required_skills">
                                    <h4 class="mb-2">Skill & Experience Details
                                    </h4>
                                    <span v-html="jobDetails.required_skills"></span>
                                </div>
                                <!--{{rewardList}}-->
                                <div class="job-info-block" v-if="rewardList.length > 0">
                                    <h4 class="mb-2">Benefits</h4>
                                    <ul class="list-of-3 tick-styled">
                                        <li v-for="rewards in rewardList">{{rewards.reward.name}}</li>
                                    </ul>
                                </div>
                                <div class="job-info-block">
                                    <form action=""
                                          class="d-flex space-between">
                                        <div class="pos-rel w-100">
                                            <input type="text" :readonly="true" name="jobUrl" v-model="jobUrl" id="mobilejobUrl"
                                                   class="form-control form-control--round" placeholder="job-url">
                                        </div>
                                        <button type="button" class="btn btn--round btn--round--blue ml-3" @click="copyMobileText()">
                                            <i class="fa fa-clone"></i></button>
                                    </form>
                                </div>
                            </div>
                        </b-tab>
                        <b-tab title="Details">
                            <div class="tab-content__inner pt-3">
                                <div class="pop-job-detail">
                                    <div class="job-info-block job-info-block--secondary mb-2">
                                        <h4 class="mb-2">Job Details</h4>
                                        <ul>
                                            <li>
                                                <img src="/assets/images/money.png" alt="Money.png">
                                                <p><span v-if="salary_term" class="d-inline text-body">{{salary_term.name | salaryTerm}} </span>Salary
                                                    <span v-if="jobDetails.max_salary"> ${{jobDetails.max_salary}} - ${{jobDetails.min_salary}}</span>
                                                    <span v-else-if="jobDetails.salary_type"> {{jobDetails.salary_type}}</span>
                                                </p>
                                            </li>
                                            <li v-if="jobDetails.job_type">
                                                <img src="/assets/images/timing.png" alt="Timing">
                                                <p>Job Type<span>{{jobDetails.job_type}}</span>
                                                </p>
                                            </li>
                                            <li v-if="jobDetails.qualification">
                                                <img src="/assets/images/qualification.png" alt="Qualification">
                                                <p>Qualification <span>{{jobDetails.qualification}}</span></p>
                                            </li>
                                            <li v-if="jobDetails.experience">
                                                <img src="/assets/images/star.png" alt="Star">
                                                <p>Experience<span>{{jobDetails.experience}}</span>
                                                </p>
                                            </li>
                                            <li v-if="jobDetails.category">
                                                <img src="/assets/images/category.png" alt="Category">
                                                <p>Category<span>{{jobDetails.category}}</span></p>
                                            </li>
                                            <li v-if="jobDetails.department">
                                                <img src="/assets/images/department.png" alt="Department">
                                                <p>Department<span>{{jobDetails.department}}</span>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="job-info-block job-info-block--secondary skill mb-2" v-if="skillList.length > 0">
                                        <h4 class="mb-2">Skills</h4>
                                        <ul class="list-badge">
                                            <li v-for="skill in jobDetails.skills">{{skill.skill.name}}</li>
                                        </ul>
                                    </div>
                                    <div class="job-info-block job-info-block--secondary location-detail ">
                                        <ul>
                                            <li>
                                                <img src="/assets/images/marker.png" alt="Map">
                                                <p>HQ Location<span>{{jobDetails | getLocation}} </span>
                                                </p>
                                            </li>
                                        </ul>
                                        <div class="map-wrapper">
                                            <gmap-map :center="center" :zoom="12"
                                                      style="width:100%;  height: 200px;">
                                                <gmap-marker :key="index" v-for="(m, index) in markers"
                                                             :position="m.position" @click="center=m.position"></gmap-marker>
                                            </gmap-map>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </b-tab>
                    </b-tabs>

                </div>

                    <div class="job-info-footer float-right" v-if="$mq === 'mobile'">
                        <button @click="downloadJob(jobDetails.jobId)"
                                class="btn btn--round  btn--round--has-tooltip btn--round--has-tooltip--download mr-2">
                            <i class="fa fa-download" aria-hidden="true"></i></button>
                    </div>
            </div>
        </div>
    </b-modal>
</template>

<script>
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../config/config';
    import { mapGetters } from 'vuex';
    import {Avatar} from "vue-avatar";
    import _ from 'lodash';
    export default {
        name: "ViewJobTemplateModal",
        props: ['bus'],
        components: {
            button_spinner: ButtonSpinner,Avatar
        },
        data(){
            return{
                retire: {
                    currentSavings: 0,
                    interestRate: 0,
                    annualPeriod: 0,
                    retireAge: 0,
                    currentAge: 0,
                    contribution: 0,
                    jobSalaryRate: 0,

                    contributions: 0,
                    growth: 0,
                    ers: 0,
                },

                jobDetails:[],
                companyDetails:[],
                rewardList:[],
                skillList:[],
                salary_term:[],
                companyLogo: "/assets/images/company-placeholder.png",
                jobUrl:'',
                lat:'',
                lang:'',
                center: {},
                markers: [],
                places: [],
                currentPlace: null,
                disable:null,
                isLoading: false,
                strength_loading:"",
            }
        },
        mounted() {
            this.bus.$on('viewJobTemplateDetails', this.viewJobTemplateDetails);
            // this.geolocate();
            // this.addMarker();

        },
        methods: {
            imageUrlAlt(event) {
                event.target.src = "/assets/images/company-placeholder.png"
            },
            downloadJob(jobId) {
                window.open(config.baseURL+'downloadJobTemplate/'+jobId, "_blank");

                // this.baseUrl = config.baseURL+'downloadPDF/'+this.userId;
            },
            setMarker() {
                const marker = {
                    lat: this.lat,
                    lng: this.lang,
                }
                this.markers.push({ position: marker });
            },
            setPlace(place) {
                this.currentPlace = place;
            },
            addMarker() {
                if (this.currentPlace) {
                    const marker = {
                        lat: this.currentPlace.geometry.location.lat(),
                        lng: this.currentPlace.geometry.location.lng()
                    };
                    this.markers.push({ position: marker });
                    this.places.push(this.currentPlace);
                    this.center = marker;
                    this.currentPlace = null;
                }
            },
            geolocate: function() {
                navigator.geolocation.getCurrentPosition(position => {
                    this.center = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                });
            },
            addToFavourites(id) {
                let formData = new FormData();
                formData.append('job_id',id);
                formData.append('type','jobModal');
                this.$store.dispatch("setFavorites", formData)
                    .then(resp => {
                        this.jobDetails.favourites = true;

                    })
                    .catch(err => {
                        this.loading = false;
                        this.error = err.response.data.error;
                        let errors = err.response.data.errors;
                        console.log("Error data: "+errors);
                        for (const [key, value] of Object.entries(errors)) {
                            value.forEach((text,index)=>{
                                this.$notify({
                                    group: "foo",
                                    type: "error",
                                    //title: key,
                                    text: text
                                });
                            })
                        }
                    });

            },
            removeFavourites(id) {
                let formData = new FormData();
                formData.append('byJob',1);
                formData.append('id',id);
                axios({url: config.apiURL + 'removeFavourites', data: formData, method: 'POST' })
                    .then(response => {
                        this.jobDetails.favourites = false;
                        this.searchRefactor(id)
                        this.$store.dispatch("updateFavorite", response.data);
                    })
                    .catch(err => {
                        this.isLoading = false;
                        this.error = err.response.data.error;
                        let errors = err.response.data.errors;
                        for (const [key, value] of Object.entries(errors)) {
                            value.forEach((text,index)=>{
                                this.$notify({
                                    group: "foo",
                                    type: "error",
                                    title: key,
                                    text: text
                                });
                            })
                        }
                    });
            },
            applyJobDetails(data){
                // console.log("Data Response: "+JSON.stringify(data));
                this.jobDetails = {
                    jobId:data.id,
                    title:data.title.name,
                    description:data.description,
                    responsibilities:data.responsibilities,
                    required_skills:data.required_skills,
                    rewards:data.rewards,
                    skills:data.skills,
                    salary_type:data.salary_type.name,
                    max_salary:data.max_salary,
                    min_salary:data.min_salary,
                    job_type:data.job_type.name,
                    qualification:data.qualification.name,
                    experience:data.experience.name,
                    category:data.category.name,
                    department:data.department.name,
                    country:data.country,
                    state:data.state,
                    city:data.city,
                    favourites: !!data.favourites,
                    job_applications: !!data.job_applications.length,
                };

                this.companyAddress(data.country,data.state,data.city);

                this.jobUrl = config.jobDetail+data.id;
                this.disable = null;
                this.rewardList=data.rewards;
                this.salary_term = data.salary_term;
                this.skillList = data.skills;
                //console.log("Company Logo: "+JSON.stringify(data.company));
                this.companyLogo = data.company.user.image || this.companyLogo;
                this.companyDetails = {
                    name:data.company.name,
                };

                this.retire.currentSavings = 0,
                    this.retire.interestRate = 0,
                    this.retire.annualPeriod = 0,
                    this.retire.retireAge = 0,
                    this.retire.currentAge = 0,
                    this.retire.contribution = 0,

                    this.retire.contributions = 0,
                    this.retire.growth = 0,
                    this.retire.ers = 0,

                    this.$bvModal.show('apply-job-modal');
            },
            applyJob(jobId){
                this.isLoading = true;
                let formData = new FormData();
                formData.append('jobId',jobId);
                this.$store.dispatch("setAppliedJobs", formData)
                //axios({url: config.apiURL + 'applyJob', data: formData, method: 'POST' })
                    .then(resp => {
                        this.isLoading = false;
                        this.disable = 1;
                        this.$notify({
                            group: "foo",
                            type: "success",
                            // title: key,
                            text: "Application sent."
                        });
                    })
                    .catch(err => {
                        this.loading = false;
                        this.error = err.response.data.error;
                        let errors = err.response.data.errors;
                        console.log("Error data: "+errors);
                        for (const [key, value] of Object.entries(errors)) {
                            value.forEach((text,index)=>{
                                this.$notify({
                                    group: "foo",
                                    type: "error",
                                    //title: key,
                                    text: text
                                });
                            })
                        }
                    });
            },
            companyAddress(country,state,city) {
                console.log("Country: "+country+" State: "+state+" City"+city);
                if (country && state && city) {
                    Vue.$geocoder.setDefaultMode('address');      // this is default
                    var addressObj = {
                        //address_line_1: '1600 Amphitheatre Parkway',
                        address_line_2: '',
                        city:           city.name || null,
                        state:          state.name || null,               // province also valid
                        // zip_code:       '94043',            // postal_code also valid
                        country:        country.name || null,
                    }
                    Vue.$geocoder.send(addressObj, response => { console.log(response);
                        this.lat = response.results[0].geometry.location.lat;
                        // console.log("Lat: "+this.lat);
                        this.lang = response.results[0].geometry.location.lng;
                        this.center= { lat: +parseFloat(this.lat), lng: +parseFloat(this.lang) };
                        this.setMarker();
                        // console.log("Center of map: "+ JSON.stringify(this.center));
                    });
                }

            },
            copyText () {
                let testingCodeToCopy = document.querySelector('#jobUrl');
                testingCodeToCopy.setAttribute('type', 'text');
                testingCodeToCopy.select();
                try {
                    var successful = document.execCommand('copy');
                    this.$notify({
                        group: "foo",
                        type: "success",
                        // title: key,
                        text: "Link copied."
                    });
                    // var msg = successful ? 'successful' : 'unsuccessful';
                } catch (err) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: key,
                        text: "Link was not copied."
                    });
                }
            },
            copyMobileText() {

                let testingCodeToCopy = document.querySelector('#mobilejobUrl');
                testingCodeToCopy.setAttribute('type', 'text');
                testingCodeToCopy.select();
                try {
                    var successful = document.execCommand('copy');
                    this.$notify({
                        group: "foo",
                        type: "success",
                        // title: key,
                        text: "Job url copied"
                    });
                    // var msg = successful ? 'successful' : 'unsuccessful';
                } catch (err) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: key,
                        text: "Job url was not copied"
                    });
                }

            },
            viewJobTemplateDetails(data){
               // console.log('venus view job template details----------------', data);
                this.jobDetails = {
                    jobId:data.id,
                    title:data.title.name,
                    description:data.description,
                    responsibilities:data.responsibilities,
                    required_skills:data.required_skills,
                    rewards:data.rewards,
                    skills:data.skills,
                    salary_type:data.salary_type.name,
                    max_salary:data.max_salary,
                    min_salary:data.min_salary,
                    job_type:data.job_type.name,
                    qualification:data.qualification.name,
                    experience:data.experience.name,
                    category:data.category.name,
                    department:data.department.name,
                    country:data.country,
                    state:data.state,
                    city:data.city,
                    favourites: !!data.favourites,
                    job_applications: data.job_applications ? data.job_applications.length : [],
                };
                // this.companyAddress(data.country,data.state,data.city);
                this.jobUrl = config.jobTemplateDetail+data.id;
                this.rewardList=data.rewards;
                this.skillList = data.skills;
                this.salary_term = data.salary_term;
                //console.log("Company Logo: "+JSON.stringify(data.company));
                this.companyLogo = data.company.user.image || this.companyLogo;
                this.companyDetails = {
                    name:data.company.name,
                };
                this.companyAddress(data.country,data.state,data.city);
                this.$bvModal.show('job-view-modal');
            },
            imageUrlAlt(event) {
                event.target.src = "assets/images/company-placeholder.png";
            },

        },
        computed: {

            ...mapGetters(['isCandidate']),
            retireTotalPrice() {
                const {currentSavings, interestRate, annualPeriod, retireAge, currentAge, contribution} = this.retire;
                const {salary_type, salary_term} = this.jobDetails;
                if (salary_type == 'Range') {
                    let jobSalaryRate = 0;
                    const maxValue = parseInt(this.jobDetails.max_salary);
                    const minValue = parseInt(this.jobDetails.min_salary);
                    if (salary_term == 'Annually') {
                        jobSalaryRate = ((maxValue + minValue) / 2) * 1;
                    } else if (salary_term == 'Monthly') {
                        jobSalaryRate = ((maxValue + minValue) / 2) * 12;
                    } else if (salary_term == 'Hourly') {
                        jobSalaryRate = ((maxValue + minValue) / 2) * 1920;
                    } else if (salary_term == 'Bi-Weekly') {
                        jobSalaryRate = ((maxValue + minValue) / 2) * 24;
                    }
                    interestRate = interestRate * 0.01;
                    contribution = contribution * 0.01;

                    const expContent = Math.pow( (1 + (interestRate / annualPeriod)), (annualPeriod * (retireAge - currentAge)));
                    const ers = currentSavings * expContent + (jobSalaryRate / annualPeriod) * contribution * ((expContent - 1) / (interestRate / annualPeriod));
                    this.retire.contributioins = parseInt((jobSalaryRate / annualPeriod) * contribution);
                    this.retire.growth = parseInt(ers - currentSavings - ((jobSalaryRate / annualPeriod) * contribution));
                    this.retire.jobSalaryRate = parseInt(jobSalaryRate);
                    this.retire.ers = parseInt(ers);
                    return parseInt(ers);
                } else {
                    return '--';
                }

            }
        },
    }
</script>

<style scoped>

</style>
