<template>
    <b-modal id="company-view-modal" hide-footer size="xl" centered
             title-class="text-blue" title-tag="h3"
             title="Company Information" body-class="flex-fill h-100 p-0">
        <div class="company-info-wrapper company-view-modal-wrapper">
            <div class="company-info-header">
                <header class="user-meta">
                    <!--{{companyDetails}}-->
                    <div class="user-meta__inner border-bottom pb-15 d-flex align-items-center">
                        <div class="user-meta__thumbnail">
                            <img class="img-fluid rounded-circle" :src="companyDetails.profileImage" @error="imageUrlAlt" />
                            <!-- <h4 class="mb-2" v-if="$mq === 'mobile'">{{companyDetails.name}}</h4> -->
                        </div>
                        <div class="user-meta__content ml-3">
                            <h4 class="mb-2">{{companyDetails.name}}</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row row-gutter-7 user-meta__content__row">
                                        <div class="px-7 w-33 text-semibold">Industry</div>
                                        <div class="px-7 w-66" id="myId" ref="myId" v-if="companyDetails.industry">{{companyDetails.industry.name}}</div>
                                    </div>
                                    <div class="row row-gutter-7 user-meta__content__row">
                                        <div class="px-7 w-33 text-semibold">Location</div>
                                        <div class="px-7 w-66" v-if="companyDetails.country">
                                            {{companyDetails.country.name}}
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="row row-gutter-7 user-meta__content__row">
                                        <div class="px-7 w-33 text-semibold">Established In</div>
                                        <div class="px-7 w-66">{{companyDetails.establish_date | getDateYear}} </div>
                                    </div>
                                    <div class="row row-gutter-7 user-meta__content__row">
                                        <div class="px-7 w-33 text-semibold"># of Employees</div>
                                        <div class="px-7 w-66"> {{companyDetails.total_employees}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div class="company-info-content has-scroll">
                <div class="company-info-content__row row">
                    <!--{{profileData}}-->
                    <div class="col-12 col-md-6 mb-3 mb-md-0">
                        <h3 class="title-has-border title-has-border--secondary mb-3">{{profileData.meta_one}}</h3>
                        {{profileData.meta_one_description}}
                    </div>
                    <div class="col-12 col-md-6">
                        <h3 class="title-has-border title-has-border--secondary mb-3">{{profileData.meta_two}}</h3>
                        {{profileData.meta_two_description}}
                    </div>
                </div>
                <div v-if="sections">
                    <div class="company-info-content__row row" v-for="(item,index) in sections" :key="index">
                        <div class="col-12 col-md-12">
                            <h3 class="title-has-border title-has-border--secondary mb-3">{{item.heading}}</h3>
                            <div class="images-gallery">
                                <div v-viewer="{toolbar: 0,movable: false,zoomable:false}" class="row row-gutter-7">
                                    <div class="col-md-4 col-6" v-for="(list,counter) in item.images" :key="counter">
                                        <div class="img-wrapper img-ratio-16-9">
                                            <img :src="'/'+list.image_path" alt="No image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>
</template>
<script>
    import Viewer from "v-viewer/src/component.vue";
    import config from "../../config/config";
    import {Avatar} from "vue-avatar";
    export default {
        name:'ViewCompanyModal',
        components: {
            Viewer,Avatar
        },
        props: ['bus'],
        data(){
            return{
                companyDetails:[],
                sections:[],
                companyImages:[],
                profileData:[],
                defaultCompanyImage:config.imagesURL+'assets/images/company-placeholder.png',
            }
        },
        mounted() {
            this.bus.$on('viewCompanyDetails', this.viewCompanyDetails)
        },
        methods: {
            imageUrlAlt(event) {
                event.target.src = "assets/images/company-placeholder.png"
            },
            viewCompanyDetails(data){
                this.companyData = data;
                this.companyDetails = {
                    name:data.company.name,
                    profileImage:data.image || 'assets/images/company-placeholder.png',
                    businesstype:data.company.business_type,
                    industry:data.company.industry,
                    department:data.company.department,
                    establish_date:data.company.establish_date,
                    total_employees:data.company.total_employees,
                    country:data.country,
                    state:data.state,
                    city:data.city,
                };
                this.sections = data.company.sections;
                this.profileData = data.company.profiles[0];
                this.companyImages = data.company.sections.images;
                this.$bvModal.show('company-view-modal');
            },
            show () {
                const viewer = this.$el.querySelector('.images').$viewer
                viewer.show()
            },
        }
    }
</script>
