<template>
    <div class="h-100">
        <ul class="candidate-jobs-listing" v-if="offlineJobsList.length >0">
            <li v-for="(item,index) in offlineJobsList">
                <div class="profile-card has-hover-effect">
                    <div class="glassy-hover-effect"></div>
                    <div class="profile-card__meta">
                        <div class="profile-card__meta__data profile-card__meta__data--sm d-flex align-items-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" @click="changeOfflineList(item.title,$event)"
                                       name="jobs[]" :id="'job_id'+item.id" v-bind:value="item.title.name"  ref="searchCheckboxes">
                                <label class="custom-control-label" :for="'job_id'+item.id" @click="changeOfflineList(item.title,$event)"></label>
                            </div>
                            <div class="inner-content pl-1">
                                <h5>{{item.title.name}} </h5>
<!--                                <p class="text-body">10 days</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div></template>
<script>
    import config from '../../config/config';
    import _ from 'lodash';
    export default {
        name:'OfflineJobs',
        data() {
            return {
                offlineJobsList:[],
                jobs:[],
            }
        },
        props: ['bus'],
        mounted(){
            //console.log("Offline",this.bus);
        },
        methods: {
            getOfflineJobs: function() {
                axios.get(config.apiURL+"getOfflineJobsList")
                    .then( function(response) {
                            this.offlineJobsList = response.data;
                        this.$parent.$parent.$parent.totalOfflineJob = this.offlineJobsList.length;
                        }.bind(this)
                    );
            },
            changeOfflineList(jobTitle,event){
                let searchSanitation = this.$refs.searchCheckboxes;
                let searchArray = [];
                searchSanitation.forEach((item,index)=>{
                    if(item.checked)
                        searchArray.push(item.value);
                });
                let isChecked = event.target.checked;
                let title = jobTitle.name;
                let id = jobTitle.id;
                this.bus.$emit('updateOfflineSections', searchArray, id);

            }
        },
        created: function() {
            this.getOfflineJobs();
        }
    }
</script>

