<template>
    <div class="content-left has-box-shadow h-100">
        <div class="header-has-search has-box-shadow px-4 py-2">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-5">
                    <h3 class="text-strong lg-mobile">Candidates</h3>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-7 ml-auto mt-3 mt-md-0">
                    <div class="input-wrapper input-wrapper--has-search">
                        <input type="text" v-model="candidateName" class="form-control form-control--round" placeholder="Search Candidates" />
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-wrapper tabs-wrapper--candidates">
            <b-tabs content-class="flex-fill" fill nav-class="on-active-white company-candidates-tabs has-4-tabs">
                <b-tab active>
                    <template v-slot:title>All<span class="badge badge-primary ml-1 ">{{allCandidatesOffline}}</span>
                    </template>
                    <div class="tab-content__inner p-15">
                        <ul id="allCandidates-list" class="company-candidates-list" v-if="offlineJobsResume.length >0">

                            <li v-for="(list,index) in offlineJobsResume" :ref="'resume_list_'+list.id" v-if="list.created_at">
                                <div class="profile-card has-hover-effect" v-if="list.candidate != null">
                                    <div class="glassy-hover-effect glassy-hover-effect--lg"></div>
                                    <div class="profile-card__meta d-flex space-between align-items-center">
                                        <div class="profile-card__meta__data member-bio-block d-flex align-items-center w-33"
                                             @click="showCandidateResume(list.candidate.user_id)">
                                            <div class="thumbnail">
                                                <img v-if="list.candidate.user.image" class="img-fluid" :src="list.candidate.user.image" @error="imageUrlAlt" />
                                                <img v-else :size="60" class="img-fluid" src="/assets/images/user-placeholder.png"/>
                                            </div>

                                            <div class="inner-content">
                                                <h5 class="text-blue cursor-pointer" v-if="list.candidate != null">
                                                    {{list.candidate.user.first_name}}  {{list.candidate.user.last_name}} </h5>
                                                <p v-if="list.job">{{list.job.title.name}}</p>
                                            </div>
                                            <b-dropdown right text="Right align" variant="-reset" class="ml-2" v-if="$mq === 'mobile'">
                                                <template v-slot:button-content>
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </template>
                                                <b-dropdown-item href="#" @click="shortlistOfflineApplicant(list.id,'all')"><i class="fas fa-check mr-2"></i>Shortlist</b-dropdown-item>
                                                <b-dropdown-item href="#" @click="rejectOfflineApplicant(list.id,'all')"><i class="fas fa-times mr-2"></i>Reject</b-dropdown-item>
                                                <b-dropdown-item href="#" @click="offerOfflineApplicant(list.id,'all')"><i class="fas fa-handshake mr-2"></i>Offer</b-dropdown-item>
                                            </b-dropdown>
                                        </div>
                                        <div class="w-60 company-candidates-block" v-if="$mq != 'mobile'">
                                            <div class="company-candidates-block__email pl-15">
                                                <span class="d-block text-medium">Email</span>
                                                <span class="d-block text-overflow">
                                                    {{list.candidate.user.email}} </span>
                                            </div>
                                            <div class="pl-15 company-candidates-block__cta" v-if="list.candidate != null">
                                                <!--<button class="btn mx-1 btn&#45;&#45;round" title="Direct Message">-->
                                                <!--<i class="fas fa-envelope"></i>-->
                                                <!--</button>-->
                                                <button class="btn mx-1 btn--round" v-tooltip.top="'Shortlist'" @click="shortlistOfflineApplicant(list.id,'all')">
                                                    <i class="fas fa-check"></i></button>
                                                <button class="btn mx-1 btn--round" v-tooltip.top="'Reject'" @click="rejectOfflineApplicant(list.id,'all')">
                                                    <i class="fas fa-times"></i></button>
                                                <button class="btn mx-1 btn--round" v-tooltip.top="'Offer'" @click="offerOfflineApplicant(list.id,'all')">
                                                    <i class="fas fa-handshake"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </b-tab>
                <b-tab>
                    <template  v-slot:title><span v-if="$mq != 'mobile'">Shortlisted </span><span v-if="$mq === 'mobile'"><i class="fas fa-check mr-2"></i></span><span class="badge badge-primary ml-1 ">{{totalShortlistedOffline}}</span>
                    </template>
                    <div class="tab-content__inner p-2">
                        <ul id="shortlisted-list" class="company-candidates-list" v-if="offlineShortListed.length > 0">
                            <li v-for="(list,index) in offlineShortListed" :ref="'shortlisted_list_'+list.id" v-if="list.created_at">
                                <div class="profile-card has-hover-effect" v-if="list.candidate != null">
                                    <div class="glassy-hover-effect glassy-hover-effect--lg"></div>
                                    <div class="profile-card__meta d-flex space-between align-items-center">
                                        <div class="profile-card__meta__data member-bio-block d-flex align-items-center w-33"
                                             @click="showCandidateResume(list.candidate.user_id)">
                                            <div class="thumbnail">
                                                <img class="img-fluid" v-if="list.candidate.user.image" :src="list.candidate.user.image" @error="imageUrlAlt" />
                                                <img v-else :size="60" class="img-fluid" src="/assets/images/user-placeholder.png"/>
                                            </div>

                                            <div class="inner-content">
                                                <h5 class="text-blue cursor-pointer" v-if="list.candidate != null">
                                                    {{list.candidate.user.first_name}}  {{list.candidate.user.last_name}} </h5>
                                                <p v-if="list.job">{{list.job.title.name}}</p>
                                            </div>
                                            <b-dropdown right text="Right align" variant="-reset" class="ml-2" v-if="$mq === 'mobile'">
                                                <template v-slot:button-content>
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </template>
                                                <b-dropdown-item href="#" disabled><i class="fas fa-check mr-2"></i>Shortlist</b-dropdown-item>
                                                <b-dropdown-item href="#" @click="rejectOfflineApplicant(list.id,'shortlisted')"><i class="fas fa-times mr-2"></i>Reject</b-dropdown-item>
                                                <b-dropdown-item href="#" @click="offerOfflineApplicant(list.id,'shortlisted')"><i class="fas fa-handshake mr-2"></i>Offer</b-dropdown-item>
                                            </b-dropdown>
                                        </div>
                                        <div class="w-60 company-candidates-block" v-if="$mq != 'mobile'">
                                            <div class="company-candidates-block__email pl-15">
                                                <span class="d-block text-medium">Email</span>
                                                <span class="d-block text-overflow">
                                                    {{list.candidate.user.email}} </span>
                                            </div>
                                            <div class="pl-15 company-candidates-block__cta">
                                                <button class="btn mx-1 btn--round" v-tooltip.top="'Shortlist'" disabled >
                                                    <i class="fas fa-check"></i></button>
                                                <button class="btn mx-1 btn--round" v-tooltip.top="'Reject'" @click="rejectOfflineApplicant(list.id,'shortlisted')">
                                                    <i class="fas fa-times"></i></button>
                                                <button class="btn mx-1 btn--round" v-tooltip.top="'Offer'" @click="offerOfflineApplicant(list.id,'shortlisted')">
                                                    <i class="fas fa-handshake"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </b-tab>
                <b-tab>
                    <template v-slot:title><span v-if="$mq != 'mobile'">Rejected </span><span v-if="$mq === 'mobile'"><i class="fas fa-times mr-2"></i></span><span class="badge badge-primary ml-1 ">{{totalRejectedOffline}}</span>
                    </template>
                    <div class="tab-content__inner p-2">
                        <ul id="rejected-list" class="company-candidates-list" v-if="rejectedOffline.length >0">
                            <li v-for="(list,index) in rejectedOffline" :ref="'rejected_list_'+list.id" v-if="list.created_at">
                                <div class="profile-card has-hover-effect" v-if="list.candidate != null">
                                    <div class="glassy-hover-effect glassy-hover-effect--lg"></div>
                                    <div class="profile-card__meta d-flex space-between align-items-center">
                                        <div class="profile-card__meta__data member-bio-block d-flex align-items-center w-33"
                                             @click="showCandidateResume(list.candidate.user_id)">
                                            <div class="thumbnail">
                                                <img class="img-fluid" v-if="list.candidate.user.image" :src="list.candidate.user.image" @error="imageUrlAlt" />
                                                <img v-else :size="60" class="img-fluid" src="/assets/images/user-placeholder.png"/>
                                            </div>
                                            <div class="inner-content">
                                                <h5 class="text-blue cursor-pointer" v-if="list.candidate != null">
                                                    {{list.candidate.user.first_name}}  {{list.candidate.user.last_name}} </h5>
                                                <p v-if="list.job">{{list.job.title.name}}</p>
                                            </div>
                                            <b-dropdown right text="Right align" variant="-reset" class="ml-2" v-if="$mq === 'mobile'">
                                                <template v-slot:button-content>
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </template>
                                                <b-dropdown-item href="#" @click="shortlistOfflineApplicant(list.id,'rejected')"><i class="fas fa-check mr-2"></i>Shortlist</b-dropdown-item>
                                                <b-dropdown-item href="#" disabled><i class="fas fa-times mr-2"></i>Reject</b-dropdown-item>
                                                <b-dropdown-item href="#" @click="offerOfflineApplicant(list.id,'rejected')"><i class="fas fa-handshake mr-2"></i>Offer</b-dropdown-item>
                                            </b-dropdown>
                                        </div>
                                        <div class="w-60 company-candidates-block" v-if="$mq != 'mobile'">
                                            <div class="company-candidates-block__email pl-15">
                                                <span class="d-block text-medium">Email</span>
                                                <span class="d-block text-overflow">
                                                    {{list.candidate.user.email}} </span>
                                            </div>
                                            <div class="pl-15 company-candidates-block__cta">
                                                <button class="btn mx-1 btn--round"  v-tooltip.top="'Shortlist'" @click="shortlistOfflineApplicant(list.id,'rejected')">
                                                    <i class="fas fa-check"></i></button>
                                                <button class="btn mx-1 btn--round" v-tooltip.top="'Reject'" disabled>
                                                    <i class="fas fa-times"></i></button>
                                                <button class="btn mx-1 btn--round" v-tooltip.top="'Offer'" @click="offerOfflineApplicant(list.id,'rejected')">
                                                    <i class="fas fa-handshake"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </b-tab>
                <b-tab>
                    <template v-slot:title><span v-if="$mq != 'mobile'">Offered </span><span v-if="$mq === 'mobile'"><i class="fas fa-handshake mr-2"></i></span><span class="badge badge-primary ml-1 ">{{totalOfferedOffline}}</span>
                    </template>
                    <div class="tab-content__inner p-2">
                        <ul id="offered-list" class="company-candidates-list" v-if="offered.length >0">
                            <li v-for="(list,index) in offered" :ref="'offered_list_'+list.id" v-if="list.created_at">
                                <div class="profile-card has-hover-effect" v-if="list.candidate != null">
                                    <div class="glassy-hover-effect glassy-hover-effect--lg"></div>
                                    <div class="profile-card__meta d-flex space-between align-items-center">
                                        <div class="profile-card__meta__data member-bio-block d-flex align-items-center w-33"
                                             @click="showCandidateResume(list.candidate.user_id)">
                                            <div class="thumbnail">
                                                <img class="img-fluid" v-if="list.candidate.user.image" :src="list.candidate.user.image" @error="imageUrlAlt" />
                                                <img v-else :size="60" class="img-fluid" src="/assets/images/user-placeholder.png"/>
                                            </div>
                                            <div class="inner-content">
                                                <h5 class="text-blue cursor-pointer" v-if="list.candidate != null">
                                                    {{list.candidate.user.first_name}}  {{list.candidate.user.last_name}} </h5>
                                                <p v-if="list.job">{{list.job.title.name}}</p>
                                            </div>
                                            <b-dropdown right text="Right align" variant="-reset" class="ml-2" v-if="$mq === 'mobile'">
                                                <template v-slot:button-content>
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </template>
                                                <b-dropdown-item href="#" @click="shortlistOfflineApplicant(list.id,'offered')"><i class="fas fa-check mr-2"></i>Shortlist</b-dropdown-item>
                                                <b-dropdown-item href="#"  @click="rejectOfflineApplicant(list.id,'offered')"><i class="fas fa-times mr-2"></i>Reject</b-dropdown-item>
                                                <b-dropdown-item href="#" disabled><i class="fas fa-handshake mr-2"></i>Offer</b-dropdown-item>
                                            </b-dropdown>
                                        </div>
                                        <div class="w-60 company-candidates-block" v-if="$mq != 'mobile'">
                                            <div class="company-candidates-block__email pl-15">
                                                <span class="d-block text-medium">Email</span>
                                                <span class="d-block text-overflow">
                                                    {{list.candidate.user.email}} </span>
                                            </div>
                                            <div class="pl-15 company-candidates-block__cta" v-if="list.candidate != null">
                                                <button class="btn mx-1 btn--round" v-tooltip.top="'Shortlist'" @click="shortlistOfflineApplicant(list.id,'offered')">
                                                    <i class="fas fa-check"></i></button>
                                                <button class="btn mx-1 btn--round" v-tooltip.top="'Reject'" @click="rejectOfflineApplicant(list.id,'offered')">
                                                    <i class="fas fa-times"></i></button>
                                                <button class="btn mx-1 btn--round" v-tooltip.top="'Offer'" disabled>
                                                    <i class="fas fa-handshake"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </b-tab>
            </b-tabs>
        </div>
    </div>
</template>

<script>

    import config from '../../config/config';
    import _ from 'lodash';
    import {Avatar} from "vue-avatar";
    export default {
        name:'OfflineJobResume',
        components: {
            Avatar
        },
        data() {
            return {
                offlineJobsResume:[],
                offlineShortListed:[],
                rejectedOffline:[],
                offered:[],
                allCandidatesOffline:0,
                totalShortlistedOffline:0,
                totalRejectedOffline:0,
                totalOfferedOffline:0,
                current:1,
                stuff:[''],

                candidateName:'',
            }
        },
        props: ['bus'],
        mounted(){
             this.bus.$on('updateOfflineSections', this.updateOfflineSections);
        },
        methods: {
            imageUrlAlt(event) {
                event.target.src = "assets/images/user-placeholder.png"
            },
            searchData() {
                let titleArray = this.candidateName;
                let onlineCounters = 0;
                this.offlineJobsResume.forEach((job, index) => {
                    let fullName = job.candidate.user.first_name+' '+job.candidate.user.last_name;

                    if (titleArray.length == 0) {
                        job.created_at = true;
                    } else if (fullName.match(titleArray) == null) {
                        job.created_at = false;
                    } else {
                        job.created_at = true;
                    }
                    this.allCandidates = job.created_at ? ++onlineCounters : onlineCounters;
                });

                let shortlistedCounters = 0;
                this.offlineShortListed.forEach((job, index) => {
                    let fullName = job.candidate.user.first_name+' '+job.candidate.user.last_name;
                    if (titleArray.length == 0) {
                        job.created_at = true;
                    } else if (fullName.match(titleArray) == null) {
                        job.created_at = false;
                    } else {
                        job.created_at = true;
                    }
                    this.totalShortlisted = job.created_at ? ++shortlistedCounters : shortlistedCounters;
                });

                let rejectedCounters = 0;
                this.rejectedOffline.forEach((job, index) => {
                    let fullName = job.candidate.user.first_name+' '+job.candidate.user.last_name;
                    if (titleArray.length == 0) {
                        job.created_at = true;
                    } else if (fullName.match(titleArray) == null) {
                        job.created_at = false;
                    } else {
                        job.created_at = true;
                    }
                    this.totalRejected = job.created_at ? ++rejectedCounters : rejectedCounters;
                });

                let offeredCounters = 0;
                this.offered.forEach((job, index) => {
                    let fullName = job.candidate.user.first_name+' '+job.candidate.user.last_name;
                    if (titleArray.length == 0) {
                        job.created_at = true;
                    } else if (fullName.match(titleArray) == null) {
                        job.created_at = false;
                    } else {
                        job.created_at = true;
                    }
                    this.totalOffered = job.created_at ? ++offeredCounters : offeredCounters;
                });

            },
            updateOfflineSections(titleArray,id){
                let onlineCounters = 0;
                this.offlineJobsResume.forEach((job,index) => {
                    if(titleArray.length == 0){
                        job.created_at = true;
                    }
                    else if(titleArray.indexOf(job.job.title.name) == -1)
                    {
                        job.created_at = false;
                    }else{
                        job.created_at = true;
                    }
                    this.allCandidatesOffline = job.created_at ? ++onlineCounters : onlineCounters;
                });

                let shortlistedCounters = 0;
                this.offlineShortListed.forEach((job,index) => {
                    if(titleArray.length == 0){
                        job.created_at = true;
                    }else if(titleArray.indexOf(job.job.title.name) == -1){
                        job.created_at = false;
                    }else{
                        job.created_at = true;
                    }
                    this.totalShortlistedOffline = job.created_at ? ++shortlistedCounters : shortlistedCounters;
                });

                let rejectedCounters = 0;
                this.rejectedOffline.forEach((job,index) => {
                    if(titleArray.length == 0){
                        job.created_at = true;
                    }else if(titleArray.indexOf(job.job.title.name) == -1){
                        job.created_at = false;
                    }else{
                        job.created_at = true;
                    }
                    this.totalRejectedOffline = job.created_at ? ++rejectedCounters : rejectedCounters;
                });

                let offeredCounters = 0;
                this.offered.forEach((job,index) => {
                    if(titleArray.length == 0){
                        job.created_at = true;
                    }else if(titleArray.indexOf(job.job.title.name) == -1){
                        job.created_at = false;
                    }else{
                        job.created_at = true;
                    }
                    this.totalOfferedOffline = job.created_at ? ++offeredCounters : offeredCounters;
                });
            },
            showCandidateResume(userId) {
                axios({url: config.apiURL + 'candidateResume/' + userId, method: 'GET'})
                    .then(resp => {
                        this.candidateResume = resp.data;
                        this.$parent.bus.$emit('viewCandidateResume', resp.data);
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            getAllOfflineCandidateResume: function() {
                axios.get(config.apiURL+"getOfflineJobsResume")
                    .then(
                        function(response) {
                            this.offlineJobsResume = response.data;
                            this.allCandidatesOffline = response.data.length;
                        }.bind(this)
                    );
            },
            getOfflineShortListedResume: function() {
                axios.get(config.apiURL+"getCandidateOfflineJobApplicants/"+"is_shortlisted/"+1)
                    .then(
                        function(response) {
                            this.offlineShortListed = response.data;
                            this.totalShortlistedOffline = response.data.length;
                        }.bind(this)
                    );
            },
            getOfflineOfferedResume: function() {
                axios.get(config.apiURL+"getCandidateOfflineJobApplicants/"+"is_offered/"+1)
                    .then(
                        function(response) {
                            this.offered = response.data;
                            this.totalOfferedOffline = response.data.length;
                        }.bind(this)
                    );
            },
            getOfflineRejectedResume: function() {
                axios.get(config.apiURL+"getCandidateOfflineJobApplicants/"+"is_rejected/"+1)
                    .then(
                        function(response) {
                            this.rejectedOffline = response.data;
                            this.totalRejectedOffline = response.data.length;
                        }.bind(this)
                    );
            },

            shortlistOfflineApplicant(id,tab) {
                let formData = new FormData();
                formData.append('id',id);
                formData.append('type','is_shortlisted');
                axios({url: config.apiURL + 'updateOfflineApplicant', data: formData, method: 'POST' })
                    .then(response => {
                        // console.log("Response Data: "+JSON.stringify(response));
                        //updating objects
                        this.offlineShortListed = response.data.shortlistedCandidates;
                        this.offlineJobsResume = response.data.allCandidates;
                        this.rejectedOffline = response.data.rejectedCandidates;
                        this.offered = response.data.offeredCandidates;
                        //updating counts
                        this.allCandidatesOffline = response.data.allCandidates.length;
                        this.totalShortlistedOffline = response.data.shortlistedCandidates.length;
                        this.totalRejectedOffline = response.data.rejectedCandidates.length;
                        this.totalOfferedOffline = response.data.offeredCandidates.length;
                    })
                    .catch(err => {
                        this.isLoading = false;
                        this.error = err.response.data.error;
                        let errors = err.response.data.errors;
                        for (const [key, value] of Object.entries(errors)) {
                            value.forEach((text,index)=>{
                                this.$notify({
                                    group: "foo",
                                    type: "error",
                                    title: key,
                                    text: text
                                });
                            })
                        }
                    });
            },
            rejectOfflineApplicant(id,tab) {
                let formData = new FormData();
                formData.append('id',id);
                formData.append('type','is_rejected');
                axios({url: config.apiURL + 'updateOfflineApplicant', data: formData, method: 'POST' })
                    .then(response => {
                        //console.log("Response Data: "+JSON.stringify(response));
                        this.offlineShortListed = response.data.shortlistedCandidates;
                        this.offlineJobsResume = response.data.allCandidates;
                        this.rejectedOffline = response.data.rejectedCandidates;
                        this.offered = response.data.offeredCandidates;
                        //updating counts
                        this.allCandidatesOffline = response.data.allCandidates.length;
                        this.totalShortlistedOffline = response.data.shortlistedCandidates.length;
                        this.totalRejectedOffline = response.data.rejectedCandidates.length;
                        this.totalOfferedOffline = response.data.offeredCandidates.length;

                    })
                    .catch(err => {
                        this.isLoading = false;
                        this.error = err.response.data.error;
                        let errors = err.response.data.errors;
                        for (const [key, value] of Object.entries(errors)) {
                            value.forEach((text,index)=>{
                                this.$notify({
                                    group: "foo",
                                    type: "error",
                                    title: key,
                                    text: text
                                });
                            })
                        }
                    });
            },
            offerOfflineApplicant(id,tab) {
                let formData = new FormData();
                formData.append('id',id);
                formData.append('type','is_offered');
                axios({url: config.apiURL + 'updateOfflineApplicant', data: formData, method: 'POST' })
                    .then(response => {
                        //console.log("Response Data: "+JSON.stringify(response));
                        this.offlineShortListed = response.data.shortlistedCandidates;
                        this.offlineJobsResume = response.data.allCandidates;
                        this.rejectedOffline = response.data.rejectedCandidates;
                        this.offered = response.data.offeredCandidates;
                        //updating counts
                        this.allCandidatesOffline = response.data.allCandidates.length;
                        this.totalShortlistedOffline = response.data.shortlistedCandidates.length;
                        this.totalRejectedOffline = response.data.rejectedCandidates.length;
                        this.totalOfferedOffline = response.data.offeredCandidates.length;
                    })
                    .catch(err => {
                        this.isLoading = false;
                        this.error = err.response.data.error;
                        let errors = err.response.data.errors;
                        for (const [key, value] of Object.entries(errors)) {
                            value.forEach((text,index)=>{
                                this.$notify({
                                    group: "foo",
                                    type: "error",
                                    title: key,
                                    text: text
                                });
                            })
                        }
                    });
            },
        },
        created: function() {
            this.getAllOfflineCandidateResume();
            this.getOfflineShortListedResume();
            this.getOfflineOfferedResume();
            this.getOfflineRejectedResume();
        }
    }
</script>
