<template>
    <div class="h-100">
        <ul class="candidate-jobs-listing p-7" v-if="onlineJobsList.length >0">
            <li v-for="(item,index) in onlineJobsList">
                <div class="profile-card has-hover-effect">
                    <div class="glassy-hover-effect"></div>
                    <div class="profile-card__meta">
                        <div class="profile-card__meta__data profile-card__meta__data--sm d-flex align-items-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" @click="changeList(item.title,$event)"
                                       name="jobs[]" :id="'job_id'+item.id" v-bind:value="item.title.name"  ref="searchCheckboxes">
                                <label class="custom-control-label" :for="'job_id'+item.id" @click="changeList(item.title,$event)"></label>
                            </div>
                            <!-- <input type="checkbox"  name="jobs[]" :id="'job_id'+item.id" v-bind:value="item.title.name"  ref="searchCheckboxes" style="width:20px;" @click="changeList(item.title,$event)" /> -->
                            <div class="inner-content pl-1">
                                <h5>{{item.title.name}} </h5>
                                <p class="text-body">{{item.end_date | dateDifference}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</template>
<script>
    import config from '../../config/config';
    import _ from 'lodash';
    import moment from 'moment';
    moment.updateLocale('en', {
        relativeTime : {
            future: "%s",
            d:  "1 day",
            M:  "30 days",
        }
    });
    export default {
        name:'OnlineJobs',
        data() {
            return {
                onlineJobsList:[],
                jobs:[],
            }
        },
        props: ['bus'],
        mounted(){
            //console.log("onlinejobs",this.$parent.$parent.$parent);
        },
        methods: {
            getOnlineJobs: function() {
                axios.get(config.apiURL+"getOnlineJobsList")
                    .then( function(response) {
                            this.onlineJobsList = response.data;
                        this.$parent.$parent.$parent.totalOnlineJob = this.onlineJobsList.length;

                        }.bind(this)
                    );
            },
            changeList(jobTitle,event){
                let searchSanitation = this.$refs.searchCheckboxes;
                let searchArray = [];
                searchSanitation.forEach((item,index)=>{
                    if(item.checked)
                        searchArray.push(item.value);
                });
                let isChecked = event.target.checked;
                let title = jobTitle.name;
                let id = jobTitle.id;

                this.bus.$emit('updateSections', searchArray, id);

            }
        },
        created: function() {
            this.getOnlineJobs();
        },
        filters: {
            dateDifference: function (value) {
                if (!value) return '';
                //let today = new Date();
                let d = new Date();
                let year = d.getFullYear();
                let month = d.getMonth()+1;
                let date = d.getDate();
                let today = year+'-'+month+'-'+date;
                //let dateToCheck = new Date(value);
                let dateToCheck = value.split(' ');
                let start = moment(dateToCheck[0], "YYYY-MM-DD");
                let end = moment(today, "YYYY-MM-DD");

                let remaining = parseInt(moment.duration(start.diff(end)).asDays());
                let days = 'days';
                if(remaining == 1) {
                    days = 'day';
                }
               //  today.setHours(0, 0, 0, 0);
               //  dateToCheck.setHours(0, 0, 0, 0);
               // return moment(dateToCheck).from(today);
                return remaining+' '+days;
            }
        }
    }
</script>
