<template>
  <div class="content-left has-box-shadow h-100">
    <div class="header-has-search px-4 py-2 has-box-shadow">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-5">
          <h3 class="text-strong lg-mobile">Candidates</h3>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-7 ml-auto mt-3 mt-md-0">
          <div class="input-wrapper input-wrapper--has-search">
            <input
              type="text"
              v-model="candidateName"
              class="form-control form-control--round"
              placeholder="Search Candidates"
              @input="searchData"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="tabs-wrapper tabs-wrapper--candidates">
      <b-tabs
        content-class="flex-fill"
        fill
        nav-class="on-active-white company-candidates-tabs has-4-tabs"
      >
        <b-tab active>
          <template v-slot:title
            >All
            <span class="badge badge-primary ml-1">{{ allCandidates }}</span>
          </template>
          <div class="tab-content__inner p-15">
            <ul
              id="allCandidates-list"
              class="company-candidates-list"
              v-if="onlineJobsResume.length > 0"
            >
              <li
                v-for="(list, index) in onlineJobsResume"
                :key="index"
                :ref="'resume_list_' + list.id"
                v-if="list.created_at"
              >
                <div
                  class="profile-card has-hover-effect"
                  v-if="list.candidate != null"
                >
                  <div
                    class="glassy-hover-effect glassy-hover-effect--lg"
                  ></div>
                  <div
                    class="profile-card__meta d-flex space-between align-items-center"
                  >
                    <div
                      class="profile-card__meta__data member-bio-block d-flex align-items-center w-33"
                    >
                      <div
                        class="thumbnail"
                        @click="showCandidateResume(list.candidate.user_id)"
                      >
                        <img
                          @error="imageUrlAlt"
                          class="img-fluid"
                          v-if="list.candidate.user.image"
                          :src="list.candidate.user.image"
                        />
                        <img
                          v-else
                          :size="60"
                          class="img-fluid"
                          src="/assets/images/user-placeholder.png"
                        />
                      </div>
                      <div class="inner-content">
                        <h5
                          class="text-blue cursor-pointer"
                          v-if="list.candidate != null"
                        >
                          {{ list.candidate.user.first_name }}
                          {{ list.candidate.user.last_name }}
                        </h5>
                        <p v-if="list.job">{{ list.job.title.name }}</p>
                      </div>
                      <b-dropdown
                        right
                        text="Right align"
                        variant="-reset"
                        class="ml-2"
                        v-if="$mq === 'mobile'"
                      >
                        <template v-slot:button-content>
                          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </template>
                        <b-dropdown-item
                          href="#"
                          @click="messageCandidate(list)"
                          ><i class="fas fa-envelope mr-2"></i
                          >Message</b-dropdown-item
                        >
                        <b-dropdown-item
                          href="#"
                          @click="shortlistApplicant(list.id, 'all')"
                          ><i class="fas fa-check mr-2"></i
                          >Shortlist</b-dropdown-item
                        >
                        <b-dropdown-item
                          href="#"
                          @click="rejectApplicant(list.id, 'all')"
                          ><i class="fas fa-times mr-2"></i
                          >Reject</b-dropdown-item
                        >
                        <b-dropdown-item
                          href="#"
                          @click="offerApplicant(list.id, 'all')"
                          ><i class="fas fa-handshake mr-2"></i
                          >Offer</b-dropdown-item
                        >
                      </b-dropdown>
                    </div>
                    <div
                      class="w-60 company-candidates-block"
                      v-if="$mq != 'mobile'"
                    >
                      <div class="company-candidates-block__email pl-15">
                        <span class="d-block text-medium">Email</span>
                        <span class="d-block text-overflow">
                          {{ list.candidate.user.email }}
                        </span>
                      </div>
                      <div class="pl-15 company-candidates-block__cta">
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Message'"
                          @click="messageCandidate(list)"
                        >
                          <i class="fas fa-envelope"></i>
                        </button>
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Shortlist'"
                          @click="shortlistApplicant(list.id, 'all')"
                        >
                          <i class="fas fa-check"></i>
                        </button>
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Reject'"
                          @click="rejectApplicant(list.id, 'all')"
                        >
                          <i class="fas fa-times"></i>
                        </button>
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Offer'"
                          @click="offerApplicant(list.id, 'all')"
                        >
                          <i class="fas fa-handshake"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </b-tab>
        <b-tab>
          <template v-slot:title
            ><span v-if="$mq != 'mobile'">Shortlisted </span
            ><span v-if="$mq === 'mobile'"
              ><i class="fas fa-check mr-2"></i></span
            ><span class="badge badge-primary ml-1">{{
              totalShortlisted
            }}</span>
          </template>
          <div class="tab-content__inner p-2">
            <ul
              id="shortlisted-list"
              class="company-candidates-list"
              v-if="shortListed.length > 0"
            >
              <li
                v-for="(list, index) in shortListed"
                :key="index"
                :ref="'shortlisted_list_' + list.id"
                v-if="list.created_at"
              >
                <div
                  class="profile-card has-hover-effect"
                  v-if="list.candidate != null"
                >
                  <div
                    class="glassy-hover-effect glassy-hover-effect--lg"
                  ></div>
                  <div
                    class="profile-card__meta d-flex space-between align-items-center"
                  >
                    <div
                      class="profile-card__meta__data member-bio-block d-flex align-items-center w-33"
                    >
                      <div
                        class="thumbnail"
                        @click="showCandidateResume(list.candidate.user_id)"
                      >
                        <img
                          class="img-fluid"
                          @error="imageUrlAlt"
                          v-if="list.candidate.user.image"
                          :src="list.candidate.user.image"
                        />
                        <img
                          v-else
                          :size="60"
                          class="img-fluid"
                          src="/assets/images/user-placeholder.png"
                        />
                      </div>
                      <div class="inner-content">
                        <h5
                          class="text-blue cursor-pointer"
                          v-if="list.candidate != null"
                        >
                          {{ list.candidate.user.first_name }}
                          {{ list.candidate.user.last_name }}
                        </h5>
                        <p v-if="list.job">{{ list.job.title.name }}</p>
                      </div>
                      <b-dropdown
                        right
                        text="Right align"
                        variant="-reset"
                        class="ml-2"
                        v-if="$mq === 'mobile'"
                      >
                        <template v-slot:button-content>
                          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </template>
                        <b-dropdown-item
                          href="#"
                          @click="messageCandidate(list)"
                          ><i class="fas fa-envelope mr-2"></i
                          >Message</b-dropdown-item
                        >
                        <b-dropdown-item href="#" disabled
                          ><i class="fas fa-check mr-2"></i
                          >Shortlist</b-dropdown-item
                        >
                        <b-dropdown-item
                          href="#"
                          @click="rejectApplicant(list.id, 'shortlisted')"
                          ><i class="fas fa-times mr-2"></i
                          >Reject</b-dropdown-item
                        >
                        <b-dropdown-item
                          href="#"
                          @click="offerApplicant(list.id, 'shortlisted')"
                          ><i class="fas fa-handshake mr-2"></i
                          >Offer</b-dropdown-item
                        >
                      </b-dropdown>
                    </div>
                    <div
                      class="w-60 company-candidates-block"
                      v-if="$mq != 'mobile'"
                    >
                      <div class="company-candidates-block__email pl-15">
                        <span class="d-block text-medium">Email</span>
                        <span class="d-block text-overflow">
                          {{ list.candidate.user.email }}
                        </span>
                      </div>
                      <div class="pl-15 company-candidates-block__cta">
                         <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Message'"
                          @click="messageCandidate(list)"
                        >
                          <i class="fas fa-envelope"></i>
                        </button>
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Shortlist'"
                          disabled
                        >
                          <i class="fas fa-check"></i>
                        </button>
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Reject'"
                          @click="rejectApplicant(list.id, 'shortlisted')"
                        >
                          <i class="fas fa-times"></i>
                        </button>
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Offer'"
                          @click="offerApplicant(list.id, 'shortlisted')"
                        >
                          <i class="fas fa-handshake"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </b-tab>
        <b-tab>
          <template v-slot:title
            ><span v-if="$mq != 'mobile'">Rejected </span
            ><span v-if="$mq === 'mobile'"
              ><i class="fas fa-times mr-2"></i></span
            ><span class="badge badge-primary ml-1">{{ totalRejected }}</span>
          </template>
          <div class="tab-content__inner p-2">
            <ul
              id="rejected-list"
              class="company-candidates-list"
              v-if="rejected.length > 0"
            >
              <li
                v-for="(list, index) in rejected"
                :key="index"
                :ref="'rejected_list_' + list.id"
                v-if="list.created_at"
              >
                <div
                  class="profile-card has-hover-effect"
                  v-if="list.candidate != null"
                >
                  <div
                    class="glassy-hover-effect glassy-hover-effect--lg"
                  ></div>
                  <div
                    class="profile-card__meta d-flex space-between align-items-center"
                  >
                    <div
                      class="profile-card__meta__data member-bio-block d-flex align-items-center w-33"
                    >
                      <div
                        class="thumbnail"
                        @click="showCandidateResume(list.candidate.user_id)"
                      >
                        <img
                          class="img-fluid"
                          v-if="list.candidate.user.image"
                          :src="list.candidate.user.image"
                          @error="imageUrlAlt"
                        />
                        <img
                          v-else
                          :size="60"
                          class="img-fluid"
                          src="/assets/images/user-placeholder.png"
                        />
                      </div>
                      <div class="inner-content">
                        <h5
                          class="text-blue cursor-pointer"
                          v-if="list.candidate != null"
                        >
                          {{ list.candidate.user.first_name }}
                          {{ list.candidate.user.last_name }}
                        </h5>
                        <p v-if="list.job">{{ list.job.title.name }}</p>
                      </div>
                      <b-dropdown
                        right
                        text="Right align"
                        variant="-reset"
                        class="ml-2"
                        v-if="$mq === 'mobile'"
                      >
                        <template v-slot:button-content>
                          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </template>
                        <b-dropdown-item
                          href="#"
                          @click="messageCandidate(list)"
                          ><i class="fas fa-envelope mr-2"></i
                          >Message</b-dropdown-item
                        >
                        <b-dropdown-item
                          href="#"
                          @click="shortlistApplicant(list.id, 'rejected')"
                          ><i class="fas fa-check mr-2"></i
                          >Shortlist</b-dropdown-item
                        >
                        <b-dropdown-item href="#" disabled
                          ><i class="fas fa-times mr-2"></i
                          >Reject</b-dropdown-item
                        >
                        <b-dropdown-item
                          href="#"
                          @click="offerApplicant(list.id, 'rejected')"
                          ><i class="fas fa-handshake mr-2"></i
                          >Offer</b-dropdown-item
                        >
                      </b-dropdown>
                    </div>
                    <div
                      class="w-60 company-candidates-block"
                      v-if="$mq != 'mobile'"
                    >
                      <div class="company-candidates-block__email pl-15">
                        <span class="d-block text-medium">Email</span>
                        <span class="d-block text-overflow">
                          {{ list.candidate.user.email }}
                        </span>
                      </div>
                      <div class="pl-15 company-candidates-block__cta">
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Message'"
                          @click="messageCandidate(list)"
                        >
                          <i class="fas fa-envelope"></i>
                        </button>
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Shortlist'"
                          @click="shortlistApplicant(list.id, 'rejected')"
                        >
                          <i class="fas fa-check"></i>
                        </button>
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Reject'"
                          disabled
                        >
                          <i class="fas fa-times"></i>
                        </button>
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Offer'"
                          @click="offerApplicant(list.id, 'rejected')"
                        >
                          <i class="fas fa-handshake"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </b-tab>
        <b-tab>
          <template v-slot:title
            ><span v-if="$mq != 'mobile'">Offered </span
            ><span v-if="$mq === 'mobile'"
              ><i class="fas fa-handshake mr-2"></i></span
            ><span class="badge badge-primary ml-1">{{ totalOffered }}</span>
          </template>
          <div class="tab-content__inner p-2">
            <ul
              id="offered-list"
              class="company-candidates-list"
              v-if="offered.length > 0"
            >
              <li
                v-for="(list, index) in offered"
                :key="index"
                :ref="'offered_list_' + list.id"
                v-if="list.created_at"
              >
                <div
                  class="profile-card has-hover-effect"
                  v-if="list.candidate != null"
                >
                  <div
                    class="glassy-hover-effect glassy-hover-effect--lg"
                  ></div>
                  <div
                    class="profile-card__meta d-flex space-between align-items-center"
                  >
                    <div
                      class="profile-card__meta__data member-bio-block d-flex align-items-center w-33"
                    >
                      <div
                        class="thumbnail"
                        @click="showCandidateResume(list.candidate.user_id)"
                      >
                        <img
                          class="img-fluid"
                          v-if="list.candidate.user.image"
                          :src="list.candidate.user.image"
                          @error="imageUrlAlt"
                        />
                        <img
                          v-else
                          :size="60"
                          class="img-fluid"
                          src="/assets/images/user-placeholder.png"
                        />
                      </div>

                      <div class="inner-content">
                        <h5
                          class="text-blue cursor-pointer"
                          v-if="list.candidate != null"
                        >
                          {{ list.candidate.user.first_name }}
                          {{ list.candidate.user.last_name }}
                        </h5>
                        <p v-if="list.job">{{ list.job.title.name }}</p>
                      </div>
                      <b-dropdown
                        right
                        text="Right align"
                        variant="-reset"
                        class="ml-2"
                        v-if="$mq === 'mobile'"
                      >
                        <template v-slot:button-content>
                          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </template>
                        <b-dropdown-item
                          href="#"
                          @click="messageCandidate(list)"
                          ><i class="fas fa-envelope mr-2"></i
                          >Message</b-dropdown-item
                        >
                        <b-dropdown-item
                          href="#"
                          @click="shortlistApplicant(list.id, 'offered')"
                          ><i class="fas fa-check mr-2"></i
                          >Shortlist</b-dropdown-item
                        >
                        <b-dropdown-item
                          href="#"
                          @click="rejectApplicant(list.id, 'offered')"
                          ><i class="fas fa-times mr-2"></i
                          >Reject</b-dropdown-item
                        >
                        <b-dropdown-item href="#" disabled
                          ><i class="fas fa-handshake mr-2"></i
                          >Offer</b-dropdown-item
                        >
                      </b-dropdown>
                    </div>
                    <div
                      class="w-60 company-candidates-block"
                      v-if="$mq != 'mobile'"
                    >
                      <div class="company-candidates-block__email pl-15">
                        <span class="d-block text-medium">Email</span>
                        <span class="d-block text-overflow">
                          {{ list.candidate.user.email }}
                        </span>
                      </div>
                      <div class="pl-15 company-candidates-block__cta">
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Message'"
                          @click="messageCandidate(list)"
                        >
                          <i class="fas fa-envelope"></i>
                        </button>
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Shortlist'"
                          @click="shortlistApplicant(list.id, 'offered')"
                        >
                          <i class="fas fa-check"></i>
                        </button>
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Reject'"
                          @click="rejectApplicant(list.id, 'offered')"
                        >
                          <i class="fas fa-times"></i>
                        </button>
                        <button
                          class="btn mx-1 btn--round"
                          v-tooltip.top="'Offer'"
                          disabled
                        >
                          <i class="fas fa-handshake"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </b-tab>
      </b-tabs>
    </div>
  </div>
</template>

<script>
import config from "../../config/config";
import _ from "lodash";
import { Avatar } from "vue-avatar";
import chatPopup from "../common/chatPopup";
import ChatFooter from "../common/ChatFooter";

export default {
  name: "OnlineJobResume",
  components: {
    Avatar,
    chatPopup,
    ChatFooter,
  },
  data() {
    return {
      onlineJobsResume: [],
      shortListed: [],
      rejected: [],
      offered: [],
      allCandidates: 0,
      totalShortlisted: 0,
      totalRejected: 0,
      totalOffered: 0,
      current: 1,
      stuff: [""],
      candidateName: "",
      userInfo: localStorage.getItem("userInfo")
        ? JSON.parse(localStorage.getItem("userInfo"))
        : "",
      newMessage: {},
    };
  },
  props: ["bus"],
  created() {
    this.getAllCandidateResume();
    this.getShortListedResume();
    this.getOfferedResume();
    this.getRejectedResume();
  },
  mounted() {
    this.bus.$on("updateSections", this.updateSections);
  },
  methods: {
    imageUrlAlt(event) {
      event.target.src = "assets/images/user-placeholder.png";
    },

    searchData() {
      let titleArray = this.candidateName;
      let onlineCounters = 0;
      this.onlineJobsResume.forEach((job, index) => {
        let fullName =
          job.candidate.user.first_name + " " + job.candidate.user.last_name;

        if (titleArray.length == 0) {
          job.created_at = true;
        } else if (fullName.match(titleArray) == null) {
          job.created_at = false;
        } else {
          job.created_at = true;
        }
        this.allCandidates = job.created_at ? ++onlineCounters : onlineCounters;
      });

      let shortlistedCounters = 0;
      this.shortListed.forEach((job, index) => {
        let fullName =
          job.candidate.user.first_name + " " + job.candidate.user.last_name;
        if (titleArray.length == 0) {
          job.created_at = true;
        } else if (fullName.match(titleArray) == null) {
          job.created_at = false;
        } else {
          job.created_at = true;
        }
        this.totalShortlisted = job.created_at
          ? ++shortlistedCounters
          : shortlistedCounters;
      });

      let rejectedCounters = 0;
      this.rejected.forEach((job, index) => {
        let fullName =
          job.candidate.user.first_name + " " + job.candidate.user.last_name;
        if (titleArray.length == 0) {
          job.created_at = true;
        } else if (fullName.match(titleArray) == null) {
          job.created_at = false;
        } else {
          job.created_at = true;
        }
        this.totalRejected = job.created_at
          ? ++rejectedCounters
          : rejectedCounters;
      });

      let offeredCounters = 0;
      this.offered.forEach((job, index) => {
        let fullName =
          job.candidate.user.first_name + " " + job.candidate.user.last_name;
        if (titleArray.length == 0) {
          job.created_at = true;
        } else if (fullName.match(titleArray) == null) {
          job.created_at = false;
        } else {
          job.created_at = true;
        }
        this.totalOffered = job.created_at
          ? ++offeredCounters
          : offeredCounters;
      });
    },

    updateSections(titleArray, id) {
      let onlineCounters = 0;
      this.onlineJobsResume.forEach((job, index) => {
        if (titleArray.length == 0) {
          job.created_at = true;
        } else if (titleArray.indexOf(job.job.title.name) == -1) {
          job.created_at = false;
        } else {
          job.created_at = true;
        }
        this.allCandidates = job.created_at ? ++onlineCounters : onlineCounters;
      });

      let shortlistedCounters = 0;
      this.shortListed.forEach((job, index) => {
        if (titleArray.length == 0) {
          job.created_at = true;
        } else if (titleArray.indexOf(job.job.title.name) == -1) {
          job.created_at = false;
        } else {
          job.created_at = true;
        }
        this.totalShortlisted = job.created_at
          ? ++shortlistedCounters
          : shortlistedCounters;
      });

      let rejectedCounters = 0;
      this.rejected.forEach((job, index) => {
        if (titleArray.length == 0) {
          job.created_at = true;
        } else if (titleArray.indexOf(job.job.title.name) == -1) {
          job.created_at = false;
        } else {
          job.created_at = true;
        }
        this.totalRejected = job.created_at
          ? ++rejectedCounters
          : rejectedCounters;
      });

      let offeredCounters = 0;
      this.offered.forEach((job, index) => {
        if (titleArray.length == 0) {
          job.created_at = true;
        } else if (titleArray.indexOf(job.job.title.name) == -1) {
          job.created_at = false;
        } else {
          job.created_at = true;
        }
        this.totalOffered = job.created_at
          ? ++offeredCounters
          : offeredCounters;
      });
    },

    showCandidateResume(userId) {
      axios({ url: config.apiURL + "candidateResume/" + userId, method: "GET" })
        .then((resp) => {
          this.candidateResume = resp.data;
          this.$parent.bus.$emit("viewCandidateResume", resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },

    getAllCandidateResume() {
      axios.get(config.apiURL + "getOnlineJobsResume").then((response) => {
        this.onlineJobsResume = response.data;
        this.allCandidates = response.data.length;
      });
    },

    getShortListedResume() {
      axios
        .get(
          config.apiURL + "getCandidateJobApplicants/" + "is_shortlisted/" + 1
        )
        .then((response) => {
          this.shortListed = response.data;
          this.totalShortlisted = response.data.length;
        });
    },

    getOfferedResume() {
      axios
        .get(config.apiURL + "getCandidateJobApplicants/" + "is_offered/" + 1)
        .then((response) => {
          this.offered = response.data;
          this.totalOffered = response.data.length;
        });
    },

    getRejectedResume() {
      axios
        .get(config.apiURL + "getCandidateJobApplicants/" + "is_rejected/" + 1)
        .then((response) => {
          this.rejected = response.data;
          this.totalRejected = response.data.length;
        });
    },

    shortlistApplicant(id, tab) {
      let formData = new FormData();
      formData.append("id", id);
      formData.append("type", "is_shortlisted");
      axios({
        url: config.apiURL + "updateApplicant",
        data: formData,
        method: "POST",
      })
        .then((response) => {
          // console.log("Response Data: "+JSON.stringify(response));
          //updating objects
          this.shortListed = response.data.shortlistedCandidates;
          this.onlineJobsResume = response.data.allCandidates;
          this.rejected = response.data.rejectedCandidates;
          this.offered = response.data.offeredCandidates;
          //updating counts
          this.allCandidates = response.data.allCandidates.length;
          this.totalShortlisted = response.data.shortlistedCandidates.length;
          this.totalRejected = response.data.rejectedCandidates.length;
          this.totalOffered = response.data.offeredCandidates.length;
        })
        .catch((err) => {
          this.isLoading = false;
          this.error = err.response.data.error;
          let errors = err.response.data.errors;
          for (const [key, value] of Object.entries(errors)) {
            value.forEach((text, index) => {
              this.$notify({
                group: "foo",
                type: "error",
                title: key,
                text: text,
              });
            });
          }
        });
    },

    rejectApplicant(id, tab) {
      let formData = new FormData();
      formData.append("id", id);
      formData.append("type", "is_rejected");
      axios({
        url: config.apiURL + "updateApplicant",
        data: formData,
        method: "POST",
      })
        .then((response) => {
          //console.log("Response Data: "+JSON.stringify(response));
          this.shortListed = response.data.shortlistedCandidates;
          this.onlineJobsResume = response.data.allCandidates;
          this.rejected = response.data.rejectedCandidates;
          this.offered = response.data.offeredCandidates;
          //updating counts
          this.allCandidates = response.data.allCandidates.length;
          this.totalShortlisted = response.data.shortlistedCandidates.length;
          this.totalRejected = response.data.rejectedCandidates.length;
          this.totalOffered = response.data.offeredCandidates.length;
        })
        .catch((err) => {
          this.isLoading = false;
          this.error = err.response.data.error;
          let errors = err.response.data.errors;
          for (const [key, value] of Object.entries(errors)) {
            value.forEach((text, index) => {
              this.$notify({
                group: "foo",
                type: "error",
                title: key,
                text: text,
              });
            });
          }
        });
    },

    offerApplicant(id, tab) {
      let formData = new FormData();
      formData.append("id", id);
      formData.append("type", "is_offered");
      axios({
        url: config.apiURL + "updateApplicant",
        data: formData,
        method: "POST",
      })
        .then((response) => {
          //console.log("Response Data: "+JSON.stringify(response));
          this.shortListed = response.data.shortlistedCandidates;
          this.onlineJobsResume = response.data.allCandidates;
          this.rejected = response.data.rejectedCandidates;
          this.offered = response.data.offeredCandidates;
          //updating counts
          this.allCandidates = response.data.allCandidates.length;
          this.totalShortlisted = response.data.shortlistedCandidates.length;
          this.totalRejected = response.data.rejectedCandidates.length;
          this.totalOffered = response.data.offeredCandidates.length;
        })
        .catch((err) => {
          this.isLoading = false;
          this.error = err.response.data.error;
          let errors = err.response.data.errors;
          for (const [key, value] of Object.entries(errors)) {
            value.forEach((text, index) => {
              this.$notify({
                group: "foo",
                type: "error",
                title: key,
                text: text,
              });
            });
          }
        });
    },

    isObjEmpty(obj) {
      return Object.keys(obj).length === 0;
    },

    async messageCandidate(user) {
      const senderId = user.candidate.user.id;
      const recieverId = this.userInfo.id;
      const url = `${config.apiURL}startChat/${senderId}/${recieverId}`;
      try {
        const allChats = await axios.get(url);
        console.log("startChating =>", allChats);
      } catch (err) {
        console.log("error =>", err);
      }
    },
  },
};
</script>
