<template>
    <div class="form-wrap form-wrap--resume-builder p-0">
        <!--{{$v}}-->
        <form action="#" method="post" ref="add_reference_form" @submit.prevent="submit">
            <div class="input-wrap" :class="{'form-group--error':$v.name.$error}">
                <label for="name" class="form-control-label form-control-label--blue form-control-label--secondary">Name</label>
                <input type="text" id="name" name="name" class="form-control pl-0" v-model.trim="$v.name.$model"
                       @blur="setReferenceName($event.target.value)" placeholder="Name">
            </div>
            <div class="input-wrap" :class="{'form-group--error':$v.organization.$error}">
                <label for="organization" class="form-control-label form-control-label--blue form-control-label--secondary">Organization</label>
                <input type="text" id="organization" name="organization" class="form-control pl-0" v-model.trim="$v.organization.$model"
                       @blur="setReferenceOrganization($event.target.value)" placeholder="Organization">
            </div>
            <div class="input-wrap" :class="{'form-group--error':$v.reference_email.$error}">
                <label for="reference_email" class="form-control-label form-control-label--blue form-control-label--secondary">Email</label>
                <input type="email" id="reference_email" name="reference_email" class="form-control pl-0" v-model.trim="$v.reference_email.$model"
                       @blur="setReferenceEmail($event.target.value)" placeholder="Email">
            </div>
            <div class="input-wrap" :class="{'form-group--error':$v.reference_phone.$error}">
                <label for="reference_phone" class="form-control-label form-control-label--blue form-control-label--secondary">Phone Number</label>

                <!--<vue-tel-input v-model="reference_phone"></vue-tel-input>-->
                <VuePhoneNumberInput class="form-phone-number mt-2" id="reference_phone" name="reference_phone" v-model.trim="$v.reference_phone.$model"
                                     @blur="setReferencePhone($event.target.value)" placeholder="Phone Number"/>
                <!--<input type="text" id="reference_phone" name="reference_phone" class="form-control pl-0" v-model.trim="$v.reference_phone.$model"-->
                <!--@blur="setReferencePhone($event.target.value)" placeholder="Phone Number">-->
            </div>
            <div class="input-wrap" :class="{'form-group--error':$v.reference_type_id.$error}">
                <label for="reference_type_id" class="form-control-label form-control-label--blue form-control-label--secondary">Type</label>
                <input type="hidden" name="reference_type_id_value" id="reference_type_id_value" ref="reference_type_id_value" value="">
                <v-select  name="reference_type_id" id="reference_type_id" class="" label="name" :options="referenceList" v-model.trim="$v.reference_type_id.$model"
                           @blur="setReferenceType($event.target.value)" v-on:input="getReferenceTypeId($v.reference_type_id.$model.id)" placeholder="Select Type"></v-select>

            </div>
            <div class="input-wrap" :class="{'form-group--error':$v.reference_country.$error}">
                <label for="reference_country" class="form-control-label form-control-label--blue form-control-label--secondary">Country</label>
                <input type="hidden" id="reference_country_id" name="reference_country_id" ref="reference_country_id" value="">
                <v-select name="reference_country" id="reference_country" class="" label="name" :options="countries"
                          v-model.trim="$v.reference_country.$model" @input="getStates($v.reference_country.$model.id)"
                          @blur="setCountry($event.target.value)" placeholder="Select Country">
                </v-select>
            </div>
            <div class="input-wrap" :class="{'form-group--error':$v.reference_state.$error}">
                <label for="reference_state" class="form-control-label form-control-label--blue form-control-label--secondary">State</label>
                <input type="hidden" name="reference_state_id" id="reference_state_id" ref="reference_state_id" value="">
                <v-select name="reference_state" id="reference_state" class="" label="name" :options="states"
                          v-model.trim="$v.reference_state.$model" @input="getCities($v.reference_state.$model.id)"
                          @blur="setState($event.target.value)" placeholder="Select State">
                </v-select>
            </div>
            <div class="input-wrap" :class="{'form-group--error':$v.reference_city.$error}">
                <label for="reference_city" class="form-control-label form-control-label--blue form-control-label--secondary">City</label>
                <input type="hidden" name="reference_city_id" id="reference_city_id" ref="reference_city_id" value="">
                <v-select  name="reference_city" id="reference_city" class="" label="name" :options="cities"
                           v-model.trim="$v.reference_city.$model" @blur="setCity($event.target.value)" v-on:input="setCityId($v.reference_city.$model.id)" placeholder="Select City">
                </v-select>
            </div>
            <div class="input-wrap text-right mb-0">
                <button type="submit" class="btn btn-primary" @click.prevent="submit">
                    <span v-bind="{isLoading,reference_loading_status}" v-if="isLoading == true" class="spinner-border spinner-border--md spinner-border--in-button"></span> Save</button>
            </div>
        </form>
        <notifications group="foo" position="bottom right" />
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import vSelect from "vue-select";
    import ButtonSpinner from "vue-button-spinner";
    import VuePhoneNumberInput from 'vue-phone-number-input';
    import 'vue-phone-number-input/dist/vue-phone-number-input.css';
    import config from '../../../config/config';
    import alertService from '../../utils/alertService';
    import _ from 'lodash';
    import {
        required,
        minLength,
        between,
        email,
        maxLength,
        alpha,
        alphaNum,
        numeric,
        integer,
        sameAs,
    } from "vuelidate/lib/validators";
    export default {
        name:'AddReference',
        components: {vSelect,ButtonSpinner, VuePhoneNumberInput},
        data() {
            return {
                errors: [],
                name: "",
                organization: "",
                reference_email: "",
                reference_phone: "",
                reference_type_id_value: "",
                reference_type_id: "",
                reference_country_id: "",
                reference_country: "",
                reference_state: "",
                reference_state_id: "",
                reference_city: "",
                reference_city_id: "",
                validationErrors: "",
                referenceList:[],
                countries: [],
                states:[],
                cities:[],
                success_msg: "",
                isLoading: false,
                reference_loading_status: "",
                submitted: false,
            };
        },
        validations: {
            name: {
                required,
            },
            organization: {
                required,
            },
            reference_email: {
                required,
            },
            reference_phone: {
                required,
            },
            reference_type_id: {
                required,
            },
            reference_country : {
                required
            },
            reference_state: {
                required,
            },
            reference_city:{
                required,
            },
        },
        methods: {
            setReferenceName(value) {
                this.name = value;
                this.$v.name.$touch();
                if (this.$v.name.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Enter reference name",
                    });
                }
            },
            setReferenceOrganization(value) {
                this.organization = value;
                this.$v.organization.$touch();
                if (this.$v.organization.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Enter organization name",
                    });
                }
            },

            setReferenceEmail(value) {
                this.reference_email = value;
                this.$v.reference_email.$touch();
                if (this.$v.reference_email.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Enter reference email",
                    });
                }
            },
            setReferencePhone(value) {
                this.reference_phone = value;
                this.$v.reference_phone.$touch();
                if (this.$v.reference_phone.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Enter reference phone number",
                    });
                }
            },
            setReferenceType(value) {
                this.reference_type_id = value;
                this.$v.reference_type_id.$touch();
                if (this.$v.reference_type_id.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select reference type",
                    });
                }
            },

            setCountry(value) {
                this.country = value;
                this.$v.country.$touch();
                if (this.$v.country.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select country name",
                    });
                }
            },
            getReferenceTypeId(referenceid){
                this.$refs["reference_type_id_value"].value = referenceid;

            },
            setState(value) {
                this.state = value;
                this.$v.state.$touch();
                if (this.$v.state.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select state name",
                    });
                }
            },
            setCity(value) {
                this.city = value;
                this.$v.city.$touch();
                if (this.$v.city.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select city name",
                    });
                }
            },
            getReferenceType: function() {
                axios.get(config.apiURL+"showReferenceType/").then(
                    function(response) {
                        this.referenceList = response.data;
                    }.bind(this)
                );
            },
            getCountries: function() {
                axios.get(config.apiURL+"getCountryList/").then(
                    function(response) {
                        this.countries = response.data;
                    }.bind(this)
                );
            },
            getStates: function(country) {
                this.reference_state = '';
                this.reference_city = '';
                this.cities = [];
                this.$refs["reference_country_id"].value = country;
                axios.get(config.apiURL+"getStateList/"+country)
                    .then(
                        function(response) {
                            this.states = response.data;
                        }.bind(this)
                    );
            },
            getCities: function(stateid) {
                this.reference_city = '';
                this.$refs["reference_state_id"].value = stateid;
                axios.get(config.apiURL+"getCityList/"+stateid)
                    .then(
                        function(response) {
                            this.cities = response.data;
                        }.bind(this)
                    );
            },

            setCityId(cityid) {
                this.$refs["reference_city_id"].value = cityid;
            },
            submit() {
                this.isLoading = true;
                this.errors = [];
                this.$v.$touch();
                //this.onClick();
                if (this.$v.$invalid) {
                    this.isLoading = false;
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Fill required form fields",
                    });
                } else {
                    // do your submit logic here
                    this.submitStatus = "PENDING";
                    let form = this.$refs["add_reference_form"];
                    let formData = new FormData(form);
                    this.$store.dispatch("setReferences", formData )
                        .then(data => {
                            this.isLoading = false;
                            alertService.Success('Success', 'Reference added.');
                            this.$bvModal.hide('add-reference-modal');
                        })
                        .catch(err => {
                            this.isLoading = false;
                            this.error = err.response.data.error;
                            let errors = err.response.data.errors;
                            for (const [key, value] of Object.entries(errors)) {
                                value.forEach((text,index)=>{
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        //title: key,
                                        text: text
                                    });
                                })
                            }
                        });

                    setTimeout(() => {
                        this.submitStatus = "OK";
                    }, 500);
                }
            },
        },
        created: function() {
            this.getCountries();
            this.getReferenceType();
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','references']),
        },
    }
</script>
