<template>
    <b-modal
            id="view-payment-details"
            hide-footer
            size="xl"
            centered
            title-class="text-blue"
            title-tag="h3"
            title="Invoice"
            body-class="has-scroll flex-fill h-100"
    >
        <div class="invoice-wrap mt-4" >
            <h3 class="text-blue mb-3 has-border-bottom">Network Fee</h3>
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th scope="col" class="w-40">Subscription</th>
                    <th scope="col" class="w-33 text-right">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Growth</td>
                    <td class="text-right">{{data.amount}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="invoice-wrap mt-5 pt-3 text-right current-total">
            <div class="row">
                <div class="col-md-4 ml-auto">
                    <h3 class="text-blue mb-3 has-border-bottom pr-2">Current Total</h3>
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td>{{data.amount}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </b-modal>
</template>

<script>
    export default {
        name: "SubscriptionDetailModal",
        props: ['data'],
    }
</script>

<style scoped>

</style>