<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="container container--sm h-100 p-0">
    <div class="has-scroll p-15 h-100 aligned-labels">
      <!--{{$v}}-->
      <form
        action="#"
        method="post"
        ref="add_job_template_form"
        @submit.prevent=""
      >
        <div class="row position-relative">
          <div
            class="col-auto flex-fill job-title-wrapper job-title-wrapper--has-sibling-add-cta"
          >
            <div
              class="input-wrap form-group input-pr-0"
              :class="{ 'form-group--error': $v.jobTitleSearch.$error }"
            >
              <label
                for="job_title"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Job Title</label
              >
              <input
                type="hidden"
                name="job_title_id"
                ref="job_title_id"
                :value="job_title_id"
              />
              <vue-bootstrap-typeahead
                :data="titleList"
                id="job_title"
                v-model="jobTitleSearch"
                :serializer="(s) => s.name"
                placeholder="Enter Job Title"
                @hit="selectedJob"
                ref="jobTitle"
              >
                <template slot="suggestion" slot-scope="{ data, htmlText }">
                  <span v-html="htmlText"></span
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                    data.job_index > 0 ? `(${data.job_index})` : ""
                  }}
                </template>
              </vue-bootstrap-typeahead>
            </div>
          </div>
          <div
            class="align-self-center pl-0 pr-2 job-title-cta"
            style="margin-top: -1px"
          >
            <b-button
              v-b-modal.add-new-job-title-modal
              class="btn btn btn--round btn--round--custom btn--round--blue ml-auto btn-secondary"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
            </b-button>
            <b-modal
              id="add-new-job-title-modal"
              centered
              title="Create New Job Title"
              footer-class="justify-content-end"
            >
              <div class="mt-4">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Job Title"
                  ref="newJobTitle"
                />
              </div>
              <template v-slot:modal-footer="{ ok }">
                <b-button variant="primary" @click="addNewJobTitle()"
                  >Save</b-button
                >
              </template>
            </b-modal>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.category.$error }"
            >
              <label
                for="category"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Category</label
              >
              <input
                type="hidden"
                name="job_category_id"
                ref="job_category_id"
                v-model.trim="$v.category.$model.id"
                value=""
              />
              <v-select
                name="category"
                id="category"
                ref="category"
                label="name"
                :options="categoriesList"
                v-model.trim="$v.category.$model"
                @blur="setCategory($event.target.value)"
                placeholder="Select Category"
              >
              </v-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.department.$error }"
            >
              <label
                for="department"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Department</label
              >
              <input
                type="hidden"
                name="department_id"
                ref="department_id"
                v-model.trim="$v.department.$model.id"
                value=""
              />
              <v-select
                name="department"
                id="department"
                label="name"
                :options="departmentList"
                v-model.trim="$v.department.$model"
                @blur="setDepartment($event.target.value)"
                placeholder="Select Department"
              >
              </v-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.qualification.$error }"
            >
              <label
                for="qualification"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Qualification</label
              >
              <input
                type="hidden"
                name="qualification_id"
                ref="qualification_id"
                v-model.trim="$v.qualification.$model.id"
                value=""
              />
              <v-select
                name="qualification"
                id="qualification"
                ref="qualification"
                label="name"
                :options="qualificationList"
                v-model.trim="$v.qualification.$model"
                @blur="setQualification($event.target.value)"
                placeholder="Select Qualification"
              >
              </v-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.experience_level.$error }"
            >
              <label
                for="experience_level"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Experience Level</label
              >
              <input
                type="hidden"
                name="job_experience_id"
                ref="job_experience_id"
                v-model.trim="$v.experience_level.$model.id"
                value=""
              />
              <v-select
                name="experience_level"
                id="experience_level"
                ref="experience_level"
                label="name"
                :options="experienceList"
                v-model.trim="$v.experience_level.$model"
                @blur="setExperienceLevel($event.target.value)"
                placeholder="Select Experience Level"
              >
              </v-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.job_type.$error }"
            >
              <label
                for="job_type"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Job Type</label
              >
              <input
                type="hidden"
                name="job_type_id"
                ref="job_type_id"
                v-model.trim="$v.job_type.$model.id"
                value=""
              />
              <v-select
                name="job_type"
                id="job_type"
                ref="job_type"
                label="name"
                :options="jobTypeList"
                v-model.trim="$v.job_type.$model"
                @blur="setJobType($event.target.value)"
                placeholder="Select Job Type"
              >
              </v-select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.country.$error }"
            >
              <label
                for="country"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Location</label
              >
              <input
                type="hidden"
                id="country_id"
                name="country_id"
                ref="country_id"
                v-model.trim="$v.country.$model.id"
                value=""
              />
              <v-select
                class="actions-aligned"
                name="country"
                id="country"
                label="name"
                :options="countries"
                v-model.trim="$v.country.$model"
                @input="getStates($v.country.$model.id)"
                @blur="setCountry($event.target.value)"
                placeholder="Select Country"
              >
              </v-select>
            </div>
          </div>
          <div class="col-md-4">
            <div
              class="input-wrap form-group"
              :class="{ 'form-group--error': $v.state.$error }"
            >
              <label
                for="state"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >State</label
              >
              <input
                type="hidden"
                name="state_id"
                ref="state_id"
                v-model.trim="$v.state.$model.id"
                value=""
              />
              <v-select
                class="actions-aligned"
                name="state"
                id="state"
                label="name"
                :options="states"
                v-model.trim="$v.state.$model"
                @input="getCities($v.state.$model.id)"
                @blur="setState($event.target.value)"
                placeholder="Select State"
              >
              </v-select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-wrap form-group">
              <label
                for="city"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >City</label
              >
              <input
                type="hidden"
                name="city_id"
                ref="city_id"
                v-model.trim="city.id"
                value=""
              />
              <v-select
                class="actions-aligned"
                name="city"
                id="city"
                label="name"
                :options="cities"
                v-model.trim="city"
                placeholder="Select City"
              >
              </v-select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="input-wrap">
              <label
                for="job_salary_type_id"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Salary</label
              >
              <div class="row">
                <div class="col-md-4">
                  <div class="input-wrap form-group">
                    <v-select
                      class="actions-aligned"
                      name="job_salary_type_id"
                      id="salary_types"
                      label="name"
                      :options="salaryTypes"
                      v-model="job_salary_type_id"
                      :reduce="(salaryType) => salaryType.id"
                      placeholder="Select Salary Type"
                    />
                  </div>
                </div>
                <div
                  class="col-md-4"
                  :class="{ 'form-group--error': $v.job_salary_term_id.$error }"
                >
                  <div class="input-wrap form-group">
                    <v-select
                      class="actions-aligned"
                      name="job_salary_term_id"
                      id="salary_terms"
                      label="name"
                      :options="salaryTerms"
                      v-model.trim="$v.job_salary_term_id.$model"
                      :reduce="(salaryTerm) => salaryTerm.id"
                      placeholder="Select Salary Term"
                    />
                  </div>
                </div>
                <div class="col-6 col-md-2" v-if="!isDisabled">
                  <div class="input-wrap form-group">
                    <input
                      type="text"
                      @keyup="Comma($event.target.value, 1)"
                      v-model="min_salary"
                      id="min_salary"
                      name="min_salary"
                      placeholder="From"
                    />
                    <!--<money id="newJobSalaryRange" v-model="min_salary" name="min_salary" v-bind="money" placeholder="From" ></money>-->
                  </div>
                </div>
                <div class="col-6 col-md-2" v-if="!isDisabled">
                  <div class="input-wrap form-group">
                    <input
                      type="text"
                      @keyup="Comma($event.target.value, 2)"
                      v-model="max_salary"
                      id="max_salary"
                      name="max_salary"
                      placeholder="To"
                    />
                    <!--<money v-model="max_salary" name="max_salary" v-bind="money" placeholder="To"></money>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-wrap form-group">
              <label
                for="newJobSkills"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Skills</label
              >
              <input
                type="hidden"
                name="skillsList"
                ref="skillsList"
                v-model="skillsList"
                value=""
              />
              <vue-tags-input
                id="newJobSkills"
                class="form-control h-auto pl-0"
                v-model="tag"
                :tags="tags"
                :autocomplete-items="autocompleteItems"
                :add-only-from-autocomplete="true"
                @tags-changed="update"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="input-wrap form-group">
              <label
                for="description"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Job Description</label
              >
              <div class="editor tiptap-textarea" id="description">
                <editor-menu-bar
                  :editor="description"
                  v-slot="{ commands, isActive }"
                >
                  <div class="menubar" tabindex="-1">
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bold() }"
                      @click="commands.bold"
                      title="Bold"
                    >
                      <div class="icon">
                        <icon name="bold" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.italic() }"
                      @click="commands.italic"
                      title="Italic"
                    >
                      <div class="icon">
                        <icon name="italic" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.underline() }"
                      @click="commands.underline"
                      title="Underline"
                    >
                      <div class="icon">
                        <icon name="underline" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bullet_list() }"
                      @click="commands.bullet_list"
                      title="Bullet List"
                    >
                      <div class="icon">
                        <icon name="ul" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.ordered_list() }"
                      @click="commands.ordered_list"
                      title="Ordered List"
                    >
                      <div class="icon">
                        <icon name="ol" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      @click="commands.undo"
                      title="Undo"
                    >
                      <div class="icon">
                        <icon name="undo" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      @click="commands.redo"
                      title="Redo"
                    >
                      <div class="icon">
                        <icon name="redo" class="icon__svg"></icon>
                      </div>
                    </button>
                  </div>
                </editor-menu-bar>
                <editor-content class="editor__content" :editor="description" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-wrap form-group">
              <label
                for="responsibilities"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Responsibilities</label
              >
              <div class="editor tiptap-textarea" id="responsibilities">
                <editor-menu-bar
                  :editor="responsibilities"
                  v-slot="{ commands, isActive }"
                >
                  <div class="menubar" tabindex="-1">
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bold() }"
                      @click="commands.bold"
                      title="Bold"
                    >
                      <div class="icon">
                        <icon name="bold" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.italic() }"
                      @click="commands.italic"
                      title="Italic"
                    >
                      <div class="icon">
                        <icon name="italic" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.underline() }"
                      @click="commands.underline"
                      title="Underline"
                    >
                      <div class="icon">
                        <icon name="underline" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bullet_list() }"
                      @click="commands.bullet_list"
                      title="Bullet List"
                    >
                      <div class="icon">
                        <icon name="ul" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.ordered_list() }"
                      @click="commands.ordered_list"
                      title="Ordered List"
                    >
                      <div class="icon">
                        <icon name="ol" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      @click="commands.undo"
                      title="Undo"
                    >
                      <div class="icon">
                        <icon name="undo" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      @click="commands.redo"
                      title="Redo"
                    >
                      <div class="icon">
                        <icon name="redo" class="icon__svg"></icon>
                      </div>
                    </button>
                  </div>
                </editor-menu-bar>
                <editor-content
                  class="editor__content"
                  :editor="responsibilities"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="input-wrap form-group">
              <label
                for="required_skills"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Required Skills and Experience</label
              >
              <div class="editor tiptap-textarea" id="required_skills">
                <editor-menu-bar
                  :editor="required_skills"
                  v-slot="{ commands, isActive }"
                >
                  <div class="menubar" tabindex="-1">
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bold() }"
                      @click="commands.bold"
                      title="Bold"
                    >
                      <div class="icon">
                        <icon name="bold" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.italic() }"
                      @click="commands.italic"
                      title="Italic"
                    >
                      <div class="icon">
                        <icon name="italic" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.underline() }"
                      @click="commands.underline"
                      title="Underline"
                    >
                      <div class="icon">
                        <icon name="underline" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.bullet_list() }"
                      @click="commands.bullet_list"
                      title="Bullet List"
                    >
                      <div class="icon">
                        <icon name="ul" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      :class="{ 'is-active': isActive.ordered_list() }"
                      @click="commands.ordered_list"
                      title="Ordered List"
                    >
                      <div class="icon">
                        <icon name="ol" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      @click="commands.undo"
                      title="Undo"
                    >
                      <div class="icon">
                        <icon name="undo" class="icon__svg"></icon>
                      </div>
                    </button>
                    <button
                      tabindex="-1"
                      type="button"
                      class="menubar__button"
                      @click="commands.redo"
                      title="Redo"
                    >
                      <div class="icon">
                        <icon name="redo" class="icon__svg"></icon>
                      </div>
                    </button>
                  </div>
                </editor-menu-bar>
                <editor-content
                  class="editor__content"
                  :editor="required_skills"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="input-wrap form-group">
              <label
                for="rewards"
                class="form-control-label form-control-label--blue form-control-label--secondary"
                >Rewards & Benefits</label
              >
              <div class="row" id="rewards">
                <div class="col-md-4 col-6" v-for="(item, index) in jobRewards">
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      name="rewards[]"
                      :id="'reward_' + item.id"
                      v-bind:value="item.id"
                      v-model="rewards"
                    />
                    <label
                      class="custom-control-label"
                      :for="'reward_' + item.id"
                    >
                      {{ item.name }}</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="declaration mt-4">
              <h3>Declaration and Acknowledgement</h3>
              <ul class="list-default my-3">
                <li>
                  <p>
                    I hereby declare that there is a genuine requirement for
                    this job in my organization.
                  </p>
                </li>
                <li>
                  <p>
                    I am the authorized person to advertise jobs on behalf of my
                    organization.
                  </p>
                </li>
                <li>
                  <p>
                    The above job doesn't contain gender, age, ethnic, religion
                    or any other discriminatory text, unless the employer can
                    prove that a genuine occupational requirement (GOR) or, in
                    the case of gender or race, genuine occupational
                    qualification (GOQ) exists.
                  </p>
                </li>
                <li>
                  <p>
                    The resumes collected in response to this ad will be used
                    for the hiring process of this job only and not for any
                    other purpose; violation of this term may lead to legal
                    action.
                  </p>
                </li>
              </ul>
              <p>
                I understand that if I violate any of the above terms, my job(s)
                could be removed and my account closed permanently.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="modal-footer pr-0 pb-2">
              <button
                type="submit"
                class="btn btn-primary"
                @click.prevent="submit"
              >
                <span
                  v-bind="{ isLoading, job_loading_status }"
                  v-if="isLoading == true"
                  class="spinner-border spinner-border--md spinner-border--in-button"
                ></span
                >Create
              </button>

              <b-button variant="danger min-w-125" @click="cancel()"
                >Cancel</b-button
              >
            </div>
          </div>
        </div>
      </form>
      <notifications group="foo" position="bottom right" />
    </div>
  </div>
</template>
<script>
import vSelect from "vue-select";
import ButtonSpinner from "vue-button-spinner";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
import VueTagsInput from "@johmun/vue-tags-input";
import { Money } from "v-money";
import config from "../../config/config";
import { mapGetters } from "vuex";
import _ from "lodash";
import { Editor, EditorContent, EditorMenuBar } from "tiptap";
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
  Placeholder,
} from "tiptap-extensions";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs,
} from "vuelidate/lib/validators";
export default {
  name: "CreateJobTemplate",
  components: {
    "v-select": vSelect,
    buttonspinner: ButtonSpinner,
    VueBootstrapTypeahead,
    VueTagsInput,
    Money,
    Editor,
    EditorContent,
    EditorMenuBar,
  },
  props: {
    parentNode: {
      type: Number,
    },
    changeProps: {
      type: Function,
    },
  },
  mounted() {
    this.country_id = this.$store.getters.userData.country_id;
    this.country = this.$store.getters.userData.country.name;
    this.state_id = this.$store.getters.userData.state_id;
    this.state = this.$store.getters.userData.state.name;
    this.city_id = this.$store.getters.userData.city_id;
    this.city = this.$store.getters.userData.city.name;
  },
  data() {
    return {
      errors: [],
      categoriesList: [],
      departmentList: [],
      qualificationList: [],
      experienceList: [],
      jobTypeList: [],
      salaryTypes: [],
      salaryTerms: [],
      salaryTypeName: "",
      titleList: [],
      authorList: [],
      countries: [],
      states: [],
      cities: [],
      jobRewards: [],
      rewards: [],
      author: "",
      jobTitleSearch: "",
      validationErrors: "",
      job_title_id: "",
      job_title: "",
      job_category_id: "",
      category: "",
      department_id: "",
      department: "",
      qualification_id: "",
      qualification: "",
      job_experience_id: "",
      experience_level: "",
      job_type_id: "",
      job_type: "",
      country_id: "",
      country: "",
      state_id: "",
      state: "",
      city_id: "",
      city: "",
      min_salary: "",
      max_salary: "",
      skillsList: [],
      money: {
        decimal: ",",
        //thousands: '.',
        //prefix: 'R$ ',
        // suffix: ' #',
        precision: 2,
        masked: false,
      },
      job_salary_type_id: "",
      job_salary_term_id: "Annually",
      descriptionHtml: null,
      responsibilitiesHtml: null,
      requireSkillHtml: null,
      successmsg: "",
      isLoading: false,
      job_loading_status: "",
      submitted: false,
      tag: "",
      tags: [],
      autocompleteItems: [],
      debounce: null,
      isDisabled: "",
      isChecked: true,
      description: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History(),
          new Placeholder({
            emptyEditorClass: "is-editor-empty",
            emptyNodeClass: "is-empty",
            emptyNodeText: "",
            showOnlyWhenEditable: true,
            showOnlyCurrent: true,
          }),
        ],
        onUpdate: ({ getJSON, getHTML }) => {
          this.descriptionHtml = getHTML();
        },
      }),
      responsibilities: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History(),
          new Placeholder({
            emptyEditorClass: "is-editor-empty",
            emptyNodeClass: "is-empty",
            emptyNodeText: "",
            showOnlyWhenEditable: true,
            showOnlyCurrent: true,
          }),
        ],
        onUpdate: ({ getJSON, getHTML }) => {
          this.responsibilitiesHtml = getHTML();
        },
      }),
      required_skills: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History(),
          new Placeholder({
            emptyEditorClass: "is-editor-empty",
            emptyNodeClass: "is-empty",
            emptyNodeText: "",
            showOnlyWhenEditable: true,
            showOnlyCurrent: true,
          }),
        ],
        onUpdate: ({ getJSON, getHTML }) => {
          this.requireSkillHtml = getHTML();
        },
      }),
    };
  },
  validations: {
    // author:{
    //     required
    // },
    jobTitleSearch: {
      required,
    },
    category: {
      required,
    },
    department: {
      required,
    },
    qualification: {
      required,
    },
    experience_level: {
      required,
    },
    job_type: {
      required,
    },
    country: {
      required,
    },
    state: {
      required,
    },

    job_salary_term_id: {
      required,
    },
  },
  methods: {
    addNewJobTitle() {
      if (this.$refs.newJobTitle.value) {
        let formData = new FormData();
        formData.append("title", this.$refs.newJobTitle.value);
        axios({
          url: config.apiURL + "addJobTitle",
          data: formData,
          method: "POST",
        })
          .then((resp) => {
            let data = resp.data;
            // console.log(data);
            this.$refs.jobTitle.inputValue = data.name;
            this.$refs["job_title_id"].value = data.id;
            this.job_title_id = data.id;
            this.jobTitleSearch = data.name;
            this.$v.jobTitleSearch.$touch();
            this.$bvModal.hide("add-new-job-title-modal");
            this.$notify({
              group: "foo",
              type: "success",
              // title: key,
              text: "Job Title Created successfully",
            });
          })
          .catch((err) => {
            this.$notify({
              group: "foo",
              type: "error",
              title: "New Job Title",
              text: "There was some issue with creating new job title",
            });
          });
      }
    },
    selectedJob(data) {
      this.jobTitleSearch = data.name;
      this.$v.jobTitleSearch.$touch();
      this.$refs["job_title_id"].value = data.id;
      this.job_title_id = data.id;

      //fetching template for the job title, if it exists
      axios({
        url: config.apiURL + "getJobTemplateByJobTitle/" + data.id,
        method: "GET",
      })
        .then((resp) => {
          // console.log(resp.data);
          let data = resp.data;
          if (data) {
            this.category = data.category;
            this.department = data.department;
            this.qualification = data.qualification;
            this.experience_level = data.experience;
            this.job_type = data.job_type;
            // this.country = data.country;
            // this.state = data.state;
            // this.city = data.city;
            let tempSkillsData = data.skills;
            let tempSkillsId = [];
            let temptags = [];
            if (tempSkillsData.length > 0) {
              tempSkillsData.forEach((element) => {
                tempSkillsId.push(element.skill.id);
                temptags.push({
                  text: element.skill.name,
                  id: element.skill.id,
                });
              });
              this.skillsList = tempSkillsId;
              this.tags = temptags;
            }
            if (data.rewards.length > 0) {
              let tempData = data.rewards;
              let tempRewards = [];
              tempData.forEach((element) => {
                tempRewards.push(element.reward.id);
              });
              this.rewards = tempRewards;
            }

            this.job_salary_type_id = data.salary_type.id;
            this.min_salary = data.min_salary ? data.min_salary : 0;
            this.max_salary = data.max_salary ? data.max_salary : 0;
            this.descriptionHtml = data.description;
            this.responsibilitiesHtml = data.responsibilities;
            this.requireSkillHtml = data.required_skills;
            this.description.setContent(this.descriptionHtml, true);
            this.responsibilities.setContent(this.responsibilitiesHtml, true);
            this.required_skills.setContent(this.requireSkillHtml, true);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    checkSalaryType(value) {
      value.toLowerCase() == "range"
        ? (this.isDisabled = true)
        : (this.isDisabled = false);
    },
    setJobTitle(value) {
      this.job_title = value;
      this.$v.job_title.$touch();
      if (this.$v.job_title.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter job title",
        });
      }
    },
    setCategory(value) {
      this.category = value;
      this.$v.category.$touch();
      if (this.$v.category.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select category",
        });
      }
    },
    setDepartment(value) {
      this.department = value;
      this.$v.department.$touch();
      if (this.$v.department.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select department",
        });
      }
    },
    setQualification(value) {
      this.qualification = value;
      this.$v.qualification.$touch();
      if (this.$v.qualification.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select qualification",
        });
      }
    },
    setExperienceLevel(value) {
      this.experience_level = value;
      this.$v.experience_level.$touch();
      if (this.$v.experience_level.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select experience level",
        });
      }
    },
    setJobType(value) {
      this.job_type = value;
      this.$v.job_type.$touch();
      if (this.$v.job_type.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select job type",
        });
      }
    },
    setCountry(value) {
      this.country = value;
      this.$v.country.$touch();
      if (this.$v.country.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select country",
        });
      }
    },
    setState(value) {
      this.state = value;
      this.$v.state.$touch();
      if (this.$v.state.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select state ",
        });
      }
    },
    setCity(value) {
      this.city = value;
      this.$v.city.$touch();
      if (this.$v.city.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select city",
        });
      }
    },
    setSupervisor(value) {
      this.qualification = value;
      this.$v.qualification.$touch();
      if (this.$v.qualification.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Select qualification",
        });
      }
    },
    formatNumber(n) {
      // format number 1000000 to 1,234,567
      return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    Comma(input, field) {
      //function to add commas to textboxes
      // appends $ to value, validates decimal side
      // and puts cursor back in right position.
      // get input value
      let input_val = input;

      // don't validate empty input
      if (input_val === "") {
        return;
      }

      // original length
      let original_len = input_val.length;

      // initial caret position
      let caret_pos = input_val;

      // check for decimal
      if (input_val.indexOf(".") >= 0) {
        // get position of first decimal
        // this prevents multiple decimals from
        // being entered
        let decimal_pos = input_val.indexOf(".");

        // split number by decimal point
        let left_side = input_val.substring(0, decimal_pos);
        let right_side = input_val.substring(decimal_pos);

        // add commas to left side of number
        left_side = this.formatNumber(left_side);

        // validate right side
        right_side = this.formatNumber(right_side);

        // On blur make sure 2 numbers after decimal
        if (blur === "blur") {
          right_side += "00";
        }

        // Limit decimal to only 2 digits
        right_side = right_side.substring(0, 2);

        // join number by .
        input_val = left_side + "." + right_side;
      } else {
        // no decimal entered
        // add commas to number
        // remove all non-digits
        input_val = this.formatNumber(input_val);
        //input_val = "$" + input_val;

        // final formatting
        if (blur === "blur") {
          input_val += ".00";
        }
      }

      // send updated string to input
      if (field == 1) {
        this.min_salary = input_val;
      }
      if (field == 2) {
        this.max_salary = input_val;
      }
      // put caret back in the right position
      let updated_len = input_val.length;
      caret_pos = updated_len - original_len + caret_pos;
      // input[0].setSelectionRange(caret_pos, caret_pos);
    },
    submit() {
      this.isLoading = true;
      this.errors = [];
      this.$v.$touch();
      let self = this;
      //this.onClick();
      if (this.$v.$invalid) {
        this.isLoading = false;
        this.$notify({
          group: "foo",
          type: "error",
          text: "Fill required form fields",
        });
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        let form = this.$refs["add_job_template_form"];
        let formData = new FormData(form);
        formData.append("job_salary_type_id", this.job_salary_type_id);
        formData.append(
          "job_salary_term_id",
          isNaN(this.job_salary_term_id) ? 1 : this.job_salary_term_id
        );
        formData.append("description", this.descriptionHtml);
        formData.append("responsibilities", this.responsibilitiesHtml);
        formData.append("required_skills", this.requireSkillHtml);
        axios({
          url: config.apiURL + "createJobTemplate",
          data: formData,
          method: "POST",
        })
          .then((resp) => {
            // console.log(resp.data);
            this.$parent.$parent.$parent.templateList = resp.data;
            this.$bvModal.hide("add-job-template-modal");
            this.isLoading = false;
            this.$notify({
              group: "foo",
              type: "success",
              // title: key,
              text: "Job Created successfully",
            });
            this.changeProps();
          })
          .catch((err) => {
            this.isLoading = false;
            this.error = err.response.data.error;
            let errors = err.response.data.errors;
            for (const [key, value] of Object.entries(errors)) {
              value.forEach((text, index) => {
                this.$notify({
                  group: "foo",
                  type: "error",
                  //title: key,
                  text: text,
                });
              });
            }
            this.changeProps();
          });
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },

    //**************** Select Api List *****************//
    // getAuthors: function(){
    //     this.authorList = ['David Kamwana','Sare Goitom','Kalichi Admin','Grace Kamwana','Philip Sachinyama',
    //         'Martha Mulenga','Sumbe Bukali','Richard Mwape','Chawana Maseka','Dorothy Kapanji','Test'];
    // },
    getCategories: function () {
      axios.get("/api/getJobCategory/").then(
        function (response) {
          this.categoriesList = response.data;
        }.bind(this)
      );
    },
    getDepartments: function () {
      axios.get("/api/getJobDepartment/").then(
        function (response) {
          this.departmentList = response.data;
        }.bind(this)
      );
    },
    getQualification: function () {
      axios.get("/api/getQualificationList/").then(
        function (response) {
          this.qualificationList = response.data;
        }.bind(this)
      );
    },
    getExperienceLevel: function () {
      axios.get("/api/getJobExperience/").then(
        function (response) {
          this.experienceList = response.data;
        }.bind(this)
      );
    },
    getJobType: function () {
      axios.get("/api/getJobTypes/").then(
        function (response) {
          this.jobTypeList = response.data;
        }.bind(this)
      );
    },
    getCountries: function () {
      axios.get("/api/getCountryList/").then(
        function (response) {
          this.countries = response.data;

          //setting default country city sate to company's data
          // this.country = this.$store.getters.userData.country;
          // this.$v.country.$touch();
          // if(this.$store.getters.userData.state){
          // this.state = this.$store.getters.userData.state;
          // this.$v.state.$touch();
          // }
          // if(this.$store.getters.userData.city)
          // this.city = this.$store.getters.userData.city;
        }.bind(this)
      );
    },
    getStates: function (country) {
      this.$refs["country_id"].value = country;
      axios.get("/api/getStateList/" + country).then(
        function (response) {
          this.states = response.data;
        }.bind(this)
      );
    },
    getCities: function (stateid) {
      this.$refs["state_id"].value = stateid;
      axios.get("/api/getCityList/" + stateid).then(
        function (response) {
          this.cities = response.data;
        }.bind(this)
      );
    },
    getRewards: function () {
      axios.get("/api/getRewards").then(
        function (response) {
          this.jobRewards = response.data;
        }.bind(this)
      );
    },
    getSalaryType: function () {
      axios.get("/api/getJobSalaryType").then(
        function (response) {
          this.salaryTypes = response.data;
          response.data.map((a) => {
            if (a.name == "Range") {
              this.salaryTypeName = a.name;
            }
          });
        }.bind(this)
      );
    },
    getSalaryTerm: function () {
      axios.get("/api/getJobSalaryTerms").then(
        function (response) {
          this.salaryTerms = response.data;
        }.bind(this)
      );
    },
    getJobTitleTotal(query) {
      axios({ url: config.apiURL + "getJobTitleTotal/" + query, method: "GET" })
        .then((resp) => {
          let data = resp.data;
          const suggestions = data;
          this.titleList = suggestions;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    initItems() {
      if (this.tag.length < 2) return;
      const url = "/api/getSkills/" + this.tag;
      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        axios
          .get(url)
          .then((response) => {
            this.autocompleteItems = response.data.map((a) => {
              return { text: a.name, id: a.id };
            });
          })
          .catch(() => console.warn("Oh. Something went wrong"));
      }, 600);
    },
    update(newTags) {
      this.autocompleteItems = [];
      this.skillsList = [];
      newTags.forEach((item, index) => {
        this.skillsList.push(item.id);
      });
      //this.tags = newTags;
    },
    cancel() {
      this.$bvModal.hide("add-job-template-modal");
    },
  },
  watch: {
    tag: "initItems",
    jobTitleSearch: _.debounce(function (addr) {
      this.getJobTitleTotal(addr);
    }, 500),
  },
  created: function () {
    this.getCategories();
    this.getDepartments();
    this.getQualification();
    this.getExperienceLevel();
    this.getJobType();
    this.getRewards();
    this.getSalaryType();
    this.getCountries();
    this.getSalaryTerm();
    // this.getAuthors();
  },
  beforeDestroy() {
    this.description.destroy();
    this.responsibilities.destroy();
    this.required_skills.destroy();
  },
  updated() {
    this.job_salary_type_id == 1
      ? (this.isDisabled = false)
      : (this.isDisabled = true);
  },
  //directives: {money: Money}
};
</script>
