<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <LoadingBar v-if="isLoading" :loading="isLoading"></LoadingBar>
  <div v-else class="has-scroll p-md-3 py-3 px-0">
    <ul id="members-list" class="members-list" v-if="templates">
      <li v-for="(template, index) in listTemplateArr">
        <div class="profile-card has-hover-effect">
          <div class="glassy-hover-effect glassy-hover-effect--lg"></div>
          <div
            class="profile-card__meta d-flex flex-md-row flex-column space-between align-items-center"
          >
            <div
              class="profile-card__meta__data member-bio-block d-flex align-items-center"
            >
              <div
                class="inner-content text-md-left text-center pl-xl-3 pl-0"
                v-if="$mq != 'mobile'"
              >
                <h5 class="text-blue">{{ template.title.name }}</h5>
                <!--                                <p class>{{template.category.name}}</p>-->
              </div>
              <div
                class="inner-content text-md-left text-center pl-xl-3 pl-0"
                v-if="$mq != 'mobile'"
              >
                <h5 class="text-blue">
                  {{ template.job_index == 0 ? "" : template.job_index }}
                </h5>
              </div>
              <div
                class="inner-content text-md-left text-center pl-xl-3 pl-0"
                v-if="$mq === 'mobile'"
              >
                <h5 class="text-blue">
                  {{ template.title.name }} (
                  {{ template.job_index == 0 ? "" : template.job_index }} )
                </h5>
              </div>
            </div>
            <div
              class="member-info-block align-items-center text-center text-xl-left d-flex flex-xl-row flex-column mt-2 mt-xl-0"
            >
              <!--                            <div class="member-info-block__email">-->
              <!--                                <span class="d-block text-medium">Department</span>-->
              <!--                                <span class="d-block text-overflow">{{template.department.name}}</span>-->
              <!--                            </div>-->
              <div class="w-50">
                <span class="d-block text-medium">Last Edited</span>
                <span class="d-block text-overflow">{{
                  template.updated_at | formatDateAgo
                }}</span>
              </div>
              <div
                class="w-50 text-right d-flex justify-content-center justify-content-xl-end mt-2 mt-xl-0"
              >
                <button
                  @click="downloadJob(template.id)"
                  class="btn btn--round btn--round--has-tooltip btn--round--has-tooltip--download mr-2"
                >
                  <i class="fa fa-download" aria-hidden="true"></i>
                </button>
                <b-button
                  @click="viewJobTemplate(template.id)"
                  class="btn btn--round mr-2"
                  v-tooltip.top="'View'"
                >
                  <i class="fas fa-eye" aria-hidden="true"></i>
                </b-button>
                <b-button
                  @click="editJobTemplate(template.id)"
                  class="btn btn--round mr-2"
                  v-tooltip.top="'Edit'"
                >
                  <i class="fa fa-pen" aria-hidden="true"></i>
                </b-button>
                <b-button
                  @click="deleteJobTemplate(template.id)"
                  class="btn btn--round btn--round--danger mr-0"
                  v-tooltip.top="'Delete'"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </b-button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <nav aria-label="Page navigation example m-4" v-if="templates.total > 50">
      <ul class="pagination" v-if="templates">
        <li class="page-item" v-if="templates.current_page > 1">
          <a
            class="page-link"
            href="javascript:void(0)"
            aria-label="Previous"
            v-on:click.prevent="changePage(templates.current_page - 1)"
          >
            <span aria-hidden="true">«</span>
          </a>
        </li>
        <li
          class="page-item"
          v-for="page in pagesNumber"
          :class="{ active: page == templates.current_page }"
        >
          <a
            class="page-link"
            href="javascript:void(0)"
            v-on:click.prevent="changePage(page)"
            >{{ page }}</a
          >
        </li>
        <li
          class="page-item"
          v-if="templates.current_page < templates.last_page"
        >
          <a
            class="page-link"
            href="javascript:void(0)"
            aria-label="Next"
            v-on:click.prevent="changePage(templates.current_page + 1)"
          >
            <span aria-hidden="true">»</span>
          </a>
        </li>
      </ul>
    </nav>

    <view-job-modal :bus="bus" />
    <b-modal
      id="delete-template-modal"
      centered
      title="Remove Job Template"
      footer-class="justify-content-center"
    >
      <p class="text-center mt-4">Are you sure you want to delete this?</p>
      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button variant="primary" @click="confirmDeleteJobTemplate()">
          Yes
        </b-button>
        <b-button variant="danger" @click="cancelDeleteJobTemplate()">
          No
        </b-button>
      </template>
    </b-modal>
  </div>
</template>
<script>
import config from "../../config/config";
import ViewJobModal from "../../components/job/ViewJobTemplateModal";
import LoadingBar from "../../components/common/LoadingBar";
import _ from "lodash";

export default {
  name: "TemplateList",
  components: {
    ViewJobModal,
    LoadingBar,
  },
  data() {
    return {
      bus: new Vue(),
      jobTemplateId: null,
      isLoading: false,
    };
  },
  props: {
    templates: {
      type: Object,
      // required: true
    },
    offset: {
      type: Number,
      default: 4,
    },
    status,
    changeProps: {
      type: Function,
    },
  },
  mounted() {
    // console.log("template parent",this.$parent)
  },
  computed: {
    listTemplateArr() {
      let subIndex = 1;

      return this.templates.data.map((item, index, array) => {
        if (index === 0) return { ...item, job_index: 1 };
        const prevItem = array[index - 1];
        if (prevItem.title.name === item.title.name) {
          subIndex++;
          return {
            ...item,
            job_index: subIndex,
            title: {
              ...item.title,
              job_index: subIndex,
            },
          };
        }
        subIndex = 1;
        return {
          ...item,
          job_index: subIndex,
          title: {
            ...item.title,
            job_index: 1,
          },
        };
      });
    },
    pagesNumber() {
      if (!this.templates.to) {
        return [];
      }
      let from = this.templates.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }
      let to = from + this.offset * 2;
      if (to >= this.templates.last_page) {
        to = this.templates.last_page;
      }
      let pagesArray = [];
      for (let page = from; page <= to; page++) {
        pagesArray.push(page);
      }
      return pagesArray;
    },
  },
  methods: {
    changePage(page) {
      //console.log("Page Number: "+page);
      this.templates.current_page = page;
      this.$emit("paginate");
    },
    downloadJob(jobId) {
      window.open(config.baseURL + "downloadJobTemplate/" + jobId, "_blank");

      // this.baseUrl = config.baseURL+'downloadPDF/'+this.userId;
    },
    editJobTemplate(jobId) {
      // this.isLoading = true;
      //var nodeData = this.chart.get(jobId);
      axios({
        url: config.apiURL + "editTemplateDetails/" + jobId,
        method: "GET",
      })
        .then((resp) => {
          this.isLoading = false;
          // console.warn("Job Detail: "+JSON.stringify(resp.data));
          this.jobDetails = resp.data;
          this.$parent.bus.$emit("editJobDetail", resp.data);
        })
        .catch((err) => {
          this.isLoading = false;
          console.log(err);
        });
    },
    deleteJobTemplate(id) {
      this.jobTemplateId = id;
      this.$bvModal.show("delete-template-modal");
    },
    confirmDeleteJobTemplate() {
      if (this.jobTemplateId) {
        this.isLoading = true;
        axios
          .get(config.apiURL + "deleteJobTemplate/" + this.jobTemplateId, {})
          .then((resp) => {
            this.isLoading = false;
            this.$parent.templateList = resp.data;
            this.$notify({
              group: "foo",
              type: "success",
              // title: key,
              text: "Job Template Deleted.",
            });
            this.$bvModal.hide("delete-template-modal");
            this.changeProps();
          })
          .catch((error) => {
            this.isLoading = false;
            console.log(error);
            this.changeProps();
          });
      }
    },
    cancelDeleteJobTemplate() {
      this.jobTemplateId = null;
      this.$bvModal.hide("delete-template-modal");
    },
    viewJobTemplate(templateId) {
      // this.isLoading = true;
      axios({
        url: config.apiURL + "showJobTemplate/" + templateId,
        method: "GET",
      })
        .then((resp) => {
          this.isLoading = false;
          console.log(resp.data);
          this.bus.$emit("viewJobTemplateDetails", resp.data);
        })
        .catch((err) => {
          this.isLoading = false;
          console.log(err);
        });
    },
  },
};
</script>
