<template>
  <b-modal
    id="candidate-resume-isop-modal"
    hide-footer
    size="xl"
    centered
    title-class="text-blue"
    title-tag="h3"
    :title="user.first_name+' '+ user.last_name"
    body-class="flex-fill h-100 p-0"
  >
    <!--{{resumeDetail}}-->
    <!--{{field_of_study}}-->
    <div class="candidate-resume candidate-resume__modal-view d-flex flex-column h-100 p-15 pb-0">
      <div class="candidate-resume__header">
        <div class="row">
          <div class="col-5" v-if="$mq != 'mobile'">
            <p>{{objective_summary}}</p>
          </div>
          <div class="col-md-2 d-md-flex">
            <div class="candidate-resume__header__thumbnail">
              <div class="image-ratio-square image-round">
                <img :src="profileImage || defaultProfileImage" @error="imageUrlAlt" class="img-fluid rounded-circle" />
              </div>
            </div>
            <div
              class="candidate-resume__header__user-meta text-center mt-3"
              v-if="$mq === 'mobile'"
            >
              <h3 class="text-blue mb-2">{{user.first_name}} {{user.last_name}}</h3>
              <div v-if="resume_education.length > 0">
                <div v-for="(edu,index) in resume_education">
                  <h4>{{edu.title}}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-5" v-if="user && showUserInfo &&  $mq != 'mobile'">
            <ul>
              <li>
                <p>{{user.email}}</p>
                <span>
                  <img src="assets/images/email-resume.svg" alt="Email" />
                </span>
              </li>
              <li v-if="user.mobile_number">
                <p>{{user.mobile_number}}</p>
                <span>
                  <img src="assets/images/phone-resume.svg" alt="Phone Number" />
                </span>
              </li>
              <li v-if="field_of_study">
                <p>{{field_of_study.name}}</p>
                <span>
                  <img src="assets/images/expertise-resume.svg" alt="Field of study" />
                </span>
              </li>
              <li>
                <p>{{user | getLocation}}</p>
                <!--<p>{{user.city.name}}, {{user.state.name}}, {{user.country.name}}</p>-->
                <span>
                  <img src="assets/images/location-resume.svg" alt="Address" />
                </span>
              </li>
            </ul>
          </div>
          <div class="col-md-5 align-items-center d-flex justify-content-end" v-else>
            <div v-if="$mq != 'mobile'">
              <router-link to="/pricing" class="btn btn-primary mx-2 min-w-125">Buy Subscription</router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="candidate-resume__content has-scroll mx-neg-15 px-md-3 pb-7">
        <div class="row" v-if="$mq != 'mobile'">
          <div class="col-6">
            <div class="candidate-resume__content__block" v-if="resume_work_experience.length >0">
              <h3 class="block-title">Work Experience</h3>
              <div class="block-content" v-for="(work,index) in resume_work_experience">
                <h4>{{work.title}}</h4>
                <h5 class="has-content-date">
                  <span class="company__name">{{work.organization}}</span>
                  <span
                    class="experience-duration"
                    v-if="work.currently_working === 0"
                  >{{work.start_month}} {{work.start_year}} - {{work.end_month}} {{work.end_year}}</span>
                  <span
                    class="experience-duration"
                    v-else
                  >{{work.start_month}} {{work.start_year}} - Present</span>
                </h5>
                <span v-if="work.description" v-html="work.description"></span>
              </div>
            </div>
          </div>
          <div class="col-6 b-left">
            <div class="candidate-resume__content__block" v-if="resume_education.length > 0">
              <h3 class="block-title">Education</h3>
              <div class="block-content" v-for="(edu,index) in resume_education">
                <h4>{{edu.title}}</h4>
                <h5 class="has-content-date">
                  <span class="company__name">{{edu.institution}}</span>
                  <span class="experience-duration">{{edu.completion_month}} {{edu.completion_year}}</span>
                </h5>
              </div>
            </div>
            <div class="candidate-resume__content__block" v-if="resume_skills.length >0">
              <h3 class="block-title">Skills</h3>
              <div class="block-content">
                <ul class="list-reset row-of-two">
                  <li v-for="(skills,index) in resume_skills">{{skills.skill.name}}</li>
                </ul>
              </div>
            </div>
            <div class="candidate-resume__content__block" v-if="resume_strength.length >0">
              <h3 class="block-title">Strengths</h3>
              <div class="block-content">
                <ul class="list-reset row-of-two">
                  <li v-for="(strength,index) in resume_strength">{{strength.name}}</li>
                </ul>
              </div>
            </div>
            <div class="candidate-resume__content__block" v-if="resume_language.length >0">
              <h3 class="block-title">Languages</h3>
              <div class="block-content--space-between">
                <span class="item-row" v-for="(languages,index) in resume_language">
                  <span class="item-name">{{languages.language.name}}</span>
                  <span class="item-status">{{languages.proficiency.name}}</span>
                </span>
              </div>
            </div>
            <div class="candidate-resume__content__block" v-if="resume_achievements.length >0">
              <h3 class="block-title">Achievements</h3>
              <div class="block-content block-content--space-between">
                <p class="item-row" v-for="(achievement,index) in resume_achievements">
                  <span class="item-name">{{achievement.title}}</span>
                  <span
                    class="item-status"
                  >{{achievement.completion_month}} {{achievement.completion_year}}</span>
                </p>
              </div>
            </div>
            <div class="candidate-resume__content__block" v-if="resume_interests.length > 0">
              <h3 class="block-title">Interests</h3>
              <div class="block-content">
                <ul class="list-reset row-of-two">
                  <li v-for="(list,index) in resume_interests"><span v-text="list.name"></span></li>
                </ul>
              </div>
            </div>
            <div class="candidate-resume__content__block" v-if="resume_references.length >0">
              <h3 class="block-title">References</h3>
              <div class="block-content block-content--references">
                <div class="w-50 pr-2" v-for="(reference,index) in resume_references">
                  <p>{{reference.name}}</p>
                  <p>{{reference.organization}}</p>
                  <p>{{reference.phone}}</p>
                  <p>{{reference | getReferenceLocation}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" v-if="$mq != 'mobile'">
          <div class="col-6" v-if="video.length >0" v-for="(vlist,index) in video">
            <video width="380" controls>
              <source :src="vlist.path" type="video/mp4" />
            </video>
          </div>
        </div>
        <div class="tabs-wrapper tabs-wrapper--tabs-top-sm h-100" v-if="$mq === 'mobile'">
          <b-tabs content-class="flex-fill" fill nav-class="on-active-white tabs-small has-3-tabs">
            <b-tab title="Summary" active>
              <div class="tab-content__inner p-3">
                <div class="candidate-resume__content__block" v-if="objective_summary">
                  <h3 class="block-title">Objective Summary</h3>
                  <p>{{objective_summary}}</p>
                </div>
                <div class="candidate-resume__content__block" v-if="resume_education.length > 0">
                  <h3 class="block-title">Education</h3>
                  <div class="block-content" v-for="(edu,index) in resume_education">
                    <h4 class="font-weight-normal">{{edu.title}}</h4>
                    <h5 class="has-content-date font-weight-normal">
                      <span class="company__name">{{edu.institution}}</span>
                      <span
                        class="experience-duration"
                      >{{edu.completion_month}} {{edu.completion_year}}</span>
                    </h5>
                  </div>
                </div>
                <div class="candidate-resume__content__block" v-if="resume_skills.length >0">
                  <h3 class="block-title">Skills</h3>
                  <div class="block-content">
                    <ul class="list-reset row-of-two">
                      <li v-for="(skills,index) in resume_skills">{{skills.skill.name}}</li>
                    </ul>
                  </div>
                </div>
                <div class="candidate-resume__content__block" v-if="resume_strength.length >0">
                  <h3 class="block-title">Strengths</h3>
                  <div class="block-content">
                    <ul class="list-reset row-of-two">
                      <li v-for="(strength,index) in resume_strength">{{strength.name}}</li>
                    </ul>
                  </div>
                </div>
                <div class="candidate-resume__content__block" v-if="resume_language.length >0">
                  <h3 class="block-title">Languages</h3>
                  <div class="block-content block-content--space-between">
                    <p class="item-row" v-for="(languages,index) in resume_language">
                      <span class="item-name">{{languages.language.name}}</span>
                      <span class="item-status">{{languages.proficiency.name}}</span>
                    </p>
                  </div>
                </div>
                <div class="candidate-resume__content__block" v-if="resume_achievements.length >0">
                  <h3 class="block-title">Achievements</h3>
                  <div class="block-content block-content--space-between">
                    <p class="item-row" v-for="(achievement,index) in resume_achievements">
                      <span class="item-name">{{achievement.title}}</span>
                      <span
                        class="item-status"
                      >{{achievement.completion_month}} {{achievement.completion_year}}</span>
                    </p>
                  </div>
                </div>
                <div class="candidate-resume__content__block" v-if="resume_references.length >0">
                  <h3 class="block-title">References</h3>
                  <div class="block-content block-content--references">
                    <div class="w-50 pr-2" v-for="(reference,index) in resume_references">
                      <p>{{reference.name}}</p>
                      <p>{{reference.organization}}</p>
                      <p>{{reference.phone}}</p>
                      <p>{{reference | getReferenceLocation}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </b-tab>
            <b-tab title="Experience">
              <div class="tab-content__inner p-3">
                <div
                  class="candidate-resume__content__block"
                  v-if="resume_work_experience.length >0"
                >
                  <h3 class="block-title">Work Experience</h3>
                  <div class="block-content" v-for="(work,index) in resume_work_experience">
                    <h4>{{work.title}}</h4>
                    <h5 class="has-content-date">
                      <span class="company__name font-weight-normal">{{work.organization}}</span>
                      <span
                        class="experience-duration"
                        v-if="work.currently_working === 0"
                      >{{work.start_month}} {{work.start_year}} - {{work.end_month}} {{work.end_year}}</span>
                      <span
                        class="experience-duration"
                        v-else
                      >{{work.start_month}} {{work.start_year}} - Present</span>
                    </h5>
                    <span v-if="work.description" v-html="work.description"></span>
                  </div>
                </div>
              </div>
            </b-tab>
            <b-tab title="Contact">
              <div class="tab-content__inner p-3">
                <div v-if="user && showUserInfo">
                  <div class="contact-tab-sm">
                    <ul>
                      <li>
                        <h4>Email Address</h4>
                        <p>{{user.email}}</p>
                      </li>
                      <li v-if="user.mobile_number">
                        <h4>Contact Number</h4>
                        <p>{{user.mobile_number}}</p>
                      </li>
                      <li v-if="field_of_study">
                        <h4>Experties</h4>
                        <p>{{field_of_study.name}}</p>
                      </li>
                      <li v-if="user.city">
                        <h4>Location</h4>
                        <p>{{user.city.name}}, {{user.state.name}}, {{user.country.name}}</p>
                        <!-- <div class="map-area mt-3">
                          <img
                            class="w-100"
                            src="https://via.placeholder.com/400x400.png?text=Map+Here"
                            alt
                          />
                        </div>-->
                      </li>
                    </ul>
                  </div>
                  <div class="contact-tab-sm mt-3" v-if="video.length >0">
                    <div class="col-12" v-for="(vlist,index) in video">
                      <video width="300" controls>
                        <source :src="vlist.path" type="video/mp4" />
                      </video>
                    </div>
                  </div>
                  <div class="btn-wrap mt-4 d-none">
                    <a href="#" class="btn btn-primary w-100">Download Resume</a>
                  </div>
                </div>
                <div v-else class="mt-3 text-center">
                  <router-link to="/pricing" class="btn btn-primary mx-2 min-w-125">Buy Subscription</router-link>
                </div>
              </div>
            </b-tab>
          </b-tabs>
        </div>
      </div>
    </div>
  </b-modal>
</template>
<script>
import { mapGetters } from "vuex";
import Avatar from "vue-avatar";
export default {
  name: "CandidateResumeModalComponent",
  components: {
    Avatar
  },
  data() {
    return {
      resumeDetail: null,
      objective_summary: null,
      resume_achievements: [],
      resume_education: [],
      resume_interests: [],
      resume_references: [],
      resume_skills: [],
      resume_strength: [],
      resume_videos: [],
      resume_work_experience: [],
      user: [],
      video: [],
      resume_language: [],
      field_of_study: [],
      defaultProfileImage: "assets/images/user-placeholder.png",
      profileImage: null,
      showUserInfo: true
    };
  },
  props: ["bus"],
  mounted() {
    this.bus.$on("viewCandidateResume", this.viewCandidateResume);
    // typeahead
  },
  computed: {
    ...mapGetters(["userData"])
  },
  methods: {
    imageUrlAlt(event) {
      event.target.src = "assets/images/company-placeholder.png";
    },
    viewCandidateResume(data, showUserInfo = true) {
      this.showUserInfo = showUserInfo;
      this.resumeDetail = data;
      this.objective_summary = data.objective_summary;
      this.resume_achievements = data.resume_achievements;
      this.resume_education = data.resume_education;
      this.resume_interests = data.resume_interests;
      this.resume_references = data.resume_references;
      this.resume_skills = data.resume_skills;
      this.resume_strength = data.resume_strength;
      this.resume_videos = data.resume_videos;
      this.resume_work_experience = data.resume_work_experience;
      this.user = data.user;
      this.video = data.resume_videos;
      this.field_of_study = data.user.candidate.field_of_study;
      if (this.user) {
        this.profileImage = data.user.image;
      }
      this.resume_language = data.resume_language;
      this.$bvModal.show("candidate-resume-isop-modal");
    }
  } 
};
</script>
