<template>
  <div class="h-100">
    <ul class="candidate-jobs-listing">
      <li @click="showCandidateResume(1)">
        <div class="profile-card has-hover-effect">
          <div class="glassy-hover-effect"></div>
          <div class="profile-card__meta">
            <div
              class="profile-card__meta__data profile-card__meta__data--sm d-flex align-items-center"
            >
              <div class="thumbnail">
                <img
                  class="img-fluid"
                  src="assets/images/user-placeholder.png"
                  alt="Candidate Profile Image"
                />
              </div>
              <div class="inner-content">
                <b-button
                  variant="-reset"
                  title="View resume"
                  class="text-left text-overflow w-100 p-0"
                >
                  <h5>Umair Qazi Umair Qazi Umair Qazi Umair Qazi</h5>
                  <p class="text-body">Reesh Regency</p>
                </b-button>
              </div>
              <div class="btn-group dropleft align-self-start" role="group">
                <button
                  type="button"
                  class="btn btn--reset dropdown-toggle p-0 pl-2 ml-3"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu p-0">
                  <ul>
                    <li>
                      <a href="#">Remove</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <candidate-resume-modal-component :bus="bus" />
  </div>
</template>
<script>
import CandidateResumeModalComponent from "../company/CandidateResumeModalComponent";
import config from "../../config/config";
import _ from "lodash";
export default {
  name: "CompanyApplicantsListComponent",
  components: {
    "candidate-resume-modal-component": CandidateResumeModalComponent
  },
  data() {
    return {
      onlineJobsResume: [],
      shortListed: [],
      rejected: [],
      offered: [],
      allCandidates: 0,
      totalShortlisted: 0,
      totalRejected: 0,
      candidateResume: [],
      bus: new Vue()
    };
  },
  methods: {
    imageUrlAlt(event) {
      event.target.src = "assets/images/user-placeholder.png";
    },
    showCandidateResume(userId) {
      axios({ url: config.apiURL + "candidateResume/" + userId, method: "GET" })
        .then(resp => {
          this.candidateResume = resp.data;
          this.bus.$emit("viewCandidateResume", resp.data);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
