<template>
  <div class="h-100">
    <div class="content-right has-box-shadow h-100 sidebar">
      <div class="sidebar__title">
        <h3>Interested Candidates</h3>
      </div>
      <div class="sidebar__content has-scroll p-2" data-v-step="6">
        <div class="has-scroll__child">
          <ul class="candidate-jobs-listing" v-if="interestedCandidates.length > 0">
            <li v-for="(list,index) in interestedCandidates" :ref="'intCandidate_list_'+list.id">
              <div class="profile-card has-hover-effect">
                <div class="glassy-hover-effect"></div>

                <div class="profile-card__meta border-0">
                  <div
                    class="profile-card__meta__data profile-card__meta__data--sm d-flex align-items-center"
                  >
                    <b-button
                      variant="-reset"
                      class="text-left text-overflow w-100 p-0 mr-3 d-flex align-items-center"
                      v-tooltip.top="'View Resume'"
                      @click="showCandidateResume(list.candidate.user.id)"
                    >
                      <div class="thumbnail">
                        <img
                          class="img-fluid"
                          :src="list.candidate.user.image || defaultCandidateAvatarSrc"
                          @error="imageUrlAlt"
                        />
                      </div>
                      <div class="inner-content">
                        <h5>{{list.candidate.user.first_name}} {{list.candidate.user.last_name}}</h5>
                        <p
                          class="text-body"
                          v-if="list.candidate.field_of_study_id > 0"
                        >{{list.candidate.field_of_study.name}}</p>
                      </div>
                    </b-button>
                    <b-dropdown
                      dropleft
                      no-caret
                      toggle-class="btn btn--reset p-0 mr-n2"
                      variant="default"
                    >
                      <template v-slot:button-content>
                        <i
                          class="fa fa-ellipsis-v px-2"
                          aria-hidden="true"
                          v-tooltip.left="'Actions'"
                        ></i>
                      </template>
                      <b-dropdown-item @click="removeCandidate(list.id)">
                        <span class="icon-wrap">
                          <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                        </span>Remove
                      </b-dropdown-item>
                    </b-dropdown>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import config from "../../config/config";
import _ from "lodash";
import { Avatar } from "vue-avatar";
export default {
  name: "CompanySidebarComponent",
  components: {
    Avatar
  },
  data() {
    return {
      interestedCandidates: [],
      memberName: null,
      candidateResume: [],
      bus: new Vue(),
      defaultCandidateAvatarSrc: "assets/images/user-placeholder.png",
    };
  },
  methods: {
    imageUrlAlt(event) {
      event.target.src = "assets/images/user-placeholder.png";
    },
    showInterestedgCandidates: function() {
      axios.get(config.apiURL + "getInterestedCandidates").then(
        function(response) {
          this.interestedCandidates = response.data;
        }.bind(this)
      );
    },
    showCandidateResume(userId) {
      //console.log("Is Mobile or not!"+this.isMobile());
      axios({ url: config.apiURL + "candidateResume/" + userId, method: "GET" })
        .then(resp => {
          this.candidateResume = resp.data;
          if (this.isMobile() === false) {
            this.$parent.bus.$emit("viewCandidateResume", resp.data);
          } else {
            this.$parent.$parent.$parent.bus.$emit(
              "viewCandidateResume",
              resp.data
            );
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    // Used to detect whether the users browser is an mobile browser
    isMobile() {
      ///<summary>Detecting whether the browser is a mobile browser or desktop browser</summary>
      ///<returns>A boolean value indicating whether the browser is a mobile browser or not</returns>

      if (sessionStorage.desktop)
        // desktop storage
        return false;
      else if (localStorage.mobile)
        // mobile storage
        return true;

      // alternative
      let mobile = [
        "iphone",
        "ipad",
        "android",
        "blackberry",
        "nokia",
        "opera mini",
        "windows mobile",
        "windows phone",
        "iemobile"
      ];
      for (let i in mobile)
        if (
          navigator.userAgent.toLowerCase().indexOf(mobile[i].toLowerCase()) > 0
        )
          return true;

      // nothing found.. assume desktop
      return false;
    },
    removeCandidate(applicantId) {
      let formData = new FormData();
      formData.append("id", applicantId);
      axios({
        url: config.apiURL + "removeInterestedCandidate",
        data: formData,
        method: "POST"
      })
        .then(response => {
          this.interestedCandidates = response.data;
          console.log("Response Data: " + JSON.stringify(response.data));

          // $(this.$refs["intCandidate_list_" + applicantId]).hide();
        })
        .catch(err => {
          this.isLoading = false;
          this.error = err.response.data.error;
          let errors = err.response.data.errors;
          for (const [key, value] of Object.entries(errors)) {
            value.forEach((text, index) => {
              this.$notify({
                group: "foo",
                type: "error",
                title: key,
                text: text
              });
            });
          }
        });
    }
  },
  created: function() {
    this.showInterestedgCandidates();
  }
};
</script>
