<!-- <template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform"> -->
<template>
  <!-- <LoadingBar v-if="loading" :loading="loading"></LoadingBar>
  <div v-else class="h-100">
    <div class="home-tab p-15">
      <div class="blogs-wrapper">
        <div class="row px-2 mb-n2">
          <div
            class="col-lg-4 col-md-6 py-2 px-2"
            v-for="(item, index) in articlesArr"
            v-if="item.images[0]"
          >
            <div class="blog-block h-100">
              <a class="h-100" @click="showArticle(item.id)">
                <span>
                  <img
                    class="img-fluid"
                    :src="item.images[0].path"
                    alt="Article Image"
                  />
                </span>
                <div class="block-content">
                  <h5 class="text-medium">{{ item.title }}</h5>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="mt-3 d-flex justify-content-center">
          <b-button
            v-if="expandTitle"
            variant="primary"
            @click="expandArticles()"
          >
            {{ expandTitle }}
          </b-button>
        </div>
      </div>
    </div>
    <article-details-modal :article="article" />
  </div> -->

  <div class="h-100 p-3">
    <div class="row">
      <div class="col-xl-8 col-lg-12 mb-3 mb-xl-0">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 text-center mb-3 mb-md-0">
                <h3 class="mb-2 mb-md-3">Total Positions</h3>
                <h4>
                  <ICountUp
                    :delay="2000"
                    :startVal="0"
                    :endVal="totalNodesCount"
                    :decimals="decimals"
                    :duration="5000"
                    :options="countUpOptions"
                  />
                </h4>
              </div>
              <div class="col-md-4 text-center mb-3 mb-md-0">
                <h3 class="mb-2 mb-md-3">Total Members</h3>
                <h4>
                  <ICountUp
                    :delay="2000"
                    :startVal="0"
                    :endVal="membersList.length"
                    :decimals="decimals"
                    :duration="5000"
                    :options="countUpOptions"
                  />
                </h4>
              </div>
              <div class="col-md-4 text-center">
                <h3 class="mb-2 mb-md-3"># of Applicants</h3>
                <h4>
                  <ICountUp
                    :delay="2000"
                    :startVal="0"
                    :endVal="allCandidates + totalShortlisted + totalOffered"
                    :decimals="decimals"
                    :duration="5000"
                    :options="countUpOptions"
                  />
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-body text-center">
            <h3 class="mb-3">Human Capital Cost Est.</h3>
            <h4>
              $
              <ICountUp
                :delay="2000"
                :startVal="0"
                :endVal="capitalCost"
                :decimals="decimals"
                :duration="5000"
                :options="countUpOptions"
              />
              <span class="text-sm">Annual</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-12 mb-3 mb-xl-0">
        <div class="card border-0">
          <div class="card-body px-0">
            <DepartmentsBarChart :groupsData="groups"></DepartmentsBarChart>
            <h3 class="mt-3 text-center">Departments</h3>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12" style="padding-top: 19px">
        <GenderRatioBarChart
          :genderGroupsData="genderGroups"
        ></GenderRatioBarChart>
        <h3 class="mt-3 text-center">Gender Ratio</h3>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import config from "../../config/config";
import ArticleDetailsModal from "../article/ArticleDetailsModal";
import LoadingBar from "../common/LoadingBar";
import DepartmentsBarChart from "./DepartmentsBarChart";
import GenderRatioBarChart from "./GenderRatioBarChart";
import ICountUp from "vue-countup-v2";

const matchDepartments = {
  'Accounting and Finance': 'Acct & Fin',
  'Administrative': 'Admin',
  'Business Development': 'Bus Dev',
  'Customer Service': 'Cust Ser',
  'Engineering': 'Eng',
  'Environmental': 'Envi',
  'Human Resources': 'HR',
  'Information Technology': 'IT',
  'Legal': 'Legal',
  'Logistics': 'Lgsts',
  'Management': 'Mgmt',
  'Manufacturing': 'Mfg',
  'Marketing & Advertising': 'Mktg & Ad',
  'Operations': 'Ops',
  'Other': 'Other',
  'Production': 'Prod',
  'Purchasing': 'Pur',
  'Quality Assurance': 'QA',
  'PuResearch & Developmentrchasing': 'R&D',
  'Sales': 'Sales',
  'Services': 'Ser',
  'Supply Chain': 'Sup Chain',
  'Media': 'Media'
};

export default {
  name: "HomeComponent",
  components: {
    ArticleDetailsModal,
    LoadingBar,
    DepartmentsBarChart,
    GenderRatioBarChart,
    ICountUp,
  },
  data() {
    return {
      articlesArr: [],
      article: {},
      loading: false,
      expandTitle: "Load More",
      itemNumber: 6,
      step: 6,
      decimals: 0,
      duration: 2.5,
      countUpOptions: {
        useEasing: true,
        useGrouping: true,
        separator: ",",
        decimal: ".",
        prefix: "",
        suffix: "",
      },

      totalNodes: [],
      totalNodesCount: 0,
      membersList: [],
      //applicants
      onlineJobsResume: [],
      allCandidates: 0,
      shortListed: [],
      totalShortlisted: 0,
      offered: [],
      totalOffered: 0,

      capitalCost: 0,
      groups: {},
      genderGroups: {},
    };
  },
  computed: {
    ...mapGetters(["articles"]),
  },
  methods: {
    ...mapActions(["getArticles", "getArticle"]),

    showArticle(articleId) {
      this.getArticle(articleId).then((article) => {
        this.article = article;
        this.$bvModal.show("blog-post-modal");
      });
    },
    expandArticles() {
      if (this.expandTitle == "Load More") {
        this.itemNumber = this.itemNumber + this.step;
        this.articlesArr = this.articles.slice(0, this.itemNumber);
        if (this.itemNumber === this.articles.length) this.expandTitle = "";
      }
    },
  },
  created() {
    this.loading = true;
    this.getArticles().then((res) => {
      this.articlesArr = this.articles.slice(0, this.itemNumber);
      this.loading = false;
    });

    //chart nodes
    this.isLoading = true;
    axios({ url: config.apiURL + "getCompanyChartNodes", method: "GET" })
      .then((resp) => {
        this.isLoading = false;
        this.totalNodes = resp.data.charts;
        this.totalNodesCount = resp.data.charts && resp.data.charts.length - 1;
        // this.initChart(resp.data);
        let capitalCostValue = 0;

        if (resp.data.charts.length > 0) {
          const groups = resp.data.charts
            .slice(1)
            .reduce(function (prev, chart) {
              ////
              let salary = 0;
              const item = chart.job;
              if (chart.job && chart.job.job_salary_type_id == 1) {
                let jobSalaryRate = 0;
                const salary_term = item.job_salary_term_id;
                const maxValue = parseInt(
                  item.max_salary.replace(/\,/g, ""),
                  10
                );
                const minValue = parseInt(
                  item.min_salary.replace(/\,/g, ""),
                  10
                );
                if (salary_term == 1) {
                  jobSalaryRate = ((maxValue + minValue) / 2) * 1;
                } else if (salary_term == 2) {
                  jobSalaryRate = ((maxValue + minValue) / 2) * 12;
                } else if (salary_term == 3) {
                  jobSalaryRate = ((maxValue + minValue) / 2) * 1920;
                } else if (salary_term == 4) {
                  jobSalaryRate = ((maxValue + minValue) / 2) * 24;
                }
                salary = jobSalaryRate;
              }
              ///
              prev[matchDepartments[chart.job.department.name]] =
                (prev[matchDepartments[chart.job.department.name]] || 0) + salary;
              return prev;
            }, {});
          this.groups = groups;

          // console.log('groupby:', this.groupBy(resp.data.charts.slice(1)));
          resp.data.charts.forEach((item) => {
            if (item.job && item.job.job_salary_type_id == 1) {
              let jobSalaryRate = 0;
              const salary_term = item.job.job_salary_term_id;
              const maxValue = parseInt(
                item.job.max_salary.replace(/\,/g, ""),
                10
              );
              const minValue = parseInt(
                item.job.min_salary.replace(/\,/g, ""),
                10
              );
              if (salary_term == 1) {
                jobSalaryRate = ((maxValue + minValue) / 2) * 1;
              } else if (salary_term == 2) {
                jobSalaryRate = ((maxValue + minValue) / 2) * 12;
              } else if (salary_term == 3) {
                jobSalaryRate = ((maxValue + minValue) / 2) * 1920;
              } else if (salary_term == 4) {
                jobSalaryRate = ((maxValue + minValue) / 2) * 24;
              }
              capitalCostValue += jobSalaryRate;
            }
          });
          this.capitalCost = capitalCostValue;
        }
      })
      .catch((err) => {
        console.log(err);
      });

    //members
    axios({ url: config.apiURL + "getMembersList", method: "GET" }).then(
      (response) => {
        this.membersList = response.data;
        const groups = response.data.reduce(function (prev, chart) {
          ////
          const value = 1;

          ///
          prev[chart.candidate.user.gender] = parseInt((((prev[chart.candidate.user.gender] || 0) + value) /response.data.length) * 100);
          return prev;
        }, {});
        this.genderGroups = groups;
      }
    );

    //applicants
    axios.get(config.apiURL + "getOnlineJobsResume").then(
      function (response) {
        this.onlineJobsResume = response.data;
        this.allCandidates = response.data.length;
      }.bind(this)
    );
    axios
      .get(config.apiURL + "getCandidateJobApplicants/" + "is_shortlisted/" + 1)
      .then(
        function (response) {
          this.shortListed = response.data;
          this.totalShortlisted = response.data.length;
        }.bind(this)
      );
    axios
      .get(config.apiURL + "getCandidateJobApplicants/" + "is_offered/" + 1)
      .then(
        function (response) {
          this.offered = response.data;
          this.totalOffered = response.data.length;
        }.bind(this)
      );
  },
  mounted() {},
};
</script>

