<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="home-tab p-15">
        <div class="row home-tab__row" v-for="(item,index) in profile">
            <div class="col-xl-6 mb-4 mb-xl-0">
                <h3 class="title-has-border mb-3">
                    <input type="text" :value="item.meta_one" :ref="'profile_heading_one'" @blur="saveProfileInfo(1,'heading')" @click="editProfileInfo(1,'heading')" maxlength="30" />
                    <span class="input-style"></span>
                </h3>
                <p class="meta">
                    <textarea-autosize
                            placeholder="Type something here..."
                            ref="profile_description_one"
                            :value="item.meta_one_description"
                            :min-height="30"
                            :max-height="350"
                            @blur.native="saveProfileInfo(1,'desc')"
                            @click="editProfileInfo(1,'desc')"
                            maxlength="300"
                    />
                    <span class="input-style"></span>
                </p>
            </div>
            <div class="col-xl-6 mb-4 mb-xl-0">
                <h3 class="title-has-border mb-3">
                    <input type="text" :value="item.meta_two" :ref="'profile_heading_two'" @blur="saveProfileInfo(2,'heading')" @click="editProfileInfo(2,'heading')" maxlength="30" />
                    <span class="input-style"></span>
                </h3>
                <p class="meta">
                    <textarea-autosize
                            placeholder="Type something here..."
                            ref="profile_description_two"
                            :value="item.meta_two_description"
                            :min-height="30"
                            :max-height="350"
                            @blur.native="saveProfileInfo(2,'desc')"
                            @click="editProfileInfo(2,'desc')"
                            maxlength="300"
                    />
                    <span class="input-style"></span>
                </p>
            </div>
        </div>
        <div class="row home-tab__row company_sections" v-for="(section,index) in profileSections" :ref="'companyProfiles'">
            <div class="col-12">
                <h3 class="title-has-border mb-3">
                    <input type="text" :value="section.heading" placeholder="Add title..." :ref="'heading'" @blur="saveSectionTitle(section.id,index)" @click="editSectionTitle(section.id,index)" maxlength="30" />
                    <span class="input-style"></span>
                    <b-dropdown id="dropdown-dropleft" dropleft text="Drop-Left" variant="-reset" toggle-class="mr-2">
                        <template v-slot:button-content>
                            <i class="fas fa-ellipsis-h" v-tooltip.top="'Options'"></i>
                        </template>
                        <b-dropdown-item @click="deleteSection(section.id,index)">Delete</b-dropdown-item>
                    </b-dropdown>
                </h3>
                <div class="gallery-wrap">
                    <ul v-viewer="{toolbar: 0,movable: false,zoomable:false}" class="images can-delete-image d-flex list-of-3 list-of-2-sm row-gutter-7 mb-3">
                        <li v-for="image in section.images">
                            <div class="image_wrapper ratio-16-9 round-box">
                                <img class="img-fluid" :src="image.image_path" alt="">
                            </div>
                        </li>
                        <li>
                            <div class="add-image-cta h-100 d-flex align-items-center ratio-16-9">
                                <div class="btn-wrap">
                                    <b-button type="button" @click="addDropZone(section.id,index)" class="btn btn--round btn--round--blue mx-auto" v-tooltip.top="'Add Gallery Image'">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </b-button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dropzone-wrapper">
            <div v-if="showDropZone" ref="dropzoneArea">
                <vue-dropzone ref="myVueDropzone" id="dropzone" :options="dropzoneOptions"
                              @vdropzone-removed-file="vremoved"
                              @vdropzone-sending="sendingEvent"
                              @vdropzone-success="vsuccess"
                              @vdropzone-queue-complete="queueComplete"
                              @vdropzone-mounted="mountedVue"
                >
                </vue-dropzone>
                <div class="btn-wrap d-flex justify-content-center my-3">
                    <button type="button" class="btn btn-primary mx-2 min-w-125" @click="processqueue">Done</button>
                    <button type="button" class="btn btn-primary mx-2 min-w-125" @click="cancelqueue">Cancel</button>
                </div>
            </div>
        </div>
        <div class="add-section-btn-wrap">
            <b-button type="button" @click="addProfileSection"
                      class="btn btn--round btn--round--blue mx-auto" v-tooltip.top="'Add new section'">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </b-button>
        </div>
        <b-modal id="delete-section-modal" centered title="Remove Section" footer-class="justify-content-center">
            <p class="text-center mt-4">
                Are you sure you want to delete this section?
            </p>
            <template v-slot:modal-footer="{ ok }">
                <b-button variant="primary min-w-125" @click="confirmDeleteSection()">Yes</b-button>
                <b-button variant="danger min-w-125" @click="cancelDeleteSection()">No</b-button>
            </template>
        </b-modal>
        <notifications group="foo" position="bottom right" />
    </div>
</template>
<script>
    import vue2Dropzone from 'vue2-dropzone';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    import config from '../../config/config';
    import 'viewerjs/dist/viewer.css'
    import Viewer from "v-viewer/src/component.vue";
    vue2Dropzone.autoDiscover = false;
    export default {
        name: 'HomeProfileComponent',
        components: {
            vueDropzone: vue2Dropzone,
            Viewer,
        },
        props: {
            bus:{
                type: Object,
            }
        },
        data: function () {
            return {
                dropzoneOptions: {
                    url: config.apiURL + 'addCompanyProfileSectionImages',
                    thumbnailWidth: 150,
                    maxFilesize: 5,
                    headers: {"Authorization": 'Bearer ' + localStorage.getItem('_token')},
                    addRemoveLinks:true,
                    autoProcessQueue:false,
                },
                profileSections: null,
                showDropZone:false,
                sectionId:null,
                sectionIndex:null,
                manuallyAdded:null,
                profile:null,
                currentSection:null,
                currentSectionIndex:null

            }
        },
        created: function() {
            this.getProfileSections();
            this.getCompanyProfile();
        },
        mounted(){
            this.bus.$on('resizeTextArea', this.resizeTextArea);
        },
        methods:{
            resizeTextArea(){
            this.$refs.profile_description_one[0].resize();
            this.$refs.profile_description_two[0].resize();
            },
            mountedVue(){
                this.manuallyAdded = true;
                let currentSection = this.profileSections[this.sectionIndex];
                let images = currentSection.images;
                this.$refs.myVueDropzone.removeAllFiles(true);
                images.forEach( (element)=> {
                    let path = element.image_path;
                    var file = { size: 123, name: element.id, type: "image/png",accepted: true };
                    this.$refs.myVueDropzone.manuallyAddFile(file, path,null,null,{
                    });
                });
            },
            show () {
                const viewer = this.$el.querySelector('.images').$viewer
                viewer.show()
            },
            processqueue(){
                if(this.$refs.myVueDropzone.getQueuedFiles().length > 0) {
                    this.manuallyAdded = false;
                    this.$refs.myVueDropzone.processQueue();
                }else{
                    this.manuallyAdded = false;
                    this.queueComplete();
                }
            },
            cancelqueue(){
                if(this.$refs.myVueDropzone.getQueuedFiles().length > 0) {
                    this.$refs.myVueDropzone.removeAllFiles(true);
                }
                this.showDropZone = false;
                this.manuallyAdded = false;
                var elements = document.getElementsByClassName('company_sections');
                for (let item of elements) {
                    item.style.display = 'block';
                }
            },
            vremoved(file, error, xhr){
                if(this.manuallyAdded) {
                    let formData = new FormData();
                    formData.append('image_id', file.name);
                    axios({url: config.apiURL + 'removeCompanyProfileSectionImages', data: formData, method: 'POST'})
                        .then(resp => {
                            const data = resp.data;
                            console.log(data,this.sectionIndex);
                            this.profileSections[this.sectionIndex].images = data.images;
                            this.$notify({
                                group: "foo",
                                type: "success",
                                // title: "Important message",
                                text: "Image Removed. ",
                            });
                        })
                        .catch(err => {
                            console.log(err)
                        })
                }
            },
            vsuccess(file,resp){
                this.profileSections=resp;
            },
            queueComplete(){
                if(!this.manuallyAdded) {
                    this.showDropZone = false;
                    this.$refs.myVueDropzone.removeAllFiles(true);
                    var elements = document.getElementsByClassName('company_sections');
                    for (let item of elements) {
                        item.style.display = 'block';
                    }
                }
            },
            getProfileSections(){
                //console.log(" Profile Detail: "+this.$refs.profile_description_one);
                axios({url: config.apiURL + 'getCompanyProfileSection', method: 'GET' })
                    .then(resp => {
                        this.profileSections = resp.data;
                        // this.$refs.companyProfiles.append(resp.data);
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            getCompanyProfile(){
                axios({url: config.apiURL + 'getCompanyProfile', method: 'GET' })
                    .then(resp => {
                        this.profile = resp.data;
                       // console.log("Get profile data value:",this.profile);
                        //console.log("Reference values: "+JSON.stringify(this.$refs.profile_description_one));
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            addProfileSection(){
                axios({url: config.apiURL + 'addCompanyProfileSection', method: 'GET' })
                    .then(resp => {
                        console.log(resp.data);
                        this.profileSections=resp.data;
                        // this.$refs.companyProfiles.append(resp.data);
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            addDropZone(sectionId,sectionIndex){
                this.showDropZone = true;
                this.sectionId = sectionId;
                this.sectionIndex = sectionIndex;
                var elements = document.getElementsByClassName('company_sections');
                for (let item of elements) {
                    item.style.display = 'none';
                }
            },
            sendingEvent (file, xhr, formData) {
                formData.append('section_id', this.sectionId);
            },
            editSectionTitle(sectionId,index){
                // this.$refs.heading[index].disabled = false;
                this.$refs.heading[index].focus()
            },
            editProfileInfo(index,type){
                console.log("Profile detail call: "+this.$refs.profile_description_one);

                if(type == 'heading') {
                    if (index == 1) {
                        this.$refs.profile_heading_one[0].focus()
                    } else {
                        this.$refs.profile_heading_two[0].focus()
                    }
                }else{
                    if (index == 1) {
                        console.log("Profile detail: "+this.$refs.profile_description_one);

                        this.$refs.profile_description_one[0].focus()
                    } else {
                        this.$refs.profile_description_two[0].focus()
                    }
                }
            },
            deleteSection(sectionId,index){
                this.currentSection = sectionId;
                this.currentSectionIndex = index;
                this.$bvModal.show('delete-section-modal');
            },
            cancelDeleteSection() {
                this.$bvModal.hide('delete-section-modal');
            },
            confirmDeleteSection(){
                axios({url: config.apiURL + 'deleteCompanyProfileSection/'+this.currentSection, method: 'GET' })
                    .then(resp => {
                        this.profileSections.splice(this.currentSectionIndex,1);
                        this.$delete(this.$refs.companyProfiles,this.currentSectionIndex);
                        this.currentSection = null;
                        this.currentSectionIndex = null;
                        this.$bvModal.hide('delete-section-modal');
                        this.$notify({
                            group: "foo",
                            type: "success",
                            // title: "Important message",
                            text: "Section Deleted!",
                        });
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            saveSectionTitle(sectionId,index){
                // this.$refs.heading[index].disabled = true;
                let value =  this.$refs.heading[index].value;
                let formData = new FormData();
                formData.append('section_id', sectionId);
                formData.append('section_heading', value);
                axios({url: config.apiURL + 'setCompanyProfileSectionTitle', data: formData, method: 'POST' })
                    .then(resp => {
                        const data = resp.data;
                        this.$refs.heading[index].value = data.heading ;
                        // this.$notify({
                        //     group: "foo",
                        //     type: "success",
                        //     // title: "Important message",
                        //     text: "Section Title Changed! ",
                        // });
                    })
                    .catch(err => {
                        console.log(err)
                    })
            },
            saveProfileInfo(index,type){

                // this.$refs.heading[index].disabled = true;
                let value = '';
                let formData = new FormData();
                formData.append('meta', index);
                formData.append('type', type);

                if(type == 'heading'){
                    if(index == 1 ){
                        value =  this.$refs.profile_heading_one[0].value;
                    }else{
                        value =  this.$refs.profile_heading_two[0].value;
                    }
                    formData.append('section_heading', value);

                }else if(type == 'desc'){
                    if(index == 1 ){
                        value =  this.$refs.profile_description_one[0].$el.value
                    }else{
                        value =  this.$refs.profile_description_two[0].$el.value;
                    }
                    formData.append('section_desc', value);
                }
                axios({url: config.apiURL + 'setCompanyProfileInfo', data: formData, method: 'POST' })
                    .then(resp => {
                        // const data = resp.data;
                        // if(type == 'heading') {
                        //     this.$notify({
                        //         group: "foo",
                        //         type: "success",
                        //         // title: "Important message",
                        //         text: "Section Title Changed! ",
                        //     });
                        // }else{
                        //     this.$notify({
                        //         group: "foo",
                        //         type: "success",
                        //         // title: "Important message",
                        //         text: "Section Content Changed! ",
                        //     });
                        // }
                    })
                    .catch(err => {
                        console.log(err)
                    })
            }
        }
    }

</script>
