<template>
    <div class="h-100">
        <div id="search-bar" class="search-bar p-15" v-if="$mq != 'mobile'">
            <div class="d-flex">
                <div class="row row-gutter-7 flex-fill">
                    <div class="col-xl-3 col-md-6 mb-2 mb-xl-0">
                        <div class="input-wrapper input-wrapper--has-search">
                            <vue-bootstrap-typeahead
                                :data="skillsList"
                                v-model="skillsSearch"
                                :serializer="s => s.name"
                                placeholder="Enter skills"
                                @hit="selectedSkill"
                                ref="typeaheadSkill"
                            />
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-2 mb-xl-0">
                        <div class="input-wrapper input-wrapper--has-search">
                            <vue-bootstrap-typeahead
                                :data="expertiseList"
                                v-model="expertiseSearch"
                                :serializer="s => s.name"
                                placeholder="Enter Expertise"
                                @hit="selectedExpertise"
                                ref="typeaheadExpertise"
                            />
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="input-wrapper input-wrapper--has-search">
                            <input type="hidden" name="searchstate" id="searchstate" v-model="searchstate" />
                            <vue-bootstrap-typeahead
                                :data="stateslist"
                                v-model="states_search"
                                :serializer="s => s.name"
                                placeholder="Select State"
                                @hit="selectedState"
                                ref="typeaheadState"
                            />
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="input-wrapper input-wrapper--has-search">
                            <input type="hidden" name="searchcity" id="searchcity" v-model="searchcity" />
                            <vue-bootstrap-typeahead
                                :data="citieslist"
                                v-model="city_search"
                                :serializer="s => s.name"
                                placeholder="Select City"
                                @hit="selectedCity"
                                ref="typeaheadCity"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-has-search px-4 py-3" v-if="$mq === 'mobile'">
            <div class="row align-items-center">
                <div class="col-12 ml-auto d-flex align-items-center">
                    <div class="flex-fill input-wrapper input-wrapper--has-search">
                        <vue-bootstrap-typeahead
                            :data="skillsList"
                            v-model="skillsSearch"
                            :serializer="s => s.name"
                            placeholder="Enter skills"
                            @hit="selectedSkill"
                            ref="typeaheadSkill"
                            inputClass="form-control form-control--round pr-25"
                        />
                    </div>
                    <div class="ml-3">
                        <b-button
                            v-b-modal.search-filters-modal
                            class="btn btn--round btn--round--blue text-reset"
                        >
                            <i class="fas fa-sliders-h"></i>
                        </b-button>
                        <b-modal
                            id="search-filters-modal"
                            centered
                            title="Filters"
                            footer-class="justify-content-end pt-0"
                        >
                            <div class="input-wrapper input-wrapper--has-search mb-2">
                                <vue-bootstrap-typeahead
                                    :data="expertiseList"
                                    v-model="expertiseSearch"
                                    :serializer="s => s.name"
                                    placeholder="Enter Expertise"
                                    @hit="selectedExpertise"
                                    ref="typeaheadExpertise"
                                />
                            </div>

                            <div class="input-wrapper input-wrapper--has-search mb-2">
                                <input type="hidden" name="searchstate" id="searchstate" v-model="searchstate" />
                                <vue-bootstrap-typeahead
                                    :data="stateslist"
                                    v-model="states_search"
                                    :serializer="s => s.name"
                                    placeholder="Select State"
                                    @hit="selectedState"
                                    ref="typeaheadState"
                                />
                            </div>

                            <div class="input-wrapper input-wrapper--has-search mb-2">
                                <input type="hidden" name="searchcity" id="searchcity" v-model="searchcity" />
                                <vue-bootstrap-typeahead
                                    :data="citieslist"
                                    v-model="city_search"
                                    :serializer="s => s.name"
                                    placeholder="Select City"
                                    @hit="selectedCity"
                                    ref="typeaheadCity"
                                />
                            </div>

                            <template v-slot:modal-footer="{ ok, cancel}">
                                <b-button variant="primary" @click="ok()">Search</b-button>
                            </template>
                        </b-modal>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-tab company-search-tab">
            <div class="search-tab-content p-md-3 py-3 px-0">
                <div
                    id="loading"
                    v-if="isLoading"
                    class="loading-static active"
                    style="background: none;position: absolute"
                >
                    <div id="loading-inner">
                        <div class="loading-logo-icon"></div>
                        <div class="loading-circle" id="loading-circle-1"></div>
                        <div class="loading-circle" id="loading-circle-2"></div>
                        <div class="loading-circle" id="loading-circle-3"></div>
                        <div class="loading-circle" id="loading-circle-4"></div>
                    </div>
                </div>
                <ul class="candidates-list my-neg-10" v-if="!isLoading">
                    <li v-for="(item,index) in resumeList" v-if="item.user">
                        <div class="profile-card has-hover-effect" >
                            <div class="glassy-hover-effect"></div>

                            <!-- ================================= Not Mobile Devices ================================= -->
                            <div
                                class="profile-card__meta d-flex space-between align-items-center"
                                v-if="$mq != 'mobile'"
                            >
                                <div class="profile-card__meta__data d-flex align-items-center">
                                    <div class="thumbnail">
                                        <img class="img-fluid"  :src="item.user.image || defaultCandidateAvatarSrc" @error="imageUrlAlt">
                                    </div>
                                    <div class="inner-content">
                                        <h5>{{item.user.first_name}} {{item.user.last_name}}</h5>
                                        <p v-if="item.field_of_study">{{item.field_of_study.name}}</p>
                                        <!--<a class="app-link" href="#">Not Okay</a>-->
                                        <p>
                                            <span class="shimmer">Available</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="profile-card__cta">
                                    <b-button
                                        @click="showCandidateResume(item.user.id)"
                                        variant="primary"
                                        title="View resume"
                                    >Resume</b-button>
                                </div>
                            </div>
                            <!-- ======================================================================================= -->

                            <!-- ================================= Mobile Devices ====================================== -->
                            <b-button
                                v-if="$mq === 'mobile'"
                                @click="showCandidateResume(item.user.id)"
                                variant="-reset"
                                title="View resume"
                                class="text-left text-overflow w-100 p-0"
                            >
                                <div class="profile-card__meta d-flex space-between align-items-center">
                                    <div class="profile-card__meta__data d-flex align-items-center mb-0">
                                        <div class="thumbnail">
                                            <img class="img-fluid"  :src="item.user.image || defaultCandidateAvatarSrc" @error="imageUrlAlt">
                                        </div>
                                        <div class="inner-content">
                                            <h5>{{item.user.first_name}} {{item.user.last_name}}</h5>
                                            <p v-if="item.field_of_study">{{item.field_of_study.name}}</p>
                                            <!--<a class="app-link" href="#">Not Okay</a>-->
                                            <p>
                                                <span class="shimmer">Available</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="profile-card__cta">
                                        <a
                                            @click="showCandidateResume(item.user.id)"
                                            class="btn btn--reset text-reset border-0 ml-2 p-1"
                                        >
                                            <i class="fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </b-button>
                            <!-- ======================================================================================= -->

                            <div class="profile-card__footer row row-gutter-7 align-items-center">
                                <div class="col-xl-6">
                                    <p>
                                        <span class="text-blue">location</span>
                                        {{item.user.country.name}}, {{item.user.state ? item.user.state.name : "N/A"}}, {{item.user.country ? item.user.country.name : "N/A"}}
                                    </p>
                                </div>
                                <div class="col-xl-6">
                                    <p>
                                        <span class="text-blue">Qualification</span>
                                        {{item.qualification}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import config from "../../config/config";
    import _ from "lodash";
    import vSelect from "vue-select";
    import ButtonSpinner from "vue-button-spinner";
    import CandidateResumeModalComponent from "../company/CandidateResumeModalComponent";
    import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
    import Avatar from 'vue-avatar';
    export default {
        name: "SearchComponent",
        components: {
            vSelect,
            ButtonSpinner,
            CandidateResumeModalComponent,
            VueBootstrapTypeahead,
            Avatar
        },
        data() {
            return {
                isLoading: false,
                states_search: "",
                stateslist: [],
                citieslist: [],
                city_search: "",
                expertise: "",
                jobSkills: "",
                itemsApi: [],
                skillsList: [],
                searchSkill: null,
                expertiseList: [],
                searchExpertise: null,
                searchState: null,
                searchCity: null,
                jobcity: "",
                jobstate: "",
                jobskills: "",
                jobexpertise: "",
                skillsSearch: "",
                expertiseSearch: "",
                // selectedSkill: null,
                skill_id: "",
                resumeList: [],
                searchcity: "",
                searchstate: "",
                expertisevalue: "",
                defaultCandidateAvatarSrc: "assets/images/user-placeholder.png",
            };
        },
        props: {
            id: String
        },
        computed: {
            ...mapGetters(['userData']),
        },
        methods: {
            imageUrlAlt(event) {
                event.target.src = "assets/images/company-placeholder.png";
            },
            selectedSkill(data) {
                this.searchSkill = data.id;
                this.searchCandidates();
            },
            selectedExpertise(data) {
                this.searchExpertise = data.id;
                this.searchCandidates();
            },
            selectedState(data) {
                this.searchState = data.id;
                this.getCities(data.id);
                this.searchCandidates();
            },
            selectedCity(data) {
                this.searchCity = data.id;
                this.searchCandidates();
            },
            getSkills(query) {
                axios({ url: config.apiURL + "getSkills/" + query, method: "GET" })
                    .then(resp => {
                        this.skillsList = resp.data;
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            getExpertise(query) {
                axios({ url: config.apiURL + "getFieldOfStudy/" + query, method: "GET" })
                    .then(resp => {
                        this.expertiseList = resp.data;
                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            getStates: function(query) {
                axios.get(config.apiURL + "getStates/" + query).then(
                    function(response) {
                        this.stateslist = response.data;
                        //console.log("Countries list: " + JSON.stringify(response.data));
                    }.bind(this)
                );
            },
            getCities: function(query) {
                axios.get(config.apiURL + "getCities/" + query).then(
                    function(response) {
                        this.citieslist = response.data;
                    }.bind(this)
                );
            },
            getAllResume: function() {
                axios.get(config.apiURL + "getAllResume/").then(
                    function(response) {
                        this.resumeList = response.data;
                    }.bind(this)
                );
            },
            showCandidateResume(userId) {
                axios({ url: config.apiURL + "candidateResume/" + userId, method: "GET" })
                    .then(resp => {
                        this.candidateResume = resp.data;
                        if(this.$store.getters.userData.tier){
                            this.$parent.$parent.$parent.bus.$emit("viewCandidateResume",resp.data,true);
                        }else{
                            this.$parent.$parent.$parent.bus.$emit("viewCandidateResume",resp.data,false);
                        }

                    })
                    .catch(err => {
                        console.log(err);
                    });
            },
            searchCandidates() {
                this.isLoading = true;
                let formData = new FormData();
                if (!this.skillsSearch) {
                    this.searchSkill = null;
                }
                if (!this.expertiseSearch) {
                    this.searchExpertise = null;
                }
                if (!this.states_search) {
                    this.searchState = null;
                }
                if (!this.city_search) {
                    this.searchCity = null;
                }

                if (this.searchSkill) formData.append("skill", this.searchSkill);
                if (this.searchExpertise)
                    formData.append("expertise", this.searchExpertise);
                if (this.searchState) formData.append("state", this.searchState);
                if (this.searchCity) formData.append("city", this.searchCity);

                axios({
                    url: config.apiURL + "searchCandidates",
                    data: formData,
                    method: "POST"
                })
                    .then(resp => {
                        this.resumeList = resp.data;
                        this.isLoading = false;
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }
        },
        watch: {
            skillsSearch: _.debounce(function(item) {
                this.getSkills(item);
                if (!item) this.searchCandidates();
            }, 500),
            expertiseSearch: _.debounce(function(item) {
                this.getExpertise(item);
                if (!item) this.searchCandidates();
            }, 500),
            states_search: _.debounce(function(item) {
                this.getStates(item);
                if (!item) this.searchCandidates();
            }, 500),
            city_search: _.debounce(function(item) {
                this.getCities(item);
                if (!item) this.searchCandidates();
            }, 500)
        },
        created: function() {
            this.getAllResume();
        }
    };
</script>
