<template>
    <div>
        <!--{{userData}}-->
        <!--{{companyData}}-->
        <!--{{$v}}-->
        <form method="post" ref="update_profile" @submit.prevent="submit">
            <div class="p-15 pt-4">
                <div class="row">
                    <div class="col-12 col-xl-6 mb-xl-0 mb-3">
                        <h3 class="title-has-border mb-4">Company Information</h3>

                        <div class="row form-group no-gutters cols-padding-0" :class="{'form-group--error':$v.name.$error}">
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <label for="name" class="form-control-label">Company Name*</label>
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-7">
                                <input type="text" name="name" id="name" class="form-control" ref="input"
                                    v-model.trim="$v.name.$model" @blur="setCompanyName($event.target.value)" placeholder="Company Name">
                            </div>
                        </div>
                        <div class="row form-group no-gutters cols-padding-0" :class="{'form-group--error':$v.email.$error}">
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <label for="email" class="form-control-label">Email*</label>
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-7">
                                <input type="email" name="email" id="email" class="form-control" ref="email"
                                    v-model.trim="$v.email.$model" @blur="setCompanyEmail($event.target.value)" placeholder="Email" disabled>
                            </div>
                        </div>
                        <div class="row form-group no-gutters cols-padding-0" :class="{'form-group--error':$v.industry.$error}">
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <label for="industry"
                                    class="form-control-label">Industry*</label>
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                                <input type="hidden" name="industry_id" id="industry_id" ref="industry_id" v-model.trim="$v.industry.$model.id">
                                <v-select  name="industry" id="industry" class="" label="name"
                                        :options="industries"  v-model.trim="$v.industry.$model" placeholder="Select Industry" >
                                </v-select>
                            </div>
                        </div>
                        <div class="row form-group no-gutters cols-padding-0" :class="{'form-group--error':$v.businesstype.$error}">
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <label for="businesstype" class="form-control-label">Business Entity*</label>
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                                <input type="hidden" name="business_typeid" id="business_typeid" ref="business_typeid" v-model.trim="$v.businesstype.$model.id" value="">
                                <v-select  v-on:input="setBusinessType($v.businesstype.$model.id)" name="businesstype" id="businesstype" class=""
                                           label="name"  :options="businesstypelist" v-model.trim="$v.businesstype.$model"
                                           @blur="selectBusinessType($event.target.value)" placeholder="Select Business Entity"></v-select>
                            </div>
                        </div>
                        <div class="row form-group no-gutters cols-padding-0" :class="{'form-group--error':$v.establish_date.$error}">
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <label for="establish_date" class="form-control-label">Established In*</label>
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-7">
                                <input type="text" name="establish_date" id="establish_date" ref="establish_date" class="form-control"
                                    v-model.trim="$v.establish_date.$model" @blur="setEstablishDate($event.target.value)"
                                       placeholder="Year">
                            </div>
                        </div>
                        <div class="row form-group no-gutters cols-padding-0" :class="{'form-group--error':$v.total_employees.$error}">
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <label for="total_employees" class="form-control-label">No of Employees*</label>
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-7">
                                <input type="text" name="total_employees" id="total_employees" ref="total_employees" class="form-control"
                                    v-model.trim="$v.total_employees.$model" @blur="setTotalEmployees($event.target.value)" placeholder="">
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-xl-6">
                        <h3 class="title-has-border mb-4">Company Location</h3>

                        <div class="row form-group no-gutters cols-padding-0" :class="{'form-group--error':$v.country.$error}">
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <label for="country" class="form-control-label">Country*</label>
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                                <input type="hidden" name="country_id" id="country_id" ref="country_id" v-model.trim="$v.country.$model.id" value="">
                                <v-select  name="country" id="country" class="" label="name"  :options="countries"
                                        v-model.trim="$v.country.$model" @input="getStates($v.country.$model.id)"
                                    @blur="setCountry($event.target.value)" placeholder="Select Country"></v-select>

                            </div>
                        </div>
                        <div class="row form-group no-gutters cols-padding-0" :class="{'form-group--error':$v.state.$error}">
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <label for="state" class="form-control-label">State*</label>
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                                <input type="hidden" name="state_id" id="state_id" ref="state_id" v-model.trim="$v.state.$model.id" value="">
                                <v-select  name="state" id="state" class="" label="name" :options="states"
                                        v-model.trim="$v.state.$model" @input="getCities($v.state.$model.id)"
                                        @blur="setState($event.target.value)" placeholder="Select State">
                                </v-select>
                            </div>
                        </div>
                        <div class="row form-group no-gutters cols-padding-0" :class="{'form-group--error':$v.city.$error}">
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <label for="city" class="form-control-label">City*</label>
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                                <input type="hidden" name="city_id" id="city_id" ref="city_id" v-model.trim="$v.city.$model.id" value="">
                                <v-select  name="city" id="city" class="" label="name" :options="cities" v-model.trim="$v.city.$model"
                                           @blur="setCity($event.target.value)" v-on:input="setCityId($v.city.$model.id)" placeholder="Select City">
                                </v-select>

                            </div>
                        </div>
                        <div class="row form-group no-gutters cols-padding-0">
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <label for="address" class="form-control-label">Address</label>
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                                <vue-google-autocomplete
                                    ref="address"
                                    id="addr"
                                    name="address"
                                    class="form-control"
                                    :value=address
                                    placeholder="Please type your address"
                                    v-on:placechanged="getAddressData"
                                >
                                </vue-google-autocomplete>
                            </div>
                        </div>

                        <div class="row form-group no-gutters cols-padding-0">
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <label for="zip_code" class="form-control-label">Post Code / Zip</label>
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                                <vue-google-autocomplete
                                    ref="zip"
                                    id="zip"
                                    name="zip_code"
                                    class="form-control"
                                    :value=zip_code
                                    placeholder="Please type your zip code"
                                    v-on:placechanged="getZipData"
                                    types="postal_code" 
                                >
                                </vue-google-autocomplete>
                            </div>
                        </div>
                        <div class="row form-group no-gutters cols-padding-0">
                            <div class="col-xl-5 col-lg-12 col-md-5">
                                <label for="phone_number"
                                    class="form-control-label">Phone</label>
                            </div>
                            <div class="col-xl-7 col-lg-12 col-md-7">
                                <!-- <input type="text" name="phone_number" id="phone_number" class="form-control"
                                    v-model.trim="$v.phone_number.$model" @blur="setPhoneNumber($event.target.value)" placeholder="Phone Number"> -->
                                <VuePhoneNumberInput class="form-phone-number" name="phone_number" id="phone_number"
                                    v-model.trim="phone_number" clearable show-code-on-list @blur="setPhoneNumber($event.target.value)" placeholder="Phone Number"/>
                            </div>
                        </div>

                        <div class="row form-group no-gutters cols-padding-0 mt-4 mb-0">
                            <div class="col-12 text-right">
                                <button class="btn btn-primary btn-md" @click.prevent="submit">
                                    <span v-bind="{isLoading, cloadingstatus}" v-if="isLoading == true" class="spinner-border spinner-border--md spinner-border--in-button"></span>Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <notifications group="foo" position="bottom right" />
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import vSelect from "vue-select";
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../config/config';
    import VuePhoneNumberInput from 'vue-phone-number-input';
    import VueGoogleAutocomplete from 'vue-google-autocomplete'

    import _ from 'lodash';
    import {
        required,
        minLength,
        between,
        email,
        maxLength,
        alpha,
        alphaNum,
        numeric,
        integer,
        sameAs,
    } from "vuelidate/lib/validators";
    export default {
        name: "UpdateProfileComponent",
        components: {
            vSelect,
            ButtonSpinner,
            VuePhoneNumberInput, 
            VueGoogleAutocomplete
            },
        data() {
            return {
                errors: [],
                country: this.$store.getters.userData.country || "",
                country_id: this.$store.getters.userData.country_id || "",
                countries: [],
                businesstypelist:[],
                states:[],
                cities:[],
                countryvalue: "",
                options: [],
                name: this.$store.getters.companyData.name || "",
                validationErrors: "",
                email: this.$store.getters.userData.email || "",
                industry:this.$store.getters.companyData.industry || "",
                business_typeid:"",
                industries:[],
                industry_id:this.$store.getters.companyData.industry_id || "",
                businesstype:this.$store.getters.companyData.business_type || "",
                establish_date:this.$store.getters.companyData.establish_date || "",
                total_employees:this.$store.getters.companyData.total_employees || "",
                state:this.$store.getters.userData.state || "",
                state_id:this.$store.getters.userData.state_id || "",
                city:this.$store.getters.userData.city || "",
                city_id:this.$store.getters.userData.city_id || "",
                address:this.$store.getters.userData.address || "",
                zip_code:this.$store.getters.userData.zip_code || "",
                phone_number:this.$store.getters.userData.phone_number || "",
                successmsg: "",
                isLoading: false,
                cloadingstatus: "",
                submitted: false,
            };
        },
        validations: {
            name: {
                required,
            },
            email: {
                required,
                email,
            },
            country: {
                required,
            },

            industry:{
                required,
            },
            businesstype : {
                required
            },
            establish_date:{
                required
            },
            total_employees: {
                required, numeric,
            },
            state: {
                required,
            },
            city: {
                required,
            },

            // phone_number: {
            //     required,
            // }

        },
        methods: {
            getAddressData: function (addressData, placeResultData, id) {
                this.address = addressData;
            },
            getZipData: function (postalCodeData, placeResultData, id) {
                this.zip_code = postalCodeData;
            },
            setCompanyName(value) {
                this.name = value;
                this.$v.name.$touch();
                if (this.$v.name.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter organization name",
                    });
                }

            },
            setCompanyEmail(value) {
                this.email = value;
                this.$v.email.$touch();
                if (this.$v.email.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter email address",
                    });
                }
                if (this.$v.email.email == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Enter valid email address",
                    });
                }
                //this.checkEmail(value);
            },
            selectIndustry(value){
                this.industry_id = value;
               // this.$v.industry_id.$touch();
               //  if (this.$v.industry_id.required == false) {
               //      this.$notify({
               //          group: "foo",
               //          type: "error",
               //          text: "Select industry",
               //      });
               //  }
            },
            selectBusinessType(value) {
                this.businesstype = value;
                this.$v.businesstype.$touch();
                if (this.$v.businesstype.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select business type",
                    });
                }
            },
            setEstablishDate(value) {
                this.establish_date = value;
                this.$v.establish_date.$touch();
                if (this.$v.establish_date.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Enter establish date",
                    });
                }
            },
            setTotalEmployees(value) {
                this.total_employees = value;
                this.$v.total_employees.$touch();
                if (this.$v.total_employees.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Enter number of employees",
                    });
                }
            },

            setCountry(value) {
                this.country = value;
                this.$v.country.$touch();
                if (this.$v.country.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select country name",
                    });
                }
            },
            setState(value){
                this.state = value;
                this.$v.state.$touch();
                if (this.$v.state.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select state name",
                    });
                }
            },
            setCity(value) {
                this.city = value;
                this.$v.city.$touch();
                if (this.$v.city.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select city name",
                    });
                }
            },

            setPhoneNumber(value) {
                this.phone_number = value;
                this.$v.phone_number.$touch();
                if (this.$v.phone_number.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Enter phone number",
                    });
                }
            },
            onClick() {
                this.isLoading = true;
                this.statusMessage = "Sending request to get a random response...";
                setTimeout(() => {
                    this.isLoading = false;
                    this.loadingstatus = Math.random() >= 0.5;
                    this.statusMessage = this.status
                        ? "Request successful!"
                        : "Request failed";
                    this.clear();
                }, 2000);
            },
            clear() {
                setTimeout(() => {
                    this.statusMessage = "Try again :)";
                    this.loadingstatus = "";
                }, 1600);
            },
            submit() {
                this.isLoading = true;
                this.errors = [];
                this.$v.$touch();
                //this.onClick();
                if (this.$v.$invalid) {
                    this.isLoading = false;
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Fill required form fields",
                    });
                } else {
                    // do your submit logic here
                    this.submitStatus = "PENDING";
                    let form = this.$refs["update_profile"];
                    let formData = new FormData(form);
                    axios({url: config.apiURL + 'updateCompanyInfo',data: formData,method: 'POST' }).then(response => {
                            this.isLoading = false;
                        if(response.status == 200) {
                            this.$store.dispatch("updateUser", response.data );
                            this.$notify({
                                group: "foo",
                                type: "success",
                                text: "Profile updated.",
                            });
                        }
                        })
                        .catch(err => {
                            this.isLoading = false;
                            this.error = err.response.data.error;
                            let errors = err.response.data.errors;
                            for (const [key, value] of Object.entries(errors)) {
                                value.forEach((text,index)=>{
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        title: key,
                                        text: text
                                    });
                                })
                            }
                        });
                    setTimeout(() => {
                        this.submitStatus = "OK";
                    }, 500);
                }
            },
            getCountries: function() {
                axios.get(config.apiURL+"getCountryList/").then(
                    function(response) {
                        this.countries = response.data;
                        // this.options = response.data;
                    }.bind(this)
                );
            },
            getIndustriesList: function() {
                axios.get(config.apiURL +"getIndustryList/").then(
                    function(response) {
                        this.industries = response.data;
                    }.bind(this)
                );
            },
        getBusinessType: function() {
            axios.get(config.apiURL+"showBusinessType/").then(
                function(response) {
                    this.businesstypelist = response.data;
                    // this.options = response.data;
                }.bind(this)
            );
        },
            setBusinessType(data) {
                document.getElementById('business_typeid').value = data;
            },
            getStates: function(country) {
                this.state = '';
                this.city = '';
                this.cities = [];
                //this.$refs["country_id"].value = country;
                axios.get(config.apiURL+"getStateList/"+country)
                    .then(
                        function(response) {
                            this.states = response.data;
                        }.bind(this)
                    );
            },
            getCities: function(stateid) {
                let state_id = "";
                //this.$refs["state_id"].value = stateid;
                axios.get(config.apiURL+"getCityList/"+stateid)
                    .then(
                        function(response) {
                            this.cities = response.data;
                        }.bind(this)
                    );
            },
            setCityId(cityid) {
                let city_id = "";
                this.$refs["city_id"].value = cityid;
            },
            getYears: function() {
                let yearslist = [];
                let d = new Date();
                let n = d.getFullYear();
                let a = 1;
                for(let i= n; i > 1900; i--) {
                    yearslist[a] = i;
                    a++;
                }
                this.completionyears = yearslist;

            },
            onSearch(search, loading) {
                loading(true);
                this.search(loading, search, this);
            },
            search: _.debounce((loading, search, vm) => {
                fetch(
                    '/api/getIndustry/'+ escape(search)
                )
                    .then(res => {
                        res.json()
                            .then(function(value) {
                                vm.industries = value;
                            });
                        loading(false);
                    });
            }, 350)
        },
        created: function() {
            this.getCountries();
            this.getIndustriesList();
            this.getBusinessType();
            this.getYears();
            let estDate = this.establish_date.split('-')
           // console.log('Establish Date: '+ estDate[0]);
            this.establish_date = estDate[0];
            let countryId = this.$store.getters.userData.country.id;
            if(this.$store.getters.userData.country !== null && this.$store.getters.userData.state == null) {
                this.getStates(countryId);
            } else {
            this.getStates(countryId);
    this.state = this.$store.getters.userData.state;
    this.getCities(this.state_id);
    this.city = this.$store.getters.userData.city;
    //console.log("State name: "+JSON.stringify(this.state));

    }
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCompany','companyData','userData']),
        }
    };
</script>
