<template>
  <div
    class="content-left has-box-shadow h-100 d-flex flex-column"
    mobile-tour-step="7"
  >
    <div class="header-has-search px-4 py-2 has-box-shadow--secondary">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-5">
          <h3 class="text-strong lg-mobile mb-2 mb-md-0">Members</h3>
        </div>
        <div
          class="col-xl-5 col-lg-6 col-md-7 ml-auto d-flex align-items-center"
        >
          <div class="input-wrapper input-wrapper--has-search flex-fill">
            <input
              type="text"
              class="form-control form-control--round"
              placeholder="Search Members"
            />
          </div>
          <div class="ml-3">
            <b-button
              v-b-modal.invite-member-modal
              class="btn btn--round btn--round--blue d-none d-md-flex"
              v-tooltip.bottom="'Invite Member'"
            >
              <i class="fa fa-plus" aria-hidden="true"></i
            ></b-button>
            <form
              action="#"
              enctype="multipart/form-data"
              method="post"
              ref="invite_members_form"
              @submit.prevent=""
            >
              <b-modal
                id="invite-member-modal"
                centered
                title="Invite Members"
                footer-class="justify-content-end pt-0"
              >
                <!--                                for single invite use the following commented code and implement it -->
                <!--                                ----------------------------------------------------------------------------------- -->
                <!--                                <div class="input-wrapper form-group">-->
                <!--                                    <input type="text" class="form-control pl-0" placeholder="Email Address">-->
                <!--                                </div>-->
                <!--                                <div class="input-wrapper form-group">-->
                <!--                                    <label for="job_title" class="form-control-label form-control-label&#45;&#45;blue form-control-label&#45;&#45;secondary">Job Title</label>-->
                <!--                                    <input type="hidden" name="job_title_id" ref="job_title_id" :value="job_title_id">-->
                <!--                                    <vue-bootstrap-typeahead  :data="titleList" id="job_title" v-model="jobTitleSearch" :serializer="s => s.name" placeholder="Enter Job Title" @hit="selectedJob" ref="jobTitle" />-->
                <!--                                </div>-->
                <!--                                ----------------------------------------------------------------------------------- -->
                <div class="input-wrapper">
                  <b-form-file
                    v-model="file"
                    id="memberModalFile"
                    name="memberModalFile"
                    placeholder="Choose a CSV file or drop it here..."
                    drop-placeholder="Drop CSV file here..."
                    accept=".csv"
                  ></b-form-file>
                </div>
                <template v-slot:modal-footer="{ ok, cancel }">
                  <b-button variant="primary" @click="submitMemberInviteForm()">
                    Invite
                  </b-button>
                </template>
              </b-modal>
            </form>
            <a
              href="#"
              class="btn btn--round btn--round--blue d-md-none text-reset"
            >
              <i class="fas fa-sliders-h"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="has-scroll p-md-3 py-3 px-0">
      <ul id="members-list" class="members-list" v-if="membersList.length > 0">
        <li v-for="(item, index) in membersList">
          <div v-if="item.candidate.user" class="profile-card has-hover-effect">
            <div class="glassy-hover-effect glassy-hover-effect--lg"></div>
            <div
              class="profile-card__meta d-flex space-between align-items-center"
            >
              <div
                class="profile-card__meta__data member-bio-block d-flex align-items-center"
                @click="memberProfile(item.candidate_id)"
              >
                <div class="thumbnail">
                  <img
                    v-if="item.candidate.user.image"
                    class="img-fluid"
                    :src="item.candidate.user.image"
                    @error="imageUrlAlt"
                  />
                  <img
                    v-else
                    :size="60"
                    class="img-fluid"
                    src="/assets/images/user-placeholder.png"
                  />
                </div>
                <div class="inner-content">
                  <h5
                    class="text-blue cursor-pointer"
                    v-tooltip.top="'View Directory'"
                  >
                    {{ item.candidate.user.first_name }}
                    {{ item.candidate.user.last_name }}
                  </h5>
                  <p
                    v-if="
                      item.job && item.job.candidate_id == item.candidate.id
                    "
                  >
                    {{ item.job.title.name }}
                  </p>
                  <p v-else>Unassigned</p>
                </div>
              </div>
              <div class="member-info-block d-none d-md-flex">
                <div class="member-info-block__email">
                  <span class="d-block text-medium">Email</span>
                  <span class="d-block text-overflow">{{
                    item.candidate.user.email
                  }}</span>
                </div>
                <div class="member-info-block__status">
                  <span class="d-block text-medium">Department</span>
                  <span
                    v-if="
                      item.job && item.job.candidate_id == item.candidate.id
                    "
                    class="d-block text-overflow"
                  >
                    {{ item.job.department.name }}</span
                  >
                  <span v-else class="d-block text-overflow">Unassigned</span>
                </div>
              </div>
              <div class="profile-card__cta">
                <b-button
                  @click="deleteMember(item.id, item.candidate.user)"
                  class="btn btn--round btn--round--danger"
                  v-tooltip.top="'Delete'"
                >
                  <i class="fa fa-trash" aria-hidden="true"></i
                ></b-button>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="member-info-block__cta text-right">
        <b-modal
          id="delete-member-modal"
          centered
          title="Remove Member"
          footer-class="justify-content-center"
        >
          <p class="text-center mt-4">
            This will remove <strong>{{ memberName }}</strong> from the
            organization.<br />Are you sure?
          </p>
          <template v-slot:modal-footer="{ ok, cancel }">
            <b-button variant="primary" @click="confirmDeleteMember()">
              Yes
            </b-button>
            <b-button variant="danger" @click="cancelDeleteMember()">
              No
            </b-button>
          </template>
        </b-modal>
      </div>
    </div>
    <member-profile :bus="bus" />
  </div>
</template>
<script>
import config from "../../config/config";
import _ from "lodash";
import MemberProfile from "../job/MemberProfile";
import { Avatar } from "vue-avatar";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
export default {
  name: "MembersList",
  components: {
    MemberProfile,
    Avatar,
    VueBootstrapTypeahead,
  },
  data() {
    return {
      membersList: [],
      memberName: null,
      file: null,
      profileData: [],
      bus: new Vue(),
      titleList: [],
      jobTitleSearch: "",
      job_title_id: "",
    };
  },

  methods: {
    imageUrlAlt(event) {
      event.target.src = "assets/images/user-placeholder.png";
    },
    getMembers: function () {
      axios({ url: config.apiURL + "getMembersList", method: "GET" }).then(
        (response) => {
          this.membersList = response.data;
        }
      );
    },
    memberProfile(memberId) {
      // console.log('Candate Id: '+memberId);
      let formData = new FormData();
      formData.append("id", memberId);
      axios({
        url: config.apiURL + "getMemberProfile",
        data: formData,
        method: "POST",
      })
        .then((response) => {
          this.profileData = response.data;
          this.bus.$emit("viewMemberProfile", response.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    deleteMember(id, user) {
      this.memberId = id;
      this.memberName = user.first_name + " " + user.last_name;
      this.$bvModal.show("delete-member-modal");
    },
    confirmDeleteMember() {
      let formData = new FormData();
      formData.append("id", this.memberId);
      axios({
        url: config.apiURL + "deleteMember",
        data: formData,
        method: "POST",
      })
        .then((response) => {
          this.$bvModal.hide("delete-member-modal");
          this.membersList = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    cancelDeleteMember() {
      this.educationId = null;
      this.$bvModal.hide("delete-member-modal");
    },
    getJobTitle(query) {
      axios({ url: config.apiURL + "getJobTitle/" + query, method: "GET" })
        .then((resp) => {
          console.log(resp.data);
          let data = resp.data;
          const suggestions = data;
          this.titleList = suggestions;
          // if(this.selectedJob){
          //     this.$refs["job_title_id"].value = this.selectedJob.id;
          // }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    selectedJob(data) {
      this.jobTitleSearch = data.name;
    },
    submitMemberInviteForm() {
      let form = this.$refs["invite_members_form"];
      let formData = new FormData(form);
      formData.append("file", this.file);

      if (this.jobTitleSearch)
        formData.append("job_title", this.jobTitleSearch);

      axios({
        url: config.apiURL + "inviteMembers",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          console.log(resp.data);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  created: function () {
    this.getMembers();
  },
  watch: {
    tag: "initItems",
    jobTitleSearch: _.debounce(function (addr) {
      this.getJobTitle(addr);
    }, 500),
  },
};
</script>
