<template>
  <div class="content-right sidebar has-box-shadow h-100">
    <div class="sidebar__title">
      <h3>Pending Candidates</h3>
    </div>
    <ul class="candidate-jobs-listing p-7" v-if="pendingCandidates.length > 0">
      <li
        v-for="(list, index) in pendingCandidates"
        @click="showCandidateResume(list.candidate.user.id)"
      >
        <div class="profile-card has-hover-effect">
          <div class="glassy-hover-effect"></div>
          <div class="profile-card__meta">
            <div
              v-if="list.candidate.user"
              class="profile-card__meta__data profile-card__meta__data--sm d-flex align-items-center"
            >
              <div class="thumbnail">
                <img
                  v-if="list.candidate.user.image"
                  class="img-fluid"
                  :src="list.candidate.user.image"
                  @error="imageUrlAlt"
                />
                <img
                  v-else
                  :size="60"
                  class="img-fluid"
                  src="/assets/images/user-placeholder.png"
                />
              </div>
              <div class="inner-content">
                <b-button
                  variant="-reset"
                  title="View resume"
                  class="text-left text-overflow w-100 p-0"
                >
                  <h5>
                    {{ list.candidate.user.first_name }}
                    {{ list.candidate.user.last_name }}
                  </h5>
                  <p
                    class="text-body"
                    v-if="list.candidate.field_of_study_id > 0"
                  >
                    {{ list.candidate.field_of_study.name }}
                  </p>
                </b-button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <candidate-resume-modal-component :bus="bus" />
  </div>
</template>
<script>
import CandidateResumeModalComponent from "../company/CandidateResumeModalComponent";
import config from "../../config/config";
import { Avatar } from "vue-avatar";
import _ from "lodash";
export default {
  name: "PendingCandidates",
  components: { CandidateResumeModalComponent, Avatar },
  data() {
    return {
      pendingCandidates: [],
      memberName: null,
      candidateResume: [],
      bus: new Vue(),
    };
  },
  methods: {
    imageUrlAlt(event) {
      event.target.src = "assets/images/user-placeholder.png";
    },
    getPendingCandidates: function () {
      axios.get(config.apiURL + "getPendingCandidates").then(
        function (response) {
          this.pendingCandidates = response.data;
        }.bind(this)
      );
    },
    showCandidateResume(userId) {
      axios({ url: config.apiURL + "candidateResume/" + userId, method: "GET" })
        .then((resp) => {
          this.candidateResume = resp.data;
          this.bus.$emit("viewCandidateResume", resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  created: function () {
    this.getPendingCandidates();
  },
};
</script>
