<template>
  <div class="content-page-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mainpage-thumbnail text-center flex-center">
          <img src="assets/images/illustrations/illustration__candidate-isop.svg" class="img-fluid mt-n3" />
        </div>
        <div class="col-lg-6">
          <div class="content-wrap about-content-wrap">
            <div>
              <h2>About OneCrate</h2>
              <p>
                Human career possibilities are growing and changing at rates that outpace our ability to keep up. Choosing what we do remains heavily influenced by parents, teachers, and our environments, each often out of touch with rapidly emerging and changing opportunities.
              </p>
              <p>
                OneCrate creates a dynamic, integrated job description database that adapts to our rapidly changing world and anticipates jobs of the future. See the value of jobs and career paths that match your interests and pursue your passions with itelligence.
              </p>
              <p>
                Who do you want to become? What do you want to be? OneCrate is changing the way you make these decisions.
              </p>
            </div>
          </div>
          <div class="content-wrap mt-5">
            <p class="about-subtitle">Learn more about OneCrate for ...</p>
            <div class="d-flex mt-4">
                 <button class="btn btn-primary" @click="onSetLanding('candidate')">Candidates</button>
                 <button class="btn btn-primary ml-5" @click="onSetLanding('company')">Companies</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AboutUs",
  methods: {
    onSetLanding(key) {
      if (key == 'candidate') {
        this.$router.push({ name: "candidatesLanding" });
      } else {
        this.$router.push({ name: "companiesLanding" });
      }
    }
  }
}
</script>

<style scoped>
.about-subtitle {
    font-size: 32px;
    font-weight: 600;
    color: #4B4B4D;
}
.about-content-wrap h2 {
  text-align: left;
}
</style>