<template>
    <div class="container h-100">
        <div class="white-box-wrapper flex-center flex-column px-3">
            <div class="white-box white-box--md change-password-wrapper">
                <h3 class="mb-3">Your Account Is Activated.</h3>
                <p class="color-primary cursor-pointer" @click="loginTobegin">
                    Log in to begin.
                </p>

            </div>
        </div>
    </div>
</template>
<script>
import {mapMutations} from 'vuex';
    export default {
        name: "ActivateAccount",
        components: {
        },
        data() {
            return {
                errors: [],
                isLoading: false,
                user: {},
                token: ''
            };
        },
        methods: {
            ...mapMutations(["auth_success"]),
            getActivateAccount() {
                
                axios.post("/activateAccount",{tokenKey:this.$route.params.token})
                    .then(resp => {
                        this.token = resp.data.token;
                        this.user = resp.data.user;
                    })
                    .catch(err => {
                        this.isLoading = false;

                    });
            },
            loginTobegin() {
                const token = this.token;
                const user = this.user;
                localStorage.setItem('_token', token);
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + token

                this.auth_success({token, user });
                if (this.user.candidate) {
                    this.$router.push({ name: "welcome" });
                } else {
                    window.location.href = "/";
                }
                
                
                // if (this.isMobile() === true) {
                //     this.$router.push({ name: "welcome" });
                // }
            }
        },
        created:function () {
         this.getActivateAccount();
            // console.log("Token: "+JSON.stringify(this.$route.params.token));
        }
    };
</script>
