<template>
  <div class="no-isop-wrapper h-100 has-scroll">
    <div class="container m-auto">
      <div class="no-isop-inner">
        <div class="row align-items-center">
          <div class="col-md-7">
            <h2>
              Welcome to your
              <br />Interactive Social Org Platform (ISOP)
            </h2>
            <p>
              Accept a job offer from any company that's using OneCrate and your account will automatically be connected to that companie's ISOP.
              You will have the ability to:
            </p>
            <ul class="list-default">
              <li>View the company organizational structure.</li>
              <li>Learn about all job positions and opportunities in your company long before they are ever posted.</li>
              <li>See names, faces, and what your colleagues do.</li>
              <li>View internal contact information.</li>
            </ul>
          </div>
          <div class="col-md-5">
            <div class="img-wrapper">
              <img src="assets/images/illustrations/illustration__candidate-isop-inner.svg" alt />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ButtonSpinner from "vue-button-spinner";
import config from "../config/config";
import _ from "lodash";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs
} from "vuelidate/lib/validators";
export default {
  name: "BlankIsop",
  components: {
    button_spinner: ButtonSpinner
  },
  data() {
    return {
      errors: [],
      isLoading: false,
      loading: "",
      submitted: false
    };
  },

  methods: {}
};
</script>
