<template>
  <div class="container h-100">
    <div class="row row-gutter-7 h-100">
      <div class="col-xl-9 col-md-8 h-100">
        <div class="content-left content-wrapper has-box-shadow h-100">
          <header
            class="user-meta user-meta--home-page"
            :class="showUserHeader(3)"
          >
            <div class="user-meta__inner d-flex align-items-center">
              <div class="user-meta__thumbnail mx-auto">
                <img
                  class="img-fluid rounded-circle"
                  :src="userdp"
                  @error="imageUrlAlt"
                />

                <a
                  href="#"
                  class="image-upload-control"
                  @click="$refs.file.click()"
                >
                  <input
                    type="file"
                    ref="file"
                    @change="uploadImage($event)"
                    accept="image/*"
                    style="display: none"
                  />
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="15.098"
                    height="13.085"
                    viewBox="0 0 15.098 13.085"
                  >
                    <g id="photo-camera" transform="translate(0 -36.54)">
                      <g
                        id="Group_3"
                        data-name="Group 3"
                        transform="translate(0 36.54)"
                      >
                        <path
                          id="Path_3"
                          data-name="Path 3"
                          d="M14.508,39.143a1.94,1.94,0,0,0-1.423-.59H11.324l-.4-1.069a1.461,1.461,0,0,0-.547-.665,1.4,1.4,0,0,0-.814-.279H5.536a1.4,1.4,0,0,0-.814.279,1.461,1.461,0,0,0-.546.665l-.4,1.069H2.013a1.94,1.94,0,0,0-1.423.59A1.939,1.939,0,0,0,0,40.566v7.046a1.939,1.939,0,0,0,.59,1.423,1.939,1.939,0,0,0,1.423.59H13.085A2.014,2.014,0,0,0,15.1,47.612V40.566A1.939,1.939,0,0,0,14.508,39.143Zm-4.471,7.435a3.393,3.393,0,0,1-2.489,1.034A3.393,3.393,0,0,1,5.06,46.578a3.512,3.512,0,0,1,0-4.978,3.392,3.392,0,0,1,2.489-1.034A3.393,3.393,0,0,1,10.038,41.6a3.512,3.512,0,0,1,0,4.978Z"
                          transform="translate(0 -36.54)"
                          fill="currentColor"
                        />
                        <path
                          id="Path_4"
                          data-name="Path 4"
                          d="M194.121,228.4a2.269,2.269,0,1,0,1.6.665A2.181,2.181,0,0,0,194.121,228.4Z"
                          transform="translate(-186.572 -223.119)"
                          fill="currentColor"
                        />
                      </g>
                    </g>
                  </svg>
                </a>
                <b-modal
                  id="candidate-dp-modal"
                  centered
                  title="Upload image"
                  :no-close-on-backdrop="true"
                >
                  <Cropper
                    classname="upload-example-cropper"
                    :src="image"
                    ref="cropper"
                    stencilComponent="circle-stencil"
                    :stencilProps="{
                      previewClassname: 'preview',
                    }"
                  />
                  <template slot="modal-footer" slot-scope="{ ok, cancel }">
                    <b-button variant="danger min-w-125" @click="cancel()"
                      >Cancel</b-button
                    >
                    <b-button variant="primary min-w-125" @click="crop"
                      >Save</b-button
                    >
                  </template>
                </b-modal>
              </div>
              <div class="user-meta__content flex-fill">
                <h2 class="text-overflow" v-if="userData.first_name">
                  {{ userData.first_name }} {{ userData.last_name }}
                </h2>
                <div class="row" v-if="$mq != 'mobile'">
                  <div class="col-xl-6">
                    <div class="row row-gutter-7 user-meta__content__row">
                      <div class="col-xl-4 col-md-5 text-semibold">
                        Expertise
                      </div>
                      <div
                        class="col-xl-8 col-md-7"
                        v-if="candidateData.field_of_study"
                      >
                        {{ candidateData.field_of_study.name }}
                      </div>
                    </div>
                    <div class="row row-gutter-7 user-meta__content__row">
                      <div class="col-xl-4 col-md-5 text-semibold">
                        Qualifications
                      </div>
                      <div
                        class="col-xl-8 col-md-7"
                        v-if="candidateData.qualification"
                      >
                        {{ candidateData.qualification }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="row row-gutter-7 user-meta__content__row">
                      <div class="col-xl-4 col-md-5 text-semibold">State</div>
                      <div class="col-xl-8 col-md-7" v-if="userData.state">
                        {{ userData.state.name }}
                      </div>
                    </div>
                    <div class="row row-gutter-7 user-meta__content__row">
                      <div class="col-xl-4 col-md-5 text-semibold">Country</div>
                      <div class="col-xl-8 col-md-7" v-if="userData.country">
                        {{ userData.country.name }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="tabs-wrapper">
            <b-tabs
              content-class="flex-fill has-tour"
              fill
              nav-class="on-active-white tabs-small has-4-tabs fixed-bottom-sm"
              v-model="tabIndex"
            >
              <b-tab title="Home" active>
                <template v-slot:title>
                  <span
                    class="nav-item__text"
                    data-v-step="2"
                    mobile-tour-step="1"
                  >
                    Dash
                  </span>
                </template>
                <div class="tab-content__inner">
                  <!-- <articles-component></articles-component> -->
                  <CandidateHomeComponent></CandidateHomeComponent>
                </div>
              </b-tab>
              <b-tab title="Search">
                <template v-slot:title>
                  <span
                    class="nav-item__text"
                    data-v-step="3"
                    mobile-tour-step="2"
                  >
                    Search
                  </span>
                </template>
                <div class="tab-content__inner">
                  <candidate-search-component
                    :bus="bus"
                  ></candidate-search-component>
                </div>
              </b-tab>
              <b-tab title="Favorites">
                <template v-slot:title>
                  <span
                    class="nav-item__text"
                    data-v-step="4"
                    mobile-tour-step="3"
                  >
                    Favorites
                  </span>
                </template>
                <div class="tab-content__inner">
                  <candidate-favourites-component
                    :bus="bus"
                  ></candidate-favourites-component>
                </div>
              </b-tab>
              <b-tab title="Info">
                <template v-slot:title>
                  <span
                    class="nav-item__text"
                    data-v-step="5"
                    mobile-tour-step="4"
                  >
                    Info
                  </span>
                </template>
                <div class="tab-content__inner">
                  <update-candidate-profile-component></update-candidate-profile-component>
                </div>
              </b-tab>
            </b-tabs>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 h-100" v-if="$mq != 'mobile'">
        <candidate-sidebar-component></candidate-sidebar-component>
      </div>
    </div>
    <view-job-modal :bus="bus" />
    <apply-job-modal :bus="bus" />
    <view-company-modal :bus="bus" />
    <notifications group="foo" position="bottom right" />
  </div>
</template>
<script>
// import ArticlesComponent from "../components/candidate/ArticlesComponent";
import CandidateHomeComponent from "../components/candidate/CandidateHomeComponent";
import CandidateSearchComponent from "../components/candidate/CandidateSearchComponent";
import CandidateFavouritesComponent from "../components/candidate/CandidateFavouritesComponent";
import UpdateCandidateProfileComponent from "../components/candidate/UpdateCandidateProfileComponent";
import CandidateSidebarComponent from "../components/candidate/CandidateSidebar";
import ViewCompanyModal from "../components/job/ViewCompanyModal";
import ViewJobModal from "../components/job/ViewJobModal";
import { mapGetters } from "vuex";
import { Cropper } from "vue-advanced-cropper";
import config from "../config/config";
import ApplyJobModal from "../components/job/ApplyJobModal";
import Avatar from "vue-avatar";

export default {
  name: "CandidateComponent",
  components: {
    ApplyJobModal,
    CandidateSidebarComponent,
    CandidateSearchComponent,
    CandidateFavouritesComponent,
    UpdateCandidateProfileComponent,
    // ArticlesComponent,
    CandidateHomeComponent,
    Cropper,
    ViewCompanyModal,
    ViewJobModal,
    Avatar,
  },
  data() {
    return {
      image: null,
      userdp: null,
      tabIndex: 0,
      window: {
        width: 0,
      },
      bus: new Vue(),
    };
  },
  created: function () {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
    this.getProfileDp();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  mounted() {
    this.userdp = this.$store.getters.userData.image;
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCandidate", "candidateData", "userData"]),
  },
  methods: {
    imageUrlAlt(event) {
      event.target.src = "assets/images/user-placeholder.png";
    },
    getProfileDp: function () {
      axios
        .get(config.apiURL + "getProfileImage/")
        .then((response) => {
          this.userdp = response.data;
          this.$store.getters.userData.image = response.data;
        })
        .catch((err) => {});
    },
    uploadImage(event) {
      // Reference to the DOM input element
      var input = event.target;
      // Ensure that you have a file before attempting to read it
      if (input.files && input.files[0]) {
        // create a new FileReader to read this image and convert to base64 format
        var reader = new FileReader();
        // Define a callback function to run, when FileReader finishes its job
        reader.onload = (e) => {
          // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
          // Read image as base64 and set to imageData
          this.image = e.target.result;
          this.$bvModal.show("candidate-dp-modal");
        };
        // Start the reader job - read file as a data url (base64 format)
        reader.readAsDataURL(input.files[0]);
      }
    },
    crop() {
      this.$notify({
        group: "foo",
        type: "warning",
        // title: "Important message",
        text: "Uploading image ...",
      });
      const { coordinates, canvas } = this.$refs.cropper.getResult();
      this.coordinates = coordinates;
      // You able to do different manipulations at a canvas
      // but there we just get a cropped image
      this.$bvModal.hide("candidate-dp-modal");
      let newDp = canvas.toDataURL();
      let formData = new FormData();
      formData.append("file", newDp);
      formData.append("user_id", this.$store.getters.userData.id);
      axios
        .post(config.apiURL + "saveImage", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          this.userdp = canvas.toDataURL();
          this.$store.dispatch("updateUser", response.data);
          this.$notify({
            group: "foo",
            type: "success",
            // title: "Important message",
            text: "Profile picture updated.",
          });
        })
        .catch(function () {
          this.$notify({
            group: "foo",
            type: "error",
            // title: "Important message",
            text: "Unable to upload image, Please try again...",
          });
        });
    },
    handleResize() {
      this.window.width = window.innerWidth;
    },
    showUserHeader(idx) {
      if (this.tabIndex === idx) {
      } else {
        if (this.window.width <= 767) {
          return ["d-none"];
        }
      }
    },
  },
};
</script>
