<template>
  <div class="page-content-wrapper">
    <div class="top-banner">
      <div class="container">
        <h1 class="text-strong">Make Smarter</h1>
        <h2 class="text-strong h1">Career Decisions</h2>
      </div>
    </div>
    <div class="container">
      <div class="content-wrapper">
        <div class="row align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">Build your digital resume...</h2>
              <h4>
                Effortlessly create a job-worthy digital resume and let it find
                jobs that match your interests and qualifications. Apply
                directly or be discovered and contacted by companies looking for
                your skills and experience.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__build-resume.svg"
              />
            </div>
          </div>
        </div>
        <div class="row flex-row-reverse align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">Discover career paths...</h2>
              <h4>
                Have very little to put on your resume? Looking to jump careers?
                Just tell us your interests and get multiple recommendations
                backed by availability data so you can confidently pursue your
                passions.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__career-paths.svg"
              />
            </div>
          </div>
        </div>
        <div class="row align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">See job value estimates...</h2>
              <h4>
                Smarten your career decisions by exploring life time values of
                jobs. Easily determine the return on investment for a student
                loan and estimate retirement savings.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__see-job.svg"
              />
            </div>
          </div>
        </div>
        <div class="row flex-row-reverse align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">Explore an interactive orgchart...</h2>
              <h4>
                See how teams are organized and discover open positions. Find
                coworkers by job title, name, interests, skills, and more. Stay
                connected and understand what the people you work with do.
              </h4>

              <div class="btn-wrap mt-4">
                <router-link
                  to="/landing-candidate-isop"
                  class="btn btn-primary"
                  >Learn more about ISOP
                </router-link>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__candidate-isop.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="register-cta">
      <div class="container text-center">
        <h2 class="h1">Discover Learn Grow</h2>
        <h3 class="my-3">Begin your journey with OneCrate.</h3>
        <div class="primary-separator--sm"></div>
        <div class="btn-wrap mt-3">
          <router-link to="/" class="btn btn-primary btn-primary--solid"
            >Sign Up</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CandidatesLanding",
};
</script>
