<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="h-100">
    <div id="orgchart" />
    <view-job-modal :bus="bus" />
    <b-modal
      id="candidate-directory-modal"
      hide-footer
      size="sm"
      centered
      title="Contact Info"
    >
      <div class="candidate-mini-profile" v-if="candidateDirectory">
        <div class="candidate-mini-profile-thumbnail">
          <img
            :src="candidateDirectory.user.image || defaultUserImage"
            alt="Profile Picture"
          />
        </div>
        <div class="candidate-mini-profile-info">
          <h3>
            {{
              candidateDirectory.user.first_name +
              " " +
              candidateDirectory.user.last_name
            }}
          </h3>
          <div class="list-wrapper">
            <ul>
              <li>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20.375"
                    height="16.607"
                    viewBox="0 0 20.375 16.607"
                  >
                    <g id="expertise" transform="translate(0.15 -63.085)">
                      <g
                        id="Group_323"
                        data-name="Group 323"
                        transform="translate(0 63.235)"
                      >
                        <g
                          id="Group_322"
                          data-name="Group 322"
                          transform="translate(0 0)"
                        >
                          <path
                            id="Path_1457"
                            data-name="Path 1457"
                            d="M18.675,65.909h-5v-.941a1.675,1.675,0,0,0-1.606-1.733H8A1.675,1.675,0,0,0,6.4,64.968v.941h-5A1.46,1.46,0,0,0,0,67.419V78.031a1.46,1.46,0,0,0,1.4,1.51H18.675a1.46,1.46,0,0,0,1.4-1.51V67.419A1.46,1.46,0,0,0,18.675,65.909ZM7.2,64.968A.841.841,0,0,1,8,64.1H12.07a.841.841,0,0,1,.806.87v.941H7.2ZM19.275,78.032a.626.626,0,0,1-.6.647H1.4a.626.626,0,0,1-.6-.647V69.707L6.94,72.92a1.644,1.644,0,0,0,1.578,1.445h3.039a1.644,1.644,0,0,0,1.578-1.445l3.835-2.007a.447.447,0,0,0,.185-.576.387.387,0,0,0-.534-.2l-3.576,1.871a1.609,1.609,0,0,0-1.488-1.094H8.518A1.609,1.609,0,0,0,7.03,72.008L.8,68.748V67.419a.626.626,0,0,1,.6-.647H18.675a.626.626,0,0,1,.6.647V78.032ZM7.718,72.639a.834.834,0,0,1,.8-.863h3.039a.865.865,0,0,1,0,1.726H8.518A.834.834,0,0,1,7.718,72.639Z"
                            transform="translate(0 -63.235)"
                            stroke="#222"
                            stroke-width="0.3"
                          />
                        </g>
                      </g>
                      <g
                        id="Group_325"
                        data-name="Group 325"
                        transform="translate(17.716 69.303)"
                      >
                        <g
                          id="Group_324"
                          data-name="Group 324"
                          transform="translate(0 0)"
                        >
                          <path
                            id="Path_1458"
                            data-name="Path 1458"
                            d="M452.827,206.248a.4.4,0,0,0-.534-.185l-.245.119a.4.4,0,1,0,.349.72l.245-.119A.4.4,0,0,0,452.827,206.248Z"
                            transform="translate(-451.822 -206.022)"
                            stroke="#222"
                            stroke-width="0.3"
                          />
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
                {{ candidateDirectory.jobTitle.name }}
              </li>
              <li v-if="candidateDirectory.field_of_study">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="19.469"
                    height="22.188"
                    viewBox="0 0 19.469 22.188"
                  >
                    <g id="city" transform="translate(-4)">
                      <g
                        id="Group_326"
                        data-name="Group 326"
                        transform="translate(4)"
                      >
                        <path
                          id="Path_1469"
                          data-name="Path 1469"
                          d="M8.493,6.934H7V8.32h1.5Zm5.99-1.387h-1.5V6.934h1.5Zm3,0h-1.5V6.934h1.5Zm3,0h-1.5V6.934h1.5Zm-5.99-2.773h-1.5V4.16h1.5Zm3,0h-1.5V4.16h1.5Zm3,0h-1.5V4.16h1.5Zm-5.99,8.32h-1.5V12.48h1.5Zm3,0h-1.5V12.48h1.5Zm3,0h-1.5V12.48h1.5Zm-5.99,2.773h-1.5v1.387h1.5Zm5.99,0h-1.5v1.387h1.5Zm-5.99,2.773h-1.5v1.387h1.5Zm5.99,0h-1.5v1.387h1.5Zm-5.99-8.32h-1.5V9.707h1.5Zm3,0h-1.5V9.707h1.5Zm3,0h-1.5V9.707h1.5ZM8.493,9.707H7v1.387h1.5Zm0,2.773H7v1.387h1.5Zm0,2.773H7v1.387h1.5Zm0,2.773H7v1.387h1.5Zm8.986-4.16h-1.5v1.387h1.5Zm5.99-12.48A1.444,1.444,0,0,0,21.971,0H11.488a1.444,1.444,0,0,0-1.5,1.387V4.16H5.5A1.444,1.444,0,0,0,4,5.547V20.8a1.444,1.444,0,0,0,1.5,1.387H22.329c.828,0,1.139-.62,1.139-1.387V1.387ZM9.99,20.8H5.5V5.547H9.99Zm11.981,0H17.478v-4.16h-1.5V20.8H11.488V1.387H21.971Z"
                          transform="translate(-4)"
                          fill-rule="evenodd"
                        />
                      </g>
                    </g>
                  </svg>
                </span>
                {{ candidateDirectory.field_of_study.name }}
              </li>
              <li>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20.862"
                    height="15.876"
                    viewBox="0 0 20.862 15.876"
                  >
                    <g id="email" transform="translate(0 -57.75)">
                      <g
                        id="Group_319"
                        data-name="Group 319"
                        transform="translate(0 57.75)"
                      >
                        <path
                          id="Path_1450"
                          data-name="Path 1450"
                          d="M18.315,57.75H2.551A2.553,2.553,0,0,0,0,60.3V71.075a2.553,2.553,0,0,0,2.551,2.551h15.76a2.553,2.553,0,0,0,2.551-2.551V60.305A2.551,2.551,0,0,0,18.315,57.75ZM19.7,71.075a1.387,1.387,0,0,1-1.386,1.386H2.551a1.387,1.387,0,0,1-1.386-1.386V60.305A1.387,1.387,0,0,1,2.551,58.92h15.76A1.387,1.387,0,0,1,19.7,60.305v10.77Z"
                          transform="translate(0 -57.75)"
                        />
                        <path
                          id="Path_1451"
                          data-name="Path 1451"
                          d="M66.5,114.5l5.1-4.576a.584.584,0,0,0-.781-.868l-7.036,6.315-1.373-1.226s-.009-.009-.009-.013a.864.864,0,0,0-.095-.082l-5.586-5a.584.584,0,0,0-.777.872l5.163,4.614-5.141,4.813a.585.585,0,0,0-.026.824.6.6,0,0,0,.427.186.584.584,0,0,0,.4-.155l5.219-4.882,1.416,1.265a.581.581,0,0,0,.777,0l1.455-1.3,5.189,4.93a.584.584,0,0,0,.824-.022.585.585,0,0,0-.022-.824Z"
                          transform="translate(-53.346 -106.694)"
                        />
                      </g>
                    </g>
                  </svg>
                </span>
                {{ candidateDirectory.user.email }}
              </li>
              <li v-if="candidateDirectory.user.phone_number">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17.871"
                    height="17.897"
                    viewBox="0 0 17.871 17.897"
                  >
                    <g id="phone" transform="translate(-0.344 0)">
                      <g
                        id="Group_320"
                        data-name="Group 320"
                        transform="translate(0.344 0)"
                      >
                        <path
                          id="Path_1452"
                          data-name="Path 1452"
                          d="M14.476,37.457a1.76,1.76,0,0,0-1.277-.585,1.82,1.82,0,0,0-1.292.582l-1.194,1.19c-.1-.053-.2-.1-.291-.151-.136-.068-.264-.132-.374-.2A12.973,12.973,0,0,1,6.94,35.459,7.654,7.654,0,0,1,5.92,33.85c.31-.283.6-.578.876-.861.106-.106.212-.215.317-.321a1.733,1.733,0,0,0,0-2.614L6.083,29.023c-.117-.117-.238-.238-.351-.359-.227-.234-.465-.476-.71-.7a1.788,1.788,0,0,0-1.265-.555,1.85,1.85,0,0,0-1.284.555l-.008.008-1.284,1.3a2.763,2.763,0,0,0-.82,1.756,6.622,6.622,0,0,0,.483,2.8,16.264,16.264,0,0,0,2.89,4.82,17.776,17.776,0,0,0,5.919,4.635,9.222,9.222,0,0,0,3.324.982c.079,0,.162.008.238.008a2.846,2.846,0,0,0,2.179-.937c0-.008.011-.011.015-.019a8.587,8.587,0,0,1,.661-.684c.162-.155.329-.317.491-.487a1.884,1.884,0,0,0,.57-1.307,1.815,1.815,0,0,0-.582-1.3Zm1.352,3.977s0,0,0,0c-.147.159-.3.3-.461.461a9.932,9.932,0,0,0-.729.755,1.821,1.821,0,0,1-1.42.6c-.057,0-.117,0-.174,0a8.193,8.193,0,0,1-2.946-.884A16.779,16.779,0,0,1,4.523,38,15.335,15.335,0,0,1,1.8,33.469,5.393,5.393,0,0,1,1.38,31.1,1.734,1.734,0,0,1,1.9,29.982l1.288-1.288a.859.859,0,0,1,.574-.268.808.808,0,0,1,.551.264l.011.011c.23.215.449.438.68.676.117.121.238.242.359.366L6.4,30.775a.721.721,0,0,1,0,1.171c-.11.11-.215.219-.325.325-.317.325-.619.627-.948.922-.008.008-.015.011-.019.019a.77.77,0,0,0-.2.857l.011.034a8.279,8.279,0,0,0,1.22,1.991l0,0A13.864,13.864,0,0,0,9.5,39.15a5.158,5.158,0,0,0,.465.253c.136.068.264.132.374.2.015.008.03.019.045.026a.819.819,0,0,0,.374.094.808.808,0,0,0,.574-.261l1.292-1.292a.855.855,0,0,1,.57-.283.769.769,0,0,1,.544.276l.008.008,2.081,2.081A.747.747,0,0,1,15.828,41.435Z"
                          transform="translate(-0.344 -26.371)"
                        />
                        <path
                          id="Path_1453"
                          data-name="Path 1453"
                          d="M245.363,86.937a4.861,4.861,0,0,1,3.959,3.959.507.507,0,0,0,.5.423.675.675,0,0,0,.087-.008.51.51,0,0,0,.419-.589,5.878,5.878,0,0,0-4.79-4.79.513.513,0,0,0-.589.415A.5.5,0,0,0,245.363,86.937Z"
                          transform="translate(-235.705 -82.68)"
                        />
                        <path
                          id="Path_1454"
                          data-name="Path 1454"
                          d="M257.255,7.895A9.679,9.679,0,0,0,249.368.008a.509.509,0,1,0-.166,1,8.645,8.645,0,0,1,7.048,7.048.507.507,0,0,0,.5.423.675.675,0,0,0,.087-.008A.5.5,0,0,0,257.255,7.895Z"
                          transform="translate(-239.391 0)"
                        />
                      </g>
                    </g>
                  </svg>
                </span>
                {{ candidateDirectory.user.phone_number }}
              </li>
              <li>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="15.191"
                    height="18.939"
                    viewBox="0 0 15.191 18.939"
                  >
                    <g id="location" transform="translate(-47.2)">
                      <g
                        id="Group_321"
                        data-name="Group 321"
                        transform="translate(47.2)"
                      >
                        <path
                          id="Path_1455"
                          data-name="Path 1455"
                          d="M54.792,0A7.6,7.6,0,0,0,47.2,7.592a7.472,7.472,0,0,0,.135,1.425c0,.028.02.111.052.254a7.477,7.477,0,0,0,.508,1.5,21.281,21.281,0,0,0,6.563,8.052.538.538,0,0,0,.675,0A21.322,21.322,0,0,0,61.7,10.768a7.393,7.393,0,0,0,.508-1.5c.032-.143.048-.226.052-.254a7.808,7.808,0,0,0,.135-1.425A7.614,7.614,0,0,0,54.792,0Zm6.4,8.83c0,.008,0,.016,0,.024s-.016.079-.036.171v.008a6.3,6.3,0,0,1-.441,1.294s0,.012-.008.016a19.861,19.861,0,0,1-5.912,7.369,19.861,19.861,0,0,1-5.912-7.369s0-.012-.008-.016a6.724,6.724,0,0,1-.441-1.294V9.025c-.024-.091-.032-.151-.036-.171s0-.016,0-.028a6.519,6.519,0,1,1,12.8,0Z"
                          transform="translate(-47.2)"
                        />
                        <path
                          id="Path_1456"
                          data-name="Path 1456"
                          d="M121.82,71.9a4.82,4.82,0,1,0,4.82,4.82A4.828,4.828,0,0,0,121.82,71.9Zm0,8.568a3.748,3.748,0,1,1,3.748-3.748A3.753,3.753,0,0,1,121.82,80.468Z"
                          transform="translate(-114.229 -69.045)"
                        />
                      </g>
                    </g>
                  </svg>
                </span>
                {{ candidateDirectory.user | getLocation }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </b-modal>
    <candidate-resume-modal-component :bus="bus" />
    <view-company-modal :bus="bus" />
    <!-- <chat-footer :message="newMessage"></chat-footer> -->
  </div>
</template>

<script>
import CandidateOrgChart from "../../assets/js/candidateOrgchart";
import ViewJobModal from "../components/job/ViewJobModal";
import CandidateResumeModalComponent from "../components/company/CandidateResumeModalComponent";
import ViewCompanyModal from "../components/job/ViewCompanyModal";
import ChatFooter from "../components/common/ChatFooter";
import config from "../config/config";
import { Avatar } from "vue-avatar";
import { mapGetters } from "vuex";
export default {
  name: "CandidateISOP",
  components: {
    ViewJobModal,
    CandidateResumeModalComponent,
    ViewCompanyModal,
    Avatar,
    ChatFooter,
  },
  data() {
    return {
      candidateList: [],
      candidateDirectory: null,
      candidateId: null,
      possible: null,
      parentNode: null,
      currentNode: null,
      jobDetails: null,
      chart: null,
      nodes: [],
      ref: this,
      bus: new Vue(),
      senderNode: null,
      draggedNode: null,
      droppedNode: null,
      modalMessage: "",
      newMessage: {},
      defaultImage: config.imagesURL + "assets/images/no-thumb.png",
      defaultCompanyImage:
        config.imagesURL + "assets/images/company-placeholder.png",
      defaultUserImage: config.imagesURL + "assets/images/user-placeholder.png",
      selectedId: null,
    };
  },
  mounted() {},
  computed: {
    ...mapGetters(["isLoggedIn", "userData"]),
  },
  created() {
    CandidateOrgChart.templates.myTemplate = Object.assign(
      {},
      CandidateOrgChart.templates.belinda
    );
    CandidateOrgChart.templates.myTemplate.field_0 =
      '<text style="font-size: 18px;" fill="#4b4b4d" x="90" y="215" text-anchor="middle">{val}</text>';
    CandidateOrgChart.templates.myTemplate.field_1 =
      '<text style="font-size: 14px;" fill="#4b4b4d" x="90" y="235" text-anchor="middle">{val}</text>';
    CandidateOrgChart.templates.myTemplate.node =
      '<filter xmlns="http://www.w3.org/2000/svg" id="dropshadow" height="130%"><feGaussianBlur in="SourceAlpha" stdDeviation="7"/><feOffset dx="0" dy="0" result="offsetblur"/><feComponentTransfer><feFuncA type="linear" slope="0.2"/></feComponentTransfer><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/></feMerge></filter><circle cx="90" cy="90" r="90" fill="#ebebeb" stroke-width="0" stroke="#1C1C1C" filter="url(#dropshadow)"></circle>';
    CandidateOrgChart.templates.myTemplate.nodeMenuButton =
      '<g style="cursor:pointer; opacity: 0" transform="matrix(8.2,0,0,8.2,33,81)" control-node-menu-id="{id}">' +
      '<rect x="-4" y="-10" fill="#000000" fill-opacity="0" width="22" height="22">' +
      "</rect>" +
      '<line x1="0" y1="0" x2="0" y2="10" stroke-width="2" stroke="#4b4b4d" />' +
      '<line x1="7" y1="0" x2="7" y2="10" stroke-width="2" stroke="#4b4b4d" />' +
      '<line x1="14" y1="0" x2="14" y2="10" stroke-width="2" stroke="#4b4b4d" />' +
      "</g>";

    //for straight links
    // CandidateOrgChart.templates.myTemplate.link = '<path stroke="#039BE5" stroke-width="1px" fill="none" d="M{xa},{ya} {xb},{yb} {xc},{yc} L{xd},{yd}"/>';
    // CandidateOrgChart.linkOpenTag = '<g link-id="[{id}][{child-id}]" transform="matrix(1,0,0,1,0,60)" class="{class}" level="{level}">';

    CandidateOrgChart.templates.myTemplate.pointer =
      '<g data-pointer="pointer" transform="matrix(0,0,0,0,100,100)">><g transform="matrix(0.3,0,0,0.3,-17,-17)">' +
      '<polygon fill="#00ACEE" points="53.004,173.004 53.004,66.996 0,120" />' +
      '<polygon fill="#00ACEE" points="186.996,66.996 186.996,173.004 240,120" />' +
      '<polygon fill="#00ACEE" points="66.996,53.004 173.004,53.004 120,0" />' +
      '<polygon fill="#00ACEE" points="120,240 173.004,186.996 66.996,186.996" />' +
      '<circle  fill="#00ACEE" cx="120" cy="120" r="30" />' +
      "</g></g>";
    this.fetchNodes();
  },
  methods: {
    blurNode(nodeId) {
      this.selectedId = nodeId;
      this.blur();
    },
    showJobSubMenu(nodeId) {
      this.chart.showSubMenu(nodeId, "jobOptions");
    },
    showCandidateSubMenu(nodeId) {
      this.chart.showSubMenu(nodeId, "candidateOptions");
    },
    blur() {
      console.log("called blur");
      var clearElements = document.querySelectorAll('[filter="url(#f1)"]');
      for (var i = 0; i < clearElements.length; i++) {
        clearElements[i].removeAttribute("filter");
      }
      if (this.selectedId == null) {
        return;
      }
      var node = this.chart.getBGNode(this.selectedId);

      var skipBlur = [node.id];
      var skipBlurLink = [];
      while (node.parent) {
        skipBlur.push(node.parent.id);
        skipBlurLink.push("[" + node.parent.id + "][" + node.id + "]");
        node = node.parent;
      }
      var nodeElements = document.querySelectorAll("[node-id]");
      for (var i = 0; i < nodeElements.length; i++) {
        var id = nodeElements[i].getAttribute("node-id");
        if (skipBlur.indexOf(parseInt(id)) == -1) {
          nodeElements[i].setAttribute("filter", "url(#f1)");
        }
      }

      var expcollElements = document.querySelectorAll("[control-expcoll-id]");
      for (var i = 0; i < expcollElements.length; i++) {
        var id = expcollElements[i].getAttribute("control-expcoll-id");
        if (skipBlur.indexOf(id) == -1)
          expcollElements[i].setAttribute("filter", "url(#f1)");
      }

      var linksElements = document.querySelectorAll("[link-id]");
      for (var i = 0; i < linksElements.length; i++) {
        var id = linksElements[i].getAttribute("link-id");

        if (skipBlurLink.indexOf(id) == -1)
          linksElements[i].setAttribute("filter", "url(#f1)");
      }
    },

    setCandidate(value) {
      this.candidateId = value;
    },
    fetchNodes() {
      axios({ url: config.apiURL + "getCandidateChartNodes", method: "GET" })
        .then((resp) => {
          if (resp.data.message) {
            this.$router.push("/noisop");
            // console.log('Response Message: '+JSON.stringify(resp.data.message));
          } else {
            this.initChart(resp.data);
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },

    initChart(nodeData) {
      let chartData = nodeData.charts;
      let rootId = nodeData.user_id;
      var companyProfileIcon =
        '<svg xmlns="http://www.w3.org/2000/svg" width="23" height="24.454" viewBox="0 0 23 24.454"><g id="Group_364" data-name="Group 364" transform="translate(-4752 -2290.546)"><g id="view_resume" transform="translate(4695.482 2284.134)"><g id="Path_1417" data-name="Path 1417" transform="translate(56.518 8.75)"><path id="Path_1501" data-name="Path 1501" d="M56.518,8.75H72.649V27.366H56.518Z" transform="translate(-56.518 -8.75)" fill="none"/><path id="Path_1502" data-name="Path 1502" d="M57.923,10.155v15.8H71.245v-15.8H67.537V7.817H61.424v2.338h-3.5m-1.4-1.4h3.657V6.412h8.606V8.75H72.65V27.363H56.518Z" transform="translate(-56.518 -8.75)" fill="#00acee"/></g><rect id="Rectangle_259" data-name="Rectangle 259" width="3.927" height="1.241" transform="translate(59.62 13.713)" fill="#00acee"/><rect id="Rectangle_259-2" data-name="Rectangle 259" width="3.927" height="1.241" transform="translate(65.62 13.713)" fill="#00acee"/><rect id="Rectangle_260" data-name="Rectangle 260" width="3.927" height="1.241" transform="translate(59.62 17.436)" fill="#00acee"/><rect id="Rectangle_260-2" data-name="Rectangle 260" width="3.927" height="1.241" transform="translate(65.62 17.436)" fill="#00acee"/><rect id="Rectangle_261" data-name="Rectangle 261" width="3.927" height="1.241" transform="translate(59.62 21.159)" fill="#00acee"/><rect id="Rectangle_261-2" data-name="Rectangle 261" width="3.927" height="1.241" transform="translate(65.62 21.159)" fill="#00acee"/><rect id="Rectangle_261-3" data-name="Rectangle 261" width="3.927" height="1.241" transform="translate(65.205 22.816) rotate(90)" fill="#00acee"/></g><circle id="Ellipse_22" data-name="Ellipse 22" cx="6.5" cy="6.5" r="6.5" transform="translate(4762 2302)" fill="#fff"/><g id="_11_Search-128" data-name="11_Search-128" transform="translate(4763.878 2303.879)"><path id="Path_60" data-name="Path 60" d="M4.4,0h.323A4.575,4.575,0,0,1,7.642,1.242a4.524,4.524,0,0,1,.7,5.725c.569.573,1.143,1.14,1.711,1.714a1.081,1.081,0,0,1,.284.564v.236a1.023,1.023,0,0,1-.848.857H9.255a1.064,1.064,0,0,1-.574-.285C8.108,9.484,7.54,8.91,6.967,8.342A4.525,4.525,0,0,1,.684,6.92,4.647,4.647,0,0,1,0,4.724V4.4A4.543,4.543,0,0,1,4.4,0M3.916,1.354a3.236,3.236,0,1,0,2.4.482A3.244,3.244,0,0,0,3.916,1.354Z" fill="#00acee"/></g></g></svg>';
      var jobOptionsIcon =
        '<svg width="19.344" height="17.001" viewBox="0 0 19.344 17.001"><path id="job_options" d="M18.781,2.267H13.639V1.7a1.7,1.7,0,0,0-1.7-1.7H7.405a1.7,1.7,0,0,0-1.7,1.7v.567H.567A.568.568,0,0,0,0,2.834V15.3A1.7,1.7,0,0,0,1.7,17H17.644a1.7,1.7,0,0,0,1.7-1.7V2.843a.55.55,0,0,0-.563-.576ZM6.838,1.7a.567.567,0,0,1,.567-.567h4.534a.567.567,0,0,1,.567.567v.567H6.838ZM17.991,3.4,16.231,8.68a.566.566,0,0,1-.537.388H12.506V8.5a.567.567,0,0,0-.567-.567H7.405a.567.567,0,0,0-.567.567v.567H3.651a.566.566,0,0,1-.537-.388L1.353,3.4ZM11.372,9.067V10.2h-3.4V9.067ZM18.21,15.3a.567.567,0,0,1-.567.567H1.7a.567.567,0,0,1-.567-.567V6.326l.9,2.713A1.7,1.7,0,0,0,3.651,10.2H6.838v.567a.567.567,0,0,0,.567.567h4.534a.567.567,0,0,0,.567-.567V10.2h3.188a1.7,1.7,0,0,0,1.613-1.162l.9-2.713Zm0,0" fill="#00acee"/></svg>';
      var viewJobIcon =
        '<svg width="25" height="21.692" viewBox="0 0 25 21.692"><g id="view_job" transform="translate(-4740 -2327.308)"><path id="portfolio_1_" data-name="portfolio (1)" d="M18.781,2.267H13.639V1.7a1.7,1.7,0,0,0-1.7-1.7H7.405a1.7,1.7,0,0,0-1.7,1.7v.567H.567A.568.568,0,0,0,0,2.834V15.3A1.7,1.7,0,0,0,1.7,17H17.644a1.7,1.7,0,0,0,1.7-1.7V2.843a.55.55,0,0,0-.563-.576ZM6.838,1.7a.567.567,0,0,1,.567-.567h4.534a.567.567,0,0,1,.567.567v.567H6.838ZM17.991,3.4,16.231,8.68a.566.566,0,0,1-.537.388H12.506V8.5a.567.567,0,0,0-.567-.567H7.405a.567.567,0,0,0-.567.567v.567H3.651a.566.566,0,0,1-.537-.388L1.353,3.4ZM11.372,9.067V10.2h-3.4V9.067ZM18.21,15.3a.567.567,0,0,1-.567.567H1.7a.567.567,0,0,1-.567-.567V6.326l.9,2.713A1.7,1.7,0,0,0,3.651,10.2H6.838v.567a.567.567,0,0,0,.567.567h4.534a.567.567,0,0,0,.567-.567V10.2h3.188a1.7,1.7,0,0,0,1.613-1.162l.9-2.713Zm0,0" transform="translate(4740 2327.308)" fill="#00acee"/><circle id="Ellipse_12" data-name="Ellipse 12" cx="6.5" cy="6.5" r="6.5" transform="translate(4752 2336)" fill="#fff"/><g id="_11_Search-128" data-name="11_Search-128" transform="translate(4753.878 2337.879)"><path id="Path_60" data-name="Path 60" d="M4.4,0h.323A4.575,4.575,0,0,1,7.642,1.242a4.524,4.524,0,0,1,.7,5.725c.569.573,1.143,1.14,1.711,1.714a1.081,1.081,0,0,1,.284.564v.236a1.023,1.023,0,0,1-.848.857H9.255a1.064,1.064,0,0,1-.574-.285C8.108,9.484,7.54,8.91,6.967,8.342A4.525,4.525,0,0,1,.684,6.92,4.647,4.647,0,0,1,0,4.724V4.4A4.543,4.543,0,0,1,4.4,0M3.916,1.354a3.236,3.236,0,1,0,2.4.482A3.244,3.244,0,0,0,3.916,1.354Z" fill="#00acee"/></g></g></svg>';
      var candidateDirectoryIcon =
        '<svg width="25.721" height="22.627" viewBox="0 0 25.721 22.627"><g id="cadidate_directory" transform="translate(-16.279 -10.373)"><g id="_747376" data-name="747376" transform="translate(16.279 10.373)"><g id="Group_150" data-name="Group 150" transform="translate(0)"><path id="Path_1327" data-name="Path 1327" d="M16.825,12.742a9.818,9.818,0,0,0-3.745-2.349,5.7,5.7,0,1,0-6.448,0A9.871,9.871,0,0,0,0,19.711H1.54a8.316,8.316,0,1,1,16.632,0h1.54A9.791,9.791,0,0,0,16.825,12.742ZM9.856,9.856A4.158,4.158,0,1,1,14.014,5.7,4.163,4.163,0,0,1,9.856,9.856Z" transform="translate(0)" fill="#00acee"/></g></g><circle id="Ellipse_13" data-name="Ellipse 13" cx="6.5" cy="6.5" r="6.5" transform="translate(29 20)" fill="#fff"/><g id="_11_Search-128" data-name="11_Search-128" transform="translate(30.878 21.879)"><path id="Path_60" data-name="Path 60" d="M4.4,0h.323A4.575,4.575,0,0,1,7.642,1.242a4.524,4.524,0,0,1,.7,5.725c.569.573,1.143,1.14,1.711,1.714a1.081,1.081,0,0,1,.284.564v.236a1.023,1.023,0,0,1-.848.857H9.255a1.064,1.064,0,0,1-.574-.285C8.108,9.484,7.54,8.91,6.967,8.342A4.525,4.525,0,0,1,.684,6.92,4.647,4.647,0,0,1,0,4.724V4.4A4.543,4.543,0,0,1,4.4,0M3.916,1.354a3.236,3.236,0,1,0,2.4.482A3.244,3.244,0,0,0,3.916,1.354Z" fill="#00acee"/></g></g></svg>';
      var candidateResumeIcon =
        '<svg width="16.132" height="18.616" viewBox="0 0 16.132 18.616"><g id="view_resume" transform="translate(-56.518 -8.75)"><g id="Path_1417" data-name="Path 1417" transform="translate(56.518 8.75)"><path id="Path_1501" data-name="Path 1501" d="M56.518,8.75H72.649V27.366H56.518Z" transform="translate(-56.518 -8.75)" fill="none"/><path id="Path_1502" data-name="Path 1502" d="M57.923,10.155v15.8H71.245v-15.8H57.923m-1.4-1.4H72.65V27.363H56.518Z" transform="translate(-56.518 -8.75)" fill="#00acee"/></g><rect id="Rectangle_259" data-name="Rectangle 259" width="9.927" height="1.241" transform="translate(59.62 13.713)" fill="#00acee"/><rect id="Rectangle_260" data-name="Rectangle 260" width="9.927" height="1.241" transform="translate(59.62 17.436)" fill="#00acee"/><rect id="Rectangle_261" data-name="Rectangle 261" width="9.927" height="1.241" transform="translate(59.62 21.159)" fill="#00acee"/></g></svg>';

      //for blur
      CandidateOrgChart.templates.myTemplate.defs +=
        '<filter id="f1" > <feGaussianBlur in="SourceGraphic" stdDeviation="4" /> </filter>';

      chartData.forEach((item, index) => {
        let name = "Unassigned";
        let image = this.defaultImage;
        let title = "-";
        let status = 0;
        let tip = null;
        let isMsgInit = 0;
        let loginUser = this.$store.getters.userData;
        let userId = 0;
        if (item.dp) {
          image = item.dp;
        }
        if (
          item.job &&
          item.job.candidate &&
          item.job.candidate.user &&
          item.is_root == 0
        ) {
          name =
            item.job.candidate.user.first_name +
            " " +
            item.job.candidate.user.last_name;
          tip =
            item.job.candidate.user.first_name +
            " " +
            item.job.candidate.user.last_name;
          if (item.job.candidate.user.image) {
            image = item.job.candidate.user.image;
          } else {
            image = item.dp ? item.dp : this.defaultImage;
          }
          title = item.job.title.name;
          if (item.job.candidate.user) {
            userId = item.job.candidate.user.id;
          }
        } else if (item.is_root == 1) {
          name = nodeData.name;
          image = nodeData.user.image
            ? nodeData.user.image
            : this.defaultCompanyImage;
          userId = rootId;
        }

        if (item.isMsgInit) {
          isMsgInit = item.isMsgInit;
        }

        if (item.job) {
          title = item.job.title.name;
          status = item.job.status;
          tip = item.job.title.name;
        }
        if (item.job && item.job.candidate) {
          this.nodes.push({
            id: item.id,
            pid: item.parent_id,
            name: name,
            title: title,
            img: image,
            status: status,
            tooltip: tip,
            tags: ["hasCandidateMenu"],
            isMsgInit: isMsgInit,
            loginUser: loginUser,
            userId: userId,
          });
        } else {
          this.nodes.push({
            id: item.id,
            pid: item.parent_id,
            name: name,
            title: title,
            img: image,
            status: status,
            tooltip: tip,
            isMsgInit: isMsgInit,
            loginUser: loginUser,
            userId: userId,
          });
        }
      });

      //code for showing number of children on each node
      let childCount = (id) => {
        let count = 0;
        for (var i = 0; i < this.nodes.length; i++) {
          if (this.nodes[i].pid == id) {
            count++;
            count += childCount(this.nodes[i].id);
          }
        }

        return count;
      };

      for (var i = 0; i < this.nodes.length; i++) {
        this.nodes[i].field_number_children = childCount(this.nodes[i].id);
        if (this.nodes[i].status) {
          this.nodes[i].pulse = 1;
        }
      }

      CandidateOrgChart.templates.myTemplate.field_number_children =
        '<circle cx="30" cy="50" r="15" fill="#F57C00"></circle><text fill="#ffffff" x="30" y="55" text-anchor="middle">{val}</text>';
      CandidateOrgChart.templates.myTemplate.pulse =
        '<circle class="innerCircle" cx="90" cy="90" r="95" fill="none" stroke="#00acee" stroke-width="0"><animate attributeType="SVG" attributeName="r" begin="0s" dur="2s" repeatCount="indefinite" from="90" to="95"/><animate attributeType="CSS" attributeName="stroke-width" begin="0s" dur="2s" repeatCount="indefinite" from="0" to="45"/><animate attributeType="CSS" attributeName="opacity" begin="0s" dur="2s" repeatCount="indefinite" from="0" to="1" values="0; 0.8; 0" keyTimes="0; 0.6; 1" /></circle><circle class="innerCircle" cx="90" cy="90" r="95" fill="none" stroke="#00acee" stroke-width="0"><animate attributeType="SVG" attributeName="r" begin="1s" dur="2s" repeatCount="indefinite" from="90" to="95"/><animate attributeType="CSS" attributeName="stroke-width" begin="1s" dur="2s" repeatCount="indefinite" from="0" to="45"/><animate attributeType="CSS" attributeName="opacity" begin="1s" dur="2s" repeatCount="indefinite" from="0" to="1" values="0; 0.8; 0" keyTimes="0; 0.6; 1" /></circle>';
      CandidateOrgChart.templates.myTemplate.tooltip =
        '<g data-tooltip-id="{id}" transform="matrix(0,0,0,0,125,-295)" ><path stroke="#FFCA28" fill="#fff" d="M 0,0 L -10,-10 H -85 Q -90,-10 -90,-15 V -65 Q -90,-70 -85,-70 H 85 Q 90,-70 90,-65 V -15 Q 90,-10 85,-10 H 10 L 0,0 z" ></path>{val}</g>';
      var tooltip =
        '<g data-tooltip-id="{id}" transform="matrix(0,0,0,0,{x},{y})" ><path stroke="#FFCA28" fill="#fff" \
                                d="M 0,0 \
                                L -10,-10 \
                                H -85 \
                                Q -90,-10 -90,-15  \
                                V -65   \
                                Q -90,-70 -85,-70 \
                                H 85 \
                                Q 90,-70 90,-65 \
                                V -15 \
                                Q 90,-10 85,-10 \
                                H 10  \
                                L 0,0 z" ></path>{text}</g>';
      var tooltipText =
        '<text text-anchor="middle" width="130" fill="#F57C00" x="0" y="-32">{val}</text>';

      this.chart = new CandidateOrgChart(document.getElementById("orgchart"), {
        template: "myTemplate",
        enableSearch: true,
        enableDragDrop: false,
        levelSeparation: 170,
        siblingSeparation: 50,
        sticky: false,
        lazyLoading: true,
        toolbar: {
          layout: true,
          zoom: true,
          fit: true,
          expandAll: false,
        },
        layout: CandidateOrgChart.tree,
        // align: CandidateOrgChart.ORIENTATION,
        nodeMouseClick: CandidateOrgChart.action.none,
        nodeBinding: {
          pulse: "pulse",
          field_0: "name",
          field_1: "title",
          img_0: "img",
          field_number_children: "field_number_children",
          tooltip: "tooltip",
        },
        nodes: this.nodes,
        nodeMenu: {
          companyProfile: {
            icon: companyProfileIcon,
            text: "Company Profile",
            onClick: this.companyProfile,
            showDefault: false,
            showCompany: true,
          },
          viewJob: {
            icon: viewJobIcon,
            text: "Job Description",
            onClick: this.viewJob,
            showDefault: true,
          },
          chatStart: {
            icon: companyProfileIcon,
            text: "Send Message",
            showDefault: false,
            showCompany: true,
            onClick: this.chatStart,
          },
        },
        tags: {
          hasCandidateMenu: {
            nodeMenu: {
              chatStart: {
                icon: companyProfileIcon,
                text: "Send Message",
                showDefault: true,
                onClick: this.chatStart,
              },
              // candidateResume: {
              //     icon: candidateResumeIcon,
              //     text: "View Resume",
              //     onClick: this.getcandidateResume,
              //     showDefault: true
              // },
              candidateDirectory: {
                icon: candidateDirectoryIcon,
                text: "Contact Info",
                onClick: this.getCandidateDirectory,
                showDefault: true,
              },
              viewJob: {
                icon: viewJobIcon,
                text: "Job Description",
                onClick: this.viewJob,
                showDefault: true,
              },
            },
          },
        },
      });
      var test = document.querySelectorAll("[data-id=search-icon]");
      test[0].parentElement.classList.add("searchBar");
      // this.chart.addSlink(3, 6, 'SLink', 'blue');
      // this.chart.addClink(8, 10, 'CLink', 'blue');
    },
    companyProfile(nodeId) {
      axios({
        url: config.apiURL + "showCompanyProfile/" + nodeId,
        method: "GET",
      })
        .then((resp) => {
          this.bus.$emit("viewCompanyDetails", resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getCandidateDirectory(nodeId) {
      axios({
        url: config.apiURL + "getCandidateDirectory/" + nodeId,
        method: "GET",
      })
        .then((resp) => {
          this.candidateDirectory = resp.data;
          console.log(this.candidateDirectory);
          this.$bvModal.show("candidate-directory-modal");
        })
        .catch((err) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Job has no candidate !",
          });
          console.log(err);
        });
    },
    getcandidateResume(nodeId) {
      axios({
        url: config.apiURL + "candidateResumeByChartId/" + nodeId,
        method: "GET",
      })
        .then((resp) => {
          this.bus.$emit("viewCandidateResume", resp.data);
        })
        .catch((err) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Job has no candidate !",
          });
          console.log(err);
        });
    },
    async chatStart(nodeId) {
      let nodeData = this.chart.get(nodeId);
      const senderId = nodeData.userId;
      const receiverId = nodeData.loginUser.id;
      const url = `${config.apiURL}startChat/${senderId}/${receiverId}`;
      try {
        const allChats = await axios.get(url);
        console.log("startChating =>", allChats);
      } catch (err) {
        console.log("error =>", err);
      }
    },
    /* async chatStart(nodeId) {
      let nodeData = this.chart.get(nodeId);
      console.log("nodeData =>", nodeData);
      const senderId = nodeData.loginUser.id;
      const receiverId = nodeData.userId;
      const url = `${config.apiURL}getAllChats/${senderId}/${receiverId}`;
      try {
        const allChats = await axios.get(url);
        console.log("all chats =>", allChats.data.chat);
        let newMessage = {};
        if (allChats.data.chat.data.length > 0) {
          newMessage = allChats.data.chat.data[0];
          console.log("last message =>", allChats.data.chat.data[0]);
        } else {
          const userUrl = `${config.apiURL}getUserData/${receiverId}`;
          const getUserData = await axios.get(userUrl);
          const receiverUser = getUserData.data.user;
          console.log("receiverUser =>", receiverUser);
          let sender = {};
          if (receiverUser.first_name === null) {
            sender = {
              email: receiverUser.email,
              first_name: receiverUser.first_name,
              last_name: receiverUser.last_name,
              id: receiverUser.id,
              image: receiverUser.image,
              company: receiverUser.company,
            };
          } else {
            sender = {
              email: receiverUser.email,
              first_name: receiverUser.first_name,
              last_name: receiverUser.last_name,
              id: receiverUser.id,
              image: receiverUser.image,
            };
          }
          newMessage.sender = sender;
        }
        this.newMessage = newMessage;
      } catch (err) {
        console.log("error =>", err);
      }
    }, */
    viewJob(nodeId) {
      var nodeData = this.chart.get(nodeId);
      axios({ url: config.apiURL + "getJobDetails/" + nodeId, method: "GET" })
        .then((resp) => {
          // console.warn("Job Detail: "+JSON.stringify(resp.data));
          this.jobDetails = resp.data;
          this.bus.$emit("viewJobDetails", resp.data);
        })
        .catch((err) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Node Does Not Have A Job !",
          });
          console.log(err);
        });
    },
  },
};
</script>

/*
sender = {
    email:"",
    first_name:"",
    last_name:"",
    id:1,
    image:null
}
*/
