<template>
  <div class="page-content-wrapper">
    <div class="top-banner">
      <div class="container">
        <h1 class="text-strong">Interactive Social</h1>
        <h2 class="text-strong h1">Org Platform (ISOP)</h2>
      </div>
    </div>
    <!-- <div class="general-banner py-5">
      <div class="container">
        <h2 class="text-center mx-auto">
          <span class="text-primary d-md-block">
            An employee directory with job descriptions
          </span>
          linked directly to a chat enabled interactive orgchart.
        </h2>
        <img
          src="assets/images/illustrations/illustration__company-isop-general.svg"
        />
      </div>
    </div> -->
    <div class="content-wrapper content-wrapper--isop">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-md-6">
            <div
              class="content-box"
              data-aos="fade-right"
              data-aos-delay="400"
            >
              <h2 class="text-strong h1 mb-3">Discover...</h2>
              <h4>
                Read job descriptions whether they are available or not. Add
                them to your favorites and be notified when they are toggled
                online.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__candidates-isop-discover.svg"
              />
            </div>
          </div>
        </div>
        <div class="row flex-row-reverse align-items-center py-5">
          <div class="col-md-6">
            <div
              class="content-box"
              data-aos="fade-right"
              data-aos-delay="400"
            >
              <h2 class="text-strong h1 mb-3">Chat...</h2>
              <h4>
                Open up a dialogue with colleagues or teammates and get answers
                to simple questions quickly.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__candidates-isop-chat.svg"
              />
            </div>
          </div>
        </div>
        <div class="row align-items-center py-5">
          <div class="col-md-6">
            <div
              class="content-box"
              data-aos="fade-right"
              data-aos-delay="400"
            >
              <h2 class="text-strong h1 mb-3">Search...</h2>
              <h4>
                Names, job titles, skills, interests, location...learn about
                your colleagues and teammates quick and easy.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__candidates-isop-search.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="register-cta">
      <div class="container text-center">
        <h2 class="h1">Discover Learn Grow</h2>
        <h3 class="my-3">Connect with your company ISOP today.</h3>
        <div class="primary-separator--sm"></div>
        <div class="btn-wrap mt-3">
          <router-link to="/" class="btn btn-primary btn-primary--solid"
            >Sign Up</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CandidateISOPLanding",
};
</script>
