<template>
  <div class="container h-100">
    <div class="row row-gutter-7 h-100">
      <div class="col-xl-3 col-md-4 h-100" v-if="$mq != 'mobile'">
        <div class="content-right has-box-shadow h-100">
          <!-- Nav tabs -->
          <div class="tabs-wrapper h-100">
            <b-tabs
              content-class="flex-fill"
              fill
              nav-class="on-active-white has-box-shadow has-2-tabs"
            >
              <b-tab active @click="online()">
                <template v-slot:title>
                  <h3 class="text-strong">Posted ({{ totalOnlineJob }})</h3>
                </template>
                <online-jobs :bus="bus"></online-jobs>
              </b-tab>
              <b-tab @click="offline()">
                <template v-slot:title>
                  <h3 class="text-strong">Offline ({{ totalOfflineJob }})</h3>
                </template>
                <div class="tab-content__inner p-2">
                  <offline-jobs :bus="bus"></offline-jobs>
                </div>
              </b-tab>
            </b-tabs>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-md-8 h-100" mobile-tour-step="6">
        <online-job-resume v-show="onlinejob" :bus="bus"></online-job-resume>
        <offline-job-resume :bus="bus" v-show="offlinejob"></offline-job-resume>
      </div>
    </div>
    <candidate-resume-modal-component :bus="bus" />
  </div>
</template>
<script>
import config from "../config/config";
import OnlineJobs from "../components/ats/OnelineJobs";
import OfflineJobs from "../components/ats/OfflineJobs";
import OnlineJobResume from "../components/ats/OnlineJobResume";
import OfflineJobResume from "../components/ats/OfflineJobResume";
import CandidateResumeModalComponent from "../components/company/CandidateResumeModalComponent";
import alertService from "../components/utils/alertService";
export default {
  name: "candidates",
  components: {
    OfflineJobResume,
    OnlineJobResume,
    OfflineJobs,
    OnlineJobs,
    CandidateResumeModalComponent,
  },
  data() {
    return {
      offlinejob: false,
      onlinejob: true,
      totalOnlineJob: 0,
      totalOfflineJob: 0,
      bus: new Vue(),
    };
  },
  methods: {
    checkUserSubscription() {
      axios({ url: config.apiURL + "checkUserSubscription", method: "GET" })
        .then((resp) => {})
        .catch((err) => {
          let userData = err.response.data.user;
          this.$store.dispatch("updateUser", userData); //update user data in state as well
          // this.$router.push({ name: "invalidMembership" });
          // alertService.Error('Error', err.response.data.error);
        });
    },
    offline() {
      this.offlinejob = true;
      this.onlinejob = false;
    },
    online() {
      this.offlinejob = false;
      this.onlinejob = true;
    },
  },
  mounted() {
    this.checkUserSubscription();
  },
  updated() {
    //console.log("Update Bus: "+this.bus);
  },
};
</script>
