<template>
  <div class="container h-100">
    <div class="white-box-wrapper flex-center flex-column px-3">
      <div class="white-box white-box--md change-email-wrapper">
        <h3 class="mb-3">Change Personal Email</h3>
        <form action="#" method="post" ref="update_email_form" @submit.prevent="submit">
          <div class>
            <div
              class="input-wrapper form-group"
              :class="{'form-group--error':$v.userCurrentEmail.$error}"
            >
              <input
                id="userCurrentEmail"
                type="email"
                name="userCurrentEmail"
                v-model.trim="$v.userCurrentEmail.$model"
                @blur="setCurrentEmail($event.target.value)"
                class="form-control"
                placeholder="Current Email"
              />
            </div>
            <div
              class="input-wrapper form-group"
              :class="{'form-group--error':$v.userNewEmail.$error}"
            >
              <input
                id="userNewEmail"
                type="email"
                name="userNewEmail"
                v-model.trim="$v.userNewEmail.$model"
                @blur="setNewEmail($event.target.value)"
                class="form-control"
                placeholder="New Email"
              />
            </div>
            <div
              class="input-wrapper form-group"
              :class="{'form-group--error':$v.userConfirmNewEmail.$error}"
            >
              <input
                id="userConfirmNewEmail"
                type="email"
                name="userConfirmNewEmail"
                v-model.trim="$v.userConfirmNewEmail.$model"
                @blur="setConfirmEmail($event.target.value)"
                class="form-control"
                placeholder="Confirm Email"
              />
            </div>
            <div class="btn-wrap text-right mt-4">
              <button
                type="submit" class="btn btn-primary" @click.prevent="submit">
                <span
                  v-bind="{isLoading, loading}"
                  v-if="isLoading == true"
                  class="spinner-border spinner-border--md spinner-border--in-button"
                ></span> Update
              </button>
            </div>
          </div>
        </form>
        <notifications group="foo" position="bottom right" />
      </div>
    </div>
  </div>
</template>
<script>
import ButtonSpinner from "vue-button-spinner";
import config from "../config/config";
import _ from "lodash";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs
} from "vuelidate/lib/validators";
export default {
  name: "ChangeEmail",
  components: {
    button_spinner: ButtonSpinner
  },
  data() {
    return {
      userCurrentEmail: "",
      userNewEmail: "",
      userConfirmNewEmail: "",
      errors: [],
      isLoading: false,
      loading: "",
      submitted: false
    };
  },
  validations: {
    userCurrentEmail: {
      required,
      email
    },
    userNewEmail: {
      required,
      email
    },
    userConfirmNewEmail: {
      required,
      email,
      sameAsNewEmail: sameAs("userNewEmail")
    }
  },
  methods: {
    setCurrentEmail(value) {
      this.userCurrentEmail = value;
      this.$v.userCurrentEmail.$touch();
      if (this.$v.userCurrentEmail.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter user current email"
        });
      }
      if (this.$v.userCurrentEmail.email == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter valid email address"
        });
      }
    },
    setNewEmail(value) {
      this.userNewEmail = value;
      this.$v.userNewEmail.$touch();
      if (this.$v.userNewEmail.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter new email"
        });
      }
      if (this.$v.userNewEmail.email == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter valid email address"
        });
      }
    },
    setConfirmEmail(value) {
      this.userConfirmNewEmail = value;
      this.$v.userConfirmNewEmail.$touch();
      if (this.$v.userConfirmNewEmail.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter confirm email"
        });
      }
      if (this.$v.userConfirmNewEmail.email == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter valid email address"
        });
      }
      if (this.$v.userConfirmNewEmail.sameAsNewEmail == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "New email and confirm email not matched"
        });
      }
    },

    submit() {
      this.isLoading = true;
      this.errors = [];
      this.$v.$touch();
      //this.onClick();
      if (this.$v.$invalid) {
        this.isLoading = false;
        this.$notify({
          group: "foo",
          type: "error",
          text: "Fill required form fields"
        });
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        let form = this.$refs["update_email_form"];
        let formData = new FormData(form);
        axios({
          url: config.apiURL + "updateEmail",
          data: formData,
          method: "POST"
        })
          .then(data => {
            this.isLoading = false;
            this.$notify({
              group: "foo",
              type: "success",
              text: "Email updated successfully"
            });
          })
          .catch(err => {
            this.isLoading = false;
            this.error = err.response.data.error;
            let errors = err.response.data.errors;
            for (const [key, value] of Object.entries(errors)) {
              value.forEach((text, index) => {
                this.$notify({
                  group: "foo",
                  type: "error",
                  title: key,
                  text: text
                });
              });
            }
          });
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    }
  }
};
</script>
