<template>
  <div class="container h-100">
    <div class="row row-gutter-7 h-100">
      <div id="sidebar" class="col-xl-3 col-md-4 col-xs-12 h-100">
        <div class="content-right has-box-shadow h-100">
          <!-- Nav tabs -->
          <div class="tabs-wrapper h-100">
            <b-tabs
              content-class="flex-fill"
              fill
              nav-class="on-active-white has-2-tabs has-box-shadow offers-tabs"
            >
              <!-- test -->
              <!-- v-if="window.innerWidth <= 767" -->
              <b-tab active title-link-class="border-0 poin p-0">
                <template v-if="getScreenWidth()" v-slot:title>
                  <!-- <span class="h3 m-0 text-strong">Offers</span> -->
                  <!-- v-if="window.innerWidth <= 767" -->
                  <div class="row no-gutters w-100">
                    <div class="col-12">
                      <div
                        @click="showChat('Chat')"
                        class="p-15 custom-tab"
                        v-bind:class="{ active: tabActive == 'Chat' }"
                      >
                        <span class="h3 m-0 text-strong">Chat</span>
                      </div>
                    </div>
                    <!-- <div class="col-6">
                      <div
                        @click="showChat('Offers')"
                        class="p-3 custom-tab"
                        v-bind:class="{ active: tabActive == 'Offers' }"
                      >
                        <span class="h3 m-0 text-strong">Offers</span>
                        <span class="badge badge--up badge-primary ml-1">{{
                          totalOffers
                        }}</span>
                      </div>
                    </div> -->
                  </div>
                  <!-- <span class="h3 m-0 text-strong">Chat</span>
                  <span class="h3 m-0 text-strong">Offers</span> -->
                  <!--{{totalOffers}}-->
                </template>
                <div class="tab-content__inner" v-if="tabActive == 'Chat'">
                  <!--{{chatList}}-->
                  {{ /* Not Mobile Device */ }}
                  <!-- v-if="$mq != 'mobile'" -->
                  <div>
                    <ul
                      class="candidate-jobs-listing p-2"
                      v-if="companyMembers.length > 0"
                    >
                      <!-- {{
                        companyMembers.length
                      }} -->
                      <li
                        class="cursor-pointer"
                        v-for="(item) in companyMembers"
                        :key="item.user.id"
                        @click="showNewChats(item.user)"
                        :ref="'offers_list_' + item.user.id"
                      >
                        <div class="profile-card has-hover-effect">
                          <div class="glassy-hover-effect"></div>
                          <div class="profile-card__meta">
                            <div
                              class="profile-card__meta__data profile-card__meta__data--sm d-flex align-items-center"
                            >
                              <div class="thumbnail">
                                <img
                                  class="img-fluid gaurav"
                                  v-if="item.user.image != null"
                                  :src="item.user.image"
                                  @error="imageUrlAltUser"
                                />
                                <img
                                  class="img-fluid Jain"
                                  v-else
                                  :src="imageUrlAltUser"
                                  @error="imageUrlAltUser"
                                />
                              </div>
                              <div class="inner-content">
                                <h5 v-if="item.user.company != null">
                                  {{ item.user.company.name }}
                                </h5>
                                <h5 v-else>
                                  {{ item.user.first_name }}
                                  {{ item.user.last_name }}
                                </h5>
                                <span
                                  v-if="item.unseen > 0"
                                  style="
                                    position: absolute;
                                    left: 30px;
                                    top: 15px;
                                  "
                                  class="badge badge--up badge-primary ml-1"
                                  >{{ item.unseen }}
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  {{ /* Mobile Device */ }}
                  <!-- v-if="$mq === 'mobile'" -->
                  <div v-if="$mq === 'mobile'">
                    <ul
                      class="candidate-jobs-listing p-2"
                      v-if="companyMembers.length > 0"
                    >
                      <!-- mobile view -->
                    </ul>
                  </div>
                </div>
              </b-tab>
            </b-tabs>
          </div>
        </div>
      </div>
      <!-- v-if="$mq != 'mobile'" -->
      <div class="col-xl-9 col-md-8 col-xs-12 h-100">
        <div class="content-left has-box-shadow h-100">
          <div class="empty-offers h-100" style="display: none">
            <img src="assets/images/empty-inbox.png" alt />
          </div>
          <div class="offers-content h-100" v-if="tabActive == 'Chat'">
            <div class="tabs-wrapper h-100">
              <b-tabs
                content-class="flex-fill"
                fill
                nav-class="on-active-white has-box-shadow offers-tabs custom-tabs"
              >
                <!-- chatting -->
                <b-tab active title-link-class="border-0 d-inline-flex mr-auto">
                  <template v-slot:title>
                    <span
                      v-if="!isObjEmpty(chatingWithUser) && screenWidth < 767"
                      @click="backButton()"
                    >
                      <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </span>
                    <span
                      v-if="!isObjEmpty(chatingWithUser)"
                      class="h3 m-0 text-strong"
                      @click="backButton()"
                    >
                      {{ chatingWithUser.first_name }}
                      {{ chatingWithUser.last_name }}
                    </span>
                    <span v-if="showStartChatting()" class="h3 m-0 text-strong">
                      Start Chatting
                    </span>
                  </template>
                  <div
                    class="tab-content__inner"
                    v-if="tabActive == 'Chat'"
                  >
                    {{ /* Not Mobile Device */ }}
                    <!-- v-if="$mq != 'mobile'" -->
                    <div class="d-flex flex-column h-100 chat-wrapper">
                      <div class="chatbox"></div>
                      <div
                        id="chatInner"
                        class="chatInner flex-fill p-3 chat-body has-scroll"
                        v-on:scroll.passive="handleScroll"
                      >
                        <div v-for="(item, index) in chats" :key="item.id" class="message-text-wrapper">
                          <div v-if="item.get_body.type == 1" class="d-flex">
                            <div
                              v-if="item.sender_id == userInfo.id"
                              v-bind:class="classObject(index)"
                              class="chatMessage message-text sender"
                            >
                              {{ item.get_body.message }}
                              <!-- {{ item.get_body.message }} -->
                              <div class="message-text__meta">
                                <div class="chatSeen">
                                  <img
                                    class="tickImg"
                                    v-if="
                                      item.deliver_status == 1 &&
                                      item.seen_status == 0
                                    "
                                    :src="iconsBaseUrl + 'icon-single-tick.svg'"
                                  />
                                  <img
                                    class="tickImg"
                                    v-if="item.seen_status == 1"
                                    :src="iconsBaseUrl + 'icon-double-tick.svg'"
                                  />
                                </div>
                                <div class="chatDate">
                                  {{ formateDate(item.created_at) }}
                                </div>
                              </div>
                            </div>
                            <div
                              v-else
                              v-bind:class="classObject(index)"
                              class="chatMessage message-text recieve"
                            >
                              {{ item.get_body.message }}
                              <!-- {{ item.get_body.message }} -->
                              <div class="message-text__meta">
                                <div class="chatDate">
                                  {{ formateDate(item.created_at) }}
                                </div>
                              </div>
                            </div>
                          </div>
                          <div v-if="item.get_body.type == 2" class="d-flex">
                            <div
                              v-if="item.sender_id == userInfo.id"
                              v-bind:class="classObject(index)"
                              class="chatImagesOuter message-text sender"
                            >
                              <a
                                :href="imgBaseUrl + item.get_body.message"
                                target="_blank"
                              >
                                <img
                                  class="chatImg"
                                  :src="imgBaseUrl + item.get_body.message"
                                  alt=""
                                />
                              </a>
                              <div class="message-text__meta">
                                <div class="chatSeen">
                                  <img
                                    class="tickImg"
                                    v-if="
                                      item.deliver_status == 1 &&
                                      item.seen_status == 0
                                    "
                                    :src="iconsBaseUrl + 'icon-single-tick.svg'"
                                  />
                                  <img
                                    class="tickImg"
                                    v-if="item.seen_status == 1"
                                    :src="iconsBaseUrl + 'icon-double-tick.svg'"
                                  />
                                </div>
                                <div class="chatDateImg">
                                  {{ formateDate(item.created_at) }}
                                </div>
                              </div>
                            </div>
                            <div v-else class="chatImagesOuter message-text recieve">
                              <a
                                :href="imgBaseUrl + item.get_body.message"
                                target="_blank"
                              >
                                <img
                                  class="chatImg"
                                  v-bind:class="classObject(index)"
                                  :src="imgBaseUrl + item.get_body.message"
                                  alt=""
                                />
                              </a>
                              <div class="message-text__meta">
                                <div class="chatDateImg">
                                  {{ formateDate(item.created_at) }}
                                </div>
                              </div>
                            </div>
                          </div>
                          <div v-if="item.get_body.type == 3" class="d-flex">
                            <div
                              v-if="item.sender_id == userInfo.id"
                              class="chatImagesOuter message-text sender"
                              v-bind:class="classObject(index)"
                            >
                              <a
                                :href="imgBaseUrl + item.get_body.message"
                                target="_blank"
                              >
                                <img
                                  class="chatImg"
                                  v-bind:class="classObject(index)"
                                  src="/assets/images/attached-file.svg"
                                  alt=""
                                />
                                <span style="color: #fff;">
                                  {{ item.get_body.message }}
                                </span>
                              </a>
                              <div class="message-text__meta">
                                <div class="chatSeen">
                                  <img
                                    class="tickImg"
                                    v-if="
                                      item.deliver_status == 1 &&
                                      item.seen_status == 0
                                    "
                                    :src="iconsBaseUrl + 'icon-single-tick.svg'"
                                  />
                                  <img
                                    class="tickImg"
                                    v-if="item.seen_status == 1"
                                    :src="iconsBaseUrl + 'icon-double-tick.svg'"
                                  />
                                </div>
                                <div class="chatDateImg">
                                  {{ formateDate(item.created_at) }}
                                </div>
                              </div>
                            </div>
                            <div v-else class="chatImagesOuter message-text recieve">
                              <a
                                :href="imgBaseUrl + item.get_body.message"
                                target="_blank"
                              >
                                <img
                                  class="chatImg"
                                  v-bind:class="classObject(index)"
                                  src="/assets/images/attached-file.svg"
                                  alt=""
                                />
                                <span style="color: #fff;">
                                  {{ item.get_body.message }}
                                </span>
                              </a>
                              <div class="message-text__meta">
                                <div class="chatDateImg">
                                  {{ formateDate(item.created_at) }}
                                </div>
                              </div>
                            </div>
                          </div>
                          <div v-if="item.get_body.type == 4" class="d-flex">
                            <div
                              v-if="item.sender_id == userInfo.id"
                              class="chatImagesOuter message-text sender"
                              v-bind:class="classObject(index)"
                            >
                              <a
                                :href="imgBaseUrl + item.get_body.message"
                                target="_blank"
                              >
                                <img
                                  class="chatImg"
                                  v-bind:class="classObject(index)"
                                  src="/assets/images/video-icon.svg"
                                  alt=""
                                />
                                <span style="color: #fff;">
                                  {{ item.get_body.message }}
                                </span>
                              </a>
                              <div class="message-text__meta">
                                <div class="chatSeen">
                                  <img
                                    class="tickImg"
                                    v-if="
                                      item.deliver_status == 1 &&
                                      item.seen_status == 0
                                    "
                                    :src="iconsBaseUrl + 'icon-single-tick.svg'"
                                  />
                                  <img
                                    class="tickImg"
                                    v-if="item.seen_status == 1"
                                    :src="iconsBaseUrl + 'icon-double-tick.svg'"
                                  />
                                </div>
                                <div class="chatDateImg">
                                  {{ formateDate(item.created_at) }}
                                </div>
                              </div>
                            </div>
                            <div v-else class="chatImagesOuter message-text recieve">
                              <a
                                :href="imgBaseUrl + item.get_body.message"
                                target="_blank"
                              >
                                <img
                                  class="chatImg"
                                  v-bind:class="classObject(index)"
                                  src="/assets/images/video-icon.svg"
                                  alt=""
                                />
                                <span style="color: #fff;">
                                  {{ item.get_body.message }}
                                </span>
                              </a>
                              <div class="message-text__meta">
                                <div class="chatDateImg">
                                  {{ formateDate(item.created_at) }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        v-if="!isObjEmpty(chatingWithUser)"
                        class="chatInput chat-footer"
                      >
                        <form
                          class="form-inline px-3 py-1"
                          v-on:submit.prevent="sendMessage"
                        >
                          <div
                            class="messageArea form-group p-1 flex-fill pr-3"
                          >
                            <label for="staticEmail2" class="sr-only"
                              >Email</label
                            >
                            <input
                              @change="onFileSelect($event)"
                              type="file"
                              id="fileUpload"
                            />
                            <textarea
                              id="staticEmail2"
                              name="chatArea"
                              v-model="newMessage"
                              placeholder="Type a message"
                              class="form-control-plaintext textChat p-2 chat-footer__text-area"
                              cols="30"
                              rows="2"
                              v-on:keyup.ctrl.enter.exact="addLineBreak"
                              v-on:keyup.enter.exact="sendMessage"
                            ></textarea>
                          </div>
                          <div class="side-emoji p-1">
                            <a
                              id="attachmentBtn"
                              class="btn btn--round btn--round--blue attachmentBtn mr-2"
                              @click="triggerEvent()"
                            >
                              <i class="fa fa-paperclip" aria-hidden="true"></i>
                            </a>
                            <span class="emoji-part">
                              <a
                                id="sendBtn"
                                class="btn btn--round btn--round--blue attachmentBtn emoji-cta mr-0"
                                @click="toogleDialogEmoji"
                                >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 27 27"
                                >
                                  <circle
                                    cx="13.5"
                                    cy="13.5"
                                    r="13.5"
                                    fill="#ffd93b"
                                  />
                                  <path
                                    d="M80.591,67.169A13.423,13.423,0,0,1,56.72,75.6,13.424,13.424,0,0,0,75.6,56.72,13.408,13.408,0,0,1,80.591,67.169Z"
                                    transform="translate(-53.746 -53.746)"
                                    fill="#f4c534"
                                  />
                                  <circle
                                    cx="2.107"
                                    cy="2.107"
                                    r="2.107"
                                    transform="translate(16.254 9.722)"
                                    fill="#3e4347"
                                  />
                                  <ellipse
                                    cx="0.638"
                                    cy="0.413"
                                    rx="0.638"
                                    ry="0.413"
                                    transform="matrix(-0.914, -0.405, 0.405, -0.914, 19.374, 11.531)"
                                    fill="#5a5f63"
                                  />
                                  <circle
                                    cx="2.107"
                                    cy="2.107"
                                    r="2.107"
                                    transform="translate(6.378 9.722)"
                                    fill="#3e4347"
                                  />
                                  <ellipse
                                    cx="0.638"
                                    cy="0.413"
                                    rx="0.638"
                                    ry="0.413"
                                    transform="matrix(-0.914, -0.405, 0.405, -0.914, 9.497, 11.531)"
                                    fill="#5a5f63"
                                  />
                                  <path
                                    d="M147.557,337.411a.629.629,0,0,1,.862-.916,6.772,6.772,0,0,0,9.272,0,.629.629,0,0,1,.862.916A8.032,8.032,0,0,1,147.557,337.411Z"
                                    transform="translate(-139.632 -318.69)"
                                    fill="#3e4347"
                                  />
                                </svg>
                              </a>
                              <VEmojiPicker
                                v-show="showDialog"
                                labelSearch="Search"
                                @select="onSelectEmoji"
                              />
                            </span>
                            <a
                              id="sendBtn"
                              class="btn btn--round btn--round--blue send-message-cta ml-2"
                              @click="sendMessage()"
                            >
                              <i
                                class="fa fa-paper-plane"
                                aria-hidden="true"
                              ></i>
                            </a>
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- {{ /* Mobile Device */ }} -->
                  </div>

                </b-tab>
              </b-tabs>
            </div>
          </div>
        </div>
      </div>
    </div>
    <notifications group="foo" position="bottom right" />
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import config from "../config/config";
import _ from "lodash";
import Vue from "vue";
import $ from "jquery";
import VEmojiPicker from "v-emoji-picker";
import moment from "moment";
// import * as io from "socket.io-client";
// import VueSocketIO from "vue-socket.io";

export default {
  name: "CompanyMessage",
  sockets: {
    connect: function () {
      //   console.log("user connect");
      // const userInfo = JSON.parse(localStorage.getItem("userInfo"));
      // console.log(userInfo, "user info");
      this.$socket.client.emit("user_connected", this.userInfo.id);
    },
    ["private-channel:App\\Events\\PrivateMessageEvent"]: function (message) {
      console.log("message recieved company =>", message);
      const { receiver_id, sender_id, message_id, conversation_id } = message;
      if (message.created_at && message.created_at != "") {
        let date = message.created_at.split(" ");
        if (date.length > 1) {
          message.created_at = date[0] + "T" + date[1] + "+00:00";
        }
      }
      if (!this.isObjEmpty(this.chatingWithUser)) {
        if (
          this.userInfo.id == receiver_id &&
          this.chatingWithUser.id == sender_id
        ) {
          const isIn = this.chats.some((el) => el.message_id === message_id);
          if (!isIn) {
            this.chats.push(message);
            this.updateSeenStatus(message.conversation_id, true);
            this.scrollToBottom("#chatInner");
          }
        }
      } else {
        if (this.userInfo.id == receiver_id) {
          const userList = this.companyMembers;
          for (const el of userList) {
            if (el.conversation_id === conversation_id) {
              el.unseen += 1;
              this.companyMembers = this.companyMembers.filter(
                (it) => it.id !== el.id
              );
              this.companyMembers.unshift(el);
            }
          }
          //   console.log("users =>", this.companyMembers);
        }
      }
    },
    "message-seen-channel": function (message) {
      //   console.log("message seen =>", message);
      if (!this.isObjEmpty(this.chatingWithUser)) {
        for (const it of message) {
          //   console.log("message seen =>", it);
          const { id } = this.chatingWithUser;
          if (it.sender_id === this.userInfo.id && it.receiver_id === id) {
            let seenMessage = this.chats.filter(
              (el) => el.message_id === it.message_id
            );
            seenMessage[0].seen_status = 1;
            this.chats = this.chats.filter(
              (el) => el.message_id !== seenMessage[0].message_id
            );
            this.chats.push(seenMessage[0]);
          }
        }
      }
    },
  },
  data() {
    return {
      newOffer: "new-offer",
      offersList: [],
      offerMessage: [],
      message: null,
      applicantId: null,
      job: [],
      company: [],
      user: [],
      industry: [],
      businessType: [],
      country: [],
      state: [],
      city: [],
      candidate: [],
      companyDetail: [],
      oldCompany: [],
      jobOffer: "",
      alreadyMember: "",
      removeCompany: "",
      totalOffers: 0,
      result: [],
      bus: new Vue(),
      defaultCompanyIcon: "/assets/images/company-placeholder.png",
      countryName: "India",
      tabActive: "Chat",
      companyData: localStorage.getItem("companyData")
        ? JSON.parse(localStorage.getItem("companyData"))
        : "",
      companyMembers: [],
      userInfo: localStorage.getItem("userInfo")
        ? JSON.parse(localStorage.getItem("userInfo"))
        : "",
      chatingWithUser: {},
      newMessage: "",
      chats: [],
      imgBaseUrl: config.imagesURL + "uploads/",
      iconsBaseUrl: config.imagesURL + "icons/",
      showDialog: false,
      totalChats: 0,
      currentPage: 1,
      lastPage: 0,
      screenWidth: window.innerWidth,
      hasEntered: false,
      messageWithLineBreak: "",
      // jobOfferList:[],
      // this.$store.getters.jobOfferList:'',
    };
  },

  created() {
    this.getCompanyMember(this.$store.getters.userData.id);
  },

  mounted() {
    if (window.innerWidth <= 767) {
      $(".chat-and-offers").addClass("d-none");
      $(".nav-tabs").addClass("d-none");
    }
    window.addEventListener("resize", () => {
      const width = window.innerWidth;
      this.screenWidth = width;
      if (width <= 767) {
        $(".startChatting").addClass("d-none");
        if (this.isObjEmpty(this.chatingWithUser)) {
          $("#sidebar").addClass("d-none");
        }
      }
    });
  },

  methods: {
    imageUrlAlt(event) {
      event.target.src = "assets/images/company-placeholder.png";
    },

    classObject(index) {
      const width = window.innerWidth;
      if (width <= 768) {
        if (index == this.chats.length - 1) {
          return {
            "mb-60": true,
          };
        }
      }
    },

    formateDate(date) {
      const res = date.split(" ");
      if (moment().isSame(res[0], "day")) {
        return moment(date).format("hh:mm A");
      } else {
        return moment(date).format("MMM Do YYYY");
      }
    },

    imageUrlAltUser(event) {
      event.target.src = "assets/images/user-placeholder.png";
    },

    isObjEmpty(obj) {
      return Object.keys(obj).length === 0;
    },

    addLineBreak() {
      this.hasEntered = true;
      let message = this.newMessage;
      this.messageWithLineBreak = this.messageWithLineBreak + message + "\n";
      // console.log("new message", this.messageWithLineBreak);
    },

    handleScroll(e) {
      if (e.target.scrollTop === 0) {
        if (this.currentPage != this.lastPage) {
          e.target.scrollTop = 50;
          this.currentPage += 1;
          this.showChats(this.chatingWithUser);
        }
      }
    },

    scrollToBottom(id) {
      const scrollHeight = $(id)[0].scrollHeight * 100;
      $(id).stop().animate({ scrollTop: scrollHeight }, 1000);
    },

    showNewChats(user) {
      this.currentPage = 1;
        console.log("screen width =>", this.screenWidth, window.innerWidth);
      if (window.innerWidth <= 767) {
        $("#sidebar").addClass("d-none");
        $(".nav-tabs").removeClass("d-none");
      }
      this.showChats(user);
    },

    showStartChatting() {
      if (window.innerWidth >= 767 && this.isObjEmpty(this.chatingWithUser)) {
        return true;
      } else {
        return false;
      }
    },

    getScreenWidth() {
      const width = window.innerWidth;
      if (width >= 767) {
        return true;
      } else {
        return false;
      }
    },

    backButton() {
      const width = window.innerWidth;
      if (width < 767) {
        this.currentPage = 1;
        this.chatingWithUser = {};
        $("#sidebar").removeClass("d-none");
        $(".nav-tabs").addClass("d-none");
        this.chats = [];
      }
    },

    async getCompanyMember(id) {
      return await axios
        .get(`${config.apiURL}getCompanyMembers/${id}`)
        .then((response) => {
          this.companyMembers = response.data;
          this.companyMembers = this.companyMembers.filter((el) => {
            el.user.id != this.userInfo.id;
            if (
              this.$route.params &&
              this.$route.params.id &&
              el.user.id == this.$route.params.id
            ) {
              this.showChats(el.user);
            }
            return el;
          });
        })
        .catch((err) => {
          console.log("getCompanyMember => ", err);
        });
    },

    showChats(user, isNew = false) {
      this.chatingWithUser = user;
      const senderId = this.userInfo.id;
      const recieverId = user.id;
      if (isNew) {
        this.currentPage = 1;
      }
      const url = `${config.apiURL}getAllChats/${senderId}/${recieverId}?page=${this.currentPage}`;
      axios
        .get(url)
        .then((res) => {
          const { data, current_page, total, last_page } = res.data.chat;
          if (data.length > 0) {
            const conversationId = data[0].conversation_id;
            this.updateSeenStatus(conversationId);
            for (const it of data) {
              if (it.seen_status === 0) {
                it.seen_status = 1;
              }
            }
            if (current_page === 1) {
              this.chats = data.reverse();
              this.currentPage = current_page;
              this.totalChats = total;
              this.lastPage = last_page;
              this.scrollToBottom("#chatInner");
            } else {
              const oldChats = data;
              for (const it of oldChats) {
                this.chats.unshift(it);
              }
            }
            // console.log("chat => ", this.chats);
          }
        })
        .catch((err) => {
          console.log("chat err => ", err);
        });
    },

    async updateSeenStatus(conversationId, isTabOpen = false) {
      const chatUser = this.companyMembers.filter(
        (el) => el.conversation_id === conversationId
      );
      const chatter = chatUser[0];
      if (chatter.unseen > 0 || isTabOpen === true) {
        const url = `${config.apiURL}updateSeenStatus/${conversationId}`;
        try {
          const res = await axios.get(url);
          chatter.unseen = 0;
          this.companyMembers = this.companyMembers.filter(
            (it) => it.conversation_id !== chatter.conversation_id
          );
          this.companyMembers.unshift(chatter);
        } catch (err) {
          console.log("seen status error =>", err);
        }
      }
    },

    async sendMessage() {
      if (this.hasEntered === true) {
        this.newMessage = this.messageWithLineBreak;
      }
      const messageObj = {
        message: this.newMessage,
        sender_id: this.userInfo.id,
        receiver_id: this.chatingWithUser.id,
      };
      if (messageObj.message != "") {
        try {
          const opt = {
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
          };
          const url = `${config.apiURL}saveMessage`;
          const res = await axios.post(url, messageObj, opt);
          this.chats.push(res.data.newMessage);
          this.newMessage = "";
          this.messageWithLineBreak = "";
          this.hasEntered = false;
          this.showDialog = false;
          this.scrollToBottom("#chatInner");
        } catch (err) {
          console.log(err);
        }
      } else {
        console.log("message body is empty !", this.newMessage);
      }
    },

    async onFileSelect($event) {
      const file = $event.target.files[0];
      const fileTypeArr = file.type.split("/");
      const [fileType] = fileTypeArr;
      let formData = new FormData();
      formData.append("sender_id", this.userInfo.id);
      formData.append("receiver_id", this.chatingWithUser.id);
      switch (fileType) {
        case "video":
          formData.append("type", 4);
          break;
        case "application":
          formData.append("type", 3);
          break;
        case "image":
          formData.append("type", 2);
          break;
        default:
          formData.append("type", 1);
          break;
      }
      formData.append("file", file);
      try {
        const opt = { headers: { Accept: "application/json" } };
        const url = `${config.apiURL}saveMessageWithFile`;
        const res = await axios.post(url, formData, opt);
        this.chats.push(res.data.newMessage);
        this.newMessage = "";
        this.showDialog = false;
        this.scrollToBottom("#chatInner");
      } catch (err) {
        console.log("Error => ", err);
      }
    },

    triggerEvent() {
      $("#fileUpload").click();
    },

    selectEmoji() {
      console.log("select emoji !");
    },

    toogleDialogEmoji() {
      this.showDialog = !this.showDialog;
    },

    onSelectEmoji(dataEmoji) {
      this.newMessage += dataEmoji.data;
    },

    logout() {
      this.$store.dispatch("logout").then((resp) => {
        this.$router.push("/");
      });
    },
  },

  computed: {
    ...mapGetters([
      "isLoggedIn",
      "isCandidate",
      "candidateData",
      "userData",
      "jobOfferList",
    ]),
  },
};
</script>
<style scoped>
.borderBottom {
  border-bottom: 2px solid #00acee;
}
.chatImg {
  height: auto;
  width: auto;
  text-align: center;
}

.sender {
  margin-left: auto;
  color: #fff;
}

.recieve {
  background: #4488d5;
  margin-right: auto;
  color: #fff;
}

#fileUpload {
  display: none;
}

.chatInput {
  border-top: solid 1px #ddd;
}

.side-emoji {
  position: relative;
}

.chatInput div#EmojiPicker {
  position: absolute;
  bottom: 80px;
  display: block;
  width: 450px;
  right: 0px;
  height: 300px;
}

@media only screen and (max-width: 1080px) {
  .messageArea {
    width: 75%;
  }
}

@media only screen and (max-width: 870px) {
  .messageArea {
    width: 70%;
  }
}

@media only screen and (max-width: 870px) {
  body .h-100 {
    height: auto !important;
  }
}

@media only screen and (max-width: 767px) {
  .h-100 {
    height: auto !important;
  }
  .offers-content .tabs-wrapper .tabs {
    flex-direction: column;
  }
  div#sidebar .nav-tabs {
    display: none !important;
  }
  div#chatInner {
    height: calc(100vh - 120px);
  }

  .chatInput .messageArea {
    margin: 0px;
    width: 59%;
  }
  div#startChatting .tab-content__inner {
    position: relative;
    height: auto;
  }
  .mb-60 {
    margin-bottom: 60px;
  }
  .hide {
    display: none;
  }
}
</style>

// npm install socket.io-client
