<template>
  <div class="container h-100">
    <div class="row row-gutter-7 h-100">
      <div class="col-xl-9 col-md-8 h-100">
        <div class="content-left content-wrapper has-box-shadow h-100">
          <header
            class="user-meta user-meta--home-page"
            :class="showUserHeader(3)"
          >
            <div class="user-meta__inner d-flex align-items-center">
              <div class="user-meta__thumbnail mx-auto">
                <img
                  v-if="userdp"
                  class="img-fluid rounded-circle"
                  :src="userdp"
                  @error="imageUrlAlt"
                />
                <img
                  v-else
                  src="/assets/images/company-placeholder.png"
                  @error="imageUrlAlt"
                />

                <a
                  href="#"
                  class="image-upload-control"
                  @click="$refs.file.click()"
                >
                  <input
                    type="file"
                    ref="file"
                    @change="uploadImage($event)"
                    accept="image/*"
                    style="display: none"
                  />
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="15.098"
                    height="13.085"
                    viewBox="0 0 15.098 13.085"
                  >
                    <g id="photo-camera" transform="translate(0 -36.54)">
                      <g
                        id="Group_3"
                        data-name="Group 3"
                        transform="translate(0 36.54)"
                      >
                        <path
                          id="Path_3"
                          data-name="Path 3"
                          d="M14.508,39.143a1.94,1.94,0,0,0-1.423-.59H11.324l-.4-1.069a1.461,1.461,0,0,0-.547-.665,1.4,1.4,0,0,0-.814-.279H5.536a1.4,1.4,0,0,0-.814.279,1.461,1.461,0,0,0-.546.665l-.4,1.069H2.013a1.94,1.94,0,0,0-1.423.59A1.939,1.939,0,0,0,0,40.566v7.046a1.939,1.939,0,0,0,.59,1.423,1.939,1.939,0,0,0,1.423.59H13.085A2.014,2.014,0,0,0,15.1,47.612V40.566A1.939,1.939,0,0,0,14.508,39.143Zm-4.471,7.435a3.393,3.393,0,0,1-2.489,1.034A3.393,3.393,0,0,1,5.06,46.578a3.512,3.512,0,0,1,0-4.978,3.392,3.392,0,0,1,2.489-1.034A3.393,3.393,0,0,1,10.038,41.6a3.512,3.512,0,0,1,0,4.978Z"
                          transform="translate(0 -36.54)"
                          fill="currentColor"
                        />
                        <path
                          id="Path_4"
                          data-name="Path 4"
                          d="M194.121,228.4a2.269,2.269,0,1,0,1.6.665A2.181,2.181,0,0,0,194.121,228.4Z"
                          transform="translate(-186.572 -223.119)"
                          fill="currentColor"
                        />
                      </g>
                    </g>
                  </svg>
                </a>
                <b-modal
                  id="company-dp-modal"
                  centered
                  title="Upload image"
                  :no-close-on-backdrop="true"
                >
                  <Cropper
                    classname="upload-example-cropper"
                    :src="image"
                    ref="cropper"
                    stencilComponent="circle-stencil"
                    :stencilProps="{
                      previewClassname: 'preview',
                    }"
                  />
                  <template slot="modal-footer" slot-scope="{ ok, cancel }">
                    <b-button variant="danger min-w-125" @click="cancel()"
                      >Cancel</b-button
                    >
                    <b-button variant="primary min-w-125" @click="crop"
                      >Save</b-button
                    >
                  </template>
                </b-modal>
              </div>
              <div class="user-meta__content flex-fill">
                <h2 class="text-overflow" v-if="companyData.name">
                  {{ companyData.name }}
                </h2>
                <div class="row" v-if="$mq != 'mobile'">
                  <div class="col-xl-6">
                    <div class="row row-gutter-7 user-meta__content__row">
                      <div class="col-xl-4 col-md-5 col-5 text-semibold">
                        Industry
                      </div>
                      <div
                        class="col-xl-8 col-md-7 col-7"
                        id="myId"
                        ref="myId"
                        v-if="companyData.industry"
                      >
                        {{ companyData.industry.name }}
                      </div>
                    </div>
                    <div class="row row-gutter-7 user-meta__content__row">
                      <div class="col-xl-4 col-md-5 col-5 text-semibold">
                        Location
                      </div>
                      <div
                        class="col-xl-8 col-md-7 col-7"
                        v-if="userData.country"
                      >
                        {{ userData.country.name }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="row row-gutter-7 user-meta__content__row">
                      <div class="col-xl-4 col-md-5 col-5 text-semibold">
                        Established In
                      </div>
                      <div
                        class="col-xl-8 col-md-7 col-7"
                        v-if="companyData.establish_date"
                      >
                        {{ companyData.establish_date | getDateYear }}
                      </div>
                    </div>
                    <div class="row row-gutter-7 user-meta__content__row">
                      <div class="col-xl-4 col-md-5 col-5 text-semibold">
                        # of Employees
                      </div>
                      <div
                        class="col-xl-8 col-md-7 col-7"
                        v-if="companyData.total_employees"
                      >
                        {{ companyData.total_employees }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="tabs-wrapper">
            <b-tabs
              content-class="flex-fill has-tour"
              fill
              nav-class="on-active-white tabs-small has-4-tabs fixed-bottom-sm"
              v-model="tabIndex"
              ref="companyTabs"
            >
              <b-tab title="Home" active>
                <template v-slot:title>
                  <span class="nav-item__text" data-v-step="2"> Dash </span>
                </template>
                <div class="tab-content__inner">
                  <home-component></home-component>
                </div>
              </b-tab>
              <b-tab title="Search">
                <template v-slot:title>
                  <span class="nav-item__text" data-v-step="3"> Search </span>
                </template>
                <div class="tab-content__inner position-relative has-loading">
                  <search-component></search-component>
                </div>
              </b-tab>
              <b-tab
                title="Profile"
                v-if="$mq != 'mobile'"
                @click="resizeTextArea"
              >
                <template v-slot:title>
                  <span class="nav-item__text" data-v-step="4"> Profile </span>
                </template>
                <div class="tab-content__inner">
                  <home-profile-component :bus="bus"></home-profile-component>
                </div>
              </b-tab>
              <!--<b-tab title="Applicants" v-if="$mq === 'mobile'">-->
              <!--<div class="tab-content__inner home-applicant-tab">-->
              <!--<company-sidebar-component></company-sidebar-component>-->
              <!--</div>-->
              <!--</b-tab>-->
              <b-tab title="Info">
                <template v-slot:title>
                  <span class="nav-item__text" data-v-step="5"> Info </span>
                </template>
                <div class="tab-content__inner">
                  <update-profile-component></update-profile-component>
                </div>
              </b-tab>
            </b-tabs>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 h-100" v-if="$mq != 'mobile'">
        <company-sidebar-component></company-sidebar-component>
      </div>
    </div>
    <candidate-resume-modal-component :bus="bus" />
    <!--<candidate-resume-modal-component :bus="bus"/>-->
    <notifications group="foo" position="bottom right" />
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { Cropper } from "vue-advanced-cropper";
import config from "../config/config";
import CandidateResumeModalComponent from "../components/company/CandidateResumeModalComponent";
import HomeComponent from "../components/company/HomeComponent.vue";
import SearchCandidate from "../components/company/SearchComponent.vue";
import UpdateProfile from "../components/company/UpdateProfileComponent.vue";
import CompanySidebar from "../components/company/CompanySidebarComponent.vue";
import HomeProfileComponent from "../components/company/HomeProfileComponent";
import Avatar from "vue-avatar";

export default {
  name: "CompanyComponent",
  components: {
    HomeProfileComponent,
    CandidateResumeModalComponent,
    "home-component": HomeComponent,
    "update-profile-component": UpdateProfile,
    "search-component": SearchCandidate,
    "company-sidebar-component": CompanySidebar,
    Cropper,
    Avatar,
  },
  data() {
    return {
      image: null,
      userdp: null,
      tabIndex: 0,
      window: {
        width: 0,
      },
      bus: new Vue(),
    };
  },
  created: function () {
    this.getProfileDp();
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  mounted() {
    this.userdp = this.$store.getters.userData.image;
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCompany", "companyData", "userData"]),
  },
  methods: {
    resizeTextArea() {
      this.bus.$emit("resizeTextArea");
    },
    imageUrlAlt(event) {
      event.target.src = "assets/images/company-placeholder.png";
    },
    getProfileDp: function () {
      axios.get(config.apiURL + "getProfileImage/").then(
        function (response) {
          // console.log("New Response: "+response.data);
          // console.log("Store Image: "+this.$store.getters.userData.image);
          if (this.$store.getters.userData.image != response.data) {
            this.userdp = response.data;
            this.$store.getters.userData.image = response.data;
          }
        }.bind(this)
      );
    },
    profileTab() {
      console.log("Call profile tab");
      console.log("Get Ref Values: " + JSON.stringify(this.$refs));
    },
    uploadImage(event) {
      // Reference to the DOM input element
      var input = event.target;
      // Ensure that you have a file before attempting to read it
      if (input.files && input.files[0]) {
        // create a new FileReader to read this image and convert to base64 format
        var reader = new FileReader();
        // Define a callback function to run, when FileReader finishes its job
        reader.onload = (e) => {
          // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
          // Read image as base64 and set to imageData
          this.image = e.target.result;
          this.$bvModal.show("company-dp-modal");
        };
        // Start the reader job - read file as a data url (base64 format)
        reader.readAsDataURL(input.files[0]);
      }
    },
    crop() {
      this.$notify({
        group: "foo",
        type: "warning",
        // title: "Important message",
        text: "Uploading image ...",
      });
      const { coordinates, canvas } = this.$refs.cropper.getResult();
      this.coordinates = coordinates;
      // You able to do different manipulations at a canvas
      // but there we just get a cropped image
      this.$bvModal.hide("company-dp-modal");
      let newDp = canvas.toDataURL();
      let formData = new FormData();
      formData.append("file", newDp);
      formData.append("user_id", this.$store.getters.userData.id);
      axios
        .post(config.apiURL + "saveImage", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then((response) => {
          this.userdp = canvas.toDataURL();
          this.$store.dispatch("updateUser", response.data);
          this.$notify({
            group: "foo",
            type: "success",
            // title: "Important message",
            text: "Profile picture updated.",
          });
        })
        .catch(function () {
          this.$notify({
            group: "foo",
            type: "error",
            // title: "Important message",
            text: "Unable to upload image, Please try again...",
          });
        });
    },
    handleResize() {
      this.window.width = window.innerWidth;
    },
    showUserHeader(idx) {
      if (this.tabIndex === idx) {
      } else {
        if (this.window.width <= 767) {
          return ["d-none"];
        }
      }
    },
  },
};
</script>
