<template>
  <div class="page-content-wrapper">
    <div class="top-banner">
      <div class="container">
        <h1 class="text-strong">How OneCrate</h1>
        <h2 class="text-strong h1">Works for Companies</h2>
      </div>
    </div>
    <div class="container">
      <div class="content-wrapper">
        <div class="row align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">
                Build your job description database...
              </h2>

              <h4>
                Access over 9000 job description examples and with auto-fill,
                quickly build your job description portfolio. Smarten your jobs
                with OneCrate's job description manager, making them dynamic and
                search enhanced.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__build-database.svg"
              />
            </div>
          </div>
        </div>
        <div class="row flex-row-reverse align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">
                Create your interactive org platform (ISOP)...
              </h2>
              <h4>
                Increase engagement between people and teams by granting access
                to searchable information that makes them feel more connected to
                each other and your organization.
              </h4>

              <div class="btn-wrap mt-4">
                <router-link to="/landing-company-isop" class="btn btn-primary"
                  >Learn more about ISOP</router-link
                >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__company-isop.svg"
              />
            </div>
          </div>
        </div>
        <div class="row align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">
                Showcase your company profile...
              </h2>
              <h4>
                Showcase your employer brand by customizing what candidates see
                about your company, helping them quickly understand your culture
                and what you do.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__showcase.svg"
              />
            </div>
          </div>
        </div>
        <div class="row flex-row-reverse align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">
                Invite your existing employees...
              </h2>
              <h4>
                Quickly and easily invite your existing employees to your ISOP.
                Candidate data is managed in their personal accounts cutting to
                zero the time you need to collect information on existing or
                future employees.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__existing-employees.svg"
              />
            </div>
          </div>
        </div>

        <div class="row align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">
                Post your jobs to multiple sites...
              </h2>
              <h4>
                Toggle your jobs online with a few clicks, with automatic
                distribution through several aggregators of your choosing. Share
                your jobs on social media or pass direct links to individuals.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center" 
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__post-jobs.svg"
              />
            </div>
          </div>
        </div>

        <div class="row flex-row-reverse align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">
                Explore your candidates...
              </h2>
              <h4>
                OneCrate's simple applicant tracking system will have you
                filtering and chatting with candidates in no time. Offer jobs
                and have candidates automatically added to your ISOP where they
                can quickly get to know everyone.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="img-wrapper text-center"
              data-aos="fade-up"
              data-aos-duration="800"
            >
              <img
                src="assets/images/illustrations/illustration__explore-candidates.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="register-cta">
      <div class="container text-center">
        <h2 class="h1">Try OneCrate Free</h2>
        <h3 class="my-3">Begin your journey with OneCrate.</h3>
        <div class="primary-separator--sm"></div>
        <div class="btn-wrap mt-3">
          <router-link to="/" class="btn btn-primary btn-primary--solid">Get Started</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CompaniesLanding",
};
</script>
