<template>
  <div class="page-content-wrapper">
    <div class="top-banner">
      <div class="container">
        <h1 class="text-strong">Interactive Social</h1>
        <h2 class="text-strong h1">Org Platform (ISOP)</h2>
      </div>
    </div>
    <!-- <div class="general-banner py-5">
      <div class="container">
        <h2 class="text-center mx-auto">
          <span class="text-primary d-block"
            >An employee directory with job descriptions</span
          >
          linked directly to a chat enabled interactive orgchart.
        </h2>
        <img
          src="assets/images/illustrations/illustration__company-isop-general.svg"
        />
      </div>
    </div> -->
    <div class="content-wrapper content-wrapper--isop">
      <div class="container">
        <div class="row align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">Rapidly build your org chart...</h2>
              <h4>
                Make it easier for everyone to get to know colleagues by sharing
                the structure of your company showing who does what and who
                reports to who. All information is coming from existing data
                sources...no need for painstaking data entry!
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-wrapper text-center" data-aos="fade-up" data-aos-duration="800">
              <img
                src="assets/images/illustrations/illustration__company-isop-rapid.svg" style="max-width: 550px;"
              />
            </div>
          </div>
        </div>
        <!-- <div class="row align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">Zero maintenance (almost)...</h2>
              <h4>
                OneCrate candidate accounts are linked directly to your company
                ISOP when candidates become employees, automatically sharing
                necessary employee information and resumes...no need of tedious
                candidate information updates.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-wrapper text-center" data-aos="fade-up" data-aos-duration="800">
              <img
                src="assets/images/illustrations/illustration__company-isop-maintenance.svg"
              />
            </div>
          </div>
        </div> -->
        <div class="row flex-row-reverse align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">Job opening visibility...</h2>
              <h4>
                Positions toggled online can be seen by all members of your
                company showing them growth and promotion opportunities. Job
                descriptions can be viewed whether positions are available or
                not enabling employees to plan career paths and prepare ahead of
                time.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-wrapper text-center" data-aos="fade-up" data-aos-duration="800">
              <img
                src="assets/images/illustrations/illustration__company-isop-job-opening.svg"
              />
            </div>
          </div>
        </div>
        <div class="row align-items-center py-5">
          <div class="col-md-6">
            <div class="content-box" data-aos="fade-right" data-aos-delay="400">
              <h2 class="text-strong h1 mb-3">Search...</h2>
              <h4>
                Names, job titles, skills, interests, location...learning about
                employees is quick and easy.
              </h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-wrapper text-center" data-aos="fade-up" data-aos-duration="800">
              <img
                src="assets/images/illustrations/illustration__candidates-isop-search.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="register-cta">
      <div class="container text-center">
        <h2 class="h1">Easy Fast Clean</h2>
        <h3 class="my-3">Try OneCrate Free</h3>
        <div class="primary-separator--sm"></div>
        <div class="btn-wrap mt-3">
          <router-link to="/" class="btn btn-primary btn-primary--solid">Sign Up</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CompanyISOPLanding",
};
</script>
