<template>
  <div class="has-scroll h-100">
    <div class="container h-100">
      <div class="white-box-wrapper d-flex flex-column">
        <div class="py-3 px-md-3 m-auto">
          <div class="white-box white-box--md congrats-wrapper my-0">
            <div class="col-12">
              <div class="congrates-header text-align-center">
                <h3 class="mb-3 congrats-header-title font-bold color-primary">
                  Welcome to OneCrate
                </h3>
                <h5 class="mb-3 congrats-header-content text-left">
                  Before you get started let's make sure all your information is
                  up to date.
                </h5>
              </div>
            </div>

            <form
              action="#"
              method="post"
              ref="testing_form"
              @submit.prevent="submit"
            >
              <div class="col-12 col-xl-12 mb-xl-0 mb-6">
                <h5 class="color-primary mb-1 mt-3">Location</h5>

                <div
                  class="row form-group no-gutters cols-padding-0"
                  :class="{ 'form-group--error': $v.country.$error }"
                >
                  <div class="col-xl-5 col-lg-12 col-md-5">
                    <label for="country" class="form-control-label"
                      >Country*</label
                    >
                  </div>
                  <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                    <input
                      type="hidden"
                      name="country_id"
                      id="country_id"
                      ref="country_id"
                      v-model.trim="$v.country.$model.id"
                      value
                    />
                    <v-select
                      name="country"
                      id="country"
                      class="form-control"
                      label="name"
                      :options="countries"
                      v-model.trim="$v.country.$model"
                      @input="getStates($v.country.$model.id)"
                      @blur="setCountry($event.target.value)"
                      placeholder="Select Country"
                    ></v-select>
                  </div>
                </div>
                <div
                  class="row form-group no-gutters cols-padding-0"
                  :class="{ 'form-group--error': $v.state.$error }"
                >
                  <div class="col-xl-5 col-lg-12 col-md-5">
                    <label for="state" class="form-control-label">State*</label>
                  </div>
                  <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                    <input
                      type="hidden"
                      name="state_id"
                      id="state_id"
                      ref="state_id"
                      v-model.trim="$v.state.$model.id"
                      value
                    />
                    <v-select
                      name="state"
                      id="state"
                      class="form-control"
                      label="name"
                      :options="states"
                      v-model.trim="$v.state.$model"
                      @input="getCities($v.state.$model.id)"
                      @blur="setState($event.target.value)"
                      placeholder="Select State"
                    ></v-select>
                  </div>
                </div>
                <div
                  class="row form-group no-gutters cols-padding-0"
                  :class="{ 'form-group--error': $v.city.$error }"
                >
                  <div class="col-xl-5 col-lg-12 col-md-5">
                    <label for="city" class="form-control-label">City*</label>
                  </div>
                  <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                    <input
                      type="hidden"
                      name="city_id"
                      id="city_id"
                      ref="city_id"
                      v-model.trim="$v.city.$model.id"
                      value
                    />
                    <v-select
                      name="city"
                      id="city"
                      class="form-control"
                      label="name"
                      :options="cities"
                      v-model.trim="$v.city.$model"
                      @blur="setCity($event.target.value)"
                      placeholder="Select City"
                    ></v-select>
                  </div>
                </div>
                <div class="row form-group no-gutters cols-padding-0">
                  <div class="col-xl-5 col-lg-12 col-md-5">
                    <label for="address" class="form-control-label"
                      >Address</label
                    >
                  </div>
                  <div class="col-xl-7 col-lg-12 col-md-7">
                    <vue-google-autocomplete
                      ref="address"
                      id="addr"
                      name="address"
                      class="form-control cus-pl-20"
                      :value="address"
                      v-on:placechanged="getAddressData"
                    ></vue-google-autocomplete>
                  </div>
                </div>
              </div>

              <div class="col-12 col-xl-12 mb-xl-0 mb-3">
                <h5 class="color-primary mb-1 mt-3">Qualification</h5>

                <div
                  class="row form-group no-gutters cols-padding-0"
                  :class="{ 'form-group--error': $v.qualification_id.$error }"
                >
                  <div class="col-xl-5 col-lg-12 col-md-5">
                    <label for="qualification" class="form-control-label"
                      >Qualification*</label
                    >
                  </div>
                  <div class="col-xl-7 col-lg-12 col-md-7 input-wrapper">
                    <input
                      type="hidden"
                      name="qualification"
                      id="qualification"
                      ref="qualification"
                      v-model.trim="$v.qualification_id.$model.name"
                      value
                    />
                    <v-select
                      name="qualification_id"
                      id="qualification_id"
                      label="name"
                      class="form-control"
                      :options="qualifications"
                      v-model.trim="$v.qualification_id.$model"
                      @blur="setQualification($event.target.value)"
                      placeholder="Select Qualification"
                    ></v-select>
                  </div>
                </div>
              </div>

              <div class="col-12 col-xl-12 mb-xl-0 mb-3">
                <h5 class="color-primary mb-1 mt-3">
                  Expertise, Field of Study, or Interest
                </h5>

                <div
                  class="row form-group no-gutters cols-padding-0"
                  :class="{ 'form-group--error': $v.field_of_study.$error }"
                >
                  <div class="col-xl-5 col-lg-12 col-md-5">
                    <label for="field_of_study" class="form-control-label"
                      >Expertise*</label
                    >
                  </div>
                  <div
                    class="col-xl-7 col-lg-12 col-md-7 input-wrapper input-wrapper--has-search"
                  >
                    <input
                      type="hidden"
                      name="field_of_study_id"
                      id="field_of_study_id"
                      ref="field_of_study_id"
                      value
                    />
                    <vue-bootstrap-typeahead
                      :data="skillsList"
                      v-model="field_of_study"
                      id="field_of_study"
                      class="form-control cus-pl-10 has-search-icon"
                      ref="field_of_study"
                      :serializer="(s) => s.name"
                      placeholder="Expertise"
                      @hit="selectedSkill = $event"
                    ></vue-bootstrap-typeahead>
                  </div>
                </div>
              </div>

              <div class="col-12 col-xl-12">
                <h5 class="color-primary mb-1 mt-3">Gender</h5>
                <div
                  class="row form-group no-gutters cols-padding-0"
                  :class="{ 'form-group--error': $v.gender.$error }"
                >
                  <div class="col-xl-5 col-lg-12 col-md-5">
                    <label for="genderInput" class="form-control-label"
                      >Gender*</label
                    >
                  </div>
                  <div class="col-xl-7 col-lg-12 col-md-7">
                    <input
                      type="hidden"
                      name="gender"
                      id="gender"
                      ref="gender"
                      v-model.trim="$v.gender.$model"
                      value
                    />
                    <v-select
                      name="gender"
                      id="gender"
                      label="name"
                      class="form-control"
                      :options="genders"
                      v-model.trim="$v.gender.$model"
                      @blur="setGender($event.target.value)"
                      placeholder="Select Gender"
                    ></v-select>
                  </div>
                </div>
              </div>

              <div class="col-12 col-xl-12">
                <h5 class="color-primary mb-1 mt-3">Date of Birth</h5>
                <div
                  class="row form-group no-gutters cols-padding-0"
                  :class="{ 'form-group--error': $v.dob.$error }"
                >
                  <div class="col-xl-5 col-lg-12 col-md-5">
                    <label for="genderInput" class="form-control-label"
                      >Date of Birth*</label
                    >
                  </div>
                  <div class="col-xl-7 col-lg-12 col-md-7">
                    <date-picker
                      class="placeholder-black"
                      type="date"
                      :format="format.token"
                      name="dob"
                      v-model.trim="$v.dob.$model"
                      @blur="setDOB($event.target.value)"
                      :value="$v.dob.$model"
                      :placeholder="$v.dob.$model"
                    >
                    </date-picker>
                  </div>
                </div>
              </div>

              <div class="row form-group no-gutters cols-padding-0">
                <div class="col-12">
                  <button
                    class="btn btn-primary btn-md float-right"
                    @click.prevent="submit"
                  >
                    <span
                      v-bind="{ isLoading, cloadingstatus }"
                      v-if="isLoading == true"
                      class="spinner-border spinner-border--md spinner-border--in-button"
                    ></span>
                    Update
                  </button>
                </div>
              </div>
            </form>
            <notifications group="foo" position="bottom right" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import vSelect from "vue-select";
import ButtonSpinner from "vue-button-spinner";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
import config from "../config/config";
import alertService from "../components/utils/alertService";
import VueGoogleAutocomplete from "vue-google-autocomplete";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";
import _ from "lodash";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs,
} from "vuelidate/lib/validators";
export default {
  name: "WelcomeComponent",
  components: {
    vSelect,
    VueBootstrapTypeahead,
    button_spinner: ButtonSpinner,
    VueGoogleAutocomplete,
    DatePicker,
  },
  data() {
    return {
      format: {
        token: "MM/DD/YYYY",
      },
      errors: [],
      countries: [],
      states: [],
      cities: [],
      qualifications: [],
      field_of_study_id: "",
      expertise: "",
      expertiselist: [],
      countryvalue: "",
      userCurrentEmail: "",
      userNewEmail: "",
      userConfirmNewEmail: "",
      isLoading: false,
      loading: "",
      cloadingstatus: "",
      submitted: false,
      country: this.$store.getters.userData.country || "",
      qualification_id: this.$store.getters.candidateData.qualification || "",
      field_of_study: "",
      gender: this.$store.getters.userData.gender || "",
      state: this.$store.getters.userData.state || "",
      city: this.$store.getters.userData.city || "",
      address: this.$store.getters.userData.address || "",
      dob: this.$store.getters.userData.date_of_birth || "Date of birth",
      skillsList: [],
      genders: ["Male", "Female", "Non-Binary"],
    };
  },
  validations: {
    country: {
      required,
    },
    qualification_id: {
      required,
    },
    field_of_study: {
      required,
    },
    gender: {
      required,
    },
    state: {
      required,
    },
    city: {
      required,
    },
    dob: {
      required,
    },
  },
  methods: {
    getAddressData: function (addressData, placeResultData, id) {
      this.address = addressData;
    },
    setCurrentEmail(value) {
      this.userCurrentEmail = value;
      this.$v.userCurrentEmail.$touch();
      if (this.$v.userCurrentEmail.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter user current email",
        });
      }
      if (this.$v.userCurrentEmail.email == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter valid email address",
        });
      }
    },
    setNewEmail(value) {
      this.userNewEmail = value;
      this.$v.userNewEmail.$touch();
      if (this.$v.userNewEmail.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter new email",
        });
      }
      if (this.$v.userNewEmail.email == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter valid email address",
        });
      }
    },
    setConfirmEmail(value) {
      this.userConfirmNewEmail = value;
      this.$v.userConfirmNewEmail.$touch();
      if (this.$v.userConfirmNewEmail.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter confirm email",
        });
      }
      if (this.$v.userConfirmNewEmail.email == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter valid email address",
        });
      }
      if (this.$v.userConfirmNewEmail.sameAsNewEmail == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "New email and confirm email not matched",
        });
      }
    },
    setQualification(value) {
      this.qualification_id = value;
      this.$v.qualification_id.$touch();
      if (this.$v.qualification_id.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select qualification",
        });
      }
    },
    setGender(value) {
      this.gender = value;
      this.$v.gender.$touch();
      if (this.$v.gender.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select Gender",
        });
      }
    },
    setDOB(value) {
      this.dob = value;
      this.$v.dob.$touch();
      if (this.$v.dob.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter date of birth",
        });
      }
    },
    setFieldOfStudy(value) {
      this.field_of_study = value;
      this.$v.field_of_study.$touch();
      if (this.$v.field_of_study.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter establish date",
        });
      }
    },

    setCountry(value) {
      this.country = value;
      this.$v.country.$touch();
      if (this.$v.country.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select country name",
        });
      }
    },
    setState(value) {
      this.state = value;
      this.$v.state.$touch();
      if (this.$v.state.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select state name",
        });
      }
    },
    setCity(value) {
      this.city = value;
      this.$v.city.$touch();
      if (this.$v.city.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select city name",
        });
      }
    },

    async getExpertise(query) {
      const res = await fetch("/api/getFieldOfStudy/" + query);
      const suggestions = await res.json();
      this.skillsList = suggestions;
      if (this.selectedSkill) {
        this.$refs["field_of_study_id"].value = this.selectedSkill.id;
      }
    },

    submit() {
      this.isLoading = true;
      this.errors = [];
      this.$v.$touch();
      //this.onClick();
      if (this.$v.$invalid) {
        this.isLoading = false;
        this.$notify({
          group: "foo",
          type: "error",
          text: "Fill required form fields",
        });
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        let form = this.$refs["testing_form"];
        let formdata = new FormData(form);
        axios({
          url: config.apiURL + "updateCandidateInfo",
          data: formdata,
          method: "POST",
        })
          .then((response) => {
            this.isLoading = false;
            if (response.status == 200) {
              this.$store
                .dispatch("updateUser", response.data)
                .then((data) => {
                  alertService.Success("Welcome", "Update user information");
                  this.$router.push({ name: "home" });
                })
                .catch((err) => {
                  this.loading = false;
                  this.error = err.response.data.error;
                });
            }
            this.successmsg = "Candidate Information Updated";
          })
          .catch((err) => {
            this.isLoading = false;
            this.error = err.response.data.error;
            let errors = err.response.data.errors;
            for (const [key, value] of Object.entries(errors)) {
              value.forEach((text, index) => {
                this.$notify({
                  group: "foo",
                  type: "error",
                  title: key,
                  text: text,
                });
              });
            }
            if (err.response.status === 422) {
              this.validationErrors = err.response.data.errors || {};
              this.errors = err.response.data.errors || {};
            }
          });
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    getCountries: function () {
      axios.get(config.apiURL + "getCountryList/").then(
        function (response) {
          this.countries = response.data;
        }.bind(this)
      );
    },
    getQualifications: function () {
      axios.get(config.apiURL + "getQualificationList/").then(
        function (response) {
          this.qualifications = response.data;
        }.bind(this)
      );
    },
    getStates: function (country) {
      this.state = "";
      this.city = "";
      this.cities = [];
      axios.get(config.apiURL + "getStateList/" + country).then(
        function (response) {
          this.states = response.data;
        }.bind(this)
      );
    },
    getCities: function (state_id) {
      axios.get(config.apiURL + "getCityList/" + state_id).then(
        function (response) {
          this.cities = response.data;
        }.bind(this)
      );
    },
    expertiseIdValue() {
      this.$refs["field_of_study_id"].value =
        this.$store.getters.candidateData.field_of_study_id || null;
      // this.$refs["field_of_study_id"].value = this.$store.getters.candidateData.field_of_study_id || this.$store.getters.companyData.field_of_study_id;
    },
    getQualificationId(qualification) {
      this.$refs["current_qualification"].value = qualification.id || null;
    },
    qualificationIdValue() {
      this.$refs["qualification"].value =
        this.$store.getters.candidateData.qualification || null;
      //  this.$refs["qualification"].value = this.$store.getters.candidateData.qualification || this.$store.getters.companyData.qualification;
    },
  },
  watch: {
    field_of_study: _.debounce(function (addr) {
      this.getExpertise(addr);
    }, 500),
  },
  created: function () {
    this.getCountries();
    this.getQualifications();
    let countryId = this.$store.getters.userData.country.id;
    if (
      this.$store.getters.userData.country !== null &&
      this.$store.getters.userData.state == null
    ) {
      //console.log("Call data if state empty");
      this.getStates(countryId);
    } else {
      this.getStates(countryId);
      this.state = this.$store.getters.userData.state;
      this.getCities(this.state.id);
      this.city = this.$store.getters.userData.city;
      //console.log("State name: "+JSON.stringify(this.state));
    }
  },
  mounted() {
    this.expertiseIdValue();
    this.qualificationIdValue();
    if (this.$store.getters.candidateData.field_of_study != null) {
      //console.log("Call field of study in muted!");
      this.$refs.field_of_study.inputValue = this.$store.getters.candidateData.field_of_study.name;
      this.field_of_study = this.$store.getters.candidateData.field_of_study.name;
    }
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCandidate", "candidateData", "userData"]),
  },
};
</script>
<style lang="scss" scoped>
.text-align-center {
  text-align: center;
}
.cus-pl-20 {
  padding-left: 20px;
}
.cus-pl-10 {
  padding-left: 10px;
}
</style>>
