<template>
  <div class="container h-100">
    <div class="white-box-wrapper flex-center flex-column px-3">
      <div class="white-box white-box--md change-email-wrapper">
        <h3 class="mb-3">Contact Us</h3>
        <form
          method="post"
          ref="contact_us_form"
          @submit.prevent="submit"
          enctype="multipart/form-data"
        >
          <div class>
            <div class="input-wrapper form-group" :class="{ 'form-group--error': $v.target.$error }">
              <input type="hidden" name="title" id="email" v-model="target" />
              <v-select
                name="title"
                id="target"
                label="title"
                v-model="selectedEmail"
                :options="targetEmails"
                item-value="title"
                @input="() => setTargetEmail(selectedEmail)"
                placeholder="Who are you trying to reach?"
              ></v-select>
            </div>
            <div
              class="input-wrapper form-group"
              :class="{'form-group--error':$v.user_name.$error}"
            >
              <input
                id="user_name"
                type="email"
                name="user_name"
                v-model.trim="$v.user_name.$model"
                @blur="setUserName($event.target.value)"
                class="form-control"
                placeholder="Name"
              />
            </div>
            <div
              class="input-wrapper form-group"
              :class="{'form-group--error':$v.user_email.$error}"
            >
              <input
                id="user_email"
                type="email"
                name="user_email"
                v-model.trim="$v.user_email.$model"
                @blur="setEmail($event.target.value)"
                class="form-control"
                placeholder="Email"
              />
            </div>
            <div
              class="input-wrapper form-group"
              :class="{'form-group--error':$v.subject.$error}"
            >
              <input
                id="subject"
                name="subject"
                v-model.trim="$v.subject.$model"
                @blur="setSubject($event.target.value)"
                class="form-control"
                placeholder="Subject"
              />
            </div>
            <div
              class="input-wrapper form-group"
              :class="{'form-group--error':$v.user_message.$error}"
            >
              <textarea
                id="user_message"
                cols="20"
                rows="3"
                name="user_message"
                v-model.trim="$v.user_message.$model"
                @blur="setMessage($event.target.value)"
                class="form-control"
                placeholder="Message"
              ></textarea>
            </div>
            <div class="input-wrapper form-group">
              <!-- <div class="custom-file">
                            <input id="attachment" type="file" name="attachment" class="form-control custom-file-input"
                            >
                            <label class="custom-file-label" for="attachment">Choose file</label>
              </div>-->
              <!-- <b-form-file
                v-model="file"
                id="attachment"
                name="attachment"
                placeholder="Choose a file or drop it here..."
                drop-placeholder="Drop file here..."
                accept="image/x-png, image/gif, image/jpeg"
              ></b-form-file> -->
            </div>

            <div class="btn-wrap text-right mt-4">
              <button type="submit" class="btn btn-primary" @click.prevent="submit">
                <span
                  v-bind="{isLoading, loading}"
                  v-if="isLoading == true"
                  class="spinner-border spinner-border--md spinner-border--in-button"
                ></span> Submit
              </button>
            </div>
          </div>
        </form>
      <b-modal id="pay-result-modal" centered footer-class="justify-content-center">
        <div class="d-flex justify-content-center">
          <img class="modal-result-icon" src="/assets/images/alert-success.png" alt />
        </div>
        <p class="text-center color-grey mt-4">Message sent.</p>
      
        <template v-slot:modal-footer="{ ok, cancel}">
          <b-button variant="primary" @click="closeModal()">OK</b-button>
        </template>
      </b-modal>
        <notifications group="foo" position="bottom right" />
      </div>
    </div>
  </div>
</template>

<script>
import ButtonSpinner from "vue-button-spinner";
import vSelect from "vue-select";
import config from "../config/config";
import moment from 'moment';
import _ from "lodash";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs
} from "vuelidate/lib/validators";
export default {
  name: "ContactUs",
  components: {
    button_spinner: ButtonSpinner,
    "v-select": vSelect,
  },
  data() {
    return {
      targetEmails: [
        {title: 'Support', target: 'support@onecrate.com'},
        {title: 'Business', target: 'business@onecrate.com'},
        {title: 'Press', target: 'press@onecrate.com'},
        ],
        selectedEmail: {},
      title: '',
      target: '',
      subject: '',
      user_name: "",
      user_email: "",
      user_message: "",
      attachment: "",
      errors: [],
      isLoading: false,
      loading: "",
      submitted: false
    };
  },
  validations: {
    user_name: {
      required
    },
    user_email: {
      required,
      email
    },
    user_message: {
      required
    },
    target: {
      required
    },
    subject: {
      required
    }
  },
  methods: {
    closeModal() {
      this.$bvModal.hide("pay-result-modal");
      this.$router.push({ name: "home" });
    },
    setTargetEmail(e) {
      this.target = e.target;
      this.$v.target.$touch();
      if (this.$v.target.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter your name"
        });
      }
    },
    setUserName(value) {
      this.user_name = value;
      this.$v.user_name.$touch();
      if (this.$v.user_name.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter your name"
        });
      }
    },
    setEmail(value) {
      this.user_email = value;
      this.$v.user_email.$touch();
      if (this.$v.user_email.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter your email"
        });
      }
      if (this.$v.user_email.email == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter valid email address"
        });
      }
    },
    setMessage(value) {
      this.user_message = value;
      this.$v.user_message.$touch();
      if (this.$v.user_message.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter message"
        });
      }
    },
    setSubject(value) {
      this.subject = value;
      this.$v.subject.$touch();
      if (this.$v.subject.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter message"
        });
      }
    },

    submit() {
      this.isLoading = true;
      this.errors = [];
      this.$v.$touch();
      //this.onClick();
      if (this.$v.$invalid) {
        this.isLoading = false;
        this.$notify({
          group: "foo",
          type: "error",
          text: "Fill required form fields"
        });
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        let form = this.$refs["contact_us_form"];
        let formData = new FormData(form);
        axios({
          url: config.apiURL + "contactUsMessage",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data"
          },
          method: "POST"
        })
          .then(data => {
            this.isLoading = false;
            this.$bvModal.show("pay-result-modal");
            this.$notify({
              group: "foo",
              type: "success",
              text: "Message sent."
            });
          })
          .catch(err => {
            this.isLoading = false;
            this.error = err.response.data.error;
            let errors = err.response.data.errors;
            for (const [key, value] of Object.entries(errors)) {
              value.forEach((text, index) => {
                this.$notify({
                  group: "foo",
                  type: "error",
                  title: key,
                  text: text
                });
              });
            }
          });
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    getDateDifference() {
      let value = '2020-08-27 14:33:36';
      let d = new Date();
      let year = d.getFullYear();
      let month = d.getMonth()+1;
      let date = d.getDate();
      let today = year+'-'+month+'-'+date;
      let dateToCheck = value.split(' ');
      var start = moment(dateToCheck[0], "YYYY-MM-DD");
      var end = moment(today, "YYYY-MM-DD");

//Difference in number of days

      console.log("Remaining days : "+moment.duration(start.diff(end)).asDays());
      //today.setHours(0, 0, 0, 0);
      //dateToCheck.setHours(0, 0, 0, 0);
      console.log("Date to check: "+dateToCheck[0] + " Today: "+today);
      console.log( moment(dateToCheck).from(today));
      console.log( moment([dateToCheck[0]]).diff(moment([today],'days')));
    },
  },
  created: function() {
   // this.getDateDifference();
  },
};
</script>
