<template>
    <div class="container h-100">
        <div class="row">
            <h3>Examples:</h3>
            <infinite-loading direction="top" @infinite="infiniteHandler"></infinite-loading>
            <div v-for="(item, $index) in list" :key="$index">
                <!-- Hacker News item loop -->
            </div>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';
    import InfiniteLoading from 'vue-infinite-loading';
    import axios from 'axios';
    const url = 'https://hn.algolia.com/api/v1/search_by_date?tags=story&page=1';

    export default {
       name:'Examples',
        components: {
            InfiniteLoading,
        },

        data() {
            return {
                page: 1,
                list: [],
            };
        },
        methods: {
            infiniteHandler($state) {
                axios.get(url, {
                    params: {
                        page: this.page,
                    },
                }).then(({ data }) => {
                    console.log("Data Lengths: "+ JSON.stringify(data));
                    // if (data.hits.length) {
                    //     this.page += 1;
                    //     this.list.unshift(...data.hits.reverse());
                    //     $state.loaded();
                    // } else {
                    //     $state.complete();
                    // }
                });
            },
        },
    }
</script>
<style lang="scss">
    /* Optional Styles */
    .person {
        background: #ccc;
        border-radius: 2px;
        width: 20%;
        margin: 0 auto 15px auto;
        padding: 15px;

        img {
            width: 100%;
            height: auto;
            border-radius: 2px;
        }

        p:first-child {
            text-transform: capitalize;
            font-size: 2rem;
            font-weight: 900;
        }

        .text-capitalize {
            text-transform: capitalize;
        }
    }
</style>

<!--https://peachscript.github.io/vue-infinite-loading/guide/configure-load-msg.html#about-hide-default-styles-->