<template>
  <LoadingBar v-if="isLoading" :loading="isLoading"></LoadingBar>
  <div v-else class="container h-100">
    <div class="white-box-wrapper flex-center flex-column px-3">
      <div class="white-box white-box--md change-password-wrapper">
        <h3 class="mb-3">Forgot Your Password?</h3>
        <h5>
          Please enter your email address to search for your account.
          We'll send you a link to reset your password.
        </h5>
        <form action="#" method="post" ref="forgot_password_form" @submit.prevent="submit">
          <div class>
            <div
              class="input-wrapper form-group mt-4"
              :class="{'form-group--error':$v.email.$error}"
            >
              <input
                id="email"
                type="email"
                name="email"
                class="form-control form-control--round"
                v-model.trim="$v.email.$model"

                placeholder="Enter email"
              />
              <!--@blur="checkEmail($event.target.value)"-->
            </div>

            <div class="btn-wrap text-right mt-4">
              <button
                type="submit"
                class="btn btn-primary"
                @click.prevent="submit"
                :disabled="$v.$invalid"
              >
                <span
                  v-bind="{isLoading, loading}"
                  v-if="isLoading == true"
                  class="spinner-border spinner-border--md spinner-border--in-button"
                ></span> Submit
              </button>
            </div>
          </div>
        </form>
        <notifications group="foo" position="bottom right" />
      </div>
    </div>
  </div>
</template>
<script>
import ButtonSpinner from "vue-button-spinner";
import config from "../config/config";
import LoadingBar from "../components/common/LoadingBar";
import _ from "lodash";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs
} from "vuelidate/lib/validators";
export default {
  name: "ForgotPassword",
  components: {
    button_spinner: ButtonSpinner,
    LoadingBar,
  },
  data() {
    return {
      email: "",
      errors: [],
      isLoading: false,
      loading: "",
      submitted: false
    };
  },
  validations: {
    email: {
      required,
      email
    }
  },
  methods: {
    checkEmail(email) {
      this.email = email;
      this.$v.email.$touch();
      let formData = new FormData();
      formData.append("email", email);
      axios({
        url: config.apiURL + "checkEmail",
        data: formData,
        method: "POST"
      })
        .then(data => {
          this.isLoading = false;
        })
        .catch(err => {
          this.isLoading = false;
          let errors = err.response.data.errors;
          for (const [key, value] of Object.entries(errors)) {
            value.forEach((text, index) => {
              this.$notify({
                group: "foo",
                type: "error",
                title: key,
                text: text
              });
            });
          }
        });
    },

    submit() {
      this.isLoading = true;
      this.errors = [];
      this.$v.$touch();
      //this.onClick();
      if (this.$v.$invalid) {
        this.isLoading = false;
        this.$notify({
          group: "foo",
          type: "error",
          text: "Fill required form fields"
        });
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        let form = this.$refs["forgot_password_form"];
        let formData = new FormData(form);
        axios({
          url: config.apiURL + "forgotPassword",
          data: formData,
          method: "POST"
        })
          .then(data => {
            this.isLoading = false;
            this.$notify({
              group: "foo",
              type: "success",
              text: "Reset password email sent"
            });
          })
          .catch(err => {
            this.isLoading = false;
            this.error = err.response.data.error;
            let errors = err.response.data.errors;
            for (const [key, value] of Object.entries(errors)) {
              value.forEach((text, index) => {
                this.$notify({
                  group: "foo",
                  type: "error",
                  title: key,
                  text: text
                });
              });
            }
          });
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    }
  }
};
</script>
