<template>
  <div class="h-100">
    <!-- If Logged In as Company -->
    <company-page v-if="isCompany"></company-page>
    <!-- !---------------------! -->

    <!-- If Logged In as Candidate -->
    <candidate-page v-else-if="isCandidate"></candidate-page>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import axios from "axios";
import { debuglog } from "util";
import AppHeader from "../components/common/Header";
import CandidatePage from "../pages/CandidateComponent";
import CompanyPage from "../pages/CompanyComponent";
export default {
  components: {
    AppHeader,
    CandidatePage,
    CompanyPage,
  },
  data() {
    return {
      drawer: true,
    };
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCandidate", "isCompany"]),
  },
  methods: {},
};
</script>
