<template>
    <div class="container h-100">
        <div class="row row-gutter-7 h-100">
            <div class="col-xl-9 col-md-8 h-100">
                <div class="content-left content-wrapper bg-white has-box-shadow h-100 pricing-wrapper">
                    <div class="header-has-search has-box-shadow--secondary px-4 py-3">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-5">
                                <h3 class="text-strong">Invalid Membership</h3>
                            </div>
                        </div>
                    </div>
                    <div class="has-scroll">
                        <div class="stripe-wrapper">
                            <h3>Your subscription is not valid to use full application control.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 h-100">
                <div class="content-right bg-grey-50 has-box-shadow h-100 sidebar">
                    <div class="sidebar__title">
                        <h3>Options</h3>
                    </div>
                    <div class="sidebar__content has-scroll p-3">
                        <div class="has-scroll__child">
<!--                            <h3 class="text-blue">Growth</h3>-->

                            <div class="growth-wrap">
                                <ul>
                                    <a href="/pricing" class="btn btn-primary">Re-Subscribe</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <notifications group="foo" position="bottom right" />
    </div>
</template>
<script>
    import config from '../config/config';
    export default {
        name: "InvalidMembership",
        data() {
            return {
            };
        },
        methods: {

        },
        mounted: function () {
        },
        created: function () {
        },

    };
</script>
