<template>
  <div class="container h-100">
    <div class="row row-gutter-7 h-100">
      <div class="col-xl-9 col-md-8 h-100">
        <div
          class="content-left content-wrapper has-box-shadow h-100 pricing-wrapper"
        >
          <div class="header-has-search has-box-shadow--secondary px-4 py-3">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-5">
                <h3 class="text-strong">Payment Info</h3>
              </div>
            </div>
          </div>
          <div class="has-scroll">
            <div class="stripe-wrapper mt-5" v-if="!active">
              <div v-if="!successfulPayment">
                <div
                  id="loading"
                  v-if="isLoading"
                  class="loading-static active"
                  style
                >
                  <LoadingBar :loading="isLoading"></LoadingBar>
                </div>

                <div v-if="cardList.length > 0">
                  <div class="card-container white-box px-md-0 px-3 pt-3 pb-0">
                    <div class="row align-items-center">
                      <div class="col-md-7 text-center">
                        <img
                          src="/assets/images/default-card.png"
                          alt="Email"
                        />
                      </div>
                      <div
                        class="col-md-5 pt-2 pb-md-0 pb-3 text-center text-md-left"
                      >
                        <div>
                          <span class="font-weight-bold">{{
                            cardList[0].brand
                          }}</span>
                          *****
                          <span class="font-weight-bold">{{
                            cardList[0].last4
                          }}</span>
                        </div>
                        <div class="mt-2">
                          Expires
                          <span class="font-weight-bold"
                            >{{ cardList[0].exp_year }}/{{
                              cardList[0].exp_month
                            }}</span
                          >
                        </div>
                        <div
                          class="mt-2 color-primary font-weight-bold cursor-pointer"
                          v-on:click="updateCard"
                        >
                          Update/Change
                        </div>
                      </div>
                    </div>
                    <div class="card-footer bg-transparent">
                      <div class="row">
                        <div
                          class="col-md-5 ml-md-auto text-md-left text-center"
                        >
                          <button v-on:click="purchase" class="btn btn-primary">
                            Purchase
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else>
                  <!-- do not remove this or change its ref it... this is where the card loads -->
                  <div class="d-flex mb-4 stripe-element-container">
                    <span class="icon-wrap">
                      <i class="fas fa-user"></i>
                    </span>
                    <input
                      type="text"
                      class="StripeElement"
                      placeholder="Name On Card"
                      v-model="cardName"
                    />
                  </div>
                </div>
                <div
                  class="card-content StripeElement StripeElement--empty"
                  v-bind:class="{ 'd-none': cardList.length > 0 }"
                  ref="card"
                ></div>

                <div
                  class="text-right"
                  v-bind:class="{ 'd-none': cardList.length > 0 }"
                >
                  <button v-on:click="purchase" class="btn btn-primary mt-4">
                    Purchase
                  </button>
                </div>
                <p v-if="hasCardErrors" class="text-center text-danger">
                  Your card is not valid, Please try again.
                </p>
              </div>
              <div v-if="successfulPayment" class="text-center">
                <h3 class="mt-3">
                  Thank you for purchasing our paid subscription.
                </h3>
              </div>
            </div>
            <div class="stripe-wrapper text-center" v-else>
              <h3>Your request cannot be processed right now. Because already one request is active.</h3>
            </div>

            <div v-if="$mq === 'mobile'">
              <div class="sidebar__title">
                <h3>Order Summary</h3>
              </div>
              <div class="sidebar__content has-scroll p-3">
                <div class="has-scroll__child">
                  <h3 class="text-blue">Pro Resume Builder</h3>

                  <div class="growth-wrap">
                    <ul>
                      <li>
                        <span>Price</span>
                        <span class="ml-auto"
                          >${{ this.subscriptionTierNodeDetails.actualAmount }}
                          /
                          {{
                            this.subscriptionTierNodeDetails.payableCycle
                          }}</span
                        >
                      </li>
                      <li>
                        <span>Discount</span>
                        <span class="ml-auto"
                          >${{
                            this.subscriptionTierNodeDetails.payableDiscount
                          }}</span
                        >
                      </li>
                      <li class="spacer"></li>
                      <li>
                        <span>Total</span>
                        <span class="ml-auto"
                          >${{ this.subscriptionTierNodeDetails.payableAmount }}
                          /
                          {{
                            this.subscriptionTierNodeDetails.payableCycle
                          }}</span
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 h-100" v-if="$mq != 'mobile'">
        <div class="content-right has-box-shadow h-100 sidebar">
          <div class="sidebar__title">
            <h3>Order Summary</h3>
          </div>
          <div class="sidebar__content has-scroll p-3">
            <div class="has-scroll__child">
              <h3 class="text-blue">Pro Resume Builder</h3>

              <div class="growth-wrap">
                <ul>
                  <li>
                    <span>Price</span>
                    <span class="ml-auto"
                      >${{ this.subscriptionTierNodeDetails.actualAmount }} /
                      {{ this.subscriptionTierNodeDetails.payableCycle }}</span
                    >
                  </li>
                  <li>
                    <span>Discount</span>
                    <span class="ml-auto"
                      >${{
                        this.subscriptionTierNodeDetails.payableDiscount
                      }}</span
                    >
                  </li>
                  <li class="spacer"></li>
                  <li>
                    <span>Total</span>
                    <span class="ml-auto"
                      >${{ this.subscriptionTierNodeDetails.payableAmount }} /
                      {{ this.subscriptionTierNodeDetails.payableCycle }}</span
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <b-modal
        id="pay-result-modal"
        centered
        title="Upgrade"
        footer-class="justify-content-center"
      >
        <div class="d-flex justify-content-center">
          <img
            class="modal-result-icon"
            src="/assets/images/alert-success.png"
            alt
          />
        </div>
        <p class="text-center color-grey mt-4">
          Your payment has been successfully processed.
        </p>
        <p class="text-center mt-2">
          <a href>Download Invoice</a>
        </p>
        <p class="mt-3">
          Should you have any questions about OneCrate, please feel free to
          <a href="/contactus">contact</a> our support team.
        </p>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button variant="primary" @click="purchaseResultFunc()"
            >Resume</b-button
          >
          <b-button variant="danger" @click="closeModal()">Close</b-button>
        </template>
      </b-modal>
    </div>
    <notifications group="foo" position="bottom right" />
  </div>
</template>
<script>
import config from "../config/config";
import vSelect from "vue-select";
import LoadingBar from "../components/common/LoadingBar";

let stripe = Stripe(config.stripePublicKey),
  elements = stripe.elements({
    fonts: [
      {
        family: "Effra",

        src:
          'local("Effra"), local("effra"), url(https://cuddlecompanions.org/wp-content/themes/diamondphoenix/fonts/effra.ttf) format("truetype")',
        unicodeRange:
          "U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215",
      },
    ],
  }),
  card = undefined;
export default {
  name: "InvoiceResumePro",
  components: {
    "v-select": vSelect,
    LoadingBar,
  },
  data() {
    return {
      checked: false,
      subscriptionTierNodeId: null,
      subscriptionTierNodeDetails: {
        actualAmount: 0,
        payableAmount: 0,
        payableCycle: 0,
        payableDiscount: 0,
      },
      hasCardErrors: false,
      clientSecret: null,
      payment_method: null,
      isLoading: false,
      successfulPayment: false,
      active: false,
      cardName: "",
      cardList: [],
      bus: new Vue(),
    };
  },
  mounted: function () {
    console.log("invoice mounted ...");
    const style = {
      base: {
        color: "#303238",
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        // fontFamily: '"Poppins", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif',
        fontSize: "16px",
        "::placeholder": {
          color: "#ced4da",
          // color: "red",
          fontFamily:
            '"Poppins", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif',
        },
      },
    };

    card = elements.create("card", { style });
    card.mount(this.$refs.card);
    console.log("card ye hai ", card);
  },
  created: function () {
    this.subscriptionTierNodeId = this.$route.params.id;
    console.log("invoice created....");
    this.getSubscriptionTierNodeDetails();
    this.getProResumeList();
  },
  beforeDestroy() {
    card.destroy(this.$refs.card);
  },
  methods: {
    purchase() {
      let self = this;
      if (this.cardList.length > 0) {
        let formData = { details: this.subscriptionTierNodeDetails };
        this.updatePayment(formData);
      } else {
        if (!this.cardName) {
          self.$notify({
            group: "foo",
            type: "error",
            text: "Enter name on card.",
          });
          return;
        }
        this.isLoading = true;

        stripe
          .confirmCardPayment(this.clientSecret, {
            payment_method: {
              card: card,
              billing_details: {
                name: this.cardName,
              },
            },
            setup_future_usage: "off_session",
          })
          .then(function (result) {
            console.log("payment intent", result);
            if (result.error) {
              self.isLoading = false;
              if (result.error.decline_code == "insufficient_funds") {
                self.$notify({
                  group: "foo",
                  type: "error",
                  text:
                    "Your Card has insufficient funds, please try another card.",
                });
              } else if (
                result.error.code == "payment_intent_authentication_failure"
              ) {
                self.$notify({
                  group: "foo",
                  type: "error",
                  text: "Card authentication failed, Please try again.",
                });
              } else {
                self.$notify({
                  group: "foo",
                  type: "error",
                  text: result.error.message,
                });
              }
              // Show error to your customer (e.g., insufficient funds)
              console.log(result.error.message);
            } else {
              // The payment has been processed!
              console.log("The payment has been processed!");
              if (result.paymentIntent.status === "succeeded") {
                console.log("payment done", result.paymentIntent);
                stripe.createToken(card).then((res) => {
                  let cardInfo = res.token.card;

                  let formData = new FormData();
                  formData.append(
                    "details",
                    JSON.stringify(self.subscriptionTierNodeDetails)
                  );
                  formData.append("paymentIntentID", result.paymentIntent.id);
                  formData.append(
                    "paymentMethodID",
                    result.paymentIntent.payment_method
                  );
                  formData.append("cardInfo", JSON.stringify(cardInfo));
                  axios({
                    url: config.apiURL + "proResumeUpdateUserPaymentId",
                    data: formData,
                    method: "POST",
                  })
                    .then((resp) => {
                      console.log(resp);
                      self.successfulPayment = true;
                      self.isLoading = false;
                      self.$bvModal.show("pay-result-modal");
                    })
                    .catch((err) => {
                      self.successfulPayment = true;
                      self.isLoading = false;
                      self.$notify({
                        group: "foo",
                        type: "error",
                        text:
                          "Payment Proceeded but there were some other errors.",
                      });
                    });
                });
              }
            }
          });
      }
    },
    updatePayment(formData) {
      axios({
        url: config.apiURL + "updateUserProResumePaymentData",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          console.log(resp);
          this.successfulPayment = true;
          this.isLoading = false;
          this.$bvModal.show("pay-result-modal");
        })
        .catch((err) => {
          this.successfulPayment = true;
          this.isLoading = false;
          this.$notify({
            group: "foo",
            type: "error",
            text: "Payment Proceeded but there were some other errors.",
          });
        });
    },
    updateCard() {
      this.cardList = [];
    },
    getSubscriptionTierNodeDetails() {
      this.isLoading = true;
      axios({
        url:
          config.apiURL +
          "getProResumeNodeDetails/" +
          this.subscriptionTierNodeId,
        method: "GET",
      })
        .then((resp) => {
          this.isLoading = false;
          this.subscriptionTierNodeDetails = resp.data;
          this.clientSecret = resp.data.client_secret;
        //   this.cardList = resp.data.cardList;
          console.log("response =>", resp.data);
        })
        .catch((err) => {
          this.isLoading = false;
          this.active = false;
          console.log(err);
        });
    },
    purchaseResultFunc() {
      this.$router.push({ name: "resume" });
    },
    closeModal() {
      this.$bvModal.hide("pay-result-modal");
    },
    getProResumeList: async function() {
        await axios
        .get(`${config.apiURL}getProResumeList/?page=1`)
        .then((resp) => {
            this.active = resp.data.active;
            console.log("data", resp.data);
        })
        .catch((err) => {
            console.log("getProResumeList => ", err);
        });
    },
  },
};
</script>
