<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="h-100">
    <div id="orgchart" />
    <b-modal
      id="create-new-job-modal"
      hide-footer
      size="xl"
      centered
      title-class="text-blue"
      title-tag="h3"
      title="Create Position"
      body-class="flex-fill h-100 p-0"
    >
      <create-job :parentNode="parentNode" />
    </b-modal>
    <notifications group="foo" position="bottom right" />
    <view-job-modal :bus="bus" />
    <edit-job :bus="bus" />
    <!-- Assign Candidate Modal -->
    <div class="col-md-4">
      <b-modal
        id="assign-candidate-modal"
        centered
        title="Assign Member"
        footer-class="justify-content-end"
      >
        <div class="input-wrapper mt-4">
          <v-select
            name="candidate_id"
            id="candidate_id"
            label="name"
            item-value="id"
            item-text="name"
            :options="candidateList"
            v-model="candidateId"
            placeholder="Select Member"
          ></v-select>
        </div>
        <template v-slot:modal-footer="{ ok }">
          <b-button variant="primary min-w-125" @click="assignCandidate()"
            >Assign</b-button
          >
        </template>
      </b-modal>
    </div>

    <!-- Change Supervisor Modal -->
    <!--        <div class="col-md-4">-->
    <!--            <b-modal id="assign-candidate-modal" centered title="Assign Candidate" footer-class="justify-content-end">-->
    <!--                <div class="input-wrapper mt-4">-->
    <!--                    <v-select  name="supervisor_id" id="supervisor_id" label="name" item-value="id" item-text="name" :options="supervisorList" v-model="supervisorId" placeholder="Select Supervisor"></v-select>-->
    <!--                </div>-->
    <!--                <template v-slot:modal-footer="{ ok }">-->
    <!--                    <b-button variant="primary min-w-125" @click="assignCandidate()">Assign</b-button>-->
    <!--                </template>-->
    <!--            </b-modal>-->
    <!--        </div>-->

    <b-modal
      id="supervisor-confirmation-modal"
      centered
      title="Change Supervisor"
      footer-class="justify-content-center"
    >
      <p class="text-center mt-4">
        Are you sure you want to change the position supervisor?
      </p>
      <template v-slot:modal-footer="{ ok }">
        <b-button variant="primary min-w-125" @click="dragNode()">Yes</b-button>
        <b-button variant="danger min-w-125" @click="cancel()">No</b-button>
      </template>
    </b-modal>

    <b-modal
      id="delete-node-confirmation-modal"
      centered
      title="Delete Position"
      footer-class="justify-content-center"
      body-class="pb-2"
    >
      <p class="text-center mt-3">
        Are you sure you want to delete this position?
      </p>
      <template v-slot:modal-footer="{ ok }">
        <b-button variant="primary min-w-125" @click="deleteChartNode()"
          >Yes</b-button
        >
        <b-button variant="danger min-w-125" @click="cancel()">No</b-button>
      </template>
    </b-modal>

    <b-modal
      id="delete-branch-confirmation-modal"
      centered
      title="Delete Branch"
      footer-class="justify-content-center"
      body-class="pb-2"
    >
      <p class="text-center mt-3">
        Are you sure you want to delete this branch?
      </p>
      <template v-slot:modal-footer="{ ok }">
        <b-button variant="primary min-w-125" @click="deleteChartBranch()"
          >Yes</b-button
        >
        <b-button variant="danger min-w-125" @click="cancelDeleteBranch()"
          >No</b-button
        >
      </template>
    </b-modal>

    <b-modal
      id="remove-member-confirmation-modal"
      centered
      title="Unassign Member"
      footer-class="justify-content-center"
    >
      <p class="text-center mt-4">
        Are you sure you want to unassign member from this position?
      </p>
      <template v-slot:modal-footer="{ ok }">
        <b-button variant="primary min-w-125" @click="removeNodeMember()"
          >Yes</b-button
        >
        <b-button variant="danger min-w-125" @click="cancel()">No</b-button>
      </template>
    </b-modal>

    <b-modal
      id="job-status-confirmation-modal"
      centered
      :title="postMsg"
      footer-class="justify-content-center"
    >
      <div v-if="jobStatus" class="posting-platforms">
        <div class="check-all-wrap d-flex justify-content-end pr-4">
          <b-form-checkbox
            value="checkAll"
            v-model="allSelected"
            :indeterminate="indeterminate"
            @change="toggleAll"
          >
            {{ allSelected ? "All" : "All" }}
          </b-form-checkbox>
        </div>
        <ul>
          <li>
            <div class="platform-logo">
              <img src="assets/images/logo-sm-oneCrate.svg" alt="" />
            </div>
            <div class="platform-type">Internal</div>
            <div class="platform-check">
              <b-form-checkbox
                v-model="selected"
                name="postingPlatforms"
                id="platformOneCrateInternal"
                value="platformOneCrateInternal"
                >Free</b-form-checkbox
              >
            </div>
          </li>
          <li>
            <div class="platform-logo">
              <img src="assets/images/logo-sm-oneCrate.svg" alt="" />
            </div>
            <div class="platform-type">External</div>
            <div class="platform-check">
              <b-form-checkbox
                v-model="selected"
                name="postingPlatforms"
                id="platformOneCrateExternal"
                value="platformOneCrateExternal"
                >Free</b-form-checkbox
              >
            </div>
          </li>
          <li>
            <div class="platform-logo">
              <img src="assets/images/logo-indeed.svg" alt="" />
            </div>
            <div class="platform-type">External</div>
            <div class="platform-check">
              <b-form-checkbox
                v-model="selected"
                name="postingPlatforms"
                id="platformIndeedExternal"
                value="platformIndeedExternal"
                >Free</b-form-checkbox
              >
            </div>
          </li>
          <li>
            <div class="platform-logo">
              <img src="assets/images/logo-adzuna.svg" alt="" />
            </div>
            <div class="platform-type">External</div>
            <div class="platform-check">
              <b-form-checkbox
                v-model="selected"
                name="postingPlatforms"
                id="platformAdzunaExternal"
                value="platformAdzunaExternal"
                >Free</b-form-checkbox
              >
            </div>
          </li>
          <li>
            <div class="platform-logo">
              <img src="assets/images/logo-glassdoor.svg" alt="" />
            </div>
            <div class="platform-type">External</div>
            <div class="platform-check">
              <b-form-checkbox
                v-model="selected"
                name="postingPlatforms"
                id="platformGlassdoorExternal"
                value="platformGlassdoorExternal"
                >Free</b-form-checkbox
              >
            </div>
          </li>
          <li>
            <div class="platform-logo">
              <img src="assets/images/logo-monster.svg" alt="" />
            </div>
            <div class="platform-type">External</div>
            <div class="platform-check">
              <b-form-checkbox
                v-model="selected"
                name="postingPlatforms"
                id="platformMonsterExternal"
                value="platformMonsterExternal"
                >Free</b-form-checkbox
              >
            </div>
          </li>
          <li>
            <div class="platform-logo">
              <img src="assets/images/logo-google.svg" alt="" />
            </div>
            <div class="platform-type">External</div>
            <div class="platform-check">
              <b-form-checkbox
                v-model="selected"
                name="postingPlatforms"
                id="platformGoogleExternal"
                value="platformGoogleExternal"
                >Free</b-form-checkbox
              >
            </div>
          </li>
        </ul>
      </div>
      <p class="text-center mt-4">
        {{ modalMessage }}
      </p>
      <template v-slot:modal-footer="{ ok }">
        <b-button variant="primary min-w-125" @click="changeJobStatus()">{{
          postBtn
        }}</b-button>
        <b-button variant="danger min-w-125" @click="cancel()">Cancel</b-button>
      </template>
    </b-modal>

    <b-modal
      id="candidate-directory-modal"
      hide-footer
      size="sm"
      title-tag="h3"
      centered
      title="Contact Info"
    >
      <div class="candidate-mini-profile" v-if="candidateDirectory">
        <div class="candidate-mini-profile-thumbnail">
          <img
            :src="candidateDirectory.user.image || defaultUserImage"
            alt="Profile Picture"
          />
        </div>
        <div class="candidate-mini-profile-info">
          <h3>
            {{
              candidateDirectory.user.first_name +
              " " +
              candidateDirectory.user.last_name
            }}
          </h3>
          <div class="list-wrapper">
            <ul>
              <li>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20.375"
                    height="16.607"
                    viewBox="0 0 20.375 16.607"
                  >
                    <g id="expertise" transform="translate(0.15 -63.085)">
                      <g
                        id="Group_323"
                        data-name="Group 323"
                        transform="translate(0 63.235)"
                      >
                        <g
                          id="Group_322"
                          data-name="Group 322"
                          transform="translate(0 0)"
                        >
                          <path
                            id="Path_1457"
                            data-name="Path 1457"
                            d="M18.675,65.909h-5v-.941a1.675,1.675,0,0,0-1.606-1.733H8A1.675,1.675,0,0,0,6.4,64.968v.941h-5A1.46,1.46,0,0,0,0,67.419V78.031a1.46,1.46,0,0,0,1.4,1.51H18.675a1.46,1.46,0,0,0,1.4-1.51V67.419A1.46,1.46,0,0,0,18.675,65.909ZM7.2,64.968A.841.841,0,0,1,8,64.1H12.07a.841.841,0,0,1,.806.87v.941H7.2ZM19.275,78.032a.626.626,0,0,1-.6.647H1.4a.626.626,0,0,1-.6-.647V69.707L6.94,72.92a1.644,1.644,0,0,0,1.578,1.445h3.039a1.644,1.644,0,0,0,1.578-1.445l3.835-2.007a.447.447,0,0,0,.185-.576.387.387,0,0,0-.534-.2l-3.576,1.871a1.609,1.609,0,0,0-1.488-1.094H8.518A1.609,1.609,0,0,0,7.03,72.008L.8,68.748V67.419a.626.626,0,0,1,.6-.647H18.675a.626.626,0,0,1,.6.647V78.032ZM7.718,72.639a.834.834,0,0,1,.8-.863h3.039a.865.865,0,0,1,0,1.726H8.518A.834.834,0,0,1,7.718,72.639Z"
                            transform="translate(0 -63.235)"
                            stroke="#222"
                            stroke-width="0.3"
                          />
                        </g>
                      </g>
                      <g
                        id="Group_325"
                        data-name="Group 325"
                        transform="translate(17.716 69.303)"
                      >
                        <g
                          id="Group_324"
                          data-name="Group 324"
                          transform="translate(0 0)"
                        >
                          <path
                            id="Path_1458"
                            data-name="Path 1458"
                            d="M452.827,206.248a.4.4,0,0,0-.534-.185l-.245.119a.4.4,0,1,0,.349.72l.245-.119A.4.4,0,0,0,452.827,206.248Z"
                            transform="translate(-451.822 -206.022)"
                            stroke="#222"
                            stroke-width="0.3"
                          />
                        </g>
                      </g>
                    </g>
                  </svg>
                </span>
                {{ candidateDirectory.jobTitle.name }}
              </li>
              <li v-if="candidateDirectory.field_of_study">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="19.469"
                    height="22.188"
                    viewBox="0 0 19.469 22.188"
                  >
                    <g id="city" transform="translate(-4)">
                      <g
                        id="Group_326"
                        data-name="Group 326"
                        transform="translate(4)"
                      >
                        <path
                          id="Path_1469"
                          data-name="Path 1469"
                          d="M8.493,6.934H7V8.32h1.5Zm5.99-1.387h-1.5V6.934h1.5Zm3,0h-1.5V6.934h1.5Zm3,0h-1.5V6.934h1.5Zm-5.99-2.773h-1.5V4.16h1.5Zm3,0h-1.5V4.16h1.5Zm3,0h-1.5V4.16h1.5Zm-5.99,8.32h-1.5V12.48h1.5Zm3,0h-1.5V12.48h1.5Zm3,0h-1.5V12.48h1.5Zm-5.99,2.773h-1.5v1.387h1.5Zm5.99,0h-1.5v1.387h1.5Zm-5.99,2.773h-1.5v1.387h1.5Zm5.99,0h-1.5v1.387h1.5Zm-5.99-8.32h-1.5V9.707h1.5Zm3,0h-1.5V9.707h1.5Zm3,0h-1.5V9.707h1.5ZM8.493,9.707H7v1.387h1.5Zm0,2.773H7v1.387h1.5Zm0,2.773H7v1.387h1.5Zm0,2.773H7v1.387h1.5Zm8.986-4.16h-1.5v1.387h1.5Zm5.99-12.48A1.444,1.444,0,0,0,21.971,0H11.488a1.444,1.444,0,0,0-1.5,1.387V4.16H5.5A1.444,1.444,0,0,0,4,5.547V20.8a1.444,1.444,0,0,0,1.5,1.387H22.329c.828,0,1.139-.62,1.139-1.387V1.387ZM9.99,20.8H5.5V5.547H9.99Zm11.981,0H17.478v-4.16h-1.5V20.8H11.488V1.387H21.971Z"
                          transform="translate(-4)"
                          fill-rule="evenodd"
                        />
                      </g>
                    </g>
                  </svg>
                </span>
                {{ candidateDirectory.field_of_study.name }}
              </li>
              <li>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20.862"
                    height="15.876"
                    viewBox="0 0 20.862 15.876"
                  >
                    <g id="email" transform="translate(0 -57.75)">
                      <g
                        id="Group_319"
                        data-name="Group 319"
                        transform="translate(0 57.75)"
                      >
                        <path
                          id="Path_1450"
                          data-name="Path 1450"
                          d="M18.315,57.75H2.551A2.553,2.553,0,0,0,0,60.3V71.075a2.553,2.553,0,0,0,2.551,2.551h15.76a2.553,2.553,0,0,0,2.551-2.551V60.305A2.551,2.551,0,0,0,18.315,57.75ZM19.7,71.075a1.387,1.387,0,0,1-1.386,1.386H2.551a1.387,1.387,0,0,1-1.386-1.386V60.305A1.387,1.387,0,0,1,2.551,58.92h15.76A1.387,1.387,0,0,1,19.7,60.305v10.77Z"
                          transform="translate(0 -57.75)"
                        />
                        <path
                          id="Path_1451"
                          data-name="Path 1451"
                          d="M66.5,114.5l5.1-4.576a.584.584,0,0,0-.781-.868l-7.036,6.315-1.373-1.226s-.009-.009-.009-.013a.864.864,0,0,0-.095-.082l-5.586-5a.584.584,0,0,0-.777.872l5.163,4.614-5.141,4.813a.585.585,0,0,0-.026.824.6.6,0,0,0,.427.186.584.584,0,0,0,.4-.155l5.219-4.882,1.416,1.265a.581.581,0,0,0,.777,0l1.455-1.3,5.189,4.93a.584.584,0,0,0,.824-.022.585.585,0,0,0-.022-.824Z"
                          transform="translate(-53.346 -106.694)"
                        />
                      </g>
                    </g>
                  </svg>
                </span>
                <a :href="`mailto:${candidateDirectory.user.email}`">{{
                  candidateDirectory.user.email
                }}</a>
              </li>
              <li v-if="candidateDirectory.user.phone_number">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="17.871"
                    height="17.897"
                    viewBox="0 0 17.871 17.897"
                  >
                    <g id="phone" transform="translate(-0.344 0)">
                      <g
                        id="Group_320"
                        data-name="Group 320"
                        transform="translate(0.344 0)"
                      >
                        <path
                          id="Path_1452"
                          data-name="Path 1452"
                          d="M14.476,37.457a1.76,1.76,0,0,0-1.277-.585,1.82,1.82,0,0,0-1.292.582l-1.194,1.19c-.1-.053-.2-.1-.291-.151-.136-.068-.264-.132-.374-.2A12.973,12.973,0,0,1,6.94,35.459,7.654,7.654,0,0,1,5.92,33.85c.31-.283.6-.578.876-.861.106-.106.212-.215.317-.321a1.733,1.733,0,0,0,0-2.614L6.083,29.023c-.117-.117-.238-.238-.351-.359-.227-.234-.465-.476-.71-.7a1.788,1.788,0,0,0-1.265-.555,1.85,1.85,0,0,0-1.284.555l-.008.008-1.284,1.3a2.763,2.763,0,0,0-.82,1.756,6.622,6.622,0,0,0,.483,2.8,16.264,16.264,0,0,0,2.89,4.82,17.776,17.776,0,0,0,5.919,4.635,9.222,9.222,0,0,0,3.324.982c.079,0,.162.008.238.008a2.846,2.846,0,0,0,2.179-.937c0-.008.011-.011.015-.019a8.587,8.587,0,0,1,.661-.684c.162-.155.329-.317.491-.487a1.884,1.884,0,0,0,.57-1.307,1.815,1.815,0,0,0-.582-1.3Zm1.352,3.977s0,0,0,0c-.147.159-.3.3-.461.461a9.932,9.932,0,0,0-.729.755,1.821,1.821,0,0,1-1.42.6c-.057,0-.117,0-.174,0a8.193,8.193,0,0,1-2.946-.884A16.779,16.779,0,0,1,4.523,38,15.335,15.335,0,0,1,1.8,33.469,5.393,5.393,0,0,1,1.38,31.1,1.734,1.734,0,0,1,1.9,29.982l1.288-1.288a.859.859,0,0,1,.574-.268.808.808,0,0,1,.551.264l.011.011c.23.215.449.438.68.676.117.121.238.242.359.366L6.4,30.775a.721.721,0,0,1,0,1.171c-.11.11-.215.219-.325.325-.317.325-.619.627-.948.922-.008.008-.015.011-.019.019a.77.77,0,0,0-.2.857l.011.034a8.279,8.279,0,0,0,1.22,1.991l0,0A13.864,13.864,0,0,0,9.5,39.15a5.158,5.158,0,0,0,.465.253c.136.068.264.132.374.2.015.008.03.019.045.026a.819.819,0,0,0,.374.094.808.808,0,0,0,.574-.261l1.292-1.292a.855.855,0,0,1,.57-.283.769.769,0,0,1,.544.276l.008.008,2.081,2.081A.747.747,0,0,1,15.828,41.435Z"
                          transform="translate(-0.344 -26.371)"
                        />
                        <path
                          id="Path_1453"
                          data-name="Path 1453"
                          d="M245.363,86.937a4.861,4.861,0,0,1,3.959,3.959.507.507,0,0,0,.5.423.675.675,0,0,0,.087-.008.51.51,0,0,0,.419-.589,5.878,5.878,0,0,0-4.79-4.79.513.513,0,0,0-.589.415A.5.5,0,0,0,245.363,86.937Z"
                          transform="translate(-235.705 -82.68)"
                        />
                        <path
                          id="Path_1454"
                          data-name="Path 1454"
                          d="M257.255,7.895A9.679,9.679,0,0,0,249.368.008a.509.509,0,1,0-.166,1,8.645,8.645,0,0,1,7.048,7.048.507.507,0,0,0,.5.423.675.675,0,0,0,.087-.008A.5.5,0,0,0,257.255,7.895Z"
                          transform="translate(-239.391 0)"
                        />
                      </g>
                    </g>
                  </svg>
                </span>
                {{ candidateDirectory.user.phone_number }}
              </li>
              <li>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="15.191"
                    height="18.939"
                    viewBox="0 0 15.191 18.939"
                  >
                    <g id="location" transform="translate(-47.2)">
                      <g
                        id="Group_321"
                        data-name="Group 321"
                        transform="translate(47.2)"
                      >
                        <path
                          id="Path_1455"
                          data-name="Path 1455"
                          d="M54.792,0A7.6,7.6,0,0,0,47.2,7.592a7.472,7.472,0,0,0,.135,1.425c0,.028.02.111.052.254a7.477,7.477,0,0,0,.508,1.5,21.281,21.281,0,0,0,6.563,8.052.538.538,0,0,0,.675,0A21.322,21.322,0,0,0,61.7,10.768a7.393,7.393,0,0,0,.508-1.5c.032-.143.048-.226.052-.254a7.808,7.808,0,0,0,.135-1.425A7.614,7.614,0,0,0,54.792,0Zm6.4,8.83c0,.008,0,.016,0,.024s-.016.079-.036.171v.008a6.3,6.3,0,0,1-.441,1.294s0,.012-.008.016a19.861,19.861,0,0,1-5.912,7.369,19.861,19.861,0,0,1-5.912-7.369s0-.012-.008-.016a6.724,6.724,0,0,1-.441-1.294V9.025c-.024-.091-.032-.151-.036-.171s0-.016,0-.028a6.519,6.519,0,1,1,12.8,0Z"
                          transform="translate(-47.2)"
                        />
                        <path
                          id="Path_1456"
                          data-name="Path 1456"
                          d="M121.82,71.9a4.82,4.82,0,1,0,4.82,4.82A4.828,4.828,0,0,0,121.82,71.9Zm0,8.568a3.748,3.748,0,1,1,3.748-3.748A3.753,3.753,0,0,1,121.82,80.468Z"
                          transform="translate(-114.229 -69.045)"
                        />
                      </g>
                    </g>
                  </svg>
                </span>
                {{ candidateDirectory.user | getLocation }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </b-modal>
    <b-modal
      id="isop-statistics-modal"
      hide-footer
      size="sm"
      title-tag="h3"
      centered
      title="ISOP Statistics"
    >
      <div class="candidate-mini-profile">
        <div class="candidate-mini-profile-thumbnail">
          <img :src="companyImage" alt="Profile Picture" />
        </div>
        <div class="candidate-mini-profile-info">
          <h3>{{ companyName }}</h3>
          <div class="list-wrapper">
            <ul>
              <li>
                <h4>Total Positions: {{ isopTotalNodes - 1 }}</h4>
              </li>
              <li>
                <h4>Posted Jobs: {{ isopPublishedNodes }}</h4>
              </li>
              <!--                            <li>-->
              <!--                                <h4>UnPublished Nodes: {{isopUnPublishedNodes}}</h4>-->
              <!--                            </li>-->
              <li>
                <h4>Assigned Positions: {{ isopAssignedNodes }}</h4>
              </li>
              <!--                            <li>-->
              <!--                                <h4>UnAssigned Nodes:{{isopUnAssignedNodes}}</h4>-->
              <!--                            </li>-->
            </ul>
          </div>
        </div>
      </div>
    </b-modal>

    <b-modal
      id="upgrade-modal"
      centered
      title="Upgrade"
      footer-class="justify-content-center"
    >
      <p class="text-center mt-4">
        Position cap reached. Upgrade your plan to create more.
      </p>
      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button variant="primary" @click="confirmUpgradePlan()">
          Upgrade
        </b-button>
        <b-button variant="danger" @click="cancelUpgradePlan()">
          Cancel
        </b-button>
      </template>
    </b-modal>

    <candidate-resume-modal-component :bus="bus" />
    <view-company-modal :bus="bus" />
    <!-- <chat-footer :message="newMessage"></chat-footer> -->
  </div>
</template>

<script>
import OrgChart from "../../assets/js/orgchart";
import CreateJob from "../components/isop/CreateJob";
import ViewJobModal from "../components/job/ViewJobModal";
import EditJob from "../components/isop/EditJob";
import CandidateResumeModalComponent from "../components/company/CandidateResumeModalComponent";
import ViewCompanyModal from "../components/job/ViewCompanyModal";
import ChatFooter from "../components/common/ChatFooter";
import vSelect from "vue-select";
import config from "../config/config";
import { Avatar } from "vue-avatar";
import LoadingBar from "../components/common/LoadingBar";
import alertService from "../components/utils/alertService";
export default {
  name: "ISOP",
  components: {
    "v-select": vSelect,
    CreateJob,
    ViewJobModal,
    EditJob,
    CandidateResumeModalComponent,
    ViewCompanyModal,
    Avatar,
    LoadingBar,
    ChatFooter,
  },
  data() {
    return {
      candidateList: [],
      candidateDirectory: null,
      candidateId: null,
      possible: null,
      parentNode: null,
      currentNode: null,
      jobDetails: null,
      chart: null,
      nodes: [],
      ref: this,
      bus: new Vue(),
      senderNode: null,
      draggedNode: null,
      droppedNode: null,
      modalMessage: "",
      jobStatus: null,
      postMsg: null,
      postBtn: null,
      defaultImage: config.imagesURL + "assets/images/no-thumb.png",
      defaultCompanyImage:
        config.imagesURL + "assets/images/company-placeholder.png",
      selectedId: null,
      companyImage: config.imagesURL + "assets/images/company-placeholder.png",
      defaultUserImage: config.imagesURL + "assets/images/user-placeholder.png",
      companyName: "",
      isopTotalNodes: 0,
      isopPublishedNodes: 0,
      isopUnPublishedNodes: 0,
      isopAssignedNodes: 0,
      isopUnAssignedNodes: 0,
      platforms: [
        "platformOneCrateInternal",
        "platformOneCrateExternal",
        "platformIndeedExternal",
        "platformAdzunaExternal",
        "platformGlassdoorExternal",
        "platformMonsterExternal",
        "platformGoogleExternal",
      ],
      selected: [],
      allSelected: false,
      indeterminate: false,
      isLoading: false,
      userDetailInfo: {},
      totalNodesCount: 0,
      newMessage: {},
    };
  },
  mounted() {
    this.checkUserSubscription();
  },
  created() {
    OrgChart.templates.myTemplate = Object.assign(
      {},
      OrgChart.templates.belinda
    );
    OrgChart.templates.myTemplate.field_0 =
      '<text style="font-size: 18px;" fill="#4b4b4d" x="90" y="215" text-anchor="middle">{val}</text>';
    OrgChart.templates.myTemplate.field_1 =
      '<text style="font-size: 14px;" fill="#4b4b4d" x="90" y="235" text-anchor="middle">{val}</text>';
    OrgChart.templates.myTemplate.node =
      '<filter xmlns="http://www.w3.org/2000/svg" id="dropshadow" height="130%"><feGaussianBlur in="SourceAlpha" stdDeviation="7"/><feOffset dx="0" dy="0" result="offsetblur"/><feComponentTransfer><feFuncA type="linear" slope="0.2"/></feComponentTransfer><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/></feMerge></filter><circle cx="90" cy="90" r="90" fill="#ebebeb" stroke-width="0" stroke="#1C1C1C" filter="url(#dropshadow)"></circle>';
    OrgChart.templates.myTemplate.nodeMenuButton =
      '<g style="cursor:pointer; opacity: 0" transform="matrix(8.2,0,0,8.2,33,81)" control-node-menu-id="{id}">' +
      '<rect x="-4" y="-10" fill="#000000" fill-opacity="0" width="22" height="22">' +
      "</rect>" +
      '<line x1="0" y1="0" x2="0" y2="10" stroke-width="2" stroke="#4b4b4d" />' +
      '<line x1="7" y1="0" x2="7" y2="10" stroke-width="2" stroke="#4b4b4d" />' +
      '<line x1="14" y1="0" x2="14" y2="10" stroke-width="2" stroke="#4b4b4d" />' +
      "</g>";

    //for straight links
    // OrgChart.templates.myTemplate.link = '<path stroke="#039BE5" stroke-width="1px" fill="none" d="M{xa},{ya} {xb},{yb} {xc},{yc} L{xd},{yd}"/>';
    // OrgChart.linkOpenTag = '<g link-id="[{id}][{child-id}]" transform="matrix(1,0,0,1,0,60)" class="{class}" level="{level}">';

    OrgChart.templates.myTemplate.pointer =
      '<g data-pointer="pointer" transform="matrix(0,0,0,0,100,100)">><g transform="matrix(0.3,0,0,0.3,-17,-17)">' +
      '<polygon fill="#00ACEE" points="53.004,173.004 53.004,66.996 0,120" />' +
      '<polygon fill="#00ACEE" points="186.996,66.996 186.996,173.004 240,120" />' +
      '<polygon fill="#00ACEE" points="66.996,53.004 173.004,53.004 120,0" />' +
      '<polygon fill="#00ACEE" points="120,240 173.004,186.996 66.996,186.996" />' +
      '<circle  fill="#00ACEE" cx="120" cy="120" r="30" />' +
      "</g></g>";
    this.fetchNodes();
  },
  methods: {
    confirmUpgradePlan() {
      this.$router.push({ name: "pricing" });
    },
    checkUserSubscription() {
      axios({ url: config.apiURL + "checkUserSubscription", method: "GET" })
        .then((resp) => {
          this.userDetailInfo = resp.data;
        })
        .catch((err) => {
          let userData = err.response.data.user;
          this.userDetailInfo = userData;
          this.$store.dispatch("updateUser", userData); //update user data in state as well
          // this.$router.push({ name: "invalidMembership" });
          // alertService.Error('Error', err.response.data.error);
        });
    },
    blurNode(nodeId) {
      this.selectedId = nodeId;
      this.blur();
    },
    showJobSubMenu(nodeId) {
      this.chart.showSubMenu(nodeId, "jobOptions");
    },
    showCandidateSubMenu(nodeId) {
      this.chart.showSubMenu(nodeId, "candidateOptions");
    },
    showDeleteSubMenu(nodeId) {
      this.chart.showSubMenu(nodeId, "deleteOptions");
    },
    blur() {
      console.log("called blur");
      var clearElements = document.querySelectorAll('[filter="url(#f1)"]');
      for (var i = 0; i < clearElements.length; i++) {
        clearElements[i].removeAttribute("filter");
      }
      if (this.selectedId == null) {
        return;
      }
      var node = this.chart.getBGNode(this.selectedId);

      var skipBlur = [node.id];
      var skipBlurLink = [];
      while (node.parent) {
        skipBlur.push(node.parent.id);
        skipBlurLink.push("[" + node.parent.id + "][" + node.id + "]");
        node = node.parent;
      }
      var nodeElements = document.querySelectorAll("[node-id]");
      for (var i = 0; i < nodeElements.length; i++) {
        var id = nodeElements[i].getAttribute("node-id");
        if (skipBlur.indexOf(parseInt(id)) == -1) {
          nodeElements[i].setAttribute("filter", "url(#f1)");
        }
      }

      var expcollElements = document.querySelectorAll("[control-expcoll-id]");
      for (var i = 0; i < expcollElements.length; i++) {
        var id = expcollElements[i].getAttribute("control-expcoll-id");
        if (skipBlur.indexOf(id) == -1)
          expcollElements[i].setAttribute("filter", "url(#f1)");
      }

      var linksElements = document.querySelectorAll("[link-id]");
      for (var i = 0; i < linksElements.length; i++) {
        var id = linksElements[i].getAttribute("link-id");

        if (skipBlurLink.indexOf(id) == -1)
          linksElements[i].setAttribute("filter", "url(#f1)");
      }
    },

    setCandidate(value) {
      this.candidateId = value;
    },
    fetchNodes() {
      this.isLoading = true;
      axios({ url: config.apiURL + "getCompanyChartNodes", method: "GET" })
        .then((resp) => {
          this.isLoading = false;
          this.totalNodesCount = resp.data.charts && resp.data.charts.length;
          this.initChart(resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },

    initChart(nodeData) {
      let chartData = nodeData.charts;
      let rootId = nodeData.user_id;
      var webcallMeIcon =
        '<svg width="24" height="24" viewBox="0 0 300 400"><g transform="matrix(1,0,0,1,40,40)"><path fill="#5DB1FF" d="M260.423,0H77.431c-5.522,0-10,4.477-10,10v317.854c0,5.522,4.478,10,10,10h182.992c5.522,0,10-4.478,10-10V10 C270.423,4.477,265.945,0,260.423,0z M178.927,302.594c0,5.522-4.478,10-10,10c-5.523,0-10-4.478-10-10v-3.364h20V302.594z M250.423,279.229H87.431V58.624h162.992V279.229z" /><path fill="#5DB1FF" d="M118.5,229.156c4.042,4.044,9.415,6.271,15.132,6.271c5.715,0,11.089-2.227,15.133-6.269l29.664-29.662 c4.09-4.093,6.162-9.442,6.24-14.816c5.601-0.078,10.857-2.283,14.829-6.253l29.66-29.662c4.042-4.043,6.269-9.417,6.269-15.133 c0-5.716-2.227-11.09-6.269-15.13l-9.806-9.806c-4.041-4.043-9.415-6.27-15.132-6.27c-5.716,0-11.09,2.227-15.132,6.269 l-29.663,29.662c-4.092,4.092-6.164,9.443-6.242,14.817c-5.601,0.078-10.857,2.283-14.828,6.252l-29.661,29.662 c-4.042,4.043-6.269,9.418-6.268,15.136c0,5.716,2.227,11.089,6.269,15.129L118.5,229.156z M168.618,147.548l29.662-29.661 c1.587-1.587,3.696-2.461,5.94-2.461c2.243,0,4.353,0.874,5.938,2.461l9.808,9.808c1.586,1.586,2.46,3.694,2.46,5.937 c0,2.244-0.874,4.354-2.462,5.941l-29.658,29.661c-1.588,1.587-3.697,2.46-5.941,2.46c-2.243,0-4.353-0.874-5.938-2.46 l-0.309-0.309l19.598-19.598c2.539-2.539,2.539-6.654,0-9.192c-2.537-2.538-6.654-2.538-9.191,0l-19.599,19.598l-0.308-0.308 C165.344,156.152,165.345,150.823,168.618,147.548z M117.888,198.28l29.66-29.661c1.587-1.586,3.695-2.46,5.939-2.46 c2.242,0,4.349,0.872,5.934,2.455c0.002,0.001,0.004,0.003,0.005,0.005l0.309,0.309l-19.598,19.598 c-2.539,2.538-2.539,6.653,0,9.191c1.269,1.27,2.933,1.904,4.596,1.904s3.327-0.635,4.596-1.904l19.599-19.598l0.309,0.309 c3.273,3.273,3.273,8.603,0,11.877l-29.662,29.66c-1.588,1.588-3.698,2.462-5.941,2.462c-2.243,0-4.352-0.874-5.938-2.462 l-9.807-9.806c-1.586-1.586-2.46-3.694-2.46-5.938C115.426,201.978,116.3,199.868,117.888,198.28z" /></g></svg>';
      var companyStatsIcon =
        '<svg width="20.345" height="20.29" viewBox="0 0 20.345 20.29"><g id="stats" transform="translate(0 -0.503)"><g id="Group_385" data-name="Group 385" transform="translate(0 2.089)"><g id="Group_384" data-name="Group 384" transform="translate(0 0)"><path id="Path_1546" data-name="Path 1546" d="M18.167,38.5H9.9V30.213a.546.546,0,0,0-.546-.544,9.3,9.3,0,0,0-6.621,2.739A9.357,9.357,0,0,0,9.352,48.373,9.339,9.339,0,0,0,18.7,39.032.534.534,0,0,0,18.167,38.5ZM15.2,44.88A8.274,8.274,0,0,1,1.087,39.024a8.316,8.316,0,0,1,2.419-5.849,8.2,8.2,0,0,1,5.306-2.4v8.247a.559.559,0,0,0,.539.567H17.6A8.356,8.356,0,0,1,15.2,44.88Z" transform="translate(0 -29.669)" fill="#00acee"/></g></g><g id="Group_387" data-name="Group 387" transform="translate(10.444 0.503)"><g id="Group_386" data-name="Group 386" transform="translate(0 0)"><path id="Path_1547" data-name="Path 1547" d="M199.206,3.236s0,0-.007,0h0A9.4,9.4,0,0,0,192.583.5a.546.546,0,0,0-.546.544V9.855a.529.529,0,0,0,.549.521h8.808a.534.534,0,0,0,.544-.525s0-.005,0-.008A9.382,9.382,0,0,0,199.206,3.236Zm-6.081,6.053V1.609A8.253,8.253,0,0,1,198.431,4a8.359,8.359,0,0,1,2.4,5.292Z" transform="translate(-192.037 -0.503)" fill="#00acee"/></g></g></g></svg>';
      var companyProfileIcon =
        '<svg xmlns="http://www.w3.org/2000/svg" width="23" height="24.454" viewBox="0 0 23 24.454"><g id="Group_364" data-name="Group 364" transform="translate(-4752 -2290.546)"><g id="view_resume" transform="translate(4695.482 2284.134)"><g id="Path_1417" data-name="Path 1417" transform="translate(56.518 8.75)"><path id="Path_1501" data-name="Path 1501" d="M56.518,8.75H72.649V27.366H56.518Z" transform="translate(-56.518 -8.75)" fill="none"/><path id="Path_1502" data-name="Path 1502" d="M57.923,10.155v15.8H71.245v-15.8H67.537V7.817H61.424v2.338h-3.5m-1.4-1.4h3.657V6.412h8.606V8.75H72.65V27.363H56.518Z" transform="translate(-56.518 -8.75)" fill="#00acee"/></g><rect id="Rectangle_259" data-name="Rectangle 259" width="3.927" height="1.241" transform="translate(59.62 13.713)" fill="#00acee"/><rect id="Rectangle_259-2" data-name="Rectangle 259" width="3.927" height="1.241" transform="translate(65.62 13.713)" fill="#00acee"/><rect id="Rectangle_260" data-name="Rectangle 260" width="3.927" height="1.241" transform="translate(59.62 17.436)" fill="#00acee"/><rect id="Rectangle_260-2" data-name="Rectangle 260" width="3.927" height="1.241" transform="translate(65.62 17.436)" fill="#00acee"/><rect id="Rectangle_261" data-name="Rectangle 261" width="3.927" height="1.241" transform="translate(59.62 21.159)" fill="#00acee"/><rect id="Rectangle_261-2" data-name="Rectangle 261" width="3.927" height="1.241" transform="translate(65.62 21.159)" fill="#00acee"/><rect id="Rectangle_261-3" data-name="Rectangle 261" width="3.927" height="1.241" transform="translate(65.205 22.816) rotate(90)" fill="#00acee"/></g><circle id="Ellipse_22" data-name="Ellipse 22" cx="6.5" cy="6.5" r="6.5" transform="translate(4762 2302)" fill="#fff"/><g id="_11_Search-128" data-name="11_Search-128" transform="translate(4763.878 2303.879)"><path id="Path_60" data-name="Path 60" d="M4.4,0h.323A4.575,4.575,0,0,1,7.642,1.242a4.524,4.524,0,0,1,.7,5.725c.569.573,1.143,1.14,1.711,1.714a1.081,1.081,0,0,1,.284.564v.236a1.023,1.023,0,0,1-.848.857H9.255a1.064,1.064,0,0,1-.574-.285C8.108,9.484,7.54,8.91,6.967,8.342A4.525,4.525,0,0,1,.684,6.92,4.647,4.647,0,0,1,0,4.724V4.4A4.543,4.543,0,0,1,4.4,0M3.916,1.354a3.236,3.236,0,1,0,2.4.482A3.244,3.244,0,0,0,3.916,1.354Z" fill="#00acee"/></g></g></svg>';
      var jobOptionsIcon =
        '<svg width="19.344" height="17.001" viewBox="0 0 19.344 17.001"><path id="job_options" d="M18.781,2.267H13.639V1.7a1.7,1.7,0,0,0-1.7-1.7H7.405a1.7,1.7,0,0,0-1.7,1.7v.567H.567A.568.568,0,0,0,0,2.834V15.3A1.7,1.7,0,0,0,1.7,17H17.644a1.7,1.7,0,0,0,1.7-1.7V2.843a.55.55,0,0,0-.563-.576ZM6.838,1.7a.567.567,0,0,1,.567-.567h4.534a.567.567,0,0,1,.567.567v.567H6.838ZM17.991,3.4,16.231,8.68a.566.566,0,0,1-.537.388H12.506V8.5a.567.567,0,0,0-.567-.567H7.405a.567.567,0,0,0-.567.567v.567H3.651a.566.566,0,0,1-.537-.388L1.353,3.4ZM11.372,9.067V10.2h-3.4V9.067ZM18.21,15.3a.567.567,0,0,1-.567.567H1.7a.567.567,0,0,1-.567-.567V6.326l.9,2.713A1.7,1.7,0,0,0,3.651,10.2H6.838v.567a.567.567,0,0,0,.567.567h4.534a.567.567,0,0,0,.567-.567V10.2h3.188a1.7,1.7,0,0,0,1.613-1.162l.9-2.713Zm0,0" fill="#00acee"/></svg>';
      var viewJobIcon =
        '<svg width="25" height="21.692" viewBox="0 0 25 21.692"><g id="view_job" transform="translate(-4740 -2327.308)"><path id="portfolio_1_" data-name="portfolio (1)" d="M18.781,2.267H13.639V1.7a1.7,1.7,0,0,0-1.7-1.7H7.405a1.7,1.7,0,0,0-1.7,1.7v.567H.567A.568.568,0,0,0,0,2.834V15.3A1.7,1.7,0,0,0,1.7,17H17.644a1.7,1.7,0,0,0,1.7-1.7V2.843a.55.55,0,0,0-.563-.576ZM6.838,1.7a.567.567,0,0,1,.567-.567h4.534a.567.567,0,0,1,.567.567v.567H6.838ZM17.991,3.4,16.231,8.68a.566.566,0,0,1-.537.388H12.506V8.5a.567.567,0,0,0-.567-.567H7.405a.567.567,0,0,0-.567.567v.567H3.651a.566.566,0,0,1-.537-.388L1.353,3.4ZM11.372,9.067V10.2h-3.4V9.067ZM18.21,15.3a.567.567,0,0,1-.567.567H1.7a.567.567,0,0,1-.567-.567V6.326l.9,2.713A1.7,1.7,0,0,0,3.651,10.2H6.838v.567a.567.567,0,0,0,.567.567h4.534a.567.567,0,0,0,.567-.567V10.2h3.188a1.7,1.7,0,0,0,1.613-1.162l.9-2.713Zm0,0" transform="translate(4740 2327.308)" fill="#00acee"/><circle id="Ellipse_12" data-name="Ellipse 12" cx="6.5" cy="6.5" r="6.5" transform="translate(4752 2336)" fill="#fff"/><g id="_11_Search-128" data-name="11_Search-128" transform="translate(4753.878 2337.879)"><path id="Path_60" data-name="Path 60" d="M4.4,0h.323A4.575,4.575,0,0,1,7.642,1.242a4.524,4.524,0,0,1,.7,5.725c.569.573,1.143,1.14,1.711,1.714a1.081,1.081,0,0,1,.284.564v.236a1.023,1.023,0,0,1-.848.857H9.255a1.064,1.064,0,0,1-.574-.285C8.108,9.484,7.54,8.91,6.967,8.342A4.525,4.525,0,0,1,.684,6.92,4.647,4.647,0,0,1,0,4.724V4.4A4.543,4.543,0,0,1,4.4,0M3.916,1.354a3.236,3.236,0,1,0,2.4.482A3.244,3.244,0,0,0,3.916,1.354Z" fill="#00acee"/></g></g></svg>';
      var addJobIcon =
        '<svg width="16.773" height="16.776" viewBox="0 0 16.773 16.776"><path id="add" d="M6.957,16.776v-7.5H0V6.958H6.957V0H9.276V6.958h7.5V9.277h-7.5v7.5Z" fill="#00acee"/></svg>';
      var editJobIcon =
        '<svg width="27" height="21.692" viewBox="0 0 27 21.692"><g id="edit_job" transform="translate(-4740 -2327.308)"><path id="portfolio_1_" data-name="portfolio (1)" d="M18.781,2.267H13.639V1.7a1.7,1.7,0,0,0-1.7-1.7H7.405a1.7,1.7,0,0,0-1.7,1.7v.567H.567A.568.568,0,0,0,0,2.834V15.3A1.7,1.7,0,0,0,1.7,17H17.644a1.7,1.7,0,0,0,1.7-1.7V2.843a.55.55,0,0,0-.563-.576ZM6.838,1.7a.567.567,0,0,1,.567-.567h4.534a.567.567,0,0,1,.567.567v.567H6.838ZM17.991,3.4,16.231,8.68a.566.566,0,0,1-.537.388H12.506V8.5a.567.567,0,0,0-.567-.567H7.405a.567.567,0,0,0-.567.567v.567H3.651a.566.566,0,0,1-.537-.388L1.353,3.4ZM11.372,9.067V10.2h-3.4V9.067ZM18.21,15.3a.567.567,0,0,1-.567.567H1.7a.567.567,0,0,1-.567-.567V6.326l.9,2.713A1.7,1.7,0,0,0,3.651,10.2H6.838v.567a.567.567,0,0,0,.567.567h4.534a.567.567,0,0,0,.567-.567V10.2h3.188a1.7,1.7,0,0,0,1.613-1.162l.9-2.713Zm0,0" transform="translate(4740 2327.308)" fill="#00acee"/><path id="Path_1504" data-name="Path 1504" d="M7.265-2.572,13,0V13H0L-4.683,9.414Z" transform="translate(4754 2336)" fill="#fff"/><g id="Edit-128_1_" data-name="Edit-128 (1)" transform="translate(4742.576 2329.864)"><path id="Path_9" data-name="Path 9" d="M27.526,7.037a1.71,1.71,0,0,1,1.722.6c.414.487,1.036.851,1.2,1.507a1.614,1.614,0,0,1-.4,1.551c-2.524,2.557-5.1,5.066-7.611,7.635-1.4.351-2.755.856-4.147,1.234a.292.292,0,0,1-.363-.363c.374-1.394.889-2.747,1.23-4.15,2.444-2.4,4.84-4.842,7.271-7.251a2.212,2.212,0,0,1,1.092-.762m-7.9,8.755c-.305,1-.619,1.994-.917,2.994,1-.29,1.992-.622,2.993-.916C21.012,17.176,20.317,16.487,19.627,15.792Z" transform="translate(-8.995 -0.85)" fill="#00acee"/></g></g></svg>';
      var publishJobIcon =
        '<svg xmlns="http://www.w3.org/2000/svg" width="18.5" height="19.807" viewBox="0 0 18.5 19.807"><g id="Group_346" data-name="Group 346" transform="translate(-221.677 -86.1)"><g id="Group_357" data-name="Group 357"><path id="Path_1514" data-name="Path 1514" d="M238.18,96.212a6.537,6.537,0,0,0-6.35-6.289.971.971,0,0,0-.17-.01h-.02a.971.971,0,0,0-.17.01,6.538,6.538,0,0,0-6.36,6.289,3.132,3.132,0,0,0,0,.5,6.538,6.538,0,0,0,6.36,6.281,1.076,1.076,0,0,0,.17.009h.02a1.076,1.076,0,0,0,.17-.009,6.545,6.545,0,0,0,6.35-6.281,3.127,3.127,0,0,0,0-.5Zm-6.54-5.8h.02c1.15.01,2.44,2.37,2.49,5.8h-5.01C229.19,92.783,230.48,90.423,231.64,90.413Zm-1.28.14c-1,1.019-1.68,3.149-1.72,5.659h-3.03A6.038,6.038,0,0,1,230.36,90.553Zm-4.75,6.159h3.03c.04,2.5.72,4.63,1.72,5.651A6.037,6.037,0,0,1,225.61,96.712Zm6.05,5.79h-.02c-1.16-.009-2.45-2.37-2.5-5.79h5.01C234.1,100.132,232.81,102.493,231.66,102.5Zm1.28-.139c.99-1.021,1.67-3.151,1.71-5.651h3.03A6.037,6.037,0,0,1,232.94,102.363Zm1.71-6.151c-.04-2.51-.72-4.64-1.71-5.659a6.046,6.046,0,0,1,4.74,5.659Z" fill="#00acee" stroke="#00acee" stroke-miterlimit="10" stroke-width="0.25"/></g><g id="Group_358" data-name="Group 358"><g id="Path_1515" data-name="Path 1515" fill="#00acee" stroke-miterlimit="10"><path d="M 230.9779968261719 89.06500244140625 C 230.2308502197266 89.06500244140625 229.6230010986328 88.4571533203125 229.6230010986328 87.70999145507813 C 229.6230010986328 86.9600830078125 230.2308502197266 86.34999084472656 230.9779968261719 86.34999084472656 C 231.7251434326172 86.34999084472656 232.3329925537109 86.9600830078125 232.3329925537109 87.70999145507813 C 232.3329925537109 88.4571533203125 231.7251434326172 89.06500244140625 230.9779968261719 89.06500244140625 Z" stroke="none"/><path d="M 230.9779968261719 88.81500244140625 C 231.5870056152344 88.81500244140625 232.0829925537109 88.31900787353516 232.0829925537109 87.70999145507813 C 232.0829925537109 87.09500122070313 231.5870056152344 86.59999084472656 230.9779968261719 86.59999084472656 C 230.3690032958984 86.59999084472656 229.8730010986328 87.09500122070313 229.8730010986328 87.70999145507813 C 229.8730010986328 88.31900787353516 230.3690032958984 88.81500244140625 230.9779968261719 88.81500244140625 M 230.9779968261719 89.31500244140625 C 230.0930023193359 89.31500244140625 229.3730010986328 88.59500122070313 229.3730010986328 87.70999145507813 C 229.3730010986328 86.82223510742188 230.0930023193359 86.09999084472656 230.9779968261719 86.09999084472656 C 231.8629913330078 86.09999084472656 232.5829925537109 86.82223510742188 232.5829925537109 87.70999145507813 C 232.5829925537109 88.59500122070313 231.8629913330078 89.31500244140625 230.9779968261719 89.31500244140625 Z" stroke="none" fill="#fff"/></g></g><g id="Group_359" data-name="Group 359"><g id="Ellipse_17" data-name="Ellipse 17" transform="translate(231.3 102.792)" fill="#00acee" stroke="#fff" stroke-miterlimit="10" stroke-width="0.5"><circle cx="0.782" cy="0.782" r="0.782" stroke="none"/><circle cx="0.782" cy="0.782" r="1.032" fill="none"/></g></g><g id="Group_360" data-name="Group 360"><g id="Path_1516" data-name="Path 1516" fill="#00acee" stroke-miterlimit="10"><path d="M 222.9649963378906 97.48999786376953 C 222.3926391601563 97.48999786376953 221.927001953125 97.02659606933594 221.927001953125 96.45700073242188 C 221.927001953125 95.88795471191406 222.3926391601563 95.42500305175781 222.9649963378906 95.42500305175781 C 223.5340423583984 95.42500305175781 223.9969940185547 95.88795471191406 223.9969940185547 96.45700073242188 C 223.9969940185547 97.02659606933594 223.5340423583984 97.48999786376953 222.9649963378906 97.48999786376953 Z" stroke="none"/><path d="M 222.9649963378906 95.67500305175781 C 222.5290069580078 95.67500305175781 222.177001953125 96.02800750732422 222.177001953125 96.45700073242188 C 222.177001953125 96.89299774169922 222.5290069580078 97.23999786376953 222.9649963378906 97.23999786376953 C 223.3950042724609 97.23999786376953 223.7469940185547 96.89299774169922 223.7469940185547 96.45700073242188 C 223.7469940185547 96.02800750732422 223.3950042724609 95.67500305175781 222.9649963378906 95.67500305175781 M 222.9649963378906 95.17500305175781 C 223.6718902587891 95.17500305175781 224.2469940185547 95.75010681152344 224.2469940185547 96.45700073242188 C 224.2469940185547 97.16444396972656 223.6718902587891 97.73999786376953 222.9649963378906 97.73999786376953 C 222.2547912597656 97.73999786376953 221.677001953125 97.16444396972656 221.677001953125 96.45700073242188 C 221.677001953125 95.75010681152344 222.2547912597656 95.17500305175781 222.9649963378906 95.17500305175781 Z" stroke="none" fill="#fff"/></g></g><g id="Group_361" data-name="Group 361"><path id="Path_1517" data-name="Path 1517" d="M222.434,104.769" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="0.5"/></g><g id="Group_363" data-name="Group 363"><g id="Group_362" data-name="Group 362"><g id="Path_1518" data-name="Path 1518" fill="#00acee" stroke-miterlimit="10"><path d="M 223.0667572021484 105.3030014038086 L 222.8994293212891 105.1154098510742 L 222.5694274902344 104.7454071044922 L 222.4040069580078 104.5599517822266 L 222.5884552001953 104.3934326171875 L 230.3526153564453 97.38413238525391 C 230.2248229980469 97.14582061767578 230.156005859375 96.87401580810547 230.156005859375 96.5989990234375 C 230.156005859375 96.26396179199219 230.2507629394531 95.94380950927734 230.4260711669922 95.67726898193359 L 223.9248046875 87.96006774902344 L 223.7661285400391 87.77172088623047 L 223.9520874023438 87.61023712158203 L 224.3320770263672 87.28024291992188 L 224.5238189697266 87.11373901367188 L 224.6873016357422 87.30805206298828 L 231.1849975585938 95.03079986572266 C 231.3881683349609 94.93756866455078 231.6163177490234 94.88899993896484 231.8560028076172 94.88899993896484 C 232.2390899658203 94.88899993896484 232.5977172851563 95.01323699951172 232.8889007568359 95.24311065673828 L 238.6795196533203 89.47193145751953 L 238.8538208007813 89.29821014404297 L 239.0302734375 89.46974945068359 L 239.3902740478516 89.81974792480469 L 239.5720672607422 89.99649047851563 L 239.3927764892578 90.17578125 L 233.4803771972656 96.08818054199219 C 233.5306091308594 96.25692749023438 233.5559997558594 96.42814636230469 233.5559997558594 96.5989990234375 C 233.5559997558594 96.91169738769531 233.47021484375 97.21352386474609 233.3114776611328 97.46825408935547 L 237.7186889648438 102.7997207641602 L 237.8765258789063 102.9906616210938 L 237.6870269775391 103.1502304077148 L 237.3070220947266 103.4702301025391 L 237.1139678955078 103.6327972412109 L 236.9532470703125 103.4382095336914 L 232.5771942138672 98.14037322998047 C 232.3592376708984 98.24463653564453 232.1138458251953 98.29899597167969 231.8560028076172 98.29899597167969 C 231.5785369873047 98.29899597167969 231.3006134033203 98.22889709472656 231.0554351806641 98.09909057617188 L 223.25341796875 105.1346588134766 L 223.0667572021484 105.3030014038086 Z" stroke="none"/><path d="M 223.0859985351563 104.9489974975586 L 231.0260009765625 97.78900146484375 C 231.2559967041016 97.94899749755859 231.5460052490234 98.04899597167969 231.8560028076172 98.04899597167969 C 232.14599609375 98.04899597167969 232.4160003662109 97.96900177001953 232.6360015869141 97.81900024414063 L 237.14599609375 103.2789993286133 L 237.5260009765625 102.9589996337891 L 232.9960021972656 97.47899627685547 C 233.1959991455078 97.23899841308594 233.3059997558594 96.92900085449219 233.3059997558594 96.5989990234375 C 233.3059997558594 96.39900207519531 233.2660064697266 96.20899963378906 233.1959991455078 96.02899932861328 L 233.1959991455078 96.01899719238281 L 239.2160034179688 89.99900054931641 L 238.8560028076172 89.64900207519531 L 232.89599609375 95.58899688720703 C 232.6360015869141 95.30899810791016 232.2660064697266 95.13899993896484 231.8560028076172 95.13899993896484 C 231.5859985351563 95.13899993896484 231.3359985351563 95.20899963378906 231.1260070800781 95.3489990234375 L 224.4960021972656 87.46900177001953 L 224.1159973144531 87.79899597167969 L 230.7460021972656 95.66899871826172 C 230.5260009765625 95.91899871826172 230.406005859375 96.24900054931641 230.406005859375 96.5989990234375 C 230.406005859375 96.90899658203125 230.5059967041016 97.19899749755859 230.6759948730469 97.42900085449219 L 222.7559967041016 104.5790023803711 L 223.0859985351563 104.9489974975586 M 223.0474853515625 105.6569976806641 L 222.7128601074219 105.2818069458008 L 222.3828582763672 104.9118118286133 L 222.0520324707031 104.5409088134766 L 222.4209442138672 104.2078704833984 L 230.0478668212891 97.32245635986328 C 229.9551391601563 97.09473419189453 229.906005859375 96.84793090820313 229.906005859375 96.5989990234375 C 229.906005859375 96.28090667724609 229.9808502197266 95.97402954101563 230.1213073730469 95.70350646972656 L 223.7336120605469 88.12113952636719 L 223.416259765625 87.74443817138672 L 223.7881622314453 87.42147827148438 L 224.1681671142578 87.09147644042969 L 224.5516204833984 86.75847625732422 L 224.8785858154297 87.14710235595703 L 231.2609252929688 94.73273468017578 C 231.4479064941406 94.67089080810547 231.6484832763672 94.63899993896484 231.8560028076172 94.63899993896484 C 232.2129516601563 94.63899993896484 232.5603637695313 94.73832702636719 232.8589782714844 94.91996002197266 L 238.5030364990234 89.29485321044922 L 238.8516540527344 88.94741821289063 L 239.2045440673828 89.29049682617188 L 239.5645446777344 89.6405029296875 L 239.9281158447266 89.99398803710938 L 239.5695495605469 90.35254669189453 L 233.7581329345703 96.16397857666016 C 233.7899475097656 96.30807495117188 233.8059997558594 96.45353698730469 233.8059997558594 96.5989990234375 C 233.8059997558594 96.89519500732422 233.7388000488281 97.18332672119141 233.6126251220703 97.44016265869141 L 237.911376953125 102.6404266357422 L 238.2270660400391 103.0223159790039 L 237.8480682373047 103.3414611816406 L 237.4680480957031 103.6614608764648 L 237.0819549560547 103.9865875244141 L 236.760498046875 103.5974197387695 L 232.5017242431641 98.44156646728516 C 232.2993927001953 98.51242065429688 232.0815887451172 98.54899597167969 231.8560028076172 98.54899597167969 C 231.5973815917969 98.54899597167969 231.3383636474609 98.49586486816406 231.0994720458984 98.39601898193359 L 223.4208374023438 105.3203201293945 L 223.0474853515625 105.6569976806641 Z" stroke="none" fill="#fff"/></g></g><circle id="Ellipse_18" data-name="Ellipse 18" cx="1.141" cy="1.141" r="1.141" transform="translate(235.99 101.978)" fill="#00acee"/><circle id="Ellipse_19" data-name="Ellipse 19" cx="1.141" cy="1.141" r="1.141" transform="translate(221.778 103.625)" fill="#00acee"/><circle id="Ellipse_20" data-name="Ellipse 20" cx="1.141" cy="1.141" r="1.141" transform="translate(223.166 86.493)" fill="#00acee"/><circle id="Ellipse_21" data-name="Ellipse 21" cx="1.141" cy="1.141" r="1.141" transform="translate(237.896 88.681)" fill="#00acee"/></g></g></svg>';
      var duplicateJobIcon =
        '<svg width="16.081" height="18.62" viewBox="0 0 16.081 18.62"><g id="duplicate" transform="translate(0)"><path id="Path_1328" data-name="Path 1328" d="M50.1,0H39.943A1.7,1.7,0,0,0,38.25,1.693V13.542h1.693V1.693H50.1Zm2.539,3.385h-9.31a1.7,1.7,0,0,0-1.693,1.693V16.927a1.7,1.7,0,0,0,1.693,1.693h9.31a1.7,1.7,0,0,0,1.693-1.693V5.078A1.7,1.7,0,0,0,52.638,3.385Zm0,13.542h-9.31V5.078h9.31Z" transform="translate(-38.25)" fill="#00acee"/></g></svg>';
      var candidateDirectoryIcon =
        '<svg width="25.721" height="22.627" viewBox="0 0 25.721 22.627"><g id="cadidate_directory" transform="translate(-16.279 -10.373)"><g id="_747376" data-name="747376" transform="translate(16.279 10.373)"><g id="Group_150" data-name="Group 150" transform="translate(0)"><path id="Path_1327" data-name="Path 1327" d="M16.825,12.742a9.818,9.818,0,0,0-3.745-2.349,5.7,5.7,0,1,0-6.448,0A9.871,9.871,0,0,0,0,19.711H1.54a8.316,8.316,0,1,1,16.632,0h1.54A9.791,9.791,0,0,0,16.825,12.742ZM9.856,9.856A4.158,4.158,0,1,1,14.014,5.7,4.163,4.163,0,0,1,9.856,9.856Z" transform="translate(0)" fill="#00acee"/></g></g><circle id="Ellipse_13" data-name="Ellipse 13" cx="6.5" cy="6.5" r="6.5" transform="translate(29 20)" fill="#fff"/><g id="_11_Search-128" data-name="11_Search-128" transform="translate(30.878 21.879)"><path id="Path_60" data-name="Path 60" d="M4.4,0h.323A4.575,4.575,0,0,1,7.642,1.242a4.524,4.524,0,0,1,.7,5.725c.569.573,1.143,1.14,1.711,1.714a1.081,1.081,0,0,1,.284.564v.236a1.023,1.023,0,0,1-.848.857H9.255a1.064,1.064,0,0,1-.574-.285C8.108,9.484,7.54,8.91,6.967,8.342A4.525,4.525,0,0,1,.684,6.92,4.647,4.647,0,0,1,0,4.724V4.4A4.543,4.543,0,0,1,4.4,0M3.916,1.354a3.236,3.236,0,1,0,2.4.482A3.244,3.244,0,0,0,3.916,1.354Z" fill="#00acee"/></g></g></svg>';
      var removeMemberIcon =
        '<svg width="25.721" height="23.627" viewBox="0 0 25.721 23.627"><g id="delete_member" transform="translate(-4741.279 -2325.373)"><g id="_747376" data-name="747376" transform="translate(4741.279 2325.373)"><g id="Group_150" data-name="Group 150" transform="translate(0)"><path id="Path_1327" data-name="Path 1327" d="M16.825,12.742a9.818,9.818,0,0,0-3.745-2.349,5.7,5.7,0,1,0-6.448,0A9.871,9.871,0,0,0,0,19.711H1.54a8.316,8.316,0,1,1,16.632,0h1.54A9.791,9.791,0,0,0,16.825,12.742ZM9.856,9.856A4.158,4.158,0,1,1,14.014,5.7,4.163,4.163,0,0,1,9.856,9.856Z" transform="translate(0)" fill="#00acee"/></g></g><rect id="Rectangle_61" data-name="Rectangle 61" width="13" height="13" transform="translate(4754 2336)" fill="#fff"/><path id="Path_1503" data-name="Path 1503" d="M51.628,8.355a1.259,1.259,0,0,0,1.255,1.255H57.9A1.259,1.259,0,0,0,59.16,8.355V2.511H51.628ZM59.787.628h-2.2L56.963,0H53.825L53.2.628H51V1.883h8.787Z" transform="translate(4704.617 2337.295)" fill="#00acee"/></g></svg>';
      var candidateOptionsIcon =
        '<svg id="cadidate_option" width="19.711" height="19.711" viewBox="0 0 19.711 19.711"><g id="Group_150" data-name="Group 150" transform="translate(0)"><path id="Path_1327" data-name="Path 1327" d="M16.825,12.742a9.818,9.818,0,0,0-3.745-2.349,5.7,5.7,0,1,0-6.448,0A9.871,9.871,0,0,0,0,19.711H1.54a8.316,8.316,0,1,1,16.632,0h1.54A9.791,9.791,0,0,0,16.825,12.742ZM9.856,9.856A4.158,4.158,0,1,1,14.014,5.7,4.163,4.163,0,0,1,9.856,9.856Z" transform="translate(0)" fill="#00acee"/></g></svg>';
      var candidateResumeIcon =
        '<svg width="16.132" height="18.616" viewBox="0 0 16.132 18.616"><g id="view_resume" transform="translate(-56.518 -8.75)"><g id="Path_1417" data-name="Path 1417" transform="translate(56.518 8.75)"><path id="Path_1501" data-name="Path 1501" d="M56.518,8.75H72.649V27.366H56.518Z" transform="translate(-56.518 -8.75)" fill="none"/><path id="Path_1502" data-name="Path 1502" d="M57.923,10.155v15.8H71.245v-15.8H57.923m-1.4-1.4H72.65V27.363H56.518Z" transform="translate(-56.518 -8.75)" fill="#00acee"/></g><rect id="Rectangle_259" data-name="Rectangle 259" width="9.927" height="1.241" transform="translate(59.62 13.713)" fill="#00acee"/><rect id="Rectangle_260" data-name="Rectangle 260" width="9.927" height="1.241" transform="translate(59.62 17.436)" fill="#00acee"/><rect id="Rectangle_261" data-name="Rectangle 261" width="9.927" height="1.241" transform="translate(59.62 21.159)" fill="#00acee"/></g></svg>';
      var assignCandidateIcon =
        '<svg width="19.097" height="19.097" viewBox="0 0 19.097 19.097"><g id="assign_member" transform="translate(5.411 4.503)"><g id="Group_150" data-name="Group 150" transform="translate(-1.601 -1.09)"><path id="Path_1327" data-name="Path 1327" d="M9.8,7.42A5.717,5.717,0,0,0,7.616,6.052a3.318,3.318,0,1,0-3.755,0A5.748,5.748,0,0,0,0,11.478H.9a4.842,4.842,0,1,1,9.685,0h.9A5.7,5.7,0,0,0,9.8,7.42ZM5.739,5.739A2.421,2.421,0,1,1,8.16,3.318,2.424,2.424,0,0,1,5.739,5.739Z" transform="translate(0)" fill="#00acee"/></g><path id="Path_1343" data-name="Path 1343" d="M1.119,1.119H3.455V0H0V3.413H1.119Zm0,0" transform="translate(-5.41 -4.503)" fill="#00acee"/><path id="Path_1344" data-name="Path 1344" d="M419.375,0V1.119h2.336V3.413h1.119V0Zm0,0" transform="translate(-409.143 -4.503)" fill="#00acee"/><path id="Path_1345" data-name="Path 1345" d="M1.119,420.5H0v3.413H3.455v-1.119H1.119Zm0,0" transform="translate(-5.41 -409.319)" fill="#00acee"/><path id="Path_1346" data-name="Path 1346" d="M421.711,422.794h-2.336v1.119h3.455V420.5h-1.119Zm0,0" transform="translate(-409.143 -409.319)" fill="#00acee"/></g></svg>';
      var deleteNodeIcon =
        '<svg width="27" height="21.692" viewBox="0 0 27 21.692"><g id="delete_position" transform="translate(-4740 -2327.308)"><path id="portfolio_1_" data-name="portfolio (1)" d="M18.781,2.267H13.639V1.7a1.7,1.7,0,0,0-1.7-1.7H7.405a1.7,1.7,0,0,0-1.7,1.7v.567H.567A.568.568,0,0,0,0,2.834V15.3A1.7,1.7,0,0,0,1.7,17H17.644a1.7,1.7,0,0,0,1.7-1.7V2.843a.55.55,0,0,0-.563-.576ZM6.838,1.7a.567.567,0,0,1,.567-.567h4.534a.567.567,0,0,1,.567.567v.567H6.838ZM17.991,3.4,16.231,8.68a.566.566,0,0,1-.537.388H12.506V8.5a.567.567,0,0,0-.567-.567H7.405a.567.567,0,0,0-.567.567v.567H3.651a.566.566,0,0,1-.537-.388L1.353,3.4ZM11.372,9.067V10.2h-3.4V9.067ZM18.21,15.3a.567.567,0,0,1-.567.567H1.7a.567.567,0,0,1-.567-.567V6.326l.9,2.713A1.7,1.7,0,0,0,3.651,10.2H6.838v.567a.567.567,0,0,0,.567.567h4.534a.567.567,0,0,0,.567-.567V10.2h3.188a1.7,1.7,0,0,0,1.613-1.162l.9-2.713Zm0,0" transform="translate(4740 2327.308)" fill="#00acee"/><rect id="Rectangle_61" data-name="Rectangle 61" width="13" height="13" transform="translate(4754 2336)" fill="#fff"/><path id="Path_1503" data-name="Path 1503" d="M51.628,8.355a1.259,1.259,0,0,0,1.255,1.255H57.9A1.259,1.259,0,0,0,59.16,8.355V2.511H51.628ZM59.787.628h-2.2L56.963,0H53.825L53.2.628H51V1.883h8.787Z" transform="translate(4704.617 2337.295)" fill="#00acee"/></g></svg>';
      var deleteBranchIcon =
        '<svg width="22" height="21" viewBox="0 0 22 21"><g id="del_branch" transform="translate(-2185 -608.7)"><rect id="Rectangle_21" data-name="Rectangle 21" height="2" transform="translate(2196 617.7)" fill="#4b4b4d"/><rect id="Rectangle_23" data-name="Rectangle 23" height="1" transform="translate(2189 619.7)" fill="#4b4b4d"/><circle id="Ellipse_11" data-name="Ellipse 11" cx="5" cy="5" r="5" transform="translate(2191 608.7)" fill="#00acee"/><g id="Group_9" data-name="Group 9" transform="translate(2198.2 621)"><g id="Ellipse_2" data-name="Ellipse 2" transform="translate(-0.2 -0.3)" fill="none" stroke="#00acee" stroke-width="2"><circle cx="4.5" cy="4.5" r="4.5" stroke="none"/><circle cx="4.5" cy="4.5" r="3.5" fill="none"/></g></g><g id="Group_10" data-name="Group 10" transform="translate(2185 621)"><g id="Ellipse_2-2" data-name="Ellipse 2" transform="translate(0 -0.3)" fill="none" stroke="#00acee" stroke-width="2"><circle cx="4.5" cy="4.5" r="4.5" stroke="none"/><circle cx="4.5" cy="4.5" r="3.5" fill="none"/></g></g></g></svg>';
      var deleteIcon =
        '<svg id="delete" width="16.567" height="20.487" viewBox="0 0 16.567 20.487"><g id="Group_152" data-name="Group 152" transform="translate(0)"><path id="Path_1329" data-name="Path 1329" d="M60.381,2.454H57.192a2.772,2.772,0,0,0-5.508,0H48.5A2.343,2.343,0,0,0,46.155,4.8v.12a2.343,2.343,0,0,0,1.479,2.174V18.146a2.343,2.343,0,0,0,2.34,2.341H58.9a2.343,2.343,0,0,0,2.34-2.341V7.089a2.343,2.343,0,0,0,1.479-2.174V4.8A2.343,2.343,0,0,0,60.381,2.454ZM54.438,1.11a1.666,1.666,0,0,1,1.633,1.344H52.806A1.666,1.666,0,0,1,54.438,1.11Zm5.694,17.036a1.232,1.232,0,0,1-1.23,1.231H49.974a1.232,1.232,0,0,1-1.23-1.231V7.256H60.133ZM61.612,4.915a1.232,1.232,0,0,1-1.23,1.231H48.5a1.232,1.232,0,0,1-1.23-1.231V4.8A1.232,1.232,0,0,1,48.5,3.564H60.381A1.232,1.232,0,0,1,61.612,4.8v.12Z" transform="translate(-46.155)" fill="#00acee"/><path id="Path_1330" data-name="Path 1330" d="M158.63,256.93a.555.555,0,0,0,.555-.555v-6.249a.555.555,0,1,0-1.11,0v6.249A.555.555,0,0,0,158.63,256.93Z" transform="translate(-153.322 -238.973)" fill="#00acee"/><path id="Path_1331" data-name="Path 1331" d="M228.7,256.93a.555.555,0,0,0,.555-.555v-6.249a.555.555,0,1,0-1.11,0v6.249A.555.555,0,0,0,228.7,256.93Z" transform="translate(-220.417 -238.973)" fill="#00acee"/><path id="Path_1332" data-name="Path 1332" d="M298.769,256.93a.555.555,0,0,0,.555-.555v-6.249a.555.555,0,1,0-1.11,0v6.249A.555.555,0,0,0,298.769,256.93Z" transform="translate(-287.51 -238.973)" fill="#00acee"/></g></svg>';

      //for blur
      OrgChart.templates.myTemplate.defs +=
        '<filter id="f1" > <feGaussianBlur in="SourceGraphic" stdDeviation="4" /> </filter>';

      chartData.forEach((item, index) => {
        let name = "Unassigned";
        let image = this.defaultImage;
        let title = "-";
        let status = 0;
        let tip = null;
        this.isopTotalNodes++; //for statistics
        let isMsgInit = 0;
        let loginUser = this.$store.getters.userData;
        let userId = 0;

        if (item.dp) {
          image = item.dp;
        }
        if (
          item.job &&
          item.job.candidate &&
          item.job.candidate.user &&
          item.is_root == 0
        ) {
          name =
            item.job.candidate.user.first_name +
            " " +
            item.job.candidate.user.last_name;
          tip =
            item.job.candidate.user.first_name +
            " " +
            item.job.candidate.user.last_name;
          if (item.job.candidate.user.image) {
            image = item.job.candidate.user.image;
          } else {
            image = item.dp ? item.dp : this.defaultImage;
          }
          title = item.job.title.name;
          if (item.job.candidate.user) {
            userId = item.job.candidate.user.id;
          }
        } else if (item.is_root == 1) {
          name = nodeData.name;
          image = nodeData.user.image
            ? nodeData.user.image
            : this.defaultCompanyImage;
          this.companyImage = image;
          this.companyName = nodeData.name;
          userId = rootId;
        }
        if (item.job) {
          title = item.job.title.name;
          status = item.job.status;
          tip = item.job.title.name;
          status ? this.isopPublishedNodes++ : this.isopUnPublishedNodes++;
        }

        if (item.isMsgInit) {
          isMsgInit = item.isMsgInit;
        }
        if (item.job && item.job.candidate) {
          this.isopAssignedNodes++;
          this.nodes.push({
            id: item.id,
            pid: item.parent_id,
            name: name,
            title: title,
            img: image,
            status: status,
            tooltip: tip,
            tags: ["hasCandidateMenu"],
            isMsgInit: isMsgInit,
            loginUser: loginUser,
            userId: userId,
          });
        } else {
          this.isopUnAssignedNodes++;
          this.nodes.push({
            id: item.id,
            pid: item.parent_id,
            name: name,
            title: title,
            img: image,
            status: status,
            tooltip: tip,
            isMsgInit: isMsgInit,
            loginUser: loginUser,
            userId: userId,
          });
        }
      });

      //code for showing number of children on each node
      let childCount = (id) => {
        let count = 0;
        for (var i = 0; i < this.nodes.length; i++) {
          if (this.nodes[i].pid == id) {
            count++;
            count += childCount(this.nodes[i].id);
          }
        }

        return count;
      };

      for (var i = 0; i < this.nodes.length; i++) {
        this.nodes[i].field_number_children = childCount(this.nodes[i].id);
        if (this.nodes[i].status) {
          this.nodes[i].pulse = 1;
        }
      }

      OrgChart.templates.myTemplate.field_number_children =
        '<circle cx="30" cy="50" r="15" fill="#F57C00"></circle><text fill="#ffffff" x="30" y="55" text-anchor="middle">{val}</text>';
      OrgChart.templates.myTemplate.pulse =
        '<circle class="innerCircle" cx="90" cy="90" r="95" fill="none" stroke="#00acee" stroke-width="0"><animate attributeType="SVG" attributeName="r" begin="0s" dur="2s" repeatCount="indefinite" from="90" to="95"/><animate attributeType="CSS" attributeName="stroke-width" begin="0s" dur="2s" repeatCount="indefinite" from="0" to="45"/><animate attributeType="CSS" attributeName="opacity" begin="0s" dur="2s" repeatCount="indefinite" from="0" to="1" values="0; 0.8; 0" keyTimes="0; 0.6; 1" /></circle><circle class="innerCircle" cx="90" cy="90" r="95" fill="none" stroke="#00acee" stroke-width="0"><animate attributeType="SVG" attributeName="r" begin="1s" dur="2s" repeatCount="indefinite" from="90" to="95"/><animate attributeType="CSS" attributeName="stroke-width" begin="1s" dur="2s" repeatCount="indefinite" from="0" to="45"/><animate attributeType="CSS" attributeName="opacity" begin="1s" dur="2s" repeatCount="indefinite" from="0" to="1" values="0; 0.8; 0" keyTimes="0; 0.6; 1" /></circle>';
      OrgChart.templates.myTemplate.tooltip =
        '<g data-tooltip-id="{id}" transform="matrix(0,0,0,0,125,-295)" ><path stroke="#FFCA28" fill="#fff" d="M 0,0 L -10,-10 H -85 Q -90,-10 -90,-15 V -65 Q -90,-70 -85,-70 H 85 Q 90,-70 90,-65 V -15 Q 90,-10 85,-10 H 10 L 0,0 z" ></path>{val}</g>';
      var tooltip =
        '<g data-tooltip-id="{id}" transform="matrix(0,0,0,0,{x},{y})" ><path stroke="#FFCA28" fill="#fff" \
                                d="M 0,0 \
                                L -10,-10 \
                                H -85 \
                                Q -90,-10 -90,-15  \
                                V -65   \
                                Q -90,-70 -85,-70 \
                                H 85 \
                                Q 90,-70 90,-65 \
                                V -15 \
                                Q 90,-10 85,-10 \
                                H 10  \
                                L 0,0 z" ></path>{text}</g>';
      var tooltipText =
        '<text text-anchor="middle" width="130" fill="#F57C00" x="0" y="-32">{val}</text>';

      this.chart = new OrgChart(document.getElementById("orgchart"), {
        template: "myTemplate",
        enableSearch: true,
        enableDragDrop: true,
        levelSeparation: 170,
        siblingSeparation: 50,
        scaleInitial: 0.5,
        sticky: false,
        lazyLoading: true,
        toolbar: {
          layout: true,
          zoom: true,
          fit: true,
          expandAll: false,
        },
        layout: OrgChart.tree,
        // align: OrgChart.ORIENTATION,
        nodeMouseClick: OrgChart.action.none,
        nodeBinding: {
          pulse: "pulse",
          field_0: "name",
          field_1: "title",
          img_0: "img",
          field_number_children: "field_number_children",
          tooltip: "tooltip",
        },
        nodes: this.nodes,
        nodeMenu: {
          // details: {text: "Details"},
          // edit: {text: "Edit"},
          // add: {text: "Add"},
          // remove: {text: "Remove"},
          // createChild: {
          //     icon: webcallMeIcon,
          //     text: "Add Child",
          //     onClick: this.createChildNode
          // },
          createJob: {
            icon: addJobIcon,
            text: "Create Position",
            onClick: this.createJob,
            showDefault: true,
            showCompany: true,
          },
          companyProfile: {
            icon: companyProfileIcon,
            text: "Company Profile",
            onClick: this.companyProfile,
            showDefault: false,
            showCompany: true,
          },
          isopInfo: {
            icon: companyStatsIcon,
            text: "ISOP Stats",
            onClick: this.isopInfo,
            showDefault: false,
            showCompany: true,
          },
          AssignCandidate: {
            icon: assignCandidateIcon,
            text: "Assign Member",
            onClick: this.getCandidateList,
            showDefault: true,
          },
          viewJob: {
            icon: viewJobIcon,
            text: "Job Description",
            onClick: this.viewJob,
            showDefault: false,
          },
          editJob: {
            icon: editJobIcon,
            text: "Edit Description",
            onClick: this.editJob,
            showDefault: false,
          },
          changeJobStatus: {
            icon: publishJobIcon,
            text: "Toggle Job",
            onClick: this.confirmChangeJobStatus,
            showDefault: true,
          },
          deleteOptions: {
            icon: deleteIcon,
            text: "Delete",
            onClick: this.showDeleteSubMenu,
            showDefault: true,
          },
          createSibling: {
            icon: duplicateJobIcon,
            text: "Duplicate Position",
            onClick: this.createSiblingNode,
            showDefault: false,
          },
          deleteNode: {
            icon: deleteNodeIcon,
            text: "Delete Position",
            onClick: this.confirmDeleteChartNode,
            showDefault: false,
          },
          deleteBranch: {
            icon: deleteBranchIcon,
            text: "Delete Branch",
            onClick: this.confirmDeleteChartBranch,
            showDefault: false,
          },
          jobOptions: {
            icon: jobOptionsIcon,
            text: "Position Options",
            onClick: this.showJobSubMenu,
            showDefault: true,
          },
          chatStart: {
            icon: companyProfileIcon,
            text: "Send Message",
            showDefault: false,
            showCompany: true,
            onClick: this.chatStart,
          },
        },
        tags: {
          hasCandidateMenu: {
            nodeMenu: {
              createJob: {
                icon: addJobIcon,
                text: "Create Position",
                onClick: this.createJob,
                showDefault: true,
              },

              candidateDirectory: {
                icon: candidateDirectoryIcon,
                text: "Contact Info",
                onClick: this.getCandidateDirectory,
                showDefault: false,
              },
              candidateResume: {
                icon: candidateResumeIcon,
                text: "Resume",
                onClick: this.getcandidateResume,
                showDefault: false,
              },
              viewJob: {
                icon: viewJobIcon,
                text: "Job Description",
                onClick: this.viewJob,
                showDefault: false,
              },
              editJob: {
                icon: editJobIcon,
                text: "Edit Description",
                onClick: this.editJob,
                showDefault: false,
              },
              changeJobStatus: {
                icon: publishJobIcon,
                text: "Toggle Job",
                onClick: this.confirmChangeJobStatus,
                showDefault: true,
              },
              deleteOptions: {
                icon: deleteIcon,
                text: "Delete",
                onClick: this.showDeleteSubMenu,
                showDefault: true,
              },
              createSibling: {
                icon: duplicateJobIcon,
                text: "Duplicate Position",
                onClick: this.createSiblingNode,
                showDefault: false,
              },
              deleteNode: {
                icon: deleteNodeIcon,
                text: "Delete Position",
                onClick: this.confirmDeleteChartNode,
                showDefault: false,
              },
              deleteBranch: {
                icon: deleteBranchIcon,
                text: "Delete Branch",
                onClick: this.confirmDeleteChartBranch,
                showDefault: false,
              },
              removeNodeMember: {
                icon: removeMemberIcon,
                text: "Unassign",
                onClick: this.confirmRemoveNodeMember,
                showDefault: false,
              },
              jobOptions: {
                icon: jobOptionsIcon,
                text: "Position Options",
                onClick: this.showJobSubMenu,
                showDefault: true,
              },
              candidateOptions: {
                icon: candidateOptionsIcon,
                text: "Member Options",
                onClick: this.showCandidateSubMenu,
                showDefault: true,
              },
              chatStart: {
                icon: companyProfileIcon,
                text: "Send Message",
                showDefault: true,
                onClick: this.chatStart,
              },
            },
          },
        },
      });

      //for blur
      this.chart.editUI.on("hide", function (sender) {});
      //blur end

      this.chart.on("add", (sender, node) => {
        let newNode = this.addNodeTest(sender, node);
        // your code goes here
        // return false; to cancel the operation
      });
      this.chart.on("drop", (sender, draggedNodeId, droppedNodeId) => {
        if (draggedNodeId == 1) {
          return false;
        }
        this.senderNode = sender;
        this.draggedNode = draggedNodeId;
        this.droppedNode = droppedNodeId;
        this.$bvModal.show("supervisor-confirmation-modal");
        return false;
        // let result = this.dragNode(sender, draggedNodeId, droppedNodeId);
      });
      var test = document.querySelectorAll("[data-id=search-icon]");
      test[0].parentElement.classList.add("searchBar");
      // this.chart.addSlink(3, 6, 'SLink', 'blue');
      // this.chart.addClink(8, 10, 'CLink', 'blue');
    },

    async chatStart(nodeId) {
      let nodeData = this.chart.get(nodeId);
      const senderId = nodeData.userId;
      const receiverId = nodeData.loginUser.id;
      const url = `${config.apiURL}startChat/${senderId}/${receiverId}`;
      try {
        const allChats = await axios.get(url);
        console.log("startChating =>", allChats);
      } catch (err) {
        console.log("error =>", err);
      }
    },

    /* async chatStart(nodeId) {
      let nodeData = this.chart.get(nodeId);
      console.log("nodeData =>", nodeData);
      const senderId = nodeData.loginUser.id;
      const receiverId = nodeData.userId;
      const url = `${config.apiURL}getAllChats/${senderId}/${receiverId}`;
      try {
        const allChats = await axios.get(url);
        console.log("all chats =>", allChats.data.chat);
        let newMessage = {};
        if (allChats.data.chat.data.length > 0) {
          newMessage = allChats.data.chat.data[0];
          console.log("last message =>", allChats.data.chat.data[0]);
        } else {
          const userUrl = `${config.apiURL}getUserData/${receiverId}`;
          const getUserData = await axios.get(userUrl);
          const receiverUser = getUserData.data.user;
          console.log("receiverUser =>", receiverUser);
          let sender = {};
          if (receiverUser.first_name === null) {
            sender = {
              email: receiverUser.email,
              first_name: receiverUser.first_name,
              last_name: receiverUser.last_name,
              id: receiverUser.id,
              image: receiverUser.image,
              company: receiverUser.company,
            };
          } else {
            sender = {
              email: receiverUser.email,
              first_name: receiverUser.first_name,
              last_name: receiverUser.last_name,
              id: receiverUser.id,
              image: receiverUser.image,
            };
          }
          newMessage.sender = sender;
        }
        this.newMessage = newMessage;
      } catch (err) {
        console.log("error =>", err);
      }
    }, */

    createChildNode(nodeId) {
      var nodeData = this.chart.get(nodeId);
      let formData = new FormData();
      formData.append("parent_id", nodeData.id);
      axios({ url: config.apiURL + "addNode", data: formData, method: "POST" })
        .then((resp) => {
          let data = resp.data;
          this.chart.addNode({
            id: data.id,
            pid: data.parent_id,
            name: "Empty New Node",
            title: "-",
            img: this.defaultImage,
          });
          this.$notify({
            group: "foo",
            type: "success",
            // title: "Important message",
            text: "New Node Added ! ",
          });
        })
        .catch((error) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Node Can Not Be Added- Contact Support!",
          });
          console.log(error);
        });
    },
    createJob(nodeId) {
      if (
        this.userDetailInfo.tier &&
        parseInt(this.totalNodesCount) >
          parseInt(this.userDetailInfo.tier["subscription_tier_node"]["amount"])
      ) {
        this.$bvModal.show("upgrade-modal");
      } else {
        var nodeData = this.chart.get(nodeId);
        this.parentNode = nodeData.id;
        this.$bvModal.show("create-new-job-modal");
      }
    },
    isopInfo(nodeId) {
      this.$bvModal.show("isop-statistics-modal");
    },
    companyProfile(nodeId) {
      axios({
        url: config.apiURL + "showCompanyProfile/" + nodeId,
        method: "GET",
      })
        .then((resp) => {
          this.bus.$emit("viewCompanyDetails", resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getCandidateDirectory(nodeId) {
      axios({
        url: config.apiURL + "getCandidateDirectory/" + nodeId,
        method: "GET",
      })
        .then((resp) => {
          this.candidateDirectory = resp.data;
          console.log(this.candidateDirectory);
          this.$bvModal.show("candidate-directory-modal");
        })
        .catch((err) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Job has no candidate !",
          });
          console.log(err);
        });
    },
    getcandidateResume(nodeId) {
      axios({
        url: config.apiURL + "candidateResumeByChartId/" + nodeId,
        method: "GET",
      })
        .then((resp) => {
          this.bus.$emit("viewCandidateResume", resp.data);
        })
        .catch((err) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Job has no candidate !",
          });
          console.log(err);
        });
    },
    getCandidateList(nodeId) {
      // var nodeData = this.chart.get(nodeId);
      this.currentNode = nodeId;
      axios({ url: config.apiURL + "getCandidateList", method: "GET" })
        .then((resp) => {
          let list = [];
          resp.data.map((item) => {
            list.push({
              id: item.candidate_id,
              name:
                item.candidate.user.first_name +
                " " +
                item.candidate.user.last_name,
            });
          });
          this.candidateList = list;
          this.$bvModal.show("assign-candidate-modal");
        })
        .catch((err) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Candidate List Empty !",
          });
          console.log(err);
        });
    },
    confirmRemoveNodeMember(nodeId) {
      this.currentNode = nodeId;
      this.$bvModal.show("remove-member-confirmation-modal");
    },
    removeNodeMember() {
      // var nodeData = this.chart.get(nodeId);
      let formData = new FormData();
      formData.append("node_id", this.currentNode);
      axios({
        url: config.apiURL + "removeNodeMember",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          let data = resp.data;
          let parentCount = 0;
          if (data.children) {
            let children = data.children;
            parentCount = children.length;
          }
          let img = data.dp;
          if (data.job.candidate) {
            img = data.job.candidate.user.image;
          }
          if (data.job.status)
            this.chart.updateNode({
              id: data.id,
              pid: data.parent_id,
              name: "-",
              title: data.jobTitle,
              img: img,
              field_number_children: parentCount,
              pulse: data.job.status,
            });
          else
            this.chart.updateNode({
              id: data.id,
              pid: data.parent_id,
              name: "-",
              title: data.jobTitle,
              img: img,
              field_number_children: parentCount,
            });

          this.currentNode = null;
          this.$bvModal.hide("remove-member-confirmation-modal");
        })
        .catch((err) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "No Member Assigned !",
          });
          console.log(err);
        });
    },
    assignCandidate() {
      let formData = new FormData();
      formData.append("node_id", this.currentNode);
      formData.append("candidate_id", this.candidateId.id);
      axios({
        url: config.apiURL + "assignCandidate",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          let data = resp.data;
          let parentCount = 0;
          if (data.children) {
            let children = data.children;
            parentCount = children.length;
          }
          this.chart.updateNode({
            id: data.id,
            pid: data.parent_id,
            name: data.username,
            title: data.jobTitle,
            img: data.job.candidate.user.image,
            field_number_children: parentCount,
          });
          this.$bvModal.hide("assign-candidate-modal");
          this.$notify({
            group: "foo",
            type: "success",
            // title: "Important message",
            text: "Member assigned.",
          });
        })
        .catch((error) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Error - Contact Support!",
          });
        });
    },
    viewJob(nodeId) {
      console.log("venus view job------------", nodeId);
      var nodeData = this.chart.get(nodeId);
      axios({ url: config.apiURL + "getJobDetails/" + nodeId, method: "GET" })
        .then((resp) => {
          // console.warn("Job Detail: "+JSON.stringify(resp.data));
          this.jobDetails = resp.data;
          this.bus.$emit("viewJobDetails", resp.data);
        })
        .catch((err) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Node Does Not Have A Job !",
          });
          console.log(err);
        });
    },
    confirmChangeJobStatus(nodeId) {
      this.currentNode = nodeId;
      var nodeData = this.chart.get(this.currentNode);
      if (nodeData.status) {
        this.modalMessage = "Are you sure you want to take this job offline ?";
        this.jobStatus = 0;
        this.postMsg = "Offline Job";
        this.postBtn = "Offline";
      } else {
        this.modalMessage =
          "Candidates who apply for a position are directed back to your OneCrate ATS.";
        this.jobStatus = 1;
        this.postMsg = "Post Job";
        this.postBtn = "Post";
      }
      this.$bvModal.show("job-status-confirmation-modal");
    },
    changeJobStatus() {
      var nodeData = this.chart.get(this.currentNode);
      let formData = new FormData();
      formData.append("node_id", nodeData.id);
      axios({
        url: config.apiURL + "changeJobStatus",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          let data = resp.data;
          this.currentNode = null;
          this.$bvModal.hide("job-status-confirmation-modal");
          let img = data.dp;
          let name = "Unassigned";
          if (data.job.candidate) {
            img = data.job.candidate.user.image;
            name =
              data.job.candidate.user.first_name +
              " " +
              data.job.candidate.user.last_name;
          }
          if (data.jobStatus) {
            this.chart.updateNode({
              id: data.id,
              pid: data.parent_id,
              name: name,
              title: data.jobTitle,
              img: img,
              pulse: 1,
            });
            this.$notify({
              group: "foo",
              type: "success",
              text: "Job online.",
            });
          } else {
            this.chart.updateNode({
              id: data.id,
              pid: data.parent_id,
              name: name,
              title: data.jobTitle,
              img: img,
            });
            this.$notify({
              group: "foo",
              type: "warning",
              text: "Job offline.",
            });
          }
        })
        .catch((error) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Error - Contact Support!",
          });
          console.log(error);
        });
    },
    createJobNode(data) {
      this.chart.addNode({
        id: data.id,
        pid: data.parent_id,
        name: "Unassigned",
        title: data.job.title.name,
        img: data.dp,
      });
    },
    editJob(nodeId) {
      //var nodeData = this.chart.get(jobId);
      axios({ url: config.apiURL + "getJobDetails/" + nodeId, method: "GET" })
        .then((resp) => {
          // console.warn("Job Detail: "+JSON.stringify(resp.data));
          this.jobDetails = resp.data;
          this.bus.$emit("editJobDetail", resp.data);
        })
        .catch((err) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Node Does Not Have A Job !",
          });
          console.log(err);
        });
    },
    createSiblingNode(nodeId) {
      if (
        this.userDetailInfo.tier &&
        parseInt(this.totalNodesCount) >
          parseInt(this.userDetailInfo.tier["subscription_tier_node"]["amount"])
      ) {
        this.$bvModal.show("upgrade-modal");
      } else {
        var nodeData = this.chart.get(nodeId);
        let formData = new FormData();
        formData.append("parent_id", nodeData.pid);
        formData.append("node_id", nodeData.id);
        axios({
          url: config.apiURL + "duplicateNode",
          data: formData,
          method: "POST",
        })
          .then((resp) => {
            let data = resp.data;
            this.totalNodesCount += 1;
            this.chart.addNode({
              id: data.id,
              pid: data.parent_id,
              name: "Unassigned",
              title: data.jobTitle,
              img: data.dp,
            });
            this.$notify({
              group: "foo",
              type: "success",
              // title: "Important message",
              text: "Position duplicated. ",
            });
          })
          .catch((error) => {
            let errorText = "Position Can Not Be Added - Contact Support.";
            if (error.response.data.error) {
              errorText = error.response.data.error;
            }
            this.$notify({
              group: "foo",
              type: "error",
              text: errorText,
            });
          });
      }
    },
    deleteChartNode() {
      var nodeData = this.chart.get(this.currentNode);
      let formData = new FormData();
      formData.append("id", nodeData.id);
      axios({
        url: config.apiURL + "deleteNode",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          this.totalNodesCount = this.totalNodesCount - 1;
          let data = resp.data;
          this.chart.removeNode(data.deletedNode.id);
          // if(data.updatedNodesList && data.updatedNodesList.length > 0) {
          //     data.updatedNodesList.forEach((item, index) => {
          //         console.log("updated node data",item);
          //     })
          // }
          this.currentNode = null;
          this.$bvModal.hide("delete-node-confirmation-modal");
          this.$notify({
            group: "foo",
            type: "success",
            // title: "Important message",
            text: "Position deleted. ",
          });
        })
        .catch((error) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Position Can Not Be Deleted - Contact Support.",
          });
          console.log(error);
        });
    },
    deleteChartBranch() {
      var nodeData = this.chart.get(this.currentNode);
      let formData = new FormData();
      formData.append("id", nodeData.id);
      axios({
        url: config.apiURL + "deleteNodeBranch",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          let data = resp.data;
          if (data.children && data.children.length > 0) {
            data.children.forEach((item, index) => {
              this.chart.removeNode(item);
            });
          }
          this.chart.removeNode(data.deletedNode.id);
          this.currentNode = null;
          this.$bvModal.hide("delete-branch-confirmation-modal");
          this.$notify({
            group: "foo",
            type: "success",
            // title: "Important message",
            text: "Branch Deleted. ",
          });
        })
        .catch((error) => {
          this.$notify({
            group: "foo",
            type: "error",
            text: "Branch Can Not Be Deleted - Contact Support.",
          });
          console.log(error);
        });
    },
    cancelDeleteBranch() {
      this.$bvModal.hide("delete-branch-confirmation-modal");
    },
    confirmDeleteChartNode(nodeId) {
      this.currentNode = nodeId;
      this.$bvModal.show("delete-node-confirmation-modal");
    },
    confirmDeleteChartBranch(nodeId) {
      this.currentNode = nodeId;
      this.$bvModal.show("delete-branch-confirmation-modal");
    },
    async dragNode() {
      let formData = new FormData();
      formData.append("draggedNode", this.draggedNode);
      formData.append("droppedNode", this.droppedNode);

      return await axios({
        url: config.apiURL + "changeSupervisor",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          let data = resp.data;

          let img = data.dp;
          let name = "Unassigned";
          if (data.job.candidate) {
            img = data.job.candidate.user.image;
            name =
              data.job.candidate.user.first_name +
              " " +
              data.job.candidate.user.last_name;
          }
          this.chart.updateNode({
            id: data.id,
            pid: data.parent_id,
            name: name,
            title: data.jobTitle,
            img: img,
            field_number_children: data.childCount,
          });

          if (data.droppedNode.parent_id) {
            setTimeout(() => {
              let img = data.dp;
              let name = "Unassigned";
              if (data.droppedNode.job.candidate) {
                img = data.droppedNode.job.candidate.user.image;
                name =
                  data.droppedNode.job.candidate.user.first_name +
                  " " +
                  data.droppedNode.job.candidate.user.last_name;
              }
              this.chart.updateNode({
                id: data.droppedNode.id,
                pid: data.droppedNode.parent_id,
                name: name,
                title: data.droppedNode.jobTitle,
                img: img,
                field_number_children: data.droppedNode.childCount,
              });
            }, 200);
          }
          this.draggedNode = null;
          this.droppedNode = null;
          this.senderNode = null;
          this.$bvModal.hide("supervisor-confirmation-modal");
          this.$notify({
            group: "foo",
            type: "success",
            // title: "Important message",
            text: "Supervisor changed.",
          });
          return true;
        })
        .catch((error) => {
          console.log(error);
          this.$bvModal.hide("supervisor-confirmation-modal");
          this.draggedNode = null;
          this.droppedNode = null;
          this.senderNode = null;
          this.$notify({
            group: "foo",
            type: "error",
            text: "Cannot make this position supervisor.",
          });
          return false;
          // console.log(error);
        });
    },
    updateNode(data) {
      let count = 0;
      if (data.childCount) {
        count = data.childCount;
      } else if (data.children) {
        let children = data.children;
        count = children.length;
      }
      let img = data.dp;
      let name = "Unassigned";
      if (data.job.candidate) {
        img = data.job.candidate.user.image;
        name =
          data.job.candidate.user.first_name +
          " " +
          data.job.candidate.user.last_name;
      }
      this.chart.updateNode({
        id: data.id,
        pid: data.parent_id,
        name: name,
        title: data.job.title.name,
        img: img,
        field_number_children: count,
      });
    },
    addNodeTest(sender, node) {
      return true;
    },
    cancel() {
      this.draggedNode = null;
      this.droppedNode = null;
      this.senderNode = null;
      this.currentNode = null;
      this.$bvModal.hide("supervisor-confirmation-modal");
      this.$bvModal.hide("delete-node-confirmation-modal");
      this.$bvModal.hide("remove-member-confirmation-modal");
      this.$bvModal.hide("job-status-confirmation-modal");
    },
    toggleAll(checked) {
      this.selected = checked ? this.platforms.slice() : [];
    },
  },
  watch: {
    selected(newVal, oldVal) {
      // Handle changes in individual flavour checkboxes
      if (newVal.length === 0) {
        this.indeterminate = false;
        this.allSelected = false;
      } else if (newVal.length === this.platforms.length) {
        this.indeterminate = false;
        this.allSelected = true;
      } else {
        this.indeterminate = true;
        this.allSelected = false;
      }
    },
  },
};
</script>
