<template>
  <div class="content-right bg-grey-50 has-box-shadow h-100 sidebar">
    <div class="sidebar__title">
      <h3>Other Jobs</h3>
    </div>
    <div class="sidebar__content has-scroll">
      <div class="has-scroll__child">
        <ul class="candidate-jobs-listing p-2">
          <li v-for="(joblist,index) in onlineJobs">
            <div class="profile-card has-hover-effect">
              <div class="glassy-hover-effect"></div>
              <div class="profile-card__meta">
                <div
                  class="profile-card__meta__data profile-card__meta__data--sm d-flex align-items-center"
                >
                  <div class="thumbnail">
                    <img class="img-fluid" :src="joblist.company.user.image" @error="imageUrlAlt" />
                  </div>
                  <div class="inner-content">
                    <!--<router-link :to="'/jobdetail/'+joblist.id" tag="li">-->
                    <a :href="'/jobdetail/'+joblist.id" class="text-left text-overflow mw-100 p-0">
                      <h5 v-tooltip.top="'Job Details'">{{joblist.title.name}}</h5>
                    </a>
                    <!--</router-link>-->
                    <b-button
                      variant="-reset"
                      class="text-left text-overflow mw-100 p-0"
                      v-if="joblist.company"
                      @click="viewCompanyInfo(joblist.company.user_id)"
                      v-tooltip.top="'Company Profile'"
                    >
                      <p>{{joblist.company.name}}</p>
                    </b-button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import config from "../config/config";
import _ from "lodash";
export default {
  name: "JobDetailSidebarComponent",
  data() {
    return {
      onlineJobs: [],
      appliedJobs: [],
      jobDetails: null,
      companyDetails: null,
      companyMap: null,
      bus: new Vue()
    };
  },
  methods: {
    imageUrlAlt(event) {
      event.target.src =
        config.imagesURL + "assets/images/company-placeholder.png";
    },
    getOnlineJobs: function() {
      axios.get(config.apiURL + "getOnlineJobs/").then(
        function(response) {
          this.onlineJobs = response.data;
        }.bind(this)
      );
    },
    viewCompanyInfo(userId) {
      axios({ url: config.apiURL + "showCompanyInfo/" + userId, method: "GET" })
        .then(resp => {
          this.companyDetails = resp.data;
          this.$parent.bus.$emit("viewCompanyDetails", resp.data);
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  created: function() {
    this.getOnlineJobs();
  }
};
</script>
