<template>
  <div class="container h-100">
    <div class="row row-gutter-7 h-100">
      <div class="col-xl-9 col-md-8 h-100">
        <div class="content-left content-wrapper bg-grey-50 has-box-shadow h-100">
          <div class="sidebar__title" style="min-height: 56px;">
            <div class="row">
              <div class="col-6">
                <h3 class="text-left">{{companyDetails.name}}</h3>
              </div>
            </div>
          </div>
          <div class="has-scroll">
            <div class="job-info-wrapper">
              <div class="job-info-header">
                <header class="user-meta">
                  <div class="d-flex align-items-center">
                    <div class="user-meta__thumbnail">
                      <img class="img-fluid" :src="companyLogo" @error="imageUrlAlt">
                    </div>
                    <div class="user-meta__content d-flex align-items-center flex-fill">
                      <div class="flex-fill">
                        <h4 class="text-overflow">{{jobDetails.title}}</h4>
                        <p class="mt-1 text-overflow">{{companyDetails.name}}</p>
                        <p class="text-overflow"> {{jobDetails | getLocation}}</p>
                      </div>
                      <div class="profile-card__cta ml-3" v-if="!isCandidate">
                        <button @click="downloadJob(jobDetails.jobId)"
                                class="btn btn--round  btn--round--has-tooltip btn--round--has-tooltip--download mr-2">
                          <i class="fa fa-download" aria-hidden="true"></i></button>
                        <router-link to="/home" tag="li"><a href="" class="btn btn-primary">Apply</a></router-link>
                      </div>
                      <div class="profile-card__cta ml-3" v-if="isCandidate">
                        <button @click="downloadJob(jobDetails.jobId)"
                                class="btn btn--round  btn--round--has-tooltip btn--round--has-tooltip--download mr-2">
                          <i class="fa fa-download" aria-hidden="true"></i></button>
                        <a @click="addToFavourites(jobDetails.jobId)"
                           class="btn btn--round btn--round--heart  btn--round--has-tooltip btn--round--has-tooltip--favorite mr-2">
                          <i class="fa fa-heart" aria-hidden="true"></i></a>
                        <button  :disabled="disable !=null" @click="applyJob(jobDetails.jobId)" class="btn btn-primary">
                          Apply</button>
                      </div>

                    </div>
                  </div>
                </header>
              </div>
              <div class="job-info-content has-scroll">
                <div class="row">
                  <div class="col-7">
                    <div class="job-info-block" v-if="jobDetails.description">
                      <h4 class="mb-2">Job Description</h4>
                      <span v-html="jobDetails.description"></span>
                    </div>
                    <div class="job-info-block" v-if="jobDetails.responsibilities">
                      <h4 class="mb-2">Responsibilities</h4>
                      <span v-html="jobDetails.responsibilities"></span>
                    </div>
                    <div class="job-info-block" v-if="jobDetails.required_skills">
                      <h4 class="mb-2">Skill & Experience Details</h4>
                      <span v-html="jobDetails.required_skills"></span>
                    </div>
                    <div class="job-info-block" v-if="rewardList.length > 0">
                      <h4 class="mb-2">Benefits</h4>
                      <ul class="list-of-3 tick-styled">
                        <li v-for="rewards in jobDetails.rewards">{{rewards.reward.name}} </li>
                      </ul>
                    </div>

                  </div>
                  <div class="col-5 b-left--solid">
                    <div class="pop-job-detail">
                      <div class="job-info-block job-info-block--secondary mb-2">
                        <h4 class="mb-2">Job Details</h4>
                        <ul>
                          <li>
                            <img :src="`${publicPath}assets/images/money.png`" alt="Money.png">
                            <p><span v-if="salary_term" class="d-inline text-body">{{salary_term.name | salaryTerm}} </span> Salary
                              <span v-if="jobDetails.max_salary"> {{jobDetails.max_salary}} - {{jobDetails.min_salary}}</span>
                              <span v-else-if="jobDetails.salary_type"> {{jobDetails.salary_type}}</span>
                            </p>
                          </li>
                          <li v-if="jobDetails.job_type">
                            <img :src="`${publicPath}assets/images/timing.png`" alt="Timing">
                            <p>Job Type<span>{{jobDetails.job_type}}</span>
                            </p>
                          </li>
                          <li v-if="jobDetails.qualification">
                            <img :src="`${publicPath}assets/images/qualification.png`" alt="Qualification">
                            <p>Qualification <span>{{jobDetails.qualification}}</span></p>
                          </li>
                          <li v-if="jobDetails.experience">
                            <img :src="`${publicPath}assets/images/star.png`" alt="Star">
                            <p>Experience<span>{{jobDetails.experience}}</span>
                            </p>
                          </li>
                          <li v-if="jobDetails.category">
                            <img :src="`${publicPath}assets/images/category.png`" alt="Category">
                            <p>Category<span>{{jobDetails.category}}</span></p>
                          </li>
                          <li v-if="jobDetails.department">
                            <img :src="`${publicPath}assets/images/department.png`" alt="Department">
                            <p>Department<span>{{jobDetails.department}}</span>
                            </p>
                          </li>
                        </ul>
                      </div>
                      <div class="job-info-block job-info-block--secondary skill mb-2" v-if="skillList.length > 0">
                        <h4 class="mb-2">Skills</h4>
                        <ul class="list-badge">
                          <li v-for="skill in jobDetails.skills">{{skill.skill.name}}</li>
                        </ul>
                      </div>
                      <div class="job-info-block job-info-block--secondary location-detail">
                        <ul>
                          <li>
                            <img :src="`${publicPath}assets/images/marker.png`" alt="Map" />
                            <p>
                              HQ Location
                              <span>
                                {{jobDetails | getLocation}}
                              </span>
                            </p>
                          </li>
                        </ul>
                        <div class="map-wrapper">
                          <gmap-map :center="center" :zoom="12"
                                    style="width:100%;  height: 200px;">
                            <gmap-marker :key="index" v-for="(m, index) in markers"
                                         :position="m.position" @click="center=m.position"></gmap-marker>
                          </gmap-map>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 h-100">
        <job-detail-sidebar-component></job-detail-sidebar-component>
      </div>
    </div>
    <view-company-modal :bus="bus" />
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
import JobDetailSidebarComponent from "./JobDetailSidebar";
  import ViewCompanyModal from "../components/job/ViewCompanyModal";
  import ButtonSpinner from "vue-button-spinner";
import config from '../config/config';
import _ from 'lodash';
export default {
  name: "JobDetail",
  components: {
    JobDetailSidebarComponent, ViewCompanyModal,
  },
  data(){
    return{
      bus: new Vue(),
      jobDetails:[],
      companyDetails:[],
      rewardList:[],
      skillList:[],
      salary_term:[],
      companyLogo:'',
      disable:null,
      strength_loading:"",
      isLoading: false,
      publicPath: config.imagesURL,
      lat:'',
      lang:'',
      center: {},
      markers: [],
      places: [],
      currentPlace: null
    }
  },
  computed: {
    ...mapGetters(['isLoggedIn','isCandidate','isCompany'])
  },
  methods: {
    imageUrlAlt(event) {
      event.target.src = this.publicPath+"assets/images/company-placeholder.png"
    },
    downloadJob(jobId) {
      window.open(config.baseURL+'downloadJob/'+jobId, "_blank");

      // this.baseUrl = config.baseURL+'downloadPDF/'+this.userId;
    },
    setMarker() {
      const marker = {
          lat: this.lat,
          lng: this.lang,
      }
      this.markers.push({ position: marker });
    },
    companyAddress(country,state,city) {
      //console.log("Country: "+country.name+" State: "+state.name+" City"+city.name);
      Vue.$geocoder.setDefaultMode('address');      // this is default
      var addressObj = {
        //address_line_1: '1600 Amphitheatre Parkway',
        address_line_2: '',
        city:           city.name,
        state:          state.name,               // province also valid
        // zip_code:       '94043',            // postal_code also valid
        country:        country.name
      }
      Vue.$geocoder.send(addressObj, response => { console.log(response);
        this.lat = response.results[0].geometry.location.lat;
        // console.log("Lat: "+this.lat);
        this.lang = response.results[0].geometry.location.lng;
        this.center= { lat: +parseFloat(this.lat), lng: +parseFloat(this.lang) };
        this.setMarker();
        // console.log("Center of map: "+ JSON.stringify(this.center));
      });
    },
    addToFavourites(id) {
      let formData = new FormData();
      formData.append('job_id',id);
      formData.append('type','jobModal');
      this.$store.dispatch("setFavorites", formData)
              .then(resp => {
                this.jobDetails.favourites = true;

              })
              .catch(err => {
                this.loading = false;
                this.error = err.response.data.error;
                let errors = err.response.data.errors;
                console.log("Error data: "+errors);
                for (const [key, value] of Object.entries(errors)) {
                  value.forEach((text,index)=>{
                    this.$notify({
                      group: "foo",
                      type: "error",
                      //title: key,
                      text: text
                    });
                  })
                }
              });

    },
    applyJob(jobId){
      this.isLoading = true;
      let formData = new FormData();
      formData.append('jobId',jobId);
      this.$store.dispatch("setAppliedJobs", formData)
      //axios({url: config.apiURL + 'applyJob', data: formData, method: 'POST' })
              .then(resp => {
                this.isLoading = false;
                this.disable = 1;
                this.$notify({
                  group: "foo",
                  type: "success",
                  // title: key,
                  text: "Application sent."
                });
              })
              .catch(err => {
                this.loading = false;
                this.error = err.response.data.error;
                let errors = err.response.data.errors;
                console.log("Error data: "+errors);
                for (const [key, value] of Object.entries(errors)) {
                  value.forEach((text,index)=>{
                    this.$notify({
                      group: "foo",
                      type: "error",
                      //title: key,
                      text: text
                    });
                  })
                }
              });
    },

    showJob(jobId) {
      axios({url: config.apiURL + 'loadJobDetail/'+jobId, method: 'GET' })
              .then(resp => {
                let data = resp.data;
                this.jobDetails = {
                  jobId:data.id,
                  title:data.title.name,
                  description:data.description,
                  responsibilities:data.responsibilities,
                  required_skills:data.required_skills,
                  rewards:data.rewards,
                  skills:data.skills,
                  salary_type:data.salary_type.name,
                  max_salary:data.max_salary,
                  min_salary:data.min_salary,
                  job_type:data.job_type.name,
                  qualification:data.qualification.name,
                  experience:data.experience.name,
                  category:data.category.name,
                  department:data.department.name,
                  country:data.country,
                  state:data.state,
                  city:data.city,
                  favourites: !!data.favourites,
                  job_applications: data.job_applications ? data.job_applications.length : 0 ,
                };
                this.companyAddress(data.country,data.state,data.city);
                this.disable = null;
                this.rewardList=data.rewards;
                this.skillList = data.skills;
                this.salary_term = data.salary_term;
                //console.log("Company Logo: "+JSON.stringify(data.company));
                this.companyLogo = data.company.user.image;
                this.companyDetails = {
                  name:data.company.name,
                };
              })
              .catch(err => {
                console.log(err);
              })
    },
  },
  created: function () {
    let jobId = this.$route.params.id;
    this.showJob(jobId);
  },

};
</script>
