<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="h-100" mobile-tour-step="5">
    <LoadingBar v-if="isLoading" :loading="isLoading"></LoadingBar>
    <div v-else class="container h-100">
      <div class="row row-gutter-7 h-100">
        <div class="col-xl-12 col-md-12 h-100">
          <div class="content-left has-box-shadow h-100 d-flex flex-column">
            <div class="header-has-search px-4 py-2 has-box-shadow--secondary">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-5 mb-2 mb-md-0">
                  <h3 class="text-strong">
                    Jobs <span class="text-blue">({{ totalTemplates }})</span>
                  </h3>
                </div>
                <div
                  class="col-xl-5 col-lg-6 col-md-7 ml-auto d-flex align-items-center"
                >
                  <div
                    class="input-wrapper input-wrapper--has-search flex-fill mr-3"
                  >
                    <vue-bootstrap-typeahead
                      :data="jobTitleList"
                      v-model="jobTitleSearch"
                      :serializer="(s) => s.name"
                      placeholder="Enter Job Title"
                      @hit="selectedJobTitle"
                      ref="typeaheadJobTitle"
                      class="w-100"
                      inputClass="form-control form-control--round parent-has-icon search-input-content"
                    />
                    <div class="after-click" >
                      <img src="assets/images/search-blue.svg" @click="getTemplateList()"/>
                    </div>
                  </div>

                  <div class="ml-auto">
                    <b-button
                      v-b-modal.add-job-template-modal
                      class="btn btn--round btn--round--blue d-flex"
                      v-tooltip.left="'Add'"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i
                    ></b-button>
                  </div>
                </div>
              </div>
            </div>
            <template-list
              :templates="templateList"
              :changeProps="getTemplateList"
              :status="isLoading"
              :pagination="templateList"
              @paginate="getTemplateList()"
              :offset="4"
            ></template-list>
          </div>
        </div>
        <b-modal
          id="add-job-template-modal"
          hide-footer
          size="xl"
          centered
          title-class="text-blue"
          title-tag="h3"
          title="Create New Job"
          body-class="has-scroll flex-fill h-100 p-0"
        >
          <create-job-template
            :changeProps="getTemplateList"
            :currentPage="templateList.current_page"
          ></create-job-template>
        </b-modal>
        <edit-job-template :bus="bus" />
      </div>
    </div>
  </div>
</template>

<script>
import config from "../config/config";
import _ from "lodash";
import vSelect from "vue-select";
import TemplateList from "../components/jobtemplate/TemplateList";
import CreateJobTemplate from "../components/jobtemplate/CreateJobTemplate";
import EditJobTemplate from "../components/jobtemplate/EditJobTemplate";
import LoadingBar from "../components/common/LoadingBar";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
//import VuePagination from '../components/pagination/Pagination.vue';

export default {
  name: "JobTemplate",
  components: {
    TemplateList,
    vSelect,
    CreateJobTemplate,
    EditJobTemplate,
    VueBootstrapTypeahead,
    LoadingBar,
  },
  data() {
    return {
      jobTitle: "",
      jobTitleSearch: "",
      totalTemplates: 0,
      jobTitleList: [],
      templateList: {
        total: 0,
        per_page: 50,
        from: 1,
        to: 0,
        current_page: 1,
      },
      offset: 4,
      authorList: [],
      author: "",
      searchedAuthor: "",
      isLoading: true,
      bus: new Vue(),
    };
  },
  mounted() {
    //this.getTemplateList();
    // console.log("parent",this);
  },
  methods: {
    getTemplateList() {
      let page = this.templateList.current_page;
      //console.log("Get Templates list:"+ JSON.stringify(this.templateList.current_page));
      this.isLoading = true;
      axios({
        url: config.apiURL + "getJobTemplates/?page=" + page,
        method: "GET",
      })
        .then((resp) => {
          this.isLoading = false;
          // console.log(resp.data)
          this.templateList = resp.data;
          this.totalTemplates = this.templateList.total;
        })
        .catch((err) => {
          this.isLoading = false;
          console.log(err);
        });
    },
    selectedJobTitle(data) {
      this.searchJobTitle = data.id;
      this.searchJobs();
    },
    selectedAuthor(name) {
      //console.log("Selected Author: "+name);
      this.searchedAuthor = name;
      this.searchAuthor();
    },
    getJobTitle(query) {
      axios({ url: config.apiURL + "getJobTitle/" + query, method: "GET" })
        .then((resp) => {
          this.jobTitleList = resp.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    searchAuthor() {
      this.isLoading = true;
      let formData = new FormData();
      if (!this.searchedAuthor) {
        this.getTemplateList();
        this.searchAuthor = null;
      }

      if (this.searchedAuthor) formData.append("author", this.searchedAuthor);
      axios({
        url: config.apiURL + "searchJobsTemplateAuthor",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          this.templateList = resp.data;
          this.totalTemplates = this.templateList.total;
          this.isLoading = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    searchJobs() {
      this.isLoading = true;
      let formData = new FormData();
      if (!this.jobTitleSearch) {
        this.getTemplateList();
        this.searchJobTitle = null;
      }

      if (this.searchJobTitle) formData.append("jobTitle", this.searchJobTitle);
      axios({
        url: config.apiURL + "searchJobsTemplate",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          this.templateList = resp.data;
          this.totalTemplates = this.templateList.total;
          this.isLoading = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getAuthors: function () {
      this.authorList = [
        "David Kamwana",
        "Sare Goitom",
        "Kalichi Admin",
        "Grace Kamwana",
        "Philip Sachinyama",
        "Martha Mulenga",
        "Sumbe Bukali",
        "Richard Mwape",
        "Chawana Maseka",
        "Dorothy Kapanji",
        "Test",
      ];
    },
  },
  watch: {
    jobTitleSearch: _.debounce(function (item) {
      this.getJobTitle(item);
      if (!item) this.searchJobs();
    }, 500),
    searchedAuthor: _.debounce(function (item) {
      //console.log("Searched Item: "+item);
      // this.getJobTitle(item);
      if (!item) this.getTemplateList();
    }, 500),
  },
  created() {
    this.getTemplateList();
    this.getAuthors();
  },
};
</script>
<style lang="scss" scoped>
.input-wrapper--has-search{
  display: flex;
  justify-content: flex-end;
}
.search-input-content{
  width: 100%;
}
.after-click {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  // width: 100%;
  padding-right: 9px;
  width: fit-content;
  z-index: 100;
  img {
    cursor: pointer;
  }
}
</style>
