<template>
  <div>
    <!-- <div class="landing-title py-4">
        <div class="container">
            <h1>Enhance Your Organizational Awareness </h1>
            <h2>Whether you're the CEO looking to uncover existing talent, an employee looking for growth opportunities, or
                a student looking for a job, OneCrate gives you the transparency you need to make informed decisions.</h2>
        </div>
    </div>-->

    <div class="landing-wrap page-content-wrapper">
      <div class="container">
        <div class="content-wrapper">
          <div class="row align-items-center py-3">
            <div class="col-md-6">
              <div
                class="content-box"
                data-aos="fade-right"
                data-aos-delay="400"
              >
                <h2 class="text-strong h1 mb-3">Discover Learn Grow</h2>

                <h4>
                  Pursue your passions by uncovering career opportunities that
                  match your intrests.
                </h4>
              </div>
            </div>
            <div class="col-md-6">
              <div
                class="img-wrapper text-center"
                data-aos="fade-up"
                data-aos-duration="800"
              >
                <img
                  src="assets/images/illustrations/illustration__landing.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="authentication-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 mx-auto">
            <div class="auth-wrap mt-lg-2">
              <!-- Nav tabs -->
              <ul
                class="nav nav-tabs has-2-tabs"
                id="signUp_tabs"
                role="tablist"
              >
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="candidate_signUp-tab"
                    data-toggle="tab"
                    href="#candidate_signUp"
                    role="tab"
                    aria-controls="candidate_signUp"
                    aria-selected="true"
                    >Candidate</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="company_signUp-tab"
                    data-toggle="tab"
                    href="#company_signUp"
                    role="tab"
                    aria-controls="company_signUp"
                    aria-selected="false"
                    >Company</a
                  >
                </li>
              </ul>

              <!-- Tab panes -->
              <div class="tab-content position-relative flex-fill">
                <div
                  class="tab-pane active"
                  id="candidate_signUp"
                  role="tabpanel"
                  aria-labelledby="candidate_signUp-tab"
                >
                  <register-candidate-component></register-candidate-component>
                </div>
                <div
                  class="tab-pane"
                  id="company_signUp"
                  role="tabpanel"
                  aria-labelledby="company_signUp-tab"
                >
                  <register-company-component></register-company-component>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="company-introduction register-cta text-center px-0"> 
      <div class="container">
        <div class="company-content mw-100">
          <h3 class="mt-0 text-transform-none">
            Learn more about <br class="d-md-none" />OneCrate for...
          </h3>
          <div
            class="btn-wrap d-flex align-items-center justify-content-center flex-column flex-md-row"
          >
            <button
              class="btn btn-primary btn-primary--solid mr-md-4 mb-4 mb-md-0 min-w-200"
              @click="onSetLanding('candidate')"
            >
              Candidates
            </button>
            <button
              class="btn btn-primary btn-primary--solid min-w-200"
              @click="onSetLanding('company')"
            >
              Companies
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="company-introduction company-introduction--2">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-5" data-aos="fade-right" data-aos-duration="800">
                    <div class="company-content">
                        <h3>Build the future of work</h3>
                        <p>Join to create and benefit from an integrated job description database that keeps you informed of
                            opportunities in a rapidly changing automation driven future.</p>
                        <div class="btn-wrap">
                            <a href="#" class="btn btn-primary scroll-to-top">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7" data-aos="fade-left" data-aos-duration="800">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/section-thumbnail-optimize.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>-->
  </div>
</template>
<script>
import RegisterCandidateComponent from "../components/RegisterCandidateComponent";
import RegisterCompanyComponent from "../components/RegisterCompanyComponent";
export default {
  name: "Landing",
  components: {
    "register-candidate-component": RegisterCandidateComponent,
    "register-company-component": RegisterCompanyComponent,
  },
  methods: {
    onSetLanding(key) {
      if (key == "candidate") {
        this.$router.push({ name: "candidatesLanding" });
      } else {
        this.$router.push({ name: "companiesLanding" });
      }
    },
  },
};
</script>

<style scoped>
</style>