<template>
    <div class="container h-100">
        <div class="row row-gutter-7 h-100">
            <div class="col-xl-9 col-md-8 h-100">
                <members-list></members-list>
            </div>
            <div class="col-xl-3 col-md-4 h-100" v-if="$mq != 'mobile'">
                <pending-candidates></pending-candidates>
            </div>
        </div>
    </div>
</template>
<script>
    import PendingCandidates from "../components/members/PendingCandidates";
    import MembersList from "../components/members/MembersList";
    export default {
        name: "members",
        components: {MembersList, PendingCandidates},
    };

</script>
