<template>
  <div>
    <p>payment page</p>
    <div ref="card"></div>
    <button v-on:click="purchase">Purchase</button>
    <p v-if="hasCardErrors">nae chala jay</p>
  </div>
</template>

<script>
let stripe = Stripe(`pk_test_caDSRLbVxO7pPJzgTT9UobmJ001XWYhOTP`),
  elements = stripe.elements(),
  card = undefined;
export default {
  name: "Payment",
  data() {
    return {
      hasCardErrors: false,
      clientSecret: null,
      payment_method: "pm_1GNbDyIrTZ3bRFpE8ZjAlA53",
    };
  },
  mounted() {
    card = elements.create("card");
    card.mount(this.$refs.card);
    console.log("card ye hai ", card);
  },
  methods: {
    purchase() {
      let self = this;
      this.clientSecret =
        "pi_1GNbiIIrTZ3bRFpEWd7M8KMS_secret_7tFhWMjqPsOEENI6aD85WGeuC";
      stripe
        .confirmCardPayment(this.clientSecret, {
          payment_method: {
            card: card,
          },
          setup_future_usage: "off_session",
        })
        .then((result) => {
          console.log("payment intent", result);
          if (result.error) {
            // Show error to your customer (e.g., insufficient funds)
            console.log(result.error.message);
          } else {
            // The payment has been processed!
            if (result.paymentIntent.status === "succeeded") {
              // Show a success message to your customer
              // There's a risk of the customer closing the window before callback
              // execution. Set up a webhook or plugin to listen for the
              // payment_intent.succeeded event that handles any business critical
              // post-payment actions.
            }
          }
        });
      // stripe.createToken(card).then(function(result) {
      //     // Access the token with result.token
      //     self.hasCardErrors = false;
      //     console.log("token aya jau",result)
      //     //in  case of error
      //     if (result.error) {
      //         self.hasCardErrors = true;
      //         // self.$forceUpdate(); // Forcing the DOM to update so the Stripe Element can update.
      //         return;
      //     }
      // });
    },
  },
};
</script>

<style scoped>
</style>
