<template>
  <div class="container h-100">
    <div class="row row-gutter-7 h-100">
      <div class="col-xl-9 col-md-8 h-100">
        <div
          class="content-left content-wrapper content-wrapper--pricing has-box-shadow h-100 pricing-wrapper"
        >
          <div class="header-has-search has-box-shadow--secondary px-4 py-3">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-5">
                <h3 class="text-strong lg-mobile mb-0">Subscription Plans</h3>
              </div>
            </div>
          </div>
          <LoadingBar v-if="isLoading" :loading="isLoading"></LoadingBar>
          <div v-else class="has-scroll">
            <div v-if="$mq != 'mobile'">
              <div class="p-15 pt-md-5 pricing-content-inner">
                <div class="pricing-content">
                  <div class="pricing-content__header">
                    <table>
                      <thead>
                        <tr>
                          <th colspan="1">
                            <div class="block px-4">
                              <h2 v-if="!checked">Monthly Billing</h2>
                              <h2 v-else>Annual Billing</h2>
                              <div class="plan-switch">
                                <span v-bind:class="{ 'text-blue': !checked }"
                                  >Monthly</span
                                >
                                <b-form-checkbox
                                  switch
                                  checked="false"
                                  size="lg"
                                  v-model="checked"
                                ></b-form-checkbox>
                                <span v-bind:class="{ 'text-blue': checked }"
                                  >Annually</span
                                >
                              </div>
                              <h3 class="has-bg">Save 20% on Annual Plan</h3>
                            </div>
                          </th>
                          <th colspan="1">
                            <div class="block">
                              <h2>Free</h2>
                              <h3>
                                $
                                <span class="text-xl">0</span>/mo.
                              </h3>
                              <p>Up to 10 Positions</p>
                            </div>
                          </th>
                          <th colspan="1">
                            <div class="block">
                              <h2>
                                Growth
                                <!--<span style="font-size: 15px">(per month)</span>-->
                              </h2>
                              <h3>
                                $
                                <span class="text-xl">{{
                                  totalPrice | numberWithCommas
                                }}</span
                                >/mo.
                                <span class="paid-annually" v-if="checked"
                                  >Paid Annually</span
                                >
                              </h3>
                              <div class="d-flex align-items-center">
                                <p
                                  style="
                                    width: 64px;
                                    max-width: 64px;
                                    margin: 0;
                                    margin-left: 10px;
                                  "
                                >
                                  Up to
                                </p>
                                <div class="flex-fill w-100">
                                  <v-select
                                    name="tier_nodes_id"
                                    id="tier_nodes_id"
                                    label="amount"
                                    item-value="id"
                                    item-text="amount"
                                    :options="tierNodesList"
                                    v-model="tierNodeId"
                                    placeholder="Select Positions"
                                  />
                                </div>
                              </div>
                            </div>
                          </th>
                          <th colspan="1">
                            <div class="block">
                              <h2>Enterprise</h2>
                              <h3>
                                ---
                                <span class="paid-annually" v-if="checked"
                                  >Paid Annually</span
                                >
                              </h3>
                              <p>800+ Positions</p>
                            </div>
                          </th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="pricing-content__body">
                    <table>
                      <tbody>
                        <tr>
                          <td colspan="1">Job Positions</td>
                          <td colspan="1">10</td>
                          <td colspan="1">{{ tierNodeId.total }}</td>
                          <td colspan="1">Unlimited</td>
                        </tr>
                        <tr>
                          <td colspan="1">
                            Interactive Social Org Platform (ISOP)
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                        </tr>
                        <tr>
                          <td colspan="1">Application Tracking System</td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                        </tr>
                        <tr>
                          <td colspan="1">Job Templates (9000+)</td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                        </tr>
                        <tr>
                          <td colspan="1">Job Description Database</td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                        </tr>
                        <tr>
                          <td colspan="1">Company Profile</td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                        </tr>
                        <tr>
                          <td colspan="1">External Candidate Search</td>
                          <td colspan="1">
                            <img src="assets/images/cross-icon.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                        </tr>
                        <tr>
                          <td colspan="1">Full Feature Control</td>
                          <td colspan="1">
                            <img src="assets/images/cross-icon.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/cross-icon.svg" alt />
                          </td>
                          <td colspan="1">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="pricing-content__footer">
                    <table>
                      <tbody>
                        <tr>
                          <td colspan="1">
                            <div class="block">
                              <h2 style="margin-top: 5px">Choose Your Plan</h2>
                            </div>
                          </td>
                          <td colspan="1">
                            <div
                              class="block"
                              v-if="this.currentPlan == 'free'"
                            >
                              <a href class="btn btn-primary disabled min-w-160"
                                >Current Plan</a
                              >
                            </div>
                            <div v-else class="block">
                              <div
                                class="btn btn-primary min-w-160"
                                @click="downgradingAction('free')"
                              >
                                &nbsp;&nbsp; Free &nbsp;&nbsp;
                              </div>
                            </div>
                          </td>
                          <td colspan="1">
                            <div
                              class="block"
                              v-if="
                                this.currentPlan == 'free' ||
                                showButton == 'Upgrade'
                              "
                            >
                              <a
                                :href="upgradeUrl"
                                class="btn btn-primary min-w-160"
                                >Upgrade</a
                              >
                            </div>
                            <div
                              class="block"
                              v-else-if="showButton == 'Downgrade'"
                            >
                              <div
                                class="btn btn-primary min-w-160"
                                @click="downgradingAction('down')"
                              >
                                Downgrade
                              </div>
                            </div>
                            <div class="block" v-else>
                              <a href class="btn btn-primary disabled min-w-160"
                                >Current Plan</a
                              >
                            </div>
                          </td>
                          <td colspan="1">
                            <div class="block">
                              <routerLink
                                to="/contactus"
                                class="btn btn-primary min-w-160"
                                >Contact</routerLink
                              >
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="pricing-content pricing-content--mobile has-scroll pb-3"
            v-if="$mq === 'mobile'"
          >
            <div class="pricing-content__header">
              <div class="block p-3 align-items-center">
                <h2 v-if="!checked">Monthly Billing</h2>
                <h2 v-else>Annual Billing</h2>
                <div class="plan-switch">
                  <span v-bind:class="{ 'text-blue': !checked }">Monthly</span>
                  <b-form-checkbox
                    switch
                    checked="false"
                    size="lg"
                    class="ml-2"
                    v-model="checked"
                  ></b-form-checkbox>
                  <span v-bind:class="{ 'text-blue': checked }">Annually</span>
                </div>
                <h3 class="has-bg">Save 20% on Annual Plan</h3>
              </div>
            </div>
            <flickity ref="flickity" :options="flickityOptions">
              <div class="carousel-cell">
                <div class="pricing-block">
                  <div class="pricing-content__header">
                    <div class="block p-2 text-center">
                      <h2>Free</h2>
                      <h3>
                        $
                        <span class="text-xl">0</span>/mo.
                      </h3>
                      <p>Up to 10 Positions</p>
                    </div>
                  </div>
                  <div class="pricing-content__body">
                    <ul>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Job Positions</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">10</div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Interactive Social Org Platform (ISOP)</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Application Tracking System</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Job Templates (9000+)</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Job Description Database</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Company Profile</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>External Candidate Search</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img
                              class="meta-wrap__cross"
                              src="assets/images/cross-icon.svg"
                              alt
                            />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Full Feature Control</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img
                              class="meta-wrap__cross"
                              src="assets/images/cross-icon.svg"
                              alt
                            />
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="pricing-content__footer">
                    <div class="block">
                      <div
                        class="btn btn-primary min-w-160"
                        @click="downgradingAction('free')"
                      >
                        Free
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-cell">
                <div class="pricing-block">
                  <div class="pricing-content__header">
                    <div class="block p-2 text-center">
                      <h2>Growth</h2>
                      <h3>
                        $
                        <span class="text-xl">{{
                          totalPrice | numberWithCommas
                        }}</span
                        >/mo.
                        <span class="paid-annually" v-if="checked"
                          >Paid Annually</span
                        >
                      </h3>
                      <div class="d-flex align-items-center w-75 mx-auto">
                        <p
                          style="
                            width: 64px;
                            max-width: 64px;
                            margin: 0;
                            margin-left: 10px;
                          "
                        >
                          Up to
                        </p>
                        <div class="flex-fill w-100">
                          <v-select
                            name="tier_nodes_id"
                            id="tier_nodes_id"
                            label="amount"
                            item-value="id"
                            item-text="amount"
                            :options="tierNodesList"
                            v-model="tierNodeId"
                            placeholder="Select Positions"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pricing-content__body">
                    <ul>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Job Positions</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            {{ tierNodeId.total }}
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Interactive Social Org Platform (ISOP)</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Application Tracking System</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Job Templates (9000+)</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Job Description Database</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Company Profile</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>External Candidate Search</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Full Feature Control</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img
                              class="meta-wrap__cross"
                              src="assets/images/cross-icon.svg"
                              alt
                            />
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="pricing-content__footer">
                    <div
                      class="block"
                      v-if="
                        this.currentPlan == 'free' || showButton == 'Upgrade'
                      "
                    >
                      <a :href="upgradeUrl" class="btn btn-primary min-w-160"
                        >Upgrade</a
                      >
                    </div>
                    <div class="block" v-else-if="showButton == 'Downgrade'">
                      <div
                        class="btn btn-primary min-w-160"
                        @click="downgradingAction('down')"
                      >
                        Downgrade
                      </div>
                    </div>
                    <div class="block" v-else>
                      <a href class="btn btn-primary min-w-160 disabled"
                        >Current Plan</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-cell">
                <div class="pricing-block">
                  <div class="pricing-content__header">
                    <div class="block p-2 text-center">
                      <h2>Enterprise</h2>
                      <h3>
                        ---
                        <span class="paid-annually" v-if="checked"
                          >Paid Annually</span
                        >
                      </h3>
                      <p>800+ Positions</p>
                    </div>
                  </div>
                  <div class="pricing-content__body">
                    <ul>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Job Positions</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            Unlimited
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Interactive Social Org Platform (ISOP)</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Application Tracking System</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Job Templates (9000+)</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Job Description Database</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Company Profile</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>External Candidate Search</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row no-gutters">
                          <div class="col-7 title-wrap">
                            <h4>Full Feature Control</h4>
                          </div>
                          <div class="col-5 text-center meta-wrap">
                            <img src="assets/images/check-solid-blue.svg" alt />
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="pricing-content__footer">
                    <div class="block">
                      <routerLink
                        to="/contactus"
                        class="btn btn-primary min-w-160"
                        >Contact</routerLink
                      >
                    </div>
                  </div>
                </div>
              </div>
            </flickity>

            <div class="pt-3 mt-5 sidebar">
              <div class="sidebar__title">
                <h3>Current Plan</h3>
              </div>
              <div class="p-3">
                <h3 class="text-blue text-capitalize">{{ currentPlan }}</h3>
                <p>Up to {{ maxPositions }} Positions</p>
                <p class="mb-3">
                  Currently {{ totalCurrentPositions }}/{{ maxPositions }}
                </p>
                <p>
                  $
                  <span class="text-xl">{{ totalCurrentprice }}</span> /mo.
                </p>
                <ul class="tick-styled tick-styled--blue">
                  <li>{{ maxPositions }} Positions</li>
                  <li>
                    Interactive Social Org Platform (ISOP)
                    <ul class="list-default">
                      <li>Multi-platform job posting</li>
                      <li>Directory & profiles</li>
                      <li>Internal resumes</li>
                      <li>Out of office notice</li>
                      <li>Whole company invite</li>
                      <li>Job description creator</li>
                    </ul>
                  </li>
                  <li>Applicant tracking system</li>
                  <li>Job templates (9000+)</li>
                  <li>Job description database</li>
                  <li>Company profile</li>
                  <li v-if="currentPlan != 'free'">Full Application Control</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 h-100" v-if="$mq != 'mobile'">
        <div class="content-right has-box-shadow h-100 sidebar">
          <div class="sidebar__title">
            <h3>Current Plan</h3>
          </div>
          <div class="sidebar__content has-scroll p-3">
            <div class="has-scroll__child">
              <h3 class="text-blue text-capitalize">{{ currentPlan }}</h3>
              <p>Up to {{ maxPositions }} Positions</p>
              <p class="mb-3">
                Currently {{ totalCurrentPositions }}/{{ maxPositions }}
              </p>
              <p>
                $
                <span class="text-xl">{{ totalCurrentprice }}</span> /mo.
              </p>
              <ul class="tick-styled tick-styled--blue">
                <li>{{ maxPositions }} Positions</li>
                <li>
                  Interactive Social Org Platform (ISOP)
                  <ul class="list-default">
                    <li>Multi-platform job posting</li>
                    <li>Directory & profiles</li>
                    <li>Internal resumes</li>
                    <li>Out of office notice</li>
                    <li>Whole company invite</li>
                    <li>Job description creator</li>
                  </ul>
                </li>
                <li>Applicant tracking system</li>
                <li>Job templates (9000+)</li>
                <li>Job description database</li>
                <li>Company profile</li>
                <li v-if="currentPlan != 'free'">Full Application Control</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <view-job-modal :bus="bus" />
      <b-modal
        id="downgrade-modal"
        centered
        title="Downgrade"
        footer-class="justify-content-center"
      >
        <p class="text-center mt-4">{{ downgradeText }}</p>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button variant="primary" @click="confirmDowngradePlan()">{{
            downgradeSuccessBtn
          }}</b-button>
          <b-button variant="danger" @click="cancelDowngradePlan()"
            >No</b-button
          >
        </template>
      </b-modal>

      <b-modal
        id="free-modal"
        centered
        title="Free Plan"
        footer-class="justify-content-center"
      >
        <p class="text-center mt-4">{{ freeText }}</p>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button variant="primary" @click="confirmFreePlan()">{{
            downgradeSuccessBtn
          }}</b-button>
          <b-button variant="danger" @click="cancelFreePlan()">No</b-button>
        </template>
      </b-modal>

      <b-modal
        id="downgrade-result-modal"
        centered
        title="Downgrade"
        footer-class="justify-content-center"
      >
        <div class="d-flex justify-content-center">
          <img
            class="modal-result-icon"
            src="assets/images/alert-success.png"
            alt
          />
        </div>
        <p class="text-center color-grey mt-4">
          Your downgrade has been successfully processed.
        </p>
        <p class="mt-3">
          Should you have any questions about OneCrate, please feel free to
          <a href="/contactus">contact</a> our support team.
        </p>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button variant="primary" @click="confirmISOP()">ISOP</b-button>
          <b-button variant="danger" @click="closeModal()">Close</b-button>
        </template>
      </b-modal>
    </div>
  </div>
</template>
<script>
import config from "../config/config";
import vSelect from "vue-select";
import alertService from "../components/utils/alertService";
import LoadingBar from "../components/common/LoadingBar";
import Flickity from "vue-flickity";

export default {
  name: "pricing",
  components: {
    "v-select": vSelect,
    LoadingBar,
    Flickity,
  },
  data() {
    return {
      checked: false,
      tierNodeId: { id: 1, amount: 50 + " Positions", price: 149, total: 50 },
      tierNodesList: [],
      currentPlan: "free",
      currentNodes: 0,
      showButton: null,
      showDowngradeButton: false,
      maxPositions: 10,
      totalCurrentPositions: 0,
      totalCurrentprice: 0,
      bus: new Vue(),
      downgradeText: "",
      downgradeSuccessBtn: "Yes",
      subscriptionTierNodeDetails: null,
      clientSecret: null,
      isLoading: false,
      freeText:
        "Are you sure you want to downgrade your plan to free positions?",
      flickityOptions: {
        initialIndex: 1,
        prevNextButtons: false,
        pageDots: true,
        wrapAround: false,
        dragThreshold: 10,
        // adaptiveHeight: true,
      },
    };
  },
  updated() {
    if (parseInt(this.tierNodeId.amount) > this.currentNodes) {
      this.showButton = "Upgrade";
    } else if (parseInt(this.tierNodeId.amount) == this.currentNodes) {
      this.showButton = "Current";
    } else {
      this.showButton = "Downgrade";
    }
  },
  methods: {
    getTierNodesList() {
      axios({
        url: config.apiURL + "getSubscriptionTierNodesList",
        method: "GET",
      })
        .then((resp) => {
          let list = [];
          this.currentPlan = resp.data.current_plan;
          this.currentNodes = resp.data.current_nodes;
          this.maxPositions = resp.data.user_current_max_positions;
          this.totalCurrentPositions = resp.data.user_total_current_nodes - 1;
          this.totalCurrentprice = resp.data.user_total_current_price;

          if (resp.data.subscriptionTierNodes.length > 0) {
            if (this.currentPlan == "free") {
              this.showButton = "Upgrade";
            }
            resp.data.subscriptionTierNodes.map((item) => {
              list.push({
                id: item.id,
                amount: item.amount + " Positions",
                price: item.price,
                total: item.amount,
              });
              if (this.currentNodes == item.amount) {
                this.tierNodeId = {
                  id: item.id,
                  amount: item.amount + " Positions",
                  price: item.price,
                };
              }
            });

            this.tierNodesList = list;
          } else {
            this.tierNodeId = {
              id: resp.data.subscriptionTierNodes[0].id,
              amount: resp.data.subscriptionTierNodes[0].amount + " Positions",
              price: resp.data.subscriptionTierNodes[0].price,
              total: resp.data.subscriptionTierNodes[0].amount,
            };
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    downgradingAction(key) {
      if (key === "down") {
        if (this.totalCurrentPositions > this.tierNodeId.total) {
          (this.downgradeText = `There are more positions in your ISOP than your downgrade selection. Please delete ${
            parseInt(this.totalCurrentPositions) -
            parseInt(this.tierNodeId.total)
          } or more positons before downgrading.`),
            (this.downgradeSuccessBtn = "ISOP");
          this.$bvModal.show("downgrade-modal");
        } else {
          this.downgradeText = `Are you sure you want to downgrade your plan to ${this.tierNodeId.total} positions?`;
          this.downgradeSuccessBtn = "Yes";
          this.$bvModal.show("downgrade-modal");
        }
      } else {
        if (this.totalCurrentPositions > 10) {
          (this.freeText = `There are more positions in your ISOP than the Free plan allows. Please delete ${
            parseInt(this.totalCurrentPositions) - 10
          } or more positons before downgrading.`),
            (this.downgradeSuccessBtn = "ISOP");
          this.$bvModal.show("free-modal");
        } else {
          this.freeText = `Are you sure you want to downgrade your plan to Free positions?`;
          this.downgradeSuccessBtn = "Yes";
          this.$bvModal.show("free-modal");
        }
      }
    },
    freeAction() {
      this.$bvModal.show("free-modal");
    },
    updateUserPaymentData() {
      this.$bvModal.hide("downgrade-modal");
      const cycleId = 1;
      if (this.checked) {
        cycleId = 2;
      }
      this.isLoading = true;
      axios({
        url:
          config.apiURL +
          "getSubscriptionTierNodeDetails/" +
          this.tierNodeId.id +
          "/" +
          cycleId,
        method: "GET",
      })
        .then((resp) => {
          this.subscriptionTierNodeDetails = resp.data;
          this.clientSecret = resp.data.client_secret;
          console.log(resp.data);

          axios({
            url: config.apiURL + "updateUserPaymentData",
            data: { details: this.subscriptionTierNodeDetails },
            method: "POST",
          })
            .then((res) => {
              this.isLoading = false;
              this.$store.dispatch("updateUser", res.data); //update user data in state as well
              this.$bvModal.show("downgrade-result-modal");
              // alertService.CustomSuccess(
              //   "Your downgrading has been successfully processed.",
              //   "Sould you have any questions about OneCrate, please feel free to contact our support team.",
              //   "ISOP",
              //   () => this.confirmISOP()
              // );
            })
            .catch((err) => {
              this.successfulPayment = true;
              this.isLoading = false;
            });
        })
        .catch((err) => {
          console.log(err);
        });
    },
    confirmISOP() {
      this.$router.push({ name: "isop" });
    },
    closeModal() {
      this.$bvModal.hide("downgrade-result-modal");
    },
    confirmDowngradePlan() {
      if (this.totalCurrentPositions > this.tierNodeId.total) {
        this.$router.push({ name: "isop" });
      } else {
        // window.location.href=this.downgradeUrl;
        this.updateUserPaymentData();
      }
    },
    cancelDowngradePlan() {
      this.$bvModal.hide("downgrade-modal");
    },
    confirmFreePlan() {
      if (this.totalCurrentPositions > 10) {
        this.$router.push({ name: "isop" });
      } else {
        // window.location.href=this.downgradeUrl;
        axios({
          url: config.apiURL + "deleteUserPaymentData/",
          method: "GET",
        }).then((resp) => {
          console.log(resp.data);
          this.currentPlan = "Free";
          this.maxPositions = 10;
          this.totalCurrentprice = 0;
          this.$bvModal.show("downgrade-result-modal");
          // alertService.CustomSuccess(
          //   "Your downgrading has been successfully processed.",
          //   "Sould you have any questions about OneCrate, please feel free to contact our support team.",
          //   "ISOP",
          //   () => this.confirmISOP()
          // );
        });
      }
      this.$bvModal.hide("free-modal");
    },
    cancelFreePlan() {
      this.$bvModal.hide("free-modal");
    },
    resize() {
      window.addEventListener("load", (event) => {
        this.$refs.flickity.resize();
      });
    },
  },
  mounted() {
    this.getTierNodesList();
    this.resize();
  },
  computed: {
    upgradeUrl: function () {
      if (this.checked) return "/upgrade/" + this.tierNodeId.id + "/2";
      else return "/upgrade/" + this.tierNodeId.id + "/1";
    },
    downgradeUrl: function () {
      if (this.checked) return "/downgrade/" + this.tierNodeId.id + "/2";
      else return "/downgrade/" + this.tierNodeId.id + "/1";
    },

    contactUrl: function () {
      return "/contactus/";
    },
    showUpgradeButtons: function () {
      let show = false;
      if (this.currentPlan == "free") {
        show = true;
      } else if (this.tierNodeId.amount > this.currentNodes) {
        show = true;
      } else {
        show = false;
      }
      console.log("show", show);
      return show;
    },
    totalPrice: function () {
      if (this.checked) {
        let total = 0;
        let discount = (this.tierNodeId.price * 12 * 20) / 100;
        total = (this.tierNodeId.price * 12 - discount) / 12;
        return parseInt(total);
      } else {
        return this.tierNodeId.price;
      }
    },
  },
  filters: {
    numberWithCommas: function (value) {
      return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
  },
};
</script>
