<template>
  <div class="content-page-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mainpage-thumbnail flex-center">
          <img src="assets/images/illustrations/illustration__candidate-isop.svg" class="img-fluid mt-n3" />
        </div>
        <div class="col-lg-6">
          <div class="content-wrap terms-content-wrap">
            <h2>Privacy Policy</h2>
            <div class="has-scroll">
              <p>
                <b>Welcome</b> to OneCrate, owned and operated by OneCrate LLC. having an address: 217 Las
                Vegas Blvd.
                N, Las Vegas NV, 89101-2921, is committed to protecting your privacy. We have prepared this
                Privacy Policy to describe to you our practices regarding the personal information we
                collect
                from users of our website.
              </p>

              <p>
                By using the Services, users consent to the collection and use of their Personal Information
                by
                us. You also represent to us that you have any and all authorizations necessary to use these
                Services including using them to process Personal Information. We collect and use the
                information you provide to us, including information obtained from your use of the Services.
                Also, we may use the information that we collect for our internal purposes to develop, tune,
                enhance, and improve our Services, and for advertising and marketing consistent with this
                Privacy Policy.
              </p>

              <p>
                This privacy policy has been compiled to better serve those who are concerned with how their
                'Personally identifiable information' (PII) is being used online. PII is information
                that can be used on its own or with other information to identify, contact, or locate a
                single
                person, or to identify an individual in context. Please read our privacy policy carefully to
                get
                a clear understanding of how our website collects, uses, protects or otherwise handles
                users’ Personally Identifiable Information.
              </p>

              <p>
                This Privacy Policy is intended to inform users about how our website treats Personal
                Information
                that it processes about users. If users do not agree to any part of this Privacy Policy,
                then we
                cannot provide its Services to users, and users should stop accessing our services and
                deactivate their account.
              </p>

              <p>
                By using the Services, You acknowledge, consent and agree that we may collect, process, and
                use
                the information that you provide to us and that such information shall only be used by us or
                third parties acting under our direction, pursuant to confidentiality agreements, to
                develop,
                tune, enhance, and improve the Services.
              </p>

              <p>
                Although we may attempt to notify you when changes are made to this Privacy Policy, you are
                responsible for periodically reviewing any changes which may be made to the Policy. We may,
                in
                our sole discretion, modify or revise the Policy at any time, and you agree to be bound by
                such
                modifications or revisions.
              </p>

              <p>
                <strong>1. INFORMATION WE COLLECT:</strong>
              </p>

              <p>
                When you sign up to OneCrate, you provide us information about yourself - your name, email
                address, contact number, and other information. If you correspond with us by e-mail, we may
                retain the content of your e-mail messages, your email address, and our responses.
                Additionally,
                we store information about users’ contacts when users manually enter contact email
                addresses or transfer contact information from other online social networks. We also collect
                general information about your use of our services.
              </p>

              <p>
                <strong>2. INFORMATION WE COLLECT AUTOMATICALLY WHEN YOU USE OUR SERVICES:</strong>
              </p>

              <p>
                2.1 When you access or use our Services, we automatically collect information about you,
                including:
              </p>

              <p>
                a) Log Information: We log information about your use of our website, including your browser
                type
                and language, access times, pages viewed, your IP address and the website you visited before
                navigating to our website.
              </p>

              <p>
                b) Device Information: We may collect information about the device you use to access our
                Services, including the hardware model, operating system and version, unique device
                identifier,
                phone number, International Mobile Equipment Identity ("IMEI") and mobile network
                information.
              </p>

              <p>
                c) Location Information: With your consent, we may collect information about the location of
                your
                device to facilitate your use of certain features of our Services, determine the speed at
                which
                your device is traveling, add location-based filters (such as local weather), and for any
                other
                purposes.
              </p>

              <p>
                d) Information Collected by Cookies and Other Tracking Technologies: We use various
                technologies
                to collect information, and this may include sending cookies to you. A "cookie" is
                a
                small data file transferred to your computer’s hard drive that allows a Website to
                respond
                to you as an individual, gathering and remembering information about your preferences in
                order
                to tailor its operation to your needs, likes and dislikes. Overall, cookies are safe, as
                they
                only identify your computer to customize your Web experience. Accepting a cookie does not
                provide us access to your computer or any Personal Identifiable Information about you, other
                than the information you choose to share. Other servers cannot read them, nor can they be
                used
                to deliver a virus. Most browsers automatically accept cookies, but you can usually adjust
                yours
                (Microsoft Internet Explorer, Firefox or Google Chrome) to notify you of cookie placement
                requests, refuse certain cookies, or decline cookies completely. If you turn off cookies
                completely, there may be some website features that will not be available to you, and some
                Web
                pages may not display properly. To support the personalized features of our website (such as
                your country and language codes and browsing functions) we must send a cookie to your
                computer’s hard drive and/or use cookie-based authentication to identify you as a
                registered website user. We do not, however, use so-called "surveillance" cookies
                that
                track your activity elsewhere on the Web. We may also collect information using web beacons
                (also known as "tracking pixels"). By using this website with cookies enabled in
                your
                browser you are providing implied consent to their use by this website.
              </p>

              <p>
                e) We also may make use of third party tracking pixels used by advertising or analytical
                partners. Some such partners include, but are not limited to:
              </p>

              <p>
                (i) Google Analytics: Used to track statistical information such as page visits and traffic
                source information allowing us to improve the performance and quality of the Site. For more
                information please visit:&nbsp;
                <a
                  href="http://www.google.com/analytics/learn/privacy.html"
                >http://www.google.com/analytics/learn/privacy.html</a>.
              </p>

              <p>
                (ii) Google Advertising: Used to track conversions from advertisements on the Google Search
                and
                Google Display network. For more information please visit:&nbsp;
                <a
                  href="http://www.google.com/policies/technologies/ads/"
                >http://www.google.com/policies/technologies/ads/</a>.
                Third party pixels and content may make use of cookies. We do not have access or control
                over
                these third party cookies and this Policy does not cover the use of third party cookies.
              </p>

              <p>
                <strong>3. INFORMATION SHARED DURING TRANSACTION:</strong>
              </p>

              <p>
                3.1 You agree that you will enter into transactions with third parties through our website
                and
                will share your personally identifiable information with them for easy completion of the
                transaction. You hereby expressly agree that we shall not be involved or held liable for any
                breach of the privacy or security of that data. The said breach, if any, shall be a matter
                of
                dispute between you and the third party and we shall not be held liable or be issued a
                notice
                for the same.&nbsp;
              </p>

              <p>
                3.2 We STRONGLY recommend that you should be careful and vigilant while disclosing your
                personally identifiable details with your transaction partner. Please do not disclose your
                bank
                and account details to anyone through our website or to any individual whom you have met
                through
                our website.&nbsp;
              </p>

              <p>
                3.3 Your credit or debit card details are processed by a world leading provider of online
                payments processing which stores the card details on your request so that you do not need to
                enter them each time you visit the Website.
              </p>

              <p>
                <strong>4. HOW WE USE YOUR INFORMATION:</strong>
              </p>

              <p>
                4.1 We use the personal information we collect to fulfill your requests for services, improve
                our
                services, contact you, conduct research, and provide anonymous reporting for internal and
                external clients.
              </p>

              <p>
                4.2 By providing us your email address, you consent to us using the email address to send you
                our
                website and services related notices, including any notices required by law, in lieu of
                communication by postal mail. You also agree that we may send notifications of activity on
                our
                website to the e-mail address you give us, in accordance with any applicable privacy
                settings.
                We may use your email address to send you other messages, such as newsletters, changes to
                our
                features, or other information. If you do not want to receive optional e-mail messages, you
                may
                modify your settings to opt out.
              </p>

              <p>
                4.3 Our settings may also allow you to adjust your communications preferences. If you do not
                wish
                to receive promotional email messages from us, you may opt out by following the unsubscribe
                instructions in those emails. If you opt out, you will still receive non-promotional emails
                from
                us about your account and our Services.
              </p>

              <p>
                4.4 Following termination or deactivation of your services, we may (but are under no
                obligation
                to) retain your information for archival purposes. We will not publicly disclose any of your
                personally identifiable information other than as described in this Privacy Policy.
              </p>

              <p>
                4.5 At our sole discretion, for any reason or no reason at all, we reserve the right to
                remove
                any content or messages, if we believe that such action is necessary (a) to conform to the
                law,
                comply with legal process served on us or our affiliates, or investigate, prevent, or take
                action regarding suspected or actual illegal activities; (b) to enforce this policy, to take
                precautions against liability, to investigate and defend ourselves against any third-party
                claims or allegations, to assist government enforcement agencies, or to protect the security
                or
                integrity of our website; or (c) to exercise or protect the rights, property, or personal
                safety
                of the website, our users, or others.
              </p>

              <p>
                <strong>5. HOW WE SHARE YOUR INFORMATION:</strong>
              </p>

              <p>
                5.1 As a matter of policy, we will not sell or rent information about you and we will not
                disclose information about you in a manner inconsistent with this Privacy Policy except as
                required by law or government regulation. We cooperate with law enforcement inquiries, as
                well
                as other third parties, to enforce laws such as those regarding intellectual property
                rights,
                fraud and other personal rights.
              </p>

              <p>
                5.2 We will not share the personal information we collect about you with any third party for
                their own marketing purposes without your consent.&nbsp;We may share your data with our
                services
                providers who process your personal information to provide services to us or on our
                behalf.&nbsp; We have contracts with our service providers that prohibit them from sharing
                the
                information about you that they collect or that we provide to them with anyone else, or
                using it
                for other purposes.
              </p>

              <p>
                5.3 You may decline to submit Personal Information through the Services, in which case we may
                not
                be able to provide certain services to you. If you do not agree with our Privacy Policy or
                Terms
                of Service, please discontinue use of our Service; your continued usage of the Service will
                signify your assent to and acceptance of our Privacy Policy and Terms of Use.
              </p>

              <p>
                5.4 We may transfer your information and process it outside your country of residence,
                wherever
                our website, its affiliates&nbsp;and service providers operate.
              </p>

              <p>
                5.5 WE CAN (AND YOU AUTHORIZE US TO) DISCLOSE ANY INFORMATION ABOUT YOU TO LAW ENFORCEMENT,
                OTHER
                GOVERNMENT OFFICIALS, ANY LAWSUIT OR ANY OTHER THIRD PARTY THAT WE, IN OUR SOLE DISCRETION,
                BELIEVE NECESSARY OR APPROPRIATE IN CONNECTION WITH AN INVESTIGATION OF FRAUD, INTELLECTUAL
                PROPERTY INFRINGEMENT, OR OTHER ACTIVITY THAT IS ILLEGAL OR MAY EXPOSE US, OR YOU, TO
                LIABILITY.
              </p>

              <p>
                <strong>6. ENSURING INFORMATION IS ACCURATE AND UP-TO-DATE</strong>
              </p>

              <p>
                6.1 We take reasonable precautions to ensure that the Personal Information we Collect, Use
                and
                Disclose is complete, relevant and up-to-date. However, the accuracy of that information
                depends
                to a large extent on the information you provide. That's why we recommend that you:
              </p>

              <p>a) Let us know if there are any errors in your Personal Information; and</p>

              <p>b) Keep us up-to-date with changes to your Personal Information such as your name or address.</p>

              <p>
                <strong>7. HOW WE PROTECT YOUR INFORMATION:</strong>
              </p>

              <p>
                7.1 We are very concerned about safeguarding the confidentiality of your personally
                identifiable
                information. We employ administrative, physical and electronic measures designed to protect
                your
                information from unauthorized access.
              </p>

              <p>
                7.2 By using this website or the Services or providing Personal Information to us, you agree
                that
                we can communicate with you electronically regarding security, privacy, and administrative
                issues relating to your use of this website or Services.
              </p>

              <p>
                7.3 We use commercially reasonable physical, managerial, and technical safeguards to preserve
                the
                integrity and security of your Personal Information. We cannot, however, ensure or warrant
                the
                security of any information you transmit to us and you do so at your own risk. Using
                unsecured
                wi-fi or other unprotected networks to submit messages through the Service is never
                recommended.
                Once we receive your transmission of information, we make commercially reasonable efforts to
                ensure the security of our systems. However, please note that this is not a guarantee that
                such
                information may not be accessed, disclosed, altered, or destroyed by breach of any of our
                physical, technical, or managerial safeguards. If we learn of a security systems breach,
                then we
                may attempt to notify you electronically so that you can take appropriate protective steps.
              </p>

              <p>
                7.4 Notwithstanding anything to the contrary in this Policy, we may preserve or disclose your
                information if we believe that it is reasonably necessary to comply with a law, regulation
                or
                legal request; to protect the safety of any person; to address fraud, security or technical
                issues; or to protect our rights or property. However, nothing in this Policy is intended to
                limit any legal defenses or objections that you may have to a third party, including a
                government’s, request to disclose your information.
              </p>

              <p>
                <strong>8. YOUR CHOICES ABOUT YOUR INFORMATION:</strong>
              </p>

              <p>8.1 You have several choices regarding the use of information on our Services:</p>

              <p>
                (a) Email Communications: We will periodically send you free newsletters and e- mails that
                directly promote the use of our website, or Services. When you receive newsletters or
                promotional communications from us, you may indicate a preference to stop receiving further
                communications from us and you will have the opportunity to “opt-out” by
                following
                the unsubscribe instructions provided in the e-mail you receive or by contacting us
                directly.
                Despite your indicated email preferences, we may send you service related communications,
                including notices of any updates to our Terms of Use or Privacy Policy.
              </p>

              <p>
                (b) Changing or Deleting Your Personal Information: You may change any of your personal
                information by visiting the website and following the directions therein. You may request
                deletion of your personal information by us, and we will use commercially reasonable efforts
                to
                honor your request, but please note that we may be required to keep such information and not
                delete it (or to keep this information for a certain time, in which case we will comply with
                your deletion request only after we have fulfilled such requirements). When we delete any
                information, it will be deleted from the active database, but may remain in our archives. We
                may
                also retain your information you provide while your account is in existence or as needed to
                provide you services. We may retain your personal information even after you have closed
                your
                account if retention is reasonably necessary to comply with our legal obligations, meet
                regulatory requirements, resolve disputes between users, for fraud prevention or enforce
                this
                privacy policy and user agreement or any similar purposes. We may retain personal
                information,
                for a limited period of time, if requested by law enforcement.
              </p>

              <p>
                8.2 You may, of course, decline to submit personally identifiable information through the
                website, in which case, we may not be able to provide certain services to you. You can
                review
                and correct the information about you that we keep on file by editing your account settings.
              </p>

              <p>
                <strong>9. CHILDREN’S PRIVACY:</strong>
              </p>

              <p>
                Protecting the privacy of young children is especially important. Thus, we do not knowingly
                collect or solicit personal information from anyone under the age of 16 or knowingly allow
                such
                persons to register. If you are under 16, please do not attempt to register for the Service
                or
                send any information about yourself to us, including your name, address, telephone number,
                or
                email address. No one under age 16 may provide any personal information for accessing the
                Service. In the event that we learn that we have collected personal information from a child
                under age 16, we will delete that information as quickly as possible. If you believe that we
                might have any information from or about a child under 16, please contact us so that we may
                delete that information.
              </p>

              <p>
                <strong>10. MERGER AND ACQUISITIONS:</strong>
              </p>

              <p>
                In case of a merger or acquisition, we reserve the right to transfer all the information,
                including personally identifiable information, stored with us to the new entity or company
                thus
                formed. Any change in the website’s policies and standing will be notified to you
                through
                email.
              </p>

              <p>
                <strong>11. LINKS TO THIRD PARTY WEBSITES:</strong>
              </p>

              <p>
                Our website contains links to other websites. The fact that we link to a website is not an
                endorsement, authorization or representation of our affiliation with that third party. We do
                not
                exercise control over third party websites. These other websites may place their own cookies
                or
                other files on your computer, collect data or solicit personally identifiable information
                from
                you. Other sites follow different rules regarding the use or disclosure of the personally
                identifiable information you submit to them. We encourage you to read the privacy policies
                or
                statements of the other websites you visit.
              </p>

              <p>
                <strong>12. ADVERTISING:</strong>
              </p>

              <p>
                Advertisers and advertising networks place ads (including sponsored links in search results)
                on
                our website. These companies, as well as data analytics companies who service them, may use
                cookies, pixel tags, mobile device IDs and other similar technologies to collect data about
                you
                when you visit our website.&nbsp; They use the data to enable them to track your activity
                across
                various sites where they display ads and record your activities, so they can show ads that
                they
                consider relevant to you.&nbsp; You may opt-out of receiving targeted online advertising
                from
                advertising networks that is delivered on our website.
              </p>

              <p>
                <strong>13. GOOGLE</strong>
              </p>

              <p>
                13.1 Google's advertising requirements can be summed up by Google's Advertising
                Principles. They are put in place to provide a positive experience for users.
                <a
                  href="https://support.google.com/adwordspolicy/answer/1316548?hl=en"
                >https://support.google.com/adwordspolicy/answer/1316548?hl=en</a>.
                Our website uses Google AdSense Advertising.
              </p>

              <p>
                13.2 Google, as a third party vendor, uses cookies to serve ads on our website&nbsp;
                Google's
                use of the DART cookie enables it to serve ads to our website users based on their visit to
                our
                website and other sites on the Internet. Users may opt out of the use of the DART cookie by
                visiting the Google ad and content network privacy policy.
              </p>

              <p>13.3 Our website has implemented the following:-</p>

              <p>a) Remarketing with Google AdSense</p>

              <p>b) Google Display Network Impression Reporting</p>

              <p>c) Demographics and Interests Reporting</p>

              <p>d) DoubleClick Platform Integration</p>

              <p>
                13.4 Our website along with third-party vendors, such as Google use first-party cookies (such
                as
                the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or
                other
                third-party identifiers together to compile data regarding user’s interactions with ad
                impressions, and other ad service functions as they relate to our website.
              </p>

              <p>
                <strong>14. NOTIFICATION PROCEDURES:</strong>
              </p>

              <p>
                It is our policy to provide notifications, whether such notifications are required by law or
                are
                for marketing or other business related purposes, to you via email notice, written or hard
                copy
                notice, or through conspicuous posting of such notice on the website, as determined by us in
                our
                sole discretion. We reserve the right to determine the form and means of providing
                notifications
                to you, provided that you may opt out of certain means of notification as described in this
                Privacy Policy.
              </p>

              <p>
                <strong>15. DO NOT TRACK:</strong>
              </p>

              <p>
                15.1 Do Not Track (“DNT”) is a privacy preference that users can set in certain
                web
                browsers. DNT is a way for users to inform website and services that they do not want
                certain
                information about their webpage visits collected over time and across websites or online
                services.
              </p>

              <p>
                15.2 We are committed to providing you with meaningful choices about the information
                collected on
                our website for third party purposes, and that is why we provide the opt-out links. However,
                we
                do not recognize or respond to browser-initiated DNT signals, as the Internet industry is
                currently still working toward defining exactly what DNT means, what it means to comply with
                DNT, and a common approach to responding to DNT.
              </p>

              <p>
                <strong>16. SURVEYS:</strong>
              </p>

              <p>
                We also use surveys to collect information about our users. From time to time, we request
                users' input in order to evaluate potential features and services. The decision to
                answer a
                survey is completely yours. We use the information gathered from surveys to improve our
                services.
              </p>

              <p>
                <strong>
                  17.
                  <a name="gjdgxs"></a>OPTING OUT OF INFORMATION SHARING:
                </strong>
              </p>

              <p>
                17.1 We understand and respect that not all users may want to allow us to share their
                information
                with other select users or companies. If you do not want us to share your information,
                please
                contact us through the Contact Us page, and we will remove your name from lists we share
                with
                other users or companies as soon as reasonably practicable. When contacting us, please
                clearly
                state your request, including your name, mailing address, email address and phone number.
              </p>

              <p>
                17.2 However, under the following circumstances, we may still be required to share your
                personal
                information:
              </p>

              <p>
                a) If we respond to subpoenas, court orders or legal process, or if we need to establish or
                exercise our legal rights or defend against legal claims.
              </p>

              <p>
                b) If we believe it is necessary to share information in order to investigate, prevent or
                take
                action regarding illegal activities, suspected fraud, situations involving potential threats
                to
                the physical safety of any person, violations of our Terms of Use or as otherwise required
                by
                law.
              </p>

              <p>
                c) If we believe it is necessary to restrict or inhibit any user from using any of our Site,
                including, without limitation, by means of "hacking" or defacing any portion
                thereof.
              </p>

              <p>
                <strong>18. INVITATION SERVICES:</strong>
              </p>

              <p>
                We may offer you the opportunity to use our invitation services and application so that you
                can
                tell your family members and friends about us. The service will enable you to import at your
                direction your contact list from certain email services that you may be using and to send an
                email on your behalf from your email address, inviting your family members and friends to
                try
                the services offered by our website. The information you provide will be used solely to
                facilitate your sending of the invitation and will not be stored or used by us for any other
                purpose. If you are a recipient of an invitation and have elected to opt out from receiving
                any
                further invitations from us, we will retain your email address solely for the purposes of
                honoring your opt-out further invitations.
              </p>

              <p>
                <strong>19. PHISHING OR FALSE EMAILS:</strong>
              </p>

              <p>
                If you receive an unsolicited email that appears to be from us or one of our members that
                requests personal information (such as your credit card, login, or password), or that asks
                you
                to verify or confirm your account or other personal information by clicking on a link, that
                email was likely to have been sent by someone trying to unlawfully obtain your information,
                sometimes referred to as a "phisher" or "spoofer." We do not ask for
                this
                type of information in an email. Do not provide the information or click on the link.&nbsp;
                Please contact us at support@onecrate.com if you get an email like this.
              </p>

              <p>
                <strong>20. CHANGES TO OUR PRIVACY POLICY:</strong>
              </p>

              <p>
                20.1 We may update this Privacy Policy and information security procedures from time to time.
                If
                these privacy and/or information security procedures materially change at any time in the
                future, we will post the new changes conspicuously on the website to notify you and provide
                you
                with the ability to opt out in accordance with the provisions set forth above.
              </p>

              <p>
                20.2 Continued use of our website and Service, following notice of such changes shall
                indicate
                your acknowledgement of such changes and agreement to be bound by the terms and conditions
                of
                such changes.
              </p>

              <p>
                <strong>21. BREACH OF PRIVACY POLICY:</strong>
              </p>

              <p>
                We reserve the right to terminate or suspend any account or delete certain contents from any
                profile or public domain within the ambit of this website if the said account or content is
                found to be in violation of our privacy policy. We sincerely request you to respect the
                privacy
                and secrecy concerns of others. The jurisdiction of any breach or dispute shall be
                determined in
                accordance with the terms of use of the website.
              </p>

              <p>
                <strong>22. NO RESERVATIONS:</strong>
              </p>

              <p>
                We do not accept any reservation or any type of limited acceptance of our privacy policy. You
                expressly agree to each and every term and condition as stipulated in this policy without
                any
                exception whatsoever.
              </p>

              <p>
                <strong>23. NO CONFLICT:</strong>
              </p>

              <p>
                The policy constitutes a part of the user terms. We have taken utmost care to avoid any
                inconsistency or conflict of this policy with any other terms, agreements or guidelines
                available on our website. In case there exists a conflict, we request you to kindly contact
                us
                for the final provision and interpretation.&nbsp;
              </p>

              <p>
                <strong>24. CONTACT US:</strong>
              </p>

              <p>
                If you have any questions about this Privacy Policy, our practices relating to the website,
                or
                your dealings with us, please contact us at support@onecrate.com.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PrivacyPolicy"
};
</script>

<style scoped>
</style>