<template>
  <LoadingBar v-if="isLoading" :loading="isLoading"></LoadingBar>
  <div v-else class="container h-100">
    <div class="white-box-wrapper flex-center flex-column px-3">
      <div class="white-box white-box--md change-password-wrapper">
        <h3 class="mb-3">Reset Your Password?</h3>
        <h5>
          Please enter your email address to search for your account.
          We'll send you a link to reset your password.
        </h5>
        <form action="#" method="post" ref="reset_password_form" @submit.prevent="submit">
          <div class>
            <div
              class="input-wrapper form-group mt-4"
              :class="{'form-group--error':$v.new_password.$error}"
            >
              <input
                id="new_password"
                type="password"
                name="new_password"
                v-model.trim="$v.new_password.$model"
                @blur="setNewPassword($event.target.value)"
                class="form-control form-control--round"
                placeholder="New Password"
              />
            </div>
            <div
              class="input-wrapper form-group mt-4"
              :class="{'form-group--error':$v.new_password_confirmation.$error}"
            >
              <input
                id="new_password_confirmation"
                type="password"
                name="new_password_confirmation"
                v-model.trim="$v.new_password_confirmation.$model"
                @blur="setConfirmPassword($event.target.value)"
                class="form-control form-control--round"
                placeholder="Confirm Password"
              />
            </div>

            <div class="btn-wrap text-right mt-4">
              <button
                type="submit"
                class="btn btn-primary"
                @click.prevent="submit"
                :disabled="$v.$invalid"
              >
                <span
                  v-bind="{isLoading, loading}"
                  v-if="isLoading == true"
                  class="spinner-border spinner-border--md spinner-border--in-button"
                ></span> Submit
              </button>
            </div>
          </div>
        </form>
        <notifications group="foo" position="bottom right" />
      </div>
    </div>
  </div>
</template>
<script>
import ButtonSpinner from "vue-button-spinner";
import config from "../config/config";
import LoadingBar from "../components/common/LoadingBar";
import _ from "lodash";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs
} from "vuelidate/lib/validators";
export default {
  name: "ResetPassword",
  components: {
    button_spinner: ButtonSpinner,
    LoadingBar,
  },
  data() {
    return {
      token: null,
      new_password: "",
      new_password_confirmation: "",
      errors: [],
      isLoading: false,
      loading: "",
      submitted: false
    };
  },
  validations: {
    new_password: {
      required,
      minLength: minLength(8)
    },
    new_password_confirmation: {
      required,
      sameAsNewPassword: sameAs("new_password")
    }
  },
  methods: {
    setNewPassword(value) {
      this.new_password = value;
      this.$v.new_password.$touch();
      if (this.$v.new_password.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter new password"
        });
      }
      if (this.$v.new_password.minLength == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Password length will be greater than 8"
        });
      }
    },
    setConfirmPassword(value) {
      this.new_password_confirmation = value;
      this.$v.new_password_confirmation.$touch();
      if (this.$v.new_password_confirmation.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter confirm password"
        });
      }

      if (this.$v.new_password_confirmation.sameAsNewPassword == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "New password and confirm password not matched"
        });
      }
    },

    submit() {
      this.isLoading = true;
      this.errors = [];
      this.$v.$touch();
      //this.onClick();
      if (this.$v.$invalid) {
        this.isLoading = false;
        this.$notify({
          group: "foo",
          type: "error",
          text: "Fill required form fields"
        });
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        let form = this.$refs["reset_password_form"];
        let formData = new FormData(form);
        formData.append('remember_token',this.$route.params.token);
        axios({
          url: config.apiURL + "updatePassword",
          data: formData,
          method: "POST"
        })
          .then(data => {
            this.isLoading = false;
            this.$notify({
              group: "foo",
              type: "success",
              text: "Password updated"
            });
          })
          .catch(err => {
            this.isLoading = false;
            this.error = err.response.data.error;
            let errors = err.response.data.errors;
            for (const [key, value] of Object.entries(errors)) {
              value.forEach((text, index) => {
                this.$notify({
                  group: "foo",
                  type: "error",
                  title: key,
                  text: text
                });
              });
            }
          });
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    }
  },
  created:function () {
    console.log("Token: "+this.$route.params.token);
  }
};
</script>
