<template>
  <div class="container h-100">
    <div class="resume-builder-wrapper" mobile-tour-step="7">
      <div class="row">
        <div class="col-xl-3 col-md-3 sidebar resume-builder-main-title">
          <div class="sidebar__title">
            <h3>
              Resume Builder
              <!--<a :href="baseUrl" target="_blank">Download</a>-->
            </h3>
          </div>
        </div>
      </div>
      <b-tabs
        vertical
        nav-wrapper-class="col-xl-3 col-md-3 h-100 tabs-wrapper sidebar"
        nav-class="content-right bg-white sidebar__content has-scroll has-box-shadow resume-nav-tabs px-7 py-7 flex-nowrap"
        content-class="content-left has-scroll has-box-shadow h-100 px-0 tab-content--resume-builder"
        v-model="tabIndex"
        :class="firstTabBlack(0)"
      >
        <b-tab active>
          <template v-slot:title>
            <span class="icon-wrap">
              <resume-icon></resume-icon>
            </span>
            Resume
          </template>
          <button
            @click="downloadResume"
            class="btn btn--round mr-2 download-resume-btn"
            v-tooltip.left="'Download Resume'"
          >
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
          <div class="candidate-resume--view" data-v-step="10">
            <resume-header></resume-header>
            <resume-content></resume-content>
          </div>
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <span class="icon-wrap">
              <resume-icon></resume-icon>
            </span>
            Resume Builder Pro
          </template>
          <pro-resume />
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <span class="icon-wrap">
              <objective-summary-icon></objective-summary-icon>
            </span>
            Objective Summary
          </template>
          <objective-summary></objective-summary>
        </b-tab>
        <contact-information></contact-information>
        <b-tab>
          <template v-slot:title>
            <span class="icon-wrap">
              <current-expertise-icon></current-expertise-icon>
            </span>
            Current Expertise
          </template>
          <div class="tab-content__inner__header">
            <h3>Current Expertise</h3>
          </div>
          <current-expertise></current-expertise>
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <span class="icon-wrap">
              <work-icon></work-icon>
            </span>
            Work Experience
          </template>
          <work-experience></work-experience>
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <span class="icon-wrap">
              <education-icon></education-icon>
            </span>
            Education
          </template>
          <education></education>
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <span class="icon-wrap">
              <skills-icon></skills-icon>
            </span>
            Skills
          </template>
          <skills></skills>
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <span class="icon-wrap">
              <strengths-icon></strengths-icon>
            </span>
            Strengths
          </template>
          <strengths></strengths>
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <span class="icon-wrap">
              <languages-icon></languages-icon>
            </span>
            Languages
          </template>
          <languages></languages>
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <span class="icon-wrap">
              <achievement-icon></achievement-icon>
            </span>
            Achievements
          </template>
          <achievements></achievements>
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <span class="icon-wrap">
              <interests-icon></interests-icon>
            </span>
            Interests
          </template>
          <interests></interests>
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <span class="icon-wrap">
              <references-icon></references-icon>
            </span>
            References
          </template>
          <references></references>
        </b-tab>
        <b-tab>
          <template v-slot:title>
            <span class="icon-wrap">
              <upload-video-icon></upload-video-icon>
            </span>
            Upload Video
          </template>
          <upload-video></upload-video>
        </b-tab>
      </b-tabs>
    </div>
  </div>
</template>

<script>
//Icons
import AchievementIcon from "../components/resumeBuilder/icons/AchievementsIcon";
import CurrentExpertiseIcon from "../components/resumeBuilder/icons/CurrentExpertiseIcon";
import EducationIcon from "../components/resumeBuilder/icons/EducationIcon";
import InterestsIcon from "../components/resumeBuilder/icons/InterestsIcon";
import LanguagesIcon from "../components/resumeBuilder/icons/LanguagesIcon";
import ObjectiveSummaryIcon from "../components/resumeBuilder/icons/ObjectiveSummaryIcon";
import ReferencesIcon from "../components/resumeBuilder/icons/ReferencesIcon";
import ResumeIcon from "../components/resumeBuilder/icons/ResumeIcon";
import ResumeProIcon from "../components/resumeBuilder/icons/ResumeProIcon";
import SkillsIcon from "../components/resumeBuilder/icons/SkillsIcon";
import StrengthsIcon from "../components/resumeBuilder/icons/StrengthsIcon";
import UploadVideoIcon from "../components/resumeBuilder/icons/UploadVideoIcon";
import WorkIcon from "../components/resumeBuilder/icons/WorkIcon";
import EditorContent from "../components/TipTapEditor";
import EditorMenuBar from "../components/TipTapEditor";
import ContactInformation from "../components/resumeBuilder/ContactInformation";
import ResumeHeader from "../components/resumeBuilder/ResumeHeader";
import ResumeContent from "../components/resumeBuilder/ResumeContent";
import ObjectiveSummary from "../components/resumeBuilder/ObjectiveSummary";
import CurrentExpertise from "../components/resumeBuilder/CurrentExpertise";
import Education from "../components/resumeBuilder/Education";
import Achievements from "../components/resumeBuilder/Achievements";
import WorkExperience from "../components/resumeBuilder/WorkExperience";
import UploadVideo from "../components/resumeBuilder/UploadVideo";
import Skills from "../components/resumeBuilder/Skills";
import Strengths from "../components/resumeBuilder/Strengths";
import Languages from "../components/resumeBuilder/Languages";
import Interests from "../components/resumeBuilder/Interests";
import References from "../components/resumeBuilder/References";
import ProResume from "../components/resumeBuilder/ProResume";
import { mapGetters } from "vuex";
//work related
import config from "../config/config";
export default {
  name: "ResumeBuilder",
  components: {
    References,
    Interests,
    Languages,
    Strengths,
    Skills,
    UploadVideo,
    WorkExperience,
    Achievements,
    Education,
    CurrentExpertise,
    ObjectiveSummary,
    ResumeContent,
    ResumeHeader,
    ContactInformation,
    AchievementIcon,
    CurrentExpertiseIcon,
    EducationIcon,
    InterestsIcon,
    LanguagesIcon,
    ObjectiveSummaryIcon,
    ReferencesIcon,
    ResumeProIcon,
    ResumeIcon,
    SkillsIcon,
    StrengthsIcon,
    UploadVideoIcon,
    WorkIcon,
    EditorContent,
    EditorMenuBar,
    ProResume
  },
  data() {
    return {
      tabIndex: 0,
      userId: this.$store.getters.userData.id || "",
      baseUrl: "",
    };
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCandidate", "candidateData", "userData"]),
  },
  created() {
    this.baseUrl = config.baseURL + "downloadPDF/" + this.userId;
  },
  methods: {
    downloadResume() {
      window.open(config.baseURL + "downloadPDF/" + this.userId, "_blank");

      // this.baseUrl = config.baseURL+'downloadPDF/'+this.userId;
    },
    firstTabBlack(idx) {
      if (this.tabIndex === idx) {
        return ["bg-black"];
      } else {
        return [""];
      }
    },
    showPricingModel() {
      this.$bvModal.show("bv-modal-example");
    },
    buySubscription() {
        console.log("hmmm")
    //   this.$router.push({
    //     name: "buy-subscription",
    //     params: { id: 1, cycleid: 1 },
    //   });
    },
    upgradeUrl() {
      return "/upgrade/1/1";
      if (this.checked) return "/upgrade/" + this.tierNodeId.id + "/2";
      else return "/upgrade/" + this.tierNodeId.id + "/1";
    },
  },
  mounted() {},
  beforeDestroy() {},
};
</script>

<style scoped>
</style>
