<template>
  <div class="container h-100">
    <div class="row row-gutter-7 h-100">
      <div class="col-xl-9 col-md-8 h-100">
        <div class="content-left content-wrapper bg-white has-box-shadow h-100 pricing-wrapper">
          <div class="header-has-search has-box-shadow--secondary px-4 py-3">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-5">
                <h3 class="text-strong">Payment Info</h3>
              </div>
            </div>
          </div>
          <div class="has-scroll">
            <div class="stripe-wrapper mt-5">
              <div id="loading" v-if="isLoading" class="loading-static active" style>
                <LoadingBar :loading="isLoading"></LoadingBar>
              </div>

              <!--            <div class="p-15 pt-5">-->
              <!--              <div class="row">-->
              <!--                <div class="col-md-6 form-group">-->
              <!--                  <b-form-input type="text" id="firstName" placeholder="First Name"></b-form-input>-->
              <!--                </div>-->
              <!--                <div class="col-md-6 form-group">-->
              <!--                  <b-form-input type="text" id="lastName" placeholder="Last Name"></b-form-input>-->
              <!--                </div>-->
              <!--                <div class="col-md-6 form-group">-->
              <!--                  <b-form-input type="text" id="companyName" placeholder="Comapny Name"></b-form-input>-->
              <!--                </div>-->
              <!--                <div class="col-md-6 form-group">Country v-select here</div>-->
              <!--                <div class="col-md-6 form-group">State v-select here</div>-->
              <!--                <div class="col-md-6 form-group">City v-select here</div>-->
              <!--                <div class="col-md-6 form-group">-->
              <!--                  <b-form-input type="text" id="address" placeholder="Address"></b-form-input>-->
              <!--                </div>-->
              <!--                <div class="col-md-6 form-group">-->
              <!--                  <b-form-input type="text" id="zipCode" placeholder="Zip Code"></b-form-input>-->
              <!--                </div>-->
              <!--              </div>-->
              <!--              <div class="btn-wrap text-right">-->
              <!--                <a href="#" class="btn btn-primary">Next</a>-->
              <!--              </div>-->
              <!--            </div>-->

              <div v-if="!successfulPayment">
                <div v-if="cardList.length > 0">
                  <div class="card-container white-box px-md-0 px-3 pt-3 pb-0">
                    <div class="row align-items-center">
                      <div class="col-md-7 text-center">
                        <img src="/assets/images/default-card.png" alt="Email" />
                      </div>
                      <div class="col-md-5 pt-2 pb-md-0 pb-3 text-center text-md-left">
                        <div>
                          <span class="font-weight-bold">{{cardList[0].brand}}</span> *****
                          <span class="font-weight-bold">{{cardList[0].last4}}</span>
                        </div>
                        <div class="mt-2">
                          Expires
                          <span
                            class="font-weight-bold"
                          >{{cardList[0].exp_year}}/{{cardList[0].exp_month}}</span>
                        </div>
                        <div
                          class="mt-2 color-primary font-weight-bold cursor-pointer"
                          v-on:click="updateCard"
                        >Update/Change</div>
                      </div>
                    </div>
                    <div class="card-footer bg-transparent">
                      <div class="row">
                        <div class="col-md-5 ml-md-auto text-md-left text-center">
                          <button v-on:click="purchase" class="btn btn-primary">Purchase</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else>
                  <!-- do not remove this or change its ref it... this is where the card loads -->
                  <div class="d-flex mb-4 stripe-element-container">
                    <span class="icon-wrap">
                      <i class="fas fa-user"></i>
                    </span>
                    <input
                      type="text"
                      class="StripeElement"
                      placeholder="Name On Card"
                      v-model="cardName"
                    />
                  </div>
                </div>
                <div
                  class="card-content StripeElement StripeElement--empty"
                  v-bind:class="{ 'd-none': cardList.length > 0}"
                  ref="card"
                ></div>

                <div class="text-right" v-bind:class="{ 'd-none': cardList.length > 0}">
                  <button v-on:click="purchase" class="btn btn-primary mt-4">Purchase</button>
                </div>

                <p
                  v-if="hasCardErrors"
                  class="text-center text-danger"
                >Your card is not valid, Please try again.</p>
              </div>
              <div v-if="successfulPayment" class="text-center">
                <h3 class="mt-3">Thank you for purchasing our paid subscription.</h3>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 h-100">
        <div class="content-right bg-grey-50 has-box-shadow h-100 sidebar">
          <div class="sidebar__title">
            <h3>Order Summary</h3>
          </div>
          <div class="sidebar__content has-scroll p-3">
            <div class="has-scroll__child">
              <h3 class="text-blue">Growth</h3>

              <div class="growth-wrap">
                <ul>
                  <li>
                    <span>Price</span>
                    <span
                      class="ml-auto"
                    >${{this.subscriptionTierNodeDetails.actualAmount}} / {{this.subscriptionTierNodeDetails.payableCycle}}</span>
                  </li>
                  <li>
                    <span>Discount</span>
                    <span class="ml-auto">${{this.subscriptionTierNodeDetails.payableDiscount}}</span>
                  </li>
                  <li class="spacer"></li>
                  <li>
                    <span>Total</span>
                    <span
                      class="ml-auto"
                    >${{this.subscriptionTierNodeDetails.payableAmount}} / {{this.subscriptionTierNodeDetails.payableCycle}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <b-modal id="pay-result-modal" centered title="Upgrade" footer-class="justify-content-center">
        <div class="d-flex justify-content-center">
          <img class="modal-result-icon" src="/assets/images/alert-success.png" alt />
        </div>
        <p class="text-center color-grey mt-4">Your payment has been successfully processed.</p>
        <p
          class="text-left mt-3"
        >Your selected subscription starts now and will renew automatically. You can cancel at any time on your Payment Details Page.</p>
        <p class="text-center mt-2">
          <a href>Download Invoice</a>
        </p>
        <p class="mt-3">
          Should you have any questions about OneCrate, please feel free to
          <a
            href="/contactus"
          >contact</a> our support team.
        </p>
        <template class="d-flex justify-content-around" v-slot:modal-footer="{ ok, cancel}">
          <b-button variant="primary" @click="purchaseResultFunc()">ISOP</b-button>
          <b-button variant="danger" @click="closeModal()">Close</b-button>
        </template>
      </b-modal>
    </div>
    <notifications group="foo" position="bottom right" />
  </div>
</template>
<script>
import config from "../config/config";
import vSelect from "vue-select";
import LoadingBar from "../components/common/LoadingBar";

let stripe = Stripe(config.stripePublicKey),
  elements = stripe.elements(),
  card = undefined;
export default {
  name: "Resubscribe",
  components: {
    "v-select": vSelect,
    LoadingBar,
  },
  data() {
    return {
      checked: false,
      subscriptionTierNodeId: null,
      subscriptionTierNodeDetails: {
        actualAmount: 0,
        payableAmount: 0,
        payableCycle: 0,
        payableDiscount: 0,
      },
      paymentCycleId: null,
      hasCardErrors: false,
      clientSecret: null,
      payment_method: null,
      isLoading: false,
      successfulPayment: false,
      upgradePossible: true,
      cardName: "",
      cardList: [],
      bus: new Vue(),
    };
  },
  methods: {
    purchase() {
      let self = this;
      if (this.cardList.length > 0) {
        let formData = { details: this.subscriptionTierNodeDetails };
        this.updatePayment(formData);
      } else {
        if (!this.cardName) {
          self.$notify({
            group: "foo",
            type: "error",
            text: "Enter name on card.",
          });
          return;
        }
        this.isLoading = true;

        stripe
          .confirmCardPayment(this.clientSecret, {
            payment_method: {
              card: card,
              billing_details: {
                name: this.cardName,
              },
            },
            setup_future_usage: "off_session",
          })
          .then(function (result) {
            console.log("payment intent", result);
            if (result.error) {
              self.isLoading = false;
              if (result.error.decline_code == "insufficient_funds") {
                self.$notify({
                  group: "foo",
                  type: "error",
                  text:
                    "Your Card has insufficient funds, please try another card.",
                });
              } else if (
                result.error.code == "payment_intent_authentication_failure"
              ) {
                self.$notify({
                  group: "foo",
                  type: "error",
                  text: "Card authentication failed, Please try again.",
                });
              } else {
                self.$notify({
                  group: "foo",
                  type: "error",
                  text: result.error.message,
                });
              }
              // Show error to your customer (e.g., insufficient funds)
              console.log(result.error.message);
            } else {
              // The payment has been processed!
              if (result.paymentIntent.status === "succeeded") {
                console.log("payment done", result.paymentIntent);
                stripe.createToken(card).then((res) => {
                  let cardInfo = res.token.card;

                  let formData = new FormData();
                  formData.append(
                    "details",
                    JSON.stringify(self.subscriptionTierNodeDetails)
                  );
                  formData.append("paymentIntentID", result.paymentIntent.id);
                  formData.append(
                    "paymentMethodID",
                    result.paymentIntent.payment_method
                  );
                  formData.append("cardInfo", JSON.stringify(cardInfo));
                  axios({
                    url: config.apiURL + "updateUserPaymentId",
                    data: formData,
                    method: "POST",
                  })
                    .then((resp) => {
                      self.successfulPayment = true;
                      self.isLoading = false;
                      self.$store.dispatch("updateUser", resp.data);
                      self.$bvModal.show("pay-result-modal");
                    })
                    .catch((err) => {
                      self.successfulPayment = true;
                      self.isLoading = false;
                      self.$notify({
                        group: "foo",
                        type: "error",
                        text:
                          "Payment Proceeded but there were some other errors.",
                      });
                    });
                });
              }
            }
          });
      }
    },
    updatePayment(formData) {
      axios({
        url: config.apiURL + "updateUserPaymentData",
        data: formData,
        method: "POST",
      })
        .then((resp) => {
          this.successfulPayment = true;
          this.isLoading = false;
          this.$store.dispatch("updateUser", resp.data);
          this.$bvModal.show("pay-result-modal");
        })
        .catch((err) => {
          this.successfulPayment = true;
          this.isLoading = false;
          this.$notify({
            group: "foo",
            type: "error",
            text: "Payment Proceeded but there were some other errors.",
          });
        });
    },
    updateCard() {
      this.cardList = [];
    },
    getResubscriptionDetails() {
      this.isLoading = true;
      axios({ url: config.apiURL + "getResubscriptionDetails", method: "GET" })
        .then((resp) => {
          this.isLoading = false;
          this.subscriptionTierNodeDetails = resp.data;
          this.clientSecret = resp.data.client_secret;
          this.cardList = resp.data.cardList;
          console.log(resp.data);
        })
        .catch((err) => {
          this.isLoading = false;
          this.upgradePossible = false;
          console.log(err);
        });
    },
    purchaseResultFunc() {
      this.$router.push({ name: "isop" });
    },
    closeModal() {
      this.$bvModal.hide("pay-result-modal");
    },
  },
  mounted: function () {
    const style = {
      base: {
        color: "#303238",
        "font-family": "Poppins",
        "font-size": "0.875rem",
        "::placeholder": {
          color: "#ced4da",
        },
      },
    };
    card = elements.create("card", { style });
    card.mount(this.$refs.card);
    console.log("card ye hai ", card);
  },
  created: function () {
    this.subscriptionTierNodeId = this.$route.params.id;
    this.paymentCycleId = this.$route.params.cycleid;
    this.getResubscriptionDetails();
  },
};
</script>
