<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="container h-100">
    <div class="row row-gutter-7 h-100">
      <div class="col-xl-9 col-md-8 h-100">
        <div class="content-left content-wrapper has-box-shadow h-100">
          <div class="header-has-search has-box-shadow--secondary px-4 py-2">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-5">
                <h3 class="text-strong lg-mobile">Payment Details</h3>
              </div>
              <div class="col-xl-5 col-lg-6 col-md-7 ml-auto mt-3 mt-md-0">
                <div class="input-wrapper input-wrapper--has-search">
                  <input type="text" class="form-control form-control--round" placeholder="Search" />
                </div>
              </div>
            </div>
          </div>
          <div class="has-scroll">
            <div class="p-15">
              <div class="table-responsive table-responsive-lg table-mobile">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Invoice #</th>
                      <th scope="col">Amount</th>
                      <th scope="col" class="text-center">Status</th>
                      <th scope="col" colspan="1">Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <div
                      class="no-invoices d-flex d-lg-none align-items-center justify-content-center w-100"
                      v-if="!subscriptionList.length"
                    >
                      <h3 class="text-blue text-center p-3">You have no subscription history.</h3>
                    </div>
                    <tr v-for="(item,index) in subscriptionList">
                      <td>{{item.created_at | getDateOnly}}</td>
                      <td>{{item.invoice_number}}</td>
                      <td>${{numberWithCommas(item.amount)}}</td>
                      <td class="text-center">
                        <img src="assets/images/green-tick.svg" alt />
                      </td>
                      <td>
                        <b-button @click="showPaymentDetailModal(index)" variant="-reset p-0">
                          <img src="assets/images/view_summary.png" alt />
                        </b-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="mt-3 sidebar" v-if="$mq === 'mobile'">
              <div class="sidebar__title">
                <h3>Current Plan</h3>
              </div>
              <div class="p-3">
                <h3 class="text-blue text-capitalize">{{currentPlan}}</h3>
                <p>Up to {{maxPositions}} Positions</p>
                <p class="mb-3">Currently {{totalCurrentPositions}}/{{maxPositions}}</p>
                <p>
                  $
                  <span class="text-xl">{{totalCurrentprice}}</span> /mo.
                </p>
                <ul class="tick-styled tick-styled--blue">
                  <li>{{maxPositions}} Positions</li>
                  <li>
                    Interactive Social Org Platform (ISOP)
                    <ul class="list-default">
                      <li>Multi-platform job posting</li>
                      <li>Directory & profiles</li>
                      <li>Internal resumes</li>
                      <li>Out of office notice</li>
                      <li>Whole company invite</li>
                      <li>Job description creator</li>
                    </ul>
                  </li>
                  <li>Applicant tracking system</li>
                  <li>Job templates (9000+)</li>
                  <li>Job description database</li>
                  <li>Company profile</li>
                  <li v-if="currentPlan != 'free'">Full Application Control</li>
                </ul>
               <div v-if="endDate" class="mt-3">
                <div v-if="currentStatus == 'Cancel'">
                  <p class="font-weight-bold">Next Payment: ${{numberWithCommas(totalCurrentprice)}} on {{endDate}}.</p>
                </div>
                <div v-else-if="currentStatus == 'Resubscribe'">
                  <p class="font-weight-bold">Your current subscription ends on {{endDate}}.</p>
                </div>
              </div>
                <div class="btn-wrap mt-3 text-center">
                  <button
                    v-if="currentPlan != 'free'"
                    class="btn btn-danger pl-5 pr-5"
                    @click="cancelSubscriptionConfirmation"
                  >Cancel Subscription</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-4 h-100" v-if="$mq != 'mobile'">
        <div class="content-right has-box-shadow h-100 sidebar">
          <div class="sidebar__title">
            <h3>Current Plan</h3>
          </div>
          <div class="sidebar__content has-scroll p-3">
            <div class="has-scroll__child">
              <h3 class="text-blue text-capitalize">{{currentPlan}}</h3>
              <p>Up to {{maxPositions}} Positions</p>
              <p class="mb-3">Currently {{totalCurrentPositions}}/{{maxPositions}}</p>
              <p>
                $
                <span class="text-xl">{{totalCurrentprice}}</span> /mo.
              </p>
              <ul class="tick-styled tick-styled--blue">
                <li>{{maxPositions}} Positions</li>
                <li>
                  Interactive Social Org Platform (ISOP)
                  <ul class="list-default">
                    <li>Multi-platform job posting</li>
                    <li>Directory & profiles</li>
                    <li>Internal resumes</li>
                    <li>Out of office notice</li>
                    <li>Whole company invite</li>
                    <li>Job description creator</li>
                  </ul>
                </li>
                <li>Applicant tracking system</li>
                <li>Job templates (9000+)</li>
                <li>Job description database</li>
                <li>Company profile</li>
                <li v-if="currentPlan != 'free'">Full Application Control</li>
              </ul>
            </div>
            <div v-if="endDate" class="mt-3">
              <div v-if="currentStatus == 'Cancel'">
                <p class="font-weight-bold">Next Payment: ${{numberWithCommas(totalCurrentprice)}} on {{endDate}}.</p>
              </div>
              <div v-else-if="currentStatus == 'Resubscribe'">
                <p class="font-weight-bold">Your current subscription ends on {{endDate}}.</p>
              </div>
            </div>
            <div class="btn-wrap mt-3 text-center">
              <button
                v-if="currentPlan != 'free' && currentStatus == 'Cancel'"
                class="btn btn-danger pl-5 pr-5"
                @click="cancelSubscriptionConfirmation"
              >Cancel Subscription
              </button>
              <button
                v-if="currentPlan != 'free' && currentStatus == 'Resubscribe'"
                class="btn btn-primary pl-5 pr-5"
                @click="ResubscriptionConfirmation"
              >Resubscribe
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
    <SubscriptionDetailModal :data="paymentDetail" />
    <b-modal
      id="cancel-subscription-modal"
      centered
      title="Cancel Subscription"
      footer-class="justify-content-center"
    >
      <p class="text-center mt-4">Are you sure you want to cancel your subscription?</p>
      <template v-slot:modal-footer="{ ok }">
        <b-button variant="primary min-w-125" @click="confirmCancelSubscription()">Yes</b-button>
        <b-button variant="danger min-w-125" @click="ok()">No</b-button>
      </template>
    </b-modal>
    <notifications group="foo" position="bottom right" />
  </div>
</template>
<script>
import config from "../config/config";
import SubscriptionDetailModal from "../components/subscription/SubscriptionDetailModal";
export default {
  name: "subscriptions",
  components: { SubscriptionDetailModal },
  data() {
    return {
      subscriptionList: [],
      subscriptionDetails: { price: 0 },
      paymentDetail: { amount: 0 },
      currentPlan: "free",
      currentNodes: 0,
      maxPositions: 10,
      totalCurrentPositions: 0,
      totalCurrentprice: 0,
      currentStatus: '',
      endDate: '',
    };
  },
  methods: {
    getSubscriptionsList() {
      axios({ url: config.apiURL + "getPaymentHistory/", method: "GET" })
        .then((resp) => {
          this.subscriptionList = resp.data.paymentHistory;
          this.subscriptionDetails = resp.data.currentTier;
          console.log(resp.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    getCurrentPlanDetails() {
      axios({ url: config.apiURL + "getUserCurrentPlan/", method: "GET" })
        .then((resp) => {
          this.currentPlan = resp.data.current_plan;
          this.currentNodes = resp.data.current_nodes;
          this.maxPositions = resp.data.user_current_max_positions;
          this.totalCurrentPositions = resp.data.user_total_current_nodes - 1;
          this.totalCurrentprice = resp.data.user_total_current_price;
          this.currentStatus = resp.data.current_status;
          this.endDate = resp.data.end_date;
          console.log(resp.data);
        })
        .catch((err) => {
          this.upgradePossible = false;
          console.log(err);
        });
    },
    showPaymentDetailModal(index) {
      this.paymentDetail = this.subscriptionList[index];
      this.$bvModal.show("view-payment-details");
      console.log(this.paymentDetail);
    },
    cancelSubscriptionConfirmation() {
      this.$bvModal.show("cancel-subscription-modal");
    },
    ResubscriptionConfirmation() {
      this.$router.push('/resubscribe');
    },
    confirmCancelSubscription() {
      axios({
        url: config.apiURL + "cancelSubscriptionRequest",
        data: {},
        method: "POST",
      })
        .then((resp) => {
          this.$bvModal.hide("cancel-subscription-modal");
          this.currentStatus = 'Resubscribe';
          this.$notify({
            group: "foo",
            type: "success",
            // title: key,
            text: resp.data.msg,
          });
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  created: function () {
    this.getSubscriptionsList();
    this.getCurrentPlanDetails();
  },
  mounted: function () {},
};
</script>
