<template>
  <div class="container h-100">
    <div class="row">
      <!-- Online Job Posting Modal -->
      <div class="col-md-4">
        <b-button v-b-modal.online-job-posting-modal variant="-reset">Online Job posting</b-button>
        <b-modal
          id="online-job-posting-modal"
          centered
          title="Online Job Posting"
          footer-class="justify-content-center"
        >
          <p
            class="text-center mt-4"
          >This action will post this job online for free. You will be billed $150 only on the first application to this position.</p>
          <template v-slot:modal-footer="{ ok, cancel}">
            <b-button variant="primary min-w-125" @click="cancel()">Post</b-button>
            <b-button variant="danger min-w-125" @click="ok()">Cancel</b-button>
          </template>
        </b-modal>
      </div>

      <!-- View job details -->
      <div class="col-md-4">
        <b-button v-b-modal.job-view-modal variant="-reset">View job Details</b-button>
        <b-modal
          id="job-view-modal"
          hide-footer
          size="xl"
          centered
          title-class="text-blue"
          title-tag="h3"
          title="Company Name"
          body-class="flex-fill h-100 p-0"
        >
          <div class="job-info-wrapper">
            <div class="job-info-header">
              <header class="user-meta">
                <div class="d-flex align-items-center">
                  <div class="user-meta__thumbnail">
                    <img
                      class="img-fluid"
                      src="assets/images/company-placeholder.png"
                      alt="Company logo"
                      />
                  </div>
                  <div class="user-meta__content d-flex align-items-center flex-fill">
                    <div class="flex-fill">
                      <h4 class="text-overflow">Job Title</h4>
                      <p class="mt-1 text-overflow">
                        Company
                        Name
                      </p>
                      <p class="text-overflow">Company Address</p>
                    </div>
                  </div>
                </div>
              </header>
            </div>
            <div class="job-info-content has-scroll">
              <div class="row">
                <div class="col-8">
                  <div class="job-info-block">
                    <h4 class="mb-2">Job Description</h4>
                    <p>
                      Lorem, ipsum dolor sit amet consectetur
                      adipisicing elit. Consequatur facilis
                      accusantium fuga maxime
                      voluptates nobis error explicabo
                      asperiores
                      modi ipsa! Facere assumenda totam sed
                      aliquam maxime in
                      non autem libero.
                    </p>
                  </div>
                  <div class="job-info-block">
                    <h4 class="mb-2">Responsibilities</h4>
                    <ul class="list-default">
                      <li>Lorem ipsum dolor, sit amet co</li>
                      <li>Lorem ipsum dolor, sit amet co</li>
                      <li>Lorem ipsum dolor, sit amet co</li>
                      <li>Lorem ipsum dolor, sit amet co</li>
                    </ul>
                  </div>
                  <div class="job-info-block">
                    <h4 class="mb-2">Skill & Experience Details</h4>
                    <ul class="list-default">
                      <li>Lorem ipsum dolor, sit amet co</li>
                      <li>Lorem ipsum dolor, sit amet co</li>
                      <li>Lorem ipsum dolor, sit amet co</li>
                      <li>Lorem ipsum dolor, sit amet co</li>
                    </ul>
                    <ol class="list-default">
                      <li>Lorem ipsum dolor, sit amet co</li>
                      <li>Lorem ipsum dolor, sit amet co</li>
                      <li>Lorem ipsum dolor, sit amet co</li>
                      <li>Lorem ipsum dolor, sit amet co</li>
                    </ol>
                  </div>
                  <div class="job-info-block">
                    <h4 class="mb-2">Benefits</h4>
                    <ul class="list-of-3 tick-styled">
                      <li>Medical Insurance</li>
                      <li>Dental coverage</li>
                      <li>401k</li>
                      <li>Incentive bonus</li>
                      <li>Transportation</li>
                      <li>Accommodation</li>
                      <li>Remote Working</li>
                      <li>Leaves</li>
                      <li>Fitness Center</li>
                    </ul>
                  </div>
                  <div class="job-info-block">
                    <form action class="d-flex space-between">
                      <div class="pos-rel w-100">
                        <input
                          type="text"
                          readonly="true"
                          name="joburl"
                          id="input-url"
                          value
                          class="form-control form-control--round"
                          placeholder="job-url"
                        />
                      </div>
                      <button type="button" class="btn btn--round btn--round--blue ml-3">
                        <i class="fa fa-clone"></i>
                      </button>
                    </form>
                  </div>
                </div>
                <div class="col-4 b-left--solid">
                  <div class="pop-job-detail">
                    <div class="job-info-block job-info-block--secondary">
                      <h4 class="mb-2">Job Details</h4>
                      <ul>
                        <li>
                          <img src="assets/images/money.png" alt />
                          <p>
                            Salary
                            <span>
                              Lorem, ipsum dolor
                              sit
                            </span>
                          </p>
                        </li>
                        <li>
                          <img src="assets/images/timing.png" alt />
                          <p>
                            Job Type
                            <span>
                              Lorem, ipsum dolor
                              sit
                            </span>
                          </p>
                        </li>
                        <li>
                          <img src="assets/images/qualification.png" alt />
                          <p>
                            Qualification
                            <span>
                              Lorem,
                              ipsum dolor sit
                            </span>
                          </p>
                        </li>
                        <li>
                          <img src="assets/images/star.png" alt />
                          <p>
                            Experience
                            <span>
                              Lorem, ipsum dolor
                              sit
                            </span>
                          </p>
                        </li>
                        <li>
                          <img src="assets/images/category.png" alt />
                          <p>
                            Category
                            <span>
                              Lorem,
                              ipsum dolor sit
                            </span>
                          </p>
                        </li>
                        <li>
                          <img src="assets/images/department.png" alt />
                          <p>
                            Department
                            <span>
                              Lorem,
                              ipsum dolor sit
                            </span>
                          </p>
                        </li>
                      </ul>
                    </div>
                    <div class="job-info-block job-info-block--secondary skill">
                      <h4 class="mb-2">Skills</h4>
                      <ul class="list-badge">
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                      </ul>
                    </div>
                    <div class="job-info-block job-info-block--secondary location-detail">
                      <ul>
                        <li>
                          <img src="assets/images/marker.png" alt />
                          <p>
                            HQ Location
                            <span>
                              Lorem,
                              ipsum dolor sit
                            </span>
                          </p>
                        </li>
                      </ul>
                      <div class="map-wrapper">Map Here</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </b-modal>
      </div>

      <!-- Create job details -->
      <div class="col-md-4">
        <b-button v-b-modal.create-new-job-modal variant="-reset">Create New Job</b-button>
        <b-modal id="create-new-job-modal" hide-footer size="xl" centered title-class="text-blue" title-tag="h3"
                title="Create New Job" body-class="flex-fill h-100 p-0">
          <create-job></create-job>

        </b-modal>


      </div>

      <!-- Edit Job details -->
      <div class="col-md-4">
        <b-button @click="editJob(7)"  variant="-reset">Edit This Job</b-button>
        <edit-job :bus="bus" />

      </div>

      <!-- Assign Candidate Modal -->
      <div class="col-md-4">
        <b-button v-b-modal.assign-candidate-modal variant="-reset">Assign Candidate</b-button>
        <b-modal
          id="assign-candidate-modal"
          centered
          title="Assign Candidate"
          footer-class="justify-content-end"
        >
          <div class="input-wrapper mt-4">v-select</div>
          <template v-slot:modal-footer="{ ok }">
            <b-button variant="primary min-w-125" @click="ok()">Assign</b-button>
          </template>
        </b-modal>
      </div>

      <!-- Canidate Resume Modal -->
      <div class="col-md-4">
        <b-button variant="-reset" title="View resume" @click="showCandidateResume(1)">Canidate Resume Modal</b-button>
        <candidate-resume-modal-component :bus="bus"/>
      </div>

      <!-- Assign Candidate Modal -->
      <div class="col-md-4">
        <b-button v-b-modal.delete-role-modal variant="-reset">Delete Role</b-button>
        <b-modal
          id="delete-role-modal"
          centered
          title="Delete Role"
          footer-class="justify-content-end"
        >
          <p class="text-center mt-4">Are you sure you want to delete this job position?</p>
          <div class="input-wrapper mt-3">v-select</div>
          <template v-slot:modal-footer="{ ok }">
            <b-button variant="primary min-w-125" @click="ok()">Submit</b-button>
          </template>
        </b-modal>
      </div>

      <!-- Delete Candidate Modal -->
      <div class="col-md-4">
        <b-button v-b-modal.delete-candidate-modal variant="-reset">Delete Candidate</b-button>
        <b-modal
          id="delete-candidate-modal"
          centered
          title="Delete Candidate"
          footer-class="justify-content-center"
        >
          <p class="text-sm text-center mt-4">
            This candidate will remain a member of the organization and can be re-assigned to a new position. To completely remove a candidate from the organization use the
            <a
              class="text-decoration-underline"
              href="#"
            >members</a> page.
          </p>
          <template v-slot:modal-footer="{ ok }">
            <b-button variant="primary min-w-125" @click="ok()">Yes</b-button>
            <b-button variant="danger min-w-125" @click="cancel()">No</b-button>
          </template>
        </b-modal>
      </div>

      <!-- Candidate ISOP mini profile Modal -->
      <div class="col-md-4">
        <b-button v-b-modal.candidate-directory-modal variant="-reset">Contact Info</b-button>
        <b-modal
          id="candidate-directory-modal"
          hide-footer
          size="sm"
          centered
          title="Contact Info"
        >
          <div class="candidate-mini-profile">
            <div class="candidate-mini-profile-thumbnail">
              <img src="assets/images/user-placeholder.png" alt="Profile Picture" />
            </div>
            <div class="candidate-mini-profile-info">
              <h3>Hamza Mashhadi</h3>
              <div class="list-wrapper">
                <ul>
                  <li>
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20.375"
                        height="16.607"
                        viewBox="0 0 20.375 16.607"
                      >
                        <g id="expertise" transform="translate(0.15 -63.085)">
                          <g id="Group_323" data-name="Group 323" transform="translate(0 63.235)">
                            <g id="Group_322" data-name="Group 322" transform="translate(0 0)">
                              <path
                                id="Path_1457"
                                data-name="Path 1457"
                                d="M18.675,65.909h-5v-.941a1.675,1.675,0,0,0-1.606-1.733H8A1.675,1.675,0,0,0,6.4,64.968v.941h-5A1.46,1.46,0,0,0,0,67.419V78.031a1.46,1.46,0,0,0,1.4,1.51H18.675a1.46,1.46,0,0,0,1.4-1.51V67.419A1.46,1.46,0,0,0,18.675,65.909ZM7.2,64.968A.841.841,0,0,1,8,64.1H12.07a.841.841,0,0,1,.806.87v.941H7.2ZM19.275,78.032a.626.626,0,0,1-.6.647H1.4a.626.626,0,0,1-.6-.647V69.707L6.94,72.92a1.644,1.644,0,0,0,1.578,1.445h3.039a1.644,1.644,0,0,0,1.578-1.445l3.835-2.007a.447.447,0,0,0,.185-.576.387.387,0,0,0-.534-.2l-3.576,1.871a1.609,1.609,0,0,0-1.488-1.094H8.518A1.609,1.609,0,0,0,7.03,72.008L.8,68.748V67.419a.626.626,0,0,1,.6-.647H18.675a.626.626,0,0,1,.6.647V78.032ZM7.718,72.639a.834.834,0,0,1,.8-.863h3.039a.865.865,0,0,1,0,1.726H8.518A.834.834,0,0,1,7.718,72.639Z"
                                transform="translate(0 -63.235)"
                                stroke="#222"
                                stroke-width="0.3"
                              />
                            </g>
                          </g>
                          <g
                            id="Group_325"
                            data-name="Group 325"
                            transform="translate(17.716 69.303)"
                          >
                            <g id="Group_324" data-name="Group 324" transform="translate(0 0)">
                              <path
                                id="Path_1458"
                                data-name="Path 1458"
                                d="M452.827,206.248a.4.4,0,0,0-.534-.185l-.245.119a.4.4,0,1,0,.349.72l.245-.119A.4.4,0,0,0,452.827,206.248Z"
                                transform="translate(-451.822 -206.022)"
                                stroke="#222"
                                stroke-width="0.3"
                              />
                            </g>
                          </g>
                        </g>
                      </svg>
                    </span>Academic Administrator
                  </li>
                  <li>
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="19.469"
                        height="22.188"
                        viewBox="0 0 19.469 22.188"
                      >
                        <g id="city" transform="translate(-4)">
                          <g id="Group_326" data-name="Group 326" transform="translate(4)">
                            <path
                              id="Path_1469"
                              data-name="Path 1469"
                              d="M8.493,6.934H7V8.32h1.5Zm5.99-1.387h-1.5V6.934h1.5Zm3,0h-1.5V6.934h1.5Zm3,0h-1.5V6.934h1.5Zm-5.99-2.773h-1.5V4.16h1.5Zm3,0h-1.5V4.16h1.5Zm3,0h-1.5V4.16h1.5Zm-5.99,8.32h-1.5V12.48h1.5Zm3,0h-1.5V12.48h1.5Zm3,0h-1.5V12.48h1.5Zm-5.99,2.773h-1.5v1.387h1.5Zm5.99,0h-1.5v1.387h1.5Zm-5.99,2.773h-1.5v1.387h1.5Zm5.99,0h-1.5v1.387h1.5Zm-5.99-8.32h-1.5V9.707h1.5Zm3,0h-1.5V9.707h1.5Zm3,0h-1.5V9.707h1.5ZM8.493,9.707H7v1.387h1.5Zm0,2.773H7v1.387h1.5Zm0,2.773H7v1.387h1.5Zm0,2.773H7v1.387h1.5Zm8.986-4.16h-1.5v1.387h1.5Zm5.99-12.48A1.444,1.444,0,0,0,21.971,0H11.488a1.444,1.444,0,0,0-1.5,1.387V4.16H5.5A1.444,1.444,0,0,0,4,5.547V20.8a1.444,1.444,0,0,0,1.5,1.387H22.329c.828,0,1.139-.62,1.139-1.387V1.387ZM9.99,20.8H5.5V5.547H9.99Zm11.981,0H17.478v-4.16h-1.5V20.8H11.488V1.387H21.971Z"
                              transform="translate(-4)"
                              fill-rule="evenodd"
                            />
                          </g>
                        </g>
                      </svg>
                    </span>Engineering
                  </li>
                  <li>
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20.862"
                        height="15.876"
                        viewBox="0 0 20.862 15.876"
                      >
                        <g id="email" transform="translate(0 -57.75)">
                          <g id="Group_319" data-name="Group 319" transform="translate(0 57.75)">
                            <path
                              id="Path_1450"
                              data-name="Path 1450"
                              d="M18.315,57.75H2.551A2.553,2.553,0,0,0,0,60.3V71.075a2.553,2.553,0,0,0,2.551,2.551h15.76a2.553,2.553,0,0,0,2.551-2.551V60.305A2.551,2.551,0,0,0,18.315,57.75ZM19.7,71.075a1.387,1.387,0,0,1-1.386,1.386H2.551a1.387,1.387,0,0,1-1.386-1.386V60.305A1.387,1.387,0,0,1,2.551,58.92h15.76A1.387,1.387,0,0,1,19.7,60.305v10.77Z"
                              transform="translate(0 -57.75)"
                            />
                            <path
                              id="Path_1451"
                              data-name="Path 1451"
                              d="M66.5,114.5l5.1-4.576a.584.584,0,0,0-.781-.868l-7.036,6.315-1.373-1.226s-.009-.009-.009-.013a.864.864,0,0,0-.095-.082l-5.586-5a.584.584,0,0,0-.777.872l5.163,4.614-5.141,4.813a.585.585,0,0,0-.026.824.6.6,0,0,0,.427.186.584.584,0,0,0,.4-.155l5.219-4.882,1.416,1.265a.581.581,0,0,0,.777,0l1.455-1.3,5.189,4.93a.584.584,0,0,0,.824-.022.585.585,0,0,0-.022-.824Z"
                              transform="translate(-53.346 -106.694)"
                            />
                          </g>
                        </g>
                      </svg>
                    </span>hamza@avengers.com
                  </li>
                  <li>
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="17.871"
                        height="17.897"
                        viewBox="0 0 17.871 17.897"
                      >
                        <g id="phone" transform="translate(-0.344 0)">
                          <g id="Group_320" data-name="Group 320" transform="translate(0.344 0)">
                            <path
                              id="Path_1452"
                              data-name="Path 1452"
                              d="M14.476,37.457a1.76,1.76,0,0,0-1.277-.585,1.82,1.82,0,0,0-1.292.582l-1.194,1.19c-.1-.053-.2-.1-.291-.151-.136-.068-.264-.132-.374-.2A12.973,12.973,0,0,1,6.94,35.459,7.654,7.654,0,0,1,5.92,33.85c.31-.283.6-.578.876-.861.106-.106.212-.215.317-.321a1.733,1.733,0,0,0,0-2.614L6.083,29.023c-.117-.117-.238-.238-.351-.359-.227-.234-.465-.476-.71-.7a1.788,1.788,0,0,0-1.265-.555,1.85,1.85,0,0,0-1.284.555l-.008.008-1.284,1.3a2.763,2.763,0,0,0-.82,1.756,6.622,6.622,0,0,0,.483,2.8,16.264,16.264,0,0,0,2.89,4.82,17.776,17.776,0,0,0,5.919,4.635,9.222,9.222,0,0,0,3.324.982c.079,0,.162.008.238.008a2.846,2.846,0,0,0,2.179-.937c0-.008.011-.011.015-.019a8.587,8.587,0,0,1,.661-.684c.162-.155.329-.317.491-.487a1.884,1.884,0,0,0,.57-1.307,1.815,1.815,0,0,0-.582-1.3Zm1.352,3.977s0,0,0,0c-.147.159-.3.3-.461.461a9.932,9.932,0,0,0-.729.755,1.821,1.821,0,0,1-1.42.6c-.057,0-.117,0-.174,0a8.193,8.193,0,0,1-2.946-.884A16.779,16.779,0,0,1,4.523,38,15.335,15.335,0,0,1,1.8,33.469,5.393,5.393,0,0,1,1.38,31.1,1.734,1.734,0,0,1,1.9,29.982l1.288-1.288a.859.859,0,0,1,.574-.268.808.808,0,0,1,.551.264l.011.011c.23.215.449.438.68.676.117.121.238.242.359.366L6.4,30.775a.721.721,0,0,1,0,1.171c-.11.11-.215.219-.325.325-.317.325-.619.627-.948.922-.008.008-.015.011-.019.019a.77.77,0,0,0-.2.857l.011.034a8.279,8.279,0,0,0,1.22,1.991l0,0A13.864,13.864,0,0,0,9.5,39.15a5.158,5.158,0,0,0,.465.253c.136.068.264.132.374.2.015.008.03.019.045.026a.819.819,0,0,0,.374.094.808.808,0,0,0,.574-.261l1.292-1.292a.855.855,0,0,1,.57-.283.769.769,0,0,1,.544.276l.008.008,2.081,2.081A.747.747,0,0,1,15.828,41.435Z"
                              transform="translate(-0.344 -26.371)"
                            />
                            <path
                              id="Path_1453"
                              data-name="Path 1453"
                              d="M245.363,86.937a4.861,4.861,0,0,1,3.959,3.959.507.507,0,0,0,.5.423.675.675,0,0,0,.087-.008.51.51,0,0,0,.419-.589,5.878,5.878,0,0,0-4.79-4.79.513.513,0,0,0-.589.415A.5.5,0,0,0,245.363,86.937Z"
                              transform="translate(-235.705 -82.68)"
                            />
                            <path
                              id="Path_1454"
                              data-name="Path 1454"
                              d="M257.255,7.895A9.679,9.679,0,0,0,249.368.008a.509.509,0,1,0-.166,1,8.645,8.645,0,0,1,7.048,7.048.507.507,0,0,0,.5.423.675.675,0,0,0,.087-.008A.5.5,0,0,0,257.255,7.895Z"
                              transform="translate(-239.391 0)"
                            />
                          </g>
                        </g>
                      </svg>
                    </span>0256968995898
                  </li>
                  <li>
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15.191"
                        height="18.939"
                        viewBox="0 0 15.191 18.939"
                      >
                        <g id="location" transform="translate(-47.2)">
                          <g id="Group_321" data-name="Group 321" transform="translate(47.2)">
                            <path
                              id="Path_1455"
                              data-name="Path 1455"
                              d="M54.792,0A7.6,7.6,0,0,0,47.2,7.592a7.472,7.472,0,0,0,.135,1.425c0,.028.02.111.052.254a7.477,7.477,0,0,0,.508,1.5,21.281,21.281,0,0,0,6.563,8.052.538.538,0,0,0,.675,0A21.322,21.322,0,0,0,61.7,10.768a7.393,7.393,0,0,0,.508-1.5c.032-.143.048-.226.052-.254a7.808,7.808,0,0,0,.135-1.425A7.614,7.614,0,0,0,54.792,0Zm6.4,8.83c0,.008,0,.016,0,.024s-.016.079-.036.171v.008a6.3,6.3,0,0,1-.441,1.294s0,.012-.008.016a19.861,19.861,0,0,1-5.912,7.369,19.861,19.861,0,0,1-5.912-7.369s0-.012-.008-.016a6.724,6.724,0,0,1-.441-1.294V9.025c-.024-.091-.032-.151-.036-.171s0-.016,0-.028a6.519,6.519,0,1,1,12.8,0Z"
                              transform="translate(-47.2)"
                            />
                            <path
                              id="Path_1456"
                              data-name="Path 1456"
                              d="M121.82,71.9a4.82,4.82,0,1,0,4.82,4.82A4.828,4.828,0,0,0,121.82,71.9Zm0,8.568a3.748,3.748,0,1,1,3.748-3.748A3.753,3.753,0,0,1,121.82,80.468Z"
                              transform="translate(-114.229 -69.045)"
                            />
                          </g>
                        </g>
                      </svg>
                    </span>Amstelveen, Netherlands
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </b-modal>
      </div>
      <!-- Loader -->
      <div class="col-md-4">
        <b-button v-b-modal.loader-view-modal variant="-reset">Loader</b-button>
        <b-modal id="loader-view-modal" hide-footer size="xl" centered title="Contact Info">
          <!-- Loading -->
          <div id="loading" class="loading-static active" style>
            <div id="loading-inner">
              <div class="loading-logo-icon"></div>
              <div class="loading-circle" id="loading-circle-1"></div>
              <div class="loading-circle" id="loading-circle-2"></div>
              <div class="loading-circle" id="loading-circle-3"></div>
              <div class="loading-circle" id="loading-circle-4"></div>
            </div>
          </div>
        </b-modal>
      </div>
    </div>

    <tiptap-editor-component></tiptap-editor-component>
  </div>
</template>
<script>
import CandidateResumeModalComponent from "../components/company/CandidateResumeModalComponent";
import OrgChart from "../../assets/js/orgchart";
import CreateJob from "../components/isop/CreateJob";
import EditJob from "../components/isop/EditJob";
import tiptapEditor from "../components/tiptapEditor/tiptapEditorComponent" ;
import config from '../config/config';
import _ from 'lodash';
export default {
  name: "Support",
  components: {
    CreateJob,EditJob,
    "candidate-resume-modal-component": CandidateResumeModalComponent,
    "tiptap-editor-component": tiptapEditor
  },
  data(){
    return {
      onlineJobs:[],
      appliedJobs:[],
      jobDetails:null,
      companyDetails:null,
      companyMap:null,
      candidateResume:null,
      bus: new Vue(),
    };
  },
  mounted() {

  },
  methods: {
    editJob(jobId) {
      //var nodeData = this.chart.get(jobId);
      axios({url: config.apiURL + 'showJobDetails/' + jobId, method: 'GET'})
              .then(resp => {
                // console.warn("Job Detail: "+JSON.stringify(resp.data));
                this.jobDetails = resp.data;
                this.bus.$emit('editJobDetail', resp.data);
              })
              .catch(err => {
                console.log(err);
              })
    },
    showCandidateResume(userId) {
      //var nodeData = this.chart.get(userId);
      axios({url: config.apiURL + 'candidateResume/' + userId, method: 'GET'})
              .then(resp => {
                // console.warn("Job Detail: "+JSON.stringify(resp.data));
                this.candidateResume = resp.data;
                this.bus.$emit('viewCandidateResume', resp.data);
              })
              .catch(err => {
                console.log(err);
              })
    },
  },
};
</script>
