<template>
  <div class="content-page-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mainpage-thumbnail text-center flex-center">
          <img src="assets/images/illustrations/illustration__candidate-isop.svg" class="img-fluid mt-n3" />
        </div>
        <div class="col-lg-6">
          <div class="content-wrap terms-content-wrap">
            <h2>Terms Of Use</h2>
            <div class="has-scroll">
              <p>
                <b>Welcome</b> to OneCrate (hereinafter referred to as “Website”,
                “Site”,
                “We”, “Us”, “Our”), owned and operated by OneCrate
                LLC. The
                website is offered to you conditioned on your acceptance without modification of the
                terms,
                conditions and notices contained herein (the "Terms").
              </p>

              <p>
                Our website provides an online job platform which connects job seekers and employers
                (hereinafter
                collectively be referred to as “Users” or “You” or
                “Your”).
                Our website allows the employers to post jobs on our website which can be searched by
                job
                seekers in order to get a job and job seekers can post their resumes on our website
                which can be
                viewed by the employers in order to hire job seekers according to their requirements
                (collectively the “Services”). Our website acts as a facilitator and all
                commercial
                / contractual terms are offered by and agreed to between Users alone. You understand and
                agree
                that we are not a party to any agreement entered into between Users. We have no control
                over the
                conduct of Users using our site and services, and disclaim all liability in this regard.
              </p>

              <p>
                BY CLICKING ON THE "ACCEPT" BUTTON AT THE END OF THE AGREEMENT ACCEPTANCE FORM,
                USERS
                AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT. PLEASE READ THIS ENTIRE
                AGREEMENT CAREFULLY BEFORE ACCEPTING ITS TERMS. YOUR USAGE OF THIS WEBSITE SIGNIFIES
                YOUR ASSENT
                TO THE FOLLOWING BINDING AGREEMENT.
              </p>

              <p>
                By using the Site, you agree to comply with and be legally bound by the terms and
                conditions of
                these Terms of Service ("Terms"). These Terms govern your access to and use of
                the
                Site and Services and all Collective Content, and constitute a binding legal agreement
                between
                you and us.
              </p>

              <p>
                Please read carefully these Terms and our Privacy Policy, which may be found
                at&nbsp;OneCrate.com, and which is incorporated by reference into these Terms. If you do
                not
                agree to these Terms, you have no right to obtain information from or otherwise continue
                using
                the Site. Failure to use the Site in accordance with these Terms may subject you to
                civil and
                criminal penalties. This website reserves the right to recover the cost of services,
                collection
                charges and lawyers fees from persons using the Site fraudulently. This website reserves
                the
                right to initiate legal proceedings against such persons for fraudulent use of the Site
                and any
                other unlawful acts or acts or omissions in breach of these terms and conditions.
              </p>

              <p>
                The use of this Website constitutes your consent to, and agreement to, abide by the most
                current
                version of these terms and conditions (the "Terms"). We may at any time revise
                these
                terms and conditions by updating the Terms. You agree to be bound by subsequent
                revisions and
                agree to review the Terms periodically for changes to the terms and conditions. The most
                up to
                date version of the Terms will always be available for your review under the "Terms
                of
                Use" link that appears at the bottom of the Website.
              </p>

              <p>
                PLEASE READ THESE TERMS OF USE AND CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION
                REGARDING YOUR
                LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND
                EXCLUSIONS, AND A
                CLAUSE THAT GOVERNS THE JURISDICTION AND VENUE OF DISPUTES.
              </p>

              <p>
                IN USING THIS WEBSITE YOU ARE DEEMED TO HAVE READ AND AGREED TO THE FOLLOWING TERMS AND
                CONDITIONS SET FORTH HEREIN. ANY INCIDENTAL DOCUMENTS AND LINKS MENTIONED SHALL BE
                CONSIDERED TO
                BE ACCEPTED JOINTLY WITH THESE TERMS. YOU AGREE TO USE THE WEBSITE ONLY IN STRICT
                INTERPRETATION
                AND ACCEPTANCE OF THESE TERMS AND ANY ACTIONS OR COMMITMENTS MADE WITHOUT REGARD TO
                THESE TERMS
                SHALL BE AT YOUR OWN RISK. THESE TERMS AND CONDITIONS FORM PART OF THE AGREEMENT BETWEEN
                THE
                USERS AND US. BY ACCESSING THIS WEBSITE, AND/OR UNDERTAKING TO PERFORM A SERVICE BY US
                INDICATES
                YOUR UNDERSTANDING, AGREEMENT TO AND ACCEPTANCE, OF THE DISCLAIMER NOTICE AND THE FULL
                TERMS AND
                CONDITIONS CONTAINED HEREIN.
              </p>

              <p>
                <strong>1. DEFINITIONS:</strong>
              </p>

              <p>
                1.1 "Agreement" means the terms and conditions as detailed herein including all
                schedules, appendices, annexures, privacy policy, other policies published on the
                website and
                will include the references to this agreement as amended, negated, supplemented, varied
                or
                replaced from time to time.
              </p>

              <p>
                1.2 “OneCrate.com” means the online job platform, owned and operated by
                OneCrate LLC
                and the services provided by it and its affiliates.
              </p>

              <p>
                1.3 "Employers" mean the person or any legal entity desiring to hire an
                employee for
                which he/she/it offers/lists/posts a job or a vacancy on the website for the job seekers
                to
                apply and get hired by the employers.
              </p>

              <p>
                1.4 “Job seekers” mean the individuals who are actively searching for jobs or
                changing jobs and thus apply for the jobs/vacancy posted by the employers on our website
                in
                order to get hired by the employers.
              </p>

              <p>1.5 "Users" mean and include Employers and Job seekers.</p>

              <p>
                1.6 “Listings/Postings” mean the jobs/vacancy, profiles, resumes etc.
                listed/posted
                by the Employers and job seekers on our website.
              </p>

              <p>
                1.7 “Account” means the accounts created by the Users on our website in order
                to use
                the Services provided by us. It is not mandatory for the users to create an account on
                our
                website as our services are available to users even if they do not have an account on
                our
                website.
              </p>

              <p>
                1.8 “Content” means text, graphics, images, music, audio, video, information
                or other
                materials.
              </p>

              <p>
                1.9 “User content” means all Content that a user posts, uploads, publishes,
                submits
                or transmits to be made available through our website.
              </p>

              <p>
                1.10&nbsp; “OneCrate.com content” means all Content that our website makes
                available
                through the site or Services, including any Content licensed from a third party, but
                excluding
                user Content.
              </p>

              <p>1.11 “SNS” means Social Networking Site such as Facebook, twitter etc.</p>

              <p>
                <strong>2. ELIGIBILITY:</strong>
              </p>

              <p>
                2.1 Our services are available only to, and may only be used by individuals who can form
                legally
                binding contracts under applicable law and only in compliance with this Agreement and
                all
                applicable local, state, national, and international laws, rules and regulations.
              </p>

              <p>
                2.2 Without limiting the foregoing, the website is not available to children (persons
                under the
                age of 16) or Users who have had their User account temporarily or permanently
                deactivated. By
                becoming a User and/or availing our services, you represent and warrant that you are at
                least 16
                years old and that you have the right, authority and capacity to enter into and abide by
                the
                terms and conditions of this Agreement. You represent and warrant that you are at least
                16 years
                old. Individuals under the age of 16 must at all times use our Services only in
                conjunction with
                and under the supervision of a parent or legal guardian who is at least 16 years of age.
                In this
                all cases, the adult is the user and is responsible for any and all activities. Our Site
                reserves the right to terminate and/or refuse to provide you with access to the Site if
                it is
                brought to the Site’s notice or if it is discovered that you are under the age of
                16
                (sixteen) years.
              </p>

              <p>
                2.3 If you are registering as a business entity, you represent that you have the
                authority to
                bind the entity to this User Agreement.
              </p>

              <p>
                2.4 Our website may, in its sole discretion, refuse to offer access to or use of the
                website to
                any person or entity and change its eligibility criteria at any time.
              </p>

              <p>
                <strong>3. REGISTRATION:</strong>
              </p>

              <p>
                3.1 In order to create an account and register with us you shall either create an account
                with us
                or you may register with us by using your valid account on the social networking service
                (“SNS”) such as Facebook or twitter or Google accounts (each such account,
                a&nbsp;“Third-Party&nbsp;Account”).
              </p>

              <p>
                3.2 If you access the Services through a SNS, you may link your Account with
                Third-Party&nbsp;Accounts, by allowing us to access your&nbsp;Third-Party&nbsp;Account,
                as is
                permitted under the applicable terms and conditions that govern your use of
                each&nbsp;Third-Party&nbsp;Account. You represent that you are entitled to disclose
                your&nbsp;Third-Party&nbsp;Account login information to us and/or grant us access to
                your&nbsp;Third-Party&nbsp;Account (including, but not limited to, for use for the
                purposes
                described herein) without breach by you of any of the terms and conditions that govern
                your use
                of the applicable&nbsp;Third-Party&nbsp;Account and without obligating us to pay any
                fees or
                making us subject to any usage limitations imposed by such&nbsp;third-party&nbsp;service
                providers. You have the ability to disable the connection between your Account and
                your&nbsp;Third-Party&nbsp;Accounts at any time by accessing the “Settings”
                section
                of the website. Please note that your relationship with
                the&nbsp;third-party&nbsp;service
                providers associated with your&nbsp;third-party&nbsp;accounts is governed solely by your
                agreement(s) with such&nbsp;third-party&nbsp;service providers, and we disclaim any
                liability
                for personally identifiable information that may be provided to it by
                such&nbsp;third-party&nbsp;service providers in violation of the privacy settings that
                you have
                set in such&nbsp;third-party&nbsp;accounts.
              </p>

              <p>
                <strong>A. Accounts:</strong>
              </p>

              <p>
                a) If you wish to create an account directly on our website then you shall be required to
                provide
                certain personal information such as email address, name, contact number and password.
              </p>

              <p>
                b) You represent and warrant that all required registration information you submit is
                truthful
                and accurate, and you will maintain the accuracy of such information. You are
                responsible for
                maintaining the confidentiality of your Account login information and are fully
                responsible for
                all activities that occur under your Account. You agree to immediately notify us of any
                unauthorized use, or suspected unauthorized use of your Account or any other breach of
                security.
                Our website cannot and will not be liable for any loss or damage arising from your
                failure to
                comply with the above requirements. You must not share your password or other access
                credentials
                with any other person or entity that is not authorized to access your account. Without
                limiting
                the foregoing, you are solely responsible for any activities or actions that occur under
                your
                website account access credentials. We encourage you to use a “strong”
                password (a
                password that includes a combination of upper and lower case letters, numbers, and
                symbols) with
                your account. We cannot and will not be liable for any loss or damage arising from your
                failure
                to comply with any of the above.
              </p>

              <p>
                3.3 You agree to provide and maintain accurate, current and complete information about
                your
                Account. Without limiting the foregoing, in the event you change any of your personal
                information as mentioned above in this Agreement, you will update your Account
                information
                promptly.
              </p>

              <p>3.4 When creating an Account, don’t:</p>

              <p>
                a) Provide any false personal information to us (including without limitation a false
                username)
                or create any Account for anyone other than yourself without such other person’s
                permission;
              </p>

              <p>
                b) Use a username that is the name of another person with the intent to impersonate that
                person;
              </p>

              <p>
                c) Use a username that is subject to rights of another person without appropriate
                authorization;
                or
              </p>

              <p>d) Use a username that is offensive, vulgar or obscene or otherwise in bad taste.</p>

              <p>
                3.5 We reserve the right to suspend or terminate your Account if any information provided
                during
                the registration process or thereafter proves to be inaccurate, false or misleading or
                to
                reclaim any username that you create through the Service that violates our Terms. If you
                have
                reason to believe that your Account is no longer secure, then you must immediately
                notify us at
                Onecrateonline@gmail.com.
              </p>

              <p>
                3.6 You may not transfer or sell your OneCrate.com account and User ID to another party.
                If you
                are registering as a business entity, you personally guarantee that you have the
                authority to
                bind the entity to this Agreement.
              </p>

              <p>
                3.7 Our Services are not available to temporarily or indefinitely suspended Users. Our
                website
                reserves the right, in its sole discretion, to cancel unconfirmed or inactive accounts.
                Our
                website reserves the right to refuse service to anyone, for any reason, at any time.
              </p>

              <p>3.8 One individual/entity can own only one account in his/her/its name.</p>

              <p>
                3.9 You agree to comply with all local laws regarding online conduct and acceptable
                content. You
                are responsible for all applicable taxes. In addition, you must abide by our
                website’s
                policies as stated in the Agreement and the website policy documents listed on the
                Website as
                well as all other operating rules, policies and procedures that may be published from
                time to
                time on the Website by Company.
              </p>

              <p>
                <strong>4. SERVICES:</strong>
              </p>

              <p>
                4.1 Our website allows Employers to post jobs and find candidates suitable for their job
                openings. Our intelligent search and recommendation engine gets employers the perfect
                candidates.
              </p>

              <p>
                4.2 Our website helps job seekers search for jobs and reach their career goals and become
                visible
                to employers.
              </p>

              <p>4.3 Our website allows Users to upload videos on our website.</p>

              <p>
                4.4 Our website analyzes job seeker’s profile based on inputted data including but
                not
                limited to videos, pictures and resume information. Our proprietary algorithm increases
                the
                likelihood of favourable job matches. Our proprietary code generates a hierarchy chart
                of the
                employer’s employee roster, greatly increasing employee visibility. A proprietary
                algorithm enables employers to target specific job seekers with advertisements.
              </p>

              <p>
                4.5 Our website acts as a marketplace between employers and job seekers and our website
                shall not
                at any time be held liable or accountable for any damages that occur when job seeker is
                rendering his/her services. Our site does not screen or censor the job postings/listings
                offered. You assume all risks associated with dealing with other users with whom you
                come in
                contact through our site.
              </p>

              <p>4.6 Our website allows Users to interact with each other via our realtime chat network.</p>

              <p>
                <strong>
                  5. JOB POSTINGS, USER PROFILES, RESUMES OF JOB SEEKERS, VIDEOS POSTED BY
                  USERS:
                </strong>
              </p>

              <p>
                5.1 Any job postings, user’s profiles, job seeker’s resumes and/or any videos
                uploaded by users on our website:
              </p>

              <p>(a) shall not be fraudulent;</p>

              <p>
                (b) shall not infringe any third party's copyright, patent, trademark, trade secret
                or other
                proprietary rights or rights of publicity or privacy;
              </p>

              <p>
                (c) shall not violate any law, statute, ordinance or regulation (including without
                limitation
                those governing export control, consumer protection, unfair competition,
                anti-discrimination or
                false advertising);
              </p>

              <p>
                (d) shall not be defamatory, trade libelous, unlawfully threatening or unlawfully
                harassing;
              </p>

              <p>(e) shall not be obscene or contain child pornography; and</p>

              <p>
                (f) shall not contain any viruses, Trojan horses, worms, time bombs, cancelbots or other
                computer
                programming routines that are intended to damage, detrimentally interfere with,
                surreptitiously
                intercept or expropriate any system, data or personal information.
              </p>

              <p>
                5.2 A user can post material, documents, videos, comments, any other content related to
                the jobs
                or job applications on the Site as long as the same does not infringe or threaten to
                infringe
                any intellectual property rights of any other person or entity, contains viruses or
                trojans or
                worms or likewise which hampers the functioning of the Site, is libelous or obscene or
                defamatory or religiously inflammable, or in any way hampers the reputation or goodwill
                of the
                Site. Users cannot post any employment ads violating the anti-discrimination provisions
                of the
                Immigration and Nationality Act or messages which violate any law or regulation.
              </p>

              <p>
                5.3 You shall compensate and indemnify, defend and hold harmless the Indemnified Parties
                (as
                defined hereunder), from and against any and all losses, liabilities, damages,
                deficiencies,
                demands, claims, actions, judgments or causes of action, assessments, interest,
                penalties and
                other costs or expenses (including, without limitation, reasonable attorneys' fees
                and
                expenses) based upon, arising out of, or in relation to or otherwise in respect of any
                objectionable content (including but not limited to pictures or videos), of any nature
                whatsoever, uploaded on the Site by the User.
              </p>

              <p>
                5.4 You agree and accept that all the jobs and other content posted on the Site by you or
                otherwise make available for viewing on public areas of the Site will be treated as
                non-confidential and non-proprietary to you. You understand and agree that any such jobs
                and
                messages may be used by the Site or our affiliates, without review or approval by you,
                for any
                purpose whatsoever, and in any medium, including our print media, if any. You grant the
                Site the
                irrevocable right to amend, alter, change or modify the same without your approval for
                any
                purpose whatsoever, including, without limitation, reproduction, disclosure,
                transmission,
                publication, broadcast, posting, and advertising in any media in perpetuity without
                notice or
                compensation to you.
              </p>

              <p>
                5.5 You agree that you will not delete or revise any material posted by any other user or
                use any
                automated device, spider, robot, crawler, data mining tool, software or routine to
                access, copy,
                or download any part of the Site or send messages or engage in disruptive or damaging
                activities
                online, or gain or attempt to gain unauthorized access to non-public areas of the Site.
              </p>

              <p>
                5.6 You are entirely responsible and liable for any content you post or any job that is
                posted
                through your Account. While the Site may or may not pre-screen, monitor or approve any
                content,
                the Site shall have the right, but not the obligation to remove, move (including moving
                an ad or
                posting to another section or category within the classifieds), refuse, edit or delete
                any and
                or other content for any reason whatsoever.
              </p>

              <p>
                <strong>6. OUR WEBSITE AS A PLATFORM:</strong>
              </p>

              <p>
                6.1 Our website does not make any representation or warranty as to the attributes (such
                as legal
                title, creditworthiness, identity, etc.) of any of its Users. Users are advised to
                independently
                verify the bona fides of any particular User that they choose to deal with on the
                Website and
                use their best judgment in that behalf.&nbsp;
              </p>

              <p>
                6.2 The Website is only a venue through which Users can reach a larger base to post jobs,
                search
                for jobs etc. We are only providing a platform for communication to the users.
              </p>

              <p>
                6.3 We neither guarantee any employment to job seekers nor assure employers of finding
                their
                required candidates. We shall not guarantee, refer, endorse, recommend, verify, evaluate
                any
                information or other services provided by users. We do not guarantee the validity,
                accuracy,
                completeness, safety, legality, quality or applicability of the content on the Site and
                anything
                spoken or written by users, including any information contained in a user listing.
              </p>

              <p>
                6.4 You release and indemnify us and/or any of our shareholders, directors, officers,
                employees
                and representatives from any cost, damage, liability or other consequences of any of the
                actions
                of the Users of the Website and specifically waive any claims that you may have in this
                behalf
                under any applicable law. Notwithstanding its reasonable efforts in that behalf, our
                website
                cannot control the information provided by other Users which is made available on the
                Website.
                You may find other User's information to be offensive, harmful, inaccurate, or
                deceptive.
                Please use caution and practice safe trading when using the Website. Please note that
                there may
                be risks in dealing with foreign nationals, underage persons or people acting under
                false
                pretense.&nbsp;
              </p>

              <p>
                6.5 You acknowledge and undertake that you are accessing the services on the Website and
                transacting at your own risk and are using your best and prudent judgment before
                availing any
                services through the Website.
              </p>

              <p>
                6.6 Neither the employer nor the job seeker is a representative or an agent of our
                website or our
                affiliates.
              </p>

              <p>
                <strong>7. NO RESPONSIBILITY:</strong>
              </p>

              <p>7.1 We shall not be involved in any transactions between Users.</p>

              <p>
                7.2 Our website does not review or verify the information or representations set forth in
                the
                Users’ profiles, as they are self-reported by the Users. Our website makes no
                guarantees,
                promises, warranties or representations of any kind regarding the skills or
                representations of
                such Users.
              </p>

              <p>
                7.3 We are not a party to the dealing, contracting and fulfillment of any Job between
                Users. We
                have no control over and do not guarantee the quality, safety or legality of any
                services
                performed or deliverables created, advertised, the truth or accuracy of job
                postings/listings,
                the qualifications, background, or abilities of Users, the ability of job seekers to
                perform
                services, the ability of employers to pay for services, or that a job seeker can or will
                actually complete a Job.
              </p>

              <p>
                7.4 We are not responsible for and will not control the manner in which an employer or a
                job
                seeker operates and are not involved in hiring, firing, discipline or working
                conditions. All
                rights and obligations for the hiring and getting hired or other deliverables are solely
                between
                Users. Employers and job seekers must look solely to each other for enforcement and
                performance
                of all the rights and obligations and any other terms, conditions, representations, or
                warranties associated with such dealings.
              </p>

              <p>
                <strong>8. SEPARATE AGREEMENT BETWEEN USERS:</strong>
              </p>

              <p>
                8.1 The Users agree that they shall enter into a separate agreement when hiring and
                getting hired
                for the job posted on our website and our website shall not be a party to such separate
                agreement. The job seeker shall deliver the services and deliverables in accordance with
                the
                said separate agreement which includes the payment, job description, and other terms and
                conditions agreed between them on our website. The users shall not enter into any
                agreement in
                violation of these Terms of Service and any such provision in conflict with these Terms
                of
                Service shall be void.
              </p>

              <p>
                8.2 The Site shall not be liable for or responsible for the completion of the job in any
                manner
                and the same shall be subject to the terms of agreement between the Users. The Site
                shall not be
                responsible for (a) inspecting the services to determine whether they have been rendered
                in a
                satisfactory manner; (b) making any payment for the services rendered; (c) ensuring that
                deliverables are executed in a timely manner. The employer shall be solely responsible
                for
                managing, inspecting, accepting and paying for satisfactory services and deliverables in
                accordance with the said separate agreement entered into by and between the users. The
                job
                seeker shall solely be responsible for the performance and quality of the services in
                accordance
                with the said separate agreement entered into by and between the Users.
              </p>

              <p>
                <strong>9. OBLIGATIONS OF USERS:</strong>
              </p>

              <p>
                9.1 Users shall not make arrangements outside of this platform in order to have any paid
                relations or any contact with each other contacted through our website.
              </p>

              <p>
                9.2 Users grant us an unlimited, irrevocable, royalty free license to use, reproduce,
                display,
                edit, copy, transmit, publicly perform, create derivative works, or communicate to the
                public
                any content posted by them on a worldwide basis.
              </p>

              <p>
                9.3 Users shall not take any actions that may undermine, disrupt or manipulate the
                integrity of
                the User feedback system on the Site.
              </p>

              <p>
                <strong>10. PLANS AND PAYMENTS:</strong>
              </p>

              <p>10.1 Our website offers the following subscription plans to its users:</p>

              <p>
                a) A setup fee of $29.99 per each unique position. A monthly subscription fee of $2.99
                per each
                position. A $150 job posting fee which will only be charged to the employer if a
                candidate
                applies to that position, billed at the end of each pay period.
              </p>

              <p>
                10.2 The user shall be required to subscribe to any or all of the above plans in order to
                use our
                services and shall be required to make payments as per the subscribed plan.
              </p>

              <p>
                10.3 Subscription Fees, Cancellation and Refund Policy Subscription Fees and Credit card
                holder's account is automatically charged on the same date as the original
                transaction date
                on each corresponding month or on final date of month if no corresponding date.
              </p>

              <p>
                10.4 Discounts, rebates or other special offers shall be valid only for initial term and
                the
                subscriptions shall be renewed at the then-current full subscription rates. Right of
                access
                granted under these Terms is effective only upon payment of the subscription fees.
              </p>

              <p>
                10.5 Our website reserves the right to increase subscription fees for a subsequent
                subscription
                period at any time and for any reason, provided, however, that our website provides
                notice at
                least thirty (30) calendar days prior to the expiration of the subscription.&nbsp;
              </p>

              <p>
                10.6 Our website uses third party payment providers to receive payments. We are not
                responsible
                for delays or erroneous transaction execution or cancellation of services/orders due to
                payment
                issues.
              </p>

              <p>
                10.7 We take utmost care to work with 3rd party payment providers, but do not control
                their
                systems, processes, technology and work flows, hence cannot be held responsible for any
                fault at
                the end of payment providers.
              </p>

              <p>
                10.8 Users understand and expressly authorize us to collect payment from or charge the
                credit
                card for availing our services.
              </p>

              <p>
                10.9 Our website reserves the right to change or replace the payment gateway at its sole
                discretion without any reservation whatsoever. Our site stores bank information of the
                Users in
                order to make it easier for them to just click and pay without entering the details
                every time
                they avail our services. All transactions are completed through secure third party
                payment
                gateways and at no point of time we assume any liability for any loss of data or
                wrongful
                payment or invalid payment processing by such a third party. Users acknowledge that we
                will not
                be liable for any&nbsp;damages, interests or claims etc. resulting from not processing a
                Transaction/Transaction Price or any delay in processing a Transaction/Transaction
                Price&nbsp;which is beyond our control.
              </p>

              <p>
                10.10 Users can cancel their subscription from their account settings page. The only
                valid method
                for canceling your plan is via the cancellation link provided on your account settings
                page,
                accessible after logging in to our website. Requests to cancel by e-mail or phone are
                not
                considered, and do not accomplish, cancellation. Once you cancel your membership
                subscription,
                you will not lose access immediately. Your membership will continue through the end of
                your
                current charge cycle. Subscription fees are non-refundable.
              </p>

              <p>
                <strong>11. USE OF THE WEBSITE:</strong>
              </p>

              <p>
                11.1 You understand and agree that the Website merely provides hosting services to its
                Users. All
                jobs, profiles etc. posted/advertised / listed and the contents therein are posted,
                advertised
                and listed by Users. Our website neither originates nor initiates the transmission nor
                selects
                the sender and receiver of the transmission nor selects nor modifies the information
                contained
                in the transmission. We have no control over such contents and do not provide any
                guarantee with
                respect to any such content and our website shall not be held liable for any loss
                suffered based
                on your reliance on or use of such data/content.&nbsp;
              </p>

              <p>
                11.2 You shall not post, host, display, upload, modify, publish, transmit, update or
                share&nbsp;any information which:
              </p>

              <p>(a) belongs to another person and to which You do not have any right;</p>

              <p>
                (b) is grossly harmful, harassing, blasphemous, defamatory, obscene,&nbsp;pornographic,
                paedophilic, libellous, invasive of another's privacy, hateful, or&nbsp;racially,
                ethnically
                objectionable, disparaging, relating or encouraging money&nbsp;laundering or gambling,
                or
                otherwise unlawful in any manner whatever;&nbsp;or unlawfully threatening or unlawfully
                harassing including but not limited&nbsp;to "indecent representation of
                women” within
                the meaning of the Indecent Representation of Women (Prohibition) Act, 1986;
              </p>

              <p>(c) is misleading in any way;</p>

              <p>
                (d) is patently offensive to the online community, such as sexually
                explicit&nbsp;content, or
                content that promotes obscenity, paedophilia, racism, bigotry, hatred&nbsp;or physical
                harm of
                any kind against any group or individual;
              </p>

              <p>(e) harasses or advocates harassment of another person;</p>

              <p>
                (f) involves the transmission of "junk mail", "chain letters", or
                unsolicited
                mass&nbsp;mailing or "spamming";
              </p>

              <p>
                (g) promotes illegal activities or conduct that is abusive, threatening,
                obscene,&nbsp;defamatory
                or libellous;
              </p>

              <p>
                (h) infringes upon or violates any third party's rights [including, but not
                limited&nbsp;to,
                intellectual property rights, rights of privacy (including without limitation
                unauthorized
                disclosure of a person's name, email address, physical address or&nbsp;phone number)
                or
                rights of publicity];
              </p>

              <p>
                (i) promotes an illegal or unauthorized copy of another person's copyrighted
                work&nbsp;(see
                "Copyright complaint" below for instructions on how to lodge a complaint about
                uploaded copyrighted material), such as providing pirated computer&nbsp;programs or
                links to
                them, providing information to circumvent manufacture-installed copy-protect devices, or
                providing pirated music or links to pirated music&nbsp;files;
              </p>

              <p>
                (j) contains restricted or password-only access pages, or hidden pages or
                images&nbsp;(those not
                linked to or from another accessible page);
              </p>

              <p>
                (k) provides material that exploits people in a sexual, violent or
                otherwise&nbsp;inappropriate
                manner or solicits personal information from anyone;
              </p>

              <p>
                (l) provides instructional information about illegal activities such as making
                or&nbsp;buying
                illegal weapons, violating someone's privacy, or providing or creating computer
                viruses;
              </p>

              <p>
                (m) contains video, photographs, or images of another person (with a minor or&nbsp;an
                adult).
              </p>

              <p>
                (n) tries to gain unauthorized access or exceeds the scope of authorized access&nbsp;to
                the
                Website or to profiles, blogs, communities, account information, bulletins, friend
                request, or
                other areas of the Website or solicits passwords or personal&nbsp;identifying
                information for
                commercial or unlawful purposes from other users;
              </p>

              <p>
                (o) engages in commercial activities and/or sales without our prior written&nbsp;consent
                such as
                contests, sweepstakes, barter, advertising and pyramid schemes,&nbsp;or the buying or
                selling of
                "virtual" products related to the Website;
              </p>

              <p>
                (p) solicits gambling or engages in any gambling activity which we, in our
                sole&nbsp;discretion,
                believe is or could be construed as being illegal;
              </p>

              <p>
                (q) interferes with another User's use and enjoyment of the Website and enjoyment of
                similar
                services;
              </p>

              <p>
                (r) refers to any website or URL that, in Our sole discretion, contains
                material&nbsp;that is
                inappropriate for the Website or any other website, contains content that would be
                prohibited or
                violates the letter or spirit of these Terms of Use.
              </p>

              <p>(s) harm minors in any way;</p>

              <p>
                (t) infringes any patent, trademark, copyright or other proprietary rights or
                third&nbsp;party's trade secrets or rights of publicity or privacy or shall not be
                fraudulent or involve the sale of counterfeit or stolen products;
              </p>

              <p>(u) violates any law for the time being in force;</p>

              <p>
                (v) deceives or misleads the addressee/ users about the origin of such messages&nbsp;or
                communicates any information which is grossly offensive or menacing innature;
              </p>

              <p>(w) impersonate another person;</p>

              <p>
                (x) contains software viruses or any other computer code, files or programs&nbsp;designed
                to
                interrupt, destroy or limit the functionality of any computer resource;&nbsp;or contains
                any
                trojan horses, worms, time bombs, cancelbots, easter eggs or&nbsp;other computer
                programming
                routines that may damage, detrimentally interfere&nbsp;with, diminish the value of,
                surreptitiously intercept or expropriate any system, data&nbsp;or personal information;
              </p>

              <p>
                (y) threatens the unity, integrity, defence, security, sovereignty of the United States
                of
                America,&nbsp;friendly relations with foreign states, or public order or causes
                incitement to
                the commission of any cognizable offence or prevents investigation of any offence
                or&nbsp;is
                insulting any other nation.
              </p>

              <p>(z) shall not be false, inaccurate or misleading;</p>

              <p>
                11.3 You shall not, directly or indirectly, offer, attempt to offer, trade or attempt
                to&nbsp;trade in any item, the dealing of which is prohibited or restricted in any
                manner under
                the provisions of any applicable law, rule, regulation or guideline for the&nbsp;time
                being in
                force.
              </p>

              <p>
                11.4 You shall not create liability for us or cause us to lose (in whole or in part)
                the&nbsp;services of our internet service providers ("ISPs") or other
                suppliers;
              </p>

              <p>
                11.5 You shall not use any "deep-link", "page-scrape",
                "robot",
                "spider" or other&nbsp;automatic device, program, algorithm or methodology, or
                any
                similar or&nbsp;equivalent manual process, to access, acquire, copy or monitor any
                portion of
                the&nbsp;Website or any Content, or in any way reproduce or circumvent the navigational
                structure or presentation of the Website or any Content, to obtain or attempt
                to&nbsp;obtain any
                materials, documents or information through any means not purposely made available
                through the
                Website. We reserve our right to bar any such&nbsp;activity.
              </p>

              <p>
                11.6 You shall not attempt to gain unauthorized access to any portion or feature
                of&nbsp;the
                Website, or any other systems or networks connected to the Website or to any server,
                computer,
                network, or to any of the services offered on or through&nbsp;the Website, by hacking,
                password
                "mining" or any other illegitimate means.
              </p>

              <p>
                11.7 You shall not probe, scan or test the vulnerability of the Website or
                any&nbsp;network
                connected to the Website nor breach the security or authentication&nbsp;measures on the
                Website
                or any network connected to the Website. You may&nbsp;not reverse look-up, trace or seek
                to
                trace any information on any other User&nbsp;of or visitor to Website, or any other
                customer,
                including any account on the&nbsp;Website not owned by You, to its source, or exploit
                the
                Website or any service&nbsp;or information made available or offered by or through the
                Website,
                in any&nbsp;way where the purpose is to reveal any information, including but not
                limited&nbsp;to personal identification or information, other than Your own information,
                as&nbsp;provided for by the Website.
              </p>

              <p>
                11.8 You shall not make any negative, denigrating or defamatory statement(s)
                or&nbsp;comment(s)
                about Us or the brand name or domain name used by Us, or otherwise engage in&nbsp;any
                conduct or
                action that might tarnish the image or reputation of our website or sellers on platform
                or
                otherwise tarnish or dilute any of our trade or service&nbsp;marks, trade name and/or
                goodwill
                associated with such trade or service marks, trade name as may be owned or used by us.
                You agree
                that you will not take&nbsp;any action that imposes an unreasonable or
                disproportionately large
                load on the infrastructure of the Website or our systems or networks, or any systems
                or&nbsp;networks connected to us.
              </p>

              <p>
                11.9 You agree not to use any device, software or routine to interfere or attempt&nbsp;to
                interfere with the proper working of the Website or any transaction being conducted on
                the
                Website, or with any other person's use of the Website.
              </p>

              <p>
                11.10 You may not forge headers or otherwise manipulate identifiers in order
                to&nbsp;disguise the
                origin of any message or transmittal you send to us on or through&nbsp;the Website or
                any
                service offered on or through the Website. You may not&nbsp;pretend that you are, or
                that you
                represent, someone else, or impersonate any&nbsp;other individual or entity.
              </p>

              <p>
                11.11 You may not use the Website or any content for any purpose that is unlawful&nbsp;or
                prohibited by these Terms of Use, or to solicit the performance of any illegal activity
                or other
                activity which infringes the rights of our website and / or others.
              </p>

              <p>
                11.12 You shall solely enable us to use the information you supply us with, so that we
                are&nbsp;not violating any rights you might have in your Information, you agree to
                grant&nbsp;Us
                a non-exclusive, worldwide, perpetual, irrevocable, royalty-free,
                sub-licensable&nbsp;(through
                multiple tiers) right to exercise the copyright, publicity, database rights&nbsp;or any
                other
                rights you have in your Information, in any media now known or&nbsp;not currently known,
                with
                respect to your Information. We will only use your information in accordance with the
                Terms of
                Use and Privacy Policy applicable to&nbsp;use of the Website.
              </p>

              <p>
                11.13 We reserve the right, but have no obligation, to monitor the materials posted by
                users
                on&nbsp;the Website. Our website shall have the right to remove or edit any content that
                in
                its&nbsp;sole discretion violates, or is alleged to violate, any applicable law or
                either
                the&nbsp;spirit or letter of these Terms of Use. Notwithstanding this right, you
                remain&nbsp;solely responsible for the content of the materials you post on&nbsp;the
                website and
                in your private messages. Please be advised that such&nbsp;Content posted does not
                necessarily
                reflect our views. In no event shall&nbsp;our website assume or have any responsibility
                or
                liability for any Content posted&nbsp;or for any claims, damages or losses resulting
                from the
                use of Content and/or&nbsp;appearance of Content on the Website. You hereby represent
                and
                warrant that&nbsp;you have all necessary rights in and to all Content which you provide
                and all
                the information it contains and that such Content shall not infringe any
                proprietary&nbsp;or
                other rights of third parties or contain any libellous, tortious, or
                otherwise&nbsp;unlawful
                information.
              </p>

              <p>
                11.14 It is possible that any of the user (including unauthorized users or
                "hackers")&nbsp;may post or transmit offensive or obscene materials on the
                Website and
                that&nbsp;other users may be involuntarily exposed to such offensive and obscene
                materials.
                It&nbsp;also is possible for others to obtain personal information about you due to
                your&nbsp;use of the Website, and that the recipient may use such information to
                harass&nbsp;or
                injure you. We do not approve of such unauthorized uses, but by using the Website, you
                acknowledge and agree that we are not responsible for the use of&nbsp;any personal
                information
                that you publicly disclose or share with others on the Website. Please carefully select
                the type
                of information that you publicly disclose&nbsp;or share with others on the Website.
              </p>

              <p>
                11.15 We shall have all the rights to take necessary action and claim damages&nbsp;that
                may occur
                due to your involvement/participation in any way on your own or through group/s of
                people,
                intentionally or unintentionally in DoS/DDoS&nbsp;(Distributed Denial of Services).
              </p>

              <p>
                &nbsp;
                <strong>12. OWNERSHIP:</strong>
              </p>

              <p>
                All right, title, and interest in and to the website (excluding postings/content provided
                by the
                users) is and will remain the exclusive property of our website and our licensors. The
                website
                service is protected by copyright, trademark, and other laws of the United States of
                America.
                Nothing in these Terms gives you a right to use the name of the website or
                website’s
                trademark or logo, or any other trademarks, logos, domain names, or other distinctive
                brand
                features relating to the website or located on the website. Any feedback, comments, and
                suggestions you may provide regarding the website (“Feedback”) are entirely
                voluntary and you grant us a perpetual, irrevocable, worldwide, royalty-free license
                (with the
                right to sublicense) to use, reproduce, modify, create derivative works of,
                commercialize, and
                otherwise freely exploit such Feedback (including, but not limited to, all Rights
                therein) as we
                see fit and without any payment or other obligation to you.
              </p>

              <p>
                <strong>13. INTELLECTUAL PROPERTY RIGHTS:</strong>
              </p>

              <p>
                13.1 Our website, our suppliers and licensors expressly reserve all intellectual property
                rights
                in all text, programs, products, processes, technology, content and other materials,
                which
                appear on this Site. Access to this Site does not confer and shall not be considered as
                conferring upon anyone any license under any of OneCrate or any third party's
                intellectual
                property rights. All rights, including copyright, in this website are owned by or
                licensed to us
                or third party suppliers. Any use of this website or its contents, including copying or
                storing
                it or them in whole or part, other than for your own personal, non-commercial use is
                prohibited
                without the permission of our website. You cannot modify, distribute or re-post anything
                on this
                website for any purpose.
              </p>

              <p>
                13.2 The OneCrate names and logos and all related product and service and our slogans are
                the
                trademarks or service marks of OneCrate. All other marks are the property of their
                respective
                companies. No trademark or service mark license is granted in connection with the
                materials
                contained on this Site. Access to this Site does not authorize anyone to use any name,
                logo or
                mark in any manner.
              </p>

              <p>
                13.3 All materials, including images, text, illustrations, designs, icons, photographs,
                programs,
                music clips or downloads, video clips and written and other materials that are part of
                this Site
                (collectively, the "Contents") are intended solely for personal,
                non-commercial use.
                You may download or copy the Contents and other downloadable materials displayed on the
                Site for
                your personal use only. No right, title or interest in any downloaded materials or
                software is
                transferred to you as a result of any such downloading or copying. You may not reproduce
                (except
                as noted above), publish, transmit, distribute, display, modify, create derivative works
                from,
                sell or participate in any sale of or exploit in any way, in whole or in part, any of
                the
                Contents, the Site or any related software. All software used on this Site is the
                property of
                our website or its suppliers and protected by copyright laws of the United States of
                America.
                The Contents and software on this Site may be used only as a referral resource. Any
                other use,
                including the reproduction, modification, distribution, transmission, republication,
                display, or
                performance, of the Contents on this Site is strictly prohibited. Unless otherwise
                noted, all
                Contents are copyrights, trademarks and/or other intellectual property owned, controlled
                or
                licensed by our website, one of its affiliates or by third parties who have licensed
                their
                materials to us and are protected by copyright laws of the United States of America. The
                compilation (meaning the collection, arrangement, and assembly) of all Contents on this
                Site is
                the exclusive property of our website and is also protected by Copyright laws of the
                United
                States of America.
              </p>

              <p>
                13.4 We have the right to remove the Content alleged to be infringing without prior
                notice, at
                our sole discretion, and without liability to you. In appropriate circumstances, we will
                also
                terminate a user’s account if we determine that the user is a repeat infringer.
              </p>

              <p>
                13.5 While we are not obligated to review User Submitted Materials for copyright
                infringement, we
                are committed to protecting copyrights and expect users of our website to do the same.
                If you
                believe in good faith that any material used or displayed on or through our website
                infringes
                your copyright, you (or your agent) may send us a notice requesting that the material be
                removed, or access to it blocked. The notice must be in compliance with our Copyright
                Information policy published on our website.
              </p>

              <p>
                <strong>14. YOUR RIGHTS AND LICENSE TO CONTENT:</strong>
              </p>

              <p>
                14.1 You retain your rights to any Content you list, post or upload on our website. By
                listing,
                posting or uploading Content using our website, you grant us a limited, perpetual,
                irrevocable,
                worldwide, non-exclusive, royalty-free, transferable license (with the right to
                sublicense) to
                use, copy, reproduce, process, adapt, modify, create derivative works of, transmit,
                host,
                display, and distribute such Content in any and all media or distribution methods (now
                known or
                later developed) as necessary to provide the website and in accordance with these Terms.
              </p>

              <p>
                14.2 You are solely responsible for your use of the website, for any content you provide,
                and for
                any consequences thereof, including, but not limited to, the use of your content by us.
                Without
                limiting the foregoing, you represent and warrant that you have all the rights, power,
                and
                authority necessary to grant the rights granted herein to any Content that you submit.
              </p>

              <p>
                14.3 You will indemnify and hold us harmless from and against any and all claims, suits,
                disputes, actions, losses, judgments, and costs (including, but not limited to,
                attorneys’
                fees) arising out of or relating to any one or more of the following: (a) your use of or
                access
                to our website, (b) your provision of any Content or other information to or through the
                website, (c) any third party claim that any Content you provide infringes,
                misappropriates, or
                otherwise violates any Rights, and (d) your violation of any of these Terms.
              </p>

              <p>
                <strong>15. REVIEWS, FEEDBACK, SUBMISSIONS:</strong>
              </p>

              <p>
                15.1 All reviews, comments, feedback, postcards, suggestions, ideas, and other
                submissions
                disclosed, submitted or offered to us on or by this Site or otherwise disclosed,
                submitted or
                offered in connection with your use of this Site (collectively, the
                "Comments") shall
                be and remain our property. Such disclosure, submission or offer of any Comments shall
                constitute an assignment to us of all worldwide rights, titles and interests in all
                copyrights
                and other intellectual properties in the Comments. Thus, we exclusively own all such
                rights,
                titles and interests and shall not be limited in any way in its use, commercial or
                otherwise, of
                any Comments. We will be entitled to use, reproduce, disclose, modify, adapt, create
                derivative
                works from, publish, display and distribute any Comments you submit for any purpose
                whatsoever,
                without restriction and without compensating you in any way.
              </p>

              <p>
                15.2 We are and shall be under no obligation (1) to maintain any Comments in confidence;
                (2) to
                pay you any compensation for any Comments; or (3) to respond to any Comments. You agree
                that any
                Comments submitted by you to the Site will not violate this policy or any right of any
                third
                party, including copyright, trademark, privacy or other personal or proprietary
                right(s), and
                will not cause injury to any person or entity. You further agree that no Comments
                submitted by
                you to the Site will be or contain libelous or otherwise unlawful, threatening, abusive
                or
                obscene material, or contain software viruses, political campaigning, commercial
                solicitation,
                chain letters, mass mailings or any form of "spam".
              </p>

              <p>
                15.3 Our website does not regularly review posted Comments, but does reserve the right
                (but not
                the obligation) to monitor and edit or remove any Comments submitted to the Site. You
                grant us
                the right to use the name that you submit in connection with any Comments. You agree not
                to use
                a false email address, impersonate any person or entity, or otherwise mislead as to the
                origin
                of any Comments you submit. You are and shall remain solely responsible for the content
                of any
                Comments you make and you agree to indemnify us and our affiliates for all claims
                resulting from
                any Comments you submit. We and our affiliates take no responsibility and assume no
                liability
                for any Comments submitted by you or any third party.
              </p>

              <p>
                <strong>16. INDEMNITY:</strong>
              </p>

              <p>
                Users agree to defend, indemnify and hold harmless our website, its employees, directors,
                officers, agents and their successors and assigns from and against any and all claims,
                liabilities, damages, losses, costs and expenses, including attorney's fees, caused
                by or
                arising out of claims based upon your actions or inactions, which may result in any loss
                or
                liability to our website or any third party including but not limited to breach of any
                warranties, representations or undertakings or in relation to the non-fulfillment of any
                of your
                obligations under this User Agreement or arising out of your violation of any applicable
                laws,
                regulations, including but not limited to Intellectual Property Rights, payment of
                statutory
                dues and taxes, claim of libel, defamation, violation of rights of privacy or publicity,
                loss of
                service by other subscribers and infringement of intellectual property or other rights.
                This
                clause shall survive the expiry or termination of this User Agreement.
              </p>

              <p>
                <strong>17. LINKS TO OTHER WEBSITES:</strong>
              </p>

              <p>
                Links to third party Websites on this site are provided solely as a convenience to you.
                If you
                use these links, a new browser will be lodged to access linked Websites. We have not
                reviewed
                these third party Websites and does not control and is not responsible for any of these
                Websites
                or their content. We do not endorse or make any representations about them, or any
                information,
                or other products or materials found there, or any results that may be obtained from
                using them.
                If you decide to access any of the third party Websites linked to this site, you do this
                entirely at your own risk.
              </p>

              <p>
                <strong>18. TERMINATION:</strong>
              </p>

              <p>
                18.1 We may, at any time and without notice, suspend, cancel, or terminate your right to
                use the
                Site (or any portion of the Site). In the event of suspension, cancellation, or
                termination, you
                are no longer authorized to access the part of the Site affected by such suspension,
                cancellation, or termination. In the event of any suspension, cancellation, or
                termination, the
                restrictions imposed on you with respect to material downloaded from the Site, and the
                disclaimers and limitations of liabilities set forth in the Agreement, shall survive.
              </p>

              <p>
                18.2 Depending upon the nature of termination, subject to the provisions laid down in
                this
                agreement, we may or may not refund you for any payment due or kept with us. We will
                review the
                refund requests case by case. Without limiting the foregoing, we may close, suspend or
                limit
                your access to your Account:
              </p>

              <p>
                • if we determine that you have breached, or are acting in breach of this User
                Agreement;
              </p>

              <p>
                • if we determine that you have breached legal liabilities (actual or potential),
                including
                infringing someone else's Intellectual Property Rights;
              </p>

              <p>
                • if we determine that you have engaged, or are engaging in fraudulent, or illegal
                activities;
              </p>

              <p>• you do not respond to account verification requests;</p>

              <p>
                • you do not complete account verification when requested within 3 months of the
                date of
                request;
              </p>

              <p>• to manage any risk of loss to us, a User, or any other person; or</p>

              <p>• For other similar reasons.</p>

              <p>
                18.3 If we close your Account due to your breach of this User Agreement, you may also
                become
                liable for certain fees as ascertained by us.
              </p>

              <p>
                18.4 Without limiting our other remedies, to the extent you have breached this User
                Agreement,
                you must pay us all fees owed to us and reimburse us for all losses and costs (including
                any and
                all of our employee time) and reasonable expenses (including legal fees) related to
                investigating such breach and collecting such fees.
              </p>

              <p>
                18.5 In the event that we close your Account, you will have no claim whatsoever against
                us in
                respect of any such suspension or termination of your Account.
              </p>

              <p>
                <strong>19. CLOSING YOUR ACCOUNT:</strong>
              </p>

              <p>
                We allow you to close your account with us if you send us a request&nbsp; at
                Onecrateonline@gmail.com. However, you must not have any outstanding payment, dispute,
                listing
                or any other matter unresolved with us or third parties through our website.
              </p>

              <p>
                <strong>20. INACTIVE ACCOUNTS:</strong>
              </p>

              <p>
                We reserve the right to terminate or suspend an account which has been inactive for more
                than one
                year without any activity or subscription payment left. We will notify you at the email
                provided
                with us three times at 2 months, 1 month and 24 hours prior to the suspension.
              </p>

              <p>
                <strong>21. LIMITATION OF LIABILITY AND DISCLAIMERS:</strong>
              </p>

              <p>
                21.1 The Site is provided without any warranties or guarantees and in an "As
                Is"
                condition. You must bear the risks associated with the use of the Site.
              </p>

              <p>
                21.2 The Site provides content from other Internet sites or resources and while our
                website tries
                to ensure that material included on the Site is correct, reputable and of high quality,
                it shall
                not accept responsibility if this is not the case. We will not be responsible for any
                errors or
                omissions or for the results obtained from the use of such information or for any
                technical
                problems you may experience with the Site. This disclaimer constitutes an essential part
                of this
                User Agreement. In addition, to the extent permitted by applicable law, we are not
                liable, and
                you agree not to hold Company responsible for any damages or losses (including, but not
                limited
                to, loss of money, goodwill or reputation, profits, or other intangible losses or any
                special,
                indirect, or consequential damages) resulting directly or indirectly from:
              </p>

              <p>• Your use of or your inability to use our Website, Services and tools;</p>

              <p>• Delays or disruptions in our Website, Services, or tools;</p>

              <p>
                • Viruses or other malicious software obtained by accessing our Website, Services,
                or tools
                or any site, Services, or tool linked to our Website, Services, or tools;
              </p>

              <p>
                • Glitches, bugs, errors, or inaccuracies of any kind in our Website, Services, and
                tools or
                in the information and graphics obtained from them;
              </p>

              <p>
                • The content, actions, or inactions of third parties, including items listed using
                our
                Website, services, or tools or the destruction of allegedly fake items;
              </p>

              <p>• A suspension or other action taken with respect to your account;</p>

              <p>
                21.3 To the fullest extent permitted under applicable law, our website or its suppliers
                shall not
                be liable for any indirect, incidental, special, consequential or exemplary damages,
                including
                but not limited to, damages for loss of profits, goodwill, use, data or other intangible
                losses
                arising out of or in connection with the Site, its services or this User Agreement.
              </p>

              <p>
                21.4 Without prejudice to the generality of the section above, the total liability of our
                website
                to you for all liabilities arising out of this User Agreement be it in tort or contract
                is
                limited to the value of the services availed by you. Our website, its associates and
                technology
                partners make no representations or warranties about the accuracy, reliability,
                completeness,
                correctness and/or timeliness of any content, information, software, text, graphics,
                links or
                communications provided on or through the use of the Site or that the operation of the
                Site will
                be error free and/or uninterrupted. Consequently, our website assumes no liability
                whatsoever
                for any monetary or other damage suffered by you on account of the delay, failure,
                interruption,
                or corruption of any data or other information transmitted in connection with use of the
                Site;
                and/or any interruption or errors in the operation of the Site.
              </p>

              <p>
                <strong>22. MODIFICATION OF TERMS &amp; CONDITIONS OF SERVICES:</strong>
              </p>

              <p>
                We may at any time modify the Terms &amp; Conditions of Use of the website without any
                prior
                notification to you. You can access the latest version of the User Agreement at any
                given time
                on our website. You should regularly review the Terms &amp; Conditions on our website.
                In the
                event the modified Terms &amp; Conditions is not acceptable to you, you should
                discontinue using
                the service. However, if you continue to use the service you shall be deemed to have
                agreed to
                accept and abide by the modified Terms &amp; Conditions of Use of this site.
              </p>

              <p>
                <strong>23. CHOICE OF LAW:</strong>
              </p>

              <p>
                23.1 This Agreement shall in all respects be interpreted and construed with and by the
                laws of
                the United States of America.
              </p>

              <p>
                23.2 Users agree to submit to the exclusive jurisdiction of the courts of Las Vegas,
                United
                States of America in relation to proceedings arising out of this agreement.
              </p>

              <p>
                <strong>24. RESOLUTION OF DISPUTES AND JURISDICTION:</strong>
              </p>

              <p>24.1 Disputes with our website.</p>

              <p>a) The decision of the arbitrator shall be binding on both parties.</p>

              <p>
                b) Use of the Site is not authorized in any jurisdiction that does not give effect to all
                provisions of the Agreement, including without limitation, this section. You and we
                agree that
                any cause of action arising out of or related to the Site (including, but not limited
                to, any
                services provided or made available therein) or this Agreement must commence within one
                (1) year
                after the cause of action arose; otherwise, such cause of action is permanently barred.
              </p>

              <p>24.2 Disputes amongst Users or Third Parties:</p>

              <p>
                a) In the event a dispute arises between/amongst users i.e. between an employer and a job
                seeker
                and/or any third party, we encourage you to first contact the party with whom you have a
                dispute
                in order to resolve the dispute amicably.
              </p>

              <p>
                b) If an employer and job seeker are unable to resolve a dispute resulting from a
                transaction
                that occurs on our website, they may choose to participate in our website case system in
                order
                to resolve the dispute. Cases are escalated for review and resolution by our website.
                Our
                website provides its dispute resolution process for the benefit of users. Our website
                does so in
                its sole discretion, and our website has no obligation to resolve disputes between users
                or
                between users and outside parties. To the extent that we attempt to resolve a dispute,
                we will
                do so in good faith based solely on our policies. We will not make judgments regarding
                legal
                issues or claims.
              </p>

              <p>
                c) You may also report user-to-user disputes to your local law enforcement or a certified
                mediation or arbitration entity, as applicable.
              </p>

              <p>
                d) You release us (and our officers, directors, agents, subsidiaries, joint ventures and
                employees) from any and all claims, demands and damages (actual and consequential) of
                every kind
                and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed,
                arising out
                of or in any way connected with disputes amongst users/with one or more users, or an
                outside
                party.
              </p>

              <p>
                <strong>25. PRIVACY:</strong>
              </p>

              <p>
                We respect the privacy of our users and take all possible measures to protect them. Our
                Privacy
                Policy has all the practices, measures and steps we have to protect your privacy.
              </p>

              <p>
                <strong>26. SECURITY:</strong>
              </p>

              <p>
                We have employed highest possible security measures to protect your data which is stored
                with us.
                While we take all possible measure steps, you must immediately notify us upon becoming
                aware of
                any unauthorized access, any illegal online activity or any other security breach
                pertaining to
                the Website, your Account or our Services and do everything under your control to
                mitigate the
                unauthorized access or security breach (including providing us the evidence and
                notifying
                appropriate authorities). You are solely responsible for securing your password. We will
                not be
                liable for any loss or damage arising from unauthorized access of your account resulting
                from
                your failure to secure your password.
              </p>

              <p>
                <strong>27. USER AGREEMENT AS DEFENSE:</strong>
              </p>

              <p>
                The suits which are impliedly or specifically barred by this agreement shall be opposed
                by us by
                pleading this agreement.
              </p>

              <p>
                <strong>28. CLASS ACTIONS ARE BARRED:</strong>
              </p>

              <p>
                You expressly agree that you will not bring any class action against us unless we agree
                to such
                proceedings against us. Unless both parties agree, the arbitrator shall not consolidate
                or join
                the proceedings against us or you as a class of users.
              </p>

              <p>
                <strong>29. NOTICES:</strong>
              </p>

              <p>29.1 Any notices must be given by postal mail to us;</p>

              <p>Attn:711 E Carson Ave, Las Vegas, NV 89101.</p>

              <p>
                29.2 In your case, we will send you any notice at your provided email address (either
                during the
                registration process or when your email address changes). Notice shall be deemed given
                24 hours
                after email is sent, unless the sending party is notified that the email address is
                invalid.
                Alternatively, we may give you notice by certified mail, postage prepaid and return
                receipt
                requested, to the address provided to us. In such case, notice shall be deemed given
                three days
                after the date of mailing.
              </p>

              <p>
                <strong>30. OUR SERVICE AND GUARANTEES:</strong>
              </p>

              <p>
                Our website reserves the right to modify or terminate the website’s service for any
                reason,
                without notice, at any time. We also reserve the right to sell, alter, transfer or
                delegate our
                rights under this agreement to anyone without any prior notice to you. Our website does
                not
                guarantee continuous, uninterrupted access to the Site, and operation of the Site may be
                interfered with by numerous factors outside our control.
              </p>

              <p>
                <strong>31. FOREIGN JURISDICTION:</strong>
              </p>

              <p>
                The services of our website are available globally. By agreeing to our policy, you
                warrant that
                it is completely legal to use our services and website in your country. It is the duty
                of the
                user to verify any potential violation. The user agrees to indemnify us or sister
                companies,
                employees, agents or any related individual or organization for any liability it might
                incur in
                a foreign jurisdiction.&nbsp; Our services shall not be deemed to constitute an offer to
                sell or
                serve in countries where it is illegal to do so. We reserve the right to monitor the
                location
                from which you access the Site and to block access from any jurisdiction in which
                participation
                is illegal or restricted
              </p>

              <p>
                <strong>32. FORCE MAJEURE:</strong>
              </p>

              <p>
                We maintain that we shall not be held liable for any failure or departure from any
                obligation or
                promise mentioned in these terms or any of our policies which has happened due to
                circumstances
                beyond our reasonable control which includes but is not limited to natural disasters
                like flood,
                earthquake, acts of god, war, terrorism, religious and other riots, economic and
                technological
                embargoes etc.
              </p>

              <p>
                <strong>33. SEVERABILITY:</strong>
              </p>

              <p>
                If any portion of this Agreement is deemed void or unenforceable, then that provision
                shall be
                deemed severable from the Agreement and shall not affect the validity and enforceability
                of the
                remaining provisions.
              </p>

              <p>
                <strong>34. SURVIVAL:</strong>
              </p>

              <p>
                The provisions of the Agreement which expressly or by their nature should survive
                termination of
                the Agreement shall survive such termination unless adjudged otherwise by the competent
                courts.
                .
              </p>

              <p>
                <strong>35. NO WAIVER IMPLIED:</strong>
              </p>

              <p>
                The failure of us to enforce at any time any of the provisions of these of Agreement, or
                the
                failure to require at any time performance by you of any of the provisions of these
                provisions,
                shall in no way be construed to be a present or future waiver of such provisions, nor in
                any way
                affect our right to enforce each and every such provision thereafter. The express waiver
                by us
                of any provision, condition or requirement of these provisions shall not constitute a
                waiver of
                any future obligation to comply with such provision, condition or requirement.
              </p>

              <p>
                <strong>36. ENTIRE AND UNMODIFIED AGREEMENT:</strong>
              </p>

              <p>
                The Agreement, in connection with the other obligations and rules detailed in writing on
                the
                Site, constitute the entire agreement between you and the Site and cannot be modified by
                you.
                Nothing in this subsection will prevent the Site from modifying the terms of these Terms
                and
                Conditions and posting such modifications on the Site.
              </p>

              <p>
                <strong>37. COMMUNICATIONS:</strong>
              </p>

              <p>
                37.1 Our website’s team may send you information about offers, notices, letters and
                other
                communication to your email. You can ask us to refrain from sending you offers or
                promotional
                offers at support@onecrate.com.
              </p>

              <p>
                37.2 You consent to receive notices and information from us in respect of the Website and
                Services by electronic communication. You may withdraw this consent at any time, but if
                you do
                so we may choose to suspend or close your Account.
              </p>

              <p>
                <strong>38. CONTACT US:</strong>
              </p>

              <p>
                We are always there to help you at support@onecrate.com. You can send us notices or any
                other
                communication at support@onecrate.com. Our Permanent Address is 711 E Carson Ave, Las
                Vegas, NV
                89101..
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Terms"
};
</script>

<style scoped>
</style>