<template>
  <div class="container h-100">
    <div class="white-box-wrapper flex-center flex-column px-3">
      <div class="white-box white-box--md change-password-wrapper activated">
        <h3 class="mb-3">Confirm Your Email Address</h3>
        <h5>
          A confirmation email has been sent to
          <a>{{ email }}</a
          >.
          <span>
            Click the confirmation link in the email to activate your
            account.</span
          >
        </h5>
        <div class="d-flex justify-content-end mt-4 mr-3">
          <button class="btn btn-primary" @click="resendEmail">
            <span
              v-bind="{ isLoading }"
              v-if="isLoading == true"
              class="spinner-border spinner-border--md spinner-border--in-button"
            ></span
            >Resend Link
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "VerifyAccount",
  data() {
    return {
      email: "",
      isLoading: false,
    };
  },
  computed: {
    ...mapGetters(["userData"]),
  },
  mounted() {
    this.init();
  },
  methods: {
    init() {
      this.email = this.$router.params
        ? this.$router.params.email
        : this.$router["history"]["current"]["params"]
        ? this.$router["history"]["current"]["params"]["email"]
        : "";
    },
    resendEmail() {
      axios
        .get("/email/resend", {
          params: {
            email: this.email,
          },
        })
        .then((res) => {
          console.log("resend result::", res);
        });
    },
  },
};
</script>
