<template>
    <div>
        <b-modal id="edit-education-modal" hide-footer size="xl" centered title-class="text-blue" title-tag="h3" title="Edit Qualification"
                 body-class="has-scroll flex-fill h-100">
            <div class="form-wrap form-wrap--resume-builder p-0">
                <!--{{$v}}-->
                <form action="#" method="post" ref="edit_eduction_form" @submit.prevent="submit">
                    <div class="input-wrap" :class="{'form-group--error':$v.title.$error}">
                        <label for="title" class="form-control-label form-control-label--blue form-control-label--secondary"> Degree Title</label>
                        <input type="text" id="title" name="title" class="form-control pl-0" v-model.trim="$v.title.$model"
                               @blur="setDegreeTitle($event.target.value)" placeholder="Degree Title">
                    </div>
                    <div class="input-wrap" :class="{'form-group--error':$v.institution.$error}">
                        <label for="institution" class="form-control-label form-control-label--blue form-control-label--secondary">Institution</label>
                        <input type="text" id="institution" name="institution" class="form-control pl-0" v-model.trim="$v.institution.$model"
                               @blur="setInstitution($event.target.value)" placeholder="Institution">
                    </div>
                    <div class="input-wrap" :class="{'form-group--error':$v.degree_level.$error}">
                        <label for="degree_level" class="form-control-label form-control-label--blue form-control-label--secondary">Degree Level</label>
                        <input type="hidden" name="degree_level_id" id="degree_level_id"  ref="degree_level_id" v-model.trim="$v.degree_level.$model.id" value="">
                        <v-select  name="degree_level" id="degree_level" class="" label="name" :options="degreeList" v-model.trim="$v.degree_level.$model"
                                   @blur="setDegreeLevel($event.target.value)" @input="setQualification($v.degree_level.$model.id)"
                                   placeholder="Select Degree Level"></v-select>

                    </div>
                    <div class="input-wrap" :class="{'form-group--error':$v.completion_year.$error}">
                        <label for="completion_year" class="form-control-label form-control-label--blue form-control-label--secondary">
                            Completion Year</label>
                        <input type="hidden" name="completion_year_value" id="completion_year_value" ref="completion_year_value" v-model.trim="$v.completion_year.$model" value="">
                        <v-select  name="completion_year" id="completion_year" class="" label="name" :options="completionYears" v-model.trim="$v.completion_year.$model"
                                   @blur="setCompletionYear($event.target.value)" @input="getCompletionYear($v.completion_year.$model)"
                                   placeholder="Select Completion Year"></v-select>

                    </div>
                    <div class="input-wrap" :class="{'form-group--error':$v.completion_month.$error}">
                        <label for="completion_month" class="form-control-label form-control-label--blue form-control-label--secondary">
                            Completion Month</label>
                        <input type="hidden" name="completion_month_value" id="completion_month_value" ref="completion_month_value" v-model.trim="$v.completion_month.$model" value="">
                        <v-select  name="completion_month" id="completion_month" class="" label="name" :options="completionMonths" v-model.trim="$v.completion_month.$model"
                                   @blur="setCompletionMonth($event.target.value)" @input="getCompletionMonth($v.completion_month.$model)"
                                   placeholder="Select Completion Month"></v-select>

                    </div>
                    <div class="input-wrap" :class="{'form-group--error':$v.country.$error}">
                        <label for="country" class="form-control-label form-control-label--blue form-control-label--secondary">Country</label>
                        <input type="hidden" id="country_id_value" name="country_id_value" ref="country_id_value" v-model.trim="$v.country.$model.id" value="">
                        <v-select name="country" id="country" class="" label="name" :options="countries"
                                  v-model.trim="$v.country.$model" @input="getStates($v.country.$model.id)"
                                  @blur="setCountry($event.target.value)" placeholder="Select Country">
                        </v-select>
                    </div>
                    <div class="input-wrap" :class="{'form-group--error':$v.state.$error}">
                        <label for="state" class="form-control-label form-control-label--blue form-control-label--secondary">State</label>
                        <input type="hidden" name="education_state_id" id="education_state_id" ref="education_state_id" v-model.trim="$v.state.$model.id" value="">
                        <v-select name="state" id="state" class="" label="name" :options="states"
                                  v-model.trim="$v.state.$model" @input="getCities($v.state.$model.id)"
                                  @blur="setState($event.target.value)" placeholder="Select State">
                        </v-select>
                    </div>
                    <div class="input-wrap" :class="{'form-group--error':$v.city.$error}">
                        <label for="city" class="form-control-label form-control-label--blue form-control-label--secondary">City</label>
                        <input type="hidden" name="education_city_id" id="education_city_id" ref="education_city_id" v-model.trim="$v.city.$model.id" value="">
                        <v-select  name="city" id="city" class="" label="name" :options="cities"
                                   v-model.trim="$v.city.$model" @blur="setCity($event.target.value)" v-on:input="setCityId($v.city.$model.id)"
                                   placeholder="Select City">
                        </v-select>
                    </div>
                    <div class="input-wrap text-right mb-0">
                        <button type="submit" class="btn btn-primary" @click.prevent="submit">
                            <span v-bind="{isLoading, edu_loading_status}" v-if="isLoading == true" class="spinner-border spinner-border--md spinner-border--in-button"></span> Save</button>
                    </div>
                </form>
                <notifications group="foo" position="bottom right" />
            </div>
        </b-modal>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import vSelect from "vue-select";
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../../config/config';
    import alertService from '../../utils/alertService';
    import _ from 'lodash';
    import {
        required,
        minLength,
        between,
        email,
        maxLength,
        alpha,
        alphaNum,
        numeric,
        integer,
        sameAs,
    } from "vuelidate/lib/validators";
    export  default {
        name:'EditEducation',
        components: {
            "v-select": vSelect,
            button_spinner: ButtonSpinner,
        },
        data() {
            return {
                errors: [],
                title: "",
                institution: "",
                validationErrors: "",
                degreeList:[],
                degree_level: "",
                degree_level_id: "",
                completionYears:[],
                completion_year:"",
                completion_year_value:"",
                completionMonths:[],
                completion_month_value:"",
                completion_month:"",
                country: "",
                countries: [],
                country_id_value:"",
                state:"",
                education_state_id:"",
                states:[],
                city:"",
                education_city_id:"",
                cities:[],
                success_msg: "",
                isLoading: false,
                edu_loading_status: "",
                submitted: false,
                educationId:null,
            };
        },
        props: ['bus'],
        validations: {
            title: {
                required,
            },
            institution: {
                required,
            },
            degree_level: {
                required,
            },
            completion_year: {
                required,
            },
            completion_month : {
                required
            },
            country: {
                required,
            },
            state:{
                required,
            },
            city:{
                required
            },
        },
        mounted() {
            this.bus.$on('updateEducation', this.updateEducation)
        },
        methods: {
            updateEducation(id){
                let data = this.$store.getters.education[id];
                this.title = data.title;
                this.institution = data.institution;
                this.degree_level = data.degreelevel;
                this.completion_year = data.completion_year;
                this.completion_month = data.completion_month;
                this.country = data.country;
                this.state = data.state;
                this.city = data.city;
                this.educationId = data.id;
                this.$bvModal.show('edit-education-modal');
            },
            setDegreeTitle(value) {
                this.title = value;
                this.$v.title.$touch();
                if (this.$v.title.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter degree title",
                    });
                }
            },
            setInstitution(value) {
                this.institution = value;
                this.$v.institution.$touch();
                if (this.$v.institution.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Enter institution name",
                    });
                }
            },
            setDegreeLevel(value) {
                this.degree_level = value;
                this.$v.degree_level.$touch();
                if (this.$v.degree_level.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select degree level",
                    });
                }
            },
            setCompletionYear(value) {
                this.completion_year = value;
                this.$v.completion_year.$touch();
                if (this.$v.completion_year.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select completion year",
                    });
                }
            },
            setCompletionMonth(value) {
                this.completion_month = value;
                this.$v.completion_month.$touch();
                if (this.$v.completion_month.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select completion month",
                    });
                }
            },
            setCountry(value) {
                this.country = value;
                this.$v.country.$touch();
                if (this.$v.country.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select country name",
                    });
                }
            },
            setState(value) {
                this.state = value;
                this.$v.state.$touch();
                if (this.$v.state.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select state name",
                    });
                }
            },
            setCity(value) {
                this.city = value;
                this.$v.city.$touch();
                if (this.$v.city.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Select city name",
                    });
                }
            },
            getCountries: function() {
                axios.get(config.apiURL+"getCountryList/").then(
                    function(response) {
                        this.countries = response.data;
                    }.bind(this)
                );
            },
            getDegreeLevel: function() {
                axios.get(config.apiURL+"getDegreeLevel/").then(
                    function(response) {
                        this.degreeList = response.data;
                    }.bind(this)
                );
            },
            setQualification(degree_level_id) {
                this.$refs["degree_level_id"].value = degree_level_id;
            },
            getStates: function(country) {
                this.state = '';
                this.city = '';
                this.cities = [];
                this.$refs["country_id_value"].value = country;
                axios.get(config.apiURL+"getStateList/"+country)
                    .then(
                        function(response) {
                            this.states = response.data;
                        }.bind(this)
                    );
            },
            getCities: function(stateId) {
                this.city = '';
                this.$refs["education_state_id"].value = stateId;
                axios.get(config.apiURL+"getCityList/"+stateId)
                    .then(
                        function(response) {
                            this.cities = response.data;
                        }.bind(this)
                    );
            },
            setCityId(cityId) {
                this.$refs["education_city_id"].value = cityId;
            },
            getMonth : function() {
                this.completionMonths = ['January','February','March','April','May','June','July','August','September','October','November','December'];
            },
            getYears: function() {
                let yearsList = [];
                let d = new Date();
                let n = d.getFullYear()+4;
                let a = 1;
                for(let i= n; i > 1950; i--) {
                    yearsList[a] = i;
                    a++;
                }
                this.completionYears =yearsList;

            },
            getCompletionYear(year){
                this.$refs["completion_year_value"].value = year;
            },
            getCompletionMonth(month){
                this.$refs["completion_month_value"].value = month;
            },
            submit() {
                this.isLoading = true;
                this.errors = [];
                this.$v.$touch();
                //this.onClick();
                if (this.$v.$invalid) {
                    this.isLoading = false;
                    //this.$refs.addEducationModal.hide('ok');
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Fill required form fields",
                    });
                } else {
                    // do your submit logic here
                    this.submitStatus = "PENDING";
                    let form = this.$refs["edit_eduction_form"];
                    let formData = new FormData(form);
                    formData.append('id', this.educationId);
                    axios({url: config.apiURL + 'updateEducation', data: formData, method: 'POST' })
                        .then(resp => {
                            this.$store.commit('set_education', resp.data);
                            this.$bvModal.hide('edit-education-modal');
                            this.isLoading = false;
                            alertService.Success('Success', 'Edutation updated');
                        })
                        .catch(err => {
                            this.isLoading = false;
                            this.error = err.response.data.error;
                            alertService.Error('Error', this.error);
                            let errors = err.response.data.errors;
                            if (errors && errors.length > 0) {
                                for (const [key, value] of Object.entries(errors)) {
                                    value.forEach((text,index)=>{
                                        this.$notify({
                                            group: "foo",
                                            type: "error",
                                            title: key,
                                            text: text
                                        });
                                    })
                                }
                            }
                        });
                    setTimeout(() => {
                        this.submitStatus = "OK";
                    }, 500);
                }
            },
        },
        created: function() {
            this.getCountries();
            this.getDegreeLevel();
            this.getMonth();
            this.getYears();
        },
        computed: {
            ...mapGetters(['isLoggedIn','isCandidate','education']),
        },
    }

</script>
