<template>
  <div class="editor tiptap-textarea">
    <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
      <div class="menubar">
        <button
          class="menubar__button"
          title="Bold"
          :class="{ 'is-active': isActive.bold() }"
          @click="commands.bold"
        >
          <div class="icon">
            <icon icon="bold" class="icon__svg"></icon>
          </div>
        </button>

        <button
          class="menubar__button"
          title="Italic"
          :class="{ 'is-active': isActive.italic() }"
          @click="commands.italic"
        >
          <div class="icon">
            <icon name="italic" class="icon__svg"></icon>
          </div>
        </button>

        <!-- <button
          class="menubar__button"
          :class="{ 'is-active': isActive.strike() }"
          @click="commands.strike"
        >
          <div class="icon">
            <icon name="strike" class="icon__svg"></icon>
          </div>
        </button> -->
<!-- 
        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.underline() }"
          @click="commands.underline"
        >
          <div class="icon">
            <icon name="underline" class="icon__svg"></icon>
          </div>
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.code() }"
          @click="commands.code"
        >
          <div class="icon">
            <icon name="code" class="icon__svg"></icon>
          </div>
        </button> -->

        <button
          class="menubar__button"
          title="Paragraph"
          :class="{ 'is-active': isActive.paragraph() }"
          @click="commands.paragraph"
        >
          <div class="icon">
            <icon name="paragraph" class="icon__svg"></icon>
          </div>
        </button>

        <!-- <button
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 1 }) }"
          @click="commands.heading({ level: 1 })"
        >
          H1
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 2 }) }"
          @click="commands.heading({ level: 2 })"
        >
          H2
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 3 }) }"
          @click="commands.heading({ level: 3 })"
        >
          H3
        </button> -->

        <button
          class="menubar__button"
          title="Unordered List"
          :class="{ 'is-active': isActive.bullet_list() }"
          @click="commands.bullet_list"
        >
          <div class="icon">
            <icon name="ul" class="icon__svg"></icon>
          </div>
        </button>

        <button
          class="menubar__button"
          title="Ordered List"
          :class="{ 'is-active': isActive.ordered_list() }"
          @click="commands.ordered_list"
        >
          <div class="icon">
            <icon name="ol" class="icon__svg"></icon>
          </div>
        </button>

        <!-- <button
          class="menubar__button"
          :class="{ 'is-active': isActive.blockquote() }"
          @click="commands.blockquote"
        >
          <div class="icon">
            <icon name="quote" class="icon__svg"></icon>
          </div>
        </button>

        <button
          class="menubar__button"
          :class="{ 'is-active': isActive.code_block() }"
          @click="commands.code_block"
        >
          <div class="icon">
            <icon name="code" class="icon__svg"></icon>
          </div>
        </button> -->
<!-- 
        <button class="menubar__button" @click="commands.horizontal_rule">
          <div class="icon">
            <icon name="hr" class="icon__svg"></icon>
          </div>
        </button> -->

        <button class="menubar__button" @click="commands.undo" title="Undo">
          <div class="icon">
            <icon name="undo" class="icon__svg"></icon>
          </div>
        </button>

        <button class="menubar__button" @click="commands.redo" title="Redo">
          <div class="icon">
            <icon name="redo" class="icon__svg"></icon>
          </div>
        </button>
      </div>
    </editor-menu-bar>
    <!-- <editor-menu-bubble :editor="editor" :keep-in-bounds="keepInBounds" v-slot="{ commands, isActive, menu }">
      <div
        class="menububble"
        :class="{ 'is-active': menu.isActive }"
        :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
      >

        <button
          class="menububble__button"
          :class="{ 'is-active': isActive.bold() }"
          @click="commands.bold"
        >
           <div class="icon">
            <icon icon="bold" class="icon__svg"></icon>
          </div>
        </button>

        <button
          class="menububble__button"
          :class="{ 'is-active': isActive.italic() }"
          @click="commands.italic"
        >
         <div class="icon">
            <icon name="italic" class="icon__svg"></icon>
          </div>
        </button>

      </div>
    </editor-menu-bubble> -->
    <editor-content class="editor__content" :editor="editor" />
  </div>
</template>

<script>
import "../../../assets/tiptap-icons";
import { Editor, EditorContent, EditorMenuBar, EditorMenuBubble  } from "tiptap";
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
  Placeholder
} from "tiptap-extensions";

export default {
  name: "tiptapEditor",
  components: {
    EditorContent,
    EditorMenuBar,
    EditorMenuBubble
  },
  data() {
    return {
      editor: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History(),
          new Placeholder({
            emptyEditorClass: 'is-editor-empty',
            emptyNodeClass: 'is-empty',
            emptyNodeText: 'Write something',
            showOnlyWhenEditable: true,
            showOnlyCurrent: true,
          }),
        ],
      })
    };
  },
  beforeDestroy() {
    this.editor.destroy();
  }
};
</script>