<template>
  <div>
    <h3>Sign Up</h3>
    {{ $v }}
    <form action="#" method="post" @submit.prevent="submit">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div
              class="form-group col-md-12"
              :class="{ 'form-group--error': $v.companyname.$error }"
            >
              <label for="companyname">Company Name</label>
              <input
                type="text"
                name="companyname"
                id="companyname"
                class="form-control"
                v-model.trim="$v.companyname.$model"
                @input="setCompanyName($event.target.value)"
                @blur="setCompanyName($event.target.value)"
                placeholder="Company Name"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12" :class="{ 'form-group--error': $v.email.$error }">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-control"
                v-model.trim="$v.email.$model"
                @input="setEmail($event.target.value)"
                @blur="setEmail($event.target.value)"
                name="email"
                id="email"
                placeholder="Email address"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12" :class="{ 'form-group--error': $v.industry.$error }">
              <label for="industry">Industry</label>
              <input
                type="text"
                class="form-control"
                v-model.trim="$v.industry.$model"
                @input="setIndustry($event.target.value)"
                @blur="setIndustry($event.target.value)"
                name="industry"
                id="industry"
                placeholder="Industry"
              />
            </div>
          </div>
          <div class="row">
            <div
              class="form-group col-md-12"
              :class="{ 'form-group--error': $v.business_entity.$error }"
            >
              <label for="businesstype">Business Type</label>
              <v-select
                name="business_entity"
                id="business_entity"
                :options="['Private', 'Public','Nonprofit']"
                v-model.trim="$v.business_entity.$model"
                @input="setBusinessType($event.target.value)"
                @blur="setBusinessType($event.target.value)"
              ></v-select>
            </div>
          </div>
          <div class="row">
            <div
              class="form-group col-md-12"
              :class="{ 'form-group--error': $v.establishedin.$error }"
            >
              <label for="establishin">Established In</label>
              <input
                type="text"
                class="form-control"
                v-model.trim="$v.establishedin.$model"
                @input="setEstablishin($event.target.value)"
                @blur="setEstablishin($event.target.value)"
                name="establishedin"
                id="establishedin"
                placeholder
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12" :class="{ 'form-group--error': $v.employees.$error }">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                v-model.trim="$v.password.$model"
                @blur="setPassword($event.target.value)"
                name="password"
                id="password"
                placeholder="Enter password"
              />
            </div>
          </div>
          <div class="row">
            <div
              class="form-group col-md-12"
              :class="{ 'form-group--error': $v.repeatPassword.$error }"
            >
              <label for="password">Repeat password</label>
              <input
                type="password"
                class="form-control"
                v-model.trim="$v.repeatPassword.$model"
                @blur="setRepeatPassword($event.target.value)"
                name="repeatPassword"
                id="repeatPassword"
                placeholder="Re-enter password"
              />
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="form-group col-md-12" :class="{ 'form-group--error': $v.employees.$error }">
              <label for="employees">No of Employees</label>
              <input
                type="text"
                class="form-control"
                v-model.trim="$v.employees.$model"
                @input="setEmployees($event.target.value)"
                @blur="setEmployees($event.target.value)"
                name="employees"
                id="employees"
                placeholder="No of employees"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12" :class="{ 'form-group--error': $v.country.$error }">
              <label for="country">Country</label>
              <input type="hidden" name="countryname" id="countryname" v-model="countryname" />
              <v-select
                v-bind:value="2"
                name="country"
                id="country"
                label="name"
                :options="countries"
                v-model.trim="$v.country.$model"
                @input="getStates($v.country.$model.countryid)"
                placeholder="Select Country"
              ></v-select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-12" :class="{ 'form-group--error': $v.state.$error }">
              <label for="state">State</label>
              <input type="hidden" name="statesname" id="statesname" v-model="statesname" />
              <v-select
                name="state"
                id="state"
                label="statename"
                :options="states"
                v-model.trim="$v.state.$model"
                @input="getCities($v.state.$model.stateid)"
                placeholder="Select State"
              ></v-select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12" :class="{ 'form-group--error': $v.city.$error }">
              <label for="city">City</label>
              <input type="hidden" name="citiesname" id="citiesname" v-model="citiesname" />
              <v-select
                name="city"
                id="city"
                label="cityname"
                :options="cities"
                v-model.trim="$v.city.$model"
                placeholder="Select City"
              ></v-select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12" :class="{ 'form-group--error': $v.address.$error }">
              <label for="address">Address</label>
              <input
                type="text"
                class="form-control"
                v-model.trim="$v.address.$model"
                @input="setAddress($event.target.value)"
                @blur="setAddress($event.target.value)"
                name="address"
                id="address"
                placeholder="Address"
              />
            </div>
          </div>
          <div class="row">
            <div
              class="form-group col-md-12"
              :class="{ 'form-group--error': $v.postalcode.$error }"
            >
              <label for="postalcode">Zip Code</label>
              <input
                type="text"
                class="form-control"
                v-model.trim="$v.postalcode.$model"
                @input="setZipCode($event.target.value)"
                @blur="setZipCode($event.target.value)"
                name="postalcode"
                id="postalcode"
                placeholder="Zip Code"
              />
            </div>
          </div>
          <div class="row">
            <div
              class="form-group col-md-12"
              :class="{ 'form-group--error': $v.phonenumber.$error }"
            >
              <label for="phonenumber">Phone No#</label>
              <input
                type="text"
                class="form-control"
                v-model.trim="$v.phonenumber.$model"
                @input="setPhoneNo($event.target.value)"
                @blur="setPhoneNo($event.target.value)"
                name="phonenumber"
                id="phonenumber"
                placeholder="Phone Number"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <button
                type="submit"
                class="btn btn-primary"
                name="submit"
                id="submit"
                @click.prevent="submit"
                :disabled="$v.$invalid"
              >
                <span
                  v-bind="{isLoading, loadingstatus}"
                  v-if="isLoading == true"
                  class="spinner-border spinner-border--md spinner-border--in-button"
                ></span>Submit
              </button>
              <!-- <button-spinner
			@click.native="onClick"
			v-bind="{isLoading, loadingstatus}"
			:disabled="isLoading"
		>
			send
              </button-spinner>-->
            </div>
          </div>
        </div>
      </div>
    </form>
    <notifications group="foo" position="bottom right" />
  </div>
</template>

<script>
import FlashMessage from "@smartweb/vue-flash-message";
import vSelect from "vue-select";
import ButtonSpinner from "vue-button-spinner";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs
} from "vuelidate/lib/validators";

export default {
  name: "register",
  components: {
    "v-select": vSelect,
    buttonspinner: ButtonSpinner
    // 'success-message':SuccessMessage,
  },
  data() {
    return {
      //fields: { username: "", useremail: "", message: "" },
      errors: [],
      country: "",
      countries: [],
      countryvalue: "",
      options: [],
      state: "",
      states: [],
      city: "",
      cities: [],
      validationErrors: "",
      companyname: "",
      email: "",
      industry: "",
      business_entity: "",
      establishedin: "",
      employees: "",
      address: "",
      postalcode: "",
      phonenumber: "",
      password: "",
      repeatPassword: "",
      successmsg: "",
      isLoading: false,
      loadingstatus: "",

      submitted: false
    };
  },
  validations: {
    companyname: {
      required,
      alpha
    },
    email: {
      required,
      email,
      async isUnique(value) {
        if (value === "") return true;
        const response = await fetch("/register/checkEmail/" + value);
        // console.log("Email Response: " + Boolean(await response.json()));
        if (Boolean(await response.json()) == false) {
          this.$notify({
            group: "foo",
            type: "error",
            // title: "Important message",
            text: "Email address already taken"
          });
        }
        return Boolean(await response.json());
      }
    },
    industry: {
      required
    },
    business_entity: {
      required
    },
    establishedin: {
      required
    },
    employees: {
      required,
      numeric
    },
    country: {
      required
    },
    state: {
      required
    },
    city: {
      required
    },
    address: {
      required
    },
    postalcode: {
      required
    },
    phonenumber: {
      required
    },
    password: {
      required,
      minLength: minLength(6)
    },
    repeatPassword: {
      sameAsPassword: sameAs("password")
    }
  },
  methods: {
    setPassword(value) {
      this.password = value;
      this.$v.password.$touch();
      if (this.$v.password.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Enter password"
        });
      }
      if (this.$v.password.minLength == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Password length will be greate than 6"
        });
      }
    },
    setRepeatPassword(value) {
      this.repeatPassword = value;
      this.$v.repeatPassword.$touch();
      if (this.$v.repeatPassword.sameAsPassword == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Password and repeat password not matched!"
        });
      }
    },
    setCompanyName(value) {
      this.companyname = value;
      this.$v.companyname.$touch();
      if (this.$v.companyname.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Enter company name"
        });
      }
      if (this.$v.companyname.alpha == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Company name will be character"
        });
      }
    },
    setEmail(value) {
      this.email = value;
      this.$v.email.$touch();
      if (this.$v.email.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          // title: "Important message",
          text: "Enter email address"
        });
      }
      if (this.$v.email.email == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter valid email address"
        });
      }
      //this.checkEmail(value);
    },
    checkEmail(email) {
      if (email != "") {
        axios
          .get("/register/checkEmail", {
            params: {
              email: email
            }
          })
          .then(function(response) {
            if (response.data > 0) {
              // console.log("Response data: " + response.data);
              this.$toasted.show(response.data);
            }
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    setIndustry(value) {
      this.industry = value;
      this.$v.industry.$touch();
      if (this.$v.companyname.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter name of industry"
        });
      }
    },
    setBusinessType(value) {
      this.business_entity = value;
      this.$v.business_entity.$touch();
      if (this.$v.business_entity.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select business type"
        });
      }
    },
    setEstablishin(value) {
      this.establishedin = value;
      this.$v.establishedin.$touch();
      if (this.$v.establishedin.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter established year"
        });
      }
    },
    setEmployees(value) {
      this.employees = value;
      this.$v.employees.$touch();
      if (this.$v.employees.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter number of employees"
        });
      }
      if (this.$v.employees.numeric == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Employees will be integer"
        });
      }
    },
    setCountry(value) {
      this.country = value;
      this.$v.country.$touch();
      if (this.$v.country.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select country name"
        });
      }
    },
    setState(value) {
      this.state = value;
      this.$v.state.$touch();
      if (this.$v.state.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select state name"
        });
      }
    },
    setCity(value) {
      this.city = value;
      this.$v.city.$touch();
      if (this.$v.city.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Select city name"
        });
      }
    },
    setAddress(value) {
      this.address = value;
      this.$v.address.$touch();
      if (this.$v.address.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter company address"
        });
      }
    },
    setZipCode(value) {
      this.postalcode = value;
      this.$v.postalcode.$touch();
      if (this.$v.postalcode.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter postal code"
        });
      }
    },
    setPhoneNo(value) {
      this.phonenumber = value;
      this.$v.phonenumber.$touch();
      if (this.$v.phonenumber.required == false) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Enter phone number"
        });
      }
    },
    onClick() {
      this.isLoading = true;
      this.statusMessage = "Sending request to get a random response...";
      setTimeout(() => {
        this.isLoading = false;
        this.loadingstatus = Math.random() >= 0.5;
        this.statusMessage = this.status
          ? "Request successful!"
          : "Request failed";
        this.clear();
      }, 2000);
    },
    clear() {
      setTimeout(() => {
        this.statusMessage = "Try again :)";
        this.loadingstatus = "";
      }, 1600);
    },
    submit() {
      this.errors = [];
      this.$v.$touch();
      this.onClick();
      if (this.$v.$invalid) {
        this.$notify({
          group: "foo",
          type: "error",
          text: "Fill required form fields"
        });
      } else {
        // do your submit logic here
        this.submitStatus = "PENDING";
        //     axios
        // .post("/saveContact", this.fields)
        // .then(response => {
        //   //  this.successmsg ='You message sent';
        // })
        // .catch(error => {
        //   if (error.response.status === 422) {
        //     this.validationErrors = error.response.data.errors || {};
        //     this.errors = error.response.data.errors || {};
        //   }
        // });
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
    getCountries: function() {
      axios.get("/countrylist/").then(
        function(response) {
          this.countries = response.data;
          // this.options = response.data;
          //console.log("Countries list: " + JSON.stringify(response.data));
        }.bind(this)
      );
    },
    getStates: function(country) {
      axios
        .get("/statelist", {
          params: {
            country_id: country
          }
        })
        .then(
          function(response) {
            this.states = response.data;
            //console.log(response.data);
          }.bind(this)
        );
    },
    getCities: function(state_id) {
      axios
        .get("/citieslist", {
          params: {
            state_id: state_id
          }
        })
        .then(
          function(response) {
            this.cities = response.data;
          }.bind(this)
        );
    }
  },
  created: function() {
    this.getCountries();
  },
  computed: {
    countryname() {
      return this.$v.country.$model.countryid;
    },
    statesname() {
      return this.$v.state.$model.stateid;
    },
    citiesname() {
      return this.$v.city.$model.cityid;
    }
  }
};
</script>
