
<template>
  <LoadingBar v-if="isLoading" :loading="isLoading"></LoadingBar>
  <div v-else class="app__login-page d-flex align-items-center">
    <!--{{$v}}-->
    <div class="container app__login-page__inner white-box">
      <form action="#" method="post" @submit.prevent="submit">
        <div class="row">
          <div
            class="input-wrapper col-12 px-2 form-group"
            :class="{ 'form-group--error': $v.loginemail.$error }"
          >
            <input
              type="email"
              name="loginemail"
              id="loginemail"
              class="form-control form-control--round"
              v-model.trim="$v.loginemail.$model"
              placeholder="Email"
            />
          </div>
          <div
            class="input-wrapper col-12 px-2 form-group"
            :class="{ 'form-group--error': $v.loginpassword.$error }"
          >
            <input
              type="password"
              name="loginpassword"
              id="loginpassword"
              class="form-control form-control--round"
              v-model.trim="$v.loginpassword.$model"
              placeholder="Password"
            />
          </div>
          <div
            class="input-wrapper col-12 px-2 d-flex align-items-center justify-content-center flex-column"
          >
            <button class="btn btn-primary" @click.prevent="submit">
              <span
                v-bind="{ isLoading, loginstatus }"
                v-if="isLoading == true"
                class="spinner-border spinner-border--md spinner-border--in-button"
              ></span
              >Log In
            </button>
            <a href="/forgotPassword" class="app-link ml-2 mt-4"
              >Forgot Password?</a
            >
          </div>
        </div>
      </form>
    </div>
    <notifications group="foo" position="bottom right" />
  </div>
</template>

<script>
import ButtonSpinner from "vue-button-spinner";
import LoadingBar from "./common/LoadingBar";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  integer,
  sameAs,
} from "vuelidate/lib/validators";
export default {
  name: "LoginComponent",
  components: {
    buttonspinner: ButtonSpinner,
    LoadingBar,
  },
  data() {
    return {
      errors: [],
      loginemail: "",
      loginpassword: "",
      successmsg: "",
      isLoading: false,
      loginstatus: "",
      submitted: false,
    };
  },
  validations: {
    loginemail: {
      required,
    },
    loginpassword: {
      required,
    },
  },
  methods: {
    onClick() {
      this.isLoading = true;
      this.statusMessage = "Sending request to get a random response...";
      setTimeout(() => {
        this.isLoading = false;
        this.loadingstatus = Math.random() >= 0.5;
        this.statusMessage = this.status
          ? "Request successful!"
          : "Request failed";
        this.clear();
      }, 2000);
    },
    clear() {
      setTimeout(() => {
        this.statusMessage = "Try again :)";
        this.loadingstatus = "";
      }, 1600);
    },
    submit() {
      console.log("submit...");
      this.isLoading = true;
      this.errors = [];
      this.$v.$touch();
      //this.onClick();
      if (this.$v.$invalid) {
        this.isLoading = false;
        this.$notify({
          group: "foo",
          type: "error",
          text: "Invalid login detail",
        });
      } else {
        this.login();
        // // do your submit logic here
        // this.submitStatus = "PENDING";
        // axios.post("/login", {
        //     email:this.loginemail,
        //     password:this.loginpassword,
        // })
        //     .then(response => {
        //         this.isLoading = false;
        //        // console.log('Company data saved');
        //         //  this.successmsg ='You message sent';
        //     })
        //     .catch(error => {
        //         if (error.response.status === 422) {
        //             this.isLoading = false;
        //            // console.log("Login response: "+JSON.stringify(error.response.data.errors));
        //
        //             this.validationErrors = error.response.data.errors || {};
        //             if(this.validationErrors.email) {
        //                 let loginemail = [];
        //                 this.validationErrors.email.forEach(function (element) {
        //                     loginemail = element;
        //                 });
        //                 this.$notify({
        //                     group: "foo",
        //                     type: "error",
        //                     text: loginemail,
        //                 });
        //             }
        //         }
        //     });
        // setTimeout(() => {
        //     this.submitStatus = "OK";
        // }, 500);
      }
    },
    login: function () {
      console.log("login function...");
      let email = this.loginemail;
      let password = this.loginpassword;
      this.loading = true;
      this.submitStatus = "PENDING";
      this.$store
        .dispatch("login", { email, password })
        .then((data) => {
          console.log("data login", data);
          console.log("data login 1234564", data);
          this.$router.push({ name: "home" });
          if (this.isMobile() === true) {
            //console.log("Is Mobile device");
            this.$router.push({ name: "home" });
          }
          // this.$router.push({ name: "home" });
        })
        .catch((err) => {
          //console.log("Call error exception");
          this.loading = false;
          //this.error = err.response.data.error;
          // console.log(err.response);
        });
    },
    // Used to detect whether the users browser is an mobile browser
    isMobile() {
      ///<summary>Detecting whether the browser is a mobile browser or desktop browser</summary>
      ///<returns>A boolean value indicating whether the browser is a mobile browser or not</returns>

      if (sessionStorage.desktop)
        // desktop storage
        return false;
      else if (localStorage.mobile)
        // mobile storage
        return true;

      // alternative
      let mobile = [
        "iphone",
        "ipad",
        "android",
        "blackberry",
        "nokia",
        "opera mini",
        "windows mobile",
        "windows phone",
        "iemobile",
      ];
      for (let i in mobile)
        if (
          navigator.userAgent.toLowerCase().indexOf(mobile[i].toLowerCase()) > 0
        )
          return true;

      // nothing found.. assume desktop
      return false;
    },
  },
};
</script>

