<template>
    <LoadingBar v-if="isLoading" :loading="isLoading"></LoadingBar>
    <div v-else>
        <!--{{$v}}-->
        <form action="#" method="post" @submit.prevent="submit">
            <input type="hidden" name="user_type" id="user_type" value="candidate" />
            <div class="form-wrap">
                <div class="input-wrap" :class="{ 'form-group--error': $v.first_name.$error }">
                    <input
                        type="text"
                        class="form-control form-control--round"
                        name="first_name"
                        id="first_name"
                        v-model.trim="$v.first_name.$model"
                        @blur="setFirstName($event.target.value)"
                        @keydown.enter.stop.prevent
                        placeholder="First Name"
                    />
                </div>
                <div class="input-wrap" :class="{ 'form-group--error': $v.last_name.$error }">
                    <input
                        type="text"
                        class="form-control form-control--round"
                        name="last_name"
                        id="last_name"
                        v-model.trim="$v.last_name.$model"
                        @blur="setLastName($event.target.value)"
                        @keydown.enter.stop.prevent
                        placeholder="Last Name"
                    />
                </div>

                <div class="input-wrap has-selectbox" @keydown.enter.prevent.self :class="{ 'form-group--error': $v.country.$error }">
                    <input type="hidden" name="countryname" id="countryname" v-model="countryname"/>
                    <v-select
                        name="country"
                        id="country"
                        class="form-control form-control--round"
                        label="name"
                        :options="countries"
                        v-model.trim="$v.country.$model"
                        placeholder="Select Country"
                    ></v-select>
                </div>
                <div class="input-wrap" :class="{ 'form-group--error': $v.email.$error }">
                    <input
                        type="email"
                        class="form-control form-control--round"
                        name="email"
                        id="email"
                        v-model.trim="$v.email.$model"
                        @blur="setEmail($event.target.value)"
                        @keydown.enter.stop.prevent
                        placeholder="Email"
                    />
                </div>

                <div class="input-wrap" :class="{ 'form-group--error': $v.password.$error }">
                    <input
                        type="password"
                        class="form-control form-control--round"
                        name="password"
                        id="password"
                        v-model.trim="$v.password.$model"
                        @blur="setPassword($event.target.value)"
                        @keydown.enter.stop.prevent
                        placeholder="Password"
                    />
                </div>

                <div class="input-wrap" :class="{ 'form-group--error': $v.password_confirmation.$error }">
                    <input
                        type="password"
                        class="form-control form-control--round"
                        name="password_confirmation"
                        id="password_confirmation"
                        v-model.trim="$v.password_confirmation.$model"
                        @blur="setPasswordConfirmation($event.target.value)"
                        @keydown.enter.stop.prevent
                        placeholder="Confirm Password"
                    />
                </div>

                <div class="input-wrap">
                    <div class="agreement-checkbox">
                        <div class="checkbox">
                            <div class="custom-control custom-checkbox">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="candidate_agreement"
                                    name="candidate_agreement"
                                    value="1"
                                    v-model.trim="$v.candidate_agreement.$model"
                                />
                                <label class="custom-control-label" for="candidate_agreement"></label>
                            </div>
                        </div>
                        <p>
                            I agree to OneCrate's
                            <a href="https://www.onecrate.com/terms">Terms</a>,
                            <a href="https://www.onecrate.com/privacypolicy">Privacy Policy</a>,
                            and
                            <a href="https://www.onecrate.com/cookiepolicy">Cookie Policy</a>.
                        </p>
                    </div>
                </div>
                <div class="input-wrap">
                    <button type="submit" class="btn btn-primary btn-lg" @click.prevent="submit">
                        <span
                            v-bind="{isLoading, loadingstatus}"
                            v-if="isLoading == true"
                            class="spinner-border spinner-border--md spinner-border--in-button"
                        ></span> Sign Up
                    </button>
                </div>
            </div>
        </form>
        <notifications group="foo" position="bottom right" />
    </div>
</template>

<script>
    import vSelect from "vue-select";
    import ButtonSpinner from "vue-button-spinner";
    import LoadingBar from "./common/LoadingBar";
    import {
        required,
        minLength,
        between,
        email,
        maxLength,
        alpha,
        alphaNum,
        numeric,
        integer,
        sameAs
    } from "vuelidate/lib/validators";
    export default {
        name: "RegisterCandidateComponent",
        components: {
            "v-select": vSelect,
            buttonspinner: ButtonSpinner,
            LoadingBar
        },
        data() {
            return {
                errors: [],
                errorsMessage: "",
                country: "",
                countries: [],
                countryvalue: "",
                options: [],
                user_type: "",
                first_name: "",
                last_name: "",
                validationErrors: "",
                email: "",
                password: "",
                password_confirmation: "",
                candidate_agreement: "",
                errorresponse: "",
                successmsg: "",
                isLoading: false,
                loadingstatus: "",
                submitted: false
            };
        },
        validations: {
            first_name: {
                required,
                alpha
            },
            last_name: {
                required,
                alpha
            },
            email: {
                required,
                email,
                async isUnique(value) {
                    console.log("Value: " + value);
                    const response = await fetch("/api/isValidEmail/" + value);
                    console.log(
                        "Email Response: " + Boolean(await response.clone().json())
                    );
                    if (Boolean(await response.clone().json()) == false) {
                        this.$notify({
                            group: "foo",
                            type: "error",
                            // title: "Important message",
                            text: "Email address already taken"
                        });
                    }
                    let isValidEmail = await response.json();
                    return Boolean(isValidEmail.isValid);
                }
            },
            country: {
                required
            },
            password: {
                required,
                minLength: minLength(8)
            },
            password_confirmation: {
                required,
                sameAsPassword: sameAs("password")
                // minLength: minLength(8),
            },
            candidate_agreement: {
                required
            }
        },
        methods: {
            setPassword(value) {
                this.password = value;
                this.$v.password.$touch();
                if (this.$v.password.required == false) {
                    this.validationErrors = "Enter password!";
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter password"
                    });
                }
                if (this.$v.password.minLength == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Password length will be greater than 8"
                    });
                }
            },
            setPasswordConfirmation(value) {
                this.password_confirmation = value;
                this.$v.password_confirmation.$touch();
                if (this.$v.password_confirmation.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter password"
                    });
                }
                if (this.$v.password_confirmation.sameAsPassword == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Password and confirm password not matched"
                    });
                }
                if (this.$v.password_confirmation.minLength == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Password length will be greater than 8"
                    });
                }
            },
            setFirstName(value) {
                this.first_name = value;
                this.$v.first_name.$touch();
                if (this.$v.first_name.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter first name"
                    });
                }
                if (this.$v.first_name.alpha == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "First name will be character"
                    });
                }
            },
            setLastName(value) {
                this.last_name = value;
                this.$v.last_name.$touch();
                if (this.$v.last_name.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter last name"
                    });
                }
                if (this.$v.last_name.alpha == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Last name will be character"
                    });
                }
            },
            setEmail(value) {
                this.email = value;
                this.$v.email.$touch();
                if (this.$v.email.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter email address"
                    });
                }
                if (this.$v.email.email == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Enter valid email address"
                    });
                }
                //this.checkEmail(value);
            },
            setCountry(value) {
                this.country = value;
                this.$v.country.$touch();
                if (this.$v.country.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select country name"
                    });
                }
            },
            onClick() {
                this.isLoading = true;
                this.statusMessage = "Sending request to get a random response...";
                setTimeout(() => {
                    this.isLoading = false;
                    this.loadingstatus = Math.random() >= 0.5;
                    this.statusMessage = this.status
                        ? "Request successful!"
                        : "Request failed";
                    this.clear();
                }, 2000);
            },
            clear() {
                setTimeout(() => {
                    this.statusMessage = "Try again :)";
                    this.loadingstatus = "";
                }, 1600);
            },
            submit() {
                this.errors = [];
                this.$v.$touch();
                // this.onClick();
                this.isLoading = true;

                if (this.$v.$invalid) {
                    this.isLoading = false;
                    if (this.$v.email.isUnique == false) {
                        this.$notify({
                            group: "foo",
                            type: "error",
                            text: "Email address already in use."
                        });
                    } else if (this.candidate_agreement == false) {
                        this.$notify({
                            group: "foo",
                            type: "error",
                            text: "Accept terms of use."
                        });
                    } else {
                        this.$notify({
                            group: "foo",
                            type: "error",
                            text: "Fill required form fields"
                        });
                    }
                } else {
                    // do your submit logic here
                    this.submitStatus = "PENDING";
                    //console.log("Fields data: " + JSON.stringify(this.last_name));

                    axios
                        .post("/register", {
                            first_name: this.first_name,
                            last_name: this.last_name,
                            username: this.first_name,
                            email: this.email,
                            password: this.password,
                            country_id: this.countryname,
                            password_confirmation: this.password_confirmation,
                            candidate_agreement: this.candidate_agreement,
                            user_type: "candidate"
                        })
                        .then(response => {
                            this.isLoading = false;
                            this.successmsg = "User Registered";
                            let email = this.email;
                            let password = this.password;
                            this.submitStatus = "PENDING";
                            this.$router.push({name: 'verifyAccount', params: { email: email }});

                            // this.$store
                            //   .dispatch("login", { email, password })
                            //   .then(data => {
                            //     console.log("data login", data);
                            //     this.$router.push({ name: "home" });
                            //   })
                            //   .catch(err => {
                            //     this.loading = false;
                            //     this.error = err.response.data.error;
                            //     console.log(err.response);
                            //   });
                        })
                        .catch(error => {
                            this.isLoading = false;
                            // console.log("Error Messages: "+JSON.stringify(error.response.data.errors));
                            if (error.response.status === 422) {
                                this.errorsMessage = error.response.data.errors || {};
                                if (this.errorsMessage.first_name) {
                                    let firstname = [];
                                    this.errorsMessage.first_name.forEach(function(element) {
                                        firstname = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: firstname
                                    });
                                }
                                if (this.errorsMessage.last_name) {
                                    let lastname = [];
                                    this.errorsMessage.last_name.forEach(function(element) {
                                        lastname = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: lastname
                                    });
                                }
                                if (this.errorsMessage.email) {
                                    let useremail = [];
                                    this.errorsMessage.email.forEach(function(element) {
                                        useremail = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: useremail
                                    });
                                }
                                if (this.errorsMessage.country_id) {
                                    let candidatecountry = "";
                                    this.errorsMessage.country_id.forEach(function(element) {
                                        candidatecountry = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: candidatecountry
                                    });
                                }
                                if (this.errorsMessage.password) {
                                    let candidatepassword = [];
                                    this.errorsMessage.password.forEach(function(element) {
                                        candidatepassword = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: candidatepassword
                                    });
                                }
                                if (this.errorsMessage.candidate_agreement) {
                                    let candidateagreement = "";
                                    this.errorsMessage.candidate_agreement.forEach(function(
                                        element
                                    ) {
                                        candidateagreement = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: candidateagreement
                                    });
                                }
                            }
                        });
                    setTimeout(() => {
                        this.submitStatus = "OK";
                    }, 500);
                }
            },
            getCountries: function() {
                // console.log("Call candidate register component");
                axios.get("/api/getCountryList/").then(
                    function(response) {
                        this.countries = response.data;
                        // this.options = response.data;
                        //console.log("Countries list: " + JSON.stringify(response.data));
                    }.bind(this)
                );
            }
        },
        created: function() {
            this.getCountries();
        },
        computed: {
            countryname() {
                return this.$v.country.$model.id;
            }
        },
        mounted() {
            // console.log("Load mounted function()");
            // this.submit();
        }
    };
</script>
