<template>
    <LoadingBar v-if="isLoading" :loading="isLoading"></LoadingBar>
    <div v-else>
        <!--{{$v}}-->
        <form action="#" method="post" @submit.prevent="submit">
            <input type="hidden" name="user_type" id="companyuser_type" value="company" />
            <div class="form-wrap">
                <div class="input-wrap" :class="{'form-group--error':$v.name.$error}">
                    <input
                        type="text"
                        class="form-control form-control--round"
                        name="name"
                        id="name"
                        v-model.trim="$v.name.$model"
                        @blur="setCompanyName($event.target.value)"
                        @keydown.enter.stop.prevent
                        placeholder="Organization Name"
                    />
                </div>
                <div class="input-wrap has-selectbox" @keydown.enter.prevent.self :class="{'form-group--error':$v.industry.$error}">
                    <input
                        type="hidden"
                        name="industry_id"
                        id="industry_id"
                        ref="industry_id"
                        v-model="$v.industry.$model.id"
                    />
                    <v-select
                        name="industry"
                        id="industry"
                        class="form-control form-control--round"
                        label="name"
                        :options="industries"
                        v-model.trim="$v.industry.$model"
                        placeholder="Select Industry"
                    ></v-select>
                    <!--<v-select  name="industry" id="industry" class="form-control form-control&#45;&#45;round" label="name" :filterable="false"-->
                    <!--:options="industries" @search="onSearch" v-model.trim="$v.industry.$model" placeholder="Select Industry" >-->
                    <!--</v-select>-->
                </div>
                <div class="input-wrap has-selectbox" @keydown.enter.prevent.self :class="{'form-group--error':$v.ccountry.$error}">
                    <input type="hidden" name="ccountryname" id="ccountryname" v-model="ccountryname" />
                    <v-select
                        name="ccountry"
                        id="ccountry"
                        class="form-control form-control--round"
                        label="name"
                        :options="ccountries"
                        v-model.trim="$v.ccountry.$model"
                        placeholder="Select Country"
                    ></v-select>
                </div>
                <div class="input-wrap" :class="{'form-group--error':$v.cemail.$error}">
                    <input
                        type="email"
                        class="form-contol form-control--round"
                        name="cemail"
                        id="cemail"
                        v-model.trim="$v.cemail.$model"
                        @blur="setCompanyEmail($event.target.value)"
                        @keydown.enter.stop.prevent
                        placeholder="Email"
                    />
                </div>
                <div class="input-wrap" :class="{'form-group--error': $v.cpassword.$error}">
                    <input
                        type="password"
                        class="form-control form-control--round"
                        name="cpassword"
                        id="cpassword"
                        v-model.trim="$v.cpassword.$model"
                        @blur="setCompanyPassword($event.target.value)"
                        @keydown.enter.stop.prevent
                        placeholder="Password"
                    />
                </div>

                <div
                    class="input-wrap"
                    :class="{ 'form-group--error': $v.password_confirmation_company.$error }"
                >
                    <input
                        type="password"
                        class="form-control form-control--round"
                        name="password_confirmation"
                        id="password_confirmation_company"
                        v-model.trim="$v.password_confirmation_company.$model"
                        @blur="setCompanyPasswordConfirmation($event.target.value)"
                        @keydown.enter.stop.prevent
                        placeholder="Confirm Password"
                    />
                </div>

                <div class="input-wrap has-selectbox" @keydown.enter.prevent.self :class="{'form-group--error':$v.hear_about.$error}">
                    <input type="hidden" name="hear_about_us" id="hear_about_us" v-model="hear_about_us" />
                    <v-select
                        name="hear_about"
                        id="hear_about"
                        class="form-control form-control--round"
                        label="name"
                        :options="['Email', 'Google','Social','Podcast','Friends','Other']"
                        v-model.trim="$v.hear_about.$model"
                        placeholder="How did you hear about us?"
                    ></v-select>
                </div>
                <div class="input-wrap" :class="{'form-group--error':$v.company_agreement.$error}">
                    <div class="agreement-checkbox">
                        <div class="checkbox">
                            <div class="custom-control custom-checkbox">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="company_agreement"
                                    name="company_agreement"
                                    value="1"
                                    v-model.trim="$v.company_agreement.$model"
                                />
                                <label class="custom-control-label" for="company_agreement"></label>
                            </div>
                        </div>
                        <p>
                            I agree to OneCrate's
                            <a href="https://www.onecrate.com/terms">Terms</a>,
                            <a href="https://www.onecrate.com/privacypolicy">Privacy Policy</a>,
                            and
                            <a href="https://www.onecrate.com/cookiepolicy">Cookie Policy</a>.
                        </p>
                    </div>
                </div>
                <div class="input-wrap">
                    <button class="btn btn-primary btn-lg" @click.prevent="submit">
                        <span
                            v-bind="{isLoading, cloadingstatus}"
                            v-if="isLoading == true"
                            class="spinner-border spinner-border--md spinner-border--in-button"
                        ></span> Sign Up
                    </button>
                </div>
            </div>
        </form>
        <notifications group="foo" position="bottom right" />
    </div>
</template>

<script>
    import _ from "lodash";
    import vSelect from "vue-select";
    import ButtonSpinner from "vue-button-spinner";
    import config from "../config/config";
    import LoadingBar from "./common/LoadingBar";
    import {
        required,
        minLength,
        between,
        email,
        maxLength,
        alpha,
        alphaNum,
        numeric,
        integer,
        sameAs
    } from "vuelidate/lib/validators";
    export default {
        name: "RegisterCompanyComponent",
        components: {
            "v-select": vSelect,
            buttonspinner: ButtonSpinner,
            LoadingBar,
            // 'success-message':SuccessMessage,
        },
        data() {
            return {
                errors: [],
                ccountry: "",
                ccountries: [],
                countryvalue: "",
                options: [],
                name: "",
                validationErrors: "",
                cemail: "",
                cpassword: "",
                password_confirmation_company: "",
                industry: "",
                industries: [],
                hear_about: "",
                company_agreement: "",
                successmsg: "",
                isLoading: false,
                cloadingstatus: "",
                submitted: false
            };
        },
        validations: {
            name: {
                required
            },
            cemail: {
                required,
                email,
                async isUnique(value) {
                    if (value === "") return true;
                    const response = await fetch(config.apiURL + "isValidEmail/" + value);
                    // console.log("Email Response: " + Boolean(await response.json()));
                    if (Boolean(await response.clone().json()) == false) {
                        this.$notify({
                            group: "foo",
                            type: "error",
                            // title: "Important message",
                            text: "Email address already taken"
                        });
                    }
                    let isValidEmail = await response.json();
                    return Boolean(isValidEmail.isValid);
                }
            },
            ccountry: {
                required
            },
            cpassword: {
                required,
                minLength: minLength(8)
            },
            password_confirmation_company: {
                required,
                comfirmpassword: sameAs("cpassword"),
                minLength: minLength(8)
            },
            industry: {
                required
            },
            hear_about: {
                required
            },
            company_agreement: {
                required
            }
        },
        methods: {
            setCompanyPassword(value) {
                this.cpassword = value;
                this.$v.cpassword.$touch();
                if (this.$v.cpassword.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter password"
                    });
                }

                if (this.$v.cpassword.minLength == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Password length will be greater than 6"
                    });
                }
            },
            setCompanyPasswordConfirmation(value) {
                this.password_confirmation_company = value;
                this.$v.password_confirmation_company.$touch();
                if (this.$v.password_confirmation_company.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter password"
                    });
                }
                if (this.$v.password_confirmation_company.comfirmpassword == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Password and confirm password not matched"
                    });
                }
            },
            setCompanyName(value) {
                this.name = value;
                this.$v.name.$touch();
                if (this.$v.name.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter organization name"
                    });
                }
                if (this.$v.name.alpha == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Organization name will be character"
                    });
                }
            },

            setCompanyEmail(value) {
                this.cemail = value;
                this.$v.cemail.$touch();
                if (this.$v.cemail.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter email address"
                    });
                }
                if (this.$v.cemail.email == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Enter valid email address"
                    });
                }
                //this.checkEmail(value);
            },
            setCompanyCountry(value) {
                this.ccountry = value;
                this.$v.ccountry.$touch();
                if (this.$v.ccountry.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select country name"
                    });
                }
            },
            onClick() {
                this.isLoading = true;
                this.statusMessage = "Sending request to get a random response...";
                setTimeout(() => {
                    this.isLoading = false;
                    this.loadingstatus = Math.random() >= 0.5;
                    this.statusMessage = this.status
                        ? "Request successful!"
                        : "Request failed";
                    this.clear();
                }, 2000);
            },
            clear() {
                setTimeout(() => {
                    this.statusMessage = "Try again :)";
                    this.loadingstatus = "";
                }, 1600);
            },
            submit() {
                this.isLoading = true;
                this.errors = [];
                this.$v.$touch();
                // this.onClick();
                if (this.$v.$invalid) {
                    this.isLoading = false;
                    if (this.$v.cemail.isUnique == false) {
                        this.$notify({
                            group: "foo",
                            type: "error",
                            text: "Email address already in use."
                        });
                    } else if (this.company_agreement == false) {
                        this.$notify({
                            group: "foo",
                            type: "error",
                            text: "Accept terms of use."
                        });
                    } else {
                        this.$notify({
                            group: "foo",
                            type: "error",
                            text: "Fill required form fields"
                        });
                    }
                } else {
                    // do your submit logic here
                    this.submitStatus = "PENDING";
                    axios
                        .post("/register", {
                            email: this.cemail,
                            password: this.cpassword,
                            password_confirmation: this.password_confirmation_company,
                            username: this.name,
                            country_id: this.ccountryname,
                            company_name: this.name,
                            industry: this.industry_id,
                            user_type: "company",
                            hear_about_us: this.hear_about_us,
                            company_agreement: this.company_agreement
                        })
                        .then(response => {
                            this.isLoading = false;
                            //console.log('Company data saved');
                            this.successmsg = "User Registered";
                            let email = this.cemail;
                            let password = this.cpassword;
                            this.submitStatus = "PENDING";
                            this.$router.push({name: 'verifyAccount', params: { email: email }});
                            // this.$store
                            //     .dispatch("login", { email, password })
                            //     .then(data => {
                            //         console.log('data login',data);
                            //         this.$router.push({name: "home"});
                            //     })
                            //     .catch(err => {
                            //         this.loading = false;
                            //         this.error = err.response.data.error;
                            //         console.log(err.response);
                            //     });
                        })
                        .catch(error => {
                            if (error.response.status === 422) {
                                this.isLoading = false;
                                this.validationErrors = error.response.data.errors || {};
                                if (this.validationErrors.company_name) {
                                    let companyname = [];
                                    this.validationErrors.company_name.forEach(function(element) {
                                        companyname = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: companyname
                                    });
                                }
                                if (this.validationErrors.industry) {
                                    let companyindustry = [];
                                    this.validationErrors.industry.forEach(function(element) {
                                        companyindustry = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: companyindustry
                                    });
                                }
                                if (this.validationErrors.email) {
                                    let companyemail = [];
                                    this.validationErrors.email.forEach(function(element) {
                                        companyemail = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: companyemail
                                    });
                                }
                                if (this.validationErrors.country_id) {
                                    let companycoountry = "";
                                    this.validationErrors.country_id.forEach(function(element) {
                                        companycoountry = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: companycoountry
                                    });
                                }
                                if (this.validationErrors.password) {
                                    let companypassword = [];
                                    this.validationErrors.password.forEach(function(element) {
                                        companypassword = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: companypassword
                                    });
                                }
                                if (this.validationErrors.company_agreement) {
                                    let companyagreement = "";
                                    this.validationErrors.company_agreement.forEach(function(
                                        element
                                    ) {
                                        companyagreement = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: companyagreement
                                    });
                                }
                                if (this.validationErrors.hear_about_us) {
                                    let hearaboutcompany = "";
                                    this.validationErrors.hear_about_us.forEach(function(element) {
                                        hearaboutcompany = element;
                                    });
                                    this.$notify({
                                        group: "foo",
                                        type: "error",
                                        text: hearaboutcompany
                                    });
                                }
                            }
                        });
                    setTimeout(() => {
                        this.submitStatus = "OK";
                    }, 500);
                }
            },
            getCompanyCountries: function() {
                axios.get(config.apiURL + "getCountryList/").then(
                    function(response) {
                        this.ccountries = response.data;
                        // this.options = response.data;
                        //console.log("Countries list: " + JSON.stringify(response.data));
                    }.bind(this)
                );
            },
            getIndustriesList: function() {
                axios.get(config.apiURL + "getIndustryList/").then(
                    function(response) {
                        this.industries = response.data;
                    }.bind(this)
                );
            },
            onSearch(search, loading) {
                loading(true);
                this.search(loading, search, this);
            },
            search: _.debounce((loading, search, vm) => {
                fetch("/api/getIndustry/" + escape(search)).then(res => {
                    res.json().then(function(value) {
                        console.log(value);
                        vm.industries = value;
                    });
                    loading(false);
                });
            }, 350)
        },
        created: function() {
            this.getCompanyCountries();
            this.getIndustriesList();
        },
        computed: {
            ccountryname() {
                // console.log('Country value id: '+this.$v.ccountry.$model.id);
                return this.$v.ccountry.$model.id;
            },
            hear_about_us() {
                // console.log('Hear about us: '+this.$v.hear_about.$model);
                return this.$v.hear_about.$model;
            },
            industry_id() {
                // console.log('industry_id: '+JSON.stringify(this.$v.industry.$model));
                return this.$v.industry.$model.id;
            }
        }
    };
</script>
