<template>
  <div class="row w-100 nav-inner">
    <div class="col-xl-8 col-lg-9">
      <div class="app-navigation">
        <ul class="app-navigation__list">
          <router-link
            to="/home"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
            data-v-step="1"
          >
            <a href="">
              <img class="desktop-icon" src="/assets/images/home.svg" alt="" />
              <div class="icon-mobile">
                <img src="/assets/images/home.svg" alt="HOME" />
              </div>
              <span class="link-text">Home</span>
            </a>
          </router-link>
          <router-link
            v-if="candidateData.company_details"
            :to="'/' + isopUrl"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
            data-v-step="7"
          >
            <a href="">
              <img class="desktop-icon" src="/assets/images/chart.svg" alt="" />
              <div class="icon-mobile">
                <img src="/assets/images/chart.svg" alt="ISOP" />
              </div>
              <span class="link-text">ISOP</span>
            </a>
          </router-link>
          <!--<span class="isop-link" >-->
          <!--@click.capture="clicked"-->
          <router-link
            v-else
            to="/noisop"
            tag="li"
            event=""
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
            data-v-step="7"
          >
            <a href="">
              <img class="desktop-icon" src="/assets/images/chart.svg" alt="" />
              <div class="icon-mobile">
                <img src="/assets/images/chart.svg" alt="ISOP" />
              </div>
              <span class="link-text">ISOP</span>
            </a>
          </router-link>
          <!--</span>-->
          <router-link
            to="/offers"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
            data-v-step="8"
          >
            <a href="">
              <img
                class="desktop-icon"
                src="/assets/images/envelope.svg"
                alt=""
              />
              <div class="icon-mobile">
                <img src="/assets/images/envelope.svg" alt="Offer" />
              </div>
              <span class="link-text">Messages</span>
              <span
                v-if="jobOfferList != ''"
                class="badge badge--up badge-primary ml-1 badge--offers"
                >{{ jobOfferList.length }}
              </span>
            </a>
          </router-link>
          <router-link
            to="/resume"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
            data-v-step="9"
          >
            <a href="">
              <img
                class="desktop-icon"
                src="/assets/images/resume-builder.svg"
                alt=""
              />
              <div class="icon-mobile">
                <img src="/assets/images/resume-builder.svg" alt="Resume" />
              </div>
              <span class="link-text">Resume</span>
            </a>
          </router-link>
        </ul>
        <ul class="app-navigation__list" v-if="$mq === 'mobile'">
          <li
            @click="showCandidateTutorial()"
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
          >
            <a>
              <div class="icon-mobile">
                <img src="/assets/images/icon-tutorial.svg" alt="" />
              </div>
              <span class="link-text">View Tutorial</span>
            </a>
          </li>
          <router-link
            to="/changeemail"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
          >
            <a href="">
              <div class="icon-mobile">
                <img src="/assets/images/change_email-icon.svg" alt="" />
              </div>
              <span class="link-text">Change Email</span>
            </a>
          </router-link>
          <router-link
            to="/changepassword"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
          >
            <a href="">
              <div class="icon-mobile">
                <img src="/assets/images/password-icon.svg" alt="" />
              </div>
              <span class="link-text">Change Password</span>
            </a>
          </router-link>
          <router-link
            to=""
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect route-logout"
          >
            <a href="" @click="logout">
              <div class="icon-mobile">
                <img src="/assets/images/logout-icon.svg" alt="" />
              </div>
              <span class="link-text">Logout</span>
            </a>
          </router-link>
        </ul>
      </div>
    </div>
    <div
      class="col-xl-4 col-lg-3 d-flex justify-content-end align-items-center"
    >
      <b-dropdown
        variant="-reset"
        right
        class="user-cta"
        v-if="$mq != 'mobile'"
        ref="dropdown"
      >
        <template v-slot:button-content>
          <div class="user-avatar">
            <img
              :src="userData.image || defaultUserImage"
              @error="imageUrlAlt"
            />
          </div>
          <div class="user-info">
            <span class="user-name">{{ userData.first_name }}</span>
          </div>
        </template>
        <router-link to="/home" tag="li" exact>
          <a href="">Profile</a>
        </router-link>
        <li @click="showCandidateTutorial()">
          <a>View Tutorial</a>
        </li>
        <router-link to="/changeemail" tag="li" exact>
          <a href="">Change Email</a>
        </router-link>
        <router-link to="/changepassword" tag="li" exact>
          <a href="">Change Password</a>
        </router-link>
        <router-link to="/" tag="li" exact>
          <a href="" @click="logout">Logout</a>
        </router-link>
      </b-dropdown>
      <div class="user-mobile-cta" v-if="$mq === 'mobile'">
        <div class="user-avatar">
          <img :src="userData.image || defaultUserImage" @error="imageUrlAlt" />
        </div>
        <div class="user-info">
          <h2 class="user-name text-overflow">
            {{ userData.first_name }} {{ userData.last_name }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Avatar from "vue-avatar";
import config from "../../config/config";
export default {
  name: "CandidateHeader",
  components: {
    Avatar,
  },
  sockets: {
    connect: function () {
      // this.$socket.client.emit("user_connected", this.userData.id);
      console.log(this.userData.id, "users id candidate");
    },
    disconnect: function () {
      console.log("disconnect");
    },
  },
  data: () => ({
    currentRoute: "",
    isopUrl: "",
    userdp: null,
    defaultUserImage: config.imagesURL + "assets/images/user-placeholder.png",
  }),
  methods: {
    showCandidateTutorial() {
      if (this.$mq != "mobile") {
        this.$tours["oneCrate_CandidateTour"].start();
        this.$refs.dropdown.hide();
      } else {
        const element = document.querySelector("#nav-collapse");
        let isShown = element.classList.contains("show");
        if (isShown) {
          this.$root.$emit("bv::toggle::collapse", "nav-collapse");
        }
        this.$tours["oneCrate_CandidateTourMobile"].start();
      }
    },
    logout() {
      this.$store.dispatch("logout").then((resp) => {
        this.$router.push("/");
      });
    },
    imageUrlAlt(event) {
      event.target.src = "/assets/images/user-placeholder.png";
    },
    clicked: function (e) {
      e.preventDefault();
    },
    getIsopUrl() {
      if (this.$store.getters.candidateData.company_details) {
        if (this.$store.getters.candidateData.company_details.status == 0) {
          this.isopUrl = "noisop";
        } else {
          this.isopUrl = "cisop";
        }
      }
    },
    getJobOffers: function () {
      axios({ url: config.apiURL + "getNewOffersList", method: "GET" }).then(
        (response) => {
          this.offersList = response.data;
          this.$store.dispatch("updateJobOffer", response.data);
          this.totalOffers = response.data.length;
        }
      );
    },
  },
  watch: {
    $route() {
      if (this.$mq != "mobile") {
        this.$refs.dropdown.hide();
      }
    },
  },
  computed: {
    ...mapGetters([
      "isLoggedIn",
      "isCandidate",
      "candidateData",
      "userData",
      "jobOfferList",
    ]),
  },
  created: function () {
    this.getIsopUrl();
    this.getJobOffers();
  },
  mounted() {
    this.currentRoute = this.$router.currentRoute.name;
    this.userdp = this.$store.getters.userData.image;
  },
};
</script>

<style scoped>
</style>
