<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div class="row w-100 nav-inner">
    <div class="col-xl-8 col-lg-9">
      <div class="app-navigation">
        <ul class="app-navigation__list">
          <router-link
            to="/home"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
            data-v-step="1"
          >
            <a href="">
              <img class="desktop-icon" src="/assets/images/home.svg" alt="" />
              <div class="icon-mobile">
                <img src="/assets/images/home.svg" alt="" />
              </div>
              <span class="link-text">Home</span>
            </a>
          </router-link>
          <router-link
            to="/jobs"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
            data-v-step="8"
          >
            <a href="">
              <img
                class="desktop-icon"
                src="/assets/images/view-jobs.svg"
                alt=""
              />
              <div class="icon-mobile">
                <img src="/assets/images/view-jobs.svg" alt="" />
              </div>
              <span class="link-text">Jobs</span>
            </a>
          </router-link>
          <router-link
            to="/isop"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
            data-v-step="7"
          >
            <a href="">
              <img class="desktop-icon" src="/assets/images/chart.svg" alt="" />
              <div class="icon-mobile">
                <img src="/assets/images/chart.svg" alt="" />
              </div>
              <span class="link-text">ISOP</span>
            </a>
          </router-link>
          <router-link
            to="/candidates"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
            data-v-step="9"
          >
            <a href="">
              <img
                class="desktop-icon"
                src="/assets/images/candidates.svg"
                alt=""
              />
              <div class="icon-mobile">
                <img src="/assets/images/candidates.svg?v=1" alt="" />
              </div>
              <span class="link-text">Candidates</span>
            </a>
          </router-link>
          <router-link
            to="/message"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
            data-v-step="8"
          >
            <a href="">
              <img
                class="desktop-icon"
                src="/assets/images/envelope.svg"
                alt=""
              />
              <div class="icon-mobile">
                <img src="/assets/images/envelope.svg" alt="Offer" />
              </div>
              <span class="link-text">Messages</span>
            </a>
          </router-link>
          <router-link
            to="/members"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
            data-v-step="10"
          >
            <a href="">
              <img
                class="desktop-icon"
                src="/assets/images/members.svg"
                alt=""
              />
              <div class="icon-mobile">
                <img src="/assets/images/members.svg?v=1" alt="" />
              </div>
              <span class="link-text">Members</span>
            </a>
          </router-link>
        </ul>
        <ul class="app-navigation__list" v-if="$mq === 'mobile'">
          <router-link
            to="/subscription"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
          >
            <a href="">
              <div class="icon-mobile">
                <img src="/assets/images/payment-details.svg?v=1" alt="" />
              </div>
              <span class="link-text">Payment Details</span>
            </a>
          </router-link>
          <router-link
            to="/pricing"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
          >
            <a href="">
              <div class="icon-mobile">
                <img src="/assets/images/subscription-icon.svg" alt="" />
              </div>
              <span class="link-text">Pricing</span>
            </a>
          </router-link>
          <li
            @click="showCompanyTutorial()"
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
          >
            <a>
              <div class="icon-mobile">
                <img src="/assets/images/icon-tutorial.svg" alt="" />
              </div>
              <span class="link-text">View Tutorial</span>
            </a>
          </li>
          <router-link
            to="/changeemail"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
          >
            <a href="">
              <div class="icon-mobile">
                <img src="/assets/images/change_email-icon.svg" alt="" />
              </div>
              <span class="link-text">Change Email</span>
            </a>
          </router-link>
          <router-link
            to="/changepassword"
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect"
          >
            <a href="">
              <div class="icon-mobile">
                <img src="/assets/images/password-icon.svg" alt="" />
              </div>
              <span class="link-text">Change Password</span>
            </a>
          </router-link>
          <router-link
            to=""
            tag="li"
            exact
            class="app-navigation__list__item app-navigation__list__item--has-hover-effect route-logout"
          >
            <a href="" @click="logout">
              <div class="icon-mobile">
                <img src="/assets/images/logout-icon.svg" alt="" />
              </div>
              <span class="link-text">Logout</span>
            </a>
          </router-link>
        </ul>
      </div>
    </div>
    <div
      class="col-xl-4 col-lg-3 d-flex justify-content-end align-items-center"
    >
      <b-dropdown
        variant="-reset"
        right
        class="user-cta"
        v-if="$mq != 'mobile'"
        ref="dropdown"
      >
        <template v-slot:button-content>
          <div class="user-avatar">
            <img
              :src="userData.image || defaultCompanyIcon"
              @error="imageUrlAlt"
            />
          </div>
          <div class="user-info">
            <span class="user-name">{{ companyData.name }}</span>
            <span class="user-status" v-if="userData.tier">Growth</span>
            <span class="user-status" v-else>Free User</span>
          </div>
        </template>
        <router-link to="/subscription" tag="li" exact>
          <a href="">Payment Details</a>
        </router-link>
        <li @click="showCompanyTutorial()">
          <a>View Tutorial</a>
        </li>
        <router-link to="/pricing" tag="li" exact>
          <a href="">Pricing</a>
        </router-link>
        <router-link to="/changeemail" tag="li" exact>
          <a href="">Change Email</a>
        </router-link>
        <router-link to="/changepassword" tag="li" exact>
          <a href="">Change Password</a>
        </router-link>
        <router-link to="/" tag="li" exact>
          <a href="" @click="logout">Logout</a>
        </router-link>
      </b-dropdown>
      <div class="user-mobile-cta" v-if="$mq === 'mobile'">
        <div class="user-avatar">
          <img :src="userData.image" @error="imageUrlAlt" />
        </div>
        <div class="user-info">
          <h2 class="user-name text-overflow">{{ companyData.name }}</h2>
          <h3 class="user-status mt-1" v-if="userData.tier">Growth</h3>
          <h3 class="user-status mt-1" v-else>Free User</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Avatar from "vue-avatar";
export default {
  name: "CompanyHeader",
  components: {
    Avatar,
  },
  sockets: {
    connect: function () {
      // this.$socket.client.emit("user_connected", this.userData.id);
      console.log(this.userData.id, "users id company");
    },
    disconnect: function () {
      console.log("disconnect");
    },
  },
  data: () => ({
    currentRoute: "",
    userdp: null,
    defaultCompanyIcon: "/assets/images/company-placeholder.png",
  }),
  methods: {
    showCompanyTutorial() {
      if (this.$mq != "mobile") {
        this.$tours["oneCrate_CompanyTour"].start();
        this.$refs.dropdown.hide();
      } else {
        const element = document.querySelector("#nav-collapse");
        let isShown = element.classList.contains("show");
        if (isShown) {
          this.$root.$emit("bv::toggle::collapse", "nav-collapse");
        }
        this.$tours["oneCrate_CompanyTourMobile"].start();
      }
    },
    imageUrlAlt(event) {
      event.target.src = "/assets/images/company-placeholder.png";
    },
    logout() {
      this.$store.dispatch("logout").then((resp) => {
        this.$router.push("/");
      });
    },
  },
  watch: {
    $route() {
      if (this.$mq != "mobile") {
        this.$refs.dropdown.hide();
      }
    },
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCompany", "companyData", "userData"]),
  },
  mounted() {
    this.currentRoute = this.$router.currentRoute.name;
    this.userdp = this.$store.getters.userData.image;
  },
};
</script>

<style scoped>
</style>
