<template>
  <div class="app-header__login">
    <!--{{$v}}-->
    <form action="#" method="post" @submit.prevent="submit">
      <div class="row justify-content-end">
        <div
          class="input-wrapper col-lg-4 px-2"
          :class="{'form-group--error':$v.loginemail.$error}"
        >
          <input
            type="email"
            name="loginemail"
            id="loginemail"
            class="form-control form-control--round"
            v-model.trim="$v.loginemail.$model"
            placeholder="Email"
          />
        </div>
        <div
          class="input-wrapper col-lg-4 px-2"
          :class="{'form-group--error':$v.loginpassword.$error}"
        >
          <input
            type="password"
            name="loginpassword"
            id="loginpassword"
            class="form-control form-control--round"
            v-model.trim="$v.loginpassword.$model"
            placeholder="Password"
          />
        </div>
        <div class="input-wrapper col-lg-auto px-2 pr-3 d-flex align-items-center">
          <button class="btn btn-primary" @click.prevent="submit">
            <span
              v-bind="{isLoading, loginstatus}"
              v-if="isLoading == true"
              class="spinner-border spinner-border--md spinner-border--in-button"
            ></span>Log In
          </button>
          <router-link to="/forgotPassword">
            <a href="forgotPassword" class="app-link ml-2">Forgot Password?</a>
          </router-link>
        </div>
      </div>
    </form>
    <notifications group="foo" position="bottom right" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ButtonSpinner from "vue-button-spinner";
import { required, email } from "vuelidate/lib/validators";
export default {
  name: "LoginHeader",
  components: {
    buttonspinner: ButtonSpinner,
  },
  data() {
    return {
      errors: [],
      loginemail: "",
      loginpassword: "",
      successmsg: "",
      isLoading: false,
      loginstatus: "",
      submitted: false,
    };
  },
  validations: {
    loginemail: {
      required,
    },
    loginpassword: {
      required,
    },
  },
  computed: {
    ...mapGetters(["isLoggedIn", "isCompany", "isCandidate"]),
  },
  methods: {
    onClick() {
      this.isLoading = true;
      this.statusMessage = "Sending request to get a random response...";
      setTimeout(() => {
        this.isLoading = false;
        this.loadingstatus = Math.random() >= 0.5;
        this.statusMessage = this.status
          ? "Request successful!"
          : "Request failed";
        this.clear();
      }, 2000);
    },
    clear() {
      setTimeout(() => {
        this.statusMessage = "Try again :)";
        this.loadingstatus = "";
      }, 1600);
    },
    submit() {
      this.isLoading = true;
      this.errors = [];
      this.$v.$touch();
      //this.onClick();
      if (this.$v.$invalid) {
        this.isLoading = false;
        this.$notify({
          group: "foo",
          type: "error",
          text: "Invalid login detail",
        });
      } else {
        this.login();
      }
    },
    login: function () {
      let email = this.loginemail;
      let password = this.loginpassword;
      this.loading = true;
      this.submitStatus = "PENDING";
      this.$store
        .dispatch("login", { email, password })
        .then((data) => {
          this.$router.push("/home");
         // console.log("User detail: "+JSON.stringify(data));
          if(data.user.tour_status == 0) {
              if (this.isCompany) this.$tours["oneCrate_CompanyTour"].start();
             if (this.isCandidate) this.$tours["oneCrate_CandidateTour"].start();
          }

        })
        .catch((err) => {
          this.isLoading = false;
          this.error = err.response.data.error;
          this.loginpassword = "";
          this.$notify({
            group: "foo",
            type: "error",
            text: err.response.data.error,
          });
        });
    },
  },
};
</script>

