<template>
    <b-modal id="edit-work-experiences-modal" hide-footer size="xl" centered title-class="text-blue"
             title-tag="h3" title="Edit Work Experience" body-class="has-scroll flex-fill h-100">
        <div class="form-wrap form-wrap--resume-builder p-0">
            <!--{{$v}}-->
            <form action="#" method="post" ref="edit_work_experience_form" @submit.prevent="submit">
                <div class="input-wrap" :class="{'form-group--error':$v.title.$error}">
                    <label for="title"
                           class="form-control-label form-control-label--blue form-control-label--secondary">Job
                        Title</label>
                    <input type="text" id="title" name="title" class="form-control pl-0" v-model.trim="$v.title.$model"
                           @blur="setDegreeTitle($event.target.value)" placeholder="Enter Job Title">
                </div>
                <div class="input-wrap" :class="{'form-group--error':$v.organization.$error}">
                    <label for="organization"
                           class="form-control-label form-control-label--blue form-control-label--secondary">Organization</label>
                    <input type="text" id="organization" name="organization" class="form-control pl-0"
                           v-model.trim="$v.organization.$model"
                           @blur="setOrganization($event.target.value)" placeholder="Enter Organization">
                </div>
                <div class="input-wrap" :class="{'form-group--error':$v.country.$error}">
                    <label for="country"
                           class="form-control-label form-control-label--blue form-control-label--secondary">Country</label>
                    <input type="hidden" id="work_experience_country_id" name="work_experience_country_id"
                           ref="work_experience_country_id" v-model.trim="$v.country.$model.id" value="">
                    <v-select name="country" id="country" class="" label="name" :options="countries"
                              v-model.trim="$v.country.$model" @input="getStates($v.country.$model.id)"
                              @blur="setCountry($event.target.value)" placeholder="Select Country">
                    </v-select>
                </div>
                <div class="input-wrap" :class="{'form-group--error':$v.state.$error}">
                    <label for="state"
                           class="form-control-label form-control-label--blue form-control-label--secondary">State</label>
                    <input type="hidden" name="work_experience_state_id" id="work_experience_state_id"
                           ref="work_experience_state_id" v-model.trim="$v.state.$model.id" value="">
                    <v-select name="state" id="state" class="" label="name" :options="states"
                              v-model.trim="$v.state.$model" @input="getCities($v.state.$model.id)"
                              @blur="setState($event.target.value)" placeholder="Select State">
                    </v-select>
                </div>
                <div class="input-wrap" :class="{'form-group--error':$v.city.$error}">
                    <label for="city" class="form-control-label form-control-label--blue form-control-label--secondary">City</label>
                    <input type="hidden" name="work_experience_city_id" id="work_experience_city_id"
                           ref="work_experience_city_id" v-model.trim="$v.city.$model.id" value="">
                    <v-select name="city" id="city" class="" label="name" :options="cities"
                              v-model.trim="$v.city.$model" @blur="setCity($event.target.value)"
                              v-on:input="setCityId($v.city.$model.id)"
                              placeholder="Select City">
                    </v-select>
                </div>

                <div class="input-wrap" :class="{'form-group--error':$v.start_year.$error}">
                    <label for="start_year"
                           class="form-control-label form-control-label--blue form-control-label--secondary">Start
                        Year</label>
                    <input type="hidden" name="start_year_value" id="start_year_value" ref="start_year_value"
                           v-model.trim="$v.start_year.$model" value="">
                    <v-select name="start_year" id="start_year" class="" label="name" :options="completionyears"
                              v-model.trim="$v.start_year.$model"
                              @blur="setStartYear($event.target.value)" @input="getStartYear($v.start_year.$model)"
                              placeholder="Select Start Year"></v-select>

                </div>

                <div class="input-wrap" :class="{'form-group--error':$v.start_month.$error}">
                    <label for="start_month"
                           class="form-control-label form-control-label--blue form-control-label--secondary">Start
                        Month</label>
                    <input type="hidden" name="start_month_value" id="start_month_value" ref="start_month_value"
                           v-model.trim="$v.start_month.$model" value="">
                    <v-select name="start_month" id="start_month" class="" label="name" :options="completionmonths"
                              v-model.trim="$v.start_month.$model"
                              @blur="setStartMonth($event.target.value)" @input="getStartMonth($v.start_month.$model)"
                              placeholder="Select Start Month"></v-select>

                </div>
                <div class="input-wrap">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input form-check-input" name="currently_working"
                               :id="'currently_working_'+workExperienceId" value="1" v-model="currently_working"
                               v-on:click="seen = !seen">
                        <label
                            class="form-control-label custom-control-label form-control-label--secondary text-size-body pt-1"
                            :for="'currently_working_'+workExperienceId">I currently work here.</label>
                    </div>
                </div>
                <div v-if="seen">
                    <div class="input-wrap">
                        <label for="end_year"
                               class="form-control-label form-control-label--blue form-control-label--secondary">End
                            Year</label>
                        <input type="hidden" name="end_year_value" id="end_year_value" ref="end_year_value"
                               v-model.trim="$v.end_year.$model" value="">
                        <v-select name="end_year" id="end_year" class="" label="name" :options="completionyears"
                                  v-model.trim="$v.end_year.$model"
                                  @input="getEndYear($v.end_year.$model)" placeholder="Select End Year"></v-select>

                    </div>
                    <div class="input-wrap">
                        <label for="end_month"
                               class="form-control-label form-control-label--blue form-control-label--secondary">End
                            Month</label>
                        <input type="hidden" name="end_month_value" id="end_month_value" ref="end_month_value"
                               v-model.trim="$v.end_month.$model" value="">
                        <v-select name="end_month" id="end_month" class="" label="name" :options="completionmonths"
                                  v-model.trim="$v.end_month.$model"
                                  @input="getEndMonth($v.end_month.$model)" placeholder="Select End Month"></v-select>

                    </div>
                </div>
                <div class="input-wrap">
                    <label for="city" class="form-control-label form-control-label--blue form-control-label--secondary">Summary</label>
                    <div class="editor tiptap-textarea">
                        <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
                            <div class="menubar">
                                <button type="button" class="menubar__button" :class="{ 'is-active': isActive.bold() }"
                                        @click="commands.bold" title="Bold">
                                    <div class="icon">
                                        <icon name="bold" class="icon__svg"></icon>
                                    </div>
                                </button>
                                <button type="button" class="menubar__button"
                                        :class="{ 'is-active': isActive.italic() }" @click="commands.italic"
                                        title="Italic">
                                    <div class="icon">
                                        <icon name="italic" class="icon__svg"></icon>
                                    </div>
                                </button>
                                <button type="button" class="menubar__button"
                                        :class="{ 'is-active': isActive.underline() }" @click="commands.underline"
                                        title="Underline">
                                    <div class="icon">
                                        <icon name="underline" class="icon__svg"></icon>
                                    </div>
                                </button>
                                <button type="button" class="menubar__button"
                                        :class="{ 'is-active': isActive.bullet_list() }" @click="commands.bullet_list"
                                        title="Bullet List">
                                    <div class="icon">
                                        <icon name="ul" class="icon__svg"></icon>
                                    </div>
                                </button>
                                <button type="button" class="menubar__button"
                                        :class="{ 'is-active': isActive.ordered_list() }" @click="commands.ordered_list"
                                        title="Ordered List">
                                    <div class="icon">
                                        <icon name="ol" class="icon__svg"></icon>
                                    </div>
                                </button>
                                <button type="button" class="menubar__button" @click="commands.undo" title="Undo">
                                    <div class="icon">
                                        <icon name="undo" class="icon__svg"></icon>
                                    </div>
                                </button>
                                <button type="button" class="menubar__button" @click="commands.redo" title="Redo">
                                    <div class="icon">
                                        <icon name="redo" class="icon__svg"></icon>
                                    </div>
                                </button>
                            </div>
                        </editor-menu-bar>
                        <editor-content class="editor__content" :editor="editor"/>
                    </div>
                </div>
                <div class="input-wrap text-right mb-0">
                    <button type="submit" class="btn btn-primary" @click.prevent="submit">
                        <span v-bind="{isLoading,work_loading_status}" v-if="isLoading == true"
                              class="spinner-border spinner-border--md spinner-border--in-button"></span> Save
                    </button>
                </div>
            </form>
            <notifications group="foo" position="bottom right"/>
        </div>
    </b-modal>
</template>

<script>
    import {mapGetters} from 'vuex'
    import vSelect from "vue-select";
    import ButtonSpinner from "vue-button-spinner";
    import config from '../../../config/config';
    import alertService from '../../utils/alertService';
    import '../../../../assets/tiptap-icons';

    import {Editor, EditorContent, EditorMenuBar} from 'tiptap'
    import _ from 'lodash';
    import {
        Blockquote,
        CodeBlock,
        HardBreak,
        Heading,
        HorizontalRule,
        OrderedList,
        BulletList,
        ListItem,
        TodoItem,
        TodoList,
        Bold,
        Code,
        Italic,
        Link,
        Strike,
        Underline,
        History,
        Placeholder
    } from 'tiptap-extensions'
    import {
        required,
        minLength,
        between,
        email,
        maxLength,
        alpha,
        alphaNum,
        numeric,
        integer,
        sameAs,
    } from "vuelidate/lib/validators";

    export default {
        name: 'EditWorkExperience',
        components: {
            "v-select": vSelect,
            buttonspinner: ButtonSpinner,
            Editor,
            EditorContent,
            EditorMenuBar,
        },
        data() {
            return {
                seen: true,
                errors: [],
                workExperienceId: null,
                currently_working: '',
                title: "",
                organization: "",
                validationErrors: "",
                degreelist: [],
                start_month: "",
                start_month_value: "",
                start_year: "",
                start_year_value: "",
                completionyears: [],
                end_year: "",
                end_year_value: "",
                completionmonths: [],
                end_month_value: "",
                end_month: "",
                country: "",
                countries: [],
                work_experience_country_id: "",
                state: "",
                work_experience_state_id: "",
                states: [],
                city: "",
                work_experience_city_id: "",
                cities: [],
                successmsg: "",
                isLoading: false,
                work_loading_status: "",
                submitted: false,
                editor: new Editor({
                    extensions: [
                        new Blockquote(),
                        new BulletList(),
                        new CodeBlock(),
                        new HardBreak(),
                        new Heading({levels: [1, 2, 3]}),
                        new HorizontalRule(),
                        new ListItem(),
                        new OrderedList(),
                        new TodoItem(),
                        new TodoList(),
                        new Link(),
                        new Bold(),
                        new Code(),
                        new Italic(),
                        new Strike(),
                        new Underline(),
                        new History(),
                        new Placeholder({
                            emptyEditorClass: 'is-editor-empty',
                            emptyNodeClass: 'is-empty',
                            emptyNodeText: '',
                            showOnlyWhenEditable: true,
                            showOnlyCurrent: true,
                        }),
                    ],
                    onUpdate: ({getJSON, getHTML}) => {
                        this.editorHtml = getHTML();
                    },

                }),
            };
        },
        props: ['bus'],
        validations: {
            title: {
                required,
            },
            organization: {
                required,
            },
            start_year: {
                required,
            },
            start_month: {
                required,
            },
            country: {
                required,
            },
            state: {
                required,
            },
            city: {
                required
            },
            end_year: {},
            end_month: {},
        },
        mounted() {
            this.bus.$on('editWorkExperience', this.editWorkExperience)
        },
        methods: {
            editWorkExperience(id) {
                let data = this.$store.getters.workExperience[id];
                this.title = data.title;
                this.organization = data.organization;
                this.start_year = data.start_year;
                this.start_month = data.start_month;
                this.end_year = data.end_year;
                this.end_month = data.end_month;
                this.country = data.country;
                this.state = data.state;
                this.city = data.city;
                this.workExperienceId = data.id;
                this.editorHtml = data.description;
                this.currently_working = data.currently_working;
                if (this.currently_working == 1) {
                    this.seen = false;
                }
                this.setEditorContent();
                this.$bvModal.show('edit-work-experiences-modal');
            },
            setEditorContent() {
                // you can pass a json document
                this.editor.setContent(this.editorHtml, true)
                // HTML string is also supported
                // this.editor.setContent('<p>This is some inserted text. 👋</p>')
                // this.editor.focus()
            },
            setDegreeTitle(value) {
                this.title = value;
                this.$v.title.$touch();
                if (this.$v.title.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        // title: "Important message",
                        text: "Enter job title",
                    });
                }
            },
            setOrganization(value) {
                this.organization = value;
                this.$v.organization.$touch();
                if (this.$v.organization.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Enter organization name",
                    });
                }
            },

            setStartYear(value) {
                this.start_year = value;
                this.$v.start_year.$touch();
                if (this.$v.start_year.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select start year",
                    });
                }
            },

            setStartMonth(value) {
                this.start_month = value;
                this.$v.start_month.$touch();
                if (this.$v.start_month.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select start month",
                    });
                }
            },
            setCountry(value) {
                this.country = value;
                this.$v.country.$touch();
                if (this.$v.country.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select country name",
                    });
                }
            },
            setState(value) {
                this.state = value;
                this.$v.state.$touch();
                if (this.$v.state.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select state name",
                    });
                }
            },
            setCity(value) {
                this.city = value;
                this.$v.city.$touch();
                if (this.$v.city.required == false) {
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Select city name",
                    });
                }
            },
            getCountries: function () {
                axios.get(config.apiURL + "getCountryList/").then(
                    function (response) {
                        this.countries = response.data;
                    }.bind(this)
                );
            },
            getStates: function (country) {
                this.state = '';
                this.city = '';
                this.cities = [];
                this.$refs["work_experience_country_id"].value = country;
                axios.get(config.apiURL + "getStateList/" + country)
                    .then(
                        function (response) {
                            this.states = response.data;
                        }.bind(this)
                    );
            },
            getCities: function (stateid) {
                this.city = '';
                this.$refs["work_experience_state_id"].value = stateid;
                axios.get(config.apiURL + "getCityList/" + stateid)
                    .then(
                        function (response) {
                            this.cities = response.data;
                        }.bind(this)
                    );
            },
            setCityId(cityid) {
                this.$refs["work_experience_city_id"].value = cityid;
            },
            getMonth: function () {
                this.completionmonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            },
            getYears: function () {
                let yearslist = [];
                let d = new Date();
                let n = d.getFullYear();
                let a = 1;
                for (let i = n; i > 1950; i--) {
                    yearslist[a] = i;
                    a++;
                }
                this.completionyears = yearslist;

            },
            getStartYear(year) {
                this.$refs["start_year_value"].value = year;
            },
            getEndYear(year) {
                this.$refs["end_year_value"].value = year;
            },
            getStartMonth(month) {
                this.$refs["start_month_value"].value = month;
            },
            getEndMonth(month) {
                this.$refs["end_month_value"].value = month;
            },
            submit() {
                this.isLoading = true;
                this.errors = [];
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.isLoading = false;
                    this.$notify({
                        group: "foo",
                        type: "error",
                        text: "Fill required form fields",
                    });
                } else {
                    // do your submit logic here
                    this.submitStatus = "PENDING";
                    let form = this.$refs["edit_work_experience_form"];
                    let formData = new FormData(form);
                    formData.append('description', this.editorHtml);
                    formData.append('id', this.workExperienceId);
                    axios({url: config.apiURL + 'updateWorkExperience', data: formData, method: 'POST'})
                        .then(resp => {
                            this.isLoading = false;
                            this.$store.commit('set_workExperience', resp.data);
                            this.$bvModal.hide('edit-work-experiences-modal');
                            alertService.Success('Success', 'Work experience updated.');
                        })
                        .catch(err => {
                            this.isLoading = false;
                            this.error = err.response.data.error;
                            alertService.Error('Error', this.error);
                            let errors = err.response.data.errors;
                            if (errors && errors.length > 0) {
                                for (const [key, value] of Object.entries(errors)) {
                                    value.forEach((text, index) => {
                                        this.$notify({
                                            group: "foo",
                                            type: "error",
                                            title: key,
                                            text: text
                                        });
                                    })
                                }
                            }
                        });
                    setTimeout(() => {
                        this.submitStatus = "OK";
                    }, 500);
                }
            },
        },
        created: function () {
            this.getCountries();
            this.getMonth();
            this.getYears();
        },
        computed: {
            ...mapGetters(['isLoggedIn', 'isCandidate', 'workExperience']),
        },
    }
</script>
